Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,html}": "eslint --fix",
  "*.{ts,js,html,scss,json,md}": "prettier --write",
  "*.scss": "stylelint --fix"
}

refactor: cleanup
  libs/bite-tribe-common/bite/src/lib/__specs__/bite.component.spec.ts
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe-common/bite/src/lib/bite.component.ts
  libs/bite-tribe/bite-trail/page/src/lib/components/bite-trail-bites-page/bite-trail-bites.page.html
  libs/bite-tribe/bite-trail/page/src/lib/components/bite-trail-bites-page/bite-trail-bites.page.ts
  libs/bite-tribe/bite-trail/page/src/lib/integration/__specs__/bite-trail-container.spec.ts
  libs/bite-tribe/bite-trail/page/src/lib/integration/__specs__/bite-trail.service.spec.ts
  libs/bite-tribe/bite-trail/page/src/lib/integration/bite-trail.container.ts
  libs/bite-tribe/bite-trail/page/src/lib/integration/bite-trail.service.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/home/page/src/lib/integration/__specs__/home.service.spec.ts
  libs/bite-tribe/home/page/src/lib/integration/__specs__/restaurant-bites.container.spec.ts
  libs/bite-tribe/home/page/src/lib/integration/bucket-list.container.ts
  libs/bite-tribe/home/page/src/lib/integration/home.container.ts
  libs/bite-tribe/home/page/src/lib/integration/home.service.ts
  libs/bite-tribe/home/page/src/lib/integration/my-bites.container.ts
  libs/bite-tribe/home/page/src/lib/integration/restaurant-bites.container.ts
  libs/bite-tribe/map/page/src/lib/components/map-page/map-page.component.html
  libs/bite-tribe/map/page/src/lib/components/map-page/map-page.component.ts
  libs/bite-tribe/map/page/src/lib/integration/__specs__/map.service.spec.ts
  libs/bite-tribe/map/page/src/lib/integration/bite-trail-map.container.component.ts
  libs/bite-tribe/map/page/src/lib/integration/bucket-list-map.container.component.ts
  libs/bite-tribe/map/page/src/lib/integration/home-map-container.component.ts
  libs/bite-tribe/map/page/src/lib/integration/map.service.ts
  libs/bite-tribe/map/page/src/lib/integration/my-bites-map.container.component.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.ts
  libs/bite-tribe/profile/page/src/lib/integration/__specs__/profile.service.spec.ts
  libs/bite-tribe/profile/page/src/lib/integration/my-profile.container.ts
  libs/bite-tribe/profile/page/src/lib/integration/profile-container.component.ts
  libs/bite-tribe/profile/page/src/lib/integration/profile.service.ts
Due: eslint --fix, prettier --write

feat: track build and version per user (#921)
  apps/bite-tribe-firebase/functions/src/functions/update-user-metadata.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  libs/bite-tribe-common/model/src/lib/public-user.ts
  libs/bite-tribe/api/src/lib/__specs__/profile-api.service.spec.ts
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/api/src/lib/profile-api.service.ts
  libs/bite-tribe/shell/src/lib/__specs__/app-foreground.service.spec.ts
  libs/bite-tribe/shell/src/lib/app-foreground.service.ts
  libs/bite-tribe/store/src/lib/app/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/app/actions.ts
  libs/bite-tribe/store/src/lib/app/effects.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  ssot/pages/Architecture - Auth.md
  ssot/pages/Architecture - Firebase.md
  ssot/pages/Implementation - Firebase Functions.md
  ssot/pages/User.md
Due: eslint --fix, prettier --write

refactor: cleanup (#922)
  libs/bite-tribe-common/bite/src/lib/__specs__/bite.component.spec.ts
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe-common/bite/src/lib/bite.component.ts
  libs/bite-tribe/bite-trail/page/src/lib/components/bite-trail-bites-page/bite-trail-bites.page.html
  libs/bite-tribe/bite-trail/page/src/lib/components/bite-trail-bites-page/bite-trail-bites.page.ts
  libs/bite-tribe/bite-trail/page/src/lib/integration/__specs__/bite-trail-container.spec.ts
  libs/bite-tribe/bite-trail/page/src/lib/integration/__specs__/bite-trail.service.spec.ts
  libs/bite-tribe/bite-trail/page/src/lib/integration/bite-trail.container.ts
  libs/bite-tribe/bite-trail/page/src/lib/integration/bite-trail.service.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/home/page/src/lib/integration/__specs__/home.service.spec.ts
  libs/bite-tribe/home/page/src/lib/integration/__specs__/restaurant-bites.container.spec.ts
  libs/bite-tribe/home/page/src/lib/integration/bucket-list.container.ts
  libs/bite-tribe/home/page/src/lib/integration/home.container.ts
  libs/bite-tribe/home/page/src/lib/integration/home.service.ts
  libs/bite-tribe/home/page/src/lib/integration/my-bites.container.ts
  libs/bite-tribe/home/page/src/lib/integration/restaurant-bites.container.ts
  libs/bite-tribe/map/page/src/lib/components/map-page/map-page.component.html
  libs/bite-tribe/map/page/src/lib/components/map-page/map-page.component.ts
  libs/bite-tribe/map/page/src/lib/integration/__specs__/map.service.spec.ts
  libs/bite-tribe/map/page/src/lib/integration/bite-trail-map.container.component.ts
  libs/bite-tribe/map/page/src/lib/integration/bucket-list-map.container.component.ts
  libs/bite-tribe/map/page/src/lib/integration/home-map-container.component.ts
  libs/bite-tribe/map/page/src/lib/integration/map.service.ts
  libs/bite-tribe/map/page/src/lib/integration/my-bites-map.container.component.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.ts
  libs/bite-tribe/profile/page/src/lib/integration/__specs__/profile.service.spec.ts
  libs/bite-tribe/profile/page/src/lib/integration/my-profile.container.ts
  libs/bite-tribe/profile/page/src/lib/integration/profile-container.component.ts
  libs/bite-tribe/profile/page/src/lib/integration/profile.service.ts
Due: eslint --fix, prettier --write

feat: unavailable menu items
  apps/bite-tribe-business/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item-editor/__specs__/business-menu-variant.component.spec.ts
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item-editor/business-menu-item-editor.component.html
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item-editor/business-menu-variant.component.ts
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item/__specs__/business-menu-item.component.spec.ts
  libs/bite-tribe-common/model/src/lib/menu.ts
  libs/bite-tribe/menu/page/src/lib/components/menu-item/__specs__/menu-item.component.spec.ts
  libs/bite-tribe/menu/page/src/lib/components/menu-item/menu-item.component.html
  libs/bite-tribe/menu/page/src/lib/components/menu-item/menu-item.component.scss
  libs/bite-tribe/menu/page/src/lib/components/menu-item/menu-item.component.ts
  libs/bite-tribe/menu/page/src/lib/components/page/__specs__/menu.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: unavailable menu items (#923)
  apps/bite-tribe-business/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item-editor/__specs__/business-menu-variant.component.spec.ts
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item-editor/business-menu-item-editor.component.html
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item-editor/business-menu-variant.component.ts
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item/__specs__/business-menu-item.component.spec.ts
  libs/bite-tribe-common/model/src/lib/menu.ts
  libs/bite-tribe/menu/page/src/lib/components/menu-item/__specs__/menu-item.component.spec.ts
  libs/bite-tribe/menu/page/src/lib/components/menu-item/menu-item.component.html
  libs/bite-tribe/menu/page/src/lib/components/menu-item/menu-item.component.scss
  libs/bite-tribe/menu/page/src/lib/components/menu-item/menu-item.component.ts
  libs/bite-tribe/menu/page/src/lib/components/page/__specs__/menu.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

docs: update issues in workspace
  ssot/pages/epic-734.md
  ssot/pages/issue-326.md
Due: prettier --write

docs: adjust release process
  ssot/pages/Implementation - Release And Build Workflow.md
  ssot/pages/Release Workflow.md
Due: prettier --write

chore: cleanup downloadTokens
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/0a675cfe-5fe7-4bbe-b7e4-805bd6f90125.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/52b9e6f3-be4a-4d25-a52d-a52eb012c16d.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/8265c3c8-f373-4e05-bf1c-992635d90a35.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/85eb59c7-8477-4007-ba04-9a14a7a6cf17.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/df0f8a8e-4380-42d6-a5b6-d949274d19d4.json
Due: prettier --write

chore: update sspot (#924)
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/0a675cfe-5fe7-4bbe-b7e4-805bd6f90125.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/52b9e6f3-be4a-4d25-a52d-a52eb012c16d.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/8265c3c8-f373-4e05-bf1c-992635d90a35.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/85eb59c7-8477-4007-ba04-9a14a7a6cf17.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/df0f8a8e-4380-42d6-a5b6-d949274d19d4.json
  ssot/pages/Implementation - Release And Build Workflow.md
  ssot/pages/Release Workflow.md
  ssot/pages/epic-734.md
  ssot/pages/issue-326.md
Due: prettier --write

feat: loading skeleton for bite-list
  libs/bite-tribe-common/bite/src/index.ts
  libs/bite-tribe-common/bite/src/lib/__specs__/bite.stories.ts
  libs/bite-tribe-common/bite/src/lib/bite-skeleton-list/__specs__/bite-skeleton-list.component.spec.ts
  libs/bite-tribe-common/bite/src/lib/bite-skeleton-list/bite-skeleton-list.component.html
  libs/bite-tribe-common/bite/src/lib/bite-skeleton-list/bite-skeleton-list.component.ts
  libs/bite-tribe-common/bite/src/lib/bite-skeleton/__specs__/bite-skeleton.component.spec.ts
  libs/bite-tribe-common/bite/src/lib/bite-skeleton/bite-skeleton.component.html
  libs/bite-tribe-common/bite/src/lib/bite-skeleton/bite-skeleton.component.scss
  libs/bite-tribe-common/bite/src/lib/bite-skeleton/bite-skeleton.component.ts
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/home.component.spec.ts
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/home.stories.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.scss
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor: remove defer
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
Due: eslint --fix, prettier --write

feat: min 2 secs of showing skeletons
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/home.component.spec.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
Due: eslint --fix, prettier --write

style: limit footer on home screen to max width
  libs/common/ui/page/src/lib/page.component.scss
Due: prettier --write, stylelint --fix

refactor: introduce feed control component
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/home-feed-controls.component.spec.ts
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/home-feed-controls.stories.ts
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/home.component.spec.ts
  libs/bite-tribe/home/page/src/lib/components/page/home-feed-controls.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home-feed-controls.component.scss
  libs/bite-tribe/home/page/src/lib/components/page/home-feed-controls.component.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.scss
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor: move computed fields further down to feed controls
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/home-feed-controls.component.spec.ts
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/home-feed-controls.stories.ts
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/home.component.spec.ts
  libs/bite-tribe/home/page/src/lib/components/page/home-feed-controls.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home-feed-controls.component.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
Due: eslint --fix, prettier --write

feat(592): switch spinner to loading skeleton (#926)
  libs/bite-tribe-common/bite/src/index.ts
  libs/bite-tribe-common/bite/src/lib/__specs__/bite.stories.ts
  libs/bite-tribe-common/bite/src/lib/bite-skeleton-list/__specs__/bite-skeleton-list.component.spec.ts
  libs/bite-tribe-common/bite/src/lib/bite-skeleton-list/bite-skeleton-list.component.html
  libs/bite-tribe-common/bite/src/lib/bite-skeleton-list/bite-skeleton-list.component.ts
  libs/bite-tribe-common/bite/src/lib/bite-skeleton/__specs__/bite-skeleton.component.spec.ts
  libs/bite-tribe-common/bite/src/lib/bite-skeleton/bite-skeleton.component.html
  libs/bite-tribe-common/bite/src/lib/bite-skeleton/bite-skeleton.component.scss
  libs/bite-tribe-common/bite/src/lib/bite-skeleton/bite-skeleton.component.ts
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/home-feed-controls.component.spec.ts
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/home-feed-controls.stories.ts
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/home.component.spec.ts
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/home.stories.ts
  libs/bite-tribe/home/page/src/lib/components/page/home-feed-controls.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home-feed-controls.component.scss
  libs/bite-tribe/home/page/src/lib/components/page/home-feed-controls.component.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.scss
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/common/ui/page/src/lib/page.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

docs: doc #927
  ssot/pages/Current State - Known Issues.md
  ssot/pages/epic-907.md
  ssot/pages/issue-927.md
Due: prettier --write

chore: bump version
  CHANGELOG.md
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: prettier --write

chore: bump version (#928)
  CHANGELOG.md
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  ssot/pages/Current State - Known Issues.md
  ssot/pages/epic-907.md
  ssot/pages/issue-927.md
Due: prettier --write

chore: change order, generate changelog and then increase build number
  README.md
  package.json
  ssot/pages/Implementation - Release And Build Workflow.md
Due: prettier --write

style: fix styling of bite skeleton
  libs/bite-tribe-common/bite/src/lib/bite-skeleton/bite-skeleton.component.scss
Due: prettier --write, stylelint --fix

fix(929): fix styling of bite skeleton (#930)
  README.md
  libs/bite-tribe-common/bite/src/lib/bite-skeleton/bite-skeleton.component.scss
  package.json
  ssot/pages/Implementation - Release And Build Workflow.md
Due: prettier --write, stylelint --fix

docs: update ssot
  .codex/skills/pull-github-epics-to-ssot/scripts/render_epics_page.mjs
  ssot/pages/issue-927.md
Due: prettier --write

chore: update ssot (#931)
  .codex/skills/pull-github-epics-to-ssot/scripts/render_epics_page.mjs
  ssot/pages/issue-927.md
Due: prettier --write

feat: gate firebase startup on app check initialization
  libs/bite-tribe/store/src/lib/provide-bite-tribe-store.ts
  libs/common/ta-firestore/README.md
  libs/common/ta-firestore/src/lib/__specs__/initialize-firebase-app-check.spec.ts
  libs/common/ta-firestore/src/lib/__specs__/provide-firestore-utils.spec.ts
  libs/common/ta-firestore/src/lib/initialize-firebase-app-check.ts
  libs/common/ta-firestore/src/lib/provide-firestore-utils.ts
Due: eslint --fix, prettier --write

fix: fix initialization order
  libs/common/ta-firestore/README.md
  libs/common/ta-firestore/src/lib/__specs__/provide-firestore-utils.spec.ts
  libs/common/ta-firestore/src/lib/ngrx-store/__specs__/effects.spec.ts
  libs/common/ta-firestore/src/lib/ngrx-store/effects.ts
  libs/common/ta-firestore/src/lib/provide-firestore-utils.ts
Due: eslint --fix, prettier --write

refactor: use firebase analytics native plugin on native platforms
  libs/common/ta-firestore/README.md
  libs/common/ta-firestore/src/lib/__specs__/initialize-firebase-app-check.spec.ts
  libs/common/ta-firestore/src/lib/initialize-firebase-app-check.ts
Due: eslint --fix, prettier --write

refactor(932): gate firebase startup on app check initialization (#935)
  libs/bite-tribe/store/src/lib/provide-bite-tribe-store.ts
  libs/common/ta-firestore/README.md
  libs/common/ta-firestore/src/lib/__specs__/initialize-firebase-app-check.spec.ts
  libs/common/ta-firestore/src/lib/__specs__/provide-firestore-utils.spec.ts
  libs/common/ta-firestore/src/lib/initialize-firebase-app-check.ts
  libs/common/ta-firestore/src/lib/ngrx-store/__specs__/effects.spec.ts
  libs/common/ta-firestore/src/lib/ngrx-store/effects.ts
  libs/common/ta-firestore/src/lib/provide-firestore-utils.ts
Due: eslint --fix, prettier --write

feat: impl missing decrement function on delete bite
  apps/bite-tribe-firebase/functions/src/functions/increment-bite-count-on-bite-create.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  ssot/pages/Architecture - Firebase.md
  ssot/pages/Bite.md
  ssot/pages/Implementation - Firebase Functions.md
Due: eslint --fix, prettier --write

feat: impl missing decrement function on delete bite (#936)
  apps/bite-tribe-firebase/functions/src/functions/increment-bite-count-on-bite-create.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  ssot/pages/Architecture - Firebase.md
  ssot/pages/Bite.md
  ssot/pages/Implementation - Firebase Functions.md
Due: eslint --fix, prettier --write

feat: update docs and create tag and push
  README.md
  package.json
  ssot/pages/Implementation - Release And Build Workflow.md
  ssot/pages/Release Workflow.md
  tools/increment-build-number-and-generate-changelog.mjs
Due: prettier --write

chore: build 80 (#937)
  CHANGELOG.md
  README.md
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  package.json
  ssot/pages/Implementation - Release And Build Workflow.md
  ssot/pages/Release Workflow.md
  tools/increment-build-number-and-generate-changelog.mjs
Due: prettier --write

docs: refine issue-778
  ssot/pages/issue-778.md
Due: prettier --write

docs: refine issue 778
  ssot/pages/issue-778.md
Due: prettier --write

docs: convert story to epic
  ssot/pages/issue-778.md
Due: prettier --write

docs: add order the issues have to be implemented
  ssot/pages/issue-778.md
Due: prettier --write

docs(778): refinement (#946)
  ssot/pages/issue-778.md
Due: prettier --write

feat: preps for restaurant candidates
  .codex/skills/travellers-apps/SKILL.md
  apps/bite-tribe-firebase/functions/jest.config.cjs
  apps/bite-tribe-firebase/functions/package-lock.json
  apps/bite-tribe-firebase/functions/package.json
  apps/bite-tribe-firebase/functions/src/functions/model/restaurant-candidate.ts
  apps/bite-tribe-firebase/functions/src/functions/utils/restaurant-candidates.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/utils/restaurant-candidates.ts
  apps/bite-tribe-firebase/functions/tsconfig.dev.json
  apps/bite-tribe-firebase/functions/tsconfig.json
  eslint.config.mjs
  libs/bite-tribe-common/model/src/index.ts
  libs/bite-tribe-common/model/src/lib/restaurant-candidate.ts
Due: eslint --fix, prettier --write

chore: remove unnecessary lint module boundaries rule
  eslint.config.mjs
Due: none
