Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Terminate branch name and set as NX_BRANCH
  .github/workflows/pipeline.yml
Due: none

Adjust storybook build
  .github/workflows/pipeline.yml
Due: none

Build storybook
  .github/workflows/pipeline.yml
Due: none

Remove nx cloud and affected
  .github/workflows/pipeline.yml
  nx.json
Due: prettier --write

#48: Fix storybook deployment (#49)
  .github/workflows/pipeline.yml
  nx.json
  package-lock.json
Due: prettier --write

Add build pipeline status badge
  README.md
Due: prettier --write

Add lib for firestore
  libs/prices/firestore/feature/.eslintrc.json
  libs/prices/firestore/feature/README.md
  libs/prices/firestore/feature/jest.config.ts
  libs/prices/firestore/feature/project.json
  libs/prices/firestore/feature/src/index.ts
  libs/prices/firestore/feature/src/lib/prices-firestore-feature.module.ts
  libs/prices/firestore/feature/src/test-setup.ts
  libs/prices/firestore/feature/tsconfig.json
  libs/prices/firestore/feature/tsconfig.lib.json
  libs/prices/firestore/feature/tsconfig.spec.json
  libs/prices/store/feature/src/lib/mostSearched/effects.ts
  libs/prices/store/feature/src/lib/mostSearched/most-searched.service.ts
  package-lock.json
  package.json
  tsconfig.base.json
  workspace.json
Due: eslint --fix, prettier --write

Introduce connection to firebase
  .gitignore
  apps/prices/src/app/app.module.ts
  apps/prices/src/environments/environment.prod.ts
  apps/prices/src/environments/environment.ts
  libs/prices/card/feature/src/lib/card.component.ts
  libs/prices/firestore/feature/src/index.ts
  libs/prices/firestore/feature/src/lib/firestore-feature.module.ts
  libs/prices/firestore/feature/src/lib/most-searched.service.ts
  libs/prices/firestore/feature/src/lib/prices-firestore-feature.module.ts
  libs/prices/home/feature/src/lib/components/home.component.ts
  libs/prices/home/feature/src/lib/integration/home-container.component.ts
  libs/prices/store/feature/src/index.ts
  libs/prices/store/feature/src/lib/mostSearched/actions.ts
  libs/prices/store/feature/src/lib/mostSearched/adapter.ts
  libs/prices/store/feature/src/lib/mostSearched/effects.ts
  libs/prices/store/feature/src/lib/mostSearched/index.ts
  libs/prices/store/feature/src/lib/mostSearched/most-searched.service.ts
  libs/prices/store/feature/src/lib/mostSearched/state.ts
  libs/prices/store/feature/src/lib/prices-store.module.ts
  libs/utils-common/src/index.ts
  libs/utils-common/src/lib/environment.ts
  libs/utils-common/src/lib/model/index.ts
  libs/utils-common/src/lib/model/most-searched-item.model.ts
  libs/utils-common/src/lib/module-for-store.ts
Due: eslint --fix, prettier --write

Fix compile error
  libs/prices/firestore/feature/src/lib/firestore-feature.module.ts
Due: eslint --fix, prettier --write

Remove environment.ts
  apps/prices/src/environments/environment.ts
Due: eslint --fix, prettier --write

Commit empty producetion environemnt
  apps/prices/src/environments/environment.ts
Due: eslint --fix, prettier --write

Read environment variables for build
  apps/prices/project.json
  apps/prices/src/app/app.module.ts
  apps/prices/src/main.ts
  apps/prices/tsconfig.app.json
  apps/prices/webpack.config.js
  libs/prices/firestore/feature/src/lib/firestore-feature.module.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

Cleanup
  libs/prices/store/feature/src/lib/mostSearched/effects.ts
Due: eslint --fix, prettier --write

Cleanup
  libs/prices/firestore/feature/project.json
  libs/prices/firestore/feature/src/lib/firestore-feature.module.ts
Due: eslint --fix, prettier --write

Cleanup
  .eslintrc.json
Due: prettier --write

Increase budget size
  apps/prices/project.json
Due: prettier --write

Add secrets to environment var for build step
  .github/workflows/pipeline.yml
Due: none

Name build step
  .github/workflows/pipeline.yml
Due: none

Create .env file on build pipeline
  .github/workflows/pipeline.yml
Due: none

Add environment variable to process
  .github/workflows/pipeline.yml
Due: none

Add environment variable
  .github/workflows/pipeline.yml
Due: none

24: Move dummies to firebase (#50)
  .eslintrc.json
  .github/workflows/pipeline.yml
  .gitignore
  apps/prices/project.json
  apps/prices/src/app/app.module.ts
  apps/prices/src/environments/environment.prod.ts
  apps/prices/src/environments/environment.ts
  apps/prices/src/main.ts
  apps/prices/tsconfig.app.json
  apps/prices/webpack.config.js
  libs/prices/card/feature/src/lib/card.component.ts
  libs/prices/firestore/feature/.eslintrc.json
  libs/prices/firestore/feature/README.md
  libs/prices/firestore/feature/jest.config.ts
  libs/prices/firestore/feature/project.json
  libs/prices/firestore/feature/src/index.ts
  libs/prices/firestore/feature/src/lib/firestore-feature.module.ts
  libs/prices/firestore/feature/src/lib/most-searched.service.ts
  libs/prices/firestore/feature/src/test-setup.ts
  libs/prices/firestore/feature/tsconfig.json
  libs/prices/firestore/feature/tsconfig.lib.json
  libs/prices/firestore/feature/tsconfig.spec.json
  libs/prices/home/feature/src/lib/components/home.component.ts
  libs/prices/home/feature/src/lib/integration/home-container.component.ts
  libs/prices/store/feature/src/index.ts
  libs/prices/store/feature/src/lib/mostSearched/actions.ts
  libs/prices/store/feature/src/lib/mostSearched/adapter.ts
  libs/prices/store/feature/src/lib/mostSearched/effects.ts
  libs/prices/store/feature/src/lib/mostSearched/index.ts
  libs/prices/store/feature/src/lib/mostSearched/state.ts
  libs/prices/store/feature/src/lib/prices-store.module.ts
  libs/utils-common/src/index.ts
  libs/utils-common/src/lib/environment.ts
  libs/utils-common/src/lib/model/index.ts
  libs/utils-common/src/lib/model/most-searched-item.model.ts
  libs/utils-common/src/lib/module-for-store.ts
  package-lock.json
  package.json
  tsconfig.base.json
  workspace.json
Due: eslint --fix, prettier --write

Add loki as dev dependency
  package-lock.json
  package.json
Due: prettier --write

Add loki.config.js for prices
  apps/prices/loki.config.js
Due: prettier --write

Add reference images
  loki.config.js
Due: prettier --write

Add reference images
  .loki/reference/chrome_iphone7_Components_Card_Primary.png
  .loki/reference/chrome_iphone7_Components_Page_Primary.png
  .loki/reference/chrome_iphone7_Pages_Add_Item_Primary.png
  .loki/reference/chrome_iphone7_Pages_Home_Primary.png
Due: none

Move reference images
  apps/prices/.loki/reference/chrome_iphone7_Components_Card_Primary.png
  apps/prices/.loki/reference/chrome_iphone7_Components_Page_Primary.png
  apps/prices/.loki/reference/chrome_iphone7_Pages_Add_Item_Primary.png
  apps/prices/.loki/reference/chrome_iphone7_Pages_Home_Primary.png
Due: none

Move loki files
  apps/prices/.loki/.gitignore
  package.json
Due: prettier --write

Implement initial executor for loki
  apps/prices/package.json
  apps/prices/project.json
  tools/executors/loki/builder.json
  tools/executors/loki/impl.js
  tools/executors/loki/package.json
  tools/executors/loki/schema.json
  tools/executors/loki/src/impl.ts
  tools/executors/loki/tsconfig.json
Due: eslint --fix, prettier --write

Implement initial working loki run over nx
  apps/prices/apps/prices/.loki/.gitignore
  apps/prices/apps/prices/.loki/reference/chrome_iphone7_Components_Card_Primary.png
  apps/prices/apps/prices/.loki/reference/chrome_iphone7_Components_Page_Primary.png
  apps/prices/apps/prices/.loki/reference/chrome_iphone7_Pages_Add_Item_Primary.png
  apps/prices/apps/prices/.loki/reference/chrome_iphone7_Pages_Home_Primary.png
  tools/executors/loki/impl.js
  tools/executors/loki/src/impl.ts
Due: eslint --fix, prettier --write

Rename tsconfig file
  package.json
  tools/executors/loki/__specs__/impl.spec.js
  tools/executors/loki/impl.js
  tools/executors/loki/tsconfig.executor.json
Due: prettier --write

Introduce tsconfig for specs
  apps/prices/package.json
  tools/executors/loki/__specs__/impl.spec.js
  tools/executors/loki/src/__specs__/impl.spec.ts
  tools/executors/loki/tsconfig.executor.json
  tools/executors/loki/tsconfig.json
  tools/executors/loki/tsconfig.spec.json
Due: eslint --fix, prettier --write

Fix paths for loki
  apps/prices/apps/prices/.loki/.gitignore
  apps/prices/apps/prices/.loki/reference/chrome_iphone7_Components_Card_Primary.png
  apps/prices/apps/prices/.loki/reference/chrome_iphone7_Components_Page_Primary.png
  apps/prices/apps/prices/.loki/reference/chrome_iphone7_Pages_Add_Item_Primary.png
  apps/prices/apps/prices/.loki/reference/chrome_iphone7_Pages_Home_Primary.png
  tools/executors/loki/impl.js
  tools/executors/loki/src/__specs__/impl.spec.ts
  tools/executors/loki/src/impl.ts
  tools/executors/loki/tsconfig.json
  tools/executors/loki/tsconfig.spec.json
Due: eslint --fix, prettier --write

Add initial test
  tools/executors/loki/src/__specs__/impl.spec.ts
Due: eslint --fix, prettier --write

#52: Initial loki setup (#53)
  apps/prices/.loki/.gitignore
  apps/prices/.loki/reference/chrome_iphone7_Components_Card_Primary.png
  apps/prices/.loki/reference/chrome_iphone7_Components_Page_Primary.png
  apps/prices/.loki/reference/chrome_iphone7_Pages_Add_Item_Primary.png
  apps/prices/.loki/reference/chrome_iphone7_Pages_Home_Primary.png
  loki.config.js
  package-lock.json
  package.json
Due: prettier --write

Introduce tsconfig.editor.json
  tools/executors/loki/src/__specs__/impl.spec.ts
  tools/executors/loki/tsconfig.editor.json
  tools/executors/loki/tsconfig.json
Due: eslint --fix, prettier --write

Make test for executor run
  tools/executors/loki/jest.config.ts
  tools/executors/loki/project.json
  tools/executors/loki/src/test-setup.ts
  tools/executors/loki/tsconfig.editor.json
  tools/tsconfig.tools.json
  workspace.json
Due: eslint --fix, prettier --write

Make loki executor green
  tools/executors/loki/impl.js
  tools/executors/loki/src/__specs__/impl.spec.ts
  tools/executors/loki/src/impl.ts
  tools/executors/loki/tsconfig.executor.json
Due: eslint --fix, prettier --write

Cleanup
  apps/prices/package.json
  tools/executors/loki/impl.js
  tools/executors/loki/src/impl.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,html}
  prettier --write: any of: *.{ts,js,html,scss,json,md}
