Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,html}": "eslint --fix",
  "*.{ts,js,html,scss,json,md}": "prettier --write",
  "*.scss": "stylelint --fix"
}

ci: parameterize skip nx cache
  .github/workflows/pipeline.yml
Due: none

ci: change type of skip nx cache param to boolean
  .github/workflows/pipeline.yml
Due: none

ci: change type of skip nx cache param to boolean (#240)
  .github/workflows/pipeline.yml
Due: none

ci: skip nx cache
  .github/workflows/pipeline.yml
Due: none

ci: skip nx cache (#241)
  .github/workflows/pipeline.yml
Due: none

chore: fix tags
  libs/bite-tribe/home/page/project.json
Due: prettier --write

chore: fix tags (#242)
  libs/bite-tribe/home/page/project.json
Due: prettier --write

fix: fix sass warning
  apps/bite-tribe/src/global.scss
Due: prettier --write, stylelint --fix

fix: fix sass warning (#243)
  apps/bite-tribe/src/global.scss
Due: prettier --write, stylelint --fix

chore: add eslint rule for bite tribe
  .eslintrc.json
Due: prettier --write

chore: add eslint rule for bite tribe (#244)
  .eslintrc.json
Due: prettier --write

ci: fix build and disconnect from nx-cloud
  .github/workflows/pipeline.yml
  libs/finances/account/account/src/lib/component/account.component.html
  libs/finances/dashboard/dashboard/src/lib/components/dashboard/dashboard.component.html
  nx.json
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

ci: cleanup nx-cloud
  .github/workflows/pipeline.yml
Due: none

ci: fix build and disconnect from nx-cloud (#245)
  .github/workflows/pipeline.yml
  libs/finances/account/account/src/lib/component/account.component.html
  libs/finances/dashboard/dashboard/src/lib/components/dashboard/dashboard.component.html
  nx.json
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

ci: add pipeline for bite tribe
  .github/workflows/deploy-bite-tribe.yml
Due: none

ci: add pipeline for bite tribe (#246)
  .github/workflows/deploy-bite-tribe.yml
Due: none

ci: extend firebase files
  .firebaserc
  firebase.json
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
Due: eslint --fix, prettier --write

ci: extend firebase files (#247)
  .firebaserc
  firebase.json
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
Due: eslint --fix, prettier --write

ci: fix ci var names
  .github/workflows/deploy-bite-tribe.yml
  libs/bite-tribe/store/src/lib/provide-bite-tribe-store.ts
  libs/common/ta-firestore/src/lib/auth.service.ts
Due: eslint --fix, prettier --write

ci: fix ci var names (#248)
  .github/workflows/deploy-bite-tribe.yml
  libs/bite-tribe/store/src/lib/provide-bite-tribe-store.ts
  libs/common/ta-firestore/src/lib/auth.service.ts
Due: eslint --fix, prettier --write

fix: fix geolocation bug in browser
  libs/bite-tribe/bite/data-access/src/lib/bite-data-access.service.ts
Due: eslint --fix, prettier --write

fix: fix reading current position on safari
  libs/bite-tribe/bite/data-access/src/lib/bite-data-access.service.ts
Due: eslint --fix, prettier --write

fix: fix geolocation bug in browser (#249)
  libs/bite-tribe/bite/data-access/src/lib/bite-data-access.service.ts
Due: eslint --fix, prettier --write

feat: compress taken picture
  libs/bite-tribe/bite/page/src/lib/components/page/bite.component.ts
  libs/bite-tribe/bite/page/src/lib/components/page/utils/__specs__/compress-file.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/utils/compress-file.ts
Due: eslint --fix, prettier --write

test: adjust test
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.component.spec.ts
Due: eslint --fix, prettier --write

feat: compress taken picture (#250)
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.component.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.component.ts
  libs/bite-tribe/bite/page/src/lib/components/page/utils/__specs__/compress-file.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/utils/compress-file.ts
Due: eslint --fix, prettier --write

test: fix tests
  libs/bite-tribe/details/page/jest.config.ts
  libs/bite-tribe/details/page/project.json
  libs/bite-tribe/details/page/src/lib/integration/__specs__/details.container.spec.ts
Due: eslint --fix, prettier --write

test: extend test suite
  libs/bite-tribe/details/page/src/lib/integration/__specs__/details.service.spec.ts
Due: eslint --fix, prettier --write

chore: decrease test coverage to 80
  jest.preset.js
Due: prettier --write

test: extend test suite
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/home.component.spec.ts
Due: eslint --fix, prettier --write

feat: impl save tags
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/details/data-access/src/lib/details-data-access.service.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.ts
  libs/bite-tribe/details/page/src/lib/integration/details.container.ts
  libs/bite-tribe/details/page/src/lib/integration/details.service.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/bites/actions.ts
  libs/bite-tribe/store/src/lib/bites/effects.ts
Due: eslint --fix, prettier --write

test: extend test suite
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.spec.ts
Due: eslint --fix, prettier --write

chore: remove early return in favor of fallback to ''
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.ts
Due: eslint --fix, prettier --write

chore: force newTags is defined
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.ts
Due: eslint --fix, prettier --write

feat: add tags to new bite
  libs/bite-tribe/bite/data-access/src/lib/bite-data-access.service.ts
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.scss
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite-container.component.ts
  libs/bite-tribe/details/data-access/src/lib/details-data-access.service.ts
  libs/common/utils/src/index.ts
  libs/common/utils/src/lib/split-tags.ts
Due: eslint --fix, prettier --write, stylelint --fix

test: fixed tests after adding tags to field
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
Due: eslint --fix, prettier --write
