Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

refactor: cleanup registration from ngif
  apps/prices/src/app/app.config.ts
  libs/kosaml/conceptual-design/base/scenario/feature/src/lib/components/scenario/scenario.component.html
  libs/prices/registration/feature/src/lib/components/registration.component.html
  libs/prices/registration/feature/src/lib/components/registration.component.ts
  libs/prices/registration/feature/src/lib/integration/registration-container.component.ts
  libs/prices/registration/feature/src/lib/integration/registration.service.ts
  libs/prices/shell/feature/src/index.ts
  libs/prices/shell/feature/src/lib/provide-prices-shell.ts
  libs/prices/store/feature/src/index.ts
  libs/prices/store/feature/src/lib/provide-prices-store.ts
Due: eslint --fix, prettier --write

refactor: cleanup prices-page
  libs/prices/page/feature/src/lib/page.component.html
  libs/prices/page/feature/src/lib/page.component.ts
Due: eslint --fix, prettier --write

refactor: cleanup home component
  libs/prices/home/feature/src/lib/components/home.component.html
  libs/prices/home/feature/src/lib/components/home.component.ts
  libs/prices/home/feature/src/lib/integration/home-container.component.ts
  libs/prices/home/feature/src/lib/integration/home.service.ts
Due: eslint --fix, prettier --write

refactor: cleanup constructors
  apps/prices/src/app/app.config.ts
  libs/prices/firestore/feature/src/index.ts
  libs/prices/firestore/feature/src/lib/auth.service.ts
  libs/prices/firestore/feature/src/lib/prices.service.ts
  libs/prices/firestore/feature/src/lib/provide-firestore.ts
  libs/prices/geoapify/feature/src/lib/location.service.ts
  libs/prices/home/feature/src/lib/components/home.component.html
  libs/prices/home/feature/src/lib/components/home.component.ts
Due: eslint --fix, prettier --write

refactor: cleanup add-item and auth features
  libs/prices/add-item/feature/src/lib/components/add-item.component.html
  libs/prices/add-item/feature/src/lib/components/add-item.component.ts
  libs/prices/add-item/feature/src/lib/integration/add-item-container.component.ts
  libs/prices/add-item/feature/src/lib/integration/add-item.service.ts
  libs/prices/auth/feature/src/lib/__specs__/auth-container.component.spec.ts
  libs/prices/auth/feature/src/lib/__specs__/auth.service.spec.ts
  libs/prices/auth/feature/src/lib/components/auth.component.html
  libs/prices/auth/feature/src/lib/components/auth.component.ts
  libs/prices/auth/feature/src/lib/integration/auth-container.component.ts
  libs/prices/auth/feature/src/lib/integration/auth.service.ts
Due: eslint --fix, prettier --write

refactor: cleanup
  apps/kosaml/src/app/app.component.ts
  apps/kosaml/src/app/app.config.ts
  libs/common/networkstatus/feature/src/index.ts
  libs/common/networkstatus/feature/src/lib/provide-network-status.ts
  libs/kosaml/card/feature/src/lib/card.component.ts
  libs/kosaml/conceptual-design/base/scenario/feature/src/lib/components/scenario/scenario.component.html
  libs/kosaml/conceptual-design/base/scenario/feature/src/lib/components/scenario/scenario.component.ts
  libs/kosaml/conceptual-design/base/use-case/feature/src/lib/components/use-case/cp-base-use-case.component.html
  libs/kosaml/conceptual-design/base/use-case/feature/src/lib/components/use-case/cp-base-use-case.component.ts
  libs/kosaml/conceptual-design/concrete-use-case/feature/src/lib/concrete-use-case-page.component.ts
  libs/kosaml/conceptual-design/essential-use-case/feature/src/lib/essential-use-case-page.component.ts
  libs/kosaml/conceptual-design/task-object/feature/src/lib/task-object-page.component.ts
  libs/kosaml/conceptual-design/task-scenario/feature/src/lib/containers/edit-task-scenario-page.component.ts
  libs/kosaml/conceptual-design/task-scenario/feature/src/lib/containers/new-task-scenario-page.component.ts
  libs/kosaml/conceptual-design/use-scenario/feature/src/lib/containers/new-use-scenario-page.component.ts
  libs/kosaml/conceptual-design/use-scenario/feature/src/lib/containers/use-scenario-page.component.ts
  libs/kosaml/page/feature/src/lib/components/loading-spinner/loading-spinner.component.html
  libs/kosaml/page/feature/src/lib/components/page/page.component.html
  libs/kosaml/page/feature/src/lib/components/page/page.component.ts
  libs/kosaml/shell/feature/src/index.ts
  libs/kosaml/shell/feature/src/lib/provide-kosaml-shell.ts
  libs/kosaml/site/feature/src/lib/components/body/body.component.html
  libs/kosaml/site/feature/src/lib/components/body/body.component.ts
  libs/kosaml/site/feature/src/lib/components/content/content.component.html
  libs/kosaml/site/feature/src/lib/components/header/header.component.html
  libs/kosaml/site/feature/src/lib/components/header/header.component.ts
  libs/kosaml/site/feature/src/lib/components/sidebar/sidebar.component.html
  libs/kosaml/store/feature/src/index.ts
  libs/kosaml/store/feature/src/lib/provide-kosaml-store.ts
Due: eslint --fix, prettier --write

fix: fix flex direction for filters
  libs/prices/card/feature/src/lib/__specs__/card.component.stories.ts
  libs/prices/home/feature/src/lib/components/home.component.scss
Due: eslint --fix, prettier --write

fix: stylelint
  .lintstagedrc.json
Due: prettier --write

fix: stylelint
  libs/prices/home/feature/src/lib/components/home.component.scss
Due: prettier --write

fix: update loki refs for prices
  apps/prices/.loki/reference/chrome_iphone7_Components_Card_Primary.png
  apps/prices/.loki/reference/chrome_iphone7_Pages_Home_Primary.png
Due: none

refactor: remove remaining old control flows
  libs/kosaml/auth/feature/src/lib/auth.module.ts
  libs/kosaml/conceptual-design/task-object/feature/src/lib/components/task-object/task-object.component.html
  libs/kosaml/conceptual-design/task-object/feature/src/lib/components/task-object/task-object.component.ts
Due: eslint --fix, prettier --write

chore: install swc
  package-lock.json
  package.json
Due: prettier --write

chore: update dependencies
  migrations.json
  package-lock.json
  package.json
Due: prettier --write

chore: run migrations
  apps/kosaml-e2e/project.json
  apps/kosaml/project.json
  apps/prices-e2e/project.json
  apps/prices/project.json
  libs/common/networkstatus/feature/project.json
  libs/kosaml/auth/feature/project.json
  libs/kosaml/card/feature/project.json
  libs/kosaml/conceptual-design/base/scenario/feature/project.json
  libs/kosaml/conceptual-design/base/use-case/feature/project.json
  libs/kosaml/conceptual-design/concrete-use-case/feature/project.json
  libs/kosaml/conceptual-design/essential-use-case/feature/project.json
  libs/kosaml/conceptual-design/task-object/feature/project.json
  libs/kosaml/conceptual-design/task-scenario/feature/project.json
  libs/kosaml/conceptual-design/use-scenario/feature/project.json
  libs/kosaml/model/feature/project.json
  libs/kosaml/page/feature/project.json
  libs/kosaml/shell/feature/project.json
  libs/kosaml/site/feature/project.json
  libs/kosaml/store/feature/project.json
  libs/prices/add-item/feature/project.json
  libs/prices/auth/feature/project.json
  libs/prices/card/feature/project.json
  libs/prices/firestore/feature/project.json
  libs/prices/geoapify/feature/project.json
  libs/prices/home/feature/project.json
  libs/prices/page/feature/project.json
  libs/prices/password-validator/feature/project.json
  libs/prices/registration/feature/project.json
  libs/prices/shell/feature/project.json
  libs/prices/store/feature/project.json
  libs/utils-common/project.json
  migrations.json
  package-lock.json
Due: prettier --write

chore: upgrade angular fire
  package-lock.json
  package.json
Due: prettier --write

chore: fixs for new version of angular fire
  libs/prices/firestore/feature/src/lib/auth.service.ts
  libs/prices/firestore/feature/src/lib/prices.service.ts
  libs/prices/firestore/feature/src/lib/provide-firestore.ts
  libs/prices/shell/feature/src/lib/routes.ts
  libs/prices/store/feature/src/lib/auth/effects.ts
  libs/prices/store/feature/src/lib/mostSearched/effects.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

chore: fix tests
  libs/prices/add-item/feature/src/test-setup.ts
  libs/prices/auth/feature/src/test-setup.ts
  tools/executors/loki/impl.js
  tools/executors/loki/src/__specs__/impl.spec.ts
  tools/executors/loki/src/impl.ts
Due: eslint --fix, prettier --write

ci: introduce var for node version
  .github/workflows/pipeline.yml
Due: none

ci: fix var in gitflow
  .github/workflows/pipeline.yml
Due: none

feat: add empty home page
  apps/prices/.loki/reference/chrome_iphone7_Pages_Home_Empty.png
  libs/prices/home/feature/src/lib/__specs__/data.ts
  libs/prices/home/feature/src/lib/__specs__/home.component.stories.ts
  libs/prices/home/feature/src/lib/components/home.component.html
  libs/prices/store/feature/src/lib/location/effects.ts
Due: eslint --fix, prettier --write

feat: generate prices localization lib
  .prettierignore
  libs/prices/localization/.eslintrc.json
  libs/prices/localization/README.md
  libs/prices/localization/jest.config.ts
  libs/prices/localization/project.json
  libs/prices/localization/src/index.ts
  libs/prices/localization/src/lib/prices-localization/prices-localization.component.css
  libs/prices/localization/src/lib/prices-localization/prices-localization.component.html
  libs/prices/localization/src/lib/prices-localization/prices-localization.component.spec.ts
  libs/prices/localization/src/lib/prices-localization/prices-localization.component.ts
  libs/prices/localization/src/test-setup.ts
  libs/prices/localization/tsconfig.json
  libs/prices/localization/tsconfig.lib.json
  libs/prices/localization/tsconfig.spec.json
  package-lock.json
  package.json
  tsconfig.base.json
Due: eslint --fix, prettier --write

feat: add localization capabilities
  apps/prices/src/app/app.config.ts
  apps/prices/src/assets/i18n/de.json
  libs/prices/add-item/feature/src/lib/components/add-item.component.html
  libs/prices/add-item/feature/src/lib/components/add-item.component.ts
  libs/prices/localization/src/index.ts
  libs/prices/localization/src/lib/localization/model/supported-lang.ts
  libs/prices/localization/src/lib/localization/provide-localization.ts
  libs/prices/localization/src/lib/localization/translate.pipe.ts
  libs/prices/localization/src/lib/localization/translate.service.ts
  libs/prices/localization/src/lib/localization/transloco-http-loader.service.ts
  libs/prices/localization/src/lib/prices-localization/prices-localization.component.css
  libs/prices/localization/src/lib/prices-localization/prices-localization.component.html
  libs/prices/localization/src/lib/prices-localization/prices-localization.component.spec.ts
  libs/prices/localization/src/lib/prices-localization/prices-localization.component.ts
  package-lock.json
  package.json
  tsconfig.base.json
Due: eslint --fix, prettier --write

chore: test to push from terminal
  tools/executors/loki/README.md
Due: prettier --write

test: fix test by introducing jest user modules pattern
  .github/workflows/pipeline.yml
  libs/prices/add-item/feature/src/lib/__specs__/add-item.component.spec.ts
  libs/prices/localization/src/__mocks__/index.ts
  libs/prices/localization/src/__mocks__/translate.pipe.ts
  package.json
Due: eslint --fix, prettier --write

docs: adjust add item story
  apps/prices/.storybook/main.js
  libs/prices/add-item/feature/src/lib/__specs__/add-item-feature.component.stories.ts
Due: eslint --fix, prettier --write

184 dev wants to add localization (#185)
  .github/workflows/pipeline.yml
  .prettierignore
  apps/prices/.storybook/main.js
  apps/prices/src/app/app.config.ts
  apps/prices/src/assets/i18n/de.json
  libs/prices/add-item/feature/src/lib/__specs__/add-item-feature.component.stories.ts
  libs/prices/add-item/feature/src/lib/__specs__/add-item.component.spec.ts
  libs/prices/add-item/feature/src/lib/components/add-item.component.html
  libs/prices/add-item/feature/src/lib/components/add-item.component.ts
  libs/prices/localization/.eslintrc.json
  libs/prices/localization/README.md
  libs/prices/localization/jest.config.ts
  libs/prices/localization/project.json
  libs/prices/localization/src/__mocks__/index.ts
  libs/prices/localization/src/__mocks__/translate.pipe.ts
  libs/prices/localization/src/index.ts
  libs/prices/localization/src/lib/localization/model/supported-lang.ts
  libs/prices/localization/src/lib/localization/provide-localization.ts
  libs/prices/localization/src/lib/localization/translate.pipe.ts
  libs/prices/localization/src/lib/localization/translate.service.ts
  libs/prices/localization/src/lib/localization/transloco-http-loader.service.ts
  libs/prices/localization/src/test-setup.ts
  libs/prices/localization/tsconfig.json
  libs/prices/localization/tsconfig.lib.json
  libs/prices/localization/tsconfig.spec.json
  package-lock.json
  package.json
  tools/executors/loki/README.md
  tsconfig.base.json
Due: eslint --fix, prettier --write

chore: migrate nx
  apps/kosaml-e2e/project.json
  apps/kosaml/project.json
  apps/prices-e2e/project.json
  apps/prices/project.json
  libs/common/networkstatus/feature/project.json
  libs/kosaml/auth/feature/project.json
  libs/kosaml/card/feature/project.json
  libs/kosaml/conceptual-design/base/scenario/feature/project.json
  libs/kosaml/conceptual-design/base/use-case/feature/project.json
  libs/kosaml/conceptual-design/concrete-use-case/feature/project.json
  libs/kosaml/conceptual-design/essential-use-case/feature/project.json
  libs/kosaml/conceptual-design/task-object/feature/project.json
  libs/kosaml/conceptual-design/task-scenario/feature/project.json
  libs/kosaml/conceptual-design/use-scenario/feature/project.json
  libs/kosaml/model/feature/project.json
  libs/kosaml/page/feature/project.json
  libs/kosaml/shell/feature/project.json
  libs/kosaml/site/feature/project.json
  libs/kosaml/store/feature/project.json
  libs/prices/add-item/feature/project.json
  libs/prices/auth/feature/project.json
  libs/prices/card/feature/project.json
  libs/prices/firestore/feature/project.json
  libs/prices/geoapify/feature/project.json
  libs/prices/home/feature/project.json
  libs/prices/localization/project.json
  libs/prices/page/feature/project.json
  libs/prices/password-validator/feature/project.json
  libs/prices/registration/feature/project.json
  libs/prices/shell/feature/project.json
  libs/prices/store/feature/project.json
  libs/utils-common/project.json
  migrations.json
  nx.json
  package-lock.json
  package.json
  storybook-migration-summary.md
  tsconfig.base.json
Due: prettier --write

chore: migrate commitlint dependency
  migrations.json
  package-lock.json
  package.json
Due: prettier --write

chore: “187
  package-lock.json
  package.json
Due: prettier --write

chore: update github action version and node to 20
  .github/workflows/pipeline.yml
  package-lock.json
Due: prettier --write

chore: upgrade some dependencies
  package-lock.json
  package.json
Due: prettier --write

chore: migrate deps
  package-lock.json
  package.json
Due: prettier --write

test: fix tests by mocking @awesome-cordova-plugins/geolocation/ngx
  __mocks__/@awesome-cordova-plugins/geolocation/ngx/index.ts
  jest.preset.js
Due: eslint --fix, prettier --write

fix: fix import from firebase
  apps/prices/src/app/app.config.ts
  libs/prices/registration/feature/src/lib/components/registration.component.ts
Due: eslint --fix, prettier --write

chore: dedup deps
  package-lock.json
  package.json
Due: prettier --write

refactor: switch from husky install to husky init
  .husky/pre-commit
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,html}
  prettier --write: any of: *.{ts,js,html,scss,json,md}
