Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,html}": "eslint --fix",
  "*.{ts,js,html,scss,json,md}": "prettier --write",
  "*.scss": "stylelint --fix"
}

feature(#445): add description field and typography adjustments (#446)
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  apps/bite-tribe/src/assets/icons/logo-black-white.svg
  apps/bite-tribe/src/theme/variables.scss
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.scss
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/home.component.spec.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/model/src/lib/bite.ts
  libs/common/ui/page/src/lib/page.component.html
  libs/common/ui/page/src/lib/page.component.scss
  libs/common/ui/page/src/lib/page.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: 448 fix bite colors and borders for dark mode
  apps/bite-tribe/src/theme/variables.scss
  libs/bite-tribe-common/bite/src/lib/bite.component.scss
  libs/bite-tribe-common/bite/src/lib/likes/likes.component.html
  libs/bite-tribe-common/bite/src/lib/likes/likes.component.scss
  libs/bite-tribe-common/bite/src/lib/likes/likes.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: 448 increase border radius, style footer
  apps/bite-tribe/src/theme/variables.scss
  libs/bite-tribe-common/bite/src/lib/bite.component.scss
  libs/bite-tribe-common/bite/src/lib/likes/likes.component.scss
  libs/bite-tribe-common/map/src/lib/map/map.component.scss
  libs/common/ui/page/src/lib/page.component.html
  libs/common/ui/page/src/lib/page.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: 448 move scroll to top button
  libs/bite-tribe/home/page/src/lib/components/page/home.component.scss
Due: prettier --write, stylelint --fix

feat: 448 align rating with likes
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe-common/bite/src/lib/bite.component.scss
  libs/bite-tribe-common/bite/src/lib/likes/likes.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: 448 style filtering chips
  apps/bite-tribe/src/theme/variables.scss
  libs/bite-tribe/home/page/src/lib/components/page/home.component.scss
Due: prettier --write, stylelint --fix

feat: 448 remove a bit of padding
  libs/bite-tribe/home/page/src/lib/components/page/home.component.scss
Due: prettier --write, stylelint --fix

feat: 448 scroll bites only
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: 448 fix color for bite nr
  apps/bite-tribe/src/theme/variables.scss
  libs/bite-tribe-common/bite/src/lib/likes/likes.component.html
  libs/bite-tribe-common/bite/src/lib/likes/likes.component.scss
  libs/common/ui/page/src/lib/page.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: 448 fix color for bite nr
  apps/bite-tribe/src/theme/variables.scss
  libs/common/ui/star-rating/src/lib/star-rating.component.scss
Due: prettier --write, stylelint --fix

feat: 448 compact bite card
  apps/bite-tribe/src/theme/variables.scss
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe-common/bite/src/lib/bite.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: 448 round distances after 10 km to avoid visual clutter
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe-common/bite/src/lib/bite.component.ts
  libs/bite-tribe-common/bite/src/lib/pipes/__specs__/round-distance.pipe.spec.ts
  libs/bite-tribe-common/bite/src/lib/pipes/round-distance.pipe.ts
Due: eslint --fix, prettier --write

feat: 448 compact more
  libs/bite-tribe-common/bite/src/lib/bite.component.scss
Due: prettier --write, stylelint --fix

fix: 448 fix parameter order
  libs/bite-tribe-common/bite/src/lib/pipes/round-distance.pipe.ts
Due: eslint --fix, prettier --write

fix: 448 fix rgb value
  apps/bite-tribe/src/theme/variables.scss
Due: prettier --write, stylelint --fix

448 adapt dark mode theme after ux design (#449)
  apps/bite-tribe/src/theme/variables.scss
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe-common/bite/src/lib/bite.component.scss
  libs/bite-tribe-common/bite/src/lib/bite.component.ts
  libs/bite-tribe-common/bite/src/lib/likes/likes.component.html
  libs/bite-tribe-common/bite/src/lib/likes/likes.component.scss
  libs/bite-tribe-common/bite/src/lib/likes/likes.component.ts
  libs/bite-tribe-common/bite/src/lib/pipes/__specs__/round-distance.pipe.spec.ts
  libs/bite-tribe-common/bite/src/lib/pipes/round-distance.pipe.ts
  libs/bite-tribe-common/map/src/lib/map/map.component.scss
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.scss
  libs/common/ui/page/src/lib/page.component.html
  libs/common/ui/page/src/lib/page.component.scss
  libs/common/ui/star-rating/src/lib/star-rating.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: add geohash to bite on create
  libs/bite-tribe-business/migrations/page/src/lib/component/page/migrations.html
  libs/bite-tribe-business/migrations/page/src/lib/component/page/migrations.ts
  libs/bite-tribe/api/src/lib/bite-api.service.ts
  libs/bite-tribe/model/src/lib/bite.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

test: adjust tests
  libs/bite-tribe-business/migrations/page/src/lib/component/page/__specs__/migrations.spec.ts
Due: eslint --fix, prettier --write

test: extend test suite
  libs/bite-tribe-business/migrations/page/src/lib/component/page/__specs__/migrations.spec.ts
  libs/bite-tribe-business/migrations/page/src/test-setup.ts
Due: eslint --fix, prettier --write

chore: update build number for release
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: none

447 mo wants to add geohash to bites migration (#453)
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  libs/bite-tribe-business/migrations/page/src/lib/component/page/__specs__/migrations.spec.ts
  libs/bite-tribe-business/migrations/page/src/lib/component/page/migrations.html
  libs/bite-tribe-business/migrations/page/src/lib/component/page/migrations.ts
  libs/bite-tribe-business/migrations/page/src/test-setup.ts
  libs/bite-tribe/api/src/lib/bite-api.service.ts
  libs/bite-tribe/model/src/lib/bite.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

feat: 451 add menu from existing bites to restaurant page
  apps/bite-tribe/src/theme/variables.scss
  libs/bite-tribe/restaurant/page/jest.config.ts
  libs/bite-tribe/restaurant/page/src/lib/components/menu-item/__specs__/menu-item.component.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/components/menu-item/menu-item.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/menu-item/menu-item.component.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/__specs__/restaurant.component.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.scss
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.ts
  libs/bite-tribe/restaurant/page/src/lib/components/restaurant-image/__specs__/restaurant-image.component.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/components/restaurant-image/restaurant-image.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/restaurant-image/restaurant-image.component.scss
  libs/bite-tribe/restaurant/page/src/lib/components/restaurant-image/restaurant-image.component.ts
  libs/bite-tribe/restaurant/page/src/lib/utils/__specs__/get-distance.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/utils/__specs__/get-position.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/utils/get-distance.ts
  libs/bite-tribe/restaurant/page/src/lib/utils/get-position.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: 451 replace unverified image with icon and text
  libs/bite-tribe/restaurant/page/src/lib/components/restaurant-image/restaurant-image.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/restaurant-image/restaurant-image.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: 451 replace unverified image with icon and text
  libs/bite-tribe-common/assets/placeholder-restaurant.png
Due: none

feat: 451 place distance component in common
  libs/bite-tribe-business/dashboard/page/src/lib/component/restaurant/restaurant.component.ts
  libs/bite-tribe-common/bite/src/lib/__specs__/bite.component.spec.ts
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe-common/bite/src/lib/bite.component.scss
  libs/bite-tribe-common/bite/src/lib/bite.component.ts
  libs/bite-tribe-common/bite/src/lib/pipes/__specs__/round-distance.pipe.spec.ts
  libs/bite-tribe-common/bite/src/lib/pipes/round-distance.pipe.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.ts
  libs/common/distance-pipe/src/index.ts
  libs/common/distance/.eslintrc.json
  libs/common/distance/README.md
  libs/common/distance/jest.config.ts
  libs/common/distance/project.json
  libs/common/distance/src/index.ts
  libs/common/distance/src/lib/components/distance/__specs__/distance.component.spec.ts
  libs/common/distance/src/lib/components/distance/distance.component.html
  libs/common/distance/src/lib/components/distance/distance.component.scss
  libs/common/distance/src/lib/components/distance/distance.component.ts
  libs/common/distance/src/lib/pipes/__specs__/round-distance.pipe.spec.ts
  libs/common/distance/src/lib/pipes/__specs__/to-metric.pipe.spec.ts
  libs/common/distance/src/lib/pipes/round-distance.pipe.ts
  libs/common/distance/src/lib/pipes/to-metric.pipe.ts
  libs/common/distance/src/lib/utils/__specs__/round-distance.spec.ts
  libs/common/distance/src/lib/utils/__specs__/to-metric.spec.ts
  libs/common/distance/src/lib/utils/round-distance.ts
  libs/common/distance/src/lib/utils/to-metric.ts
  libs/common/distance/src/test-setup.ts
  libs/common/distance/tsconfig.json
  libs/common/distance/tsconfig.lib.json
  libs/common/distance/tsconfig.spec.json
  tsconfig.base.json
Due: eslint --fix, prettier --write, stylelint --fix

feat: 451 implement skeleton loader
  libs/bite-tribe/restaurant/data-access/src/lib/restaurant-data-access.service.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.ts
  libs/bite-tribe/restaurant/page/src/lib/components/restaurant-image/__specs__/restaurant-image.component.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/components/restaurant-image/restaurant-image.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/restaurant-image/restaurant-image.component.scss
  libs/bite-tribe/restaurant/page/src/lib/components/restaurant-image/restaurant-image.component.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/restaurant-container.component.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/restaurant.service.ts
  libs/bite-tribe/store/src/lib/app/__specs__/selectors.spec.ts
  libs/bite-tribe/store/src/lib/app/index.ts
  libs/bite-tribe/store/src/lib/app/selectors.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: 451 implement line differently
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: 451 round distance in detail view
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.ts
Due: eslint --fix, prettier --write

fix: 451 changes from copilot
  libs/bite-tribe/restaurant/page/src/lib/components/page/__specs__/restaurant.component.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.ts
  libs/bite-tribe/restaurant/page/src/lib/components/restaurant-image/restaurant-image.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: 451 filter duplicates, sort by price
  libs/bite-tribe/restaurant/page/src/lib/components/page/__specs__/restaurant.component.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.ts
  libs/bite-tribe/restaurant/page/src/lib/utils/__specs__/unique-bites-by-name.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/utils/unique-bites-by-name.ts
Due: eslint --fix, prettier --write

test: 451 more codecov
  libs/bite-tribe/restaurant/page/src/lib/utils/__specs__/get-distance.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/utils/get-position.ts
  libs/bite-tribe/store/src/lib/app/__specs__/selectors.spec.ts
Due: eslint --fix, prettier --write

chore: 451 up maximum bundle size
  apps/bite-tribe-business/project.json
Due: prettier --write

fix: 451 use currency pipe, change detection onPush
  libs/bite-tribe/restaurant/page/src/lib/components/menu-item/menu-item.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/menu-item/menu-item.component.ts
  libs/bite-tribe/restaurant/page/src/lib/components/restaurant-image/restaurant-image.component.ts
  libs/common/distance/src/lib/components/distance/distance.component.ts
Due: eslint --fix, prettier --write

fix: 451 use currency pipe correctly this time
  libs/bite-tribe/restaurant/page/src/lib/components/menu-item/menu-item.component.html
Due: eslint --fix, prettier --write

451 automatic menu for restaurant based on matching bites (#456)
  libs/bite-tribe/restaurant/page/src/lib/components/menu-item/menu-item.component.html
Due: eslint --fix, prettier --write

feat: 455 init storybook
  .storybook/main.ts
  .storybook/tsconfig.json
  libs/storybook-host/.loki/.gitignore
  libs/storybook-host/.storybook/main.ts
  libs/storybook-host/.storybook/preview-head.html
  libs/storybook-host/.storybook/preview.ts
  libs/storybook-host/.storybook/tsconfig.json
  libs/storybook-host/README.md
  libs/storybook-host/eslint.config.cjs
  libs/storybook-host/loki.config.js
  libs/storybook-host/project.json
  libs/storybook-host/src/assets/temp/nxgraph.html
  libs/storybook-host/src/assets/temp/static/environment.js
  libs/storybook-host/src/assets/temp/static/favicon.ico
  libs/storybook-host/src/assets/temp/static/main.js
  libs/storybook-host/src/assets/temp/static/runtime.js
  libs/storybook-host/src/assets/temp/static/styles.css
  libs/storybook-host/src/assets/temp/static/styles.js
  libs/storybook-host/src/lib/docs/dep-graph/dep-graph.stories.ts
  libs/storybook-host/tsconfig.json
  libs/storybook-host/tsconfig.lib.json
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

feat: 455 init story
  .gitignore
  libs/bite-tribe/details/page/src/lib/components/tags/__specs__/tags.component.spec.ts
  libs/bite-tribe/details/page/src/lib/components/tags/__specs__/tags.component.stories.ts
Due: eslint --fix, prettier --write

fix: 455 remove unnecessary storybook config
  .storybook/main.ts
  libs/storybook-host/.storybook/main.ts
  libs/storybook-host/.storybook/preview.ts
  libs/storybook-host/project.json
Due: eslint --fix, prettier --write

feat: 455 add storybook story
  libs/bite-tribe/details/page/src/lib/components/tags/__specs__/tags.component.stories.ts
  libs/common/ui/tags/src/lib/tags-input/__specs__/tags-input.component.stories.ts
Due: eslint --fix, prettier --write
