Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,html}": "eslint --fix",
  "*.{ts,js,html,scss,json,md}": "prettier --write",
  "*.scss": "stylelint --fix"
}

fix(#1061): fix connection to google workspace and email verifiction functions (#1062)
  apps/bite-tribe-firebase/functions/src/functions/users/__specs__/resend-email-verification.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/users/__specs__/send-email-verification-reminders.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/users/google-workspace-email.ts
  apps/bite-tribe-firebase/functions/src/functions/users/resend-email-verification.ts
  apps/bite-tribe-firebase/functions/src/functions/users/send-email-verification-reminders.ts
  apps/bite-tribe-firebase/set-workspace-secrets.sh
Due: eslint --fix, prettier --write

test: update loki references for map my-position button
  .loki/reference/chrome_iphone7_Pages_Bitemap_Empty.png
  .loki/reference/chrome_iphone7_Pages_Bitemap_With_Bites.png
  .loki/reference/chrome_laptop_Pages_Bitemap_Empty.png
  .loki/reference/chrome_laptop_Pages_Bitemap_With_Bites.png
Due: none

refactor: use aggregates for following and followers
  apps/bite-tribe-firebase/functions/src/functions/users/__specs__/update-follow-counts-on-follow-write.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/users/resync-follow-counts.ts
  apps/bite-tribe-firebase/functions/src/functions/users/update-follow-counts-on-follow-write.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  libs/bite-tribe-common/model/src/lib/public-user.ts
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/api/src/lib/profile-api.service.ts
  ssot/pages/Implementation - Firebase Functions.md
Due: eslint --fix, prettier --write

test: add tests for coverage
  libs/bite-tribe/api/src/lib/__specs__/bite-tribe-api.service.spec.ts
  libs/bite-tribe/api/src/lib/__specs__/profile-api.service.spec.ts
Due: eslint --fix, prettier --write

feat(1055): my position button in bitemap (#1063)
  .loki/reference/chrome_iphone7_Pages_Bitemap_Empty.png
  .loki/reference/chrome_iphone7_Pages_Bitemap_With_Bites.png
  .loki/reference/chrome_laptop_Pages_Bitemap_Empty.png
  .loki/reference/chrome_laptop_Pages_Bitemap_With_Bites.png
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe-common/map/src/lib/map/__specs__/map.component.spec.ts
  libs/bite-tribe-common/map/src/lib/map/map.component.ts
  libs/bite-tribe/map/data-access/src/lib/__specs__/map-data-access.service.spec.ts
  libs/bite-tribe/map/data-access/src/lib/map-data-access.service.ts
  libs/bite-tribe/map/page/src/lib/components/map-page/__specs__/map-page.component.spec.ts
  libs/bite-tribe/map/page/src/lib/components/map-page/__specs__/map-page.stories.ts
  libs/bite-tribe/map/page/src/lib/components/map-page/map-page.component.html
  libs/bite-tribe/map/page/src/lib/components/map-page/map-page.component.scss
  libs/bite-tribe/map/page/src/lib/components/map-page/map-page.component.ts
  libs/bite-tribe/map/page/src/lib/integration/__specs__/map.service.spec.ts
  libs/bite-tribe/map/page/src/lib/integration/home-map-container.component.ts
  libs/bite-tribe/map/page/src/lib/integration/map.service.ts
  libs/common/utils/src/lib/add-necessary-icons.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor(1059): introduce aggregates for followers and following (#1064)
  apps/bite-tribe-firebase/functions/src/functions/users/__specs__/update-follow-counts-on-follow-write.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/users/resync-follow-counts.ts
  apps/bite-tribe-firebase/functions/src/functions/users/update-follow-counts-on-follow-write.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  libs/bite-tribe-common/model/src/lib/public-user.ts
  libs/bite-tribe/api/src/lib/__specs__/bite-tribe-api.service.spec.ts
  libs/bite-tribe/api/src/lib/__specs__/profile-api.service.spec.ts
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/api/src/lib/profile-api.service.ts
  ssot/pages/Implementation - Firebase Functions.md
Due: eslint --fix, prettier --write

fix(bite-tribe): keep list pages clear of system navigation bar
  apps/bite-tribe/src/theme/variables.scss
  libs/bite-tribe/bucketlist/page/src/lib/components/bucketlists-page/bucketlists.page.html
  libs/bite-tribe/followers/page/src/lib/components/followers-list/followers-list.component.html
  libs/bite-tribe/gallery/page/src/lib/components/gallery-page/gallery.page.html
  libs/bite-tribe/leaderboard/page/src/lib/components/leaderboard-list/leaderboard-list.component.html
  libs/bite-tribe/market-place/page/src/lib/components/market-place-page/market-place.page.html
Due: eslint --fix, prettier --write, stylelint --fix

fix(bite-tribe): keep list pages clear of system navigation bar (#1065)
  apps/bite-tribe/src/theme/variables.scss
  libs/bite-tribe/bucketlist/page/src/lib/components/bucketlists-page/bucketlists.page.html
  libs/bite-tribe/followers/page/src/lib/components/followers-list/followers-list.component.html
  libs/bite-tribe/gallery/page/src/lib/components/gallery-page/gallery.page.html
  libs/bite-tribe/leaderboard/page/src/lib/components/leaderboard-list/leaderboard-list.component.html
  libs/bite-tribe/market-place/page/src/lib/components/market-place-page/market-place.page.html
Due: eslint --fix, prettier --write, stylelint --fix

docs(ssot): reconcile pending state with shipped launch work
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Release State.md
  ssot/pages/Current State - Roadmap.md
  ssot/pages/SSOT.md
  ssot/pages/Traceability Map.md
  ssot/pages/UC - Guide New Users After Registration.md
  ssot/pages/epic-850.md
Due: prettier --write

feat(933): block Firebase-backed startup on App Check enforcement failure
  apps/bite-tribe-business/src/app/app.component.spec.ts
  apps/bite-tribe-business/src/app/app.component.ts
  apps/bite-tribe-business/src/assets/i18n/en.json
  apps/bite-tribe/src/app/app.component.spec.ts
  apps/bite-tribe/src/app/app.component.ts
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe-business/shell/src/lib/provide-bite-tribe-business-shell.ts
  libs/bite-tribe/shell/src/lib/provide-bite-tribe-shell.ts
  libs/common/ta-firestore/src/index.ts
  libs/common/ta-firestore/src/lib/__specs__/app-check-readiness.service.spec.ts
  libs/common/ta-firestore/src/lib/__specs__/initialize-firebase-app-check.spec.ts
  libs/common/ta-firestore/src/lib/__specs__/provide-firestore-utils.spec.ts
  libs/common/ta-firestore/src/lib/app-check-gate/__specs__/app-check-gate.component.spec.ts
  libs/common/ta-firestore/src/lib/app-check-gate/__specs__/app-check-gate.component.stories.ts
  libs/common/ta-firestore/src/lib/app-check-gate/app-check-gate.component.ts
  libs/common/ta-firestore/src/lib/app-check-readiness.service.ts
  libs/common/ta-firestore/src/lib/initialize-firebase-app-check.ts
  libs/common/ta-firestore/src/lib/provide-firestore-utils.ts
Due: eslint --fix, prettier --write

docs(ssot): record issue 933 App Check startup gate as landed
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Release State.md
  ssot/pages/Current State - Roadmap.md
Due: prettier --write

test(933): exclude App Check gate stories from Loki visual regression
  libs/common/ta-firestore/src/lib/app-check-gate/__specs__/app-check-gate.component.stories.ts
Due: eslint --fix, prettier --write

fix(933): await initial navigation and harden flaky social-graph e2e
  apps/bite-tribe-e2e/src/tests/profile-social-graph.spec.ts
  libs/common/ta-firestore/src/lib/app-check-gate/__specs__/app-check-gate.component.stories.ts
  libs/common/ta-firestore/src/lib/provide-firestore-utils.ts
Due: eslint --fix, prettier --write

test: add new references
  .loki/reference/chrome_iphone7_Components_App_Check_Gate_Idle.png
  .loki/reference/chrome_iphone7_Components_App_Check_Gate_Retrying.png
  .loki/reference/chrome_laptop_Components_App_Check_Gate_Idle.png
  .loki/reference/chrome_laptop_Components_App_Check_Gate_Retrying.png
Due: none

fix(1059): update profile follower count optimistically on follow/unfollow
  libs/bite-tribe/store/src/lib/app/__specs__/reducer.spec.ts
  libs/bite-tribe/store/src/lib/app/actions.ts
  libs/bite-tribe/store/src/lib/app/effects.ts
  libs/bite-tribe/store/src/lib/app/reducer.ts
Due: eslint --fix, prettier --write

refactor: handling public env vars binding
  .github/workflows/pipeline.yml
  apps/bite-tribe-business/env-var-plugin.js
  apps/bite-tribe-business/project.json
  apps/bite-tribe/env-var-plugin.js
  apps/bite-tribe/src/env-var-plugin.spec.js
  eslint.config.mjs
  libs/bite-tribe/store/src/lib/provide-bite-tribe-store.ts
  ssot/pages/Implementation - Release And Build Workflow.md
  tools/env-var-plugin.js
Due: eslint --fix, prettier --write

docs: security posture
  ssot/pages/Current State - Known Issues.md
Due: prettier --write

refactor: remove dead code
  apps/bite-tribe/env-var-plugin.js
  libs/common/geoapify/README.md
  libs/common/geoapify/eslint.config.mjs
  libs/common/geoapify/jest.config.ts
  libs/common/geoapify/project.json
  libs/common/geoapify/src/index.ts
  libs/common/geoapify/src/lib/location.service.ts
  libs/common/geoapify/src/test-setup.ts
  libs/common/geoapify/tsconfig.json
  libs/common/geoapify/tsconfig.lib.json
  libs/common/geoapify/tsconfig.spec.json
  ssot/pages/Current State - Known Issues.md
  tsconfig.base.json
Due: eslint --fix, prettier --write

chore: remove dependencies
  package-lock.json
  package.json
Due: prettier --write

refactor(806): check sensitive vars and tidy up env binding (#1068)
  .github/workflows/pipeline.yml
  apps/bite-tribe-business/env-var-plugin.js
  apps/bite-tribe-business/project.json
  apps/bite-tribe/env-var-plugin.js
  apps/bite-tribe/src/env-var-plugin.spec.js
  eslint.config.mjs
  libs/bite-tribe/store/src/lib/provide-bite-tribe-store.ts
  libs/common/geoapify/README.md
  libs/common/geoapify/eslint.config.mjs
  libs/common/geoapify/jest.config.ts
  libs/common/geoapify/project.json
  libs/common/geoapify/src/index.ts
  libs/common/geoapify/src/lib/location.service.ts
  libs/common/geoapify/src/test-setup.ts
  libs/common/geoapify/tsconfig.json
  libs/common/geoapify/tsconfig.lib.json
  libs/common/geoapify/tsconfig.spec.json
  package-lock.json
  package.json
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Implementation - Release And Build Workflow.md
  tools/env-var-plugin.js
  tsconfig.base.json
Due: eslint --fix, prettier --write

docs: specify restaurant claim, table and order system
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Open Questions.md
  ssot/pages/Floor Plan.md
  ssot/pages/Glossary.md
  ssot/pages/Restaurant.md
  ssot/pages/SSOT.md
  ssot/pages/Table Visit.md
  ssot/pages/Table.md
  ssot/pages/Traceability Map.md
  ssot/pages/UC - Configure Restaurant Floor Plans And Tables.md
  ssot/pages/UC - Manage Tables During Service.md
  ssot/pages/UC - Order At The Table Through A QR Code.md
  ssot/pages/UC - Own And Claim Restaurants.md
  ssot/pages/contents.md
  ssot/pages/epic-1069.md
  ssot/pages/epic-1070.md
  ssot/pages/epic-1071.md
  ssot/pages/epic-1072.md
  ssot/pages/epic-1073.md
  ssot/pages/epic-735.md
Due: prettier --write

docs: specify resto claim table and order system (#1115)
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Open Questions.md
  ssot/pages/Floor Plan.md
  ssot/pages/Glossary.md
  ssot/pages/Restaurant.md
  ssot/pages/SSOT.md
  ssot/pages/Table Visit.md
  ssot/pages/Table.md
  ssot/pages/Traceability Map.md
  ssot/pages/UC - Configure Restaurant Floor Plans And Tables.md
  ssot/pages/UC - Manage Tables During Service.md
  ssot/pages/UC - Order At The Table Through A QR Code.md
  ssot/pages/UC - Own And Claim Restaurants.md
  ssot/pages/contents.md
  ssot/pages/epic-1069.md
  ssot/pages/epic-1070.md
  ssot/pages/epic-1071.md
  ssot/pages/epic-1072.md
  ssot/pages/epic-1073.md
  ssot/pages/epic-735.md
Due: prettier --write

fix(bite-tribe-shell): disable the pwa service worker on native platforms
  libs/bite-tribe/shell/src/lib/__specs__/service-worker.spec.ts
  libs/bite-tribe/shell/src/lib/app.config.ts
  libs/bite-tribe/shell/src/lib/service-worker.ts
  ssot/pages/Architecture - Capacitor.md
  ssot/pages/issue-1067.md
Due: eslint --fix, prettier --write

fix(bite-tribe-shell): disable the pwa service worker on native platforms (#1116)
  libs/bite-tribe/shell/src/lib/__specs__/service-worker.spec.ts
  libs/bite-tribe/shell/src/lib/app.config.ts
  libs/bite-tribe/shell/src/lib/service-worker.ts
  ssot/pages/Architecture - Capacitor.md
  ssot/pages/issue-1067.md
Due: eslint --fix, prettier --write

fix(bite-tribe/store): keep restaurant candidate bite evidence in the create flow
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/__specs__/new-restaurant-page.component.spec.ts
  libs/bite-tribe/store/src/lib/restaurants/__specs__/selectors.spec.ts
  libs/bite-tribe/store/src/lib/restaurants/adapter.ts
  libs/bite-tribe/store/src/lib/restaurants/reducer.ts
  libs/bite-tribe/store/src/lib/restaurants/selectors.ts
  ssot/pages/Architecture - State Management.md
  ssot/pages/issue-1117.md
Due: eslint --fix, prettier --write

fix(bite-tribe/store): keep restaurant candidate bite evidence in the create flow (#1119)
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/__specs__/new-restaurant-page.component.spec.ts
  libs/bite-tribe/store/src/lib/restaurants/__specs__/selectors.spec.ts
  libs/bite-tribe/store/src/lib/restaurants/adapter.ts
  libs/bite-tribe/store/src/lib/restaurants/reducer.ts
  libs/bite-tribe/store/src/lib/restaurants/selectors.ts
  ssot/pages/Architecture - State Management.md
  ssot/pages/issue-1117.md
Due: eslint --fix, prettier --write

test: add new references
  .loki/reference/chrome_iphone7_Pages_Home_Weekly_Bites.png
  .loki/reference/chrome_iphone7_Pages_Home_Weekly_Bites_Empty.png
  .loki/reference/chrome_laptop_Pages_Home_Weekly_Bites.png
  .loki/reference/chrome_laptop_Pages_Home_Weekly_Bites_Empty.png
Due: none

docs: specify the three BiteTribe monetization channels (#1121)
  ssot/pages/Bite Trail.md
  ssot/pages/Current State - Open Questions.md
  ssot/pages/Current State - Roadmap.md
  ssot/pages/Glossary.md
  ssot/pages/Market Place.md
  ssot/pages/Monetization.md
  ssot/pages/Personas.md
  ssot/pages/SSOT.md
  ssot/pages/Subscription.md
  ssot/pages/Traceability Map.md
  ssot/pages/UC - Buy A Paid BiteTrail.md
  ssot/pages/UC - Discover Bites.md
  ssot/pages/UC - Search In BiteTribe.md
  ssot/pages/UC - See Ads As A Free User.md
  ssot/pages/UC - Subscribe To BiteTribe Pro.md
  ssot/pages/User.md
  ssot/pages/contents.md
  ssot/pages/epic-1121.md
  ssot/pages/epic-1122.md
  ssot/pages/epic-1123.md
  ssot/pages/epic-1124.md
  ssot/pages/epic-1125.md
Due: prettier --write

docs: specify the three BiteTribe monetization channels (#1121) (#1159)
  ssot/pages/Bite Trail.md
  ssot/pages/Current State - Open Questions.md
  ssot/pages/Current State - Roadmap.md
  ssot/pages/Glossary.md
  ssot/pages/Market Place.md
  ssot/pages/Monetization.md
  ssot/pages/Personas.md
  ssot/pages/SSOT.md
  ssot/pages/Subscription.md
  ssot/pages/Traceability Map.md
  ssot/pages/UC - Buy A Paid BiteTrail.md
  ssot/pages/UC - Discover Bites.md
  ssot/pages/UC - Search In BiteTribe.md
  ssot/pages/UC - See Ads As A Free User.md
  ssot/pages/UC - Subscribe To BiteTribe Pro.md
  ssot/pages/User.md
  ssot/pages/contents.md
  ssot/pages/epic-1121.md
  ssot/pages/epic-1122.md
  ssot/pages/epic-1123.md
  ssot/pages/epic-1124.md
  ssot/pages/epic-1125.md
Due: prettier --write

fix(bite-tribe/profile): sort profile bites from newest to oldest
  libs/bite-tribe/profile/data-access/src/lib/__specs__/profile-data-access.service.spec.ts
  libs/bite-tribe/profile/data-access/src/lib/profile-data-access.service.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/bites-by-id.selector.spec.ts
  libs/bite-tribe/store/src/lib/bites/bites-by-id.selector.ts
  ssot/pages/UC - Manage Profile And Social Graph.md
  ssot/pages/issue-1118.md
Due: eslint --fix, prettier --write

fix(bite-tribe/profile): sort profile bites from newest to oldest (#1160)
  libs/bite-tribe/profile/data-access/src/lib/__specs__/profile-data-access.service.spec.ts
  libs/bite-tribe/profile/data-access/src/lib/profile-data-access.service.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/bites-by-id.selector.spec.ts
  libs/bite-tribe/store/src/lib/bites/bites-by-id.selector.ts
  ssot/pages/UC - Manage Profile And Social Graph.md
  ssot/pages/issue-1118.md
Due: eslint --fix, prettier --write

chore: prepare build 1.0.1-87 release
  CHANGELOG.md
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: prettier --write

chore: bump version 87 (#1161)
  CHANGELOG.md
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: prettier --write

feat(bite-tribe/bucketlist): swipe a Bite in a bucket list to tick it off (#812)
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/coach-mark/src/lib/coach-mark-surface.ts
  libs/bite-tribe/home/page/src/lib/components/page/bite-list/__specs__/bite-list.component.spec.ts
  libs/bite-tribe/home/page/src/lib/components/page/bite-list/__specs__/bite-list.stories.ts
  libs/bite-tribe/home/page/src/lib/components/page/bite-list/bite-list.component.html
  libs/bite-tribe/home/page/src/lib/components/page/bite-list/bite-list.component.scss
  libs/bite-tribe/home/page/src/lib/components/page/bite-list/bite-list.component.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/home/page/src/lib/integration/__specs__/bucket-list.container.spec.ts
  libs/bite-tribe/home/page/src/lib/integration/bucket-list.container.ts
  libs/common/ta-firestore/src/lib/analytics/analytics-events.ts
  ssot/pages/Bucket List.md
  ssot/pages/Current State - Release State.md
  ssot/pages/UC - Guide New Users After Registration.md
  ssot/pages/UC - Save And Rate BiteTrails Through Bucket Lists.md
Due: eslint --fix, prettier --write, stylelint --fix

test: generate references
  .loki/reference/chrome_iphone7_Components_Bite_List_With_Tried_Out_Swipe.png
  .loki/reference/chrome_laptop_Components_Bite_List_With_Tried_Out_Swipe.png
Due: none

fix(bite-tribe/store): show a ticked Bite in the bucket list without a re-entry (#812)
  libs/bite-tribe/store/src/lib/bucketlists/__specs__/reducer.spec.ts
  libs/bite-tribe/store/src/lib/bucketlists/reducer.ts
  libs/bite-tribe/store/src/lib/bucketlists/utils/__specs__/should-load-bucketlists.spec.ts
  libs/bite-tribe/store/src/lib/bucketlists/utils/apply-tried-out-status.ts
  libs/bite-tribe/store/src/lib/bucketlists/utils/should-load-bucketlists.ts
  ssot/pages/Current State - Release State.md
Due: eslint --fix, prettier --write
