Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,html}": "eslint --fix",
  "*.{ts,js,html,scss,json,md}": "prettier --write",
  "*.scss": "stylelint --fix"
}

style: fix focused color on inputs
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.scss
Due: prettier --write, stylelint --fix

style: styling adjustments
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  apps/bite-tribe/src/theme/variables.scss
  libs/bite-tribe-common/styles/_globals.scss
  libs/bite-tribe/bite/page/src/lib/components/image-upload/image-upload.component.scss
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.scss
  libs/common/ui/tags/src/lib/tags-input/tags-input.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

styling(#494): implement new design for create bite page (#505)
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  apps/bite-tribe/src/theme/variables.scss
  libs/bite-tribe-common/styles/_globals.scss
  libs/bite-tribe/bite/page/src/lib/components/image-upload/components/placeholder.ts
  libs/bite-tribe/bite/page/src/lib/components/image-upload/image-upload.component.html
  libs/bite-tribe/bite/page/src/lib/components/image-upload/image-upload.component.scss
  libs/bite-tribe/bite/page/src/lib/components/image-upload/image-upload.component.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.scss
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/common/ui/star-rating/src/lib/star-rating.component.html
  libs/common/ui/star-rating/src/lib/star-rating.component.ts
  libs/common/ui/tags/src/lib/tags-input/tags-input.component.html
  libs/common/ui/tags/src/lib/tags-input/tags-input.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

ci: prepare for storybook deployment
  .firebaserc
  .github/workflows/deploy-storybook.yml
  firebase.json
  libs/storybook-host/src/assets/temp/nxgraph.html
  libs/storybook-host/src/assets/temp/static/environment.js
  libs/storybook-host/src/assets/temp/static/main.js
  libs/storybook-host/src/assets/temp/static/runtime.js
  libs/storybook-host/src/assets/temp/static/styles.js
Due: eslint --fix, prettier --write

ci: cd for storybook deployment (#506)
  .firebaserc
  .github/workflows/deploy-storybook.yml
  firebase.json
  libs/storybook-host/src/assets/temp/nxgraph.html
  libs/storybook-host/src/assets/temp/static/environment.js
  libs/storybook-host/src/assets/temp/static/main.js
  libs/storybook-host/src/assets/temp/static/runtime.js
  libs/storybook-host/src/assets/temp/static/styles.js
Due: eslint --fix, prettier --write

ci: build storybook instead of bite-tribe app
  .github/workflows/deploy-storybook.yml
Due: none

ci: build storybook instead of bite-tribe app (#507)
  .github/workflows/deploy-storybook.yml
Due: none

chore: naming and cleanup
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/common/ui/auth/src/lib/components/login/__specs__/auth.component.stories.ts
  libs/common/ui/auth/src/lib/components/registration/__specs__/registration.component.stories.ts
  libs/storybook-host/src/assets/temp/static/environment.js
Due: eslint --fix, prettier --write

docs: add stories for pages
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/home.stories.ts
  libs/bite-tribe/map/page/src/lib/components/map-page/__specs__/map-page.stories.ts
  libs/bite-tribe/shell/src/lib/routes.ts
  libs/bite-tribe/start/src/index.ts
  libs/bite-tribe/start/src/lib/__specs__/start.component.spec.ts
  libs/bite-tribe/start/src/lib/__specs__/start.stories.ts
  libs/bite-tribe/start/src/lib/start.component.html
  libs/bite-tribe/start/src/lib/start.component.scss
  libs/bite-tribe/start/src/lib/start.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

docs: add stories
  libs/storybook-host/src/assets/temp/static/environment.js
Due: prettier --write

docs: add stories for pages
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.stories.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.stories.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.scss
  libs/bite-tribe/map/page/src/lib/integration/home-map-container.component.ts
  libs/bite-tribe/menu/page/src/lib/components/page/__specs__/menu.stories.ts
  libs/bite-tribe/menu/page/src/lib/components/page/__specs__/restaurant-b64-image.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/__specs__/restaurant-b64-image.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/__specs__/restaurant.stories.ts
  libs/common/ui/tags/src/lib/tags-input/tags-input.component.html
Due: eslint --fix, prettier --write, stylelint --fix

docs: all pages completed in storybook
  libs/bite-tribe/bucketlist/page/src/lib/components/bucketlists-page/__specs__/my-bucketlists.stories.ts
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/my-bites.stories.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.scss
  libs/bite-tribe/profile/page/src/lib/components/profile-page/__specs__/profile.stories.ts
  libs/bite-tribe/settings/page/src/lib/components/page/__specs__/settings.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: revert enable zoom on bite map
  libs/bite-tribe/map/page/src/lib/integration/home-map-container.component.ts
Due: eslint --fix, prettier --write

chore: cleanup
  libs/bite-tribe/bucketlist/page/src/lib/components/bucketlists-page/__specs__/my-bucketlists.stories.ts
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/my-bites.stories.ts
Due: eslint --fix, prettier --write

chore: fix typo
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.stories.ts
Due: eslint --fix, prettier --write

docs: stories for pages (#508)
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.stories.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/bucketlist/page/src/lib/components/bucketlists-page/__specs__/my-bucketlists.stories.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.stories.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.scss
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/home.stories.ts
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/my-bites.stories.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.scss
  libs/bite-tribe/map/page/src/lib/components/map-page/__specs__/map-page.stories.ts
  libs/bite-tribe/menu/page/src/lib/components/page/__specs__/menu.stories.ts
  libs/bite-tribe/menu/page/src/lib/components/page/__specs__/restaurant-b64-image.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/__specs__/profile.stories.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/__specs__/restaurant-b64-image.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/__specs__/restaurant.stories.ts
  libs/bite-tribe/settings/page/src/lib/components/page/__specs__/settings.stories.ts
  libs/bite-tribe/shell/src/lib/routes.ts
  libs/bite-tribe/start/src/index.ts
  libs/bite-tribe/start/src/lib/__specs__/start.component.spec.ts
  libs/bite-tribe/start/src/lib/__specs__/start.stories.ts
  libs/bite-tribe/start/src/lib/start.component.html
  libs/bite-tribe/start/src/lib/start.component.scss
  libs/bite-tribe/start/src/lib/start.component.ts
  libs/common/ui/auth/src/lib/components/registration/__specs__/registration.component.stories.ts
  libs/common/ui/tags/src/lib/tags-input/tags-input.component.html
  libs/storybook-host/src/assets/temp/static/environment.js
Due: eslint --fix, prettier --write, stylelint --fix

feat: 493 save and read sorting for bucketlists
  libs/bite-tribe/bucketlist/data-access/jest.config.ts
  libs/bite-tribe/bucketlist/data-access/src/lib/__specs__/bucketlists-data-access.service.spec.ts
  libs/bite-tribe/bucketlist/data-access/src/lib/bucketlists-data-access.service.ts
  libs/bite-tribe/bucketlist/page/src/index.ts
  libs/bite-tribe/bucketlist/page/src/lib/integration/__specs__/bucketlists-service.spec.ts
  libs/bite-tribe/bucketlist/page/src/lib/integration/__specs__/bucketlists.container.spec.ts
  libs/bite-tribe/bucketlist/page/src/lib/integration/bucketlists.container.ts
  libs/bite-tribe/bucketlist/page/src/lib/integration/bucketlists.service.ts
  libs/bite-tribe/shell/src/lib/routes.ts
  libs/bite-tribe/store/src/lib/app/__specs__/actions.spec.ts
  libs/bite-tribe/store/src/lib/app/__specs__/reducer.spec.ts
  libs/bite-tribe/store/src/lib/app/__specs__/selectors.spec.ts
  libs/bite-tribe/store/src/lib/app/actions.ts
  libs/bite-tribe/store/src/lib/app/app-slice.model.ts
  libs/bite-tribe/store/src/lib/app/reducer.ts
  libs/bite-tribe/store/src/lib/app/selectors.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/bucketlists/__specs__/selectors.spec.ts
  libs/bite-tribe/store/src/lib/bucketlists/selectors.ts
  libs/bite-tribe/store/src/lib/bucketlists/utils/__specs__/sort-bucketlists-by-created-at.spec.ts
  libs/bite-tribe/store/src/lib/bucketlists/utils/__specs__/sort-bucketlists-by-name.spec.ts
  libs/bite-tribe/store/src/lib/bucketlists/utils/__specs__/sort-by-criteria.spec.ts
  libs/bite-tribe/store/src/lib/bucketlists/utils/sort-bucketlists-by-created-at.ts
  libs/bite-tribe/store/src/lib/bucketlists/utils/sort-bucketlists-by-name.ts
  libs/bite-tribe/store/src/lib/bucketlists/utils/sort-by-criteria.ts
Due: eslint --fix, prettier --write

feat: 493 fixes from copilot
  libs/bite-tribe/bucketlist/page/src/lib/components/bucketlists-page/__specs__/bucketlists.page.spec.ts
  libs/bite-tribe/bucketlist/page/src/lib/components/bucketlists-page/bucketlists.page.ts
  libs/bite-tribe/store/src/lib/bucketlists/utils/sort-bucketlists-by-created-at.ts
  libs/bite-tribe/store/src/lib/bucketlists/utils/sort-bucketlists-by-name.ts
  libs/bite-tribe/store/src/lib/bucketlists/utils/sort-by-criteria.ts
Due: eslint --fix, prettier --write

test: 493 unit test
  libs/bite-tribe/store/src/lib/__specs__/bite-tribe-store.service.spec.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
Due: eslint --fix, prettier --write

test: 493 unit test
  libs/bite-tribe/bucketlist/page/src/lib/components/bucketlists-page/__specs__/bucketlists.page.spec.ts
  libs/bite-tribe/store/src/lib/bucketlists/utils/__specs__/sort-bucketlists-by-created-at.spec.ts
  libs/bite-tribe/store/src/lib/bucketlists/utils/__specs__/sort-by-criteria.spec.ts
Due: eslint --fix, prettier --write

refactor: 493 revert
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
Due: eslint --fix, prettier --write

style: fix style of page title
  libs/bite-tribe/bucketlist/page/src/lib/components/bucketlists-page/bucketlists.page.scss
  libs/storybook-host/src/assets/temp/nxgraph.html
  libs/storybook-host/src/assets/temp/static/environment.js
  libs/storybook-host/src/assets/temp/static/main.js
  libs/storybook-host/src/assets/temp/static/runtime.js
  libs/storybook-host/src/assets/temp/static/styles.js
Due: eslint --fix, prettier --write, stylelint --fix

493 implement sorting for bucket list (#509)
  libs/bite-tribe/bucketlist/data-access/jest.config.ts
  libs/bite-tribe/bucketlist/data-access/src/lib/__specs__/bucketlists-data-access.service.spec.ts
  libs/bite-tribe/bucketlist/data-access/src/lib/bucketlists-data-access.service.ts
  libs/bite-tribe/bucketlist/page/eslint.config.mjs
  libs/bite-tribe/bucketlist/page/jest.config.ts
  libs/bite-tribe/bucketlist/page/src/index.ts
  libs/bite-tribe/bucketlist/page/src/lib/components/bucketlists-page/__specs__/bucketlists.page.spec.ts
  libs/bite-tribe/bucketlist/page/src/lib/components/bucketlists-page/bucketlists.page.html
  libs/bite-tribe/bucketlist/page/src/lib/components/bucketlists-page/bucketlists.page.scss
  libs/bite-tribe/bucketlist/page/src/lib/components/bucketlists-page/bucketlists.page.ts
  libs/bite-tribe/bucketlist/page/src/lib/integration/__specs__/bucketlists-service.spec.ts
  libs/bite-tribe/bucketlist/page/src/lib/integration/__specs__/bucketlists.container.spec.ts
  libs/bite-tribe/bucketlist/page/src/lib/integration/bucketlists.container.ts
  libs/bite-tribe/bucketlist/page/src/lib/integration/bucketlists.service.ts
  libs/bite-tribe/bucketlist/page/src/lib/pipes/__specs__/count.pipe.spec.ts
  libs/bite-tribe/bucketlist/page/tsconfig.lib.json
  libs/bite-tribe/bucketlist/page/tsconfig.spec.json
  libs/bite-tribe/shell/src/lib/routes.ts
  libs/bite-tribe/store/src/lib/__specs__/bite-tribe-store.service.spec.ts
  libs/bite-tribe/store/src/lib/app/__specs__/actions.spec.ts
  libs/bite-tribe/store/src/lib/app/__specs__/reducer.spec.ts
  libs/bite-tribe/store/src/lib/app/__specs__/selectors.spec.ts
  libs/bite-tribe/store/src/lib/app/actions.ts
  libs/bite-tribe/store/src/lib/app/app-slice.model.ts
  libs/bite-tribe/store/src/lib/app/reducer.ts
  libs/bite-tribe/store/src/lib/app/selectors.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/bucketlists/__specs__/selectors.spec.ts
  libs/bite-tribe/store/src/lib/bucketlists/selectors.ts
  libs/bite-tribe/store/src/lib/bucketlists/utils/__specs__/sort-bucketlists-by-created-at.spec.ts
  libs/bite-tribe/store/src/lib/bucketlists/utils/__specs__/sort-bucketlists-by-name.spec.ts
  libs/bite-tribe/store/src/lib/bucketlists/utils/__specs__/sort-by-criteria.spec.ts
  libs/bite-tribe/store/src/lib/bucketlists/utils/sort-bucketlists-by-created-at.ts
  libs/bite-tribe/store/src/lib/bucketlists/utils/sort-bucketlists-by-name.ts
  libs/bite-tribe/store/src/lib/bucketlists/utils/sort-by-criteria.ts
  libs/common/ui/page/src/lib/page.component.html
  libs/common/ui/page/src/lib/page.component.ts
  libs/storybook-host/src/assets/temp/static/environment.js
Due: eslint --fix, prettier --write, stylelint --fix

refactor: restructure store with sorting and filtering
  libs/bite-tribe/store/src/lib/app/app-slice.model.ts
  libs/bite-tribe/store/src/lib/app/reducer.ts
  libs/bite-tribe/store/src/lib/app/selectors.ts
Due: eslint --fix, prettier --write

refactor: introduce slice for filtering and sorting
  libs/bite-tribe/store/src/lib/app/actions.ts
  libs/bite-tribe/store/src/lib/app/app-slice.model.ts
  libs/bite-tribe/store/src/lib/app/index.ts
  libs/bite-tribe/store/src/lib/app/reducer.ts
  libs/bite-tribe/store/src/lib/app/selectors.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/bites/selectors.ts
  libs/bite-tribe/store/src/lib/bucketlists/selectors.ts
  libs/bite-tribe/store/src/lib/filtering-and-sorting/actions.ts
  libs/bite-tribe/store/src/lib/filtering-and-sorting/filtering-and-sorting-slice.model.ts
  libs/bite-tribe/store/src/lib/filtering-and-sorting/index.ts
  libs/bite-tribe/store/src/lib/filtering-and-sorting/key.ts
  libs/bite-tribe/store/src/lib/filtering-and-sorting/reducer.ts
  libs/bite-tribe/store/src/lib/filtering-and-sorting/selectors.ts
  libs/bite-tribe/store/src/lib/provide-bite-tribe-store.ts
Due: eslint --fix, prettier --write

test: adjust tests
  libs/bite-tribe/store/src/lib/app/__specs__/actions.spec.ts
  libs/bite-tribe/store/src/lib/app/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/app/__specs__/reducer.spec.ts
  libs/bite-tribe/store/src/lib/app/__specs__/selectors.spec.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/bucketlists/__specs__/actions.spec.ts
  libs/bite-tribe/store/src/lib/bucketlists/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/bucketlists/__specs__/reducer.spec.ts
  libs/bite-tribe/store/src/lib/bucketlists/actions.ts
  libs/bite-tribe/store/src/lib/bucketlists/effects.ts
  libs/bite-tribe/store/src/lib/bucketlists/reducer.ts
  libs/bite-tribe/store/src/lib/filtering-and-sorting/__specs__/actions.spec.ts
  libs/bite-tribe/store/src/lib/filtering-and-sorting/__specs__/reducer.spec.ts
  libs/bite-tribe/store/src/lib/filtering-and-sorting/__specs__/selectors.spec.ts
Due: eslint --fix, prettier --write

style: fix distance of to-top-button
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: persist filtering and sorting in local storagee
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  apps/bite-tribe-ios/ios/App/PrivacyInfo.xcprivacy
  libs/bite-tribe/store/src/lib/app/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/app/effects.ts
  libs/bite-tribe/store/src/lib/filtering-and-sorting/actions.ts
  libs/bite-tribe/store/src/lib/filtering-and-sorting/effects.ts
  libs/bite-tribe/store/src/lib/filtering-and-sorting/reducer.ts
  libs/bite-tribe/store/src/lib/filtering-and-sorting/selectors.ts
  libs/bite-tribe/store/src/lib/provide-bite-tribe-store.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

chore: increase build number
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: none

refactor: handle promise correctly
  libs/bite-tribe/store/src/lib/filtering-and-sorting/effects.ts
Due: eslint --fix, prettier --write

refactor: add try-catch for json parsing
  libs/bite-tribe/store/src/lib/filtering-and-sorting/effects.ts
Due: eslint --fix, prettier --write

chore: cleanup
  libs/bite-tribe/store/src/lib/filtering-and-sorting/effects.ts
Due: eslint --fix, prettier --write

test: add test
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/filtering-and-sorting/__specs__/reducer.spec.ts
  libs/bite-tribe/store/src/lib/filtering-and-sorting/selectors.ts
Due: eslint --fix, prettier --write

feat(497): persist sorting and filtering (#511)
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  apps/bite-tribe-ios/ios/App/PrivacyInfo.xcprivacy
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.scss
  libs/bite-tribe/store/src/lib/app/__specs__/actions.spec.ts
  libs/bite-tribe/store/src/lib/app/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/app/__specs__/reducer.spec.ts
  libs/bite-tribe/store/src/lib/app/__specs__/selectors.spec.ts
  libs/bite-tribe/store/src/lib/app/actions.ts
  libs/bite-tribe/store/src/lib/app/app-slice.model.ts
  libs/bite-tribe/store/src/lib/app/effects.ts
  libs/bite-tribe/store/src/lib/app/index.ts
  libs/bite-tribe/store/src/lib/app/reducer.ts
  libs/bite-tribe/store/src/lib/app/selectors.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/bites/selectors.ts
  libs/bite-tribe/store/src/lib/bucketlists/__specs__/actions.spec.ts
  libs/bite-tribe/store/src/lib/bucketlists/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/bucketlists/__specs__/reducer.spec.ts
  libs/bite-tribe/store/src/lib/bucketlists/actions.ts
  libs/bite-tribe/store/src/lib/bucketlists/effects.ts
  libs/bite-tribe/store/src/lib/bucketlists/reducer.ts
  libs/bite-tribe/store/src/lib/bucketlists/selectors.ts
  libs/bite-tribe/store/src/lib/filtering-and-sorting/__specs__/actions.spec.ts
  libs/bite-tribe/store/src/lib/filtering-and-sorting/__specs__/reducer.spec.ts
  libs/bite-tribe/store/src/lib/filtering-and-sorting/__specs__/selectors.spec.ts
  libs/bite-tribe/store/src/lib/filtering-and-sorting/actions.ts
  libs/bite-tribe/store/src/lib/filtering-and-sorting/effects.ts
  libs/bite-tribe/store/src/lib/filtering-and-sorting/filtering-and-sorting-slice.model.ts
  libs/bite-tribe/store/src/lib/filtering-and-sorting/index.ts
  libs/bite-tribe/store/src/lib/filtering-and-sorting/key.ts
  libs/bite-tribe/store/src/lib/filtering-and-sorting/reducer.ts
  libs/bite-tribe/store/src/lib/filtering-and-sorting/selectors.ts
  libs/bite-tribe/store/src/lib/provide-bite-tribe-store.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, stylelint --fix

feat: limit to bites from radius 15 km
  libs/bite-tribe/api/src/lib/bite-api.service.ts
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/store/src/lib/bites/effects.ts
Due: eslint --fix, prettier --write

feat: 475 add buttons for position switch
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.scss
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: 475 show tick next to selected option
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
Due: eslint --fix, prettier --write

refactor: 475 improve code
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
Due: eslint --fix, prettier --write

test: 475 add unit test
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
Due: eslint --fix, prettier --write
