Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,html}": "eslint --fix",
  "*.{ts,js,html,scss,json,md}": "prettier --write",
  "*.scss": "stylelint --fix"
}

docs: howto reopen an issue for agents
  ssot/pages/Current State - Release Candidate Test Charter.md
  ssot/pages/GitHub Project Board And Issue Handling.md
Due: prettier --write

chore: test run 6 (#1311)
  ssot/pages/Agent Operating Contract.md
  ssot/pages/Current State - Release Candidate Test Charter.md
  ssot/pages/Feature Delivery Workflow.md
  ssot/pages/GitHub Project Board And Issue Handling.md
  ssot/pages/SSOT.md
Due: prettier --write

fix: use bitetribes display name instead of auth users
  libs/bite-tribe/api/src/lib/review-api/__specs__/review-api.service.spec.ts
  libs/bite-tribe/api/src/lib/review-api/review-api.service.ts
  libs/bite-tribe/api/src/lib/review-api/utils/__specs__/load-display-names-by-id.spec.ts
  libs/bite-tribe/api/src/lib/review-api/utils/__specs__/load-review-by-bite-id.spec.ts
  libs/bite-tribe/api/src/lib/review-api/utils/load-display-names-by-id.ts
  libs/bite-tribe/api/src/lib/review-api/utils/load-review-by-bite-id.ts
  ssot/pages/UC - Inspect Bite Details.md
Due: eslint --fix, prettier --write

fix: use bitetribes display name instead of auth users (#1312)
  libs/bite-tribe/api/src/lib/review-api/__specs__/review-api.service.spec.ts
  libs/bite-tribe/api/src/lib/review-api/review-api.service.ts
  libs/bite-tribe/api/src/lib/review-api/utils/__specs__/load-display-names-by-id.spec.ts
  libs/bite-tribe/api/src/lib/review-api/utils/__specs__/load-review-by-bite-id.spec.ts
  libs/bite-tribe/api/src/lib/review-api/utils/load-display-names-by-id.ts
  libs/bite-tribe/api/src/lib/review-api/utils/load-review-by-bite-id.ts
  ssot/pages/UC - Inspect Bite Details.md
Due: eslint --fix, prettier --write

fix: fix reading version from package.json
  apps/bite-tribe/src/native-version.spec.js
  eslint.config.mjs
  libs/bite-tribe-business/shell/src/lib/app.config.ts
  libs/bite-tribe/about/page/src/lib/components/about-page/about.page.html
  libs/bite-tribe/about/page/src/lib/components/about-page/about.page.ts
  libs/bite-tribe/api/src/lib/__specs__/profile-api.service.spec.ts
  libs/bite-tribe/api/src/lib/profile-api.service.ts
  libs/bite-tribe/shell/src/lib/app.config.ts
  libs/common/push-notifications/src/lib/push-installation.ts
  libs/common/ui/page/src/lib/menu/app-menu.component.html
  libs/common/ui/page/src/lib/menu/app-menu.component.ts
  libs/common/utils/src/index.ts
  libs/common/utils/src/lib/__specs__/app-release.spec.ts
  libs/common/utils/src/lib/app-release.ts
  package-lock.json
  package.json
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Implementation - Release And Build Workflow.md
  ssot/pages/Release Workflow.md
  tools/increment-build-number-and-generate-changelog.mjs
  tools/native-version.mjs
  tools/sync-native-version.mjs
Due: eslint --fix, prettier --write

fix: fix reading version from package.json (#1314)
  apps/bite-tribe/src/native-version.spec.js
  eslint.config.mjs
  libs/bite-tribe-business/shell/src/lib/app.config.ts
  libs/bite-tribe/about/page/src/lib/components/about-page/about.page.html
  libs/bite-tribe/about/page/src/lib/components/about-page/about.page.ts
  libs/bite-tribe/api/src/lib/__specs__/profile-api.service.spec.ts
  libs/bite-tribe/api/src/lib/profile-api.service.ts
  libs/bite-tribe/shell/src/lib/app.config.ts
  libs/common/push-notifications/src/lib/push-installation.ts
  libs/common/ui/page/src/lib/menu/app-menu.component.html
  libs/common/ui/page/src/lib/menu/app-menu.component.ts
  libs/common/utils/src/index.ts
  libs/common/utils/src/lib/__specs__/app-release.spec.ts
  libs/common/utils/src/lib/app-release.ts
  package-lock.json
  package.json
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Implementation - Release And Build Workflow.md
  ssot/pages/Release Workflow.md
  tools/increment-build-number-and-generate-changelog.mjs
  tools/native-version.mjs
  tools/sync-native-version.mjs
Due: eslint --fix, prettier --write

fix: not closing alert after back click
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.spec.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.ts
Due: eslint --fix, prettier --write

fix: not closing alert after back click (#1315)
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.spec.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.ts
Due: eslint --fix, prettier --write

chore: cleanup
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/restaurant/page/src/lib/integration/edit-restaurant.service.ts
Due: eslint --fix, prettier --write

refactor: split restaurant data-access by app (#1317)
  eslint.config.mjs
  libs/bite-tribe-business/restaurant/data-access/src/lib/__specs__/restaurant-data-access.service.spec.ts
  libs/bite-tribe-business/restaurant/data-access/src/lib/restaurant-data-access.service.ts
  libs/bite-tribe-business/restaurant/page/src/lib/integration/__specs__/edit-restaurant.service.spec.ts
  libs/bite-tribe-business/restaurant/page/src/lib/integration/edit-restaurant.service.ts
  libs/bite-tribe-business/start/project.json
  libs/bite-tribe/restaurant/data-access/src/lib/restaurant-data-access.service.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/edit-restaurant/__specs__/edit-restaurant.component.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/edit-restaurant/edit-restaurant.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/page/edit-restaurant/edit-restaurant.component.scss
  libs/bite-tribe/restaurant/page/src/lib/components/page/edit-restaurant/edit-restaurant.component.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/__specs__/edit-restaurant-container.component.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/__specs__/edit-restaurant.service.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/edit-restaurant-container.component.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/edit-restaurant.service.ts
  ssot/pages/Architecture - Nx Workspace.md
  ssot/pages/Implementation - Code Map.md
Due: eslint --fix, prettier --write, stylelint --fix

fix: update business e2e to the new toast copy
  apps/bite-tribe-business-e2e/src/pages/edit-restaurant.page.ts
  apps/bite-tribe-business-e2e/src/tests/maintain-restaurant.spec.ts
Due: eslint --fix, prettier --write

refactor: split restaurant data-access by app (#1317) (#1319)
  eslint.config.mjs
  libs/bite-tribe-business/restaurant/data-access/src/lib/__specs__/restaurant-data-access.service.spec.ts
  libs/bite-tribe-business/restaurant/data-access/src/lib/restaurant-data-access.service.ts
  libs/bite-tribe-business/restaurant/page/src/lib/integration/__specs__/edit-restaurant.service.spec.ts
  libs/bite-tribe-business/restaurant/page/src/lib/integration/edit-restaurant.service.ts
  libs/bite-tribe-business/start/project.json
  libs/bite-tribe/restaurant/data-access/src/lib/restaurant-data-access.service.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/edit-restaurant/__specs__/edit-restaurant.component.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/edit-restaurant/edit-restaurant.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/page/edit-restaurant/edit-restaurant.component.scss
  libs/bite-tribe/restaurant/page/src/lib/components/page/edit-restaurant/edit-restaurant.component.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/__specs__/edit-restaurant-container.component.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/__specs__/edit-restaurant.service.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/edit-restaurant-container.component.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/edit-restaurant.service.ts
  ssot/pages/Architecture - Nx Workspace.md
  ssot/pages/Implementation - Code Map.md
Due: eslint --fix, prettier --write, stylelint --fix

fix: position source modal never shows the position being selected
  libs/bite-tribe-common/map/src/lib/map/__specs__/map.component.spec.ts
  libs/bite-tribe-common/map/src/lib/map/__specs__/map.component.stories.ts
  libs/bite-tribe-common/map/src/lib/map/map.component.ts
  libs/bite-tribe-common/map/src/lib/map/utils/__specs__/zoom-to-gps-or-default.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  ssot/pages/UC - Create And Maintain Personal Bites.md
Due: eslint --fix, prettier --write

fix: position source modal never shows the position being selected (#1320)
  libs/bite-tribe-common/map/src/lib/map/__specs__/map.component.spec.ts
  libs/bite-tribe-common/map/src/lib/map/__specs__/map.component.stories.ts
  libs/bite-tribe-common/map/src/lib/map/map.component.ts
  libs/bite-tribe-common/map/src/lib/map/utils/__specs__/zoom-to-gps-or-default.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  ssot/pages/UC - Create And Maintain Personal Bites.md
Due: eslint --fix, prettier --write

fix: reply field has almost no room to type
  .loki/reference/chrome_iphone7_Components_Review_Thread_Composer_Open.png
  .loki/reference/chrome_iphone7_Pages_Bite_With_Review_Threads.png
  .loki/reference/chrome_laptop_Components_Review_Thread_Composer_Open.png
  .loki/reference/chrome_laptop_Pages_Bite_With_Review_Threads.png
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/details/page/src/lib/components/review-thread/__specs__/review-thread.component.spec.ts
  libs/bite-tribe/details/page/src/lib/components/review-thread/__specs__/review-thread.component.stories.ts
  libs/bite-tribe/details/page/src/lib/components/review-thread/review-thread.component.html
Due: eslint --fix, prettier --write

test: update loki refs
  .loki/reference/chrome_iphone7_Pages_Bite_Default.png
  .loki/reference/chrome_iphone7_Pages_Bite_My_Bite.png
  .loki/reference/chrome_iphone7_Pages_Bite_With_Description.png
  .loki/reference/chrome_iphone7_Pages_Bite_With_Older_Timestamp.png
  .loki/reference/chrome_iphone7_Pages_Bite_With_Preferred_Currency.png
  .loki/reference/chrome_iphone7_Pages_Bite_Without_Place_Or_Distance.png
  .loki/reference/chrome_iphone7_Pages_Bite_Without_Reader_Position.png
  .loki/reference/chrome_iphone7_Pages_Bite_Without_Tags.png
  .loki/reference/chrome_laptop_Pages_Bite_Default.png
  .loki/reference/chrome_laptop_Pages_Bite_My_Bite.png
  .loki/reference/chrome_laptop_Pages_Bite_With_Description.png
  .loki/reference/chrome_laptop_Pages_Bite_With_Older_Timestamp.png
  .loki/reference/chrome_laptop_Pages_Bite_With_Preferred_Currency.png
  .loki/reference/chrome_laptop_Pages_Bite_With_Review_Threads.png
  .loki/reference/chrome_laptop_Pages_Bite_Without_Place_Or_Distance.png
  .loki/reference/chrome_laptop_Pages_Bite_Without_Reader_Position.png
  .loki/reference/chrome_laptop_Pages_Bite_Without_Tags.png
Due: none

test: update failed loki refs
  .loki/reference/chrome_iphone7_Pages_Bite_Failed_Image.png
  .loki/reference/chrome_iphone7_Pages_Bite_Pending_Image_For_Owner.png
  .loki/reference/chrome_iphone7_Pages_Bite_Pending_Image_For_Viewer.png
  .loki/reference/chrome_laptop_Pages_Bite_Failed_Image.png
  .loki/reference/chrome_laptop_Pages_Bite_Pending_Image_For_Owner.png
  .loki/reference/chrome_laptop_Pages_Bite_Pending_Image_For_Viewer.png
Due: none

fix: reply field has almost no room to type (#1321)
  .loki/reference/chrome_iphone7_Components_Review_Thread_Composer_Open.png
  .loki/reference/chrome_iphone7_Pages_Bite_Default.png
  .loki/reference/chrome_iphone7_Pages_Bite_Failed_Image.png
  .loki/reference/chrome_iphone7_Pages_Bite_My_Bite.png
  .loki/reference/chrome_iphone7_Pages_Bite_Pending_Image_For_Owner.png
  .loki/reference/chrome_iphone7_Pages_Bite_Pending_Image_For_Viewer.png
  .loki/reference/chrome_iphone7_Pages_Bite_With_Description.png
  .loki/reference/chrome_iphone7_Pages_Bite_With_Older_Timestamp.png
  .loki/reference/chrome_iphone7_Pages_Bite_With_Preferred_Currency.png
  .loki/reference/chrome_iphone7_Pages_Bite_With_Review_Threads.png
  .loki/reference/chrome_iphone7_Pages_Bite_Without_Place_Or_Distance.png
  .loki/reference/chrome_iphone7_Pages_Bite_Without_Reader_Position.png
  .loki/reference/chrome_iphone7_Pages_Bite_Without_Tags.png
  .loki/reference/chrome_laptop_Components_Review_Thread_Composer_Open.png
  .loki/reference/chrome_laptop_Pages_Bite_Default.png
  .loki/reference/chrome_laptop_Pages_Bite_Failed_Image.png
  .loki/reference/chrome_laptop_Pages_Bite_My_Bite.png
  .loki/reference/chrome_laptop_Pages_Bite_Pending_Image_For_Owner.png
  .loki/reference/chrome_laptop_Pages_Bite_Pending_Image_For_Viewer.png
  .loki/reference/chrome_laptop_Pages_Bite_With_Description.png
  .loki/reference/chrome_laptop_Pages_Bite_With_Older_Timestamp.png
  .loki/reference/chrome_laptop_Pages_Bite_With_Preferred_Currency.png
  .loki/reference/chrome_laptop_Pages_Bite_With_Review_Threads.png
  .loki/reference/chrome_laptop_Pages_Bite_Without_Place_Or_Distance.png
  .loki/reference/chrome_laptop_Pages_Bite_Without_Reader_Position.png
  .loki/reference/chrome_laptop_Pages_Bite_Without_Tags.png
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/details/page/src/lib/components/review-thread/__specs__/review-thread.component.spec.ts
  libs/bite-tribe/details/page/src/lib/components/review-thread/__specs__/review-thread.component.stories.ts
  libs/bite-tribe/details/page/src/lib/components/review-thread/review-thread.component.html
Due: eslint --fix, prettier --write

fix: optimistic update profile data
  libs/bite-tribe/bite/data-access/src/lib/__specs__/bite-data-access.service.spec.ts
  libs/bite-tribe/bite/data-access/src/lib/bite-data-access.service.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/__specs__/profile.component.spec.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/components/profile-header.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.ts
  libs/bite-tribe/store/src/lib/app/__specs__/reducer.spec.ts
  libs/bite-tribe/store/src/lib/app/reducer.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/actions.spec.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/reducer.spec.ts
  libs/bite-tribe/store/src/lib/bites/actions.ts
  libs/bite-tribe/store/src/lib/bites/reducer.ts
  ssot/pages/Architecture - State Management.md
Due: eslint --fix, prettier --write

refactor: remove snapshotlistener
  libs/bite-tribe/api/src/lib/__specs__/profile-api.service.spec.ts
  libs/bite-tribe/api/src/lib/profile-api.service.ts
  libs/bite-tribe/store/src/lib/app/effects.ts
  ssot/pages/Architecture - State Management.md
Due: eslint --fix, prettier --write

fix: profile bite count is state after creating a bite until app restarts (#1322)
  libs/bite-tribe/api/src/lib/__specs__/profile-api.service.spec.ts
  libs/bite-tribe/api/src/lib/profile-api.service.ts
  libs/bite-tribe/bite/data-access/src/lib/__specs__/bite-data-access.service.spec.ts
  libs/bite-tribe/bite/data-access/src/lib/bite-data-access.service.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/__specs__/profile.component.spec.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/components/profile-header.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.ts
  libs/bite-tribe/store/src/lib/app/__specs__/reducer.spec.ts
  libs/bite-tribe/store/src/lib/app/effects.ts
  libs/bite-tribe/store/src/lib/app/reducer.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/actions.spec.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/reducer.spec.ts
  libs/bite-tribe/store/src/lib/bites/actions.ts
  libs/bite-tribe/store/src/lib/bites/reducer.ts
  ssot/pages/Architecture - State Management.md
Due: eslint --fix, prettier --write

chore: prepare build 1.0.1-94 release
  CHANGELOG.md
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: prettier --write

chore: prepare build 1.0.1-94 release (#1324)
  CHANGELOG.md
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: prettier --write

chore: prepare release
  ssot/pages/Current State - Release Candidate Test Charter.md
Due: prettier --write

docs: test run 7 ios and web with findings via web
  ssot/pages/Current State - Release Candidate Test Charter.md
Due: prettier --write

chore: test run 7 (#1332)
  ssot/pages/Current State - Release Candidate Test Charter.md
Due: prettier --write

fix: fix wording for filter with no hits in bucket list
  .loki/reference/chrome_iphone7_Components_Bite_List_Empty_Search_Result.png
  .loki/reference/chrome_laptop_Components_Bite_List_Empty_Search_Result.png
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/home.component.spec.ts
  libs/bite-tribe/home/page/src/lib/components/page/bite-list/__specs__/bite-list.component.spec.ts
  libs/bite-tribe/home/page/src/lib/components/page/bite-list/__specs__/bite-list.stories.ts
  libs/bite-tribe/home/page/src/lib/components/page/bite-list/bite-list.component.html
  libs/bite-tribe/home/page/src/lib/components/page/bite-list/bite-list.component.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  ssot/pages/UC - Discover Bites.md
Due: eslint --fix, prettier --write

fix: fix hardcoded search placeholder
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
Due: eslint --fix, prettier --write

fix: fix alert per line and guard to make sure it effects the right item
  libs/bite-tribe-common/bite/src/lib/__specs__/bite.component.spec.ts
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe/followers/page/src/lib/components/followers-list/__specs__/followers-list.component.spec.ts
  libs/bite-tribe/followers/page/src/lib/components/followers-list/followers-list.component.html
  libs/bite-tribe/followers/page/src/lib/components/followers-list/followers-list.component.ts
  ssot/pages/Implementation - Ionic Patterns.md
Due: eslint --fix, prettier --write

fix: fix wording for filter with no hits in bucket list (#1333)
  .loki/reference/chrome_iphone7_Components_Bite_List_Empty_Search_Result.png
  .loki/reference/chrome_laptop_Components_Bite_List_Empty_Search_Result.png
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/home.component.spec.ts
  libs/bite-tribe/home/page/src/lib/components/page/bite-list/__specs__/bite-list.component.spec.ts
  libs/bite-tribe/home/page/src/lib/components/page/bite-list/__specs__/bite-list.stories.ts
  libs/bite-tribe/home/page/src/lib/components/page/bite-list/bite-list.component.html
  libs/bite-tribe/home/page/src/lib/components/page/bite-list/bite-list.component.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  ssot/pages/UC - Discover Bites.md
Due: eslint --fix, prettier --write

fix: marker color according selection
  libs/bite-tribe-common/map/src/lib/position/__specs__/position.component.spec.ts
  libs/bite-tribe-common/map/src/lib/position/position.component.ts
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
Due: eslint --fix, prettier --write

test: update loki refs
  .loki/reference/chrome_iphone7_Components_Bite_Bite.png
  .loki/reference/chrome_iphone7_Components_Bite_Edit_Mode.png
  .loki/reference/chrome_iphone7_Components_Bite_Failed_Upload.png
  .loki/reference/chrome_iphone7_Components_Bite_Failed_Upload_For_Owner.png
  .loki/reference/chrome_iphone7_Components_Bite_Liked_By_Me.png
  .loki/reference/chrome_iphone7_Components_Bite_Liked_By_Me_With_Lagging_Aggregate.png
  .loki/reference/chrome_iphone7_Components_Bite_Long_Place_And_Location.png
  .loki/reference/chrome_iphone7_Components_Bite_Missing_Photo.png
  .loki/reference/chrome_iphone7_Components_Bite_No_Rating.png
  .loki/reference/chrome_iphone7_Components_Bite_Pending_To_Uploaded.png
  .loki/reference/chrome_iphone7_Components_Bite_Pending_Upload.png
  .loki/reference/chrome_iphone7_Components_Bite_Pending_Upload_For_Viewer.png
  .loki/reference/chrome_iphone7_Components_Bite_Quick_Rating.png
  .loki/reference/chrome_iphone7_Components_Bite_Quick_Rating_For_Edit_Mode.png
  .loki/reference/chrome_iphone7_Components_Bite_Uploaded_State.png
  .loki/reference/chrome_laptop_Components_Bite_Bite.png
  .loki/reference/chrome_laptop_Components_Bite_Edit_Mode.png
  .loki/reference/chrome_laptop_Components_Bite_Failed_Upload.png
  .loki/reference/chrome_laptop_Components_Bite_Failed_Upload_For_Owner.png
  .loki/reference/chrome_laptop_Components_Bite_Liked_By_Me.png
  .loki/reference/chrome_laptop_Components_Bite_Liked_By_Me_With_Lagging_Aggregate.png
  .loki/reference/chrome_laptop_Components_Bite_Long_Place_And_Location.png
  .loki/reference/chrome_laptop_Components_Bite_Missing_Photo.png
  .loki/reference/chrome_laptop_Components_Bite_No_Rating.png
  .loki/reference/chrome_laptop_Components_Bite_Pending_To_Uploaded.png
  .loki/reference/chrome_laptop_Components_Bite_Pending_Upload.png
  .loki/reference/chrome_laptop_Components_Bite_Pending_Upload_For_Viewer.png
  .loki/reference/chrome_laptop_Components_Bite_Quick_Rating.png
  .loki/reference/chrome_laptop_Components_Bite_Quick_Rating_For_Edit_Mode.png
  .loki/reference/chrome_laptop_Components_Bite_Uploaded_State.png
Due: none

fix: fix alert per line and guard to make sure it effects the right item (#1335)
  .loki/reference/chrome_iphone7_Components_Bite_Bite.png
  .loki/reference/chrome_iphone7_Components_Bite_Edit_Mode.png
  .loki/reference/chrome_iphone7_Components_Bite_Failed_Upload.png
  .loki/reference/chrome_iphone7_Components_Bite_Failed_Upload_For_Owner.png
  .loki/reference/chrome_iphone7_Components_Bite_Liked_By_Me.png
  .loki/reference/chrome_iphone7_Components_Bite_Liked_By_Me_With_Lagging_Aggregate.png
  .loki/reference/chrome_iphone7_Components_Bite_Long_Place_And_Location.png
  .loki/reference/chrome_iphone7_Components_Bite_Missing_Photo.png
  .loki/reference/chrome_iphone7_Components_Bite_No_Rating.png
  .loki/reference/chrome_iphone7_Components_Bite_Pending_To_Uploaded.png
  .loki/reference/chrome_iphone7_Components_Bite_Pending_Upload.png
  .loki/reference/chrome_iphone7_Components_Bite_Pending_Upload_For_Viewer.png
  .loki/reference/chrome_iphone7_Components_Bite_Quick_Rating.png
  .loki/reference/chrome_iphone7_Components_Bite_Quick_Rating_For_Edit_Mode.png
  .loki/reference/chrome_iphone7_Components_Bite_Uploaded_State.png
  .loki/reference/chrome_laptop_Components_Bite_Bite.png
  .loki/reference/chrome_laptop_Components_Bite_Edit_Mode.png
  .loki/reference/chrome_laptop_Components_Bite_Failed_Upload.png
  .loki/reference/chrome_laptop_Components_Bite_Failed_Upload_For_Owner.png
  .loki/reference/chrome_laptop_Components_Bite_Liked_By_Me.png
  .loki/reference/chrome_laptop_Components_Bite_Liked_By_Me_With_Lagging_Aggregate.png
  .loki/reference/chrome_laptop_Components_Bite_Long_Place_And_Location.png
  .loki/reference/chrome_laptop_Components_Bite_Missing_Photo.png
  .loki/reference/chrome_laptop_Components_Bite_No_Rating.png
  .loki/reference/chrome_laptop_Components_Bite_Pending_To_Uploaded.png
  .loki/reference/chrome_laptop_Components_Bite_Pending_Upload.png
  .loki/reference/chrome_laptop_Components_Bite_Pending_Upload_For_Viewer.png
  .loki/reference/chrome_laptop_Components_Bite_Quick_Rating.png
  .loki/reference/chrome_laptop_Components_Bite_Quick_Rating_For_Edit_Mode.png
  .loki/reference/chrome_laptop_Components_Bite_Uploaded_State.png
  libs/bite-tribe-common/bite/src/lib/__specs__/bite.component.spec.ts
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe/followers/page/src/lib/components/followers-list/__specs__/followers-list.component.spec.ts
  libs/bite-tribe/followers/page/src/lib/components/followers-list/followers-list.component.html
  libs/bite-tribe/followers/page/src/lib/components/followers-list/followers-list.component.ts
  ssot/pages/Implementation - Ionic Patterns.md
Due: eslint --fix, prettier --write

fix: show restaurants nearby by bite position instead of device position
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/bite/page/src/lib/components/page/utils/__specs__/restaurants-near-bite.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/utils/restaurants-near-bite.ts
Due: eslint --fix, prettier --write

fix: show restaurants nearby by bite position instead of device position (#1336)
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/bite/page/src/lib/components/page/utils/__specs__/restaurants-near-bite.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/utils/restaurants-near-bite.ts
Due: eslint --fix, prettier --write

fix: advance with pre-selected profile visibility in onboarding
  .loki/reference/chrome_iphone7_Pages_Onboarding_Visibility_Step.png
  .loki/reference/chrome_laptop_Pages_Onboarding_Visibility_Step.png
  apps/bite-tribe-e2e/src/pages/onboarding.page.ts
  libs/bite-tribe/onboarding/page/src/lib/components/onboarding-page/__specs__/onboarding-page.stories.ts
  libs/bite-tribe/onboarding/page/src/lib/components/visibility-step/__specs__/visibility-step.component.spec.ts
  libs/bite-tribe/onboarding/page/src/lib/components/visibility-step/visibility-step.component.html
  libs/bite-tribe/onboarding/page/src/lib/components/visibility-step/visibility-step.component.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/__specs__/onboarding.service.spec.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/onboarding.service.ts
Due: eslint --fix, prettier --write

fix: marker color according selection (#1337)
  libs/bite-tribe-common/map/src/lib/position/__specs__/position.component.spec.ts
  libs/bite-tribe-common/map/src/lib/position/position.component.ts
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
Due: eslint --fix, prettier --write

fix: advance with pre-selected profile visibility in onboarding (#1338)
  .loki/reference/chrome_iphone7_Pages_Onboarding_Visibility_Step.png
  .loki/reference/chrome_laptop_Pages_Onboarding_Visibility_Step.png
  apps/bite-tribe-e2e/src/pages/onboarding.page.ts
  libs/bite-tribe/onboarding/page/src/lib/components/onboarding-page/__specs__/onboarding-page.stories.ts
  libs/bite-tribe/onboarding/page/src/lib/components/visibility-step/__specs__/visibility-step.component.spec.ts
  libs/bite-tribe/onboarding/page/src/lib/components/visibility-step/visibility-step.component.html
  libs/bite-tribe/onboarding/page/src/lib/components/visibility-step/visibility-step.component.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/__specs__/onboarding.service.spec.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/onboarding.service.ts
Due: eslint --fix, prettier --write
