Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,html}": "eslint --fix",
  "*.{ts,js,html,scss,json,md}": "prettier --write",
  "*.scss": "stylelint --fix"
}

chore: migrate chart to vitest
  libs/common/ui/chart/jest.config.ts
  libs/common/ui/chart/project.json
  libs/common/ui/chart/src/lib/chart/utils/__specs__/__snapshots__/with-padded-data.spec.ts.snap
  libs/common/ui/chart/src/test-setup.ts
  libs/common/ui/chart/tsconfig.lib.json
  libs/common/ui/chart/tsconfig.spec.json
  libs/common/ui/chart/vite.config.mts
Due: eslint --fix, prettier --write

chore: migrate distance to vitest
  libs/common/distance/jest.config.ts
  libs/common/distance/project.json
  libs/common/distance/src/lib/components/distance/__specs__/distance.component.spec.ts
  libs/common/distance/src/lib/pipes/__specs__/round-distance.pipe.spec.ts
  libs/common/distance/src/lib/pipes/__specs__/to-metric.pipe.spec.ts
  libs/common/distance/src/test-setup.ts
  libs/common/distance/tsconfig.lib.json
  libs/common/distance/tsconfig.spec.json
  libs/common/distance/vite.config.mts
Due: eslint --fix, prettier --write

chore: migrate geoapify-service to vitest
  libs/common/geoapify/jest.config.ts
  libs/common/geoapify/project.json
  libs/common/geoapify/src/test-setup.ts
  libs/common/geoapify/tsconfig.lib.json
  libs/common/geoapify/tsconfig.spec.json
  libs/common/geoapify/vite.config.mts
Due: eslint --fix, prettier --write

chore: migrate auth to vitest
  libs/common/ui/auth/jest.config.ts
  libs/common/ui/auth/project.json
  libs/common/ui/auth/src/lib/integration/login/__specs__/login-container.component.spec.ts
  libs/common/ui/auth/src/test-setup.ts
  libs/common/ui/auth/tsconfig.lib.json
  libs/common/ui/auth/tsconfig.spec.json
  libs/common/ui/auth/vite.config.mts
Due: eslint --fix, prettier --write

chore: migrate bite-tribe/api to vitest
  libs/bite-tribe/api/jest.config.ts
  libs/bite-tribe/api/project.json
  libs/bite-tribe/api/src/test-setup.ts
  libs/bite-tribe/api/tsconfig.lib.json
  libs/bite-tribe/api/tsconfig.spec.json
  libs/bite-tribe/api/vite.config.mts
Due: eslint --fix, prettier --write

chore: migrate common-ui-card to vitest
  libs/common/ui/card/jest.config.ts
  libs/common/ui/card/project.json
  libs/common/ui/card/src/test-setup.ts
  libs/common/ui/card/tsconfig.lib.json
  libs/common/ui/card/tsconfig.spec.json
  libs/common/ui/card/vite.config.mts
Due: eslint --fix, prettier --write

chore: migrate common-ui-page to vitest
  libs/common/ui/page/jest.config.ts
  libs/common/ui/page/src/test-setup.ts
Due: eslint --fix, prettier --write

chore: migrate common-ui-page to vitest
  libs/common/ui/page/project.json
  libs/common/ui/page/src/test-setup.ts
  libs/common/ui/page/tsconfig.lib.json
  libs/common/ui/page/tsconfig.spec.json
  libs/common/ui/page/vite.config.mts
Due: eslint --fix, prettier --write

chore: migrate tags to vitest
  libs/common/ui/tags/jest.config.ts
  libs/common/ui/tags/project.json
  libs/common/ui/tags/src/lib/tags-input/__specs__/tags-input.component.spec.ts
  libs/common/ui/tags/src/test-setup.ts
  libs/common/ui/tags/tsconfig.lib.json
  libs/common/ui/tags/tsconfig.spec.json
  libs/common/ui/tags/vite.config.mts
Due: eslint --fix, prettier --write

chore: migrate utils-common to vitest
  libs/common/utils/jest.config.ts
  libs/common/utils/project.json
  libs/common/utils/src/test-setup.ts
  libs/common/utils/tsconfig.lib.json
  libs/common/utils/tsconfig.spec.json
  libs/common/utils/vite.config.mts
Due: eslint --fix, prettier --write

chore: migrate bite-tribe to vitest
  apps/bite-tribe/jest.config.ts
  apps/bite-tribe/project.json
  apps/bite-tribe/src/app/app.component.spec.ts
  apps/bite-tribe/src/test-setup.ts
  apps/bite-tribe/tsconfig.app.json
  apps/bite-tribe/tsconfig.spec.json
  apps/bite-tribe/vite.config.mts
Due: eslint --fix, prettier --write

chore: move passWithNoTests to nx.json
  jest.config.ts
  jest.preset.js
  libs/bite-tribe-business/dashboard/data-access/project.json
  libs/bite-tribe-business/dashboard/page/project.json
  libs/bite-tribe-business/migrations/data-access/project.json
  libs/bite-tribe-business/restaurant/data-access/project.json
  libs/bite-tribe-business/shell/project.json
  libs/bite-tribe/api/project.json
  libs/bite-tribe/bite/data-access/project.json
  libs/bite-tribe/home/data-access/project.json
  libs/bite-tribe/menu/data-access/project.json
  libs/bite-tribe/profile/data-access/project.json
  libs/bite-tribe/restaurant/data-access/project.json
  libs/bite-tribe/settings/data-access/project.json
  libs/bite-tribe/shell/project.json
  libs/common/geoapify/project.json
  libs/common/localization/project.json
  libs/common/networkstatus/feature/project.json
  nx.json
Due: eslint --fix, prettier --write

chore: cleanup
  apps/bite-tribe/src/app/__specs__/app.component.spec.ts
  jest.config.ts
  jest.preset.js
Due: eslint --fix, prettier --write

chore: add @awesome-cordova-plugins/core (recommendation)
  package-lock.json
  package.json
Due: prettier --write

chore: update ionic/capacitor and remove jest
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-android/android/app/src/main/AndroidManifest.xml
  apps/bite-tribe-android/android/build.gradle
  apps/bite-tribe-android/android/gradle/wrapper/gradle-wrapper.properties
  apps/bite-tribe-android/android/variables.gradle
  apps/bite-tribe-android/package-lock.json
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  apps/bite-tribe-ios/ios/App/Podfile
  package-lock.json
  package.json
Due: prettier --write

chore: intermediate commit
  __mocks__/@awesome-cordova-plugins/geolocation/ngx/index.ts
  __mocks__/fetch.js
  __mocks__/flat/index.ts
  __mocks__/memoizee/index.ts
  __mocks__/resize-observer.js
Due: eslint --fix, prettier --write

chore: migrate password-validator to vitest
  libs/common/ui/password-validator/jest.config.ts
  libs/common/ui/password-validator/project.json
  libs/common/ui/password-validator/src/test-setup.ts
  libs/common/ui/password-validator/tsconfig.lib.json
  libs/common/ui/password-validator/tsconfig.spec.json
  libs/common/ui/password-validator/vite.config.mts
Due: eslint --fix, prettier --write

chore: migrate bite-tribe-business/restaurant to vitest
  libs/bite-tribe-business/restaurant/page/jest.config.ts
  libs/bite-tribe-business/restaurant/page/project.json
  libs/bite-tribe-business/restaurant/page/src/test-setup.ts
  libs/bite-tribe-business/restaurant/page/tsconfig.lib.json
  libs/bite-tribe-business/restaurant/page/tsconfig.spec.json
  libs/bite-tribe-business/restaurant/page/vite.config.mts
Due: eslint --fix, prettier --write

chore: readd overrides
  package.json
Due: prettier --write

chore: mock bite-tribe/store library
  libs/bite-tribe/bucketlist/data-access/src/lib/__specs__/bucketlists-data-access.service.spec.ts
Due: eslint --fix, prettier --write

chore: migrate bite-tribe/details-data-access to vitest
  libs/bite-tribe/details/data-access/project.json
  libs/bite-tribe/details/data-access/src/test-setup.ts
  libs/bite-tribe/details/data-access/tsconfig.lib.json
  libs/bite-tribe/details/data-access/tsconfig.spec.json
  libs/bite-tribe/details/data-access/vite.config.mts
Due: eslint --fix, prettier --write

chore: update dependencies
  .github/actions/setup/action.yml
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-android/android/app/src/main/AndroidManifest.xml
  apps/bite-tribe-android/android/build.gradle
  apps/bite-tribe-android/android/gradle/wrapper/gradle-wrapper.properties
  apps/bite-tribe-android/android/variables.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  apps/bite-tribe-ios/ios/App/Podfile
  package.json
Due: prettier --write

chore: npm i
  package-lock.json
Due: prettier --write

chore: update dependencies (#527)
  .github/actions/setup/action.yml
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-android/android/app/src/main/AndroidManifest.xml
  apps/bite-tribe-android/android/build.gradle
  apps/bite-tribe-android/android/gradle/wrapper/gradle-wrapper.properties
  apps/bite-tribe-android/android/variables.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  apps/bite-tribe-ios/ios/App/Podfile
  package-lock.json
  package.json
Due: prettier --write

chore: npm i and update podfile
  apps/bite-tribe-android/package-lock.json
  apps/bite-tribe-ios/ios/App/Podfile.lock
  apps/bite-tribe-ios/package-lock.json
Due: prettier --write

chore: update-dependencies (#528)
  apps/bite-tribe-android/package-lock.json
  apps/bite-tribe-ios/ios/App/Podfile.lock
  apps/bite-tribe-ios/package-lock.json
Due: prettier --write

fix: fix spacing on android with hardware buttons
  apps/bite-tribe/src/theme/variables.scss
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.html
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.html
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, stylelint --fix

chore: increase versionCode
  apps/bite-tribe-android/android/app/build.gradle
Due: none

fix: fix preferences plugin loading in native apps
  apps/bite-tribe-android/android/app/capacitor.build.gradle
  apps/bite-tribe-android/android/capacitor.settings.gradle
  apps/bite-tribe-android/package-lock.json
  apps/bite-tribe-android/package.json
  apps/bite-tribe-ios/package.json
Due: prettier --write

fix: fix android back button click bahavior
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-android/android/app/capacitor.build.gradle
  apps/bite-tribe-android/android/capacitor.settings.gradle
  apps/bite-tribe-android/package-lock.json
  apps/bite-tribe-android/package.json
  apps/bite-tribe-ios/package.json
  apps/bite-tribe/ngsw-config.json
Due: prettier --write

fix: fix android back button behavior
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe/src/app/app.component.spec.ts
  apps/bite-tribe/src/app/app.component.ts
Due: eslint --fix, prettier --write

test: add test for handleBackButton method
  apps/bite-tribe/src/app/app.component.spec.ts
  apps/bite-tribe/src/app/app.component.ts
Due: eslint --fix, prettier --write

refactor: feedback from pr
  apps/bite-tribe/src/app/app.component.spec.ts
  apps/bite-tribe/src/app/app.component.ts
Due: eslint --fix, prettier --write

test: increase test coverage
  apps/bite-tribe/src/app/app.component.spec.ts
  apps/bite-tribe/src/app/app.component.ts
Due: eslint --fix, prettier --write

fix: android fixs (#529)
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-android/android/app/capacitor.build.gradle
  apps/bite-tribe-android/android/capacitor.settings.gradle
  apps/bite-tribe-android/package-lock.json
  apps/bite-tribe-android/package.json
  apps/bite-tribe-ios/package.json
  apps/bite-tribe/ngsw-config.json
  apps/bite-tribe/src/app/app.component.spec.ts
  apps/bite-tribe/src/app/app.component.ts
  apps/bite-tribe/src/theme/variables.scss
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.html
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.html
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, stylelint --fix

feat: refresh gps on create bite page entry
  libs/bite-tribe/store/src/lib/app/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/app/effects.ts
Due: eslint --fix, prettier --write

fix: fix showing no map when gps position is disabled
  libs/bite-tribe-common/map/src/lib/map/map.component.ts
  libs/bite-tribe-common/map/src/lib/map/utils/zoom-to-gps-or-default.ts
  libs/bite-tribe-common/map/src/lib/position/position.component.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
Due: eslint --fix, prettier --write

test: extend test suite
  libs/bite-tribe-common/map/src/lib/map/__specs__/map.component.spec.ts
  libs/bite-tribe-common/map/src/lib/position/__specs__/position.component.spec.ts
Due: eslint --fix, prettier --write

refactor: use urlAfterRedirects instead of url
  libs/bite-tribe/store/src/lib/app/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/app/effects.ts
Due: eslint --fix, prettier --write
