Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

chore: add implicit dependencies from ios android and storybook to bite-tribe
  apps/bite-tribe-android/project.json
  apps/bite-tribe-e2e/project.json
  apps/bite-tribe-ios/project.json
  apps/storybook-host/project.json
Due: prettier --write

refactor: move model to bite-tribe-common folder
  apps/bite-tribe/src/environments/environment.ts
  libs/bite-tribe-common/model/README.md
  libs/bite-tribe-common/model/project.json
  libs/bite-tribe-common/model/src/index.ts
  libs/bite-tribe-common/model/src/lib/bite.ts
  libs/bite-tribe-common/model/src/lib/bucketlist.ts
  libs/bite-tribe-common/model/src/lib/create-and-save-to-bucket-list-params.ts
  libs/bite-tribe-common/model/src/lib/geopoint.ts
  libs/bite-tribe-common/model/src/lib/like.ts
  libs/bite-tribe-common/model/src/lib/link.ts
  libs/bite-tribe-common/model/src/lib/menu.ts
  libs/bite-tribe-common/model/src/lib/profile-meta-data.ts
  libs/bite-tribe-common/model/src/lib/public-user.ts
  libs/bite-tribe-common/model/src/lib/remove-bite-from-bucketlist-params.ts
  libs/bite-tribe-common/model/src/lib/restaurant.ts
  libs/bite-tribe-common/model/src/lib/review.ts
  libs/bite-tribe-common/model/src/lib/save-to-bucket-list-params.ts
  libs/bite-tribe-common/model/src/lib/settings.ts
  libs/bite-tribe-common/model/src/lib/user.ts
  libs/bite-tribe-common/model/tsconfig.json
  libs/bite-tribe-common/model/tsconfig.lib.json
  libs/bite-tribe/shell/src/index.ts
  tsconfig.base.json
Due: eslint --fix, prettier --write

test: adjust tests
  libs/bite-tribe/api/src/lib/__specs__/bite-tribe-api.service.spec.ts
  libs/bite-tribe/api/src/lib/bucketlist-api/__specs__/bucketlist-api.service.spec.ts
  libs/bite-tribe/api/src/lib/like-api/like-api.service.ts
  libs/bite-tribe/api/src/lib/menu-api/__specs__/menu-api.service.spec.ts
  libs/bite-tribe/api/src/lib/menu-api/menu-api.service.ts
  libs/bite-tribe/api/src/lib/menu-api/utils/__specs__/get-menu-by-id.spec.ts
  libs/bite-tribe/api/src/lib/profile-api.service.ts
  libs/bite-tribe/api/src/lib/restaurant-api/restaurant-api.service.ts
  libs/bite-tribe/api/src/lib/review-api/__specs__/review-api.service.spec.ts
  libs/bite-tribe/api/src/lib/review-api/review-api.service.ts
Due: eslint --fix, prettier --write

test: adjust tests
  libs/bite-tribe/api/src/lib/restaurant-api/__specs__/restaurant-api.service.spec.ts
  libs/bite-tribe/api/src/lib/restaurant-api/restaurant-api.service.ts
  libs/bite-tribe/api/src/lib/restaurant-api/utils/__specs__/get-restaurant-by-id.spec.ts
  libs/bite-tribe/api/src/lib/restaurant-api/utils/get-restaurant-by-id.ts
Due: eslint --fix, prettier --write

test: adjust tests
  libs/bite-tribe/store/src/lib/app/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/actions.spec.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/reducer.spec.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/selectors.spec.ts
Due: eslint --fix, prettier --write

fix: adjust to see if free or paid user
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.ts
Due: eslint --fix, prettier --write

test: extend test coverage
  libs/bite-tribe/store/src/lib/bucketlists/actions.ts
  libs/bite-tribe/store/src/lib/bucketlists/effects.ts
  libs/bite-tribe/store/src/lib/bucketlists/utils/__specs__/should-load-bucketlists.spec.ts
  libs/bite-tribe/store/src/lib/bucketlists/utils/should-load-bucketlists.ts
Due: eslint --fix, prettier --write

refactor: move getUser to auth service
  libs/bite-tribe/api/src/lib/bite-api/bite-api.service.ts
  libs/bite-tribe/api/src/lib/bucketlist-api/bucketlist-api.service.ts
  libs/bite-tribe/api/src/lib/like-api/like-api.service.ts
  libs/bite-tribe/api/src/lib/profile-api.service.ts
  libs/bite-tribe/api/src/lib/review-api/review-api.service.ts
  libs/bite-tribe/api/src/lib/settings-api.service.ts
  libs/bite-tribe/store/src/lib/bucketlists/effects.ts
  libs/common/ta-firestore/src/lib/auth.service.ts
Due: eslint --fix, prettier --write

test: adjust tests
  libs/bite-tribe/api/src/lib/__specs__/profile-api.service.spec.ts
  libs/bite-tribe/api/src/lib/__specs__/settings-api.service.spec.ts
  libs/bite-tribe/api/src/lib/bite-api/__specs__/bite-api.service.spec.ts
  libs/bite-tribe/api/src/lib/bucketlist-api/__specs__/bucketlist-api.service.spec.ts
  libs/bite-tribe/api/src/lib/like-api/__specs__/like-api.service.spec.ts
  libs/bite-tribe/api/src/lib/review-api/__specs__/review-api.service.spec.ts
Due: eslint --fix, prettier --write

test: extend test suite
  libs/bite-tribe/store/src/lib/bucketlists/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/bucketlists/effects.ts
Due: eslint --fix, prettier --write

test: extend test suite
  libs/bite-tribe/api/src/lib/__specs__/bite-tribe-api.service.spec.ts
Due: eslint --fix, prettier --write

test: extend test suite
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/__specs__/profile.component.spec.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/selectors.spec.ts
  libs/bite-tribe/store/src/lib/bites/selectors.ts
Due: eslint --fix, prettier --write

test: fix test
  libs/bite-tribe/api/src/lib/settings-api.service.ts
  libs/bite-tribe/api/src/lib/utils/constants.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/reducer.spec.ts
Due: eslint --fix, prettier --write

test: extend test suite
  libs/bite-tribe/api/src/lib/__specs__/settings-api.service.spec.ts
Due: eslint --fix, prettier --write

test: extend test suite
  libs/bite-tribe/api/src/lib/__specs__/settings-api.service.spec.ts
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/api/src/lib/settings-api.service.ts
  libs/bite-tribe/api/src/lib/settings-api/__specs__/settings-api.service.spec.ts
  libs/bite-tribe/api/src/lib/settings-api/settings-api.service.ts
  libs/bite-tribe/api/src/lib/settings-api/utils/__specs__/load-settings-by-user-id.spec.ts
  libs/bite-tribe/api/src/lib/settings-api/utils/load-settings-by-user-id.ts
  libs/bite-tribe/store/src/lib/app/effects.ts
Due: eslint --fix, prettier --write

feat: 403 init marker clustering
  apps/bite-tribe/project.json
  apps/bite-tribe/src/global.scss
  libs/bite-tribe-common/map/src/lib/map/map.component.ts
  libs/bite-tribe-common/map/src/lib/map/utils/clear-markers.ts
  libs/bite-tribe-common/map/src/lib/map/utils/geopoints-to-markers.ts
  libs/bite-tribe/store/src/lib/app/selectors.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, stylelint --fix

test: adjust tests
  libs/bite-tribe/api/src/lib/__specs__/bite-tribe-api.service.spec.ts
  libs/bite-tribe/store/src/lib/app/__specs__/effects.spec.ts
Due: eslint --fix, prettier --write

test: extend test suite
  libs/bite-tribe/store/src/lib/app/__specs__/effects.spec.ts
Due: eslint --fix, prettier --write

test: extend test suite
  libs/bite-tribe/api/src/lib/bucketlist-api/__specs__/bucketlist-api.service.spec.ts
  libs/bite-tribe/api/src/lib/bucketlist-api/utils/__specs__/load-bucketlists-by-user-id.spec.ts
  libs/bite-tribe/api/src/lib/like-api/__specs__/like-api.service.spec.ts
  libs/bite-tribe/api/src/lib/like-api/utils/__specs__/load-likes-by-bites.spec.ts
  libs/bite-tribe/api/src/lib/like-api/utils/load-likes-by-bites.ts
  libs/bite-tribe/api/src/lib/review-api/__specs__/review-api.service.spec.ts
  libs/bite-tribe/api/src/lib/review-api/utils/__specs__/load-review-by-bite-id.spec.ts
Due: eslint --fix, prettier --write

style: adjust styling
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.scss
Due: prettier --write, stylelint --fix

feat(574): show account type in settings (#578)
  libs/bite-tribe/settings/page/src/lib/components/page/__specs__/settings.component.spec.ts
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.html
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.scss
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor: disable analytics in dev mode
  libs/common/ta-firestore/src/lib/auth.service.ts
  libs/common/ta-firestore/src/lib/ngrx-store/effects.ts
  libs/common/ta-firestore/src/lib/provide-firestore-utils.ts
Due: eslint --fix, prettier --write

test: extend test suite
  libs/bite-tribe/store/src/lib/bites/__specs__/effects.spec.ts
  libs/common/ta-firestore/jest.config.ts
  libs/common/ta-firestore/src/lib/auth.service.ts
  libs/common/ta-firestore/src/lib/ngrx-store/__specs__/effects.spec.ts
  libs/common/ta-firestore/src/lib/ngrx-store/actions.ts
  libs/common/ta-firestore/src/lib/ngrx-store/effects.ts
Due: eslint --fix, prettier --write

test: extend test suite
  libs/common/ta-firestore/src/lib/ngrx-store/__specs__/effects.spec.ts
  libs/common/ta-firestore/src/lib/ngrx-store/effects.ts
Due: eslint --fix, prettier --write

refactor: switch to promises
  libs/common/ta-firestore/src/lib/__specs__/auth.service.spec.ts
  libs/common/ta-firestore/src/lib/auth.service.ts
  libs/common/ta-firestore/src/lib/ngrx-store/__specs__/effects.spec.ts
  libs/common/ta-firestore/src/lib/ngrx-store/effects.ts
Due: eslint --fix, prettier --write

test: extend test suite
  libs/common/ta-firestore/src/lib/__specs__/auth.service.spec.ts
  libs/common/ta-firestore/src/lib/__specs__/provide-firestore-simulator.spec.ts
  libs/common/ta-firestore/src/lib/__specs__/provide-firestore-utils.spec.ts
  libs/common/ta-firestore/src/lib/auth.service.ts
  libs/common/ta-firestore/src/lib/ngrx-store/effects.ts
  libs/common/ta-firestore/src/lib/provide-firestore-utils.ts
Due: eslint --fix, prettier --write

fix: fix wrong promise as provider
  libs/common/ta-firestore/src/lib/provide-firestore-utils.ts
Due: eslint --fix, prettier --write

feat: 403 change color of clustered marker
  libs/bite-tribe-common/map/src/lib/map/map.component.scss
Due: prettier --write, stylelint --fix

fix: 403 revert change
  libs/bite-tribe/store/src/lib/app/selectors.ts
Due: eslint --fix, prettier --write

fix: 403 fix unit tests
  libs/bite-tribe-common/map/src/lib/map/__specs__/map.component.spec.ts
  libs/bite-tribe-common/map/src/lib/map/map.component.ts
  libs/bite-tribe-common/map/src/lib/map/utils/__specs__/clear-markers.spec.ts
  libs/bite-tribe-common/map/src/test-setup.ts
  libs/bite-tribe/bite/page/src/test-setup.ts
Due: eslint --fix, prettier --write

fix: remove coverage thresholds
  libs/common/ta-firestore/jest.config.ts
Due: eslint --fix, prettier --write

test: add tests
  libs/common/ta-firestore/src/lib/__specs__/provide-firestore-utils.spec.ts
  libs/common/ta-firestore/src/lib/ngrx-store/__specs__/effects.spec.ts
Due: eslint --fix, prettier --write

test: extend test suite
  libs/common/ta-firestore/src/lib/__specs__/auth.service.spec.ts
  libs/common/ta-firestore/src/lib/__specs__/provide-firestore-utils.spec.ts
  libs/common/ta-firestore/src/lib/analytics/__specs__/firebase-error-handler.service.spec.ts
  libs/common/ta-firestore/src/lib/auth.service.ts
  libs/common/ta-firestore/src/lib/ngrx-store/__specs__/effects.spec.ts
  libs/common/ta-firestore/src/lib/ngrx-store/effects.ts
Due: eslint --fix, prettier --write

ci: ignore ta-firestore from codecov coverage check
  codecov.yml
Due: none

test: extend test suite
  libs/bite-tribe/map/page/src/lib/integration/__specs__/bucket-list-map.container.component.spec.ts
Due: eslint --fix, prettier --write

test: extend test suite
  __mocks__/@capacitor-firebase/analytics/index.ts
  __mocks__/@capacitor-firebase/firestore/index.ts
  __mocks__/@capacitor-firebase/storage/index.ts
  libs/bite-tribe-business/migrations/page/src/lib/component/page/__specs__/migrations.spec.ts
  libs/bite-tribe/api/src/lib/__specs__/exchange-rates-api.service.spec.ts
  libs/bite-tribe/api/src/lib/__specs__/profile-api.service.spec.ts
  libs/bite-tribe/api/src/lib/bite-api/__specs__/bite-api.service.spec.ts
  libs/bite-tribe/api/src/lib/bite-api/utils/__specs__/create-bite.spec.ts
  libs/bite-tribe/api/src/lib/bite-api/utils/__specs__/delete-file-in-firebasestorage.spec.ts
  libs/bite-tribe/api/src/lib/bite-api/utils/__specs__/load-bite-by-id.spec.ts
  libs/bite-tribe/api/src/lib/bite-api/utils/__specs__/load-bites-by-location.spec.ts
  libs/bite-tribe/api/src/lib/bite-api/utils/__specs__/load-bites-by-user.spec.ts
  libs/bite-tribe/api/src/lib/bite-api/utils/__specs__/save-edited-bite.spec.ts
  libs/bite-tribe/api/src/lib/bite-api/utils/__specs__/update-bite-with-image-path-from-firestorage.spec.ts
  libs/bite-tribe/api/src/lib/bucketlist-api/__specs__/bucketlist-api.service.spec.ts
  libs/bite-tribe/api/src/lib/bucketlist-api/utils/__specs__/load-bucketlists-by-user-id.spec.ts
  libs/bite-tribe/api/src/lib/like-api/__specs__/like-api.service.spec.ts
  libs/bite-tribe/api/src/lib/like-api/utils/__specs__/load-likes-by-bites.spec.ts
  libs/bite-tribe/api/src/lib/menu-api/__specs__/menu-api.service.spec.ts
  libs/bite-tribe/api/src/lib/menu-api/utils/__specs__/get-menu-by-id.spec.ts
  libs/bite-tribe/api/src/lib/restaurant-api/__specs__/restaurant-api.service.spec.ts
  libs/bite-tribe/api/src/lib/restaurant-api/utils/__specs__/get-restaurant-by-id.spec.ts
  libs/bite-tribe/api/src/lib/review-api/__specs__/review-api.service.spec.ts
  libs/bite-tribe/api/src/lib/review-api/utils/__specs__/load-review-by-bite-id.spec.ts
  libs/bite-tribe/api/src/lib/settings-api/__specs__/settings-api.service.spec.ts
  libs/bite-tribe/api/src/lib/settings-api/utils/__specs__/load-settings-by-user-id.spec.ts
  libs/bite-tribe/api/src/lib/utils/__specs__/check-user-profile-image-and-mirror-to-firebase.spec.ts
  libs/bite-tribe/api/src/lib/utils/__specs__/delete-current-image.spec.ts
  libs/bite-tribe/api/src/lib/utils/__specs__/upload-bae64-to-firebasestorage.spec.ts
  libs/bite-tribe/bucketlist/page/src/lib/integration/__specs__/bucketlists.container.spec.ts
  libs/bite-tribe/details/page/src/lib/integration/__specs__/details.container.spec.ts
  libs/bite-tribe/map/page/src/lib/integration/__specs__/bucket-list-map.container.component.spec.ts
  libs/bite-tribe/start/src/lib/__specs__/start.component.spec.ts
  libs/common/ta-firestore/src/lib/__specs__/auth.service.spec.ts
  libs/common/ta-firestore/src/lib/__specs__/provide-firestore-utils.spec.ts
Due: eslint --fix, prettier --write

chore: prepare next release
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: none

chore: execute npm i
  package-lock.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,html}
  prettier --write: any of: *.{ts,js,html,scss,json,md}
  stylelint --fix: any of: *.scss
