Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,html}": "eslint --fix",
  "*.{ts,js,html,scss,json,md}": "prettier --write",
  "*.scss": "stylelint --fix"
}

docs: add the Istanbul comic post, where Leela passes her Bites to a friend (#1712)
  ssot/assets/social/istanbul-comic-post.png
  ssot/implementation/social-media-channels.md
Due: prettier --write

doc(support): Adapt firebase document according to google mail (#1719)
  ssot/architecture/firebase.md
Due: prettier --write

fix(functions): stop caching email addresses in the leaderboard snapshots (#1611) (#1722)
  apps/bite-tribe-e2e/src/tests/leaderboard.spec.ts
  apps/bite-tribe-firebase/functions/src/firestore-rules/__specs__/leaderboard-email.emulator-spec.ts
  apps/bite-tribe-firebase/functions/src/functions/leaderboard/load-leaderboard.ts
  apps/bite-tribe-firebase/functions/src/functions/leaderboard/send-daily-leaderboard-notification.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/__specs__/leaderboard.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/leaderboard.ts
  apps/bite-tribe-firebase/functions/src/functions/users/__specs__/delete-own-account.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/users/delete-own-account.ts
  libs/bite-tribe/leaderboard/data-access/src/lib/__specs__/leaderboard-data-access.service.spec.ts
  libs/bite-tribe/leaderboard/data-access/src/lib/leaderboard-data-access.service.ts
  libs/bite-tribe/leaderboard/page/src/lib/components/leaderboard-list/__specs__/leaderboard-list.component.spec.ts
  libs/bite-tribe/leaderboard/page/src/lib/integration/__specs__/leaderboard.service.spec.ts
  ssot/current-state/open-questions.md
  ssot/decisions/recorded-decisions.md
  ssot/implementation/firebase-functions.md
  ssot/use-cases/uc-use-account-and-legal-flows.md
  ssot/use-cases/uc-use-gamification-signals.md
Due: eslint --fix, prettier --write

fix: 746 check and correct italian
  apps/bite-tribe/src/assets/i18n/it.json
Due: prettier --write

fix: 746 check and correct italian (#1734)
  apps/bite-tribe/src/assets/i18n/it.json
Due: prettier --write

feat(bite-tribe-admin): order the candidate list and show when more are pending (#1506)
  apps/bite-tribe-admin/src/assets/i18n/en.json
  apps/bite-tribe-firebase/firestore.indexes.json
  libs/bite-tribe-admin/restaurants/data-access/src/lib/__specs__/restaurants-data-access.service.spec.ts
  libs/bite-tribe-admin/restaurants/data-access/src/lib/restaurants-data-access.service.ts
  libs/bite-tribe-admin/restaurants/page/src/lib/component/restaurant-candidates/__specs__/restaurant-candidates.spec.ts
  libs/bite-tribe-admin/restaurants/page/src/lib/component/restaurant-candidates/restaurant-candidates.html
  libs/bite-tribe-admin/restaurants/page/src/lib/component/restaurant-candidates/restaurant-candidates.ts
  libs/bite-tribe-admin/restaurants/page/src/lib/integration/__specs__/restaurants.service.spec.ts
  libs/bite-tribe-admin/restaurants/page/src/lib/integration/restaurant-candidates-container.ts
  libs/bite-tribe-admin/restaurants/page/src/lib/integration/restaurants.service.ts
  ssot/use-cases/uc-verify-restaurant-candidate.md
Due: eslint --fix, prettier --write

feat(bite-tribe-admin): order the candidate list and show when more are pending (#1506) (#1735)
  apps/bite-tribe-admin/src/assets/i18n/en.json
  apps/bite-tribe-firebase/firestore.indexes.json
  libs/bite-tribe-admin/restaurants/data-access/src/lib/__specs__/restaurants-data-access.service.spec.ts
  libs/bite-tribe-admin/restaurants/data-access/src/lib/restaurants-data-access.service.ts
  libs/bite-tribe-admin/restaurants/page/src/lib/component/restaurant-candidates/__specs__/restaurant-candidates.spec.ts
  libs/bite-tribe-admin/restaurants/page/src/lib/component/restaurant-candidates/restaurant-candidates.html
  libs/bite-tribe-admin/restaurants/page/src/lib/component/restaurant-candidates/restaurant-candidates.ts
  libs/bite-tribe-admin/restaurants/page/src/lib/integration/__specs__/restaurants.service.spec.ts
  libs/bite-tribe-admin/restaurants/page/src/lib/integration/restaurant-candidates-container.ts
  libs/bite-tribe-admin/restaurants/page/src/lib/integration/restaurants.service.ts
  ssot/use-cases/uc-verify-restaurant-candidate.md
Due: eslint --fix, prettier --write

docs: add the Bratislava matcha latte post, the first real Bite on the feed
  ssot/assets/social/matcha-latte-bratislava-post.png
  ssot/implementation/social-media-channels.md
Due: prettier --write

docs: name the Bratislava post's dish as a jasmine matcha latte
  ssot/implementation/social-media-channels.md
Due: prettier --write

feat(bite-tribe): four untranslated consumer components follow the account language (#1613)
  apps/bite-tribe-admin/src/assets/i18n/en.json
  apps/bite-tribe-business/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/bucketlist/page/src/lib/components/edit-bucketlist-page/__specs__/edit-bucketlist.page.spec.ts
  libs/bite-tribe/bucketlist/page/src/lib/components/edit-bucketlist-page/edit-bucketlist.page.html
  libs/bite-tribe/bucketlist/page/src/lib/components/edit-bucketlist-page/edit-bucketlist.page.ts
  libs/bite-tribe/home/page/src/lib/components/type-ahead/__specs__/type-ahead.component.spec.ts
  libs/bite-tribe/home/page/src/lib/components/type-ahead/type-ahead.component.html
  libs/bite-tribe/home/page/src/lib/components/type-ahead/type-ahead.component.ts
  libs/bite-tribe/menu/page/src/lib/components/category/__specs__/category.component.spec.ts
  libs/bite-tribe/menu/page/src/lib/components/category/category.component.html
  libs/bite-tribe/menu/page/src/lib/components/category/category.component.ts
  libs/common/ui/image-upload/src/lib/__specs__/image-upload.component.spec.ts
  libs/common/ui/image-upload/src/lib/image-upload.component.html
  libs/common/ui/image-upload/src/lib/image-upload.component.ts
  ssot/implementation/localization.md
Due: eslint --fix, prettier --write

feat(bite-tribe): move Block into the profile's header menu (#1609)
  .loki/reference/chrome_iphone7_Pages_Profile_Default.png
  .loki/reference/chrome_iphone7_Pages_Profile_New_User_Empty_Profile.png
  .loki/reference/chrome_iphone7_Pages_Profile_No_Followers_Or_Following.png
  .loki/reference/chrome_iphone7_Pages_Profile_Onboarded_Account_With_Duplicated_Name.png
  .loki/reference/chrome_iphone7_Pages_Profile_With_Many_Flags.png
  .loki/reference/chrome_iphone7_Pages_Profile_Without_Bites.png
  .loki/reference/chrome_laptop_Pages_Profile_Default.png
  .loki/reference/chrome_laptop_Pages_Profile_New_User_Empty_Profile.png
  .loki/reference/chrome_laptop_Pages_Profile_No_Followers_Or_Following.png
  .loki/reference/chrome_laptop_Pages_Profile_Onboarded_Account_With_Duplicated_Name.png
  .loki/reference/chrome_laptop_Pages_Profile_With_Many_Flags.png
  .loki/reference/chrome_laptop_Pages_Profile_Without_Bites.png
  apps/bite-tribe-e2e/src/pages/profile.page.ts
  apps/bite-tribe-e2e/src/tests/block-user.spec.ts
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/profile/page/src/lib/components/profile-page/__specs__/profile-block.spec.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.scss
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.ts
  libs/common/utils/src/lib/add-necessary-icons.ts
  ssot/use-cases/uc-manage-profile-and-social-graph.md
Due: eslint --fix, prettier --write, stylelint --fix

test(bite-tribe): capture the profile header menu open in Loki (#1609)
  .loki/reference/chrome_iphone7_Pages_Profile_Actions_Menu_Open.png
  .loki/reference/chrome_laptop_Pages_Profile_Actions_Menu_Open.png
  libs/bite-tribe/profile/page/src/lib/components/profile-page/__specs__/profile.stories.ts
Due: eslint --fix, prettier --write

feat(bite-tribe): four untranslated consumer components follow the account language (#1613) (#1737)
  apps/bite-tribe-admin/src/assets/i18n/en.json
  apps/bite-tribe-business/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/bucketlist/page/src/lib/components/edit-bucketlist-page/__specs__/edit-bucketlist.page.spec.ts
  libs/bite-tribe/bucketlist/page/src/lib/components/edit-bucketlist-page/edit-bucketlist.page.html
  libs/bite-tribe/bucketlist/page/src/lib/components/edit-bucketlist-page/edit-bucketlist.page.ts
  libs/bite-tribe/home/page/src/lib/components/type-ahead/__specs__/type-ahead.component.spec.ts
  libs/bite-tribe/home/page/src/lib/components/type-ahead/type-ahead.component.html
  libs/bite-tribe/home/page/src/lib/components/type-ahead/type-ahead.component.ts
  libs/bite-tribe/menu/page/src/lib/components/category/__specs__/category.component.spec.ts
  libs/bite-tribe/menu/page/src/lib/components/category/category.component.html
  libs/bite-tribe/menu/page/src/lib/components/category/category.component.ts
  libs/common/ui/image-upload/src/lib/__specs__/image-upload.component.spec.ts
  libs/common/ui/image-upload/src/lib/image-upload.component.html
  libs/common/ui/image-upload/src/lib/image-upload.component.ts
  ssot/implementation/localization.md
Due: eslint --fix, prettier --write

feat(bite-tribe-firebase): let an account report a Bite and an operator work the reports (#1608)
  apps/bite-tribe-firebase/firestore.rules
  apps/bite-tribe-firebase/functions/src/__specs__/callable-authorization.spec.ts
  apps/bite-tribe-firebase/functions/src/__specs__/operator-action-logging.spec.ts
  apps/bite-tribe-firebase/functions/src/firestore-rules/__specs__/firestore-rules.emulator-spec.ts
  apps/bite-tribe-firebase/functions/src/functions/bites/__specs__/bite-reports.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/bites/bite-report.ts
  apps/bite-tribe-firebase/functions/src/functions/bites/bite-reports-as-operator.ts
  apps/bite-tribe-firebase/functions/src/functions/bites/delete-bite-reports-on-bite-delete.ts
  apps/bite-tribe-firebase/functions/src/functions/bites/report-bite.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/operator-log.ts
  apps/bite-tribe-firebase/functions/src/functions/users/__specs__/delete-own-account.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/users/delete-own-account.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  libs/bite-tribe-common/model/src/index.ts
  libs/bite-tribe-common/model/src/lib/bite-report.ts
Due: eslint --fix, prettier --write

feat(bite-tribe): report a Bite from its detail page (#1608)
  .loki/reference/chrome_iphone7_Pages_Bite_Pending_Image_For_Viewer.png
  .loki/reference/chrome_laptop_Pages_Bite_Pending_Image_For_Viewer.png
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/api/src/lib/__specs__/bite-tribe-api.service.spec.ts
  libs/bite-tribe/api/src/lib/bite-api/bite-api.service.ts
  libs/bite-tribe/api/src/lib/bite-api/utils/report-bite.ts
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/details/data-access/src/lib/__specs__/details-data-access.service.spec.ts
  libs/bite-tribe/details/data-access/src/lib/details-data-access.service.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.spec.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.ts
  libs/bite-tribe/details/page/src/lib/integration/__specs__/details.service.spec.ts
  libs/bite-tribe/details/page/src/lib/integration/details.container.ts
  libs/bite-tribe/details/page/src/lib/integration/details.service.ts
  libs/common/utils/src/lib/add-necessary-icons.ts
Due: eslint --fix, prettier --write

feat(bite-tribe-admin): add the reported Bites queue (#1608)
  .loki/reference/chrome_laptop_Admin_Bite_Reports_Author_Blocked.png
  .loki/reference/chrome_laptop_Admin_Bite_Reports_Author_Deleted.png
  .loki/reference/chrome_laptop_Admin_Bite_Reports_Bite_Gone.png
  .loki/reference/chrome_laptop_Admin_Bite_Reports_Empty.png
  .loki/reference/chrome_laptop_Admin_Bite_Reports_Failed.png
  .loki/reference/chrome_laptop_Admin_Bite_Reports_Loading.png
  .loki/reference/chrome_laptop_Admin_Bite_Reports_Queue.png
  .loki/reference/chrome_laptop_Admin_Bite_Reports_Selected.png
  .loki/reference/chrome_laptop_Admin_Bite_Reports_Truncated.png
  .loki/reference/chrome_laptop_Admin_Dashboard_Default.png
  apps/bite-tribe-admin/src/assets/i18n/en.json
  libs/bite-tribe-admin/bites/data-access/src/index.ts
  libs/bite-tribe-admin/bites/data-access/src/lib/__specs__/bite-reports-data-access.service.spec.ts
  libs/bite-tribe-admin/bites/data-access/src/lib/bite-reports-data-access.service.ts
  libs/bite-tribe-admin/bites/page/src/index.ts
  libs/bite-tribe-admin/bites/page/src/lib/component/__specs__/bite-reports.component.spec.ts
  libs/bite-tribe-admin/bites/page/src/lib/component/__specs__/bite-reports.stories.ts
  libs/bite-tribe-admin/bites/page/src/lib/component/bite-reports.component.html
  libs/bite-tribe-admin/bites/page/src/lib/component/bite-reports.component.scss
  libs/bite-tribe-admin/bites/page/src/lib/component/bite-reports.component.ts
  libs/bite-tribe-admin/bites/page/src/lib/integration/__specs__/bite-reports.service.spec.ts
  libs/bite-tribe-admin/bites/page/src/lib/integration/bite-reports-container.component.ts
  libs/bite-tribe-admin/bites/page/src/lib/integration/bite-reports.service.ts
  libs/bite-tribe-admin/dashboard/src/lib/__specs__/admin-dashboard.spec.ts
  libs/bite-tribe-admin/dashboard/src/lib/admin-dashboard.ts
  libs/bite-tribe-admin/shell/src/lib/__specs__/routes.spec.ts
  libs/bite-tribe-admin/shell/src/lib/routes.ts
Due: eslint --fix, prettier --write, stylelint --fix

docs: record that reporting a Bite ships (#1608)
  ssot/architecture/firebase.md
  ssot/domain/bite.md
  ssot/product/user-roles.md
  ssot/use-cases/uc-inspect-bite-details.md
  ssot/use-cases/uc-operate-bitetribe-in-the-admin-app.md
  ssot/use-cases/uc-use-account-and-legal-flows.md
Due: prettier --write

test(bt-admin-bites): cover the report queue's guard branches (#1608)
  libs/bite-tribe-admin/bites/page/src/lib/component/__specs__/bite-reports.component.spec.ts
  libs/bite-tribe-admin/bites/page/src/lib/integration/__specs__/bite-reports.service.spec.ts
Due: eslint --fix, prettier --write

test(bite-tribe/details): show the report button in a story and pin the page end without it (#1608)
  .loki/reference/chrome_iphone7_Pages_Bite_Report_Not_Offered_Signed_Out.png
  .loki/reference/chrome_iphone7_Pages_Bite_Report_Offered.png
  .loki/reference/chrome_laptop_Pages_Bite_Report_Not_Offered_Signed_Out.png
  .loki/reference/chrome_laptop_Pages_Bite_Report_Offered.png
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.spec.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.stories.ts
Due: eslint --fix, prettier --write

feat(functions): suggest people to follow (#1708)
  apps/bite-tribe-firebase/functions/src/functions/users/__specs__/suggest-people-to-follow.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/users/new-user-follow-up-picks.ts
  apps/bite-tribe-firebase/functions/src/functions/users/suggest-people-to-follow.ts
  apps/bite-tribe-firebase/functions/src/functions/users/suggestable-person.ts
  apps/bite-tribe-firebase/functions/src/index.ts
Due: eslint --fix, prettier --write

test(bite-tribe-e2e): follow a suggested person from home (#1708)
  apps/bite-tribe-e2e/src/tests/follow-suggestions.spec.ts
Due: eslint --fix, prettier --write

docs: record follow suggestions (#1708)
  ssot/domain/user.md
  ssot/implementation/analytics-events.md
  ssot/implementation/firebase-functions.md
  ssot/use-cases/uc-guide-new-users-after-registration.md
  ssot/use-cases/uc-manage-profile-and-social-graph.md
Due: prettier --write

test(functions): classify suggestPeopleToFollow as a member callable (#1708)
  apps/bite-tribe-firebase/functions/src/__specs__/callable-authorization.spec.ts
Due: eslint --fix, prettier --write

fix(bite-tribe): keep suggestion cards one size for long names and pending follows (#1708)
  .loki/reference/chrome_iphone7_Components_Follow_Suggestions_Long_Display_Name.png
  .loki/reference/chrome_iphone7_Components_Follow_Suggestions_Pending.png
  .loki/reference/chrome_laptop_Components_Follow_Suggestions_Long_Display_Name.png
  .loki/reference/chrome_laptop_Components_Follow_Suggestions_Pending.png
  libs/bite-tribe/follow-suggestions/ui/src/lib/follow-suggestions.component.scss
Due: prettier --write, stylelint --fix

fix(bite-tribe): line follow suggestions up with the surface they sit on (#1708)
  .loki/reference/chrome_iphone7_Components_Follow_Suggestions_Centered.png
  .loki/reference/chrome_iphone7_Components_Follow_Suggestions_Default.png
  .loki/reference/chrome_iphone7_Components_Follow_Suggestions_Dismissible.png
  .loki/reference/chrome_iphone7_Components_Follow_Suggestions_Loading.png
  .loki/reference/chrome_iphone7_Components_Follow_Suggestions_Pending.png
  .loki/reference/chrome_iphone7_Pages_Followers_List_Empty_Followers.png
  .loki/reference/chrome_iphone7_Pages_Followers_List_Empty_Following_With_Suggestions.png
  .loki/reference/chrome_iphone7_Pages_Home_With_Follow_Suggestions.png
  .loki/reference/chrome_iphone7_Pages_Onboarding_Finish_Step_With_Follow_Suggestions.png
  .loki/reference/chrome_laptop_Components_Follow_Suggestions_Centered.png
  .loki/reference/chrome_laptop_Pages_Followers_List_Empty_Followers.png
  .loki/reference/chrome_laptop_Pages_Followers_List_Empty_Following_With_Suggestions.png
  .loki/reference/chrome_laptop_Pages_Home_With_Follow_Suggestions.png
  .loki/reference/chrome_laptop_Pages_Onboarding_Finish_Step_With_Follow_Suggestions.png
  libs/bite-tribe/follow-suggestions/ui/src/lib/__specs__/follow-suggestions.component.spec.ts
  libs/bite-tribe/follow-suggestions/ui/src/lib/__specs__/follow-suggestions.component.stories.ts
  libs/bite-tribe/follow-suggestions/ui/src/lib/follow-suggestions.component.html
  libs/bite-tribe/follow-suggestions/ui/src/lib/follow-suggestions.component.scss
  libs/bite-tribe/follow-suggestions/ui/src/lib/follow-suggestions.component.ts
  libs/bite-tribe/followers/page/src/lib/components/followers-list/__specs__/followers-list.stories.ts
  libs/bite-tribe/followers/page/src/lib/components/followers-list/followers-list.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.scss
  libs/bite-tribe/onboarding/page/src/lib/components/finish-step/finish-step.component.html
Due: eslint --fix, prettier --write, stylelint --fix

feat(bite-tribe): keep suggesting people on a Following list that has some (#1708)
  .loki/reference/chrome_iphone7_Pages_Followers_List_Empty_Followers.png
  .loki/reference/chrome_iphone7_Pages_Followers_List_Empty_Following_With_Suggestions.png
  .loki/reference/chrome_iphone7_Pages_Followers_List_Following_With_Suggestions.png
  .loki/reference/chrome_laptop_Pages_Followers_List_Empty_Followers.png
  .loki/reference/chrome_laptop_Pages_Followers_List_Empty_Following_With_Suggestions.png
  .loki/reference/chrome_laptop_Pages_Followers_List_Following_With_Suggestions.png
  libs/bite-tribe-common/model/src/lib/follow-suggestion.ts
  libs/bite-tribe/follow-suggestions/data-access/src/lib/__specs__/follow-suggestions.service.spec.ts
  libs/bite-tribe/followers/page/src/lib/components/followers-list/__specs__/followers-list.component.spec.ts
  libs/bite-tribe/followers/page/src/lib/components/followers-list/__specs__/followers-list.stories.ts
  libs/bite-tribe/followers/page/src/lib/components/followers-list/followers-list.component.html
  libs/bite-tribe/followers/page/src/lib/components/followers-list/followers-list.component.scss
  libs/bite-tribe/followers/page/src/lib/components/followers-list/followers-list.component.ts
  libs/bite-tribe/followers/page/src/lib/integration/__specs__/followers.service.spec.ts
  libs/bite-tribe/followers/page/src/lib/integration/followers.service.ts
  libs/common/ta-firestore/src/lib/analytics/analytics-events.ts
  ssot/implementation/analytics-events.md
  ssot/use-cases/uc-manage-profile-and-social-graph.md
Due: eslint --fix, prettier --write, stylelint --fix

test(bite-tribe): cover the follow-suggestion branches Codecov flagged (#1708)
  libs/bite-tribe/api/src/lib/__specs__/profile-api.service.spec.ts
  libs/bite-tribe/api/src/lib/settings-api/__specs__/settings-api.service.spec.ts
  libs/bite-tribe/follow-suggestions/data-access/src/lib/__specs__/follow-suggestions.service.spec.ts
  libs/bite-tribe/follow-suggestions/ui/src/lib/follow-suggestions.component.html
  libs/bite-tribe/follow-suggestions/ui/src/lib/follow-suggestions.component.ts
  libs/bite-tribe/home/page/src/lib/integration/__specs__/home.service.spec.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/__specs__/onboarding-container.component.spec.ts
Due: eslint --fix, prettier --write
