Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

fix: fix propagation of selected place
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
Due: eslint --fix, prettier --write

fix: fix selecting bites with similar place name
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/store/src/lib/bites/selectors.ts
  libs/bite-tribe/store/src/lib/bites/utils/__specs__/get-tag-suggestions-by-place.spec.ts
  libs/bite-tribe/store/src/lib/bites/utils/get-tag-suggestions-by-place.ts
Due: eslint --fix, prettier --write

test: extend test suite
  libs/bite-tribe/bite/page/src/lib/integration/__specs__/bite-container.component.spec.ts
  libs/bite-tribe/bite/page/src/lib/integration/__specs__/bite.service.spec.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite-container.component.ts
  libs/bite-tribe/store/src/lib/__specs__/bite-tribe-store.service.spec.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/reducer.spec.ts
Due: eslint --fix, prettier --write

test: extend test suite
  libs/bite-tribe/store/src/lib/bites/__specs__/selectors.spec.ts
  libs/bite-tribe/store/src/lib/bites/selectors.ts
Due: eslint --fix, prettier --write

test: extend test suite
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
Due: eslint --fix, prettier --write

test: extend test suite
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/selectors.spec.ts
Due: eslint --fix, prettier --write

refactor: cleanups and extend test suite
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  libs/bite-tribe/shell/src/lib/routes.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/reducer.spec.ts
  libs/bite-tribe/store/src/lib/bites/reducer.ts
  libs/common/utils/src/lib/paths.ts
Due: eslint --fix, prettier --write

chore: increase version code for android
  apps/bite-tribe-android/android/app/build.gradle
Due: none

chore: setup firebase simulator app in nx workspace
  apps/firebase-simulator/project.json
  package-lock.json
  package.json
Due: prettier --write

chore: setup firebase simulator
  apps/firebase-simulator/.firebaserc
  apps/firebase-simulator/.gitignore
  apps/firebase-simulator/firebase.json
  apps/firebase-simulator/project.json
Due: prettier --write

refactor: introduce local dev with firebase simulator
  apps/bite-tribe/src/environments/environment.ts
  libs/bite-tribe/store/src/lib/provide-bite-tribe-store.ts
  libs/common/ta-firestore/src/lib/provide-firestore-simulator.ts
  libs/common/ta-firestore/src/lib/provide-firestore-utils.ts
  libs/common/utils/src/index.ts
  libs/common/utils/src/lib/environment.ts
Due: eslint --fix, prettier --write

fix: fix pending loading state on gps error
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/store/src/lib/app/reducer.ts
Due: eslint --fix, prettier --write

chore: setup connect to simulators
  apps/bite-tribe/src/environments/environment.prod.ts
  apps/firebase-simulator/.firebase-export/auth_export/accounts.json
  apps/firebase-simulator/.firebase-export/auth_export/config.json
  apps/firebase-simulator/.firebase-export/firebase-export-metadata.json
  apps/firebase-simulator/.firebase-export/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
  apps/firebase-simulator/.firebase-export/firestore_export/all_namespaces/all_kinds/output-0
  apps/firebase-simulator/.firebase-export/firestore_export/firestore_export.overall_export_metadata
  apps/firebase-simulator/.firebase-export/storage_export/blobs/dbcccbb7-d76e-4670-a3cb-4604fc92996e
  apps/firebase-simulator/.firebase-export/storage_export/buckets.json
  apps/firebase-simulator/.firebase-export/storage_export/metadata/dbcccbb7-d76e-4670-a3cb-4604fc92996e.json
  apps/firebase-simulator/.firebaserc
  apps/firebase-simulator/firebase.json
  apps/firebase-simulator/storage.rules
  libs/bite-tribe/api/src/lib/bite-api/bite-api.service.ts
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/store/src/lib/app/selectors.ts
  libs/bite-tribe/store/src/lib/bites/effects.ts
  libs/bite-tribe/store/src/lib/provide-bite-tribe-store.ts
  libs/common/ta-firestore/src/lib/provide-firestore-simulator.ts
  libs/common/ta-firestore/src/lib/provide-firestore-utils.ts
Due: eslint --fix, prettier --write

test: adjust test
  libs/bite-tribe/store/src/lib/app/__specs__/reducer.spec.ts
Due: eslint --fix, prettier --write

chore: introduce serve and record targets for firebase simulator
  apps/firebase-simulator/.firebase-export/auth_export/accounts.json
  apps/firebase-simulator/.firebase-export/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
  apps/firebase-simulator/.firebase-export/storage_export/blobs/0f832d2f-7760-4ab3-9d7d-3c6cb03b2de4
  apps/firebase-simulator/.firebase-export/storage_export/metadata/0f832d2f-7760-4ab3-9d7d-3c6cb03b2de4.json
  apps/firebase-simulator/project.json
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
Due: eslint --fix, prettier --write

chore: npm i
  package-lock.json
Due: prettier --write

test: adjust tests
  libs/bite-tribe/store/src/lib/bites/__specs__/effects.spec.ts
Due: eslint --fix, prettier --write

docs: howto start local dev environment
  README.md
Due: prettier --write

docs: adjust documentation
  README.md
Due: prettier --write

chore: feedback from pr
  apps/firebase-simulator/project.json
  apps/firebase-simulator/storage.rules
  libs/common/ta-firestore/src/lib/provide-firestore-simulator.ts
  libs/common/ta-firestore/src/lib/provide-firestore-utils.ts
Due: eslint --fix, prettier --write

chore: compare and adjust storybook configuration
  .storybook/main.ts
  .storybook/tsconfig.json
  libs/storybook-host/.storybook/main.ts
  libs/storybook-host/.storybook/preview.ts
  libs/storybook-host/src/assets/temp/static/environment.js
Due: eslint --fix, prettier --write

chore: remove storybook host app to reinitialize storybook
  debug-storybook.log
  libs/storybook-host/.loki/.gitignore
  libs/storybook-host/.storybook/main.ts
  libs/storybook-host/.storybook/manager.js
  libs/storybook-host/.storybook/preview-head.html
  libs/storybook-host/.storybook/preview.ts
  libs/storybook-host/.storybook/theme.js
  libs/storybook-host/.storybook/tsconfig.json
  libs/storybook-host/README.md
  libs/storybook-host/eslint.config.mjs
  libs/storybook-host/loki.config.js
  libs/storybook-host/project.json
  libs/storybook-host/src/assets/temp/nxgraph.html
  libs/storybook-host/src/assets/temp/static/environment.js
  libs/storybook-host/src/assets/temp/static/favicon.ico
  libs/storybook-host/src/assets/temp/static/main.js
  libs/storybook-host/src/assets/temp/static/runtime.js
  libs/storybook-host/src/assets/temp/static/styles.css
  libs/storybook-host/src/assets/temp/static/styles.js
  libs/storybook-host/src/lib/docs/dep-graph/dep-graph.stories.ts
  libs/storybook-host/tsconfig.json
  libs/storybook-host/tsconfig.lib.json
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

chore: reinit storybook-host
  .vscode/extensions.json
  apps/storybook-host-e2e/eslint.config.mjs
  apps/storybook-host-e2e/playwright.config.ts
  apps/storybook-host-e2e/project.json
  apps/storybook-host-e2e/src/example.spec.ts
  apps/storybook-host-e2e/tsconfig.json
  apps/storybook-host/.storybook/main.ts
  apps/storybook-host/.storybook/preview.ts
  apps/storybook-host/.storybook/tsconfig.json
  apps/storybook-host/eslint.config.mjs
  apps/storybook-host/jest.config.cts
  apps/storybook-host/project.json
  apps/storybook-host/public/favicon.ico
  apps/storybook-host/src/app/app.config.ts
  apps/storybook-host/src/app/app.html
  apps/storybook-host/src/app/app.routes.ts
  apps/storybook-host/src/app/app.scss
  apps/storybook-host/src/app/app.spec.ts
  apps/storybook-host/src/app/app.ts
  apps/storybook-host/src/app/nx-welcome.ts
  apps/storybook-host/src/index.html
  apps/storybook-host/src/main.ts
  apps/storybook-host/src/styles.scss
  apps/storybook-host/src/test-setup.ts
  apps/storybook-host/tsconfig.app.json
  apps/storybook-host/tsconfig.json
  apps/storybook-host/tsconfig.spec.json
  nx.json
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, stylelint --fix

chore: remove storybook-host-e2e
  apps/storybook-host-e2e/eslint.config.mjs
  apps/storybook-host-e2e/playwright.config.ts
  apps/storybook-host-e2e/project.json
  apps/storybook-host-e2e/src/example.spec.ts
  apps/storybook-host-e2e/tsconfig.json
Due: eslint --fix, prettier --write

chore: make storybook run again
  apps/storybook-host/.storybook/main.ts
  apps/storybook-host/.storybook/tsconfig.json
  apps/storybook-host/project.json
  libs/common/utils/src/index.ts
Due: eslint --fix, prettier --write

chore: readd theming
  apps/storybook-host/.storybook/main.ts
  apps/storybook-host/.storybook/manager.js
  apps/storybook-host/.storybook/preview-head.html
  apps/storybook-host/.storybook/preview.ts
  apps/storybook-host/.storybook/theme.js
  apps/storybook-host/project.json
Due: eslint --fix, prettier --write

chore: adjustments to build pipeline
  .gitignore
  apps/storybook-host/.storybook/main.ts
  apps/storybook-host/src/app/dep-graph/dep-graph.stories.ts
  firebase.json
  package.json
Due: eslint --fix, prettier --write

chore: fix storybook build
  apps/storybook-host/project.json
Due: prettier --write

chore: exact dep version
  package-lock.json
  package.json
Due: prettier --write

feat: initial introduction of edit profile page
  libs/bite-tribe/profile/data-access/src/lib/profile-data-access.service.ts
  libs/bite-tribe/profile/page/eslint.config.mjs
  libs/bite-tribe/profile/page/src/index.ts
  libs/bite-tribe/profile/page/src/lib/components/edit-profile-page/__specs__/edit-profile.stories.ts
  libs/bite-tribe/profile/page/src/lib/components/edit-profile-page/edit-profile.page.html
  libs/bite-tribe/profile/page/src/lib/components/edit-profile-page/edit-profile.page.scss
  libs/bite-tribe/profile/page/src/lib/components/edit-profile-page/edit-profile.page.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/__specs__/profile.stories.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.ts
  libs/bite-tribe/profile/page/src/lib/integration/edit-profile.container.ts
  libs/bite-tribe/profile/page/src/lib/integration/my-profile.container.ts
  libs/bite-tribe/profile/page/src/lib/integration/profile.service.ts
  libs/bite-tribe/settings/data-access/src/lib/settings-data-access.service.ts
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.html
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.scss
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.ts
  libs/bite-tribe/settings/page/src/lib/integration/settings-container.component.ts
  libs/bite-tribe/settings/page/src/lib/integration/settings.service.ts
  libs/bite-tribe/shell/src/lib/routes.ts
  libs/common/utils/src/lib/paths.ts
Due: eslint --fix, prettier --write, stylelint --fix

style: adjust styling
  libs/bite-tribe/profile/page/src/lib/components/edit-profile-page/edit-profile.page.html
  libs/bite-tribe/profile/page/src/lib/components/edit-profile-page/edit-profile.page.scss
  libs/bite-tribe/profile/page/src/lib/components/edit-profile-page/edit-profile.page.ts
  libs/bite-tribe/profile/page/src/lib/integration/bite-creator-profile.container.ts
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.html
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.scss
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: edit profile and update in redux store
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/api/src/lib/profile-api.service.ts
  libs/bite-tribe/profile/page/src/lib/integration/edit-profile.container.ts
  libs/bite-tribe/profile/page/src/lib/integration/my-profile.container.ts
  libs/bite-tribe/profile/page/src/lib/integration/profile.service.ts
  libs/bite-tribe/store/src/lib/app/actions.ts
  libs/bite-tribe/store/src/lib/app/effects.ts
  libs/bite-tribe/store/src/lib/app/reducer.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
Due: eslint --fix, prettier --write

fix: show edit profile only on given user id is same as shown user id
  libs/bite-tribe/profile/page/src/lib/components/profile-page/__specs__/profile.stories.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.html
Due: eslint --fix, prettier --write

feat: remove go public and return to private in favor of toggle button
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/profile/data-access/src/lib/profile-data-access.service.ts
  libs/bite-tribe/profile/page/src/lib/components/edit-profile-page/edit-profile.page.html
  libs/bite-tribe/profile/page/src/lib/components/edit-profile-page/edit-profile.page.ts
  libs/bite-tribe/profile/page/src/lib/integration/edit-profile.container.ts
  libs/bite-tribe/profile/page/src/lib/integration/profile.service.ts
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.html
  libs/bite-tribe/store/src/lib/app/actions.ts
  libs/bite-tribe/store/src/lib/app/effects.ts
  libs/bite-tribe/store/src/lib/app/reducer.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
Due: eslint --fix, prettier --write

fix: fix toggling public user
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/profile/page/src/lib/components/edit-profile-page/edit-profile.page.ts
  libs/bite-tribe/store/src/lib/app/effects.ts
Due: eslint --fix, prettier --write

fix: editing public state of user and toggling user in bite details
  libs/bite-tribe/api/src/lib/profile-api.service.ts
  libs/bite-tribe/profile/page/src/lib/components/edit-profile-page/edit-profile.page.ts
Due: eslint --fix, prettier --write

test: adjust tests
  libs/bite-tribe/profile/page/src/lib/components/edit-profile-page/__specs__/edit-profile.page.spec.ts
  libs/bite-tribe/profile/page/src/lib/components/edit-profile-page/edit-profile.page.ts
  libs/bite-tribe/settings/page/src/lib/components/page/__specs__/settings.component.spec.ts
  libs/bite-tribe/store/src/lib/app/__specs__/actions.spec.ts
Due: eslint --fix, prettier --write

test: extend test suite
  libs/bite-tribe/settings/page/src/lib/components/page/__specs__/settings.component.spec.ts
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.ts
  libs/bite-tribe/store/src/lib/__specs__/bite-tribe-store.service.spec.ts
  libs/bite-tribe/store/src/lib/app/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/app/__specs__/reducer.spec.ts
Due: eslint --fix, prettier --write

test: extend test suite
  libs/bite-tribe/store/src/lib/app/__specs__/effects.spec.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,html}
  prettier --write: any of: *.{ts,js,html,scss,json,md}
  stylelint --fix: any of: *.scss
