Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,html}": "eslint --fix",
  "*.{ts,js,html,scss,json,md}": "prettier --write",
  "*.scss": "stylelint --fix"
}

feat(functions): opaque table QR tokens (#1086)
  apps/bite-tribe-firebase/firestore.rules
  apps/bite-tribe-firebase/functions/jest.emulator.config.cjs
  apps/bite-tribe-firebase/functions/src/__specs__/callable-authorization.spec.ts
  apps/bite-tribe-firebase/functions/src/__specs__/operator-action-logging.spec.ts
  apps/bite-tribe-firebase/functions/src/firestore-rules/__specs__/firestore-rules.emulator-spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/__specs__/table-qr-tokens.emulator-spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/__specs__/table-qr-tokens.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/restaurant-authority.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/restaurant-staff.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/sync-table-qr-token-on-table-write.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/table-qr-tokens.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/operator-log.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  ssot/pages/Architecture - Firebase.md
  ssot/pages/Floor Plan.md
  ssot/pages/Implementation - Firebase Functions.md
  ssot/pages/Table.md
  ssot/pages/UC - Configure Restaurant Floor Plans And Tables.md
Due: eslint --fix, prettier --write

feat(functions): opaque table QR tokens (#1086) (#1562)
  apps/bite-tribe-firebase/firestore.rules
  apps/bite-tribe-firebase/functions/jest.emulator.config.cjs
  apps/bite-tribe-firebase/functions/src/__specs__/callable-authorization.spec.ts
  apps/bite-tribe-firebase/functions/src/__specs__/operator-action-logging.spec.ts
  apps/bite-tribe-firebase/functions/src/firestore-rules/__specs__/firestore-rules.emulator-spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/__specs__/table-qr-tokens.emulator-spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/__specs__/table-qr-tokens.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/restaurant-authority.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/restaurant-staff.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/sync-table-qr-token-on-table-write.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/table-qr-tokens.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/operator-log.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  ssot/pages/Architecture - Firebase.md
  ssot/pages/Floor Plan.md
  ssot/pages/Implementation - Firebase Functions.md
  ssot/pages/Table.md
  ssot/pages/UC - Configure Restaurant Floor Plans And Tables.md
Due: eslint --fix, prettier --write

fix(ucDefinition): Add "mark for deletion"/obsolete possibility on use case
  ssot/pages/GitHub Issue Format.md
  ssot/pages/SSOT.md
  ssot/pages/Use Case Format.md
  ssot/pages/contents.md
Due: prettier --write

feat(bite-tribe-business): lay the QR sheet out as A4 pages (#1087)
  .loki/reference/chrome_laptop_Business_Table_QR_Sheets_Empty.png
  .loki/reference/chrome_laptop_Business_Table_QR_Sheets_Load_Failed.png
  .loki/reference/chrome_laptop_Business_Table_QR_Sheets_Loading.png
  .loki/reference/chrome_laptop_Business_Table_QR_Sheets_Missing_Code.png
  .loki/reference/chrome_laptop_Business_Table_QR_Sheets_Nothing_Selected.png
  .loki/reference/chrome_laptop_Business_Table_QR_Sheets_One_Room.png
  .loki/reference/chrome_laptop_Business_Table_QR_Sheets_Single_Replacement.png
  .loki/reference/chrome_laptop_Business_Table_QR_Sheets_Some_Tables_Out_Of_Service.png
  .loki/reference/chrome_laptop_Business_Table_QR_Sheets_Sticker_Sheet.png
  .loki/reference/chrome_laptop_Business_Table_QR_Sheets_Table_Tents.png
  .loki/reference/chrome_laptop_Business_Table_QR_Sheets_Two_Pages.png
  apps/bite-tribe-business/src/assets/i18n/en.json
  libs/bite-tribe-business/floor-plan/page/src/lib/component/__specs__/table-qr-sheets.component.spec.ts
  libs/bite-tribe-business/floor-plan/page/src/lib/component/__specs__/table-qr-sheets.component.stories.ts
  libs/bite-tribe-business/floor-plan/page/src/lib/component/table-qr-sheets.component.html
  libs/bite-tribe-business/floor-plan/page/src/lib/component/table-qr-sheets.component.scss
  libs/bite-tribe-business/floor-plan/page/src/lib/component/table-qr-sheets.component.ts
  ssot/pages/Table.md
  ssot/pages/UC - Configure Restaurant Floor Plans And Tables.md
Due: eslint --fix, prettier --write, stylelint --fix

test(bite-tribe-business): stop QR fixtures looking like real tokens
  .loki/reference/chrome_laptop_Business_Table_QR_Sheets_Missing_Code.png
  .loki/reference/chrome_laptop_Business_Table_QR_Sheets_One_Room.png
  .loki/reference/chrome_laptop_Business_Table_QR_Sheets_Single_Replacement.png
  .loki/reference/chrome_laptop_Business_Table_QR_Sheets_Some_Tables_Out_Of_Service.png
  .loki/reference/chrome_laptop_Business_Table_QR_Sheets_Sticker_Sheet.png
  .loki/reference/chrome_laptop_Business_Table_QR_Sheets_Table_Tents.png
  .loki/reference/chrome_laptop_Business_Table_QR_Sheets_Two_Pages.png
  libs/bite-tribe-business/floor-plan/page/src/lib/component/__specs__/table-qr-sheets.component.spec.ts
  libs/bite-tribe-business/floor-plan/page/src/lib/component/__specs__/table-qr-sheets.component.stories.ts
  libs/bite-tribe-business/floor-plan/ui/src/lib/__specs__/table-qr-code.spec.ts
Due: eslint --fix, prettier --write

fix(bite-tribe): UC Create and maintain personal bites to L0
  ssot/pages/UC - Create And Maintain Personal Bites.md
  ssot/pages/User Roles.md
Due: prettier --write

fix(ucDefinition): Fixing reference to use cases.
  ssot/pages/Use Case Format.md
Due: prettier --write

fix(ucDefinition): Adapting L0 level.
  ssot/pages/Use Case Format.md
Due: prettier --write

fix(bite-tribe): UC Discover bites to L0
  ssot/pages/UC - Discover Bites.md
  ssot/pages/Use Case Format.md
Due: prettier --write

fix(bite-tribe): UC create and maintain bites to L0
  ssot/pages/UC - Inspect Bite Details.md
  ssot/pages/Use Case Format.md
Due: prettier --write

fix(bite-tribe): UC manage profile and social graph
  ssot/pages/UC - Manage Profile And Social Graph.md
  ssot/pages/Use Case Format.md
Due: prettier --write

fix(bite-tribe): UC use account and legal flows to L0
  ssot/pages/UC - Use Account And Legal Flows.md
  ssot/pages/Use Case Format.md
Due: prettier --write

feat(bite-tribe-business): two-column restaurant page (#1572)
  .loki/reference/chrome_laptop_Business_Edit_Restaurant_Default.png
  .loki/reference/chrome_laptop_Business_Edit_Restaurant_Empty.png
  .loki/reference/chrome_laptop_Business_Edit_Restaurant_With_Menu_Only.png
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/edit-restaurant.component.html
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/edit-restaurant.component.scss
  ssot/pages/Floor Plan.md
  ssot/pages/UC - Maintain Restaurants In The Business App.md
Due: eslint --fix, prettier --write, stylelint --fix

fix(bite-tribe): UC Own and claim restaurant to L0
  ssot/pages/UC - Own And Claim Restaurants.md
Due: prettier --write

fix(bite-tribe): UC ap notification to L0
  ssot/pages/UC - Receive App Notifications And Engagement Updates.md
  ssot/pages/Use Case Format.md
Due: prettier --write

fix(ucDefinition): Add "mark for deletion"/obsolete possibility on use case
  ssot/pages/Use Case Format.md
Due: prettier --write

feat(bite-tribe-business): two-column restaurant page (#1572) (#1573)
  .loki/reference/chrome_laptop_Business_Edit_Restaurant_Default.png
  .loki/reference/chrome_laptop_Business_Edit_Restaurant_Empty.png
  .loki/reference/chrome_laptop_Business_Edit_Restaurant_With_Menu_Only.png
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/edit-restaurant.component.html
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/edit-restaurant.component.scss
  ssot/pages/Floor Plan.md
  ssot/pages/UC - Maintain Restaurants In The Business App.md
Due: eslint --fix, prettier --write, stylelint --fix

feat(bite-tribe-business): accessible floor plan rendering (#1089)
  .loki/reference/chrome_laptop_Business_Floor_Plan_Autosave_Blocked.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Canvas_Dark.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Canvas_Dragging.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Canvas_Greyscale.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Canvas_Multiple_Selected.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Canvas_Resizing.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Canvas_Rotated.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Canvas_Selected.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Default.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Object_Selected.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Saving.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Selection_Of_Several.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Several_Floors.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Table_Disabled.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Table_Label_Conflict.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Unpublished_Changes.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Validation_Findings.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_With_Objects.png
  apps/bite-tribe-business/src/assets/i18n/en.json
  libs/bite-tribe-business/floor-plan/page/src/lib/component/floor-plan.component.html
  libs/bite-tribe-business/floor-plan/ui/src/lib/__specs__/floor-plan-canvas.component.spec.ts
  libs/bite-tribe-business/floor-plan/ui/src/lib/__specs__/floor-plan-canvas.component.stories.ts
  libs/bite-tribe-business/floor-plan/ui/src/lib/__specs__/floor-plan-geometry.spec.ts
  libs/bite-tribe-business/floor-plan/ui/src/lib/floor-plan-canvas.component.html
  libs/bite-tribe-business/floor-plan/ui/src/lib/floor-plan-canvas.component.ts
  libs/bite-tribe-business/floor-plan/ui/src/lib/floor-plan-geometry.ts
  ssot/pages/Floor Plan.md
  ssot/pages/Implementation - Storybook.md
  ssot/pages/Traceability Map.md
Due: eslint --fix, prettier --write

feat(bite-tribe-business): accessible floor plan rendering (#1089) (#1574)
  .loki/reference/chrome_laptop_Business_Floor_Plan_Autosave_Blocked.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Canvas_Dark.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Canvas_Dragging.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Canvas_Greyscale.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Canvas_Multiple_Selected.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Canvas_Resizing.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Canvas_Rotated.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Canvas_Selected.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Default.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Object_Selected.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Saving.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Selection_Of_Several.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Several_Floors.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Table_Disabled.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Table_Label_Conflict.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Unpublished_Changes.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Validation_Findings.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_With_Objects.png
  apps/bite-tribe-business/src/assets/i18n/en.json
  libs/bite-tribe-business/floor-plan/page/src/lib/component/floor-plan.component.html
  libs/bite-tribe-business/floor-plan/ui/src/lib/__specs__/floor-plan-canvas.component.spec.ts
  libs/bite-tribe-business/floor-plan/ui/src/lib/__specs__/floor-plan-canvas.component.stories.ts
  libs/bite-tribe-business/floor-plan/ui/src/lib/__specs__/floor-plan-geometry.spec.ts
  libs/bite-tribe-business/floor-plan/ui/src/lib/floor-plan-canvas.component.html
  libs/bite-tribe-business/floor-plan/ui/src/lib/floor-plan-canvas.component.ts
  libs/bite-tribe-business/floor-plan/ui/src/lib/floor-plan-geometry.ts
  ssot/pages/Floor Plan.md
  ssot/pages/Implementation - Storybook.md
  ssot/pages/Traceability Map.md
Due: eslint --fix, prettier --write

test(bite-tribe-business): floor plan editor unit, Storybook and E2E coverage (#1090)
  .loki/reference/chrome_laptop_Business_Table_QR_Code_Named.png
  .loki/reference/chrome_laptop_Business_Table_QR_Code_Sticker.png
  .loki/reference/chrome_laptop_Business_Table_QR_Code_Table_Tent.png
  apps/bite-tribe-business-e2e/src/pages/floor-plan.page.ts
  apps/bite-tribe-business-e2e/src/pages/table-qr-sheets.page.ts
  apps/bite-tribe-business-e2e/src/support/firestore.ts
  apps/bite-tribe-business-e2e/src/support/floor-plan.ts
  apps/bite-tribe-business-e2e/src/tests/floor-plan-editor.spec.ts
  apps/bite-tribe-business-e2e/src/tests/table-qr-codes.spec.ts
  libs/bite-tribe-business/floor-plan/page/src/lib/component/__specs__/table-qr-sheets.component.spec.ts
  libs/bite-tribe-business/floor-plan/ui/src/lib/__specs__/floor-plan-geometry.spec.ts
  libs/bite-tribe-business/floor-plan/ui/src/lib/__specs__/floor-plan-viewport.spec.ts
  libs/bite-tribe-business/floor-plan/ui/src/lib/__specs__/table-qr-code.component.spec.ts
  libs/bite-tribe-business/floor-plan/ui/src/lib/__specs__/table-qr-code.component.stories.ts
  ssot/pages/Current State - E2E Coverage.md
  ssot/pages/Implementation - Testing.md
  ssot/pages/UC - Configure Restaurant Floor Plans And Tables.md
Due: eslint --fix, prettier --write

test(bite-tribe-business): floor plan editor unit, Storybook and E2E coverage (#1090) (#1575)
  .loki/reference/chrome_laptop_Business_Table_QR_Code_Named.png
  .loki/reference/chrome_laptop_Business_Table_QR_Code_Sticker.png
  .loki/reference/chrome_laptop_Business_Table_QR_Code_Table_Tent.png
  apps/bite-tribe-business-e2e/src/pages/floor-plan.page.ts
  apps/bite-tribe-business-e2e/src/pages/table-qr-sheets.page.ts
  apps/bite-tribe-business-e2e/src/support/firestore.ts
  apps/bite-tribe-business-e2e/src/support/floor-plan.ts
  apps/bite-tribe-business-e2e/src/tests/floor-plan-editor.spec.ts
  apps/bite-tribe-business-e2e/src/tests/table-qr-codes.spec.ts
  libs/bite-tribe-business/floor-plan/page/src/lib/component/__specs__/table-qr-sheets.component.spec.ts
  libs/bite-tribe-business/floor-plan/ui/src/lib/__specs__/floor-plan-geometry.spec.ts
  libs/bite-tribe-business/floor-plan/ui/src/lib/__specs__/floor-plan-viewport.spec.ts
  libs/bite-tribe-business/floor-plan/ui/src/lib/__specs__/table-qr-code.component.spec.ts
  libs/bite-tribe-business/floor-plan/ui/src/lib/__specs__/table-qr-code.component.stories.ts
  ssot/pages/Current State - E2E Coverage.md
  ssot/pages/Implementation - Testing.md
  ssot/pages/UC - Configure Restaurant Floor Plans And Tables.md
Due: eslint --fix, prettier --write

feat(model): live table state separated from the floor plan (#1091)
  libs/bite-tribe-common/model/src/index.ts
  libs/bite-tribe-common/model/src/lib/__specs__/table-state.spec.ts
  libs/bite-tribe-common/model/src/lib/table-state.ts
  ssot/pages/Table.md
  ssot/pages/Traceability Map.md
  ssot/pages/UC - Manage Tables During Service.md
Due: eslint --fix, prettier --write

feat(model): live table state separated from the floor plan (#1091) (#1576)
  libs/bite-tribe-common/model/src/index.ts
  libs/bite-tribe-common/model/src/lib/__specs__/table-state.spec.ts
  libs/bite-tribe-common/model/src/lib/table-state.ts
  ssot/pages/Table.md
  ssot/pages/Traceability Map.md
  ssot/pages/UC - Manage Tables During Service.md
Due: eslint --fix, prettier --write

feat(functions): table state transitions and audit trail (#1092)
  apps/bite-tribe-firebase/firestore.rules
  apps/bite-tribe-firebase/functions/src/__specs__/callable-authorization.spec.ts
  apps/bite-tribe-firebase/functions/src/__specs__/table-state-parity.spec.ts
  apps/bite-tribe-firebase/functions/src/firestore-rules/__specs__/firestore-rules.emulator-spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/__specs__/transition-table-state.emulator-spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/restaurant-authority.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/restaurant-staff.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/table-state.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/transition-table-state.ts
  apps/bite-tribe-firebase/functions/src/functions/users/delete-own-account.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  ssot/pages/Architecture - Firebase.md
  ssot/pages/Implementation - Firebase Functions.md
  ssot/pages/Recorded Decisions.md
  ssot/pages/Restaurant.md
  ssot/pages/Table.md
  ssot/pages/Traceability Map.md
  ssot/pages/UC - Manage Tables During Service.md
  ssot/pages/User Roles.md
Due: eslint --fix, prettier --write

feat(functions): table state transitions and audit trail (#1092) (#1577)
  apps/bite-tribe-firebase/firestore.rules
  apps/bite-tribe-firebase/functions/src/__specs__/callable-authorization.spec.ts
  apps/bite-tribe-firebase/functions/src/__specs__/table-state-parity.spec.ts
  apps/bite-tribe-firebase/functions/src/firestore-rules/__specs__/firestore-rules.emulator-spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/__specs__/transition-table-state.emulator-spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/restaurant-authority.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/restaurant-staff.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/table-state.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/transition-table-state.ts
  apps/bite-tribe-firebase/functions/src/functions/users/delete-own-account.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  ssot/pages/Architecture - Firebase.md
  ssot/pages/Implementation - Firebase Functions.md
  ssot/pages/Recorded Decisions.md
  ssot/pages/Restaurant.md
  ssot/pages/Table.md
  ssot/pages/Traceability Map.md
  ssot/pages/UC - Manage Tables During Service.md
  ssot/pages/User Roles.md
Due: eslint --fix, prettier --write
