Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

fix(storybook): make direct Loki enumerate stories on Storybook 10
  apps/storybook-host/.storybook/loki-getstories-shim.ts
  apps/storybook-host/.storybook/preview.ts
  ssot/pages/Implementation - Testing.md
Due: eslint --fix, prettier --write

fix(loki): ignore third-party request failures during capture
  loki.config.js
  ssot/pages/Implementation - Testing.md
Due: prettier --write

feat(storybook): self-host color emoji font for deterministic Loki references
  apps/bite-tribe-business/src/theme/variables.scss
  apps/bite-tribe/src/theme/variables.scss
  apps/storybook-host/.storybook/preview-head.html
  apps/storybook-host/src/assets/fonts/README.md
  apps/storybook-host/src/assets/fonts/noto-color-emoji-subset.woff2
  ssot/pages/Implementation - Testing.md
Due: eslint --fix, prettier --write, stylelint --fix

fix(storybook): inline the emoji font so references pick it up reliably
  apps/storybook-host/.storybook/preview-head.html
  apps/storybook-host/src/assets/fonts/README.md
Due: eslint --fix, prettier --write

docs: regenerate loki references
  .loki/reference/chrome_iphone7_Components_Bite_Pending_To_Uploaded.png
  .loki/reference/chrome_iphone7_Components_Bite_Pending_Upload.png
  .loki/reference/chrome_iphone7_Components_Restaurant_Selector_Nearby_Google_Places_Loading.png
  .loki/reference/chrome_iphone7_Pages_Bitemap_With_Bites.png
  .loki/reference/chrome_iphone7_Pages_Onboarding_Identity_Step_Checking.png
  .loki/reference/chrome_iphone7_Pages_Profile_Organisation_With_Bite_Trails.png
  .loki/reference/chrome_iphone7_Pages_Restaurant_Verified_Restaurant_Registered.png
  .loki/reference/chrome_laptop_Components_Bite_Pending_To_Uploaded.png
  .loki/reference/chrome_laptop_Components_Restaurant_Selector_Nearby_Google_Places_Loading.png
  .loki/reference/chrome_laptop_Pages_Bite_My_Bite.png
  .loki/reference/chrome_laptop_Pages_Bitemap_With_Bites.png
  .loki/reference/chrome_laptop_Pages_Onboarding_Identity_Step_Checking.png
  .loki/reference/chrome_laptop_Pages_Onboarding_Location_Step_Requesting.png
  .loki/reference/chrome_laptop_Pages_Onboarding_Notification_Step_Requesting.png
  .loki/reference/chrome_laptop_Pages_Profile_No_Followers_Or_Following.png
  .loki/reference/chrome_laptop_Pages_Profile_Organisation_With_Bite_Trails.png
  .loki/reference/chrome_laptop_Pages_Restaurant_Unverified_Restaurant_Without_Rated_Bites.png
  .loki/reference/chrome_laptop_Pages_Restaurant_Verified_Restaurant_Full_Maintained.png
Due: none

fix(storybook): ensure the emoji font is selected and loaded before Loki captures
  apps/bite-tribe-business/src/theme/variables.scss
  apps/bite-tribe/src/theme/variables.scss
  apps/storybook-host/.storybook/loki-getstories-shim.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: pin Node.js 24 and audit migration constraints
  .github/actions/setup/action.yml
  .nvmrc
  package.json
  ssot/pages/Current State - Nx And Dependency Migration Roadmap.md
Due: prettier --write

chore: pin Node.js 24 and audit migration constraints (#1044)
  .github/actions/setup/action.yml
  .nvmrc
  package.json
  ssot/pages/Current State - Nx And Dependency Migration Roadmap.md
Due: prettier --write

chore: migrate nx to 22.7.7
  .gitignore
  .prettierignore
  nx.json
  package-lock.json
  package.json
  ssot/pages/Current State - Nx And Dependency Migration Roadmap.md
Due: prettier --write

chore: loki ignore and nx dont share data
  .loki/.gitignore
  nx.json
Due: prettier --write

docs: freeze ion-spinner and avoid tile load for maps for loki
  apps/storybook-host/.storybook/preview-head.html
  apps/storybook-host/.storybook/preview.ts
  libs/bite-tribe-common/map/src/index.ts
  libs/bite-tribe-common/map/src/lib/map/map.component.ts
  libs/bite-tribe-common/map/src/lib/map/tile-layer.token.ts
  libs/bite-tribe-common/map/src/lib/map/utils/create-blank-tile-layer.ts
Due: eslint --fix, prettier --write

docs: regen references
  .loki/reference/chrome_laptop_Components_Bite_Bite.png
  .loki/reference/chrome_laptop_Components_Bite_Liked_By_Me.png
  .loki/reference/chrome_laptop_Pages_Home_My_Bites.png
  .loki/reference/chrome_laptop_Pages_Profile_Default.png
Due: none

chore: increase loki tolerance
  loki.config.js
Due: prettier --write

test: use deterministic images for stories + loki
  apps/storybook-host/src/assets/demo/avatar-demo.png
  apps/storybook-host/src/assets/demo/bite-demo.png
  libs/bite-tribe-common/bite/src/lib/__specs__/bite.stories.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.stories.ts
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/home.stories.ts
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/my-bites.stories.ts
  libs/bite-tribe/home/page/src/lib/components/page/bite-list/__specs__/bite-list.stories.ts
  libs/bite-tribe/map/page/src/lib/components/map-page/__specs__/map-page.stories.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/__specs__/profile.stories.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/bite-place/__specs__/bite-place.stories.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant/__specs__/restaurant.stories.ts
  libs/bite-tribe/restaurant/page/src/lib/components/restaurant-image/__specs__/restaurant-image.stories.ts
  libs/common/ui/card/src/lib/__specs__/card.component.stories.ts
Due: eslint --fix, prettier --write

ci: add reports to pr (ci + loki); let stories not affect nx cache
  .github/workflows/pipeline.yml
  nx.json
Due: prettier --write

ci: fix setup step in ci
  package-lock.json
Due: prettier --write

chore: prepare build 1.0.1-85 release
  CHANGELOG.md
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: prettier --write

chore(1033): upgrade Nx and Capacitor plugin to 23
  .gitignore
  .npmrc
  eslint.config.mjs
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/__snapshots__/details.page.spec.ts.snap
  libs/bite-tribe/store/src/lib/bites/__specs__/__snapshots__/selectors.spec.ts.snap
  libs/common/ui/chart/src/lib/chart/utils/__specs__/__snapshots__/with-padded-data.spec.ts.snap
  package-lock.json
  package.json
  ssot/pages/Current State - Nx And Dependency Migration Roadmap.md
Due: prettier --write

perf(1033): transpile geolocation specs with isolatedModules
  libs/common/geolocation/tsconfig.spec.json
Due: prettier --write

ci(1033): persist the Nx task cache across CI runs
  .github/actions/nx-cache/action.yml
  .github/workflows/pipeline.yml
Due: none

chore: bump version 85 (#1047)
  CHANGELOG.md
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: prettier --write

chore(1033): upgrade Nx and Capacitor plugin to 23 (#1046)
  .github/actions/nx-cache/action.yml
  .github/workflows/pipeline.yml
  .gitignore
  .npmrc
  eslint.config.mjs
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/__snapshots__/details.page.spec.ts.snap
  libs/bite-tribe/store/src/lib/bites/__specs__/__snapshots__/selectors.spec.ts.snap
  libs/common/geolocation/tsconfig.spec.json
  libs/common/ui/chart/src/lib/chart/utils/__specs__/__snapshots__/with-padded-data.spec.ts.snap
  package-lock.json
  package.json
  ssot/pages/Current State - Nx And Dependency Migration Roadmap.md
Due: prettier --write

chore: migrate ng ngrx rxjs ionic
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-category/business-category.component.html
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-category/business-category.component.ts
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item-editor/business-menu-item-editor.component.html
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item-editor/business-menu-variant.component.ts
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item/business-menu-item.component.html
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item/business-menu-item.component.ts
  libs/bite-tribe-business/organisation-dashboard/page/src/lib/components/page/__specs__/organisation-dashboard.spec.ts
  libs/common/ui/page/src/lib/menu/__specs__/__snapshots__/app-menu.component.spec.ts.snap
  libs/common/ui/page/src/lib/menu/__specs__/app-menu.component.spec.ts
  package-lock.json
  package.json
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Nx And Dependency Migration Roadmap.md
  ssot/pages/epic-1029.md
  ssot/pages/issue-1031.md
Due: eslint --fix, prettier --write

test: stabalize loki tests
  .loki/reference/chrome_iphone7_Components_Restaurant_Image_Image_Loaded.png
  .loki/reference/chrome_iphone7_Pages_Restaurant_Verified_Restaurant_Registered.png
  .loki/reference/chrome_iphone7_Pages_Restaurant_Verified_Restaurant_Registered_With_Social_Media_Links.png
  .loki/reference/chrome_laptop_Components_Restaurant_Image_Image_Loaded.png
  .loki/reference/chrome_laptop_Pages_Restaurant_Verified_Restaurant_Full_Maintained.png
  .loki/reference/chrome_laptop_Pages_Restaurant_Verified_Restaurant_Registered.png
  .loki/reference/chrome_laptop_Pages_Restaurant_Verified_Restaurant_Registered_With_Social_Media_Links.png
  apps/storybook-host/.storybook/loki-getstories-shim.ts
  apps/storybook-host/.storybook/preview.ts
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Nx And Dependency Migration Roadmap.md
  ssot/pages/issue-1031.md
Due: eslint --fix, prettier --write

ci: fix loki flaky test
  .loki/reference/chrome_iphone7_Pages_Profile_With_Many_Flags.png
  .loki/reference/chrome_laptop_Pages_Profile_With_Many_Flags.png
  libs/bite-tribe/profile/page/src/lib/components/profile-page/__specs__/profile.stories.ts
  ssot/pages/Current State - Known Issues.md
Due: eslint --fix, prettier --write

chore(1031): update angular ngrx ionic (#1048)
  .loki/reference/chrome_iphone7_Components_Restaurant_Image_Image_Loaded.png
  .loki/reference/chrome_iphone7_Pages_Profile_With_Many_Flags.png
  .loki/reference/chrome_iphone7_Pages_Restaurant_Verified_Restaurant_Registered.png
  .loki/reference/chrome_iphone7_Pages_Restaurant_Verified_Restaurant_Registered_With_Social_Media_Links.png
  .loki/reference/chrome_laptop_Components_Restaurant_Image_Image_Loaded.png
  .loki/reference/chrome_laptop_Pages_Profile_With_Many_Flags.png
  .loki/reference/chrome_laptop_Pages_Restaurant_Verified_Restaurant_Full_Maintained.png
  .loki/reference/chrome_laptop_Pages_Restaurant_Verified_Restaurant_Registered.png
  .loki/reference/chrome_laptop_Pages_Restaurant_Verified_Restaurant_Registered_With_Social_Media_Links.png
  apps/storybook-host/.storybook/loki-getstories-shim.ts
  apps/storybook-host/.storybook/preview.ts
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-category/business-category.component.html
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-category/business-category.component.ts
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item-editor/business-menu-item-editor.component.html
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item-editor/business-menu-variant.component.ts
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item/business-menu-item.component.html
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item/business-menu-item.component.ts
  libs/bite-tribe-business/organisation-dashboard/page/src/lib/components/page/__specs__/organisation-dashboard.spec.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/__specs__/profile.stories.ts
  libs/common/ui/page/src/lib/menu/__specs__/__snapshots__/app-menu.component.spec.ts.snap
  libs/common/ui/page/src/lib/menu/__specs__/app-menu.component.spec.ts
  package-lock.json
  package.json
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Nx And Dependency Migration Roadmap.md
  ssot/pages/epic-1029.md
  ssot/pages/issue-1031.md
Due: eslint --fix, prettier --write

chore: update Storybook, Jest, and Playwright within current majors
  apps/storybook-host/.storybook/preview.ts
  package-lock.json
  package.json
  ssot/pages/Current State - Nx And Dependency Migration Roadmap.md
  ssot/pages/epic-1029.md
  ssot/pages/issue-1036.md
Due: eslint --fix, prettier --write

chore: update Storybook, Jest, and Playwright within current majors (#1049)
  apps/storybook-host/.storybook/preview.ts
  package-lock.json
  package.json
  ssot/pages/Current State - Nx And Dependency Migration Roadmap.md
  ssot/pages/epic-1029.md
  ssot/pages/issue-1036.md
Due: eslint --fix, prettier --write

chore: align the Capacitor 8 native stack (#1038)
  package-lock.json
  package.json
  ssot/pages/Current State - Nx And Dependency Migration Roadmap.md
  ssot/pages/epic-1029.md
  ssot/pages/issue-1038.md
Due: prettier --write

fix: add geolocation 8.2.0 coords fields to details story Position mock
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.stories.ts
Due: eslint --fix, prettier --write

docs: record geolocation 8.2.0 coords adaptation in migration roadmap
  ssot/pages/Current State - Nx And Dependency Migration Roadmap.md
Due: prettier --write

chore: align the Capacitor 8 native stack (#1038) (#1050)
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.stories.ts
  package-lock.json
  package.json
  ssot/pages/Current State - Nx And Dependency Migration Roadmap.md
  ssot/pages/epic-1029.md
  ssot/pages/issue-1038.md
Due: eslint --fix, prettier --write

chore(1034): update Firebase web client within major 12
  package-lock.json
  package.json
Due: prettier --write

chore(1034): update Firebase Functions, CLI, and test tooling within majors
  apps/bite-tribe-firebase/functions/package-lock.json
  apps/bite-tribe-firebase/functions/package.json
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,html}
  prettier --write: any of: *.{ts,js,html,scss,json,md}
  stylelint --fix: any of: *.scss
