Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,html}": "eslint --fix",
  "*.{ts,js,html,scss,json,md}": "prettier --write",
  "*.scss": "stylelint --fix"
}

ci: commit new references
  .github/workflows/loki-references-update.yml
Due: none

chore: update loki references
  apps/kosaml/.loki/reference/chrome_laptop_Conceptual_Design_Base_Scenario_Empty_Scenario.png
  apps/kosaml/.loki/reference/chrome_laptop_Conceptual_Design_Base_Scenario_Filled_Scenario.png
  apps/kosaml/.loki/reference/chrome_laptop_Conceptual_Design_Base_Scenario_Scenario_With_Delete_Button.png
  apps/kosaml/.loki/reference/chrome_laptop_Conceptual_Design_Base_Use_Case_Concrete_Use_Case.png
  apps/kosaml/.loki/reference/chrome_laptop_Conceptual_Design_Base_Use_Case_Essential_Use_Case.png
  apps/kosaml/.loki/reference/chrome_laptop_Conceptual_Design_Task_Object_Task_Object.png
  apps/kosaml/.loki/reference/chrome_laptop_Kosaml_Layout_Menu_Bar_Menubar.png
  apps/kosaml/.loki/reference/chrome_laptop_Kosaml_Layout_Sidebar_Empty_Sidebar.png
  apps/prices/.loki/reference/chrome_iphone7_Components_Page_Primary.png
  apps/prices/.loki/reference/chrome_iphone7_Pages_Add_Item_Primary.png
  apps/prices/.loki/reference/chrome_iphone7_Pages_Auth_Primary.png
  apps/prices/.loki/reference/chrome_iphone7_Pages_Home_Empty.png
  apps/prices/.loki/reference/chrome_iphone7_Pages_Home_Primary.png
  apps/prices/.loki/reference/chrome_iphone7_Pages_Registration_Primary.png
Due: none

chore: update loki references (#217)
  apps/kosaml/.loki/reference/chrome_laptop_Conceptual_Design_Base_Scenario_Empty_Scenario.png
  apps/kosaml/.loki/reference/chrome_laptop_Conceptual_Design_Base_Scenario_Filled_Scenario.png
  apps/kosaml/.loki/reference/chrome_laptop_Conceptual_Design_Base_Scenario_Scenario_With_Delete_Button.png
  apps/kosaml/.loki/reference/chrome_laptop_Conceptual_Design_Base_Use_Case_Concrete_Use_Case.png
  apps/kosaml/.loki/reference/chrome_laptop_Conceptual_Design_Base_Use_Case_Essential_Use_Case.png
  apps/kosaml/.loki/reference/chrome_laptop_Conceptual_Design_Task_Object_Task_Object.png
  apps/kosaml/.loki/reference/chrome_laptop_Kosaml_Layout_Menu_Bar_Menubar.png
  apps/kosaml/.loki/reference/chrome_laptop_Kosaml_Layout_Sidebar_Empty_Sidebar.png
  apps/prices/.loki/reference/chrome_iphone7_Components_Page_Primary.png
  apps/prices/.loki/reference/chrome_iphone7_Pages_Add_Item_Primary.png
  apps/prices/.loki/reference/chrome_iphone7_Pages_Auth_Primary.png
  apps/prices/.loki/reference/chrome_iphone7_Pages_Home_Empty.png
  apps/prices/.loki/reference/chrome_iphone7_Pages_Home_Primary.png
  apps/prices/.loki/reference/chrome_iphone7_Pages_Registration_Primary.png
Due: none

ci: fix base branch in pr creation
  .github/actions/create-pull-request/action.yml
Due: none

chore: update nx-loki
  package-lock.json
  package.json
Due: prettier --write

ci: --allow-empty for loki update
  .github/workflows/loki-references-update.yml
Due: none

ci: fix commit command
  .github/workflows/loki-references-update.yml
Due: none

chore: naming
  .github/workflows/loki-references-update.yml
Due: none

ci: extend pipeline to execute steps only if has_changes
  .github/workflows/loki-references-update.yml
Due: none

ci: switch lint step
  .github/workflows/pipeline.yml
Due: none

ci: reduce linting to one step
  .github/workflows/pipeline.yml
Due: none

ci: introduce single stylelint job
  .github/workflows/pipeline.yml
Due: none

fix: fix ci
  .github/workflows/pipeline.yml
Due: none

chore: order of jobs
  .github/workflows/pipeline.yml
Due: none

chore: setup capacitor for finances
  apps/finances-ios/.gitignore
  apps/finances-ios/capacitor.config.ts
  apps/finances-ios/ios/.gitignore
  apps/finances-ios/ios/App/App.xcodeproj/project.pbxproj
  apps/finances-ios/ios/App/App.xcworkspace/contents.xcworkspacedata
  apps/finances-ios/ios/App/App.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  apps/finances-ios/ios/App/App/AppDelegate.swift
  apps/finances-ios/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-512@2x.png
  apps/finances-ios/ios/App/App/Assets.xcassets/AppIcon.appiconset/Contents.json
  apps/finances-ios/ios/App/App/Assets.xcassets/Contents.json
  apps/finances-ios/ios/App/App/Assets.xcassets/Splash.imageset/Contents.json
  apps/finances-ios/ios/App/App/Assets.xcassets/Splash.imageset/splash-2732x2732-1.png
  apps/finances-ios/ios/App/App/Assets.xcassets/Splash.imageset/splash-2732x2732-2.png
  apps/finances-ios/ios/App/App/Assets.xcassets/Splash.imageset/splash-2732x2732.png
  apps/finances-ios/ios/App/App/Base.lproj/LaunchScreen.storyboard
  apps/finances-ios/ios/App/App/Base.lproj/Main.storyboard
  apps/finances-ios/ios/App/App/Info.plist
  apps/finances-ios/ios/App/Podfile
  apps/finances-ios/ios/App/Podfile.lock
  apps/finances-ios/package-lock.json
  apps/finances-ios/package.json
  apps/finances-ios/project.json
  apps/prices-ios/package.json
  nx.json
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

feat: load accounts from firestore and save to indexed db
  apps/finances/env-var-plugin.js
  apps/finances/project.json
  apps/finances/src/app/app.config.ts
  apps/finances/tsconfig.app.json
  apps/prices/project.json
  apps/prices/src/app/app.config.ts
  libs/common/ta-firestore/.eslintrc.json
  libs/common/ta-firestore/README.md
  libs/common/ta-firestore/jest.config.ts
  libs/common/ta-firestore/project.json
  libs/common/ta-firestore/src/index.ts
  libs/common/ta-firestore/src/lib/ta-firestore/provide-ta-firestore.ts
  libs/common/ta-firestore/src/test-setup.ts
  libs/common/ta-firestore/tsconfig.json
  libs/common/ta-firestore/tsconfig.lib.json
  libs/common/ta-firestore/tsconfig.spec.json
  libs/finances/firestore/.eslintrc.json
  libs/finances/firestore/README.md
  libs/finances/firestore/jest.config.ts
  libs/finances/firestore/project.json
  libs/finances/firestore/src/index.ts
  libs/finances/firestore/src/lib/firestore/account.ts
  libs/finances/firestore/src/lib/firestore/finances-firestore.service.ts
  libs/finances/firestore/src/test-setup.ts
  libs/finances/firestore/tsconfig.json
  libs/finances/firestore/tsconfig.lib.json
  libs/finances/firestore/tsconfig.spec.json
  libs/finances/pages/dashboard/src/lib/components/dashboard/dashboard.component.ts
  libs/finances/pages/dashboard/src/lib/integration/dashboard-container.component.ts
  libs/finances/pages/dashboard/src/lib/integration/dashboard.service.ts
  libs/finances/store/src/lib/accounts/actions.ts
  libs/finances/store/src/lib/accounts/effects.ts
  libs/finances/store/src/lib/accounts/reducer.ts
  libs/finances/store/src/lib/indexed-db/IndexedDbService.ts
  libs/prices/firestore/feature/src/index.ts
  tsconfig.base.json
Due: eslint --fix, prettier --write

feat: align with firestore
  libs/finances/firestore/src/lib/firestore/finances-firestore.service.ts
  libs/finances/firestore/src/lib/firestore/model/account.ts
  libs/finances/firestore/src/lib/firestore/model/bank.ts
  libs/finances/store/src/lib/banks/actions.ts
  libs/finances/store/src/lib/banks/effects.ts
  libs/finances/store/src/lib/banks/reducer.ts
  libs/finances/store/src/lib/indexed-db/IndexedDbService.ts
Due: eslint --fix, prettier --write

chore: increate initial budget
  apps/finances/project.json
Due: prettier --write

fix: fix cap config
  apps/finances-ios/capacitor.config.ts
  apps/finances-ios/package-lock.json
  apps/finances-ios/project.json
  apps/prices-ios/project.json
Due: eslint --fix, prettier --write

feat: impl add popover menu
  apps/finances/project.json
  libs/common/ui/page/src/lib/page.component.html
  libs/common/ui/page/src/lib/page.component.ts
  libs/common/ui/page/src/lib/popover-menu.component.ts
  libs/finances/pages/dashboard/src/lib/components/dashboard/dashboard.component.html
  libs/finances/pages/dashboard/src/lib/components/dashboard/dashboard.component.ts
  libs/finances/ui/add-popover-menu/.eslintrc.json
  libs/finances/ui/add-popover-menu/README.md
  libs/finances/ui/add-popover-menu/jest.config.ts
  libs/finances/ui/add-popover-menu/project.json
  libs/finances/ui/add-popover-menu/src/index.ts
  libs/finances/ui/add-popover-menu/src/lib/add-popover-menu/add-popover-menu.component.ts
  libs/finances/ui/add-popover-menu/src/test-setup.ts
  libs/finances/ui/add-popover-menu/tsconfig.json
  libs/finances/ui/add-popover-menu/tsconfig.lib.json
  libs/finances/ui/add-popover-menu/tsconfig.spec.json
  package-lock.json
  package.json
  tsconfig.base.json
Due: eslint --fix, prettier --write

test: adjust tests
  libs/common/ui/page/src/lib/__specs__/page.component.spec.ts
Due: eslint --fix, prettier --write

test: prevent error log
  libs/common/ui/page/src/lib/__specs__/page.component.spec.ts
  libs/common/ui/page/src/test-setup.ts
Due: eslint --fix, prettier --write

test: mock fetch
  __mocks__/flat/index.ts
  libs/common/ui/page/src/lib/__specs__/__snapshots__/popover-menu.component.spec.ts.snap
  libs/common/ui/page/src/lib/__specs__/popover-menu.component.spec.ts
  libs/common/ui/page/src/lib/page.component.ts
  libs/common/ui/page/src/lib/popover-menu.component.ts
Due: eslint --fix, prettier --write

ci: use origin prefix for base branch
  .github/workflows/pipeline.yml
Due: none

ci: set defaultBase in nx.json
  .github/workflows/pipeline.yml
  nx.json
Due: prettier --write

ci: fetch all history for all branches and tags
  .github/workflows/pipeline.yml
Due: none

ci: set NX_BASE and NX_BRANCH via env
  .github/workflows/pipeline.yml
Due: none

ci: detect affected by dependency updates
  nx.json
Due: prettier --write

ci: fix e2e tests
  apps/prices/src/app/app.config.ts
Due: eslint --fix, prettier --write

feat: impl add bank page
  apps/cv/src/app/app.component.html
  libs/finances/pages/add-bank/.eslintrc.json
  libs/finances/pages/add-bank/README.md
  libs/finances/pages/add-bank/jest.config.ts
  libs/finances/pages/add-bank/project.json
  libs/finances/pages/add-bank/src/index.ts
  libs/finances/pages/add-bank/src/lib/api/bank.ts
  libs/finances/pages/add-bank/src/lib/component/add-bank.component.html
  libs/finances/pages/add-bank/src/lib/component/add-bank.component.scss
  libs/finances/pages/add-bank/src/lib/component/add-bank.component.spec.ts
  libs/finances/pages/add-bank/src/lib/component/add-bank.component.ts
  libs/finances/pages/add-bank/src/lib/integration/add-bank-container.component.ts
  libs/finances/pages/add-bank/src/lib/integration/add-bank.service.ts
  libs/finances/pages/add-bank/src/test-setup.ts
  libs/finances/pages/add-bank/tsconfig.json
  libs/finances/pages/add-bank/tsconfig.lib.json
  libs/finances/pages/add-bank/tsconfig.spec.json
  libs/finances/pages/dashboard/src/lib/components/dashboard/dashboard.component.ts
  libs/finances/pages/dashboard/src/lib/integration/dashboard-container.component.ts
  libs/finances/pages/dashboard/src/lib/integration/dashboard.service.ts
  libs/finances/pages/pages/.eslintrc.json
  libs/finances/pages/pages/README.md
  libs/finances/pages/pages/project.json
  libs/finances/pages/pages/src/index.ts
  libs/finances/pages/pages/src/lib/pages.ts
  libs/finances/pages/pages/tsconfig.json
  libs/finances/pages/pages/tsconfig.lib.json
  libs/finances/shell/src/lib/routes.ts
  libs/finances/ui/add-popover-menu/src/lib/add-popover-menu/add-popover-menu.component.ts
  tsconfig.base.json
Due: eslint --fix, prettier --write, stylelint --fix

chore: adjust test config for add-bank
  libs/finances/pages/add-bank/jest.config.ts
  libs/finances/pages/add-bank/src/lib/component/add-bank.component.spec.ts
  libs/finances/pages/add-bank/src/test-setup.ts
Due: eslint --fix, prettier --write

ci: remove nx branch
  .github/workflows/pipeline.yml
Due: none

ci: use nx-set-shas
  .github/workflows/pipeline.yml
Due: none

ci: move setting env vars for affected to setup
  .github/actions/setup/action.yml
  .github/workflows/pipeline.yml
Due: none

ci: move setup env for affected to reusable action
  .github/actions/setup-env-for-affected/action.yml
  .github/workflows/pipeline.yml
Due: none

ci: use action for lint job
  .github/actions/setup/action.yml
  .github/workflows/pipeline.yml
Due: none

ci: fix action
  .github/actions/setup-env-for-affected/action.yml
Due: none

feat: add bank page (#219)
  .github/actions/setup-env-for-affected/action.yml
  .github/workflows/pipeline.yml
  apps/cv/src/app/app.component.html
  libs/finances/pages/add-bank/.eslintrc.json
  libs/finances/pages/add-bank/README.md
  libs/finances/pages/add-bank/jest.config.ts
  libs/finances/pages/add-bank/project.json
  libs/finances/pages/add-bank/src/index.ts
  libs/finances/pages/add-bank/src/lib/api/bank.ts
  libs/finances/pages/add-bank/src/lib/component/add-bank.component.html
  libs/finances/pages/add-bank/src/lib/component/add-bank.component.scss
  libs/finances/pages/add-bank/src/lib/component/add-bank.component.spec.ts
  libs/finances/pages/add-bank/src/lib/component/add-bank.component.ts
  libs/finances/pages/add-bank/src/lib/integration/add-bank-container.component.ts
  libs/finances/pages/add-bank/src/lib/integration/add-bank.service.ts
  libs/finances/pages/add-bank/src/test-setup.ts
  libs/finances/pages/add-bank/tsconfig.json
  libs/finances/pages/add-bank/tsconfig.lib.json
  libs/finances/pages/add-bank/tsconfig.spec.json
  libs/finances/pages/dashboard/src/lib/components/dashboard/dashboard.component.ts
  libs/finances/pages/dashboard/src/lib/integration/dashboard-container.component.ts
  libs/finances/pages/dashboard/src/lib/integration/dashboard.service.ts
  libs/finances/pages/pages/.eslintrc.json
  libs/finances/pages/pages/README.md
  libs/finances/pages/pages/project.json
  libs/finances/pages/pages/src/index.ts
  libs/finances/pages/pages/src/lib/pages.ts
  libs/finances/pages/pages/tsconfig.json
  libs/finances/pages/pages/tsconfig.lib.json
  libs/finances/shell/src/lib/routes.ts
  libs/finances/ui/add-popover-menu/src/lib/add-popover-menu/add-popover-menu.component.ts
  tsconfig.base.json
Due: eslint --fix, prettier --write, stylelint --fix
