Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

feat: read gps position from image (#338)
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  libs/bite-tribe-common/bite/src/lib/__specs__/bite.component.spec.ts
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe-common/bite/src/lib/bite.component.scss
  libs/bite-tribe-common/bite/src/lib/bite.component.ts
  libs/bite-tribe-common/bite/src/lib/likes/__specs__/likes.component.spec.ts
  libs/bite-tribe-common/bite/src/lib/likes/likes.component.html
  libs/bite-tribe-common/bite/src/lib/likes/likes.component.scss
  libs/bite-tribe-common/bite/src/lib/likes/likes.component.ts
  libs/bite-tribe/bite/data-access/src/lib/bite-data-access.service.ts
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/bite/page/src/lib/components/page/utils/__specs__/get-exif-data.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/utils/get-exif-data.ts
  libs/bite-tribe/bite/page/tsconfig.lib.json
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/home/page/src/lib/integration/my-bites-container.component.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, stylelint --fix

feat: read gps position from image on ios
  apps/bite-tribe-ios/project.json
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/bite/page/src/lib/components/page/utils/__specs__/get-exif-data-from-file.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/utils/calc-gps-position.ts
  libs/bite-tribe/bite/page/src/lib/components/page/utils/get-exif-data-from-file.ts
  libs/bite-tribe/bite/page/src/lib/components/page/utils/get-exif-data-from-photo.ts
  libs/bite-tribe/bite/page/src/lib/components/page/utils/get-exif-data.ts
  libs/bite-tribe/store/src/lib/app/effects.ts
Due: eslint --fix, prettier --write

feat: implement taken gps position from image on ios
  libs/bite-tribe-common/map/src/lib/map.component.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/store/src/lib/app/actions.ts
  libs/bite-tribe/store/src/lib/app/effects.ts
Due: eslint --fix, prettier --write

test: add test suite
  libs/bite-tribe/bite/page/src/lib/components/page/utils/__specs__/get-exif-data-from-photo.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/utils/get-exif-data-from-photo.ts
Due: eslint --fix, prettier --write

test: extend test suite
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
Due: eslint --fix, prettier --write

test: extend test suite
  libs/bite-tribe/bite/page/src/lib/components/page/utils/__specs__/get-exif-data-from-file.spec.ts
Due: eslint --fix, prettier --write

test: fix tests
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
Due: eslint --fix, prettier --write

test: fix tests
  libs/bite-tribe/bite/page/src/lib/components/page/utils/__specs__/get-exif-data-from-file.spec.ts
Due: eslint --fix, prettier --write

fix: fix ios take gps from image (#346)
  apps/bite-tribe-ios/project.json
  libs/bite-tribe-common/map/src/lib/map.component.ts
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/bite/page/src/lib/components/page/utils/__specs__/get-exif-data-from-file.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/utils/__specs__/get-exif-data-from-photo.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/utils/calc-gps-position.ts
  libs/bite-tribe/bite/page/src/lib/components/page/utils/get-exif-data-from-file.ts
  libs/bite-tribe/bite/page/src/lib/components/page/utils/get-exif-data-from-photo.ts
  libs/bite-tribe/bite/page/src/lib/components/page/utils/get-exif-data.ts
  libs/bite-tribe/store/src/lib/app/actions.ts
  libs/bite-tribe/store/src/lib/app/effects.ts
Due: eslint --fix, prettier --write

chore: update build version
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: none

chore: update build version (#347)
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: none

fix: fix image compression on ios app
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/common/image-compression/src/index.ts
  libs/common/image-compression/src/lib/compress-photo.ts
Due: eslint --fix, prettier --write

chore: fix tests
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
Due: eslint --fix, prettier --write

fix: fix ios too big image bug (#349)
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/common/image-compression/src/index.ts
  libs/common/image-compression/src/lib/compress-photo.ts
Due: eslint --fix, prettier --write

refactor: introduce image upload custom control
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe-common/bite/src/lib/bite.component.ts
  libs/bite-tribe/bite/page/src/index.ts
  libs/bite-tribe/bite/page/src/lib/components/image-upload/image-upload.component.html
  libs/bite-tribe/bite/page/src/lib/components/image-upload/image-upload.component.scss
  libs/bite-tribe/bite/page/src/lib/components/image-upload/image-upload.component.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.directive.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.scss
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/bite/page/src/lib/components/page/edit-bite.page.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite-container.component.ts
  libs/bite-tribe/bite/page/src/lib/integration/edit-bite-container.component.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/home/page/src/lib/integration/home.service.ts
  libs/bite-tribe/home/page/src/lib/integration/my-bites-container.component.ts
  libs/bite-tribe/shell/src/lib/routes.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor: cleanup and better naming
  libs/bite-tribe/bite/page/src/lib/components/image-upload/image-upload.component.ts
Due: eslint --fix, prettier --write

refactor: introduce position control
  libs/bite-tribe-common/map/src/index.ts
  libs/bite-tribe-common/map/src/lib/map/map.component.html
  libs/bite-tribe-common/map/src/lib/map/map.component.scss
  libs/bite-tribe-common/map/src/lib/map/map.component.ts
  libs/bite-tribe-common/map/src/lib/position/position.component.ts
  libs/bite-tribe/bite/page/src/lib/components/image-upload/image-upload.component.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/model/src/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor: introduce position control
  libs/bite-tribe-common/map/src/lib/map/map.component.ts
  libs/bite-tribe-common/map/src/lib/position/position.component.ts
  libs/bite-tribe/bite/page/src/lib/components/image-upload/image-upload.component.ts
Due: eslint --fix, prettier --write

feat: add map to restaurant
  libs/bite-tribe-common/map/src/lib/map/map.component.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite-container.component.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.ts
Due: eslint --fix, prettier --write

feat: impl edit bite
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/bite/data-access/src/lib/bite-data-access.service.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.directive.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/bite/page/src/lib/components/page/edit-bite.page.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite-container.component.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite.service.ts
  libs/bite-tribe/bite/page/src/lib/integration/edit-bite-container.component.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/bites/actions.ts
  libs/bite-tribe/store/src/lib/bites/effects.ts
  libs/bite-tribe/store/src/lib/provide-bite-tribe-store.ts
Due: eslint --fix, prettier --write

test: adjust tests
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
Due: eslint --fix, prettier --write

test: extend test suite
  libs/bite-tribe/bite/page/src/lib/components/image-upload/__specs__/image-upload.component.spec.ts
Due: eslint --fix, prettier --write

chore: prepare ios app build
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: none

302 impl change bite feature (#350)
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe-common/bite/src/lib/bite.component.ts
  libs/bite-tribe-common/map/src/index.ts
  libs/bite-tribe-common/map/src/lib/map/map.component.html
  libs/bite-tribe-common/map/src/lib/map/map.component.scss
  libs/bite-tribe-common/map/src/lib/map/map.component.ts
  libs/bite-tribe-common/map/src/lib/position/position.component.ts
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/bite/data-access/src/lib/bite-data-access.service.ts
  libs/bite-tribe/bite/page/src/index.ts
  libs/bite-tribe/bite/page/src/lib/components/image-upload/__specs__/image-upload.component.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/image-upload/image-upload.component.html
  libs/bite-tribe/bite/page/src/lib/components/image-upload/image-upload.component.scss
  libs/bite-tribe/bite/page/src/lib/components/image-upload/image-upload.component.ts
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.scss
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite.service.ts
  libs/bite-tribe/bite/page/src/lib/integration/edit-bite-container.component.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/home/page/src/lib/integration/home.service.ts
  libs/bite-tribe/home/page/src/lib/integration/my-bites-container.component.ts
  libs/bite-tribe/model/src/index.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.ts
  libs/bite-tribe/shell/src/lib/routes.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/bites/actions.ts
  libs/bite-tribe/store/src/lib/bites/effects.ts
  libs/bite-tribe/store/src/lib/provide-bite-tribe-store.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: prepare 1.0.1 build 9
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: none

chore: prepare 1.0.1 build 9 (#351)
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: none

fix: fix title of edit bite
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/bite/page/src/lib/integration/edit-bite-container.component.ts
Due: eslint --fix, prettier --write

fix: fix title of edit bite (#352)
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/bite/page/src/lib/integration/edit-bite-container.component.ts
Due: eslint --fix, prettier --write

feat: enable cache for firebase
  libs/common/ta-firestore/src/lib/provide-firestore-utils.ts
Due: eslint --fix, prettier --write

feat: show bites of restaurant on restaurant page
  libs/bite-tribe/home/data-access/src/lib/home-data-access.service.ts
  libs/bite-tribe/restaurant/data-access/src/lib/restaurant-data-access.service.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/restaurant-container.component.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/restaurant.service.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/bites/selectors.ts
Due: eslint --fix, prettier --write

feat: query bites for restaurants in bite-tribe
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/bites/bites-by-restaurant.selector.ts
  libs/bite-tribe/store/src/lib/bites/selectors.ts
Due: eslint --fix, prettier --write

fix: fix restaurant page in business app
  apps/bite-tribe-business/project.json
  apps/bite-tribe-business/src/global.scss
Due: prettier --write, stylelint --fix

chore: fix restaurant in business
  apps/bite-tribe-business/project.json
  apps/bite-tribe/project.json
  libs/bite-tribe-business/dashboard/page/src/lib/integration/dashboard.service.ts
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/restaurant-page.component.html
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/restaurant-page.component.ts
  libs/bite-tribe-business/restaurant/page/src/lib/integration/restaurant-container.component.ts
  libs/bite-tribe-business/restaurant/page/src/lib/integration/restaurant.service.ts
  libs/bite-tribe-common/assets/placeholder-restaurant.png
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/restaurant-container.component.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/restaurant.service.ts
Due: eslint --fix, prettier --write

refactor: normalize strings before filtering
  libs/bite-tribe/store/src/lib/bites/bites-by-restaurant.selector.ts
Due: eslint --fix, prettier --write

chore: prepare release
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: none

refactor: optimize filtering code
  libs/bite-tribe/store/src/lib/bites/bites-by-restaurant.selector.ts
Due: eslint --fix, prettier --write

287 implement bite query for restaurant (#353)
  apps/bite-tribe-business/project.json
  apps/bite-tribe-business/src/global.scss
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  apps/bite-tribe/project.json
  libs/bite-tribe-business/dashboard/page/src/lib/integration/dashboard.service.ts
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/restaurant-page.component.html
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/restaurant-page.component.ts
  libs/bite-tribe-business/restaurant/page/src/lib/integration/restaurant-container.component.ts
  libs/bite-tribe-business/restaurant/page/src/lib/integration/restaurant.service.ts
  libs/bite-tribe-common/assets/placeholder-restaurant.png
  libs/bite-tribe/home/data-access/src/lib/home-data-access.service.ts
  libs/bite-tribe/restaurant/data-access/src/lib/restaurant-data-access.service.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/restaurant-container.component.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/restaurant.service.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/bites/bites-by-restaurant.selector.ts
  libs/common/ta-firestore/src/lib/provide-firestore-utils.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: prepare bite creation from menu item
  libs/bite-tribe/bite/data-access/src/lib/bite-data-access.service.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite-container.component.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite.service.ts
  libs/bite-tribe/menu/data-access/src/lib/menu-data-access.service.ts
  libs/bite-tribe/menu/page/src/lib/components/category/category.component.html
  libs/bite-tribe/menu/page/src/lib/components/menu-item/menu-item.component.html
  libs/bite-tribe/menu/page/src/lib/components/menu/menu.component.html
  libs/bite-tribe/menu/page/src/lib/components/page/menu-page.component.html
  libs/bite-tribe/menu/page/src/lib/components/page/menu-page.component.ts
  libs/bite-tribe/menu/page/src/lib/integration/menu-container.component.ts
  libs/bite-tribe/menu/page/src/lib/integration/menu.service.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/bites/actions.ts
  libs/bite-tribe/store/src/lib/bites/adapter.ts
  libs/bite-tribe/store/src/lib/bites/reducer.ts
  libs/bite-tribe/store/src/lib/bites/selectors.ts
Due: eslint --fix, prettier --write

chore: prepare ios release
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: none

296 create bite from menu item (#354)
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  libs/bite-tribe/bite/data-access/src/lib/bite-data-access.service.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite-container.component.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite.service.ts
  libs/bite-tribe/menu/data-access/src/lib/menu-data-access.service.ts
  libs/bite-tribe/menu/page/src/lib/components/category/category.component.html
  libs/bite-tribe/menu/page/src/lib/components/menu-item/menu-item.component.html
  libs/bite-tribe/menu/page/src/lib/components/menu/menu.component.html
  libs/bite-tribe/menu/page/src/lib/components/page/menu-page.component.html
  libs/bite-tribe/menu/page/src/lib/components/page/menu-page.component.ts
  libs/bite-tribe/menu/page/src/lib/integration/menu-container.component.ts
  libs/bite-tribe/menu/page/src/lib/integration/menu.service.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/bites/actions.ts
  libs/bite-tribe/store/src/lib/bites/adapter.ts
  libs/bite-tribe/store/src/lib/bites/reducer.ts
  libs/bite-tribe/store/src/lib/bites/selectors.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,html}
  prettier --write: any of: *.{ts,js,html,scss,json,md}
  stylelint --fix: any of: *.scss
