Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,html}": "eslint --fix",
  "*.{ts,js,html,scss,json,md}": "prettier --write",
  "*.scss": "stylelint --fix"
}

chore: same same but different
  libs/bite-tribe-common/map/src/lib/position/position.component.ts
Due: eslint --fix, prettier --write

feat(378): map view chip and map view from home screen (#381)
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  apps/bite-tribe-ios/project.json
  libs/bite-tribe-common/map/src/lib/map/map.component.ts
  libs/bite-tribe-common/map/src/lib/position/position.component.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/home/page/src/lib/integration/home-container.component.ts
  libs/bite-tribe/home/page/src/lib/integration/home.service.ts
  libs/bite-tribe/map/data-access/.eslintrc.json
  libs/bite-tribe/map/data-access/README.md
  libs/bite-tribe/map/data-access/jest.config.ts
  libs/bite-tribe/map/data-access/project.json
  libs/bite-tribe/map/data-access/src/index.ts
  libs/bite-tribe/map/data-access/src/lib/map-data-access.service.ts
  libs/bite-tribe/map/data-access/src/test-setup.ts
  libs/bite-tribe/map/data-access/tsconfig.json
  libs/bite-tribe/map/data-access/tsconfig.lib.json
  libs/bite-tribe/map/data-access/tsconfig.spec.json
  libs/bite-tribe/map/page/.eslintrc.json
  libs/bite-tribe/map/page/README.md
  libs/bite-tribe/map/page/jest.config.ts
  libs/bite-tribe/map/page/project.json
  libs/bite-tribe/map/page/src/index.ts
  libs/bite-tribe/map/page/src/lib/components/map-page/map-page.component.html
  libs/bite-tribe/map/page/src/lib/components/map-page/map-page.component.scss
  libs/bite-tribe/map/page/src/lib/components/map-page/map-page.component.ts
  libs/bite-tribe/map/page/src/lib/integration/home-map-container.component.ts
  libs/bite-tribe/map/page/src/lib/integration/map.service.ts
  libs/bite-tribe/map/page/src/test-setup.ts
  libs/bite-tribe/map/page/tsconfig.json
  libs/bite-tribe/map/page/tsconfig.lib.json
  libs/bite-tribe/map/page/tsconfig.spec.json
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.ts
  libs/bite-tribe/shell/src/lib/routes.ts
  tsconfig.base.json
Due: eslint --fix, prettier --write, stylelint --fix

fix: minor improvements
  README.md
  libs/common/ui/auth/src/lib/components/login/login.component.html
Due: eslint --fix, prettier --write

style: minor styling improvements
  libs/common/ui/auth/src/lib/components/registration/registration.component.html
Due: eslint --fix, prettier --write

feat: setup go to profile click
  README.md
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.scss
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.ts
  libs/bite-tribe/details/page/src/lib/integration/details.container.ts
  libs/bite-tribe/details/page/src/lib/integration/details.service.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: initial setup for profile page
  README.md
  libs/bite-tribe/profile/data-access/.eslintrc.json
  libs/bite-tribe/profile/data-access/README.md
  libs/bite-tribe/profile/data-access/jest.config.ts
  libs/bite-tribe/profile/data-access/project.json
  libs/bite-tribe/profile/data-access/src/index.ts
  libs/bite-tribe/profile/data-access/src/test-setup.ts
  libs/bite-tribe/profile/data-access/tsconfig.json
  libs/bite-tribe/profile/data-access/tsconfig.lib.json
  libs/bite-tribe/profile/data-access/tsconfig.spec.json
  libs/bite-tribe/profile/page/.eslintrc.json
  libs/bite-tribe/profile/page/README.md
  libs/bite-tribe/profile/page/jest.config.ts
  libs/bite-tribe/profile/page/project.json
  libs/bite-tribe/profile/page/src/index.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.scss
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.ts
  libs/bite-tribe/profile/page/src/lib/integration/profile.container.ts
  libs/bite-tribe/profile/page/src/lib/integration/profile.service.ts
  libs/bite-tribe/profile/page/src/test-setup.ts
  libs/bite-tribe/profile/page/tsconfig.json
  libs/bite-tribe/profile/page/tsconfig.lib.json
  libs/bite-tribe/profile/page/tsconfig.spec.json
  libs/bite-tribe/shell/src/lib/routes.ts
  tsconfig.base.json
Due: eslint --fix, prettier --write, stylelint --fix

feat: impl basic functionality of new profile page
  libs/bite-tribe/profile/data-access/src/index.ts
  libs/bite-tribe/profile/data-access/src/lib/profile-data-access.service.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.ts
  libs/bite-tribe/profile/page/src/lib/integration/profile.container.ts
  libs/bite-tribe/profile/page/src/lib/integration/profile.service.ts
Due: eslint --fix, prettier --write

feat: bind public user to profile page
  libs/bite-tribe/profile/data-access/src/lib/profile-data-access.service.ts
  libs/bite-tribe/profile/page/profile-page.png
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.scss
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.ts
  libs/bite-tribe/profile/page/src/lib/integration/profile.container.ts
  libs/bite-tribe/profile/page/src/lib/integration/profile.service.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: initial profile implementation with data
  libs/bite-tribe/model/src/lib/public-user.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.scss
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: fix js error on go public
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
Due: eslint --fix, prettier --write

style: minor style fix
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe-common/bite/src/lib/bite.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

style: use work-break for long bite names
  libs/bite-tribe-common/bite/src/lib/bite.component.scss
Due: prettier --write, stylelint --fix

feat: always make first letter of bite in upper case
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe-common/bite/src/lib/bite.component.ts
  libs/bite-tribe-common/bite/src/lib/pipes/with-first-letter-upper-case.pipe.ts
Due: eslint --fix, prettier --write

feat: show bites in profile page
  libs/bite-tribe/profile/data-access/src/lib/profile-data-access.service.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.scss
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.ts
  libs/bite-tribe/profile/page/src/lib/integration/profile.container.ts
  libs/bite-tribe/profile/page/src/lib/integration/profile.service.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: change display name for public user and show field city field
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/settings/data-access/src/lib/settings-data-access.service.ts
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.html
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.ts
  libs/bite-tribe/settings/page/src/lib/integration/settings-container.component.ts
  libs/bite-tribe/settings/page/src/lib/integration/settings.service.ts
  libs/bite-tribe/store/src/lib/app/actions.ts
  libs/bite-tribe/store/src/lib/app/app-slice.model.ts
  libs/bite-tribe/store/src/lib/app/effects.ts
  libs/bite-tribe/store/src/lib/app/reducer.ts
  libs/bite-tribe/store/src/lib/app/selectors.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
Due: eslint --fix, prettier --write

feat: adjustments to profile and settings
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.scss
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.ts
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.html
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.ts
  libs/bite-tribe/store/src/lib/app/reducer.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: text adjustments
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.html
Due: eslint --fix, prettier --write

chore: prepare next build
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: none

feat: add missing pages for firestore
  libs/bite-tribe/map/page/src/lib/integration/home-map-container.component.ts
  libs/bite-tribe/profile/page/src/lib/integration/profile.container.ts
Due: eslint --fix, prettier --write

366 show warning for failed gps location on home feed
  libs/bite-tribe/details/page/src/lib/pipes/is-in.pipe.ts
  libs/bite-tribe/store/src/lib/app/actions.ts
  libs/bite-tribe/store/src/lib/app/effects.ts
  libs/bite-tribe/store/src/lib/app/index.ts
  libs/bite-tribe/store/src/lib/app/reducer.ts
Due: eslint --fix, prettier --write

366 add unit tests
  libs/bite-tribe/store/jest.config.ts
  libs/bite-tribe/store/src/lib/app/__specs__/actions.spec.ts
  libs/bite-tribe/store/src/lib/app/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/app/__specs__/reducer.spec.ts
  libs/bite-tribe/store/src/lib/app/effects.ts
Due: eslint --fix, prettier --write

366 add unit tests
  libs/bite-tribe/store/src/lib/app/__specs__/actions.spec.ts
  libs/bite-tribe/store/src/lib/app/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/app/__specs__/reducer.spec.ts
Due: eslint --fix, prettier --write

366 show warning for failed gps location on home feed (#386)
  libs/bite-tribe/details/page/src/lib/pipes/is-in.pipe.ts
  libs/bite-tribe/store/jest.config.ts
  libs/bite-tribe/store/src/lib/app/__specs__/actions.spec.ts
  libs/bite-tribe/store/src/lib/app/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/app/__specs__/reducer.spec.ts
  libs/bite-tribe/store/src/lib/app/actions.ts
  libs/bite-tribe/store/src/lib/app/effects.ts
  libs/bite-tribe/store/src/lib/app/index.ts
  libs/bite-tribe/store/src/lib/app/reducer.ts
Due: eslint --fix, prettier --write

chore: update build version
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: none

chore: update build version (#387)
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: none

fix: fix unknown property emit of output, since popover controller overrides output signal in filter
  libs/bite-tribe/home/page/src/lib/components/custom-filter-modal/custom-filter-modal.component.ts
Due: eslint --fix, prettier --write

style: style margin of add button
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: switch from popover dialog to cdk dialog for better styling
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe-common/bite/src/lib/bite.component.ts
  libs/bite-tribe/home/page/src/lib/components/custom-filter-modal/custom-filter-modal.component.html
  libs/bite-tribe/home/page/src/lib/components/custom-filter-modal/custom-filter-modal.component.scss
  libs/bite-tribe/home/page/src/lib/components/custom-filter-modal/custom-filter-modal.component.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

test: add tests
  libs/bite-tribe/home/page/src/lib/components/custom-filter-modal/__specs__/custom-filter-modal.component.spec.ts
Due: eslint --fix, prettier --write

test: add tests
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/home.component.spec.ts
Due: eslint --fix, prettier --write

feat(#380): Add custom filters functionality to bite-tribe home screen (#389)
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe-common/bite/src/lib/bite.component.ts
  libs/bite-tribe/home/data-access/src/lib/home-data-access.service.ts
  libs/bite-tribe/home/page/src/index.ts
  libs/bite-tribe/home/page/src/lib/components/custom-filter-modal/__specs__/custom-filter-modal.component.spec.ts
  libs/bite-tribe/home/page/src/lib/components/custom-filter-modal/custom-filter-modal.component.html
  libs/bite-tribe/home/page/src/lib/components/custom-filter-modal/custom-filter-modal.component.scss
  libs/bite-tribe/home/page/src/lib/components/custom-filter-modal/custom-filter-modal.component.ts
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/home.component.spec.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.scss
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/home/page/src/lib/integration/home-container.component.ts
  libs/bite-tribe/home/page/src/lib/integration/home.service.ts
  libs/bite-tribe/store/src/lib/app/actions.ts
  libs/bite-tribe/store/src/lib/app/app-slice.model.ts
  libs/bite-tribe/store/src/lib/app/reducer.ts
  libs/bite-tribe/store/src/lib/app/selectors.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/bites/selectors.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: fix too big images on newer iphones in ios app
  libs/common/image-compression/src/lib/compress-file.ts
  libs/common/image-compression/src/lib/compress-photo.ts
  libs/common/image-compression/src/lib/compress-with-canvas.ts
Due: eslint --fix, prettier --write

feat: confirm dialog on return to private
  apps/cv/src/styles.scss
  libs/bite-tribe-common/bite/src/lib/bite.component.scss
  libs/bite-tribe-common/bite/src/lib/bite.component.ts
  libs/bite-tribe-common/confirm-dialog/.eslintrc.json
  libs/bite-tribe-common/confirm-dialog/README.md
  libs/bite-tribe-common/confirm-dialog/jest.config.ts
  libs/bite-tribe-common/confirm-dialog/project.json
  libs/bite-tribe-common/confirm-dialog/src/confirm-dialog/__specs__/confirm-dialog.component.spec.ts
  libs/bite-tribe-common/confirm-dialog/src/confirm-dialog/confirm-dialog.component.ts
  libs/bite-tribe-common/confirm-dialog/src/index.ts
  libs/bite-tribe-common/confirm-dialog/src/test-setup.ts
  libs/bite-tribe-common/confirm-dialog/tsconfig.json
  libs/bite-tribe-common/confirm-dialog/tsconfig.lib.json
  libs/bite-tribe-common/confirm-dialog/tsconfig.spec.json
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.html
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.ts
  tsconfig.base.json
Due: eslint --fix, prettier --write, stylelint --fix

test: fix tests
  README.md
  libs/bite-tribe-common/confirm-dialog/jest.config.ts
  libs/bite-tribe-common/confirm-dialog/src/confirm-dialog/__specs__/confirm-dialog.component.spec.ts
Due: eslint --fix, prettier --write

test: extend test suite
  libs/common/image-compression/src/lib/__specs__/compress-photo.spec.ts
  libs/common/image-compression/src/lib/__specs__/compress-with-canvas.spec.ts
  libs/common/image-compression/src/lib/compress-photo.ts
Due: eslint --fix, prettier --write

test: increase test coverage
  libs/common/image-compression/src/lib/__specs__/compress-photo.spec.ts
Due: eslint --fix, prettier --write

test: extend test suite
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  libs/common/image-compression/src/lib/__specs__/base64-to-file.spec.ts
  libs/common/image-compression/src/lib/__specs__/compress-photo.spec.ts
  libs/common/image-compression/src/lib/base64-to-file.ts
  libs/common/image-compression/src/lib/compress-photo.ts
Due: eslint --fix, prettier --write

fix: fix menu on bucket list page and profile page
  libs/bite-tribe/home/page/src/lib/integration/bucket-list-container.component.ts
  libs/bite-tribe/profile/page/src/lib/integration/profile.service.ts
Due: eslint --fix, prettier --write

feat: scroll to top button
  README.md
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.scss
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/common/image-compression/src/lib/__specs__/compress-photo.spec.ts
  libs/common/image-compression/src/lib/__specs__/compress-with-canvas.spec.ts
  libs/common/image-compression/src/lib/compress-file.ts
  libs/common/image-compression/src/lib/compress-photo.ts
  libs/common/image-compression/src/lib/compress-with-canvas.ts
  libs/common/ui/page/src/lib/page.component.scss
  libs/common/utils/src/lib/add-necessary-icons.ts
Due: eslint --fix, prettier --write, stylelint --fix
