Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

feat: take currency from settings
  libs/bite-tribe/bite/data-access/src/lib/bite-data-access.service.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite-container.component.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite.service.ts
  libs/bite-tribe/store/src/lib/app/selectors.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
Due: eslint --fix, prettier --write

263 implement display name of user for reviews (#293)
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/bite/data-access/src/lib/bite-data-access.service.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite-container.component.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite.service.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.scss
  libs/bite-tribe/home/page/src/lib/components/bite/bite.component.html
  libs/bite-tribe/home/page/src/lib/components/bite/bite.component.scss
  libs/bite-tribe/model/src/index.ts
  libs/bite-tribe/model/src/lib/menu.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.scss
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.ts
  libs/bite-tribe/store/src/lib/app/selectors.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/restaurant/actions.ts
  libs/bite-tribe/store/src/lib/restaurant/effects.ts
  libs/bite-tribe/store/src/lib/restaurant/selectors.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: initial set up for dashboard
  apps/bite-tribe-business/project.json
  libs/bite-tribe-business/dashboard/data-access/.eslintrc.json
  libs/bite-tribe-business/dashboard/data-access/README.md
  libs/bite-tribe-business/dashboard/data-access/jest.config.ts
  libs/bite-tribe-business/dashboard/data-access/project.json
  libs/bite-tribe-business/dashboard/data-access/src/index.ts
  libs/bite-tribe-business/dashboard/data-access/src/test-setup.ts
  libs/bite-tribe-business/dashboard/data-access/tsconfig.json
  libs/bite-tribe-business/dashboard/data-access/tsconfig.lib.json
  libs/bite-tribe-business/dashboard/data-access/tsconfig.spec.json
  libs/bite-tribe-business/dashboard/page/.eslintrc.json
  libs/bite-tribe-business/dashboard/page/README.md
  libs/bite-tribe-business/dashboard/page/jest.config.ts
  libs/bite-tribe-business/dashboard/page/project.json
  libs/bite-tribe-business/dashboard/page/src/index.ts
  libs/bite-tribe-business/dashboard/page/src/lib/component/page/dashboard.component.html
  libs/bite-tribe-business/dashboard/page/src/lib/component/page/dashboard.component.scss
  libs/bite-tribe-business/dashboard/page/src/lib/component/page/dashboard.component.ts
  libs/bite-tribe-business/dashboard/page/src/lib/integration/dashboard-container.component.ts
  libs/bite-tribe-business/dashboard/page/src/lib/integration/dashboard.service.ts
  libs/bite-tribe-business/dashboard/page/src/test-setup.ts
  libs/bite-tribe-business/dashboard/page/tsconfig.json
  libs/bite-tribe-business/dashboard/page/tsconfig.lib.json
  libs/bite-tribe-business/dashboard/page/tsconfig.spec.json
  libs/bite-tribe-business/shell/src/lib/routes.ts
  tsconfig.base.json
Due: eslint --fix, prettier --write, stylelint --fix

refactor: introduce business flag
  apps/bite-tribe-business/src/environments/environment.prod.ts
  apps/bite-tribe-business/src/environments/environment.ts
  apps/bite-tribe/src/environments/environment.prod.ts
  apps/bite-tribe/src/environments/environment.ts
  libs/bite-tribe-business/dashboard/page/src/lib/component/page/dashboard.component.html
  libs/bite-tribe-business/dashboard/page/src/lib/component/page/dashboard.component.ts
  libs/bite-tribe-business/dashboard/page/src/lib/component/restaurant/restaurant.component.html
  libs/bite-tribe-business/dashboard/page/src/lib/component/restaurant/restaurant.component.scss
  libs/bite-tribe-business/dashboard/page/src/lib/component/restaurant/restaurant.component.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/store/src/lib/provide-bite-tribe-store.ts
  libs/common/utils/src/lib/environment.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: load all restaurants and menus in business app
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/store/src/lib/menus/actions.ts
  libs/bite-tribe/store/src/lib/menus/effects.ts
  libs/bite-tribe/store/src/lib/menus/reducer.ts
  libs/bite-tribe/store/src/lib/provide-bite-tribe-store.ts
  libs/bite-tribe/store/src/lib/restaurants/actions.ts
  libs/bite-tribe/store/src/lib/restaurants/effects.ts
  libs/bite-tribe/store/src/lib/restaurants/reducer.ts
Due: eslint --fix, prettier --write

feat: load restaurants from store to dashboard (business)
  libs/bite-tribe-business/dashboard/data-access/project.json
  libs/bite-tribe-business/dashboard/data-access/src/index.ts
  libs/bite-tribe-business/dashboard/data-access/src/lib/dashboard-data-access.service.ts
  libs/bite-tribe-business/dashboard/page/src/lib/integration/dashboard-container.component.ts
  libs/bite-tribe-business/dashboard/page/src/lib/integration/dashboard.service.ts
  libs/bite-tribe/home/data-access/src/lib/home-data-access.service.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/restaurants/selectors.ts
Due: eslint --fix, prettier --write

feat: gather restaurants from bites if no restaurant id is saved in it
  libs/bite-tribe-business/dashboard/page/src/lib/component/page/dashboard.component.html
  libs/bite-tribe-business/dashboard/page/src/lib/component/restaurant/restaurant.component.html
  libs/bite-tribe-business/dashboard/page/src/lib/component/restaurant/restaurant.component.ts
  libs/bite-tribe/model/src/lib/restaurant.ts
  libs/bite-tribe/store/src/lib/provide-bite-tribe-store.ts
  libs/bite-tribe/store/src/lib/restaurants/selectors.ts
Due: eslint --fix, prettier --write

ci: introduce bite tribe business deployment pipeline
  .github/workflows/deploy-bite-tribe-business.yml
Due: none

ci: rename deployment pipeline
  .github/workflows/deploy-bite-tribe-business.yml
Due: none

ci: rename deployment pipeline (#299)
  .github/workflows/deploy-bite-tribe-business.yml
Due: none

ci: fix firebase deployment
  firebase.json
Due: prettier --write

ci: fix firebase deployment (#300)
  firebase.json
Due: prettier --write

ci: fix bt business firebase deployment 2
  .firebaserc
Due: none

ci: fix bt business firebase deployment 2 (#301)
  .firebaserc
Due: none

feat: bt-business logout feat
  libs/bite-tribe-business/dashboard/data-access/src/lib/dashboard-data-access.service.ts
  libs/bite-tribe-business/dashboard/page/src/lib/component/page/dashboard.component.html
  libs/bite-tribe-business/dashboard/page/src/lib/integration/dashboard-container.component.ts
  libs/bite-tribe-business/dashboard/page/src/lib/integration/dashboard.service.ts
Due: eslint --fix, prettier --write

feat: bt-business logout feat (#303)
  libs/bite-tribe-business/dashboard/data-access/src/lib/dashboard-data-access.service.ts
  libs/bite-tribe-business/dashboard/page/src/lib/component/page/dashboard.component.html
  libs/bite-tribe-business/dashboard/page/src/lib/integration/dashboard-container.component.ts
  libs/bite-tribe-business/dashboard/page/src/lib/integration/dashboard.service.ts
Due: eslint --fix, prettier --write

chore: pick right auth domain
  libs/bite-tribe/store/src/lib/provide-bite-tribe-store.ts
Due: eslint --fix, prettier --write

feat: logout for bt business (#304)
  libs/bite-tribe/store/src/lib/provide-bite-tribe-store.ts
Due: eslint --fix, prettier --write

ci: fix binding env to pipeline
  .github/workflows/deploy-bite-tribe-business.yml
Due: none

ci: fix binding env to pipeline (#305)
  .github/workflows/deploy-bite-tribe-business.yml
Due: none

feat: prepare ios app
  apps/bite-tribe-ios/capacitor.config.ts
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  apps/bite-tribe-ios/ios/App/App.xcworkspace/contents.xcworkspacedata
  apps/bite-tribe-ios/ios/App/App/App.entitlements
  apps/bite-tribe-ios/ios/App/App/GoogleService-Info.plist
  apps/bite-tribe-ios/ios/App/App/Info.plist
  apps/bite-tribe-ios/ios/App/Podfile
  apps/bite-tribe-ios/ios/App/Podfile.lock
  apps/bite-tribe-ios/package-lock.json
  apps/bite-tribe-ios/package.json
  apps/bite-tribe-ios/project.json
  libs/bite-tribe/store/src/lib/bites/selectors.ts
  libs/bite-tribe/store/src/lib/restaurants/selectors.ts
Due: eslint --fix, prettier --write

fix: replace geopoint
  libs/bite-tribe/bite/data-access/src/lib/bite-data-access.service.ts
  libs/bite-tribe/model/src/lib/bite.ts
  libs/bite-tribe/model/src/lib/geopoint.ts
  libs/bite-tribe/model/src/lib/restaurant.ts
Due: eslint --fix, prettier --write

feat: fix google log in on ios
  apps/bite-tribe-ios/ios/App/App/Info.plist
  apps/bite-tribe-ios/ios/App/Podfile
  apps/bite-tribe-ios/ios/App/Podfile.lock
  apps/bite-tribe-ios/project.json
Due: prettier --write

feat: app icon logo and splush screen
  apps/bite-tribe-ios/assets/logo.png
  apps/bite-tribe-ios/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-512@2x.png
  apps/bite-tribe-ios/ios/App/App/Assets.xcassets/AppIcon.appiconset/Contents.json
  apps/bite-tribe-ios/ios/App/App/Assets.xcassets/Splash.imageset/Contents.json
  apps/bite-tribe-ios/ios/App/App/Assets.xcassets/Splash.imageset/Default@1x~universal~anyany-dark.png
  apps/bite-tribe-ios/ios/App/App/Assets.xcassets/Splash.imageset/Default@1x~universal~anyany.png
  apps/bite-tribe-ios/ios/App/App/Assets.xcassets/Splash.imageset/Default@2x~universal~anyany-dark.png
  apps/bite-tribe-ios/ios/App/App/Assets.xcassets/Splash.imageset/Default@2x~universal~anyany.png
  apps/bite-tribe-ios/ios/App/App/Assets.xcassets/Splash.imageset/Default@3x~universal~anyany-dark.png
  apps/bite-tribe-ios/ios/App/App/Assets.xcassets/Splash.imageset/Default@3x~universal~anyany.png
  package.json
Due: prettier --write

feat: set up access to camera on ios
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  apps/bite-tribe-ios/ios/App/App/Info.plist
  apps/bite-tribe-ios/ios/App/Podfile
  apps/bite-tribe-ios/ios/App/Podfile.lock
  apps/bite-tribe-ios/package-lock.json
  apps/bite-tribe-ios/package.json
Due: prettier --write

264 ios app logo, camera access (#307)
  apps/bite-tribe-ios/assets/logo.png
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  apps/bite-tribe-ios/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-512@2x.png
  apps/bite-tribe-ios/ios/App/App/Assets.xcassets/AppIcon.appiconset/Contents.json
  apps/bite-tribe-ios/ios/App/App/Assets.xcassets/Splash.imageset/Contents.json
  apps/bite-tribe-ios/ios/App/App/Assets.xcassets/Splash.imageset/Default@1x~universal~anyany-dark.png
  apps/bite-tribe-ios/ios/App/App/Assets.xcassets/Splash.imageset/Default@1x~universal~anyany.png
  apps/bite-tribe-ios/ios/App/App/Assets.xcassets/Splash.imageset/Default@2x~universal~anyany-dark.png
  apps/bite-tribe-ios/ios/App/App/Assets.xcassets/Splash.imageset/Default@2x~universal~anyany.png
  apps/bite-tribe-ios/ios/App/App/Assets.xcassets/Splash.imageset/Default@3x~universal~anyany-dark.png
  apps/bite-tribe-ios/ios/App/App/Assets.xcassets/Splash.imageset/Default@3x~universal~anyany.png
  apps/bite-tribe-ios/ios/App/App/Info.plist
  apps/bite-tribe-ios/ios/App/Podfile
  apps/bite-tribe-ios/ios/App/Podfile.lock
  apps/bite-tribe-ios/package-lock.json
  apps/bite-tribe-ios/package.json
  apps/bite-tribe-ios/project.json
  package.json
Due: prettier --write

feat: set up analytics
  .github/workflows/deploy-bite-tribe.yml
  apps/bite-tribe-ios/ios/App/Podfile
  apps/bite-tribe-ios/package.json
  libs/bite-tribe/store/src/lib/provide-bite-tribe-store.ts
  libs/common/ta-firestore/src/index.ts
  libs/common/ta-firestore/src/lib/auth.service.ts
  libs/common/ta-firestore/src/lib/provide-firestore-analytics.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

feat: add error tracking service
  libs/common/ta-firestore/src/index.ts
  libs/common/ta-firestore/src/lib/analytics/firebase-error-handler.service.ts
  libs/common/ta-firestore/src/lib/analytics/provide-firestore-analytics.ts
Due: eslint --fix, prettier --write

chore: set up analytics (#311)
  .github/workflows/deploy-bite-tribe.yml
  apps/bite-tribe-ios/ios/App/Podfile
  apps/bite-tribe-ios/package.json
  libs/bite-tribe/store/src/lib/provide-bite-tribe-store.ts
  libs/common/ta-firestore/src/index.ts
  libs/common/ta-firestore/src/lib/analytics/firebase-error-handler.service.ts
  libs/common/ta-firestore/src/lib/analytics/provide-firestore-analytics.ts
  libs/common/ta-firestore/src/lib/auth.service.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

chore: introduce firebase analytics to ios app
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  apps/bite-tribe-ios/ios/App/Podfile
  apps/bite-tribe-ios/ios/App/Podfile.lock
  apps/bite-tribe-ios/package-lock.json
Due: prettier --write

chore: set up analytics for ios (#312)
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  apps/bite-tribe-ios/ios/App/Podfile
  apps/bite-tribe-ios/ios/App/Podfile.lock
  apps/bite-tribe-ios/package-lock.json
Due: prettier --write

chore: fix tests
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,html}
  prettier --write: any of: *.{ts,js,html,scss,json,md}
  stylelint --fix: any of: *.scss
