Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Fix unit tests
  libs/prices/home/feature/src/lib/__specs__/home.component.spec.ts
Due: eslint --fix, prettier --write

Fix stories
  libs/prices/add-item/feature/src/lib/__specs__/add-item-feature.component.stories.ts
  libs/prices/home/feature/src/lib/__specs__/home.component.stories.ts
Due: eslint --fix, prettier --write

Upgrade
  apps/prices/project.json
  libs/prices/add-item/feature/project.json
  libs/prices/auth/feature/project.json
  libs/prices/card/feature/project.json
  libs/prices/firestore/feature/project.json
  libs/prices/geoapify/feature/project.json
  libs/prices/home/feature/project.json
  libs/prices/page/feature/project.json
  libs/prices/password-validator/feature/project.json
  libs/prices/shell/feature/project.json
  libs/prices/store/feature/project.json
  libs/utils-common/project.json
  nx.json
  package-lock.json
  package.json
  tools/executors/loki/project.json
Due: prettier --write

#105: Dev wants to upgrade nx 15
  apps/prices/project.json
  libs/prices/add-item/feature/project.json
  libs/prices/auth/feature/project.json
  libs/prices/card/feature/project.json
  libs/prices/firestore/feature/project.json
  libs/prices/geoapify/feature/project.json
  libs/prices/home/feature/project.json
  libs/prices/page/feature/project.json
  libs/prices/password-validator/feature/project.json
  libs/prices/shell/feature/project.json
  libs/prices/store/feature/project.json
  libs/utils-common/project.json
  nx.json
  package-lock.json
  package.json
  tools/executors/loki/project.json
Due: prettier --write

Introduce e2e tests
  .github/workflows/pipeline.yml
  .gitignore
  apps/prices-e2e/cypress.json
  apps/prices-e2e/src/integration/app.spec.ts
  apps/prices-e2e/src/integration/login.spec.ts
  apps/prices-e2e/src/support/commands.ts
  libs/prices/auth/feature/src/lib/components/auth.component.html
  libs/prices/home/feature/src/lib/components/home.component.html
  libs/prices/page/feature/src/lib/page.component.html
Due: eslint --fix, prettier --write

Adjust e2e test execution
  .github/workflows/pipeline.yml
Due: none

Add github action for cypress
  .github/workflows/pipeline.yml
Due: none

Add configs
  .github/workflows/pipeline.yml
Due: none

Use custom command
  .github/workflows/pipeline.yml
Due: none

Remove install flag
  .github/workflows/pipeline.yml
Due: none

Adjustments
  .github/workflows/pipeline.yml
Due: none

Disable record
  .github/workflows/pipeline.yml
Due: none

Disable record and use production configuration
  .github/workflows/pipeline.yml
Due: none

Add e2e job
  .github/workflows/pipeline.yml
Due: none

Add runs-on
  .github/workflows/pipeline.yml
Due: none

Add cypress verification
  .github/workflows/pipeline.yml
Due: none

Remove separate install step and leave it to cypress github action
  .github/workflows/pipeline.yml
Due: none

Add secrets for test
  .github/workflows/pipeline.yml
Due: none

Add api key
  .github/workflows/pipeline.yml
Due: none

Mock access to current position
  apps/prices-e2e/src/integration/login.spec.ts
  apps/prices-e2e/src/support/commands.ts
Due: eslint --fix, prettier --write

Add github token to cypress
  .github/workflows/pipeline.yml
Due: none

Move env before with
  .github/workflows/pipeline.yml
Due: none

Some cleanup
  apps/prices-e2e/src/support/commands.ts
Due: eslint --fix, prettier --write

Add env in with block
  .github/workflows/pipeline.yml
Due: none

Change prefix in env usage
  .github/workflows/pipeline.yml
  apps/prices-e2e/src/integration/login.spec.ts
Due: eslint --fix, prettier --write

Add cypress logs
  .github/workflows/pipeline.yml
Due: none

Add debug env var
  .github/workflows/pipeline.yml
Due: none

Increase timeout
  .github/workflows/pipeline.yml
  apps/prices-e2e/src/support/commands.ts
Due: eslint --fix, prettier --write

Mock geo api call
  apps/prices-e2e/src/fixtures/example.json
  apps/prices-e2e/src/fixtures/location.json
  apps/prices-e2e/src/integration/login.spec.ts
Due: eslint --fix, prettier --write

Fix
  apps/prices-e2e/src/integration/login.spec.ts
Due: eslint --fix, prettier --write

Fix url matching
  apps/prices-e2e/src/integration/login.spec.ts
Due: eslint --fix, prettier --write

#84: Dev wants to add cypress test for login (#108)
  .github/workflows/pipeline.yml
  .gitignore
  apps/prices-e2e/cypress.json
  apps/prices-e2e/src/fixtures/example.json
  apps/prices-e2e/src/fixtures/location.json
  apps/prices-e2e/src/integration/app.spec.ts
  apps/prices-e2e/src/integration/login.spec.ts
  apps/prices-e2e/src/support/commands.ts
  libs/prices/auth/feature/src/lib/components/auth.component.html
  libs/prices/home/feature/src/lib/components/home.component.html
  libs/prices/page/feature/src/lib/page.component.html
Due: eslint --fix, prettier --write

Add test for image-url.validator
  libs/prices/add-item/feature/src/lib/__specs__/image-url.validator.spec.ts
Due: eslint --fix, prettier --write

Naming
  libs/prices/add-item/feature/src/lib/__specs__/image-url.validator.spec.ts
Due: eslint --fix, prettier --write

Add test for service
  libs/prices/add-item/feature/src/lib/__specs__/add-item.component.spec.ts
  libs/prices/add-item/feature/src/lib/__specs__/add-item.service.spec.ts
Due: eslint --fix, prettier --write

#107: Nils want to use marble tests (#110)
  libs/prices/add-item/feature/src/lib/__specs__/add-item.component.spec.ts
  libs/prices/add-item/feature/src/lib/__specs__/add-item.service.spec.ts
  libs/prices/add-item/feature/src/lib/__specs__/image-url.validator.spec.ts
Due: eslint --fix, prettier --write

Add @angular/pwa as dev dependency
  package-lock.json
  package.json
Due: prettier --write

Add pwa
  apps/prices/ngsw-config.json
  apps/prices/project.json
  apps/prices/src/app/app.module.ts
  apps/prices/src/assets/icons/icon-128x128.png
  apps/prices/src/assets/icons/icon-144x144.png
  apps/prices/src/assets/icons/icon-152x152.png
  apps/prices/src/assets/icons/icon-192x192.png
  apps/prices/src/assets/icons/icon-384x384.png
  apps/prices/src/assets/icons/icon-512x512.png
  apps/prices/src/assets/icons/icon-72x72.png
  apps/prices/src/assets/icons/icon-96x96.png
  apps/prices/src/favicon.ico
  apps/prices/src/manifest.webmanifest
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

Adjust 152x152
  apps/prices/src/assets/icons/icon-152x152.png
Due: none

Path conditions:
  eslint --fix: any of: *.{ts,html}
  prettier --write: any of: *.{ts,js,html,scss,json,md}
