Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,html}": "eslint --fix",
  "*.{ts,js,html,scss,json,md}": "prettier --write",
  "*.scss": "stylelint --fix"
}

feat: add rating field to create bite page
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/common/ui/star-rating/src/lib/star-rating.component.ts
Due: eslint --fix, prettier --write

test: fix tests
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
Due: eslint --fix, prettier --write

test: extend test suite
  libs/common/ui/star-rating/src/lib/__specs__/star-rating.component.spec.ts
Due: eslint --fix, prettier --write

feat: add star rating to home screen bites
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe-common/bite/src/lib/bite.component.ts
Due: eslint --fix, prettier --write

refactor: feedback from code review
  libs/common/ui/star-rating/src/lib/pipes/is-filled.pipe.ts
  libs/common/ui/star-rating/src/lib/star-rating.component.ts
Due: eslint --fix, prettier --write

chore: increase build numbere
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: none

style: setup pwa assets
  apps/bite-tribe/src/index.html
  apps/bite-tribe/src/manifest.webmanifest
Due: eslint --fix, prettier --write

fix: fix rejected bite without restaurant id
  libs/bite-tribe/bite/page/src/lib/components/image-upload/image-upload.component.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
Due: eslint --fix, prettier --write

fix: fix favicon and saving bites without restaurant id
  apps/bite-tribe/project.json
  apps/bite-tribe/src/assets/bite-tribe-logo.png
Due: prettier --write

test: adjust test
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
Due: eslint --fix, prettier --write

fix: ensure that restaurantid is not undefined on editing (#425)
  apps/bite-tribe/project.json
  apps/bite-tribe/src/assets/bite-tribe-logo.png
  libs/bite-tribe/bite/page/src/lib/components/image-upload/image-upload.component.html
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
Due: eslint --fix, prettier --write

fix: show local state for forms
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  libs/bite-tribe/bite/page/src/lib/integration/edit-bite-container.component.ts
  libs/common/ui/star-rating/src/lib/star-rating.component.html
  libs/common/ui/star-rating/src/lib/star-rating.component.ts
Due: eslint --fix, prettier --write

fix: not showing local state on edit (#426)
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  libs/bite-tribe/bite/page/src/lib/integration/edit-bite-container.component.ts
  libs/common/ui/star-rating/src/lib/__specs__/star-rating.component.spec.ts
  libs/common/ui/star-rating/src/lib/star-rating.component.html
  libs/common/ui/star-rating/src/lib/star-rating.component.ts
Due: eslint --fix, prettier --write

393 add sorting by rating
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/integration/__specs__/home.service.spec.ts
  libs/bite-tribe/home/page/src/lib/integration/home.service.ts
  libs/bite-tribe/home/page/src/lib/utils/__specs__/sort-bites-by-rating.spec.ts
  libs/bite-tribe/home/page/src/lib/utils/sort-bites-by-rating.ts
Due: eslint --fix, prettier --write

feat(393): sorting possiblities for bites (#421)
  libs/bite-tribe-common/styles/_globals.scss
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/home.component.spec.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.scss
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/home/page/src/lib/integration/__specs__/home.service.spec.ts
  libs/bite-tribe/home/page/src/lib/integration/home-container.component.ts
  libs/bite-tribe/home/page/src/lib/integration/home.service.ts
  libs/bite-tribe/home/page/src/lib/utils/__specs__/sort-bites-by-created-at.spec.ts
  libs/bite-tribe/home/page/src/lib/utils/__specs__/sort-bites-by-distance.spec.ts
  libs/bite-tribe/home/page/src/lib/utils/__specs__/sort-bites-by-likes.spec.ts
  libs/bite-tribe/home/page/src/lib/utils/__specs__/sort-bites-by-rating.spec.ts
  libs/bite-tribe/home/page/src/lib/utils/sort-bites-by-created-at.ts
  libs/bite-tribe/home/page/src/lib/utils/sort-bites-by-distance.ts
  libs/bite-tribe/home/page/src/lib/utils/sort-bites-by-likes.ts
  libs/bite-tribe/home/page/src/lib/utils/sort-bites-by-rating.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: introduce typeahead modal comp for tags
  libs/bite-tribe/home/page/src/lib/components/custom-filter-modal/custom-filter-modal.component.html
  libs/bite-tribe/home/page/src/lib/components/custom-filter-modal/custom-filter-modal.component.scss
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.scss
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/home/page/src/lib/components/typeahead/type-ahead.component.ts
  libs/bite-tribe/home/page/src/lib/components/typeahead/typeahead.component.html
  libs/common/utils/src/lib/add-necessary-icons.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor: cleanup
  libs/bite-tribe/home/page/src/index.ts
  libs/bite-tribe/home/page/src/lib/components/custom-filter-modal/__specs__/custom-filter-modal.component.spec.ts
  libs/bite-tribe/home/page/src/lib/components/custom-filter-modal/custom-filter-modal.component.html
  libs/bite-tribe/home/page/src/lib/components/custom-filter-modal/custom-filter-modal.component.scss
  libs/bite-tribe/home/page/src/lib/components/custom-filter-modal/custom-filter-modal.component.ts
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/home.component.spec.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: introduce nearby and price inputs in filters
  libs/bite-tribe-common/map/src/lib/position/position.component.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/home/page/src/lib/components/type-ahead/type-ahead.component.html
  libs/bite-tribe/home/page/src/lib/components/type-ahead/type-ahead.component.scss
  libs/bite-tribe/home/page/src/lib/components/type-ahead/type-ahead.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor: migrate to signals
  libs/bite-tribe/home/page/src/lib/components/type-ahead/type-ahead.component.html
  libs/bite-tribe/home/page/src/lib/components/type-ahead/type-ahead.component.ts
Due: eslint --fix, prettier --write

fix: fix ng comp id collision
  libs/bite-tribe/map/page/src/lib/integration/bucket-list-map.container.component.ts
  libs/bite-tribe/map/page/src/lib/integration/home-map-container.component.ts
  libs/bite-tribe/map/page/src/lib/integration/my-bites-map.container.component.ts
Due: eslint --fix, prettier --write

feat: optimizations
  apps/bite-tribe/src/index.html
  libs/bite-tribe/home/data-access/src/lib/home-data-access.service.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/home/page/src/lib/components/type-ahead/pipes/is-checked.pipe.ts
  libs/bite-tribe/home/page/src/lib/components/type-ahead/type-ahead.component.html
  libs/bite-tribe/home/page/src/lib/components/type-ahead/type-ahead.component.ts
  libs/bite-tribe/home/page/src/lib/integration/home-container.component.ts
  libs/bite-tribe/home/page/src/lib/integration/home.service.ts
  libs/bite-tribe/store/src/lib/app/actions.ts
  libs/bite-tribe/store/src/lib/app/app-slice.model.ts
  libs/bite-tribe/store/src/lib/app/reducer.ts
  libs/bite-tribe/store/src/lib/app/selectors.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/bites/selectors.ts
  libs/bite-tribe/store/src/lib/bites/utils/handle-nearby-filter.ts
  libs/common/ui/star-rating/src/lib/star-rating.component.html
  libs/common/ui/star-rating/src/lib/star-rating.component.ts
Due: eslint --fix, prettier --write

test: adjust and extend test suite
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/home.component.spec.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/selectors.spec.ts
  libs/bite-tribe/store/src/lib/bites/selectors.ts
  libs/bite-tribe/store/src/lib/bites/utils/__specs__/handle-nearby-filter.spec.ts
  libs/bite-tribe/store/src/lib/bites/utils/handle-nearby-filter.ts
  libs/common/ui/star-rating/src/lib/__specs__/star-rating.component.spec.ts
Due: eslint --fix, prettier --write

test: extend and adjust tests
  libs/bite-tribe/store/src/lib/bites/selectors.ts
  libs/bite-tribe/store/src/lib/bites/utils/__specs__/get-likes-for-bite.spec.ts
  libs/bite-tribe/store/src/lib/bites/utils/get-likes-for-bite.ts
  libs/bite-tribe/store/src/lib/likes/__specs__/adapter.spec.ts
Due: eslint --fix, prettier --write

test: extend test suite
  libs/bite-tribe/home/page/src/lib/components/type-ahead/__specs__/type-ahead.component.spec.ts
Due: eslint --fix, prettier --write

test: extend test suite
  libs/bite-tribe/home/page/src/lib/components/type-ahead/pipes/__specs__/is-checked.pipe.spec.ts
  libs/bite-tribe/home/page/src/lib/integration/__specs__/home.service.spec.ts
Due: eslint --fix, prettier --write

feat: intermediate commit for currencies sorting
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/api/src/lib/exchange-rates-api.service.ts
  libs/bite-tribe/home/data-access/src/lib/home-data-access.service.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/home/page/src/lib/integration/home.service.ts
  libs/bite-tribe/home/page/src/lib/utils/sort-bites-by-price.ts
  libs/bite-tribe/store/src/lib/app/actions.ts
  libs/bite-tribe/store/src/lib/app/app-slice.model.ts
  libs/bite-tribe/store/src/lib/app/effects.ts
  libs/bite-tribe/store/src/lib/app/reducer.ts
  libs/bite-tribe/store/src/lib/app/selectors.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
Due: eslint --fix, prettier --write

feat: implement sorting by price
  libs/bite-tribe/api/src/lib/exchange-rates-api.service.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/utils/sort-bites-by-price.ts
Due: eslint --fix, prettier --write

feat: price filter
  libs/bite-tribe/home/data-access/src/lib/home-data-access.service.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/home/page/src/lib/components/type-ahead/type-ahead.component.html
  libs/bite-tribe/home/page/src/lib/components/type-ahead/type-ahead.component.scss
  libs/bite-tribe/home/page/src/lib/components/type-ahead/type-ahead.component.ts
  libs/bite-tribe/home/page/src/lib/integration/home-container.component.ts
  libs/bite-tribe/home/page/src/lib/integration/home.service.ts
  libs/bite-tribe/home/page/src/lib/utils/sort-bites-by-price.ts
  libs/bite-tribe/store/src/lib/app/actions.ts
  libs/bite-tribe/store/src/lib/app/app-slice.model.ts
  libs/bite-tribe/store/src/lib/app/reducer.ts
  libs/bite-tribe/store/src/lib/app/selectors.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/bites/selectors.ts
  libs/bite-tribe/store/src/lib/bites/utils/handle-max-price-filter.ts
  libs/common/utils/src/index.ts
  libs/common/utils/src/lib/get-normalized-price-in-eur.ts
Due: eslint --fix, prettier --write, stylelint --fix

test: adjust tests
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/home.component.spec.ts
  libs/bite-tribe/home/page/src/lib/components/type-ahead/__specs__/type-ahead.component.spec.ts
  libs/bite-tribe/home/page/src/lib/integration/__specs__/home.service.spec.ts
  libs/bite-tribe/store/src/lib/app/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/app/__specs__/reducer.spec.ts
Due: eslint --fix, prettier --write

test: extend test suite
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/home.component.spec.ts
  libs/bite-tribe/home/page/src/lib/utils/__specs__/sort-bites-by-price.spec.ts
  libs/bite-tribe/store/src/lib/app/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/__snapshots__/selectors.spec.ts.snap
  libs/bite-tribe/store/src/lib/bites/__specs__/selectors.spec.ts
  libs/bite-tribe/store/src/lib/bites/utils/__specs__/handle-max-price-filter.spec.ts
  libs/common/utils/src/lib/__specs__/get-normalized-price-in-eur.spec.ts
  libs/common/utils/src/lib/__specs__/haversine-distance.spec.ts
  libs/common/utils/src/lib/haversine-distance.ts
Due: eslint --fix, prettier --write

style: style chip-container and elements
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.scss
  libs/bite-tribe/home/page/src/lib/integration/home.service.ts
  libs/common/utils/src/lib/add-necessary-icons.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: fix binding of rating to edit form
  libs/bite-tribe/api/src/lib/bite-api.service.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.scss
  libs/bite-tribe/model/src/lib/bite.ts
  libs/bite-tribe/store/src/lib/bites/selectors.ts
  libs/bite-tribe/store/src/lib/bites/utils/get-bite-price-in-preferred-currency.ts
  libs/bite-tribe/store/src/lib/bites/utils/handle-max-price-filter.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor: move bucket list selector further back to selector
  libs/bite-tribe/home/data-access/src/lib/home-data-access.service.ts
  libs/bite-tribe/home/page/src/lib/integration/home.service.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/bites/selectors.ts
  libs/bite-tribe/store/src/lib/bucketlists/selectors.ts
Due: eslint --fix, prettier --write

refactor: align my-bites and profile bites selector
  libs/bite-tribe/profile/data-access/src/lib/profile-data-access.service.ts
  libs/bite-tribe/profile/page/src/lib/integration/profile.service.ts
Due: eslint --fix, prettier --write

refactor: move sorting to selector level
  libs/bite-tribe/home/data-access/src/lib/home-data-access.service.ts
  libs/bite-tribe/home/page/src/lib/integration/__specs__/home.service.spec.ts
  libs/bite-tribe/home/page/src/lib/integration/home-container.component.ts
  libs/bite-tribe/home/page/src/lib/integration/home.service.ts
  libs/bite-tribe/store/src/lib/app/actions.ts
  libs/bite-tribe/store/src/lib/app/app-slice.model.ts
  libs/bite-tribe/store/src/lib/app/reducer.ts
  libs/bite-tribe/store/src/lib/app/selectors.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/bites/selectors.ts
  libs/bite-tribe/store/src/lib/bites/utils/__specs__/sort-bites-by-created-at.spec.ts
  libs/bite-tribe/store/src/lib/bites/utils/__specs__/sort-bites-by-distance.spec.ts
  libs/bite-tribe/store/src/lib/bites/utils/__specs__/sort-bites-by-likes.spec.ts
  libs/bite-tribe/store/src/lib/bites/utils/__specs__/sort-bites-by-price.spec.ts
  libs/bite-tribe/store/src/lib/bites/utils/__specs__/sort-bites-by-rating.spec.ts
  libs/bite-tribe/store/src/lib/bites/utils/sort-bites-by-created-at.ts
  libs/bite-tribe/store/src/lib/bites/utils/sort-bites-by-distance.ts
  libs/bite-tribe/store/src/lib/bites/utils/sort-bites-by-likes.ts
  libs/bite-tribe/store/src/lib/bites/utils/sort-bites-by-price.ts
  libs/bite-tribe/store/src/lib/bites/utils/sort-bites-by-rating.ts
Due: eslint --fix, prettier --write

fix: fix select bites by profile
  libs/bite-tribe/profile/data-access/src/lib/profile-data-access.service.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/bites/selectors.ts
Due: eslint --fix, prettier --write

feat: and logic for tag filters
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.scss
  libs/bite-tribe/home/page/src/lib/components/type-ahead/type-ahead.component.html
  libs/bite-tribe/home/page/src/lib/components/type-ahead/type-ahead.component.ts
  libs/bite-tribe/store/src/lib/bites/selectors.ts
  libs/bite-tribe/store/src/lib/bites/utils/enrich-by-price-in-preferred-currency.ts
  libs/bite-tribe/store/src/lib/bites/utils/handle-tag-filters.ts
Due: eslint --fix, prettier --write, stylelint --fix
