Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

feat(model): table visits (#1095)
  apps/bite-tribe-firebase/firestore.rules
  apps/bite-tribe-firebase/functions/src/__specs__/callable-authorization.spec.ts
  apps/bite-tribe-firebase/functions/src/__specs__/table-visit-parity.spec.ts
  apps/bite-tribe-firebase/functions/src/firestore-rules/__specs__/firestore-rules.emulator-spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/__specs__/table-visits.emulator-spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/move-table-visit.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/table-state.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/table-visit.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/transition-table-state.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  libs/bite-tribe-common/model/src/index.ts
  libs/bite-tribe-common/model/src/lib/__specs__/table-visit.spec.ts
  libs/bite-tribe-common/model/src/lib/table-visit.ts
  ssot/pages/Architecture - Firebase.md
  ssot/pages/Implementation - Firebase Functions.md
  ssot/pages/Table Visit.md
  ssot/pages/Table.md
  ssot/pages/Traceability Map.md
  ssot/pages/UC - Manage Tables During Service.md
Due: eslint --fix, prettier --write

feat(model): table visits (#1095) (#1580)
  apps/bite-tribe-firebase/firestore.rules
  apps/bite-tribe-firebase/functions/src/__specs__/callable-authorization.spec.ts
  apps/bite-tribe-firebase/functions/src/__specs__/table-visit-parity.spec.ts
  apps/bite-tribe-firebase/functions/src/firestore-rules/__specs__/firestore-rules.emulator-spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/__specs__/table-visits.emulator-spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/move-table-visit.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/table-state.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/table-visit.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/transition-table-state.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  libs/bite-tribe-common/model/src/index.ts
  libs/bite-tribe-common/model/src/lib/__specs__/table-visit.spec.ts
  libs/bite-tribe-common/model/src/lib/table-visit.ts
  ssot/pages/Architecture - Firebase.md
  ssot/pages/Implementation - Firebase Functions.md
  ssot/pages/Table Visit.md
  ssot/pages/Table.md
  ssot/pages/Traceability Map.md
  ssot/pages/UC - Manage Tables During Service.md
Due: eslint --fix, prettier --write

feat(bite-tribe-business): realtime sync and offline resilience for the staff view (#1096)
  .loki/reference/chrome_laptop_Business_Table_Plan_Offline.png
  .loki/reference/chrome_laptop_Business_Table_Plan_Stale.png
  .loki/reference/chrome_laptop_Business_Table_Plan_Table_Waiting_To_Send.png
  apps/bite-tribe-business/src/app/app.component.spec.ts
  apps/bite-tribe-business/src/app/app.component.ts
  apps/bite-tribe-business/src/assets/i18n/en.json
  apps/bite-tribe-firebase/functions/src/functions/restaurants/__specs__/transition-table-state.emulator-spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/table-state.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/transition-table-state.ts
  libs/bite-tribe-business/table-management/data-access/jest.config.ts
  libs/bite-tribe-business/table-management/data-access/src/index.ts
  libs/bite-tribe-business/table-management/data-access/src/lib/__specs__/table-state-data-access.service.spec.ts
  libs/bite-tribe-business/table-management/data-access/src/lib/__specs__/table-transition-failure.spec.ts
  libs/bite-tribe-business/table-management/data-access/src/lib/__specs__/table-transition-queue.service.spec.ts
  libs/bite-tribe-business/table-management/data-access/src/lib/table-state-data-access.service.ts
  libs/bite-tribe-business/table-management/data-access/src/lib/table-transition-failure.ts
  libs/bite-tribe-business/table-management/data-access/src/lib/table-transition-queue.service.ts
  libs/bite-tribe-business/table-management/data-access/src/lib/table-transition-queue.ts
  libs/bite-tribe-business/table-management/page/src/lib/component/__specs__/table-plan.component.spec.ts
  libs/bite-tribe-business/table-management/page/src/lib/component/__specs__/table-plan.component.stories.ts
  libs/bite-tribe-business/table-management/page/src/lib/component/table-plan.component.html
  libs/bite-tribe-business/table-management/page/src/lib/component/table-plan.component.scss
  libs/bite-tribe-business/table-management/page/src/lib/component/table-plan.component.ts
  libs/bite-tribe-business/table-management/page/src/lib/integration/__specs__/table-plan-optimistic.spec.ts
  libs/bite-tribe-business/table-management/page/src/lib/integration/__specs__/table-plan.service.spec.ts
  libs/bite-tribe-business/table-management/page/src/lib/integration/table-plan-container.ts
  libs/bite-tribe-business/table-management/page/src/lib/integration/table-plan-optimistic.ts
  libs/bite-tribe-business/table-management/page/src/lib/integration/table-plan.service.ts
  libs/common/utils/src/lib/add-necessary-icons.ts
  ssot/pages/Architecture - Firebase.md
  ssot/pages/Implementation - Code Map.md
  ssot/pages/Table.md
  ssot/pages/Traceability Map.md
  ssot/pages/UC - Manage Tables During Service.md
Due: eslint --fix, prettier --write, stylelint --fix

feat(bite-tribe-business): realtime sync and offline resilience for the staff view (#1096) (#1581)
  .loki/reference/chrome_laptop_Business_Table_Plan_Offline.png
  .loki/reference/chrome_laptop_Business_Table_Plan_Stale.png
  .loki/reference/chrome_laptop_Business_Table_Plan_Table_Waiting_To_Send.png
  apps/bite-tribe-business/src/app/app.component.spec.ts
  apps/bite-tribe-business/src/app/app.component.ts
  apps/bite-tribe-business/src/assets/i18n/en.json
  apps/bite-tribe-firebase/functions/src/functions/restaurants/__specs__/transition-table-state.emulator-spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/table-state.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/transition-table-state.ts
  libs/bite-tribe-business/table-management/data-access/jest.config.ts
  libs/bite-tribe-business/table-management/data-access/src/index.ts
  libs/bite-tribe-business/table-management/data-access/src/lib/__specs__/table-state-data-access.service.spec.ts
  libs/bite-tribe-business/table-management/data-access/src/lib/__specs__/table-transition-failure.spec.ts
  libs/bite-tribe-business/table-management/data-access/src/lib/__specs__/table-transition-queue.service.spec.ts
  libs/bite-tribe-business/table-management/data-access/src/lib/table-state-data-access.service.ts
  libs/bite-tribe-business/table-management/data-access/src/lib/table-transition-failure.ts
  libs/bite-tribe-business/table-management/data-access/src/lib/table-transition-queue.service.ts
  libs/bite-tribe-business/table-management/data-access/src/lib/table-transition-queue.ts
  libs/bite-tribe-business/table-management/page/src/lib/component/__specs__/table-plan.component.spec.ts
  libs/bite-tribe-business/table-management/page/src/lib/component/__specs__/table-plan.component.stories.ts
  libs/bite-tribe-business/table-management/page/src/lib/component/table-plan.component.html
  libs/bite-tribe-business/table-management/page/src/lib/component/table-plan.component.scss
  libs/bite-tribe-business/table-management/page/src/lib/component/table-plan.component.ts
  libs/bite-tribe-business/table-management/page/src/lib/integration/__specs__/table-plan-optimistic.spec.ts
  libs/bite-tribe-business/table-management/page/src/lib/integration/__specs__/table-plan.service.spec.ts
  libs/bite-tribe-business/table-management/page/src/lib/integration/table-plan-container.ts
  libs/bite-tribe-business/table-management/page/src/lib/integration/table-plan-optimistic.ts
  libs/bite-tribe-business/table-management/page/src/lib/integration/table-plan.service.ts
  libs/common/utils/src/lib/add-necessary-icons.ts
  ssot/pages/Architecture - Firebase.md
  ssot/pages/Implementation - Code Map.md
  ssot/pages/Table.md
  ssot/pages/Traceability Map.md
  ssot/pages/UC - Manage Tables During Service.md
Due: eslint --fix, prettier --write, stylelint --fix

feat(bite-tribe-business): staff accounts and shift-scoped permissions (#1097)
  apps/bite-tribe-business-e2e/src/support/floor-plan.ts
  apps/bite-tribe-business-e2e/src/support/test-users.ts
  apps/bite-tribe-business-e2e/src/tests/live-table-view.spec.ts
  apps/bite-tribe-business-e2e/src/tests/staff-entry.spec.ts
  apps/bite-tribe-firebase/.firebase-export/auth_export/accounts.json
  apps/bite-tribe-firebase/functions/src/firestore-rules/__specs__/firestore-rules.emulator-spec.ts
  libs/bite-tribe-business/shell/src/lib/__specs__/routes.spec.ts
  libs/bite-tribe-business/shell/src/lib/restaurant-access.guard.ts
  libs/bite-tribe-business/shell/src/lib/restaurant-staff-association.ts
  libs/bite-tribe-business/shell/src/lib/routes.ts
  libs/bite-tribe-business/shell/src/lib/staff-entry.guard.ts
  ssot/pages/Architecture - Auth.md
  ssot/pages/Current State - E2E Coverage.md
  ssot/pages/Floor Plan.md
  ssot/pages/UC - Manage Tables During Service.md
  ssot/pages/User Roles.md
Due: eslint --fix, prettier --write

feat(bite-tribe-business): staff accounts and shift-scoped permissions (#1097) (#1582)
  apps/bite-tribe-business-e2e/src/support/floor-plan.ts
  apps/bite-tribe-business-e2e/src/support/test-users.ts
  apps/bite-tribe-business-e2e/src/tests/live-table-view.spec.ts
  apps/bite-tribe-business-e2e/src/tests/staff-entry.spec.ts
  apps/bite-tribe-firebase/.firebase-export/auth_export/accounts.json
  apps/bite-tribe-firebase/functions/src/firestore-rules/__specs__/firestore-rules.emulator-spec.ts
  libs/bite-tribe-business/shell/src/lib/__specs__/routes.spec.ts
  libs/bite-tribe-business/shell/src/lib/restaurant-access.guard.ts
  libs/bite-tribe-business/shell/src/lib/restaurant-staff-association.ts
  libs/bite-tribe-business/shell/src/lib/routes.ts
  libs/bite-tribe-business/shell/src/lib/staff-entry.guard.ts
  ssot/pages/Architecture - Auth.md
  ssot/pages/Current State - E2E Coverage.md
  ssot/pages/Floor Plan.md
  ssot/pages/UC - Manage Tables During Service.md
  ssot/pages/User Roles.md
Due: eslint --fix, prettier --write

feat(bite-tribe-business): table operation analytics events (#1098)
  apps/bite-tribe-business/env-var-plugin.js
  libs/bite-tribe-business/table-management/data-access/src/lib/table-state-data-access.service.ts
  libs/bite-tribe-business/table-management/page/src/lib/integration/__specs__/table-plan.service.spec.ts
  libs/bite-tribe-business/table-management/page/src/lib/integration/table-plan.service.ts
  libs/common/ta-firestore/src/index.ts
  libs/common/ta-firestore/src/lib/analytics/__specs__/analytics-events.spec.ts
  libs/common/ta-firestore/src/lib/analytics/__specs__/analytics.service.spec.ts
  libs/common/ta-firestore/src/lib/analytics/analytics-events.ts
  libs/common/ta-firestore/src/lib/analytics/analytics.service.ts
  ssot/pages/Analytics Operations.md
  ssot/pages/Architecture - Analytics.md
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Implementation - Analytics Events.md
  ssot/pages/UC - Manage Tables During Service.md
  tools/analytics/provision-ga4.mjs
  tools/analytics/queries/table-operations.sql
Due: eslint --fix, prettier --write

fix: scope the launch user-count tiles to the consumer app (#1584)
  tools/analytics/README.md
  tools/analytics/dashboard.config.mjs
  tools/analytics/digest.mjs
  tools/analytics/ga4.mjs
  tools/analytics/report.mjs
Due: prettier --write

feat(bite-tribe-business): table operation analytics events (#1098) (#1583)
  apps/bite-tribe-business/env-var-plugin.js
  libs/bite-tribe-business/table-management/data-access/src/lib/table-state-data-access.service.ts
  libs/bite-tribe-business/table-management/page/src/lib/integration/__specs__/table-plan.service.spec.ts
  libs/bite-tribe-business/table-management/page/src/lib/integration/table-plan.service.ts
  libs/common/ta-firestore/src/index.ts
  libs/common/ta-firestore/src/lib/analytics/__specs__/analytics-events.spec.ts
  libs/common/ta-firestore/src/lib/analytics/__specs__/analytics.service.spec.ts
  libs/common/ta-firestore/src/lib/analytics/analytics-events.ts
  libs/common/ta-firestore/src/lib/analytics/analytics.service.ts
  ssot/pages/Analytics Operations.md
  ssot/pages/Architecture - Analytics.md
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Implementation - Analytics Events.md
  ssot/pages/UC - Manage Tables During Service.md
  tools/analytics/provision-ga4.mjs
  tools/analytics/queries/table-operations.sql
Due: eslint --fix, prettier --write

fix: scope the launch user-count tiles to the consumer app (#1584) (#1585)
  tools/analytics/README.md
  tools/analytics/dashboard.config.mjs
  tools/analytics/digest.mjs
  tools/analytics/ga4.mjs
  tools/analytics/report.mjs
Due: prettier --write

fix: exclude the business surface instead of requiring the consumer one (#1586)
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Implementation - Analytics Events.md
  tools/analytics/README.md
  tools/analytics/ga4.mjs
Due: prettier --write

fix: exclude the business surface instead of requiring the consumer one (#1586) (#1587)
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Implementation - Analytics Events.md
  tools/analytics/README.md
  tools/analytics/ga4.mjs
Due: prettier --write

fix(bite-tribe-business): pass the measurement id to the hosting deploy (#1588)
  .github/workflows/pipeline.yml
  ssot/pages/Implementation - CI Pipeline.md
Due: prettier --write

fix(bite-tribe-business): pass the measurement id to the hosting deploy (#1588) (#1589)
  .github/workflows/pipeline.yml
  ssot/pages/Implementation - CI Pipeline.md
Due: prettier --write

docs: record the table analytics verification and the epic success criteria (#1591)
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Implementation - Analytics Events.md
  ssot/pages/UC - Manage Tables During Service.md
Due: prettier --write

docs: record the table analytics verification and the epic success criteria (#1591) (#1592)
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Implementation - Analytics Events.md
  ssot/pages/UC - Manage Tables During Service.md
Due: prettier --write

fix(utils-common): register the fast-food icon the menu id backfill entry asks for
  .loki/reference/chrome_laptop_Admin_Dashboard_Default.png
  libs/common/utils/src/lib/add-necessary-icons.ts
Due: eslint --fix, prettier --write

refactor(bite-tribe/menu): delete the unreachable add-category component
  libs/bite-tribe/menu/page/src/lib/components/add-category/__specs__/add-category.component.spec.ts
  libs/bite-tribe/menu/page/src/lib/components/add-category/add-category.component.html
  libs/bite-tribe/menu/page/src/lib/components/add-category/add-category.component.scss
  libs/bite-tribe/menu/page/src/lib/components/add-category/add-category.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(utils-common): register the business icon the ownership entry asks for
  .loki/reference/chrome_laptop_Admin_Dashboard_Default.png
  libs/common/utils/src/lib/add-necessary-icons.ts
Due: eslint --fix, prettier --write

feat(functions): resolve and validate a table QR token (#1100)
  apps/bite-tribe-firebase/functions/src/__specs__/callable-authorization.spec.ts
  apps/bite-tribe-firebase/functions/src/__specs__/table-scan-parity.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/__specs__/resolve-table-qr-token.emulator-spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/resolve-table-qr-token.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/table-scan.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/__specs__/opening-hours.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/__specs__/scan-rate-limit.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/opening-hours.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/scan-rate-limit.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  libs/bite-tribe-common/model/src/index.ts
  libs/bite-tribe-common/model/src/lib/__specs__/table-ordering.spec.ts
  libs/bite-tribe-common/model/src/lib/restaurant.ts
  libs/bite-tribe-common/model/src/lib/table-ordering.ts
  ssot/pages/Architecture - Firebase.md
  ssot/pages/Current State - Open Questions.md
  ssot/pages/Implementation - Firebase Functions.md
  ssot/pages/Restaurant.md
  ssot/pages/Table.md
  ssot/pages/UC - Order At The Table Through A QR Code.md
Due: eslint --fix, prettier --write

feat(functions): resolve and validate a table QR token (#1100) (#1594)
  apps/bite-tribe-firebase/functions/src/__specs__/callable-authorization.spec.ts
  apps/bite-tribe-firebase/functions/src/__specs__/table-scan-parity.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/__specs__/resolve-table-qr-token.emulator-spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/resolve-table-qr-token.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/table-scan.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/__specs__/opening-hours.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/__specs__/scan-rate-limit.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/opening-hours.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/scan-rate-limit.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  libs/bite-tribe-common/model/src/index.ts
  libs/bite-tribe-common/model/src/lib/__specs__/table-ordering.spec.ts
  libs/bite-tribe-common/model/src/lib/restaurant.ts
  libs/bite-tribe-common/model/src/lib/table-ordering.ts
  ssot/pages/Architecture - Firebase.md
  ssot/pages/Current State - Open Questions.md
  ssot/pages/Implementation - Firebase Functions.md
  ssot/pages/Restaurant.md
  ssot/pages/Table.md
  ssot/pages/UC - Order At The Table Through A QR Code.md
Due: eslint --fix, prettier --write

fix(bite-tribe-business): make the editor's prices follow the menu's currency
  .loki/reference/chrome_iphone7_Components_Menu_In_The_App.png
  .loki/reference/chrome_iphone7_Components_Menu_Read_Only_For_A_Guest.png
  .loki/reference/chrome_iphone7_Pages_Menu_Without_Currency.png
  .loki/reference/chrome_laptop_Business_Edit_Menu_Default.png
  .loki/reference/chrome_laptop_Business_Edit_Menu_Empty_Menu.png
  .loki/reference/chrome_laptop_Business_Edit_Restaurant_Default.png
  .loki/reference/chrome_laptop_Business_Edit_Restaurant_Empty.png
  .loki/reference/chrome_laptop_Business_Edit_Restaurant_With_Menu_Only.png
  .loki/reference/chrome_laptop_Components_Menu_In_The_App.png
  .loki/reference/chrome_laptop_Components_Menu_Read_Only_For_A_Guest.png
  .loki/reference/chrome_laptop_Pages_Menu_Without_Currency.png
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-category/business-category.component.html
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-category/business-category.component.ts
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item-editor/business-menu-item-editor.component.html
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item-editor/business-menu-variant.component.ts
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item/business-menu-item.component.html
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item/business-menu-item.component.ts
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu/business-menu.component.html
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu/business-menu.component.ts
  libs/bite-tribe-business/edit-menu/page/src/lib/components/page/__specs__/edit-menu-page.component.spec.ts
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/edit-restaurant.component.ts
  libs/bite-tribe/menu/page/src/lib/components/menu/__specs__/menu.component.stories.ts
  libs/bite-tribe/menu/page/src/lib/components/page/__specs__/menu.stories.ts
Due: eslint --fix, prettier --write

fix(bite-tribe-business): give the menu currency a writer of its own
  libs/bite-tribe-business/edit-menu/page/src/lib/components/page/__specs__/edit-menu-page.component.spec.ts
  libs/bite-tribe-business/edit-menu/page/src/lib/components/page/edit-menu-page.component.ts
  libs/bite-tribe-business/edit-menu/page/src/lib/integration/edit-menu-container.component.ts
  libs/bite-tribe-business/edit-menu/page/src/lib/integration/edit-menu.service.ts
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/api/src/lib/menu-api/__specs__/menu-api.service.spec.ts
  libs/bite-tribe/api/src/lib/menu-api/menu-api.service.ts
  libs/bite-tribe/menu/data-access/src/lib/menu-data-access.service.ts
Due: eslint --fix, prettier --write

fix(bite-tribe): stop the public menu route from making an authenticated read
  apps/bite-tribe-firebase/functions/src/__specs__/public-menu-parity.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/menus/load-public-menu.ts
  libs/bite-tribe/menu/data-access/src/lib/__specs__/public-menu.service.spec.ts
  libs/bite-tribe/menu/data-access/src/lib/public-menu.service.ts
  libs/bite-tribe/menu/page/src/lib/components/menu-item/menu-item.component.html
  libs/bite-tribe/menu/page/src/lib/components/menu-item/menu-item.component.ts
  libs/bite-tribe/shell/src/lib/routes.ts
  libs/common/utils/src/index.ts
  libs/common/utils/src/lib/paths.ts
Due: eslint --fix, prettier --write

feat: guest order status and follow-up ordering (#1104)
  apps/bite-tribe-firebase/firestore.rules
  apps/bite-tribe-firebase/functions/src/firestore-rules/__specs__/firestore-rules.emulator-spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/table-order.ts
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe-common/model/src/lib/__specs__/table-order.spec.ts
  libs/bite-tribe-common/model/src/lib/table-order.ts
  libs/bite-tribe-common/model/src/lib/table-visit.ts
  libs/bite-tribe/api/src/lib/__specs__/table-live-reads.spec.ts
  libs/bite-tribe/api/src/lib/table-order-api/table-order-api.service.ts
  libs/bite-tribe/api/src/lib/table-session-api/table-session-api.service.ts
  libs/bite-tribe/api/src/lib/utils/snapshot-listener.ts
  libs/bite-tribe/menu/page/src/lib/order/__specs__/table-order.component.spec.ts
  libs/bite-tribe/menu/page/src/lib/order/table-order.component.html
  libs/bite-tribe/menu/page/src/lib/order/table-order.component.scss
  libs/bite-tribe/menu/page/src/lib/order/table-order.component.ts
  libs/bite-tribe/table-order/data-access/src/index.ts
  libs/bite-tribe/table-order/data-access/src/lib/__specs__/table-order-history.service.spec.ts
  libs/bite-tribe/table-order/data-access/src/lib/__specs__/table-order.service.spec.ts
  libs/bite-tribe/table-order/data-access/src/lib/table-order-history.service.ts
  libs/bite-tribe/table-order/data-access/src/lib/table-order.service.ts
  ssot/pages/Current State - Open Questions.md
  ssot/pages/Recorded Decisions.md
  ssot/pages/Table Visit.md
  ssot/pages/UC - Order At The Table Through A QR Code.md
Due: eslint --fix, prettier --write, stylelint --fix

feat: guest order status and follow-up ordering (#1104) (#1600)
  apps/bite-tribe-firebase/firestore.rules
  apps/bite-tribe-firebase/functions/src/firestore-rules/__specs__/firestore-rules.emulator-spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/table-order.ts
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe-common/model/src/lib/__specs__/table-order.spec.ts
  libs/bite-tribe-common/model/src/lib/table-order.ts
  libs/bite-tribe-common/model/src/lib/table-visit.ts
  libs/bite-tribe/api/src/lib/__specs__/table-live-reads.spec.ts
  libs/bite-tribe/api/src/lib/table-order-api/table-order-api.service.ts
  libs/bite-tribe/api/src/lib/table-session-api/table-session-api.service.ts
  libs/bite-tribe/api/src/lib/utils/snapshot-listener.ts
  libs/bite-tribe/menu/page/src/lib/order/__specs__/table-order.component.spec.ts
  libs/bite-tribe/menu/page/src/lib/order/table-order.component.html
  libs/bite-tribe/menu/page/src/lib/order/table-order.component.scss
  libs/bite-tribe/menu/page/src/lib/order/table-order.component.ts
  libs/bite-tribe/table-order/data-access/src/index.ts
  libs/bite-tribe/table-order/data-access/src/lib/__specs__/table-order-history.service.spec.ts
  libs/bite-tribe/table-order/data-access/src/lib/__specs__/table-order.service.spec.ts
  libs/bite-tribe/table-order/data-access/src/lib/table-order-history.service.ts
  libs/bite-tribe/table-order/data-access/src/lib/table-order.service.ts
  ssot/pages/Current State - Open Questions.md
  ssot/pages/Recorded Decisions.md
  ssot/pages/Table Visit.md
  ssot/pages/UC - Order At The Table Through A QR Code.md
Due: eslint --fix, prettier --write, stylelint --fix

test: make the retired-table fixture token obviously synthetic
  apps/bite-tribe-firebase/functions/src/functions/restaurants/__specs__/qr-abuse-protection.emulator-spec.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,html}
  prettier --write: any of: *.{ts,js,html,scss,json,md}
  stylelint --fix: any of: *.scss
