Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

feat: maintain social media links for restaurants
  libs/bite-tribe-business/shell/src/lib/routes.ts
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/model/src/index.ts
  libs/bite-tribe/model/src/lib/link.ts
  libs/bite-tribe/model/src/lib/restaurant.ts
  libs/bite-tribe/restaurant/data-access/src/lib/restaurant-data-access.service.ts
  libs/bite-tribe/restaurant/page/src/index.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.scss
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/edit-restaurant-container.component.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/restaurant.service.ts
  libs/bite-tribe/restaurant/page/src/lib/pipes/ensure-protocol.pipe.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/restaurants/actions.ts
  libs/bite-tribe/store/src/lib/restaurants/effects.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: prepare for ios release
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: none

refactor: feedback from pr
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.ts
Due: eslint --fix, prettier --write

ci: add bite-tribe-business build to pipeline
  .github/workflows/pipeline.yml
Due: none

feat: maintain social media links for restaurants (#355)
  .github/workflows/pipeline.yml
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  libs/bite-tribe-business/shell/src/lib/routes.ts
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/model/src/index.ts
  libs/bite-tribe/model/src/lib/link.ts
  libs/bite-tribe/model/src/lib/restaurant.ts
  libs/bite-tribe/restaurant/data-access/src/lib/restaurant-data-access.service.ts
  libs/bite-tribe/restaurant/page/src/index.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.scss
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/edit-restaurant-container.component.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/restaurant.service.ts
  libs/bite-tribe/restaurant/page/src/lib/pipes/ensure-protocol.pipe.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/restaurants/actions.ts
  libs/bite-tribe/store/src/lib/restaurants/effects.ts
Due: eslint --fix, prettier --write, stylelint --fix

perf: logging, sanitize rxjs, gps reading
  apps/bite-tribe-ios/ios/App/App/AppDelegate.swift
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/store/src/lib/app/effects.ts
  libs/bite-tribe/store/src/lib/provide-bite-tribe-store.ts
  libs/common/geolocation/src/lib/geolocation.ts
  libs/common/ta-firestore/src/lib/auth.guard.ts
  libs/common/ta-firestore/src/lib/ngrx-store/effects.ts
  libs/common/utils/src/lib/get-meta-reducers.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

refactor: introduce virtual scrolling
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.scss
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: fix memory leak
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe-common/bite/src/lib/bite.component.scss
  libs/bite-tribe-common/bite/src/lib/bite.component.ts
  libs/bite-tribe-common/bite/src/lib/likes/likes.component.html
  libs/bite-tribe-common/bite/src/lib/likes/likes.component.ts
  libs/bite-tribe-common/styles/_globals.scss
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/store/src/lib/app/effects.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/common/image-compression/src/index.ts
  libs/common/image-compression/src/lib/to-blob-url.pipe.ts
  libs/common/ta-firestore/src/lib/auth.guard.ts
  libs/common/ta-firestore/src/lib/auth.service.ts
  libs/common/ta-firestore/src/lib/ngrx-store/effects.ts
  libs/common/ta-firestore/src/lib/ngrx-store/index.ts
  libs/common/utils/src/lib/get-meta-reducers.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, stylelint --fix

test: adjust tests
  libs/bite-tribe-common/bite/src/lib/__specs__/bite.component.spec.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.spec.ts
  libs/common/geolocation/src/lib/geolocation.spec.ts
  libs/common/image-compression/src/lib/to-blob-url.pipe.ts
Due: eslint --fix, prettier --write

chore: prepare release
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: none

revert: revert lost dedup emoji set
  libs/bite-tribe-common/bite/src/lib/likes/likes.component.ts
Due: eslint --fix, prettier --write

chore: fix memory leak (#356)
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  apps/bite-tribe-ios/ios/App/App/AppDelegate.swift
  libs/bite-tribe-common/bite/src/lib/__specs__/bite.component.spec.ts
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe-common/bite/src/lib/bite.component.scss
  libs/bite-tribe-common/bite/src/lib/bite.component.ts
  libs/bite-tribe-common/bite/src/lib/likes/likes.component.html
  libs/bite-tribe-common/bite/src/lib/likes/likes.component.ts
  libs/bite-tribe-common/styles/_globals.scss
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.spec.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.scss
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/store/src/lib/app/effects.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/provide-bite-tribe-store.ts
  libs/common/geolocation/src/lib/geolocation.spec.ts
  libs/common/geolocation/src/lib/geolocation.ts
  libs/common/image-compression/src/index.ts
  libs/common/image-compression/src/lib/to-blob-url.pipe.ts
  libs/common/ta-firestore/src/lib/auth.guard.ts
  libs/common/ta-firestore/src/lib/auth.service.ts
  libs/common/ta-firestore/src/lib/ngrx-store/effects.ts
  libs/common/ta-firestore/src/lib/ngrx-store/index.ts
  libs/common/utils/src/lib/get-meta-reducers.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, stylelint --fix

style: fix footer config on some pages
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.ts
  libs/bite-tribe/details/page/src/lib/components/tags/tags.component.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/home/page/src/lib/integration/my-bites-container.component.ts
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.html
  libs/common/utils/src/lib/add-necessary-icons.ts
Due: eslint --fix, prettier --write

feat: implement bucket list
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/details/data-access/src/lib/details-data-access.service.ts
  libs/bite-tribe/details/page/src/lib/components/bucket-list-selection/bucket-list-selection.component.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.ts
  libs/bite-tribe/details/page/src/lib/integration/details.container.ts
  libs/bite-tribe/details/page/src/lib/integration/details.service.ts
  libs/bite-tribe/details/page/src/lib/pipes/is-in-any.pipe.ts
  libs/bite-tribe/details/page/src/lib/pipes/is-in.pipe.ts
  libs/bite-tribe/model/src/index.ts
  libs/bite-tribe/model/src/lib/bucketlist.ts
  libs/bite-tribe/model/src/lib/save-to-bucket-list-params.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/bucketlists/actions.ts
  libs/bite-tribe/store/src/lib/bucketlists/adapter.ts
  libs/bite-tribe/store/src/lib/bucketlists/effects.ts
  libs/bite-tribe/store/src/lib/bucketlists/index.ts
  libs/bite-tribe/store/src/lib/bucketlists/key.ts
  libs/bite-tribe/store/src/lib/bucketlists/reducer.ts
  libs/bite-tribe/store/src/lib/bucketlists/selectors.ts
  libs/bite-tribe/store/src/lib/provide-bite-tribe-store.ts
  libs/common/utils/src/lib/add-necessary-icons.ts
Due: eslint --fix, prettier --write

test: fix tests
  libs/bite-tribe/details/page/src/lib/integration/__specs__/details.container.spec.ts
Due: eslint --fix, prettier --write

test: extend test suite
  libs/bite-tribe/details/page/src/lib/components/details-page/pipes/__specs__/time-ago.pipe.spec.ts
Due: eslint --fix, prettier --write

test: extend test suite
  libs/bite-tribe/details/page/src/lib/pipes/__specs__/is-in-any.pipe.spec.ts
  libs/bite-tribe/details/page/src/lib/pipes/__specs__/is-in.pipe.spec.ts
Due: eslint --fix, prettier --write

test: extend test suite
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.spec.ts
Due: eslint --fix, prettier --write

test: extend test suite
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.spec.ts
  libs/bite-tribe/details/page/src/lib/integration/__specs__/details.service.spec.ts
Due: eslint --fix, prettier --write

feat: create bucketlist and add bite to it
  libs/bite-tribe-common/styles/_globals.scss
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/details/data-access/src/lib/details-data-access.service.ts
  libs/bite-tribe/details/page/src/lib/components/bucket-list-selection/bucket-list-selection.component.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.ts
  libs/bite-tribe/details/page/src/lib/integration/__specs__/details.service.spec.ts
  libs/bite-tribe/details/page/src/lib/integration/details.container.ts
  libs/bite-tribe/details/page/src/lib/integration/details.service.ts
  libs/bite-tribe/model/src/index.ts
  libs/bite-tribe/model/src/lib/create-and-save-to-bucket-list-params.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/bucketlists/actions.ts
  libs/bite-tribe/store/src/lib/bucketlists/effects.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: add menu item My Bucketlists
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/common/ui/page/src/lib/page.component.ts
  libs/common/ui/page/src/lib/popover-menu.component.ts
Due: eslint --fix, prettier --write

feat: remove bite from bucket list
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/details/data-access/src/lib/details-data-access.service.ts
  libs/bite-tribe/details/page/src/lib/components/bucket-list-selection/bucket-list-selection.component.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.ts
  libs/bite-tribe/details/page/src/lib/integration/details.container.ts
  libs/bite-tribe/details/page/src/lib/integration/details.service.ts
  libs/bite-tribe/model/src/index.ts
  libs/bite-tribe/model/src/lib/remove-bite-from-bucketlist-params.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/bucketlists/actions.ts
  libs/bite-tribe/store/src/lib/bucketlists/effects.ts
Due: eslint --fix, prettier --write

chore: cleanup
  libs/bite-tribe/details/page/src/lib/integration/__specs__/details.service.spec.ts
Due: eslint --fix, prettier --write

feat: introduce bucket lists page
  libs/bite-tribe/bucketlist/data-access/.eslintrc.json
  libs/bite-tribe/bucketlist/data-access/README.md
  libs/bite-tribe/bucketlist/data-access/jest.config.ts
  libs/bite-tribe/bucketlist/data-access/project.json
  libs/bite-tribe/bucketlist/data-access/src/index.ts
  libs/bite-tribe/bucketlist/data-access/src/lib/bucketlists-data-access.service.ts
  libs/bite-tribe/bucketlist/data-access/src/test-setup.ts
  libs/bite-tribe/bucketlist/data-access/tsconfig.json
  libs/bite-tribe/bucketlist/data-access/tsconfig.lib.json
  libs/bite-tribe/bucketlist/data-access/tsconfig.spec.json
  libs/bite-tribe/bucketlist/page/.eslintrc.json
  libs/bite-tribe/bucketlist/page/README.md
  libs/bite-tribe/bucketlist/page/jest.config.ts
  libs/bite-tribe/bucketlist/page/project.json
  libs/bite-tribe/bucketlist/page/src/index.ts
  libs/bite-tribe/bucketlist/page/src/lib/components/bucketlists-page/bucketlists.page.html
  libs/bite-tribe/bucketlist/page/src/lib/components/bucketlists-page/bucketlists.page.scss
  libs/bite-tribe/bucketlist/page/src/lib/components/bucketlists-page/bucketlists.page.ts
  libs/bite-tribe/bucketlist/page/src/lib/integration/bucketlists.service.ts
  libs/bite-tribe/bucketlist/page/src/lib/integration/my-bucketlists.container.ts
  libs/bite-tribe/bucketlist/page/src/lib/pipes/count.pipe.ts
  libs/bite-tribe/bucketlist/page/src/test-setup.ts
  libs/bite-tribe/bucketlist/page/tsconfig.json
  libs/bite-tribe/bucketlist/page/tsconfig.lib.json
  libs/bite-tribe/bucketlist/page/tsconfig.spec.json
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/home/page/src/lib/integration/home-container.component.ts
  libs/bite-tribe/home/page/src/lib/integration/home.service.ts
  libs/bite-tribe/shell/src/lib/routes.ts
  libs/common/ui/page/src/lib/page.component.ts
  tsconfig.base.json
Due: eslint --fix, prettier --write, stylelint --fix

feat: introduce my bucket list detail view
  libs/bite-tribe/bucketlist/page/src/lib/components/bucketlists-page/bucketlists.page.html
  libs/bite-tribe/bucketlist/page/src/lib/components/bucketlists-page/bucketlists.page.ts
  libs/bite-tribe/bucketlist/page/src/lib/integration/bucketlists.service.ts
  libs/bite-tribe/bucketlist/page/src/lib/integration/my-bucketlists.container.ts
  libs/bite-tribe/home/data-access/src/lib/home-data-access.service.ts
  libs/bite-tribe/home/page/src/index.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/home/page/src/lib/integration/bucket-list-container.component.ts
  libs/bite-tribe/home/page/src/lib/integration/home.service.ts
  libs/bite-tribe/shell/src/lib/routes.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/bucketlists/selectors.ts
  libs/bite-tribe/store/src/lib/router/selectors.ts
Due: eslint --fix, prettier --write

revert: revert virtual scrolling
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
Due: eslint --fix, prettier --write

chore: cleanup
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
Due: eslint --fix, prettier --write

feat: query bucket lists by user id
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
Due: eslint --fix, prettier --write

chore: prepare for ios build
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: none

fix: fix styling of business dashboard
  libs/bite-tribe-business/dashboard/page/src/lib/component/page/dashboard.component.scss
  libs/bite-tribe/store/src/lib/restaurants/selectors.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: integrate like on detail page
  libs/bite-tribe-common/bite/src/index.ts
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe-common/bite/src/lib/bite.component.ts
  libs/bite-tribe-common/bite/src/lib/likes/likes.component.html
  libs/bite-tribe-common/bite/src/lib/likes/likes.component.ts
  libs/bite-tribe/details/data-access/src/lib/details-data-access.service.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.scss
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.ts
  libs/bite-tribe/details/page/src/lib/integration/details.container.ts
  libs/bite-tribe/details/page/src/lib/integration/details.service.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
Due: eslint --fix, prettier --write, stylelint --fix

test: fix likes test suite
  libs/bite-tribe-common/bite/src/lib/likes/__specs__/likes.component.spec.ts
Due: eslint --fix, prettier --write

test: fix details container tests
  libs/bite-tribe/details/page/src/lib/integration/__specs__/details.container.spec.ts
Due: eslint --fix, prettier --write

test: extend test suite
  libs/bite-tribe/details/page/src/lib/components/bucket-list-selection/__specs__/bucket-list-selection.component.spec.ts
Due: eslint --fix, prettier --write

fix: fix create bite from menu
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite.service.ts
  libs/bite-tribe/menu/page/src/lib/integration/menu.service.ts
Due: eslint --fix, prettier --write

fix: some fixes for business and cleanup
  libs/bite-tribe-business/dashboard/data-access/src/lib/dashboard-data-access.service.ts
  libs/bite-tribe-business/dashboard/page/src/lib/component/page/dashboard.component.html
  libs/bite-tribe-business/dashboard/page/src/lib/component/page/dashboard.component.ts
  libs/bite-tribe-business/dashboard/page/src/lib/integration/dashboard-container.component.ts
  libs/bite-tribe-business/dashboard/page/src/lib/integration/dashboard.service.ts
  libs/bite-tribe/home/data-access/src/lib/home-data-access.service.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/home/page/src/lib/integration/home-container.component.ts
  libs/bite-tribe/home/page/src/lib/integration/home.service.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/restaurants/selectors.ts
  libs/common/ui/page/src/lib/page.component.ts
  libs/common/ui/page/src/lib/popover-menu.component.ts
Due: eslint --fix, prettier --write

test: fix test
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
Due: eslint --fix, prettier --write

fix: diverse fixes (#358)
  libs/bite-tribe-business/dashboard/data-access/src/lib/dashboard-data-access.service.ts
  libs/bite-tribe-business/dashboard/page/src/lib/component/page/dashboard.component.html
  libs/bite-tribe-business/dashboard/page/src/lib/component/page/dashboard.component.scss
  libs/bite-tribe-business/dashboard/page/src/lib/component/page/dashboard.component.ts
  libs/bite-tribe-business/dashboard/page/src/lib/integration/dashboard-container.component.ts
  libs/bite-tribe-business/dashboard/page/src/lib/integration/dashboard.service.ts
  libs/bite-tribe-common/bite/src/index.ts
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe-common/bite/src/lib/bite.component.ts
  libs/bite-tribe-common/bite/src/lib/likes/__specs__/likes.component.spec.ts
  libs/bite-tribe-common/bite/src/lib/likes/likes.component.html
  libs/bite-tribe-common/bite/src/lib/likes/likes.component.ts
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite.service.ts
  libs/bite-tribe/details/data-access/src/lib/details-data-access.service.ts
  libs/bite-tribe/details/page/src/lib/components/bucket-list-selection/__specs__/bucket-list-selection.component.spec.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.scss
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.ts
  libs/bite-tribe/details/page/src/lib/integration/__specs__/details.container.spec.ts
  libs/bite-tribe/details/page/src/lib/integration/details.container.ts
  libs/bite-tribe/details/page/src/lib/integration/details.service.ts
  libs/bite-tribe/home/data-access/src/lib/home-data-access.service.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/home/page/src/lib/integration/home-container.component.ts
  libs/bite-tribe/home/page/src/lib/integration/home.service.ts
  libs/bite-tribe/menu/page/src/lib/integration/menu.service.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/restaurants/selectors.ts
  libs/common/ui/page/src/lib/page.component.ts
  libs/common/ui/page/src/lib/popover-menu.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --fix: any of: *.{ts,html}
  prettier --write: any of: *.{ts,js,html,scss,json,md}
  stylelint --fix: any of: *.scss
