Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

test: 410 add unit tests
  libs/bite-tribe/home/data-access/src/lib/__specs__/home-data-access-service.spec.ts
  libs/bite-tribe/home/data-access/src/lib/home-data-access.service.ts
  libs/bite-tribe/map/data-access/src/lib/__specs__/map-data-access.service.spec.ts
  libs/bite-tribe/map/page/src/lib/integration/__specs__/bucket-list-map.container.component.spec.ts
  libs/bite-tribe/map/page/src/lib/integration/__specs__/my-bites-map.container.component.spec.ts
Due: eslint --fix, prettier --write

feat: 410 add missing inputs and outputs
  libs/bite-tribe/map/page/src/lib/integration/bucket-list-map.container.component.ts
  libs/bite-tribe/map/page/src/lib/integration/my-bites-map.container.component.ts
Due: eslint --fix, prettier --write

fix: 410 change map to forEach
  libs/bite-tribe-common/map/src/lib/map/map.component.ts
Due: eslint --fix, prettier --write

test: 410 more tests
  libs/bite-tribe-common/map/src/lib/map/__specs__/map.component.spec.ts
  libs/bite-tribe-common/map/src/lib/map/utils/__specs__/geopoints-to-markers.spec.ts
  libs/bite-tribe/map/page/src/lib/components/map-page/__specs__/map-page.component.spec.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
Due: eslint --fix, prettier --write

test: 410 more tests
  libs/bite-tribe-common/map/src/lib/map/utils/__specs__/geopoints-to-markers.spec.ts
Due: eslint --fix, prettier --write

test: 410 more tests
  libs/bite-tribe/store/src/lib/__specs__/bite-tribe-store.service.spec.ts
Due: eslint --fix, prettier --write

410 bite on map view pin click (#438)
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/restaurant-page.component.scss
  libs/bite-tribe-common/bite/src/lib/bite.component.scss
  libs/bite-tribe-common/map/src/lib/map/__specs__/map.component.spec.ts
  libs/bite-tribe-common/map/src/lib/map/map.component.ts
  libs/bite-tribe-common/map/src/lib/map/utils/__specs__/geopoints-to-markers.spec.ts
  libs/bite-tribe-common/map/src/lib/map/utils/geopoints-to-markers.ts
  libs/bite-tribe-common/map/src/lib/position/position.component.ts
  libs/bite-tribe/home/data-access/src/lib/__specs__/home-data-access-service.spec.ts
  libs/bite-tribe/home/data-access/src/lib/home-data-access.service.ts
  libs/bite-tribe/home/data-access/src/test-setup.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.scss
  libs/bite-tribe/map/data-access/jest.config.ts
  libs/bite-tribe/map/data-access/src/lib/__specs__/map-data-access.service.spec.ts
  libs/bite-tribe/map/data-access/src/lib/map-data-access.service.ts
  libs/bite-tribe/map/data-access/src/test-setup.ts
  libs/bite-tribe/map/page/src/lib/components/map-page/__specs__/map-page.component.spec.ts
  libs/bite-tribe/map/page/src/lib/components/map-page/map-page.component.html
  libs/bite-tribe/map/page/src/lib/components/map-page/map-page.component.scss
  libs/bite-tribe/map/page/src/lib/components/map-page/map-page.component.ts
  libs/bite-tribe/map/page/src/lib/integration/__specs__/bucket-list-map.container.component.spec.ts
  libs/bite-tribe/map/page/src/lib/integration/__specs__/home-map-container.component.spec.ts
  libs/bite-tribe/map/page/src/lib/integration/__specs__/map.service.spec.ts
  libs/bite-tribe/map/page/src/lib/integration/__specs__/my-bites-map.container.component.spec.ts
  libs/bite-tribe/map/page/src/lib/integration/bucket-list-map.container.component.ts
  libs/bite-tribe/map/page/src/lib/integration/home-map-container.component.ts
  libs/bite-tribe/map/page/src/lib/integration/map.service.ts
  libs/bite-tribe/map/page/src/lib/integration/my-bites-map.container.component.ts
  libs/bite-tribe/model/src/lib/geopoint.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.scss
  libs/bite-tribe/store/src/lib/__specs__/bite-tribe-store.service.spec.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: fix sorting selection in new design
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: adjustments to new styling
  apps/bite-tribe/src/theme/variables.scss
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe-common/bite/src/lib/bite.component.scss
  libs/bite-tribe-common/bite/src/lib/likes/likes.component.html
  libs/bite-tribe-common/bite/src/lib/likes/likes.component.scss
  libs/bite-tribe-common/bite/src/lib/likes/likes.component.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.scss
  libs/bite-tribe/start/src/lib/bite-tribe-start.component.html
  libs/bite-tribe/start/src/lib/bite-tribe-start.component.ts
  libs/common/ui/auth/src/lib/components/login/login.component.html
  libs/common/ui/page/src/lib/page.component.html
  libs/common/ui/page/src/lib/page.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: 439 change marker style, highlight on click
  libs/bite-tribe-common/map/src/lib/map/__specs__/map.component.spec.ts
  libs/bite-tribe-common/map/src/lib/map/map.component.ts
  libs/bite-tribe-common/map/src/lib/map/model/marker-color.enum.ts
  libs/bite-tribe-common/map/src/lib/map/utils/__specs__/focus-marker.spec.ts
  libs/bite-tribe-common/map/src/lib/map/utils/__specs__/geopoints-to-markers.spec.ts
  libs/bite-tribe-common/map/src/lib/map/utils/__specs__/get-marker-with-color.spec.ts
  libs/bite-tribe-common/map/src/lib/map/utils/focus-marker.ts
  libs/bite-tribe-common/map/src/lib/map/utils/geopoints-to-markers.ts
  libs/bite-tribe-common/map/src/lib/map/utils/get-marker-with-color.ts
Due: eslint --fix, prettier --write

refactor: remove own confirmation dialog
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe-common/bite/src/lib/bite.component.ts
  libs/bite-tribe-common/confirm-dialog/.eslintrc.json
  libs/bite-tribe-common/confirm-dialog/README.md
  libs/bite-tribe-common/confirm-dialog/jest.config.ts
  libs/bite-tribe-common/confirm-dialog/project.json
  libs/bite-tribe-common/confirm-dialog/src/confirm-dialog/__specs__/confirm-dialog.component.spec.ts
  libs/bite-tribe-common/confirm-dialog/src/confirm-dialog/confirm-dialog.component.ts
  libs/bite-tribe-common/confirm-dialog/src/index.ts
  libs/bite-tribe-common/confirm-dialog/src/test-setup.ts
  libs/bite-tribe-common/confirm-dialog/tsconfig.json
  libs/bite-tribe-common/confirm-dialog/tsconfig.lib.json
  libs/bite-tribe-common/confirm-dialog/tsconfig.spec.json
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.html
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.ts
  libs/common/ui/page/src/lib/page.component.ts
  tsconfig.base.json
Due: eslint --fix, prettier --write

feat: 439 add dot to marker
  libs/bite-tribe-common/map/src/lib/map/utils/get-marker-with-color.ts
Due: eslint --fix, prettier --write

feat: 439 increase marker size on selection
  libs/bite-tribe-common/map/src/lib/map/utils/__specs__/focus-marker.spec.ts
  libs/bite-tribe-common/map/src/lib/map/utils/__specs__/get-marker-with-color.spec.ts
  libs/bite-tribe-common/map/src/lib/map/utils/focus-marker.ts
  libs/bite-tribe-common/map/src/lib/map/utils/get-marker-with-color.ts
Due: eslint --fix, prettier --write

feat: 439 show rating in map marker
  libs/bite-tribe-common/map/src/lib/map/utils/__specs__/focus-marker.spec.ts
  libs/bite-tribe-common/map/src/lib/map/utils/__specs__/geopoints-to-markers.spec.ts
  libs/bite-tribe-common/map/src/lib/map/utils/__specs__/get-marker-with-color.spec.ts
  libs/bite-tribe-common/map/src/lib/map/utils/focus-marker.ts
  libs/bite-tribe-common/map/src/lib/map/utils/geopoints-to-markers.ts
  libs/bite-tribe-common/map/src/lib/map/utils/get-marker-with-color.ts
  libs/bite-tribe/map/page/src/lib/components/map-page/__specs__/map-page.component.spec.ts
  libs/bite-tribe/map/page/src/lib/components/map-page/map-page.component.ts
  libs/bite-tribe/model/src/lib/geopoint.ts
Due: eslint --fix, prettier --write

feat: 439 click on map should deselect marker
  libs/bite-tribe-common/map/src/lib/map/__specs__/map.component.spec.ts
  libs/bite-tribe-common/map/src/lib/map/map.component.ts
  libs/bite-tribe-common/map/src/lib/map/utils/__specs__/focus-marker.spec.ts
  libs/bite-tribe-common/map/src/lib/map/utils/focus-marker.ts
  libs/bite-tribe/map/page/src/lib/components/map-page/__specs__/map-page.component.spec.ts
  libs/bite-tribe/map/page/src/lib/components/map-page/map-page.component.ts
Due: eslint --fix, prettier --write

fix: 439 remove redundant undefined
  libs/bite-tribe-common/map/src/lib/map/utils/geopoints-to-markers.ts
Due: eslint --fix, prettier --write

refactor: 439 keep rating number
  libs/bite-tribe/map/page/src/lib/components/map-page/__specs__/map-page.component.spec.ts
  libs/bite-tribe/map/page/src/lib/components/map-page/map-page.component.ts
Due: eslint --fix, prettier --write

439 show selected marker on map (#440)
  libs/bite-tribe-common/map/src/lib/map/__specs__/map.component.spec.ts
  libs/bite-tribe-common/map/src/lib/map/map.component.ts
  libs/bite-tribe-common/map/src/lib/map/model/marker-color.enum.ts
  libs/bite-tribe-common/map/src/lib/map/utils/__specs__/focus-marker.spec.ts
  libs/bite-tribe-common/map/src/lib/map/utils/__specs__/geopoints-to-markers.spec.ts
  libs/bite-tribe-common/map/src/lib/map/utils/__specs__/get-marker-with-color.spec.ts
  libs/bite-tribe-common/map/src/lib/map/utils/focus-marker.ts
  libs/bite-tribe-common/map/src/lib/map/utils/geopoints-to-markers.ts
  libs/bite-tribe-common/map/src/lib/map/utils/get-marker-with-color.ts
  libs/bite-tribe/map/page/src/lib/components/map-page/__specs__/map-page.component.spec.ts
  libs/bite-tribe/map/page/src/lib/components/map-page/map-page.component.ts
  libs/bite-tribe/model/src/lib/geopoint.ts
Due: eslint --fix, prettier --write

feat: new design
  apps/bite-tribe/src/theme/variables.scss
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.html
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: feedback from pr
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.html
Due: eslint --fix, prettier --write

test: extend test suite
  libs/bite-tribe-common/bite/src/lib/__specs__/bite.component.spec.ts
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.html
Due: eslint --fix, prettier --write

chore: prepare release
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: none

styling: new ui design (#441)
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  apps/bite-tribe/src/theme/variables.scss
  libs/bite-tribe-common/bite/src/lib/__specs__/bite.component.spec.ts
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe-common/bite/src/lib/bite.component.scss
  libs/bite-tribe-common/bite/src/lib/bite.component.ts
  libs/bite-tribe-common/bite/src/lib/likes/likes.component.html
  libs/bite-tribe-common/bite/src/lib/likes/likes.component.scss
  libs/bite-tribe-common/bite/src/lib/likes/likes.component.ts
  libs/bite-tribe-common/confirm-dialog/.eslintrc.json
  libs/bite-tribe-common/confirm-dialog/README.md
  libs/bite-tribe-common/confirm-dialog/jest.config.ts
  libs/bite-tribe-common/confirm-dialog/project.json
  libs/bite-tribe-common/confirm-dialog/src/confirm-dialog/__specs__/confirm-dialog.component.spec.ts
  libs/bite-tribe-common/confirm-dialog/src/confirm-dialog/confirm-dialog.component.ts
  libs/bite-tribe-common/confirm-dialog/src/index.ts
  libs/bite-tribe-common/confirm-dialog/src/test-setup.ts
  libs/bite-tribe-common/confirm-dialog/tsconfig.json
  libs/bite-tribe-common/confirm-dialog/tsconfig.lib.json
  libs/bite-tribe-common/confirm-dialog/tsconfig.spec.json
  libs/bite-tribe-common/styles/_globals.scss
  libs/bite-tribe/api/src/lib/bite-api.service.ts
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/api/src/lib/utils/get-blob-with-uri.ts
  libs/bite-tribe/api/src/lib/utils/to-base-64.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.scss
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.html
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.ts
  libs/bite-tribe/start/src/lib/bite-tribe-start.component.html
  libs/bite-tribe/start/src/lib/bite-tribe-start.component.ts
  libs/common/ui/auth/src/lib/components/login/login.component.html
  libs/common/ui/page/src/lib/page.component.html
  libs/common/ui/page/src/lib/page.component.scss
  libs/common/ui/page/src/lib/page.component.ts
  libs/common/ui/star-rating/src/lib/star-rating.component.scss
  libs/common/utils/src/lib/add-necessary-icons.ts
  tsconfig.base.json
Due: eslint --fix, prettier --write, stylelint --fix

fix: fix not disappearing deleted bite
  libs/bite-tribe/api/src/lib/bite-api.service.ts
  libs/bite-tribe/bite/page/src/lib/components/image-upload/image-upload.component.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/reducer.spec.ts
  libs/bite-tribe/store/src/lib/bites/effects.ts
  libs/bite-tribe/store/src/lib/bites/reducer.ts
  libs/common/utils/src/lib/data-url-to-blob.ts
Due: eslint --fix, prettier --write

feat: show locations in english
  libs/bite-tribe-common/map/src/lib/map/utils/create-openstreetmap-layer.ts
Due: eslint --fix, prettier --write

test: adjust test
  libs/bite-tribe-common/map/src/lib/map/utils/__specs__/create-openstreetmap-layer.spec.ts
Due: eslint --fix, prettier --write

style: fix margin of bites in profile page
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.scss
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

chore: cleanup console.log
  libs/bite-tribe/store/src/lib/bites/effects.ts
Due: eslint --fix, prettier --write

fix: fix breaking delete process and not updating bites when deleted (#442)
  libs/bite-tribe-common/map/src/lib/map/utils/__specs__/create-openstreetmap-layer.spec.ts
  libs/bite-tribe-common/map/src/lib/map/utils/create-openstreetmap-layer.ts
  libs/bite-tribe/api/src/lib/bite-api.service.ts
  libs/bite-tribe/bite/page/src/lib/components/image-upload/image-upload.component.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.scss
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.scss
  libs/bite-tribe/store/src/lib/bites/__specs__/reducer.spec.ts
  libs/bite-tribe/store/src/lib/bites/reducer.ts
  libs/common/utils/src/lib/data-url-to-blob.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: xcode changes
  apps/bite-tribe-ios/ios/App/App/Base.lproj/LaunchScreen.storyboard
Due: none

feat: setup splash screen
  apps/bite-tribe-ios/capacitor.config.ts
  apps/bite-tribe-ios/ios/App/Podfile
  apps/bite-tribe-ios/ios/App/Podfile.lock
  apps/bite-tribe-ios/package-lock.json
  apps/bite-tribe-ios/package.json
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

feat: add hide splash screen
  apps/bite-tribe/src/app/app.component.ts
Due: eslint --fix, prettier --write

style: adjust logo in app
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  apps/bite-tribe/src/assets/icons/logo.svg
  libs/bite-tribe/start/src/lib/bite-tribe-start.component.html
Due: eslint --fix, prettier --write

test: extend test suite
  apps/bite-tribe/src/app/app.component.spec.ts
Due: eslint --fix, prettier --write

feat: add description field to bite
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  apps/bite-tribe/src/assets/icons/logo-black-white.svg
  apps/bite-tribe/src/theme/variables.scss
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.scss
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/home.component.spec.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/model/src/lib/bite.ts
  libs/common/ui/page/src/lib/page.component.html
  libs/common/ui/page/src/lib/page.component.scss
  libs/common/ui/page/src/lib/page.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

test: adjust tests
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
Due: eslint --fix, prettier --write

chore: fix from pr
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
Due: eslint --fix, prettier --write

chore: fix spelling
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,html}
  prettier --write: any of: *.{ts,js,html,scss,json,md}
  stylelint --fix: any of: *.scss
