Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

fix: remove bite from all 3 lists
  libs/bite-tribe/api/src/lib/bite-api/bite-api.service.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/reducer.spec.ts
  libs/bite-tribe/store/src/lib/bites/reducer.ts
Due: eslint --fix, prettier --write

test: adjust test
  libs/bite-tribe/api/src/lib/bite-api/__specs__/bite-api.service.spec.ts
Due: eslint --fix, prettier --write

fix(728): delete doc does not work when image is broken (#751)
  libs/bite-tribe/api/src/lib/bite-api/__specs__/bite-api.service.spec.ts
  libs/bite-tribe/api/src/lib/bite-api/bite-api.service.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/reducer.spec.ts
  libs/bite-tribe/store/src/lib/bites/reducer.ts
Due: eslint --fix, prettier --write

fix: await image upload before updating photo url in edited bite
  libs/bite-tribe/api/src/lib/utils/upload-blob-to-firebasestorage.ts
Due: eslint --fix, prettier --write

fix(728): fix loosing new photo url when editing bite (#752)
  libs/bite-tribe/api/src/lib/utils/upload-blob-to-firebasestorage.ts
Due: eslint --fix, prettier --write

fix: only consider reload if meaningful movement
  libs/bite-tribe/store/src/lib/app/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/app/utils/dispatch-gps-position.ts
Due: eslint --fix, prettier --write

feat: clear reloading state if no meaningful movement
  libs/bite-tribe/store/src/lib/app/actions.ts
  libs/bite-tribe/store/src/lib/app/reducer.ts
  libs/bite-tribe/store/src/lib/app/utils/dispatch-gps-position.ts
Due: eslint --fix, prettier --write

test: adjust tests
  libs/bite-tribe/store/src/lib/app/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/app/utils/dispatch-gps-position.ts
Due: eslint --fix, prettier --write

fix(754): avoid flicker on app forground (#755)
  libs/bite-tribe/store/src/lib/app/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/app/actions.ts
  libs/bite-tribe/store/src/lib/app/reducer.ts
  libs/bite-tribe/store/src/lib/app/utils/dispatch-gps-position.ts
Due: eslint --fix, prettier --write

feat: introduce read only for currency fav selection
  libs/bite-tribe/bite/data-access/src/lib/bite-data-access.service.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite.service.ts
  libs/bite-tribe/bite/page/src/lib/integration/create-bite.container.ts
  libs/bite-tribe/store/src/lib/app/selectors.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/common/ui/currency-selector/src/lib/currency-selector.component.html
  libs/common/ui/currency-selector/src/lib/currency-selector.component.ts
Due: eslint --fix, prettier --write

fix: check language change before reload
  libs/bite-tribe/settings/data-access/src/lib/settings-data-access.service.ts
Due: eslint --fix, prettier --write

fix: reload after settings save anyways
  libs/bite-tribe/settings/data-access/src/lib/settings-data-access.service.ts
Due: eslint --fix, prettier --write

style: fix styling on multiple currencies selected
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.html
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.scss
  libs/common/ui/currency-selector/src/lib/currency-selector.component.html
  libs/common/ui/currency-selector/src/lib/currency-selector.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: add favorite currencies to settings and currency selection flow (#756)
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe-common/model/src/lib/settings.ts
  libs/bite-tribe/bite/data-access/src/lib/bite-data-access.service.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite.service.ts
  libs/bite-tribe/bite/page/src/lib/integration/create-bite.container.ts
  libs/bite-tribe/settings/data-access/src/lib/settings-data-access.service.ts
  libs/bite-tribe/settings/page/src/lib/components/page/__specs__/settings.component.spec.ts
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.html
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.scss
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.ts
  libs/bite-tribe/store/src/lib/app/__specs__/reducer.spec.ts
  libs/bite-tribe/store/src/lib/app/reducer.ts
  libs/bite-tribe/store/src/lib/app/selectors.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/common/ui/currency-selector/src/lib/__specs__/currency-selector.component.spec.ts
  libs/common/ui/currency-selector/src/lib/__specs__/currency-selector.component.stories.ts
  libs/common/ui/currency-selector/src/lib/currency-selector.component.html
  libs/common/ui/currency-selector/src/lib/currency-selector.component.ts
  libs/common/utils/src/lib/add-necessary-icons.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: track and display free bite trail “sold” events in Firestore and harden persistence flow (#753)
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe-common/bite-trail/src/lib/bite-trail/bite-trail.html
  libs/bite-tribe-common/model/src/lib/bite-trail.ts
  libs/bite-tribe/api/src/lib/bucketlist-api/__specs__/bucketlist-api.service.spec.ts
  libs/bite-tribe/api/src/lib/bucketlist-api/bucketlist-api.service.ts
  libs/bite-tribe/market-place/data-access/src/lib/__specs__/market-place-data-access.service.spec.ts
  libs/bite-tribe/market-place/data-access/src/lib/market-place-data-access.service.ts
Due: eslint --fix, prettier --write

refactor: extract function
  apps/bite-tribe/src/assets/i18n/am.json
  libs/bite-tribe/bucketlist/data-access/src/lib/bucketlists-data-access.service.ts
  libs/bite-tribe/bucketlist/data-access/src/lib/utils/__specs__/is-bite-trail-rating.spec.ts
  libs/bite-tribe/bucketlist/data-access/src/lib/utils/bite-trail-rating.ts
  libs/bite-tribe/bucketlist/data-access/src/lib/utils/is-bite-trail-rating.ts
Due: eslint --fix, prettier --write

refactor: move bite trail rating to model
  libs/bite-tribe-common/model/src/index.ts
  libs/bite-tribe-common/model/src/lib/bite-trail-rating.ts
  libs/bite-tribe/bucketlist/data-access/src/lib/bucketlists-data-access.service.ts
  libs/bite-tribe/bucketlist/data-access/src/lib/utils/is-bite-trail-rating.ts
  libs/bite-tribe/bucketlist/page/src/lib/components/rate-bucketlist-page/rate-bucketlist.page.ts
  libs/bite-tribe/bucketlist/page/src/lib/integration/rate-bucketlist.service.ts
Due: eslint --fix, prettier --write

ci: increase build number; prepare for release
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: none

feat: add one-time Bite Trail rating flow from My Bucket Lists (#757)
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe-common/model/src/index.ts
  libs/bite-tribe-common/model/src/lib/bite-trail-rating.ts
  libs/bite-tribe/bucketlist/data-access/src/lib/__specs__/bucketlists-data-access.service.spec.ts
  libs/bite-tribe/bucketlist/data-access/src/lib/bucketlists-data-access.service.ts
  libs/bite-tribe/bucketlist/data-access/src/lib/utils/__specs__/is-bite-trail-rating.spec.ts
  libs/bite-tribe/bucketlist/data-access/src/lib/utils/is-bite-trail-rating.ts
  libs/bite-tribe/bucketlist/page/src/index.ts
  libs/bite-tribe/bucketlist/page/src/lib/components/bucketlists-page/__specs__/bucketlists.page.spec.ts
  libs/bite-tribe/bucketlist/page/src/lib/components/bucketlists-page/__specs__/my-bucketlists.stories.ts
  libs/bite-tribe/bucketlist/page/src/lib/components/bucketlists-page/bucketlists.page.html
  libs/bite-tribe/bucketlist/page/src/lib/components/bucketlists-page/bucketlists.page.ts
  libs/bite-tribe/bucketlist/page/src/lib/components/rate-bucketlist-page/__specs__/rate-bucketlist.page.spec.ts
  libs/bite-tribe/bucketlist/page/src/lib/components/rate-bucketlist-page/rate-bucketlist.page.html
  libs/bite-tribe/bucketlist/page/src/lib/components/rate-bucketlist-page/rate-bucketlist.page.scss
  libs/bite-tribe/bucketlist/page/src/lib/components/rate-bucketlist-page/rate-bucketlist.page.ts
  libs/bite-tribe/bucketlist/page/src/lib/integration/__specs__/bucketlists-service.spec.ts
  libs/bite-tribe/bucketlist/page/src/lib/integration/__specs__/bucketlists.container.spec.ts
  libs/bite-tribe/bucketlist/page/src/lib/integration/__specs__/rate-bucketlist.service.spec.ts
  libs/bite-tribe/bucketlist/page/src/lib/integration/bucketlists.container.ts
  libs/bite-tribe/bucketlist/page/src/lib/integration/bucketlists.service.ts
  libs/bite-tribe/bucketlist/page/src/lib/integration/rate-bucketlist.container.ts
  libs/bite-tribe/bucketlist/page/src/lib/integration/rate-bucketlist.service.ts
  libs/bite-tribe/shell/src/lib/routes.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat(743): Corrected spanish
  apps/bite-tribe/src/assets/i18n/es.json
Due: prettier --write

docs: fix storybook after internationalization
  libs/bite-tribe-common/bite/src/lib/__specs__/bite.stories.ts
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.stories.ts
  libs/bite-tribe/bucketlist/page/src/lib/components/bucketlists-page/__specs__/my-bucketlists.stories.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.stories.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.ts
  libs/bite-tribe/details/page/src/lib/integration/details.container.ts
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/home.stories.ts
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/my-bites.stories.ts
  libs/bite-tribe/map/page/src/lib/components/map-page/__specs__/map-page.stories.ts
  libs/bite-tribe/profile/page/src/lib/components/edit-profile-page/__specs__/edit-profile.stories.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/__specs__/profile.stories.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/__specs__/restaurant.stories.ts
  libs/bite-tribe/settings/page/src/lib/components/page/__specs__/settings.stories.ts
  libs/bite-tribe/start/src/lib/__specs__/start.stories.ts
  libs/common/ui/auth/src/lib/components/login/__specs__/auth.component.stories.ts
  libs/common/ui/auth/src/lib/components/registration/__specs__/registration.component.stories.ts
  libs/common/ui/password-validator/src/lib/__specs__/password-validator.component.stories.ts
  libs/common/ui/tags/src/lib/tags-input/__specs__/tags-input.component.stories.ts
Due: eslint --fix, prettier --write

test: adjust test
  libs/bite-tribe/details/page/src/lib/integration/__specs__/details.container.spec.ts
Due: eslint --fix, prettier --write

refactor: remove ngx-skeleton
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.stories.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.ts
  libs/bite-tribe/restaurant/page/src/lib/components/restaurant-image/restaurant-image.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/restaurant-image/restaurant-image.component.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

refactor: feedback from code review
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.stories.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.ts
  libs/bite-tribe/details/page/src/lib/integration/details.container.ts
  libs/bite-tribe/restaurant/page/src/lib/components/restaurant-image/restaurant-image.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/restaurant-image/restaurant-image.component.ts
Due: eslint --fix, prettier --write

test: adjust tests
  libs/bite-tribe/details/page/src/lib/integration/__specs__/details.container.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/components/restaurant-image/__specs__/restaurant-image.component.spec.ts
Due: eslint --fix, prettier --write

feat(730): introduce loading state for bite (#760)
  libs/bite-tribe-common/bite/src/lib/__specs__/bite.stories.ts
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.stories.ts
  libs/bite-tribe/bucketlist/page/src/lib/components/bucketlists-page/__specs__/my-bucketlists.stories.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.stories.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.ts
  libs/bite-tribe/details/page/src/lib/integration/__specs__/details.container.spec.ts
  libs/bite-tribe/details/page/src/lib/integration/details.container.ts
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/home.stories.ts
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/my-bites.stories.ts
  libs/bite-tribe/map/page/src/lib/components/map-page/__specs__/map-page.stories.ts
  libs/bite-tribe/profile/page/src/lib/components/edit-profile-page/__specs__/edit-profile.stories.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/__specs__/profile.stories.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/__specs__/restaurant.stories.ts
  libs/bite-tribe/restaurant/page/src/lib/components/restaurant-image/__specs__/restaurant-image.component.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/components/restaurant-image/restaurant-image.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/restaurant-image/restaurant-image.component.ts
  libs/bite-tribe/settings/page/src/lib/components/page/__specs__/settings.stories.ts
  libs/bite-tribe/start/src/lib/__specs__/start.stories.ts
  libs/common/ui/auth/src/lib/components/login/__specs__/auth.component.stories.ts
  libs/common/ui/auth/src/lib/components/registration/__specs__/registration.component.stories.ts
  libs/common/ui/password-validator/src/lib/__specs__/password-validator.component.stories.ts
  libs/common/ui/tags/src/lib/tags-input/__specs__/tags-input.component.stories.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

feat: user wants to see restaurant name as resto bites title
  libs/bite-tribe/home/data-access/src/lib/home-data-access.service.ts
  libs/bite-tribe/home/page/src/lib/integration/home.service.ts
  libs/bite-tribe/home/page/src/lib/integration/restaurant-bites.container.ts
Due: eslint --fix, prettier --write

test: adjust tests
  libs/bite-tribe/home/data-access/src/lib/__specs__/home-data-access-service.spec.ts
Due: eslint --fix, prettier --write

feat(bite-tribe): 741-Corrected german, eliminated sold-231-times key as not used
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
Due: prettier --write

feat(bite-tribe): 741-small adaption
  apps/bite-tribe/src/assets/i18n/de.json
Due: prettier --write

feat(743): Corrected spanish (#759)
  apps/bite-tribe/src/assets/i18n/es.json
Due: prettier --write

feat(bite-tribe): 741-Corrected german, eliminated sold-231-times key… (#764)
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
Due: prettier --write

feat: load source-area bites on restaurant bites page while keeping 200m grouping logic (#762)
  libs/bite-tribe/api/src/lib/__specs__/bite-tribe-api.service.spec.ts
  libs/bite-tribe/api/src/lib/bite-api/__specs__/bite-api.service.spec.ts
  libs/bite-tribe/api/src/lib/bite-api/bite-api.service.ts
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/home/data-access/src/lib/__specs__/home-data-access-service.spec.ts
  libs/bite-tribe/home/data-access/src/lib/home-data-access.service.ts
  libs/bite-tribe/home/page/src/lib/integration/home.service.ts
  libs/bite-tribe/home/page/src/lib/integration/restaurant-bites.container.ts
  libs/bite-tribe/store/src/index.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/bites/effects.ts
  package-lock.json
Due: eslint --fix, prettier --write

style: adjust style
  apps/bite-tribe/src/assets/i18n/en.json
Due: prettier --write

feat: style adjustments and translation
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
Due: prettier --write

refactor: cleanup
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

refactor: change to iso date string and timestamp
  libs/bite-tribe-common/model/src/lib/bucketlist.ts
  libs/bite-tribe/api/src/lib/bucketlist-api/__specs__/bucketlist-api.service.spec.ts
  libs/bite-tribe/api/src/lib/bucketlist-api/bucketlist-api.service.ts
Due: eslint --fix, prettier --write

refactor: use pipe instead of method call in template
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/home.component.spec.ts
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/is-bite-tried-out.pipe.spec.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/home/page/src/lib/components/page/is-bite-tried-out.pipe.ts
Due: eslint --fix, prettier --write

feat: add bucket-list “tried out” checkbox flow with bucketlist-scoped metadata (#766)
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe-common/model/src/lib/bucketlist.ts
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/api/src/lib/bucketlist-api/__specs__/bucketlist-api.service.spec.ts
  libs/bite-tribe/api/src/lib/bucketlist-api/bucketlist-api.service.ts
  libs/bite-tribe/home/data-access/src/lib/__specs__/home-data-access-service.spec.ts
  libs/bite-tribe/home/data-access/src/lib/home-data-access.service.ts
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/home.component.spec.ts
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/is-bite-tried-out.pipe.spec.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/home/page/src/lib/components/page/is-bite-tried-out.pipe.ts
  libs/bite-tribe/home/page/src/lib/integration/__specs__/home.service.spec.ts
  libs/bite-tribe/home/page/src/lib/integration/bucket-list.container.ts
  libs/bite-tribe/home/page/src/lib/integration/home.service.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/bucketlists/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/bucketlists/actions.ts
  libs/bite-tribe/store/src/lib/bucketlists/effects.ts
Due: eslint --fix, prettier --write

feat: align restaurant rating with full restaurant bite set and exclude unrated bites (#768)
  libs/bite-tribe/restaurant/page/src/lib/components/page/__specs__/restaurant.component.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/__specs__/restaurant.service.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/restaurant.service.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,html}
  prettier --write: any of: *.{ts,js,html,scss,json,md}
  stylelint --fix: any of: *.scss
