Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

fix: persist the first bucket list created from a bite (#1231)
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/details/page/src/lib/components/bucket-list-selection/__specs__/bucket-list-selection.component.spec.ts
  libs/bite-tribe/details/page/src/lib/components/bucket-list-selection/bucket-list-selection.component.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.spec.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.ts
  libs/bite-tribe/details/page/src/lib/integration/__specs__/details.service.spec.ts
  libs/bite-tribe/details/page/src/lib/integration/details.service.ts
  libs/bite-tribe/store/src/lib/bucketlists/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/bucketlists/actions.ts
  libs/bite-tribe/store/src/lib/bucketlists/effects.ts
  ssot/pages/Bucket List.md
  ssot/pages/Current State - Known Issues.md
Due: eslint --fix, prettier --write

test: e2e test for add to bucketlist with no bucket lists pre-existing
  apps/bite-tribe-e2e/src/pages/bite-details.page.ts
  apps/bite-tribe-e2e/src/support/auth.ts
  apps/bite-tribe-e2e/src/support/firestore.ts
  apps/bite-tribe-e2e/src/support/onboarding.ts
  apps/bite-tribe-e2e/src/support/test-users.ts
  apps/bite-tribe-e2e/src/tests/create-first-bucket-list-from-bite.spec.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.ts
  ssot/pages/Current State - E2E Coverage.md
Due: eslint --fix, prettier --write

fix: persist the first bucket list created from a bite (#1231) (#1238)
  apps/bite-tribe-e2e/src/pages/bite-details.page.ts
  apps/bite-tribe-e2e/src/support/auth.ts
  apps/bite-tribe-e2e/src/support/firestore.ts
  apps/bite-tribe-e2e/src/support/onboarding.ts
  apps/bite-tribe-e2e/src/support/test-users.ts
  apps/bite-tribe-e2e/src/tests/create-first-bucket-list-from-bite.spec.ts
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/details/page/src/lib/components/bucket-list-selection/__specs__/bucket-list-selection.component.spec.ts
  libs/bite-tribe/details/page/src/lib/components/bucket-list-selection/bucket-list-selection.component.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.spec.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.ts
  libs/bite-tribe/details/page/src/lib/integration/__specs__/details.service.spec.ts
  libs/bite-tribe/details/page/src/lib/integration/details.service.ts
  libs/bite-tribe/store/src/lib/bucketlists/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/bucketlists/actions.ts
  libs/bite-tribe/store/src/lib/bucketlists/effects.ts
  ssot/pages/Bucket List.md
  ssot/pages/Current State - E2E Coverage.md
  ssot/pages/Current State - Known Issues.md
Due: eslint --fix, prettier --write

fix: fix resetting pre-seeded bite from menu item
  apps/bite-tribe-e2e/src/pages/create-bite.page.ts
  apps/bite-tribe-e2e/src/pages/menu.page.ts
  apps/bite-tribe-e2e/src/pages/restaurant.page.ts
  apps/bite-tribe-e2e/src/tests/create-bite-from-menu-item.spec.ts
  libs/bite-tribe/bite/data-access/src/lib/__specs__/bite-data-access.service.spec.ts
  libs/bite-tribe/bite/data-access/src/lib/bite-data-access.service.ts
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/bite/page/src/lib/integration/__specs__/bite.service.spec.ts
  libs/bite-tribe/bite/page/src/lib/integration/__specs__/create-bite.container.spec.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite.service.ts
  libs/bite-tribe/bite/page/src/lib/integration/create-bite.container.ts
  libs/bite-tribe/store/src/lib/__specs__/bite-tribe-store.service.spec.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/actions.spec.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/reducer.spec.ts
  libs/bite-tribe/store/src/lib/bites/actions.ts
  libs/bite-tribe/store/src/lib/bites/reducer.ts
  libs/bite-tribe/store/src/lib/menus/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/menus/effects.ts
  libs/bite-tribe/store/src/lib/restaurants/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/restaurants/effects.ts
  ssot/pages/Architecture - State Management.md
  ssot/pages/Current State - E2E Coverage.md
  ssot/pages/Current State - Known Issues.md
  ssot/pages/UC - Create And Maintain Personal Bites.md
  ssot/pages/UC - View Restaurant Menus.md
Due: eslint --fix, prettier --write

test: add e2e tests for 2 bite creation scenarios
  apps/bite-tribe-e2e/src/pages/create-bite.page.ts
  apps/bite-tribe-e2e/src/support/menu-fixture.ts
  apps/bite-tribe-e2e/src/tests/create-bite-and-add-another.spec.ts
  apps/bite-tribe-e2e/src/tests/create-bite-from-menu-item.spec.ts
  ssot/pages/Current State - E2E Coverage.md
  ssot/pages/UC - Create And Maintain Personal Bites.md
Due: eslint --fix, prettier --write

fix: fix resetting pre-seeded bite from menu item (#1239)
  apps/bite-tribe-e2e/src/pages/create-bite.page.ts
  apps/bite-tribe-e2e/src/pages/menu.page.ts
  apps/bite-tribe-e2e/src/pages/restaurant.page.ts
  apps/bite-tribe-e2e/src/support/menu-fixture.ts
  apps/bite-tribe-e2e/src/tests/create-bite-and-add-another.spec.ts
  apps/bite-tribe-e2e/src/tests/create-bite-from-menu-item.spec.ts
  libs/bite-tribe/bite/data-access/src/lib/__specs__/bite-data-access.service.spec.ts
  libs/bite-tribe/bite/data-access/src/lib/bite-data-access.service.ts
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/bite/page/src/lib/integration/__specs__/bite.service.spec.ts
  libs/bite-tribe/bite/page/src/lib/integration/__specs__/create-bite.container.spec.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite.service.ts
  libs/bite-tribe/bite/page/src/lib/integration/create-bite.container.ts
  libs/bite-tribe/store/src/lib/__specs__/bite-tribe-store.service.spec.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/actions.spec.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/reducer.spec.ts
  libs/bite-tribe/store/src/lib/bites/actions.ts
  libs/bite-tribe/store/src/lib/bites/reducer.ts
  libs/bite-tribe/store/src/lib/menus/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/menus/effects.ts
  libs/bite-tribe/store/src/lib/restaurants/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/restaurants/effects.ts
  ssot/pages/Architecture - State Management.md
  ssot/pages/Current State - E2E Coverage.md
  ssot/pages/Current State - Known Issues.md
  ssot/pages/UC - Create And Maintain Personal Bites.md
  ssot/pages/UC - View Restaurant Menus.md
Due: eslint --fix, prettier --write

feat: show identification of user that is going to be deleted
  apps/bite-tribe-e2e/src/pages/delete-account.page.ts
  apps/bite-tribe-e2e/src/tests/account-and-legal.spec.ts
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/account/data-access/src/index.ts
  libs/bite-tribe/account/data-access/src/lib/__specs__/delete-my-account.service.spec.ts
  libs/bite-tribe/account/data-access/src/lib/delete-my-account.service.ts
  libs/bite-tribe/delete-account/src/lib/components/delete-my-account/__specs__/delete-my-account.component.spec.ts
  libs/bite-tribe/delete-account/src/lib/components/delete-my-account/__specs__/delete-my-account.stories.ts
  libs/bite-tribe/delete-account/src/lib/components/delete-my-account/delete-my-account.component.html
  libs/bite-tribe/delete-account/src/lib/components/delete-my-account/delete-my-account.component.scss
  libs/bite-tribe/delete-account/src/lib/components/delete-my-account/delete-my-account.component.ts
  libs/bite-tribe/delete-account/src/lib/integration/delete-my-account-container.component.ts
  libs/common/ta-firestore/src/lib/analytics/analytics-events.ts
  ssot/pages/Current State - E2E Coverage.md
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Release Candidate Test Charter.md
  ssot/pages/Implementation - Analytics Events.md
  ssot/pages/UC - Use Account And Legal Flows.md
  ssot/pages/issue-1234.md
Due: eslint --fix, prettier --write, stylelint --fix

test: fix test
  libs/common/ta-firestore/src/lib/__specs__/provide-firestore-utils.spec.ts
Due: eslint --fix, prettier --write

test: loki update
  .loki/reference/chrome_iphone7_Pages_Delete_Account_Account_Changed.png
  .loki/reference/chrome_iphone7_Pages_Delete_Account_Apple_Account_Without_Email.png
  .loki/reference/chrome_iphone7_Pages_Delete_Account_Default.png
  .loki/reference/chrome_iphone7_Pages_Delete_Account_Deleting.png
  .loki/reference/chrome_iphone7_Pages_Delete_Account_Failed.png
  .loki/reference/chrome_iphone7_Pages_Delete_Account_Google_Account.png
  .loki/reference/chrome_iphone7_Pages_Delete_Account_Signed_Out.png
  .loki/reference/chrome_laptop_Pages_Delete_Account_Account_Changed.png
  .loki/reference/chrome_laptop_Pages_Delete_Account_Apple_Account_Without_Email.png
  .loki/reference/chrome_laptop_Pages_Delete_Account_Default.png
  .loki/reference/chrome_laptop_Pages_Delete_Account_Deleting.png
  .loki/reference/chrome_laptop_Pages_Delete_Account_Failed.png
  .loki/reference/chrome_laptop_Pages_Delete_Account_Google_Account.png
  .loki/reference/chrome_laptop_Pages_Delete_Account_Signed_Out.png
Due: none

test: add loki refs
  .loki/reference/chrome_iphone7_Components_Image_Viewer_Multiple_Photos.png
  .loki/reference/chrome_iphone7_Components_Image_Viewer_Single_Photo.png
  .loki/reference/chrome_iphone7_Components_Image_Viewer_With_Bite_Action.png
  .loki/reference/chrome_laptop_Components_Image_Viewer_Multiple_Photos.png
  .loki/reference/chrome_laptop_Components_Image_Viewer_Single_Photo.png
  .loki/reference/chrome_laptop_Components_Image_Viewer_With_Bite_Action.png
Due: none

test: add tests
  libs/bite-tribe/gallery/page/src/lib/components/gallery-page/__specs__/gallery.page.spec.ts
  libs/common/ui/image-viewer/src/lib/__specs__/image-viewer.component.spec.ts
Due: eslint --fix, prettier --write

fix: x does not close modal on detail page
  libs/bite-tribe-common/bite/src/lib/local-image-picker/local-image-picker.service.ts
  libs/bite-tribe/gallery/page/src/lib/components/gallery-page/__specs__/gallery.page.spec.ts
  libs/bite-tribe/gallery/page/src/lib/components/gallery-page/gallery.page.ts
  libs/bite-tribe/gallery/page/src/lib/integration/__specs__/gallery.service.spec.ts
  libs/bite-tribe/gallery/page/src/lib/integration/gallery.service.ts
  libs/common/utils/src/index.ts
  libs/common/utils/src/lib/__specs__/local-image-src.spec.ts
  libs/common/utils/src/lib/local-image-src.ts
Due: eslint --fix, prettier --write

test: update loki refs
  .loki/reference/chrome_iphone7_Pages_Bite_Default.png
  .loki/reference/chrome_iphone7_Pages_Bite_My_Bite.png
  .loki/reference/chrome_iphone7_Pages_Bite_With_Description.png
  .loki/reference/chrome_iphone7_Pages_Bite_With_Preferred_Currency.png
  .loki/reference/chrome_laptop_Components_Feed_Controls_Default.png
  .loki/reference/chrome_laptop_Pages_Bite_Default.png
  .loki/reference/chrome_laptop_Pages_Bite_My_Bite.png
  .loki/reference/chrome_laptop_Pages_Bite_With_Description.png
  .loki/reference/chrome_laptop_Pages_Bite_With_Preferred_Currency.png
  .loki/reference/chrome_laptop_Pages_Profile_Default.png
  .loki/reference/chrome_laptop_Pages_Profile_Visibility_Without_Saved_Choice.png
Due: none

chore: prepare build 1.0.1-91 release
  CHANGELOG.md
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: prettier --write

chore: bump build 1.0.1-91 release (#1242)
  CHANGELOG.md
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: prettier --write

docs: test run #4
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Release Candidate Test Charter.md
Due: prettier --write

docs: test run #4 (#1247)
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Release Candidate Test Charter.md
Due: prettier --write

fix: push notification lands on home instead of defined target
  libs/bite-tribe/store/src/lib/app/__specs__/push-navigation.service.spec.ts
  libs/bite-tribe/store/src/lib/app/effects.ts
  libs/bite-tribe/store/src/lib/app/push-navigation.service.ts
  libs/bite-tribe/store/src/lib/app/utils/init-push-notifications.ts
  libs/common/push-notifications/src/index.ts
  libs/common/push-notifications/src/lib/init-push.spec.ts
  libs/common/push-notifications/src/lib/init-push.ts
  libs/common/push-notifications/src/lib/notification-target.spec.ts
  libs/common/push-notifications/src/lib/notification-target.ts
  libs/common/ta-firestore/src/index.ts
  libs/common/ta-firestore/src/lib/__specs__/startup-navigation.service.spec.ts
  libs/common/ta-firestore/src/lib/provide-firestore-utils.ts
  libs/common/ta-firestore/src/lib/startup-navigation.service.ts
  ssot/pages/Current State - Known Issues.md
  ssot/pages/UC - Receive App Notifications And Engagement Updates.md
Due: eslint --fix, prettier --write

fix: push notification lands on home instead of defined target (#1248)
  libs/bite-tribe/store/src/lib/app/__specs__/push-navigation.service.spec.ts
  libs/bite-tribe/store/src/lib/app/effects.ts
  libs/bite-tribe/store/src/lib/app/push-navigation.service.ts
  libs/bite-tribe/store/src/lib/app/utils/init-push-notifications.ts
  libs/common/push-notifications/src/index.ts
  libs/common/push-notifications/src/lib/init-push.spec.ts
  libs/common/push-notifications/src/lib/init-push.ts
  libs/common/push-notifications/src/lib/notification-target.spec.ts
  libs/common/push-notifications/src/lib/notification-target.ts
  libs/common/ta-firestore/src/index.ts
  libs/common/ta-firestore/src/lib/__specs__/startup-navigation.service.spec.ts
  libs/common/ta-firestore/src/lib/provide-firestore-utils.ts
  libs/common/ta-firestore/src/lib/startup-navigation.service.ts
  ssot/pages/Current State - Known Issues.md
  ssot/pages/UC - Receive App Notifications And Engagement Updates.md
Due: eslint --fix, prettier --write

fix: cold start does not open the bite on deep-link click on web
  apps/bite-tribe-e2e/src/tests/shared-bite-deep-link.spec.ts
  libs/bite-tribe/onboarding/data-access/src/lib/__specs__/onboarding-data-access.service.spec.ts
  libs/bite-tribe/onboarding/data-access/src/lib/onboarding-data-access.service.ts
  libs/bite-tribe/onboarding/guards/src/lib/__specs__/onboarding-completed.guard.spec.ts
  libs/bite-tribe/onboarding/guards/src/lib/__specs__/onboarding.guard.spec.ts
  libs/bite-tribe/onboarding/guards/src/lib/onboarding-completed.guard.ts
  libs/bite-tribe/onboarding/guards/src/lib/onboarding.guard.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/__specs__/onboarding.service.spec.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/onboarding.service.ts
  libs/common/ta-firestore/src/index.ts
  libs/common/ta-firestore/src/lib/__specs__/auth.guard.spec.ts
  libs/common/ta-firestore/src/lib/__specs__/auth.service.spec.ts
  libs/common/ta-firestore/src/lib/__specs__/requested-url.service.spec.ts
  libs/common/ta-firestore/src/lib/__specs__/start.guard.spec.ts
  libs/common/ta-firestore/src/lib/auth.guard.ts
  libs/common/ta-firestore/src/lib/auth.service.ts
  libs/common/ta-firestore/src/lib/ngrx-store/__specs__/effects.spec.ts
  libs/common/ta-firestore/src/lib/ngrx-store/effects.ts
  libs/common/ta-firestore/src/lib/requested-url.service.ts
  libs/common/ta-firestore/src/lib/start.guard.ts
  libs/common/utils/src/index.ts
  libs/common/utils/src/lib/__specs__/is-auth-entry-page.spec.ts
  libs/common/utils/src/lib/__specs__/is-bite-details-page.spec.ts
  libs/common/utils/src/lib/is-auth-entry-page.ts
  libs/common/utils/src/lib/is-bite-details-page.ts
  ssot/pages/Architecture - Auth.md
  ssot/pages/Current State - E2E Coverage.md
  ssot/pages/Current State - Known Issues.md
  ssot/pages/UC - Inspect Bite Details.md
Due: eslint --fix, prettier --write

fix: cold start does not open the bite on deep-link click on web (#1249)
  apps/bite-tribe-e2e/src/tests/shared-bite-deep-link.spec.ts
  libs/bite-tribe/onboarding/data-access/src/lib/__specs__/onboarding-data-access.service.spec.ts
  libs/bite-tribe/onboarding/data-access/src/lib/onboarding-data-access.service.ts
  libs/bite-tribe/onboarding/guards/src/lib/__specs__/onboarding-completed.guard.spec.ts
  libs/bite-tribe/onboarding/guards/src/lib/__specs__/onboarding.guard.spec.ts
  libs/bite-tribe/onboarding/guards/src/lib/onboarding-completed.guard.ts
  libs/bite-tribe/onboarding/guards/src/lib/onboarding.guard.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/__specs__/onboarding.service.spec.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/onboarding.service.ts
  libs/common/ta-firestore/src/index.ts
  libs/common/ta-firestore/src/lib/__specs__/auth.guard.spec.ts
  libs/common/ta-firestore/src/lib/__specs__/auth.service.spec.ts
  libs/common/ta-firestore/src/lib/__specs__/requested-url.service.spec.ts
  libs/common/ta-firestore/src/lib/__specs__/start.guard.spec.ts
  libs/common/ta-firestore/src/lib/auth.guard.ts
  libs/common/ta-firestore/src/lib/auth.service.ts
  libs/common/ta-firestore/src/lib/ngrx-store/__specs__/effects.spec.ts
  libs/common/ta-firestore/src/lib/ngrx-store/effects.ts
  libs/common/ta-firestore/src/lib/requested-url.service.ts
  libs/common/ta-firestore/src/lib/start.guard.ts
  libs/common/utils/src/index.ts
  libs/common/utils/src/lib/__specs__/is-auth-entry-page.spec.ts
  libs/common/utils/src/lib/__specs__/is-bite-details-page.spec.ts
  libs/common/utils/src/lib/is-auth-entry-page.ts
  libs/common/utils/src/lib/is-bite-details-page.ts
  ssot/pages/Architecture - Auth.md
  ssot/pages/Current State - E2E Coverage.md
  ssot/pages/Current State - Known Issues.md
  ssot/pages/UC - Inspect Bite Details.md
Due: eslint --fix, prettier --write

fix: remove disabling photo on offline causing not writing image status to document
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/bite/page/src/lib/components/page/utils/image-validator.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite.service.ts
  libs/bite-tribe/bite/page/src/lib/integration/create-bite.container.ts
  ssot/pages/Current State - Known Issues.md
  ssot/pages/UC - Create And Maintain Personal Bites.md
Due: eslint --fix, prettier --write

fix: remove disabling photo on offline causing not writing image status to document (#1252)
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/bite/page/src/lib/components/page/utils/image-validator.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite.service.ts
  libs/bite-tribe/bite/page/src/lib/integration/create-bite.container.ts
  ssot/pages/Current State - Known Issues.md
  ssot/pages/UC - Create And Maintain Personal Bites.md
Due: eslint --fix, prettier --write

fix: bite card top corners render square (#1251)
  libs/bite-tribe-common/bite/src/lib/__specs__/bite.stories.ts
  libs/bite-tribe-common/bite/src/lib/bite.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: desktop layout for the Bites feed (#1250)
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/home.stories.ts
  libs/bite-tribe/home/page/src/lib/components/page/bite-list/bite-list.component.html
  libs/bite-tribe/home/page/src/lib/components/page/bite-list/bite-list.component.scss
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.scss
  libs/common/ui/page/src/lib/__specs__/page.component.spec.ts
  libs/common/ui/page/src/lib/__specs__/page.component.stories.ts
  libs/common/ui/page/src/lib/page-config.ts
  libs/common/ui/page/src/lib/page.component.html
  libs/common/ui/page/src/lib/page.component.scss
  libs/common/ui/page/src/lib/page.component.ts
  ssot/pages/Implementation - Ionic Patterns.md
Due: eslint --fix, prettier --write, stylelint --fix

style: fix button style in desktop header
  apps/storybook-host/.storybook/preview.ts
  libs/common/ui/page/src/lib/page.component.html
  libs/common/ui/page/src/lib/page.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

style: feed skeleton on desktop
  libs/bite-tribe-common/bite/src/lib/__specs__/bite.stories.ts
  libs/bite-tribe-common/bite/src/lib/bite-skeleton-list/__specs__/bite-skeleton-list.component.spec.ts
  libs/bite-tribe-common/bite/src/lib/bite-skeleton-list/bite-skeleton-list.component.html
  libs/bite-tribe-common/bite/src/lib/bite-skeleton-list/bite-skeleton-list.component.scss
  libs/bite-tribe-common/bite/src/lib/bite-skeleton-list/bite-skeleton-list.component.ts
  libs/bite-tribe-common/bite/src/lib/bite-skeleton/bite-skeleton.component.scss
  libs/bite-tribe/home/page/src/lib/components/page/bite-list/bite-list.component.html
  libs/bite-tribe/home/page/src/lib/components/page/bite-list/bite-list.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

test: update loki refs
  .loki/reference/chrome_iphone7_Components_Bite_Loading_Skeleton_List_For_Desktop.png
  .loki/reference/chrome_iphone7_Components_Bite_Missing_Photo.png
  .loki/reference/chrome_iphone7_Components_Page_Desktop_Layout.png
  .loki/reference/chrome_iphone7_Components_Page_Desktop_Layout_Signed_Out.png
  .loki/reference/chrome_iphone7_Pages_Home_Desktop_Feed.png
  .loki/reference/chrome_laptop_Components_Bite_List_Default.png
  .loki/reference/chrome_laptop_Components_Bite_List_Has_More.png
  .loki/reference/chrome_laptop_Components_Bite_List_Loading.png
  .loki/reference/chrome_laptop_Components_Bite_List_With_Tried_Out_Swipe.png
  .loki/reference/chrome_laptop_Components_Bite_Loading_Skeleton_List_For_Desktop.png
  .loki/reference/chrome_laptop_Components_Bite_Missing_Photo.png
  .loki/reference/chrome_laptop_Components_Feed_Controls_Default.png
  .loki/reference/chrome_laptop_Components_Page_Desktop_Layout.png
  .loki/reference/chrome_laptop_Components_Page_Desktop_Layout_Signed_Out.png
  .loki/reference/chrome_laptop_Pages_Home_Desktop_Feed.png
  .loki/reference/chrome_laptop_Pages_Home_Email_Verification_Prompt.png
  .loki/reference/chrome_laptop_Pages_Home_Email_Verification_Resend_Running.png
  .loki/reference/chrome_laptop_Pages_Home_Empty.png
  .loki/reference/chrome_laptop_Pages_Home_Loading.png
  .loki/reference/chrome_laptop_Pages_Home_My_Bites.png
  .loki/reference/chrome_laptop_Pages_Home_Weekly_Bites.png
  .loki/reference/chrome_laptop_Pages_Home_Weekly_Bites_Empty.png
  .loki/reference/chrome_laptop_Pages_Home_With_Bites.png
  .loki/reference/chrome_laptop_Pages_Profile_Default.png
Due: none

test: adjust e2e test
  apps/bite-tribe-e2e/src/pages/create-bite.page.ts
Due: eslint --fix, prettier --write

fix: stop re-syncing email verification for users who are already verified
  libs/bite-tribe/store/src/lib/app/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/app/effects.ts
  libs/common/ta-firestore/src/lib/analytics/analytics-events.ts
  ssot/pages/Current State - Known Issues.md
Due: eslint --fix, prettier --write

fix: stop re-syncing email verification for users who are already verified (#1255)
  libs/bite-tribe/store/src/lib/app/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/app/effects.ts
  libs/common/ta-firestore/src/lib/analytics/analytics-events.ts
  ssot/pages/Current State - Known Issues.md
Due: eslint --fix, prettier --write

docs: check and document google places verification rate
  apps/bite-tribe-firebase/functions/src/__specs__/google-maps-request-path.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/__specs__/get-place-details.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/__specs__/search-places.spec.ts
  libs/bite-tribe/api/src/lib/bite-api/utils/__specs__/search-places.spec.ts
  ssot/pages/Architecture - Firebase.md
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Release Candidate Test Charter.md
  ssot/pages/Implementation - Firebase Functions.md
  ssot/pages/UC - Harden Platform And Backend Trust.md
  ssot/pages/issue-1245.md
Due: eslint --fix, prettier --write

ci: changes to enable nx cache in ci
  .github/actions/create-branch/action.yml
  .github/actions/create-pull-request/action.yml
  .github/actions/nx-cache/action.yml
  .github/actions/push-branch/action.yml
  .github/workflows/deploy-storybook.yml
  .github/workflows/loki-references-update.yml
  .github/workflows/pipeline.yml
  ssot/pages/Architecture - Nx Workspace.md
  ssot/pages/Current State - Release Candidate Test Charter.md
  ssot/pages/Implementation - CI Pipeline.md
  ssot/pages/Implementation - Release And Build Workflow.md
  ssot/pages/SSOT.md
  ssot/pages/Traceability Map.md
  ssot/pages/contents.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,html}
  prettier --write: any of: *.{ts,js,html,scss,json,md}
  stylelint --fix: any of: *.scss
