Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,html}": "eslint --fix",
  "*.{ts,js,html,scss,json,md}": "prettier --write",
  "*.scss": "stylelint --fix"
}

fix: navigate to menu
  libs/bite-tribe/restaurant/data-access/src/lib/restaurant-data-access.service.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/__specs__/restaurant.service.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/restaurant.service.ts
Due: eslint --fix, prettier --write

refactor: introduce own service for business (scope: restaurant)
  libs/bite-tribe/restaurant/page/src/lib/integration/__specs__/edit-restaurant-container.component.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/__specs__/edit-restaurant.service.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/__specs__/restaurant.service.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/edit-restaurant-container.component.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/edit-restaurant.service.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/restaurant.service.ts
Due: eslint --fix, prettier --write

fix: add placeholders for missing attributes in verified restaurant
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant/__specs__/restaurant.component.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant/restaurant.component.html
Due: eslint --fix, prettier --write

feat: use app check for web
  libs/common/ta-firestore/README.md
  libs/common/ta-firestore/src/lib/__specs__/initialize-firebase-app-check.spec.ts
  libs/common/ta-firestore/src/lib/__specs__/provide-firestore-utils.spec.ts
  libs/common/ta-firestore/src/lib/initialize-firebase-app-check.ts
  libs/common/ta-firestore/src/lib/provide-firestore-utils.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

fix: respect dev flag for app check
  libs/common/ta-firestore/README.md
  libs/common/ta-firestore/src/lib/__specs__/initialize-firebase-app-check.spec.ts
  libs/common/ta-firestore/src/lib/initialize-firebase-app-check.ts
Due: eslint --fix, prettier --write

chore: log app check states
  libs/common/ta-firestore/README.md
  libs/common/ta-firestore/src/lib/__specs__/initialize-firebase-app-check.spec.ts
  libs/common/ta-firestore/src/lib/initialize-firebase-app-check.ts
Due: eslint --fix, prettier --write

feat(877): implement app check for web (#880)
  libs/common/ta-firestore/README.md
  libs/common/ta-firestore/src/lib/__specs__/initialize-firebase-app-check.spec.ts
  libs/common/ta-firestore/src/lib/__specs__/provide-firestore-utils.spec.ts
  libs/common/ta-firestore/src/lib/initialize-firebase-app-check.ts
  libs/common/ta-firestore/src/lib/provide-firestore-utils.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

ci: bind env secret
  .github/workflows/pipeline.yml
Due: none

ci: bind env var (#881)
  .github/workflows/pipeline.yml
Due: none

feat: ios integration of app check
  apps/bite-tribe-ios/ios/App/App/App.entitlements
  apps/bite-tribe-ios/ios/App/App/AppDelegate.swift
  apps/bite-tribe-ios/ios/App/Podfile
  apps/bite-tribe-ios/ios/App/Podfile.lock
  libs/common/ta-firestore/README.md
  libs/common/ta-firestore/src/lib/__specs__/initialize-firebase-app-check.spec.ts
  libs/common/ta-firestore/src/lib/__specs__/provide-firestore-utils.spec.ts
  libs/common/ta-firestore/src/lib/initialize-firebase-app-check.ts
  libs/common/ta-firestore/src/lib/provide-firestore-utils.ts
Due: eslint --fix, prettier --write

build: add app-check to native package.jsons
  apps/bite-tribe-android/package-lock.json
  apps/bite-tribe-android/package.json
  apps/bite-tribe-ios/package-lock.json
  apps/bite-tribe-ios/package.json
Due: prettier --write

build: fix build
  libs/common/ta-firestore/src/lib/__specs__/initialize-firebase-app-check.spec.ts
  libs/common/ta-firestore/src/lib/initialize-firebase-app-check.ts
Due: eslint --fix, prettier --write

chore: sync
  apps/bite-tribe-ios/ios/App/Podfile
  apps/bite-tribe-ios/ios/App/Podfile.lock
Due: none

feat: extend skill to handle capacitor sync
  .codex/skills/travellers-apps-tests/SKILL.md
Due: prettier --write

feat(878): app check ios integration (#882)
  .codex/skills/travellers-apps-tests/SKILL.md
  apps/bite-tribe-android/package-lock.json
  apps/bite-tribe-android/package.json
  apps/bite-tribe-ios/ios/App/App/App.entitlements
  apps/bite-tribe-ios/ios/App/App/AppDelegate.swift
  apps/bite-tribe-ios/ios/App/Podfile
  apps/bite-tribe-ios/ios/App/Podfile.lock
  apps/bite-tribe-ios/package-lock.json
  apps/bite-tribe-ios/package.json
  libs/common/ta-firestore/README.md
  libs/common/ta-firestore/src/lib/__specs__/initialize-firebase-app-check.spec.ts
  libs/common/ta-firestore/src/lib/__specs__/provide-firestore-utils.spec.ts
  libs/common/ta-firestore/src/lib/initialize-firebase-app-check.ts
  libs/common/ta-firestore/src/lib/provide-firestore-utils.ts
Due: eslint --fix, prettier --write

feat: app check for android (initial prompt result)
  apps/bite-tribe-android/android/app/capacitor.build.gradle
  apps/bite-tribe-android/android/app/src/main/java/com/bitetribe/app/MainActivity.java
  apps/bite-tribe-android/android/capacitor.settings.gradle
  libs/common/ta-firestore/README.md
  libs/common/ta-firestore/src/lib/__specs__/initialize-firebase-app-check.spec.ts
  libs/common/ta-firestore/src/lib/initialize-firebase-app-check.ts
Due: eslint --fix, prettier --write

fix: fix android build
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-android/android/variables.gradle
Due: none

feat(879): app check for android (#885)
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-android/android/app/capacitor.build.gradle
  apps/bite-tribe-android/android/app/src/main/java/com/bitetribe/app/MainActivity.java
  apps/bite-tribe-android/android/capacitor.settings.gradle
  apps/bite-tribe-android/android/variables.gradle
  libs/common/ta-firestore/README.md
  libs/common/ta-firestore/src/lib/__specs__/initialize-firebase-app-check.spec.ts
  libs/common/ta-firestore/src/lib/initialize-firebase-app-check.ts
Due: eslint --fix, prettier --write

refactor: move update lastSeen fields logic to backend
  apps/bite-tribe-firebase/functions/src/functions/update-last-seen.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  libs/bite-tribe/api/src/lib/__specs__/profile-api.service.spec.ts
  libs/bite-tribe/api/src/lib/profile-api.service.ts
  libs/bite-tribe/store/src/lib/app/effects.ts
Due: eslint --fix, prettier --write

refactor: move update lastSeen fields logic to backend (#889)
  apps/bite-tribe-firebase/functions/src/functions/update-last-seen.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  libs/bite-tribe/api/src/lib/__specs__/profile-api.service.spec.ts
  libs/bite-tribe/api/src/lib/profile-api.service.ts
  libs/bite-tribe/store/src/lib/app/effects.ts
Due: eslint --fix, prettier --write

refactor: move query bites by location to backend
  apps/bite-tribe-firebase/functions/package-lock.json
  apps/bite-tribe-firebase/functions/package.json
  apps/bite-tribe-firebase/functions/src/functions/load-bites-by-location.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  libs/bite-tribe/api/src/lib/bite-api/utils/__specs__/load-bites-by-location.spec.ts
  libs/bite-tribe/api/src/lib/bite-api/utils/load-bites-by-location.ts
Due: eslint --fix, prettier --write

refactor: move query bites by location to backend (#890)
  apps/bite-tribe-firebase/functions/package-lock.json
  apps/bite-tribe-firebase/functions/package.json
  apps/bite-tribe-firebase/functions/src/functions/load-bites-by-location.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  libs/bite-tribe/api/src/lib/bite-api/utils/__specs__/load-bites-by-location.spec.ts
  libs/bite-tribe/api/src/lib/bite-api/utils/load-bites-by-location.ts
Due: eslint --fix, prettier --write

refactor: move mirroring new user to users collection to backend
  apps/bite-tribe-firebase/functions/src/functions/create-user-on-auth-create.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  libs/bite-tribe/api/src/lib/__specs__/bite-tribe-api.service.spec.ts
  libs/bite-tribe/api/src/lib/__specs__/profile-api.service.spec.ts
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/api/src/lib/profile-api.service.ts
  libs/bite-tribe/store/src/lib/app/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/app/effects.ts
Due: eslint --fix, prettier --write

fix: empty states in profile page
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/profile/page/src/lib/components/profile-page/__specs__/profile.component.spec.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/__specs__/profile.stories.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/components/__specs__/profile-header.spec.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/components/profile-header.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/components/profile-header.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.scss
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: update last seen when existing user logs in
  libs/bite-tribe/store/src/lib/app/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/app/effects.ts
Due: eslint --fix, prettier --write

feat(888): move mirroring new user to firestore to backend (#891)
  apps/bite-tribe-firebase/functions/src/functions/create-user-on-auth-create.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/api/src/lib/__specs__/bite-tribe-api.service.spec.ts
  libs/bite-tribe/api/src/lib/__specs__/profile-api.service.spec.ts
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/api/src/lib/profile-api.service.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/__specs__/profile.component.spec.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/__specs__/profile.stories.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/components/__specs__/profile-header.spec.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/components/profile-header.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/components/profile-header.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.scss
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.ts
  libs/bite-tribe/store/src/lib/app/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/app/effects.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: setup conventional changelog and generate release notes
  CHANGELOG.md
  README.md
  package.json
  tools/generate-changelog.mjs
Due: prettier --write

chore: increment build number and generate changelog
  CHANGELOG.md
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: prettier --write

docs: adjust changelog
  CHANGELOG.md
Due: prettier --write

feat(892): setup conventional changelog (#893)
  CHANGELOG.md
  README.md
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  package.json
  tools/generate-changelog.mjs
Due: prettier --write

fix: fix review not showing loading when bite is not received yet
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.spec.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
Due: eslint --fix, prettier --write

feat: localize currencies
  libs/bite-tribe-business/create-bite-trail/page/src/lib/components/page/__specs__/create-bite-trail.component.spec.ts
  libs/bite-tribe-business/create-bite-trail/page/src/lib/components/page/create-bite-trail.component.ts
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/common/ui/currency-selector/src/lib/__specs__/currency-selector.component.spec.ts
  libs/common/ui/currency-selector/src/lib/__specs__/currency-selector.component.stories.ts
  libs/common/ui/currency-selector/src/lib/currency-selector.component.html
  libs/common/ui/currency-selector/src/lib/currency-selector.component.ts
  libs/common/utils/src/index.ts
  libs/common/utils/src/lib/__specs__/get-localized-currency-name.spec.ts
  libs/common/utils/src/lib/get-localized-currency-name.ts
Due: eslint --fix, prettier --write

fix: fix review not showing loading when bite is not received yet (#899)
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.spec.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
Due: eslint --fix, prettier --write

docs: fix and adjust stories
  libs/common/ui/currency-selector/src/lib/__specs__/currency-selector.component.stories.ts
  libs/common/ui/currency-selector/src/lib/currency-selector.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

chore: skills for storybook
  .codex/skills/travellers-apps-tests/SKILL.md
Due: prettier --write

chore: restructure skills
  .codex/skills/travellers-apps-tests/SKILL.md
  .codex/skills/travellers-apps-tests/agents/openai.yaml
  .codex/skills/travellers-apps/SKILL.md
  .codex/skills/travellers-apps/agents/openai.yaml
  .codex/skills/travellers-apps/references/architecture.md
  .codex/skills/travellers-apps/references/capacitor.md
  .codex/skills/travellers-apps/references/storybook.md
  .codex/skills/travellers-apps/references/validation.md
Due: prettier --write

fix(898): fix localization of currencies (#900)
  .codex/skills/travellers-apps-tests/SKILL.md
  .codex/skills/travellers-apps-tests/agents/openai.yaml
  .codex/skills/travellers-apps/SKILL.md
  .codex/skills/travellers-apps/agents/openai.yaml
  .codex/skills/travellers-apps/references/architecture.md
  .codex/skills/travellers-apps/references/capacitor.md
  .codex/skills/travellers-apps/references/storybook.md
  .codex/skills/travellers-apps/references/validation.md
  libs/bite-tribe-business/create-bite-trail/page/src/lib/components/page/__specs__/create-bite-trail.component.spec.ts
  libs/bite-tribe-business/create-bite-trail/page/src/lib/components/page/create-bite-trail.component.ts
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/common/ui/currency-selector/src/lib/__specs__/currency-selector.component.spec.ts
  libs/common/ui/currency-selector/src/lib/__specs__/currency-selector.component.stories.ts
  libs/common/ui/currency-selector/src/lib/currency-selector.component.html
  libs/common/ui/currency-selector/src/lib/currency-selector.component.scss
  libs/common/ui/currency-selector/src/lib/currency-selector.component.ts
  libs/common/utils/src/index.ts
  libs/common/utils/src/lib/__specs__/get-localized-currency-name.spec.ts
  libs/common/utils/src/lib/get-localized-currency-name.ts
Due: eslint --fix, prettier --write, stylelint --fix
