Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,html}": "eslint --fix",
  "*.{ts,js,html,scss,json,md}": "prettier --write",
  "*.scss": "stylelint --fix"
}

fix: keep local image copies in app-private storage (#1229)
  __mocks__/@capacitor/filesystem/index.ts
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe-common/bite/src/lib/local-image-picker/local-image-picker.service.ts
  libs/bite-tribe/api/src/lib/utils/__specs__/local-image-file.spec.ts
  libs/bite-tribe/api/src/lib/utils/__specs__/upload-blob-to-firebasestorage.spec.ts
  libs/bite-tribe/api/src/lib/utils/__specs__/write-blob-to-file-system.spec.ts
  libs/bite-tribe/api/src/lib/utils/local-image-file.ts
  libs/bite-tribe/api/src/lib/utils/upload-blob-to-firebasestorage.ts
  libs/bite-tribe/api/src/lib/utils/write-blob-to-file-system.ts
  libs/bite-tribe/gallery/page/src/lib/integration/__specs__/gallery.service.spec.ts
  libs/bite-tribe/gallery/page/src/lib/integration/gallery.service.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/bites/effects.ts
  libs/common/utils/src/index.ts
  libs/common/utils/src/lib/__specs__/local-image-directory.spec.ts
  libs/common/utils/src/lib/local-image-directory.ts
  libs/common/utils/src/lib/local-image-src.ts
  ssot/pages/Current State - Known Issues.md
Due: eslint --fix, prettier --write

fix: never prompt for storage permission while migrating image copies
  __mocks__/@capacitor/filesystem/index.ts
  libs/common/utils/src/lib/__specs__/local-image-directory.spec.ts
  libs/common/utils/src/lib/local-image-directory.ts
  ssot/pages/Current State - Known Issues.md
Due: eslint --fix, prettier --write

fix: keep local image copies in app-private storage (#1229) (#1367)
  __mocks__/@capacitor/filesystem/index.ts
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe-common/bite/src/lib/local-image-picker/local-image-picker.service.ts
  libs/bite-tribe/api/src/lib/utils/__specs__/local-image-file.spec.ts
  libs/bite-tribe/api/src/lib/utils/__specs__/upload-blob-to-firebasestorage.spec.ts
  libs/bite-tribe/api/src/lib/utils/__specs__/write-blob-to-file-system.spec.ts
  libs/bite-tribe/api/src/lib/utils/local-image-file.ts
  libs/bite-tribe/api/src/lib/utils/upload-blob-to-firebasestorage.ts
  libs/bite-tribe/api/src/lib/utils/write-blob-to-file-system.ts
  libs/bite-tribe/gallery/page/src/lib/integration/__specs__/gallery.service.spec.ts
  libs/bite-tribe/gallery/page/src/lib/integration/gallery.service.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/bites/effects.ts
  libs/common/utils/src/index.ts
  libs/common/utils/src/lib/__specs__/local-image-directory.spec.ts
  libs/common/utils/src/lib/local-image-directory.ts
  libs/common/utils/src/lib/local-image-src.ts
  ssot/pages/Current State - Known Issues.md
Due: eslint --fix, prettier --write

fix: fix title for edit bite
  .loki/reference/chrome_iphone7_Pages_Create_Bite_Currency_Loading.png
  .loki/reference/chrome_iphone7_Pages_Create_Bite_Edit_Bite.png
  .loki/reference/chrome_iphone7_Pages_Create_Bite_Empty.png
  .loki/reference/chrome_iphone7_Pages_Create_Bite_New_Bite.png
  .loki/reference/chrome_iphone7_Pages_Create_Bite_With_Tag_Suggestions.png
  .loki/reference/chrome_iphone7_Pages_Create_Bite_Without_Position.png
  .loki/reference/chrome_laptop_Pages_Create_Bite_Currency_Loading.png
  .loki/reference/chrome_laptop_Pages_Create_Bite_Edit_Bite.png
  .loki/reference/chrome_laptop_Pages_Create_Bite_Empty.png
  .loki/reference/chrome_laptop_Pages_Create_Bite_New_Bite.png
  .loki/reference/chrome_laptop_Pages_Create_Bite_With_Tag_Suggestions.png
  .loki/reference/chrome_laptop_Pages_Create_Bite_Without_Position.png
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.stories.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/bite/page/src/lib/integration/__specs__/create-bite.container.spec.ts
  libs/bite-tribe/bite/page/src/lib/integration/__specs__/edit-bite-container.component.spec.ts
  libs/bite-tribe/bite/page/src/lib/integration/edit-bite-container.component.ts
Due: eslint --fix, prettier --write

fix: fix title for edit bite (#1370)
  .loki/reference/chrome_iphone7_Pages_Create_Bite_Currency_Loading.png
  .loki/reference/chrome_iphone7_Pages_Create_Bite_Edit_Bite.png
  .loki/reference/chrome_iphone7_Pages_Create_Bite_Empty.png
  .loki/reference/chrome_iphone7_Pages_Create_Bite_New_Bite.png
  .loki/reference/chrome_iphone7_Pages_Create_Bite_With_Tag_Suggestions.png
  .loki/reference/chrome_iphone7_Pages_Create_Bite_Without_Position.png
  .loki/reference/chrome_laptop_Pages_Create_Bite_Currency_Loading.png
  .loki/reference/chrome_laptop_Pages_Create_Bite_Edit_Bite.png
  .loki/reference/chrome_laptop_Pages_Create_Bite_Empty.png
  .loki/reference/chrome_laptop_Pages_Create_Bite_New_Bite.png
  .loki/reference/chrome_laptop_Pages_Create_Bite_With_Tag_Suggestions.png
  .loki/reference/chrome_laptop_Pages_Create_Bite_Without_Position.png
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.stories.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/bite/page/src/lib/integration/__specs__/create-bite.container.spec.ts
  libs/bite-tribe/bite/page/src/lib/integration/__specs__/edit-bite-container.component.spec.ts
  libs/bite-tribe/bite/page/src/lib/integration/edit-bite-container.component.ts
Due: eslint --fix, prettier --write

test(bite-tribe-business): cover the new BiteTrail loader and owner fallback
  libs/bite-tribe-business/create-bite-trail/page/src/lib/components/page/__specs__/create-bite-trail.component.spec.ts
  libs/bite-tribe-business/dashboard/data-access/src/lib/__specs__/dashboard-data-access.service.spec.ts
Due: eslint --fix, prettier --write

chore(repo): take the Angular 22 OnPush default in six components
  apps/cv/src/app/app.component.ts
  apps/cv/src/technology/technology.ts
  apps/storybook-host/src/app/app.ts
  apps/storybook-host/src/app/nx-welcome.ts
  libs/bite-tribe/delete-account/src/lib/delete-account/delete-account.ts
  libs/bite-tribe/privacy-policy/src/lib/privacy-policy/privacy-policy.ts
Due: eslint --fix, prettier --write

docs(ssot): record Phase 4 completion for Angular 22 and NgRx 22
  ssot/pages/Architecture - State Management.md
  ssot/pages/Current State - Nx And Dependency Migration Roadmap.md
  ssot/pages/epic-1029.md
  ssot/pages/issue-1037.md
Due: prettier --write

fix(repo): take the OnPush default in the two spec host components
  libs/bite-tribe/bite/page/src/lib/components/page/price-input/__specs__/price-input.component.spec.ts
  libs/bite-tribe/onboarding/page/src/lib/components/identity-step/__specs__/identity-step.component.spec.ts
Due: eslint --fix, prettier --write

docs(ssot): record that Loki and both Playwright suites ran green in CI
  ssot/pages/Current State - Nx And Dependency Migration Roadmap.md
  ssot/pages/epic-1029.md
  ssot/pages/issue-1037.md
Due: prettier --write

docs: ssot update
  ssot/pages/Current State - Nx And Dependency Migration Roadmap.md
  ssot/pages/GitHub Project Board And Issue Handling.md
  ssot/pages/Implementation - Android Device Testing.md
  ssot/pages/Implementation - Testing.md
  ssot/pages/SSOT.md
  ssot/pages/Traceability Map.md
  ssot/pages/issue-1037.md
Due: prettier --write

docs: persist memory to ssot
  ssot/pages/Implementation - Storybook.md
Due: prettier --write

chore: fix linting for storybook
  apps/storybook-host/eslint.config.mjs
  eslint.config.mjs
  libs/bite-tribe/bucketlist/page/src/lib/components/bucketlists-page/__specs__/my-bucketlists.stories.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.stories.ts
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/home.stories.ts
  libs/bite-tribe/map/page/src/lib/components/map-page/__specs__/map-page.stories.ts
  libs/bite-tribe/menu/page/src/lib/components/page/__specs__/menu.stories.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/bite-place/__specs__/bite-place.stories.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant/__specs__/restaurant.stories.ts
  libs/bite-tribe/restaurant/page/src/lib/components/restaurant-image/__specs__/restaurant-image.stories.ts
  ssot/pages/Current State - Nx And Dependency Migration Roadmap.md
  ssot/pages/Implementation - Storybook.md
Due: eslint --fix, prettier --write

feat: loading state and failed state for menu
  .loki/reference/chrome_iphone7_Pages_Menu_Loading.png
  .loki/reference/chrome_iphone7_Pages_Menu_Unavailable.png
  .loki/reference/chrome_laptop_Pages_Menu_Loading.png
  .loki/reference/chrome_laptop_Pages_Menu_Unavailable.png
  apps/bite-tribe-firebase/functions/tsconfig.json
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/menu/data-access/src/lib/__specs__/menu-data-access.service.spec.ts
  libs/bite-tribe/menu/data-access/src/lib/menu-data-access.service.ts
  libs/bite-tribe/menu/page/src/lib/components/page/__specs__/menu-page.component.spec.ts
  libs/bite-tribe/menu/page/src/lib/components/page/__specs__/menu.stories.ts
  libs/bite-tribe/menu/page/src/lib/components/page/menu-page.component.html
  libs/bite-tribe/menu/page/src/lib/components/page/menu-page.component.scss
  libs/bite-tribe/menu/page/src/lib/components/page/menu-page.component.ts
  libs/bite-tribe/menu/page/src/lib/integration/menu-container.component.ts
  libs/bite-tribe/menu/page/src/lib/integration/menu.service.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/menus/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/menus/__specs__/reducer.spec.ts
  libs/bite-tribe/store/src/lib/menus/__specs__/selectors.spec.ts
  libs/bite-tribe/store/src/lib/menus/actions.ts
  libs/bite-tribe/store/src/lib/menus/adapter.ts
  libs/bite-tribe/store/src/lib/menus/effects.ts
  libs/bite-tribe/store/src/lib/menus/reducer.ts
  libs/bite-tribe/store/src/lib/menus/selectors.ts
  ssot/pages/Current State - Nx And Dependency Migration Roadmap.md
  ssot/pages/UC - View Restaurant Menus.md
Due: eslint --fix, prettier --write, stylelint --fix

feat: adjust shape of skeleton
  .loki/reference/chrome_iphone7_Pages_Menu_Loading.png
  .loki/reference/chrome_iphone7_Pages_Menu_Unavailable.png
  .loki/reference/chrome_laptop_Pages_Menu_Loading.png
  .loki/reference/chrome_laptop_Pages_Menu_Unavailable.png
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/menu/page/src/lib/components/page/__specs__/menu-page.component.spec.ts
  libs/bite-tribe/menu/page/src/lib/components/page/menu-page.component.html
  libs/bite-tribe/menu/page/src/lib/components/page/menu-page.component.scss
  libs/bite-tribe/menu/page/src/lib/components/page/menu-page.component.ts
  ssot/pages/UC - View Restaurant Menus.md
Due: eslint --fix, prettier --write, stylelint --fix

fix: add error state fix on details page
  .loki/reference/chrome_iphone7_Pages_Bite_Bite_Not_Found.png
  .loki/reference/chrome_iphone7_Pages_Bite_Bite_Unavailable.png
  .loki/reference/chrome_laptop_Pages_Bite_Bite_Not_Found.png
  .loki/reference/chrome_laptop_Pages_Bite_Bite_Unavailable.png
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.spec.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.stories.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.ts
  ssot/pages/UC - Inspect Bite Details.md
Due: eslint --fix, prettier --write

test: add tests
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.spec.ts
  libs/bite-tribe/menu/page/src/lib/components/page/__specs__/menu-page.component.spec.ts
  libs/bite-tribe/menu/page/src/lib/components/page/menu-page.component.ts
Due: eslint --fix, prettier --write

docs: test run 9 android
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Release Candidate Test Charter.md
  ssot/pages/Current State - Release State.md
Due: prettier --write

docs: test run 9 android (#1396)
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Release Candidate Test Charter.md
  ssot/pages/Current State - Release State.md
Due: prettier --write

fix: delete account on android
  .loki/reference/chrome_iphone7_Pages_Delete_Account_Reauthentication_Failed.png
  .loki/reference/chrome_laptop_Pages_Delete_Account_Reauthentication_Failed.png
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/account/data-access/src/lib/__specs__/delete-my-account.service.spec.ts
  libs/bite-tribe/account/data-access/src/lib/delete-my-account.service.ts
  libs/bite-tribe/delete-account/src/lib/components/delete-my-account/__specs__/delete-my-account.component.spec.ts
  libs/bite-tribe/delete-account/src/lib/components/delete-my-account/__specs__/delete-my-account.stories.ts
  libs/bite-tribe/delete-account/src/lib/components/delete-my-account/delete-my-account.component.ts
  ssot/pages/Architecture - Auth.md
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Release Candidate Test Charter.md
  ssot/pages/Current State - Release State.md
  ssot/pages/UC - Use Account And Legal Flows.md
  ssot/pages/issue-1385.md
Due: eslint --fix, prettier --write

fix: delete account on android (#1397)
  .loki/reference/chrome_iphone7_Pages_Delete_Account_Reauthentication_Failed.png
  .loki/reference/chrome_laptop_Pages_Delete_Account_Reauthentication_Failed.png
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/account/data-access/src/lib/__specs__/delete-my-account.service.spec.ts
  libs/bite-tribe/account/data-access/src/lib/delete-my-account.service.ts
  libs/bite-tribe/delete-account/src/lib/components/delete-my-account/__specs__/delete-my-account.component.spec.ts
  libs/bite-tribe/delete-account/src/lib/components/delete-my-account/__specs__/delete-my-account.stories.ts
  libs/bite-tribe/delete-account/src/lib/components/delete-my-account/delete-my-account.component.ts
  ssot/pages/Architecture - Auth.md
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Release Candidate Test Charter.md
  ssot/pages/Current State - Release State.md
  ssot/pages/UC - Use Account And Legal Flows.md
  ssot/pages/issue-1385.md
Due: eslint --fix, prettier --write

fix: android app not reflecting os permission for notifications
  .loki/reference/chrome_iphone7_Pages_Settings_Notifications_Blocked_By_Os.png
  .loki/reference/chrome_iphone7_Pages_Settings_Notifications_Muted_With_Prompt_Left.png
  .loki/reference/chrome_laptop_Pages_Settings_Notifications_Blocked_By_Os.png
  .loki/reference/chrome_laptop_Pages_Settings_Notifications_Muted_With_Prompt_Left.png
  apps/bite-tribe-android/android/app/src/main/java/com/bitetribe/app/AppSettingsPlugin.java
  apps/bite-tribe-android/android/app/src/main/java/com/bitetribe/app/MainActivity.java
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/settings/page/src/lib/components/page/__specs__/settings.component.spec.ts
  libs/bite-tribe/settings/page/src/lib/components/page/__specs__/settings.stories.ts
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.html
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.scss
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.ts
  libs/bite-tribe/settings/page/src/lib/integration/__specs__/settings.service.spec.ts
  libs/bite-tribe/settings/page/src/lib/integration/settings-container.component.ts
  libs/bite-tribe/settings/page/src/lib/integration/settings.service.ts
  libs/common/push-notifications/src/lib/app-settings.ts
  libs/common/push-notifications/src/lib/init-push.spec.ts
  libs/common/push-notifications/src/lib/init-push.ts
  ssot/pages/Architecture - Capacitor.md
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Release Candidate Test Charter.md
  ssot/pages/UC - Configure Personal Settings.md
  ssot/pages/issue-1386.md
Due: eslint --fix, prettier --write, stylelint --fix

fix: android app not reflecting os permission for notifications (#1398)
  .loki/reference/chrome_iphone7_Pages_Settings_Notifications_Blocked_By_Os.png
  .loki/reference/chrome_iphone7_Pages_Settings_Notifications_Muted_With_Prompt_Left.png
  .loki/reference/chrome_laptop_Pages_Settings_Notifications_Blocked_By_Os.png
  .loki/reference/chrome_laptop_Pages_Settings_Notifications_Muted_With_Prompt_Left.png
  apps/bite-tribe-android/android/app/src/main/java/com/bitetribe/app/AppSettingsPlugin.java
  apps/bite-tribe-android/android/app/src/main/java/com/bitetribe/app/MainActivity.java
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/settings/page/src/lib/components/page/__specs__/settings.component.spec.ts
  libs/bite-tribe/settings/page/src/lib/components/page/__specs__/settings.stories.ts
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.html
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.scss
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.ts
  libs/bite-tribe/settings/page/src/lib/integration/__specs__/settings.service.spec.ts
  libs/bite-tribe/settings/page/src/lib/integration/settings-container.component.ts
  libs/bite-tribe/settings/page/src/lib/integration/settings.service.ts
  libs/common/push-notifications/src/lib/app-settings.ts
  libs/common/push-notifications/src/lib/init-push.spec.ts
  libs/common/push-notifications/src/lib/init-push.ts
  ssot/pages/Architecture - Capacitor.md
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Release Candidate Test Charter.md
  ssot/pages/UC - Configure Personal Settings.md
  ssot/pages/issue-1386.md
Due: eslint --fix, prettier --write, stylelint --fix

fix: enable anayltics after dev build install
  libs/common/ta-firestore/src/lib/__specs__/provide-firestore-utils.spec.ts
  libs/common/ta-firestore/src/lib/provide-firestore-utils.ts
  ssot/pages/Architecture - Analytics.md
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Release Candidate Test Charter.md
  ssot/pages/Current State - Release State.md
  ssot/pages/Implementation - Analytics Events.md
  ssot/pages/issue-1387.md
Due: eslint --fix, prettier --write

refactor: use native analytics on native
  libs/common/ta-firestore/src/lib/analytics/__specs__/firebase-error-handler.service.spec.ts
  libs/common/ta-firestore/src/lib/analytics/firebase-error-handler.service.ts
  ssot/pages/Architecture - Analytics.md
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Release Candidate Test Charter.md
  ssot/pages/issue-1387.md
Due: eslint --fix, prettier --write

fix: native analytics collection stays disabled on devices that ran a dev build (#1399)
  libs/common/ta-firestore/src/lib/__specs__/provide-firestore-utils.spec.ts
  libs/common/ta-firestore/src/lib/analytics/__specs__/firebase-error-handler.service.spec.ts
  libs/common/ta-firestore/src/lib/analytics/firebase-error-handler.service.ts
  libs/common/ta-firestore/src/lib/provide-firestore-utils.ts
  ssot/pages/Architecture - Analytics.md
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Release Candidate Test Charter.md
  ssot/pages/Current State - Release State.md
  ssot/pages/Implementation - Analytics Events.md
  ssot/pages/issue-1387.md
Due: eslint --fix, prettier --write

fix: sync doc language with users selected language
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe-common/bite/src/lib/pipes/__specs__/with-first-letter-upper-case.pipe.spec.ts
  libs/bite-tribe-common/bite/src/lib/pipes/with-first-letter-upper-case.pipe.ts
  libs/bite-tribe/shell/src/lib/__specs__/document-language.spec.ts
  libs/bite-tribe/shell/src/lib/app.config.ts
  libs/bite-tribe/shell/src/lib/document-language.ts
  ssot/pages/Implementation - Localization.md
  ssot/pages/issue-1388.md
Due: eslint --fix, prettier --write

fix: sync doc language with users selected language (#1400)
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe-common/bite/src/lib/pipes/__specs__/with-first-letter-upper-case.pipe.spec.ts
  libs/bite-tribe-common/bite/src/lib/pipes/with-first-letter-upper-case.pipe.ts
  libs/bite-tribe/shell/src/lib/__specs__/document-language.spec.ts
  libs/bite-tribe/shell/src/lib/app.config.ts
  libs/bite-tribe/shell/src/lib/document-language.ts
  ssot/pages/Implementation - Localization.md
  ssot/pages/issue-1388.md
Due: eslint --fix, prettier --write

feat: readonly-mode likes for own bites
  .loki/reference/chrome_iphone7_Components_Bite_Failed_Upload_For_Owner.png
  .loki/reference/chrome_iphone7_Components_Bite_Own_Bite_With_Read_Only_Likes.png
  .loki/reference/chrome_iphone7_Components_Bite_Pending_To_Uploaded.png
  .loki/reference/chrome_iphone7_Components_Bite_Pending_Upload.png
  .loki/reference/chrome_iphone7_Components_Bite_Quick_Rating.png
  .loki/reference/chrome_iphone7_Components_Likes_Read_Only.png
  .loki/reference/chrome_iphone7_Pages_Bite_My_Bite.png
  .loki/reference/chrome_iphone7_Pages_Bite_Pending_Image_For_Owner.png
  .loki/reference/chrome_laptop_Components_Bite_Failed_Upload_For_Owner.png
  .loki/reference/chrome_laptop_Components_Bite_Own_Bite_With_Read_Only_Likes.png
  .loki/reference/chrome_laptop_Components_Bite_Pending_To_Uploaded.png
  .loki/reference/chrome_laptop_Components_Bite_Pending_Upload.png
  .loki/reference/chrome_laptop_Components_Bite_Quick_Rating.png
  .loki/reference/chrome_laptop_Components_Likes_Read_Only.png
  .loki/reference/chrome_laptop_Pages_Bite_My_Bite.png
  .loki/reference/chrome_laptop_Pages_Bite_Pending_Image_For_Owner.png
  libs/bite-tribe-common/bite/src/lib/__specs__/bite.component.spec.ts
  libs/bite-tribe-common/bite/src/lib/__specs__/bite.stories.ts
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe-common/bite/src/lib/bite.component.ts
  libs/bite-tribe-common/bite/src/lib/likes/__specs__/likes.component.spec.ts
  libs/bite-tribe-common/bite/src/lib/likes/__specs__/likes.stories.ts
  libs/bite-tribe-common/bite/src/lib/likes/likes.component.html
  libs/bite-tribe-common/bite/src/lib/likes/likes.component.scss
  libs/bite-tribe-common/bite/src/lib/likes/likes.component.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.stories.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.ts
  ssot/pages/Bite.md
  ssot/pages/Traceability Map.md
  ssot/pages/issue-1401.md
Due: eslint --fix, prettier --write, stylelint --fix

test: adjust e2e tests
  apps/bite-tribe-e2e/src/pages/home.page.ts
  apps/bite-tribe-e2e/src/tests/like-bite.spec.ts
  ssot/pages/issue-1401.md
Due: eslint --fix, prettier --write

feat: readonly-mode likes for own bites (#1403)
  .loki/reference/chrome_iphone7_Components_Bite_Failed_Upload_For_Owner.png
  .loki/reference/chrome_iphone7_Components_Bite_Own_Bite_With_Read_Only_Likes.png
  .loki/reference/chrome_iphone7_Components_Bite_Pending_To_Uploaded.png
  .loki/reference/chrome_iphone7_Components_Bite_Pending_Upload.png
  .loki/reference/chrome_iphone7_Components_Bite_Quick_Rating.png
  .loki/reference/chrome_iphone7_Components_Likes_Read_Only.png
  .loki/reference/chrome_iphone7_Pages_Bite_My_Bite.png
  .loki/reference/chrome_iphone7_Pages_Bite_Pending_Image_For_Owner.png
  .loki/reference/chrome_laptop_Components_Bite_Failed_Upload_For_Owner.png
  .loki/reference/chrome_laptop_Components_Bite_Own_Bite_With_Read_Only_Likes.png
  .loki/reference/chrome_laptop_Components_Bite_Pending_To_Uploaded.png
  .loki/reference/chrome_laptop_Components_Bite_Pending_Upload.png
  .loki/reference/chrome_laptop_Components_Bite_Quick_Rating.png
  .loki/reference/chrome_laptop_Components_Likes_Read_Only.png
  .loki/reference/chrome_laptop_Pages_Bite_My_Bite.png
  .loki/reference/chrome_laptop_Pages_Bite_Pending_Image_For_Owner.png
  apps/bite-tribe-e2e/src/pages/home.page.ts
  apps/bite-tribe-e2e/src/tests/like-bite.spec.ts
  libs/bite-tribe-common/bite/src/lib/__specs__/bite.component.spec.ts
  libs/bite-tribe-common/bite/src/lib/__specs__/bite.stories.ts
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe-common/bite/src/lib/bite.component.ts
  libs/bite-tribe-common/bite/src/lib/likes/__specs__/likes.component.spec.ts
  libs/bite-tribe-common/bite/src/lib/likes/__specs__/likes.stories.ts
  libs/bite-tribe-common/bite/src/lib/likes/likes.component.html
  libs/bite-tribe-common/bite/src/lib/likes/likes.component.scss
  libs/bite-tribe-common/bite/src/lib/likes/likes.component.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.stories.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.ts
  ssot/pages/Bite.md
  ssot/pages/Traceability Map.md
  ssot/pages/issue-1401.md
Due: eslint --fix, prettier --write, stylelint --fix
