Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,html}": "eslint --fix",
  "*.{ts,js,html,scss,json,md}": "prettier --write",
  "*.scss": "stylelint --fix"
}

fix: use object-fit cover for avatars
  libs/bite-tribe-common/styles/_globals.scss
  libs/bite-tribe/followers/page/src/lib/components/followers-list/followers-list.component.ts
  libs/bite-tribe/profile/page/src/lib/components/edit-profile-page/edit-profile.page.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: use object-fit cover for avatars (#689)
  libs/bite-tribe-common/styles/_globals.scss
  libs/bite-tribe/followers/page/src/lib/components/followers-list/followers-list.component.ts
  libs/bite-tribe/profile/page/src/lib/components/edit-profile-page/edit-profile.page.scss
Due: eslint --fix, prettier --write, stylelint --fix

refactor: add isBusiness flag to model
  libs/bite-tribe-common/model/src/lib/public-user.ts
Due: eslint --fix, prettier --write

refactor: add isBusiness flag to model (#692)
  libs/bite-tribe-common/model/src/lib/public-user.ts
Due: eslint --fix, prettier --write

chore: npm i and audit
  package-lock.json
Due: prettier --write

feat: add global handler for app foreground refresh with inactivity threshold (#691)
  apps/bite-tribe/src/app/app.component.spec.ts
  apps/bite-tribe/src/app/app.component.ts
  libs/bite-tribe/shell/jest.config.ts
  libs/bite-tribe/shell/src/index.ts
  libs/bite-tribe/shell/src/lib/__specs__/app-foreground.service.spec.ts
  libs/bite-tribe/shell/src/lib/app-foreground.service.ts
  package-lock.json
Due: eslint --fix, prettier --write

refactor: replace isBusiness with isOrganisation and add isRestaurant on PublicUser (#696)
  libs/bite-tribe-common/model/src/lib/public-user.ts
Due: eslint --fix, prettier --write

feat: extend to match in resto name too
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.scss
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

ci: disable patch coverage check
  codecov.yml
Due: none

feat: add client side searching of bites with fuzzy comparison (name and resto name) (#694)
  codecov.yml
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/home.component.spec.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.scss
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/home/page/src/lib/integration/my-bites.container.ts
  libs/common/ui/page/src/lib/page.component.html
  package-lock.json
Due: eslint --fix, prettier --write, stylelint --fix

chore: enable pub/sub in firebase simulator to test send-weekly-bite-notifications locally
  apps/bite-tribe-firebase/firebase.json
  apps/bite-tribe-firebase/project.json
Due: prettier --write

feat: adjust notification title and body
  apps/bite-tribe-firebase/functions/src/functions/send-weekly-bite-notification.ts
Due: eslint --fix, prettier --write

feat: send to all valid tokens
  apps/bite-tribe-firebase/functions/src/functions/send-weekly-bite-notification.ts
Due: eslint --fix, prettier --write

feat: weekly bite notification via scheduled Cloud Function (#698)
  apps/bite-tribe-firebase/firebase.json
  apps/bite-tribe-firebase/functions/package-lock.json
  apps/bite-tribe-firebase/functions/package.json
  apps/bite-tribe-firebase/functions/src/functions/send-weekly-bite-notification.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  apps/bite-tribe-firebase/functions/tsconfig.json
  apps/bite-tribe-firebase/project.json
Due: eslint --fix, prettier --write

chore: npm i
  package-lock.json
Due: prettier --write

feat: adjust profile page and extract profile header comp
  apps/bite-tribe-firebase/.firebase-export/auth_export/accounts.json
  apps/bite-tribe-firebase/.firebase-export/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
  apps/bite-tribe-firebase/.firebase-export/firestore_export/all_namespaces/all_kinds/output-0
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/014a8c6d-7001-463b-824a-725f3420cf88
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/a10d8231-2a4e-4569-b721-329ccac5bb61
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/db73dc83-2264-4f60-bbe6-60537cc1f4e6
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/f9f76324-bb7b-49d6-910a-199fdfc65f56
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/014a8c6d-7001-463b-824a-725f3420cf88.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/a10d8231-2a4e-4569-b721-329ccac5bb61.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/db73dc83-2264-4f60-bbe6-60537cc1f4e6.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/f9f76324-bb7b-49d6-910a-199fdfc65f56.json
  libs/bite-tribe/api/src/lib/utils/constants.ts
  libs/bite-tribe/profile/data-access/src/lib/__specs__/profile-data-access.service.spec.ts
  libs/bite-tribe/profile/data-access/src/lib/profile-data-access.service.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/__specs__/profile.component.spec.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/components/__specs__/profile-header.spec.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/components/profile-header.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.scss
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.ts
  libs/bite-tribe/profile/page/src/lib/integration/my-profile.container.ts
  libs/bite-tribe/profile/page/src/lib/integration/profile-container.component.ts
  libs/bite-tribe/profile/page/src/lib/integration/profile.service.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor: feedback from pr
  libs/bite-tribe/profile/page/src/lib/components/profile-page/__specs__/profile.component.spec.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/components/__specs__/profile-header.spec.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/components/profile-header.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/components/profile-header.scss
  libs/bite-tribe/profile/page/src/lib/components/profile-page/components/profile-header.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.html
Due: eslint --fix, prettier --write, stylelint --fix

test: fix test
  libs/bite-tribe/profile/page/src/lib/components/edit-profile-page/__specs__/edit-profile.page.spec.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/__specs__/profile.component.spec.ts
Due: eslint --fix, prettier --write

feat(#677): adjust profile page to organisation profile (#699)
  apps/bite-tribe-firebase/.firebase-export/auth_export/accounts.json
  apps/bite-tribe-firebase/.firebase-export/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
  apps/bite-tribe-firebase/.firebase-export/firestore_export/all_namespaces/all_kinds/output-0
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/014a8c6d-7001-463b-824a-725f3420cf88
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/a10d8231-2a4e-4569-b721-329ccac5bb61
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/db73dc83-2264-4f60-bbe6-60537cc1f4e6
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/f9f76324-bb7b-49d6-910a-199fdfc65f56
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/014a8c6d-7001-463b-824a-725f3420cf88.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/a10d8231-2a4e-4569-b721-329ccac5bb61.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/db73dc83-2264-4f60-bbe6-60537cc1f4e6.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/f9f76324-bb7b-49d6-910a-199fdfc65f56.json
  libs/bite-tribe/api/src/lib/utils/constants.ts
  libs/bite-tribe/profile/data-access/src/lib/__specs__/profile-data-access.service.spec.ts
  libs/bite-tribe/profile/data-access/src/lib/profile-data-access.service.ts
  libs/bite-tribe/profile/page/src/lib/components/edit-profile-page/__specs__/edit-profile.page.spec.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/__specs__/profile.component.spec.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/components/__specs__/profile-header.spec.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/components/profile-header.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/components/profile-header.scss
  libs/bite-tribe/profile/page/src/lib/components/profile-page/components/profile-header.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.scss
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.ts
  libs/bite-tribe/profile/page/src/lib/integration/my-profile.container.ts
  libs/bite-tribe/profile/page/src/lib/integration/profile-container.component.ts
  libs/bite-tribe/profile/page/src/lib/integration/profile.service.ts
  package-lock.json
Due: eslint --fix, prettier --write, stylelint --fix

chore: adjust simulator data
  apps/bite-tribe-firebase/.firebase-export/auth_export/accounts.json
  apps/bite-tribe-firebase/.firebase-export/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
  apps/bite-tribe-firebase/.firebase-export/firestore_export/all_namespaces/all_kinds/output-0
  apps/bite-tribe-firebase/.firebase-export/firestore_export/firestore_export.overall_export_metadata
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/1d1b08eb-f922-40a7-a826-119ca971aba5
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/564ffd6d-853a-4954-a1f0-5f67534d8358
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/9d14e6dc-eb0c-4d7a-b856-be0fd61bb0aa
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/d90bdb66-ccac-4338-80d9-3a1721f198ed
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/f9385222-0034-4094-bfa4-34b8be1a8a3b
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/1d1b08eb-f922-40a7-a826-119ca971aba5.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/564ffd6d-853a-4954-a1f0-5f67534d8358.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/9d14e6dc-eb0c-4d7a-b856-be0fd61bb0aa.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/d90bdb66-ccac-4338-80d9-3a1721f198ed.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/f9385222-0034-4094-bfa4-34b8be1a8a3b.json
Due: prettier --write

fix: fix styling after profile header introduced - update sim data
  apps/bite-tribe-firebase/.firebase-export/auth_export/accounts.json
  apps/bite-tribe-firebase/.firebase-export/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
  apps/bite-tribe-firebase/.firebase-export/firestore_export/all_namespaces/all_kinds/output-0
  apps/bite-tribe-firebase/.firebase-export/firestore_export/firestore_export.overall_export_metadata
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/165e0cc2-7de1-42e8-8a30-15e3eb6d9d5f
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/3f5c95e7-643b-48e2-9e4f-e2f94f869899
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/64d06ec4-9220-4c87-987d-476c97bb5a0c
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/a2231a75-9723-477d-84dd-a9b33befc592
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/e9ca68db-af9c-4f9f-8390-364fa5fa478a
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/165e0cc2-7de1-42e8-8a30-15e3eb6d9d5f.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/3f5c95e7-643b-48e2-9e4f-e2f94f869899.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/64d06ec4-9220-4c87-987d-476c97bb5a0c.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/a2231a75-9723-477d-84dd-a9b33befc592.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/e9ca68db-af9c-4f9f-8390-364fa5fa478a.json
  libs/bite-tribe/profile/page/src/lib/components/profile-page/components/profile-header.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/components/profile-header.scss
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

chore: generate simulator data (#700)
  apps/bite-tribe-firebase/.firebase-export/auth_export/accounts.json
  apps/bite-tribe-firebase/.firebase-export/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
  apps/bite-tribe-firebase/.firebase-export/firestore_export/all_namespaces/all_kinds/output-0
  apps/bite-tribe-firebase/.firebase-export/firestore_export/firestore_export.overall_export_metadata
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/165e0cc2-7de1-42e8-8a30-15e3eb6d9d5f
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/3f5c95e7-643b-48e2-9e4f-e2f94f869899
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/64d06ec4-9220-4c87-987d-476c97bb5a0c
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/a2231a75-9723-477d-84dd-a9b33befc592
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/e9ca68db-af9c-4f9f-8390-364fa5fa478a
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/165e0cc2-7de1-42e8-8a30-15e3eb6d9d5f.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/3f5c95e7-643b-48e2-9e4f-e2f94f869899.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/64d06ec4-9220-4c87-987d-476c97bb5a0c.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/a2231a75-9723-477d-84dd-a9b33befc592.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/e9ca68db-af9c-4f9f-8390-364fa5fa478a.json
  libs/bite-tribe/profile/page/src/lib/components/profile-page/components/profile-header.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/components/profile-header.scss
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: adjustments to business app and query restaurants and organisations
  apps/bite-tribe-business/project.json
  apps/bite-tribe-business/src/assets/icons/logo-black-white.svg
  apps/bite-tribe-business/src/environments/environment.ts
  apps/bite-tribe-business/src/theme/variables.scss
  libs/bite-tribe-business/dashboard/data-access/src/lib/dashboard-data-access.service.ts
  libs/bite-tribe-business/dashboard/page/src/lib/component/page/dashboard.component.html
  libs/bite-tribe-business/dashboard/page/src/lib/component/page/dashboard.component.scss
  libs/bite-tribe-business/dashboard/page/src/lib/component/page/dashboard.component.ts
  libs/bite-tribe-business/dashboard/page/src/lib/integration/dashboard-container.component.ts
  libs/bite-tribe-business/dashboard/page/src/lib/integration/dashboard.service.ts
  libs/bite-tribe-business/shell/src/index.ts
  libs/bite-tribe-business/shell/src/lib/provide-bite-tribe-business-shell.ts
  libs/bite-tribe/shell/src/lib/provide-bite-tribe-shell.ts
  libs/common/utils/src/lib/app-tokens.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: fix navigation to restaurant page
  libs/bite-tribe-business/dashboard/page/src/lib/component/page/dashboard.component.html
  libs/bite-tribe-business/dashboard/page/src/lib/component/page/dashboard.component.ts
Due: eslint --fix, prettier --write

fix: fix navigation to edit menu (business) and menu (app)
  apps/bite-tribe-business/src/assets/custom-icons/distance.svg
  apps/bite-tribe-business/src/assets/custom-icons/filter.svg
  apps/bite-tribe-business/src/assets/custom-icons/map.svg
  apps/bite-tribe-business/src/assets/custom-icons/star.svg
  libs/bite-tribe/restaurant/page/src/lib/integration/restaurant.service.ts
Due: eslint --fix, prettier --write

feat: setup organisation dashboard
  libs/bite-tribe-business/dashboard/page/src/lib/component/page/dashboard.component.html
  libs/bite-tribe-business/dashboard/page/src/lib/component/page/dashboard.component.ts
  libs/bite-tribe-business/dashboard/page/src/lib/integration/dashboard-container.component.ts
  libs/bite-tribe-business/dashboard/page/src/lib/integration/dashboard.service.ts
  libs/bite-tribe-business/organisation-dashboard/data-access/README.md
  libs/bite-tribe-business/organisation-dashboard/data-access/eslint.config.mjs
  libs/bite-tribe-business/organisation-dashboard/data-access/jest.config.cts
  libs/bite-tribe-business/organisation-dashboard/data-access/project.json
  libs/bite-tribe-business/organisation-dashboard/data-access/src/index.ts
  libs/bite-tribe-business/organisation-dashboard/data-access/src/lib/bite-tribe-business/organisation-dashboard-data-access/bite-tribe-business/organisation-dashboard-data-access.css
  libs/bite-tribe-business/organisation-dashboard/data-access/src/lib/bite-tribe-business/organisation-dashboard-data-access/bite-tribe-business/organisation-dashboard-data-access.html
  libs/bite-tribe-business/organisation-dashboard/data-access/src/lib/bite-tribe-business/organisation-dashboard-data-access/bite-tribe-business/organisation-dashboard-data-access.spec.ts
  libs/bite-tribe-business/organisation-dashboard/data-access/src/lib/bite-tribe-business/organisation-dashboard-data-access/bite-tribe-business/organisation-dashboard-data-access.ts
  libs/bite-tribe-business/organisation-dashboard/data-access/src/test-setup.ts
  libs/bite-tribe-business/organisation-dashboard/data-access/tsconfig.json
  libs/bite-tribe-business/organisation-dashboard/data-access/tsconfig.lib.json
  libs/bite-tribe-business/organisation-dashboard/data-access/tsconfig.spec.json
  libs/bite-tribe-business/organisation-dashboard/page/README.md
  libs/bite-tribe-business/organisation-dashboard/page/eslint.config.mjs
  libs/bite-tribe-business/organisation-dashboard/page/jest.config.cts
  libs/bite-tribe-business/organisation-dashboard/page/project.json
  libs/bite-tribe-business/organisation-dashboard/page/src/index.ts
  libs/bite-tribe-business/organisation-dashboard/page/src/lib/components/page/organisation-dashboard.html
  libs/bite-tribe-business/organisation-dashboard/page/src/lib/components/page/organisation-dashboard.scss
  libs/bite-tribe-business/organisation-dashboard/page/src/lib/components/page/organisation-dashboard.ts
  libs/bite-tribe-business/organisation-dashboard/page/src/lib/integration/organisation-dashboard-container.ts
  libs/bite-tribe-business/organisation-dashboard/page/src/lib/integration/organisation-dashboard.service.ts
  libs/bite-tribe-business/organisation-dashboard/page/src/test-setup.ts
  libs/bite-tribe-business/organisation-dashboard/page/tsconfig.json
  libs/bite-tribe-business/organisation-dashboard/page/tsconfig.lib.json
  libs/bite-tribe-business/organisation-dashboard/page/tsconfig.spec.json
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/restaurant-page.component.ts
  libs/bite-tribe-business/shell/src/lib/routes.ts
  libs/bite-tribe/bite-trail/page/eslint.config.mjs
  tsconfig.base.json
Due: eslint --fix, prettier --write, stylelint --fix

feat: feedback from pr
  apps/bite-tribe-business/src/theme/variables.scss
  apps/bite-tribe/src/theme/variables.scss
  libs/bite-tribe-business/dashboard/data-access/src/lib/dashboard-data-access.service.ts
  libs/bite-tribe-business/organisation-dashboard/data-access/project.json
  libs/bite-tribe-business/organisation-dashboard/data-access/src/index.ts
  libs/bite-tribe-business/organisation-dashboard/data-access/src/lib/bite-tribe-business/organisation-dashboard-data-access/bite-tribe-business/organisation-dashboard-data-access.css
  libs/bite-tribe-business/organisation-dashboard/data-access/src/lib/bite-tribe-business/organisation-dashboard-data-access/bite-tribe-business/organisation-dashboard-data-access.html
  libs/bite-tribe-business/organisation-dashboard/data-access/src/lib/bite-tribe-business/organisation-dashboard-data-access/bite-tribe-business/organisation-dashboard-data-access.spec.ts
  libs/bite-tribe-business/organisation-dashboard/data-access/src/lib/bite-tribe-business/organisation-dashboard-data-access/bite-tribe-business/organisation-dashboard-data-access.ts
  libs/bite-tribe-business/organisation-dashboard/data-access/src/lib/organisation-dashboard-data-access.service.ts
  libs/bite-tribe-business/organisation-dashboard/data-access/src/test-setup.ts
  libs/bite-tribe-business/organisation-dashboard/data-access/tsconfig.spec.json
  libs/bite-tribe-business/organisation-dashboard/page/tsconfig.spec.json
  libs/bite-tribe-business/shell/src/lib/routes.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/__specs__/restaurant.service.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/restaurant.service.ts
  libs/common/ui/page/src/lib/__specs__/page.component.spec.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: basic setup for organisation dashboard
  libs/bite-tribe-business/dashboard/page/src/lib/component/page/dashboard.component.html
  libs/bite-tribe-business/organisation-dashboard/page/src/lib/components/page/organisation-dashboard.html
  libs/bite-tribe-business/organisation-dashboard/page/src/lib/components/page/organisation-dashboard.scss
  libs/bite-tribe-business/organisation-dashboard/page/src/lib/components/page/organisation-dashboard.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: load employees by organisation id and show in card list
  libs/bite-tribe-business/organisation-dashboard/data-access/src/lib/organisation-dashboard-data-access.service.ts
  libs/bite-tribe-business/organisation-dashboard/page/src/lib/components/page/organisation-dashboard.html
  libs/bite-tribe-business/organisation-dashboard/page/src/lib/components/page/organisation-dashboard.ts
  libs/bite-tribe-business/organisation-dashboard/page/src/lib/integration/organisation-dashboard-container.ts
  libs/bite-tribe-business/organisation-dashboard/page/src/lib/integration/organisation-dashboard.service.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/router/selectors.ts
Due: eslint --fix, prettier --write

refactor: feedback from pr
  libs/bite-tribe-business/organisation-dashboard/page/src/lib/components/page/organisation-dashboard.html
  libs/bite-tribe/restaurant/page/src/lib/integration/restaurant.service.ts
Due: eslint --fix, prettier --write

chore: generate simulator data
  apps/bite-tribe-firebase/.firebase-export/auth_export/accounts.json
  apps/bite-tribe-firebase/.firebase-export/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
  apps/bite-tribe-firebase/.firebase-export/firestore_export/all_namespaces/all_kinds/output-0
  apps/bite-tribe-firebase/.firebase-export/firestore_export/firestore_export.overall_export_metadata
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/0297f590-087f-494f-bd90-99e34e86e3dc
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/0416f302-3594-448e-90f8-a003e2c1811f
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/90e6fb33-2c7e-4f5e-9cea-d1b0cfed028a
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/a0e1f293-557a-4be7-a4cc-b966d09479e5
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/d3fe6263-fdbd-4d16-838c-ca89dd464b26
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/0297f590-087f-494f-bd90-99e34e86e3dc.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/0416f302-3594-448e-90f8-a003e2c1811f.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/90e6fb33-2c7e-4f5e-9cea-d1b0cfed028a.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/a0e1f293-557a-4be7-a4cc-b966d09479e5.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/d3fe6263-fdbd-4d16-838c-ca89dd464b26.json
Due: prettier --write

chore: generate simulator data (#702)
  apps/bite-tribe-firebase/.firebase-export/auth_export/accounts.json
  apps/bite-tribe-firebase/.firebase-export/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
  apps/bite-tribe-firebase/.firebase-export/firestore_export/all_namespaces/all_kinds/output-0
  apps/bite-tribe-firebase/.firebase-export/firestore_export/firestore_export.overall_export_metadata
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/0297f590-087f-494f-bd90-99e34e86e3dc
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/0416f302-3594-448e-90f8-a003e2c1811f
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/90e6fb33-2c7e-4f5e-9cea-d1b0cfed028a
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/a0e1f293-557a-4be7-a4cc-b966d09479e5
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/d3fe6263-fdbd-4d16-838c-ca89dd464b26
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/0297f590-087f-494f-bd90-99e34e86e3dc.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/0416f302-3594-448e-90f8-a003e2c1811f.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/90e6fb33-2c7e-4f5e-9cea-d1b0cfed028a.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/a0e1f293-557a-4be7-a4cc-b966d09479e5.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/d3fe6263-fdbd-4d16-838c-ca89dd464b26.json
Due: prettier --write

feat: make bite a checkbox for future selection to create a bite trail
  libs/bite-tribe-business/organisation-dashboard/page/src/lib/components/page/organisation-dashboard.html
  libs/bite-tribe-business/organisation-dashboard/page/src/lib/components/page/organisation-dashboard.ts
Due: eslint --fix, prettier --write

refactor: remove unnecessary setter method
  libs/bite-tribe-business/organisation-dashboard/data-access/src/lib/organisation-dashboard-data-access.service.ts
  libs/bite-tribe-business/organisation-dashboard/page/src/lib/integration/organisation-dashboard.service.ts
  package-lock.json
Due: eslint --fix, prettier --write

test: adjust tests
  libs/bite-tribe-business/organisation-dashboard/data-access/src/lib/__specs__/organisation-dashboard-data-access.service.spec.ts
  libs/bite-tribe-business/organisation-dashboard/page/src/lib/integration/__specs__/organisation-dashboard.service.spec.ts
Due: eslint --fix, prettier --write

feat(bite-tribe-business/organisation-dashboard): load and display bites for selected employee (#703)
  libs/bite-tribe-business/organisation-dashboard/data-access/jest.config.cts
  libs/bite-tribe-business/organisation-dashboard/data-access/src/lib/__specs__/organisation-dashboard-data-access.service.spec.ts
  libs/bite-tribe-business/organisation-dashboard/data-access/src/lib/organisation-dashboard-data-access.service.ts
  libs/bite-tribe-business/organisation-dashboard/page/src/lib/components/page/__specs__/organisation-dashboard.spec.ts
  libs/bite-tribe-business/organisation-dashboard/page/src/lib/components/page/organisation-dashboard.html
  libs/bite-tribe-business/organisation-dashboard/page/src/lib/components/page/organisation-dashboard.ts
  libs/bite-tribe-business/organisation-dashboard/page/src/lib/integration/__specs__/organisation-dashboard.service.spec.ts
  libs/bite-tribe-business/organisation-dashboard/page/src/lib/integration/organisation-dashboard-container.ts
  libs/bite-tribe-business/organisation-dashboard/page/src/lib/integration/organisation-dashboard.service.ts
Due: eslint --fix, prettier --write

feat: adjustments
  libs/bite-tribe/bite-trail/page/src/lib/components/bite-trail-bites-page/bite-trail-bites.page.html
  package-lock.json
Due: eslint --fix, prettier --write

style: use large check icon
  libs/bite-tribe/bite-trail/page/src/lib/components/bite-trail-bites-page/bite-trail-bites.page.html
Due: eslint --fix, prettier --write
