Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,html}": "eslint --fix",
  "*.{ts,js,html,scss,json,md}": "prettier --write",
  "*.scss": "stylelint --fix"
}

docs: check and document google places verification rate (#1257)
  .github/actions/create-branch/action.yml
  .github/actions/create-pull-request/action.yml
  .github/actions/nx-cache/action.yml
  .github/actions/push-branch/action.yml
  .github/workflows/deploy-storybook.yml
  .github/workflows/loki-references-update.yml
  .github/workflows/pipeline.yml
  apps/bite-tribe-firebase/functions/src/__specs__/google-maps-request-path.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/__specs__/get-place-details.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/__specs__/search-places.spec.ts
  libs/bite-tribe/api/src/lib/bite-api/utils/__specs__/search-places.spec.ts
  ssot/pages/Architecture - Firebase.md
  ssot/pages/Architecture - Nx Workspace.md
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Release Candidate Test Charter.md
  ssot/pages/Implementation - CI Pipeline.md
  ssot/pages/Implementation - Firebase Functions.md
  ssot/pages/Implementation - Release And Build Workflow.md
  ssot/pages/SSOT.md
  ssot/pages/Traceability Map.md
  ssot/pages/UC - Harden Platform And Backend Trust.md
  ssot/pages/contents.md
  ssot/pages/issue-1245.md
Due: eslint --fix, prettier --write

chore: prepare build 1.0.1-92 release
  CHANGELOG.md
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: prettier --write

chore: prepare build 1.0.1-92 release (#1258)
  CHANGELOG.md
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: prettier --write

docs: build and release workflow
  ssot/pages/Current State - Release Candidate Test Charter.md
  ssot/pages/Current State - Release State.md
  ssot/pages/Implementation - Release And Build Workflow.md
  ssot/pages/Implementation - Store Release Steps.md
  ssot/pages/Release Workflow.md
  ssot/pages/SSOT.md
  ssot/pages/Traceability Map.md
  ssot/pages/contents.md
Due: prettier --write

chore: setup to avoid a question in apple store connect
  apps/bite-tribe-ios/ios/App/App/Info.plist
  ssot/pages/Current State - Release State.md
  ssot/pages/Implementation - Store Release Steps.md
  ssot/pages/Release Workflow.md
Due: prettier --write

feat: localize ios prompt messages
  AGENTS.md
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  apps/bite-tribe-ios/ios/App/App/Info.plist
  apps/bite-tribe-ios/ios/App/App/am.lproj/InfoPlist.strings
  apps/bite-tribe-ios/ios/App/App/ar.lproj/InfoPlist.strings
  apps/bite-tribe-ios/ios/App/App/de.lproj/InfoPlist.strings
  apps/bite-tribe-ios/ios/App/App/en.lproj/InfoPlist.strings
  apps/bite-tribe-ios/ios/App/App/es.lproj/InfoPlist.strings
  apps/bite-tribe-ios/ios/App/App/fr.lproj/InfoPlist.strings
  apps/bite-tribe-ios/ios/App/App/id.lproj/InfoPlist.strings
  apps/bite-tribe-ios/ios/App/App/it.lproj/InfoPlist.strings
  apps/bite-tribe-ios/ios/App/App/pt.lproj/InfoPlist.strings
  apps/bite-tribe-ios/ios/App/App/th.lproj/InfoPlist.strings
  apps/bite-tribe-ios/ios/App/App/tr.lproj/InfoPlist.strings
  ssot/pages/Architecture - Internationalization.md
  ssot/pages/Implementation - Localization.md
Due: prettier --write

build: improve android signing config
  apps/bite-tribe-android/android/.gitignore
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-android/android/keystore.properties.example
  apps/bite-tribe-android/project.json
  ssot/pages/Implementation - Release And Build Workflow.md
  ssot/pages/Implementation - Store Release Steps.md
  ssot/pages/Release Workflow.md
Due: prettier --write

build: automate android release
  apps/bite-tribe-android/android/keystore.properties.example
  package.json
  ssot/pages/Implementation - Release And Build Workflow.md
  ssot/pages/Implementation - Store Release Steps.md
  tools/build-android-release.mjs
Due: prettier --write

docs: fix dead link
  ssot/pages/Implementation - Store Release Steps.md
Due: prettier --write

build: further manual release process improvements
  package.json
  ssot/pages/Implementation - Release And Build Workflow.md
  ssot/pages/Release Workflow.md
  tools/changelog-sections.mjs
  tools/increment-build-number-and-generate-changelog.mjs
  tools/release-notes.mjs
Due: prettier --write

chore: automate and document the native release process (#1259)
  AGENTS.md
  apps/bite-tribe-android/android/.gitignore
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-android/project.json
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  apps/bite-tribe-ios/ios/App/App/Info.plist
  apps/bite-tribe-ios/ios/App/App/am.lproj/InfoPlist.strings
  apps/bite-tribe-ios/ios/App/App/ar.lproj/InfoPlist.strings
  apps/bite-tribe-ios/ios/App/App/de.lproj/InfoPlist.strings
  apps/bite-tribe-ios/ios/App/App/en.lproj/InfoPlist.strings
  apps/bite-tribe-ios/ios/App/App/es.lproj/InfoPlist.strings
  apps/bite-tribe-ios/ios/App/App/fr.lproj/InfoPlist.strings
  apps/bite-tribe-ios/ios/App/App/id.lproj/InfoPlist.strings
  apps/bite-tribe-ios/ios/App/App/it.lproj/InfoPlist.strings
  apps/bite-tribe-ios/ios/App/App/pt.lproj/InfoPlist.strings
  apps/bite-tribe-ios/ios/App/App/th.lproj/InfoPlist.strings
  apps/bite-tribe-ios/ios/App/App/tr.lproj/InfoPlist.strings
  package.json
  ssot/pages/Architecture - Internationalization.md
  ssot/pages/Current State - Release Candidate Test Charter.md
  ssot/pages/Current State - Release State.md
  ssot/pages/Implementation - Localization.md
  ssot/pages/Implementation - Release And Build Workflow.md
  ssot/pages/Implementation - Store Release Steps.md
  ssot/pages/Release Workflow.md
  ssot/pages/SSOT.md
  ssot/pages/Traceability Map.md
  ssot/pages/contents.md
  tools/build-android-release.mjs
  tools/changelog-sections.mjs
  tools/increment-build-number-and-generate-changelog.mjs
  tools/release-notes.mjs
Due: prettier --write

docs: test run #5
  ssot/pages/Current State - Release Candidate Test Charter.md
Due: prettier --write

docs: test run #5 (#1274)
  ssot/pages/Current State - Release Candidate Test Charter.md
Due: prettier --write

fix: endless loading state on detail page
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/details/data-access/src/index.ts
  libs/bite-tribe/details/data-access/src/lib/__specs__/bite-load-failure.spec.ts
  libs/bite-tribe/details/data-access/src/lib/__specs__/details-data-access.service.spec.ts
  libs/bite-tribe/details/data-access/src/lib/bite-load-failure.ts
  libs/bite-tribe/details/data-access/src/lib/details-data-access.service.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.spec.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.ts
  libs/bite-tribe/details/page/src/lib/integration/__specs__/details.container.spec.ts
  libs/bite-tribe/details/page/src/lib/integration/__specs__/details.service.spec.ts
  libs/bite-tribe/details/page/src/lib/integration/details.container.ts
  libs/bite-tribe/details/page/src/lib/integration/details.service.ts
  libs/common/ta-firestore/src/index.ts
  libs/common/ta-firestore/src/lib/analytics/__specs__/crash-reporting.service.spec.ts
  libs/common/ta-firestore/src/lib/analytics/crash-reporting.service.ts
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Release Candidate Test Charter.md
  ssot/pages/UC - Inspect Bite Details.md
Due: eslint --fix, prettier --write

test: increate tests
  libs/bite-tribe/details/data-access/src/lib/__specs__/bite-load-failure.spec.ts
  libs/bite-tribe/details/data-access/src/lib/__specs__/details-data-access.service.spec.ts
  libs/bite-tribe/details/data-access/src/lib/bite-load-failure.ts
  libs/bite-tribe/details/data-access/src/lib/details-data-access.service.ts
Due: eslint --fix, prettier --write

feat: loading state for image upload
  libs/common/ui/image-upload/src/lib/__specs__/image-upload.component.spec.ts
  libs/common/ui/image-upload/src/lib/__specs__/image-upload.component.stories.ts
  libs/common/ui/image-upload/src/lib/image-upload.component.html
  libs/common/ui/image-upload/src/lib/image-upload.component.scss
  libs/common/ui/image-upload/src/lib/image-upload.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

test: update loki refs
  .loki/reference/chrome_iphone7_Components_Image_Upload_Pending.png
  .loki/reference/chrome_laptop_Components_Image_Upload_Loading.png
  .loki/reference/chrome_laptop_Components_Image_Upload_Pending.png
Due: none

fix: show loading state between photo placeholder and photo preview (#1276)
  .loki/reference/chrome_iphone7_Components_Image_Upload_Pending.png
  .loki/reference/chrome_laptop_Components_Image_Upload_Loading.png
  .loki/reference/chrome_laptop_Components_Image_Upload_Pending.png
  libs/common/ui/image-upload/src/lib/__specs__/image-upload.component.spec.ts
  libs/common/ui/image-upload/src/lib/__specs__/image-upload.component.stories.ts
  libs/common/ui/image-upload/src/lib/image-upload.component.html
  libs/common/ui/image-upload/src/lib/image-upload.component.scss
  libs/common/ui/image-upload/src/lib/image-upload.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: use timezone to determine preferred currency on onboarding
  libs/bite-tribe/onboarding/page/src/lib/integration/__specs__/onboarding.service.spec.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/onboarding.service.ts
  libs/common/utils/src/index.ts
  libs/common/utils/src/lib/__specs__/get-currency-for-device.spec.ts
  libs/common/utils/src/lib/__specs__/get-currency-for-locale.spec.ts
  libs/common/utils/src/lib/__specs__/get-region-for-time-zone.spec.ts
  libs/common/utils/src/lib/get-currency-for-device.ts
  libs/common/utils/src/lib/get-currency-for-locale.ts
  libs/common/utils/src/lib/get-region-for-time-zone.ts
  ssot/pages/Current State - Release Candidate Test Charter.md
  ssot/pages/UC - Strengthen Location Currency And Data Quality Guidance.md
  ssot/pages/issue-1262.md
Due: eslint --fix, prettier --write

fix: use timezone to determine preferred currency on onboarding (#1277)
  libs/bite-tribe/onboarding/page/src/lib/integration/__specs__/onboarding.service.spec.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/onboarding.service.ts
  libs/common/utils/src/index.ts
  libs/common/utils/src/lib/__specs__/get-currency-for-device.spec.ts
  libs/common/utils/src/lib/__specs__/get-currency-for-locale.spec.ts
  libs/common/utils/src/lib/__specs__/get-region-for-time-zone.spec.ts
  libs/common/utils/src/lib/get-currency-for-device.ts
  libs/common/utils/src/lib/get-currency-for-locale.ts
  libs/common/utils/src/lib/get-region-for-time-zone.ts
  ssot/pages/Current State - Release Candidate Test Charter.md
  ssot/pages/UC - Strengthen Location Currency And Data Quality Guidance.md
  ssot/pages/issue-1262.md
Due: eslint --fix, prettier --write

fix: get os version from capacitor device plugin
  apps/bite-tribe-android/android/app/capacitor.build.gradle
  apps/bite-tribe-android/android/capacitor.settings.gradle
  apps/bite-tribe-android/package-lock.json
  apps/bite-tribe-android/package.json
  apps/bite-tribe-ios/ios/App/Podfile
  apps/bite-tribe-ios/ios/App/Podfile.lock
  apps/bite-tribe-ios/package-lock.json
  apps/bite-tribe-ios/package.json
  libs/common/push-notifications/src/lib/push-installation.spec.ts
  libs/common/push-notifications/src/lib/push-installation.ts
  package-lock.json
  package.json
  ssot/pages/Architecture - Capacitor.md
Due: eslint --fix, prettier --write

fix: get os version from capacitor device plugin (#1278)
  apps/bite-tribe-android/android/app/capacitor.build.gradle
  apps/bite-tribe-android/android/capacitor.settings.gradle
  apps/bite-tribe-android/package-lock.json
  apps/bite-tribe-android/package.json
  apps/bite-tribe-ios/ios/App/Podfile
  apps/bite-tribe-ios/ios/App/Podfile.lock
  apps/bite-tribe-ios/package-lock.json
  apps/bite-tribe-ios/package.json
  libs/common/push-notifications/src/lib/push-installation.spec.ts
  libs/common/push-notifications/src/lib/push-installation.ts
  package-lock.json
  package.json
  ssot/pages/Architecture - Capacitor.md
Due: eslint --fix, prettier --write

feat: localize verification email
  __mocks__/@capacitor-firebase/authentication/index.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/am.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/ar.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/de.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/en.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/es.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/fr.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/id.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/it.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/pt.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/th.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/tr.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/notification-messages.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/__specs__/get-user-language.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/get-tokens-by-language.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/get-user-language.ts
  apps/bite-tribe-firebase/functions/src/functions/users/__specs__/google-workspace-email.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/users/__specs__/resend-email-verification.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/users/__specs__/send-email-verification-reminders.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/users/google-workspace-email.ts
  apps/bite-tribe-firebase/functions/src/functions/users/resend-email-verification.ts
  apps/bite-tribe-firebase/functions/src/functions/users/send-email-verification-reminders.ts
  libs/common/ta-firestore/src/lib/__specs__/auth.service.spec.ts
  libs/common/ta-firestore/src/lib/auth.service.ts
  libs/common/ui/auth/src/lib/integration/registration/__specs__/registration.service.spec.ts
  libs/common/ui/auth/src/lib/integration/registration/registration.service.ts
  ssot/pages/Architecture - Internationalization.md
  ssot/pages/Implementation - Firebase Functions.md
  ssot/pages/Implementation - Localization.md
  ssot/pages/UC - Improve Localization Quality.md
Due: eslint --fix, prettier --write

feat: localize verification email (#1279)
  __mocks__/@capacitor-firebase/authentication/index.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/am.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/ar.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/de.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/en.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/es.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/fr.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/id.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/it.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/pt.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/th.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/tr.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/notification-messages.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/__specs__/get-user-language.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/get-tokens-by-language.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/get-user-language.ts
  apps/bite-tribe-firebase/functions/src/functions/users/__specs__/google-workspace-email.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/users/__specs__/resend-email-verification.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/users/__specs__/send-email-verification-reminders.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/users/google-workspace-email.ts
  apps/bite-tribe-firebase/functions/src/functions/users/resend-email-verification.ts
  apps/bite-tribe-firebase/functions/src/functions/users/send-email-verification-reminders.ts
  libs/common/ta-firestore/src/lib/__specs__/auth.service.spec.ts
  libs/common/ta-firestore/src/lib/auth.service.ts
  libs/common/ui/auth/src/lib/integration/registration/__specs__/registration.service.spec.ts
  libs/common/ui/auth/src/lib/integration/registration/registration.service.ts
  ssot/pages/Architecture - Internationalization.md
  ssot/pages/Implementation - Firebase Functions.md
  ssot/pages/Implementation - Localization.md
  ssot/pages/UC - Improve Localization Quality.md
Due: eslint --fix, prettier --write

fix: add pending state to login
  .loki/reference/chrome_iphone7_Pages_Login_Failed.png
  .loki/reference/chrome_iphone7_Pages_Login_Pending.png
  .loki/reference/chrome_iphone7_Pages_Login_Primary.png
  .loki/reference/chrome_laptop_Pages_Login_Failed.png
  .loki/reference/chrome_laptop_Pages_Login_Pending.png
  .loki/reference/chrome_laptop_Pages_Login_Primary.png
  apps/bite-tribe-business/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/common/ta-firestore/src/lib/ngrx-store/__specs__/effects.spec.ts
  libs/common/ta-firestore/src/lib/ngrx-store/__specs__/reducer.spec.ts
  libs/common/ta-firestore/src/lib/ngrx-store/auth-result.model.ts
  libs/common/ta-firestore/src/lib/ngrx-store/effects.ts
  libs/common/ta-firestore/src/lib/ngrx-store/index.ts
  libs/common/ta-firestore/src/lib/ngrx-store/reducer.ts
  libs/common/ta-firestore/src/lib/ngrx-store/selectors.ts
  libs/common/ui/auth/src/lib/components/login/__specs__/auth.component.stories.ts
  libs/common/ui/auth/src/lib/components/login/__specs__/login.component.spec.ts
  libs/common/ui/auth/src/lib/components/login/login.component.html
  libs/common/ui/auth/src/lib/components/login/login.component.scss
  libs/common/ui/auth/src/lib/components/login/login.component.ts
  libs/common/ui/auth/src/lib/integration/login/__specs__/login-container.component.spec.ts
  libs/common/ui/auth/src/lib/integration/login/__specs__/login.service.spec.ts
  libs/common/ui/auth/src/lib/integration/login/login-container.component.ts
  libs/common/ui/auth/src/lib/integration/login/login.service.ts
  libs/common/utils/src/lib/store.service.ts
  ssot/pages/Architecture - Auth.md
  ssot/pages/Current State - Release Candidate Test Charter.md
Due: eslint --fix, prettier --write, stylelint --fix

fix: localize relative timestamps and stop inventing ages (#1272)
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/details/page/src/lib/components/details-page/pipes/__specs__/time-ago.pipe.spec.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/pipes/time-ago.pipe.ts
  ssot/pages/Architecture - Internationalization.md
  ssot/pages/Implementation - Localization.md
  ssot/pages/UC - Inspect Bite Details.md
Due: eslint --fix, prettier --write

fix: add pending state to login (#1280)
  .loki/reference/chrome_iphone7_Pages_Login_Failed.png
  .loki/reference/chrome_iphone7_Pages_Login_Pending.png
  .loki/reference/chrome_iphone7_Pages_Login_Primary.png
  .loki/reference/chrome_laptop_Pages_Login_Failed.png
  .loki/reference/chrome_laptop_Pages_Login_Pending.png
  .loki/reference/chrome_laptop_Pages_Login_Primary.png
  apps/bite-tribe-business/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/common/ta-firestore/src/lib/ngrx-store/__specs__/effects.spec.ts
  libs/common/ta-firestore/src/lib/ngrx-store/__specs__/reducer.spec.ts
  libs/common/ta-firestore/src/lib/ngrx-store/auth-result.model.ts
  libs/common/ta-firestore/src/lib/ngrx-store/effects.ts
  libs/common/ta-firestore/src/lib/ngrx-store/index.ts
  libs/common/ta-firestore/src/lib/ngrx-store/reducer.ts
  libs/common/ta-firestore/src/lib/ngrx-store/selectors.ts
  libs/common/ui/auth/src/lib/components/login/__specs__/auth.component.stories.ts
  libs/common/ui/auth/src/lib/components/login/__specs__/login.component.spec.ts
  libs/common/ui/auth/src/lib/components/login/login.component.html
  libs/common/ui/auth/src/lib/components/login/login.component.scss
  libs/common/ui/auth/src/lib/components/login/login.component.ts
  libs/common/ui/auth/src/lib/integration/login/__specs__/login-container.component.spec.ts
  libs/common/ui/auth/src/lib/integration/login/__specs__/login.service.spec.ts
  libs/common/ui/auth/src/lib/integration/login/login-container.component.ts
  libs/common/ui/auth/src/lib/integration/login/login.service.ts
  libs/common/utils/src/lib/store.service.ts
  ssot/pages/Architecture - Auth.md
  ssot/pages/Current State - Release Candidate Test Charter.md
Due: eslint --fix, prettier --write, stylelint --fix

fix: stop the profile repeating the display name as a real name (#1270)
  libs/bite-tribe/api/src/lib/__specs__/profile-api.service.spec.ts
  libs/bite-tribe/api/src/lib/profile-api.service.ts
  libs/bite-tribe/onboarding/data-access/src/lib/__specs__/onboarding-data-access.service.spec.ts
  libs/bite-tribe/onboarding/data-access/src/lib/onboarding-data-access.service.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/__specs__/onboarding.service.spec.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/onboarding.service.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/__specs__/profile.component.spec.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/__specs__/profile.stories.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.ts
  ssot/pages/UC - Manage Profile And Social Graph.md
Due: eslint --fix, prettier --write

test: give the Bite details stories a stable relative timestamp (#1272)
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.stories.ts
  ssot/pages/Implementation - Storybook.md
Due: eslint --fix, prettier --write

update loki references; take ok refs
  .loki/reference/chrome_iphone7_Pages_Bite_Default.png
  .loki/reference/chrome_iphone7_Pages_Bite_My_Bite.png
  .loki/reference/chrome_iphone7_Pages_Bite_With_Older_Timestamp.png
  .loki/reference/chrome_iphone7_Pages_Bite_With_Preferred_Currency.png
  .loki/reference/chrome_laptop_Pages_Bite_Default.png
  .loki/reference/chrome_laptop_Pages_Bite_My_Bite.png
  .loki/reference/chrome_laptop_Pages_Bite_With_Description.png
  .loki/reference/chrome_laptop_Pages_Bite_With_Older_Timestamp.png
  .loki/reference/chrome_laptop_Pages_Bite_With_Preferred_Currency.png
Due: none

test: give the upload-state Bite stories a timestamp too (#1272)
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.stories.ts
Due: eslint --fix, prettier --write

fix some stories
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.stories.ts
Due: eslint --fix, prettier --write

fix: stop the details page labelling data the Bite does not have
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.spec.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.stories.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  ssot/pages/UC - Inspect Bite Details.md
Due: eslint --fix, prettier --write

test: update loki refs
  .loki/reference/chrome_iphone7_Pages_Bite_Failed_Image.png
  .loki/reference/chrome_iphone7_Pages_Bite_No_Bite.png
  .loki/reference/chrome_iphone7_Pages_Bite_Pending_Image_For_Owner.png
  .loki/reference/chrome_iphone7_Pages_Bite_Pending_Image_For_Viewer.png
  .loki/reference/chrome_iphone7_Pages_Bite_With_Description.png
  .loki/reference/chrome_iphone7_Pages_Bite_Without_Place_Or_Distance.png
  .loki/reference/chrome_iphone7_Pages_Bite_Without_Reader_Position.png
  .loki/reference/chrome_iphone7_Pages_Bite_Without_Tags.png
  .loki/reference/chrome_laptop_Pages_Bite_Failed_Image.png
  .loki/reference/chrome_laptop_Pages_Bite_No_Bite.png
  .loki/reference/chrome_laptop_Pages_Bite_Pending_Image_For_Owner.png
  .loki/reference/chrome_laptop_Pages_Bite_Pending_Image_For_Viewer.png
  .loki/reference/chrome_laptop_Pages_Bite_Without_Place_Or_Distance.png
  .loki/reference/chrome_laptop_Pages_Bite_Without_Reader_Position.png
  .loki/reference/chrome_laptop_Pages_Bite_Without_Tags.png
Due: none

fix: localize relative timestamps and stop inventing ages (#1281)
  .loki/reference/chrome_iphone7_Pages_Bite_Default.png
  .loki/reference/chrome_iphone7_Pages_Bite_Failed_Image.png
  .loki/reference/chrome_iphone7_Pages_Bite_My_Bite.png
  .loki/reference/chrome_iphone7_Pages_Bite_No_Bite.png
  .loki/reference/chrome_iphone7_Pages_Bite_Pending_Image_For_Owner.png
  .loki/reference/chrome_iphone7_Pages_Bite_Pending_Image_For_Viewer.png
  .loki/reference/chrome_iphone7_Pages_Bite_With_Description.png
  .loki/reference/chrome_iphone7_Pages_Bite_With_Older_Timestamp.png
  .loki/reference/chrome_iphone7_Pages_Bite_With_Preferred_Currency.png
  .loki/reference/chrome_iphone7_Pages_Bite_Without_Place_Or_Distance.png
  .loki/reference/chrome_iphone7_Pages_Bite_Without_Reader_Position.png
  .loki/reference/chrome_iphone7_Pages_Bite_Without_Tags.png
  .loki/reference/chrome_laptop_Pages_Bite_Default.png
  .loki/reference/chrome_laptop_Pages_Bite_Failed_Image.png
  .loki/reference/chrome_laptop_Pages_Bite_My_Bite.png
  .loki/reference/chrome_laptop_Pages_Bite_No_Bite.png
  .loki/reference/chrome_laptop_Pages_Bite_Pending_Image_For_Owner.png
  .loki/reference/chrome_laptop_Pages_Bite_Pending_Image_For_Viewer.png
  .loki/reference/chrome_laptop_Pages_Bite_With_Description.png
  .loki/reference/chrome_laptop_Pages_Bite_With_Older_Timestamp.png
  .loki/reference/chrome_laptop_Pages_Bite_With_Preferred_Currency.png
  .loki/reference/chrome_laptop_Pages_Bite_Without_Place_Or_Distance.png
  .loki/reference/chrome_laptop_Pages_Bite_Without_Reader_Position.png
  .loki/reference/chrome_laptop_Pages_Bite_Without_Tags.png
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.spec.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.stories.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/details/page/src/lib/components/details-page/pipes/__specs__/time-ago.pipe.spec.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/pipes/time-ago.pipe.ts
  ssot/pages/Architecture - Internationalization.md
  ssot/pages/Implementation - Localization.md
  ssot/pages/Implementation - Storybook.md
  ssot/pages/UC - Inspect Bite Details.md
Due: eslint --fix, prettier --write

docs: specify threaded review replies and review moderation epic
  ssot/pages/Bite.md
  ssot/pages/Current State - Open Questions.md
  ssot/pages/SSOT.md
  ssot/pages/Traceability Map.md
  ssot/pages/UC - Inspect Bite Details.md
  ssot/pages/UC - Receive App Notifications And Engagement Updates.md
  ssot/pages/epic-1284.md
  ssot/pages/issue-1283.md
Due: prettier --write

test: update loki refs
  .loki/reference/chrome_iphone7_Pages_Profile_New_User_Empty_Profile.png
  .loki/reference/chrome_iphone7_Pages_Profile_Onboarded_Account_With_Duplicated_Name.png
  .loki/reference/chrome_iphone7_Pages_Profile_Organisation_Without_Bite_Trails.png
  .loki/reference/chrome_laptop_Pages_Profile_New_User_Empty_Profile.png
  .loki/reference/chrome_laptop_Pages_Profile_Onboarded_Account_With_Duplicated_Name.png
  .loki/reference/chrome_laptop_Pages_Profile_Organisation_Without_Bite_Trails.png
Due: none

docs: link the existing review-edit issue to the moderation epic
  ssot/pages/epic-1284.md
Due: prettier --write
