Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

fix: remove update bite after upload and move connecting bite with image in firebase function
  apps/bite-tribe-firebase/functions/src/functions/set-bite-image-path-on-upload.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/bite/data-access/src/lib/bite-data-access.service.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite.service.ts
Due: eslint --fix, prettier --write

docs: add story for storybook
  libs/bite-tribe/search/page/src/lib/components/search-page/__specs__/search.stories.ts
Due: eslint --fix, prettier --write

chore: switch to zoneless test env
  libs/bite-tribe/search/page/src/test-setup.ts
Due: eslint --fix, prettier --write

feat(862): add dedicated search page and replace home filter chip with search chip (#862)
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/home.component.spec.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/home/page/src/lib/integration/__specs__/home.service.spec.ts
  libs/bite-tribe/home/page/src/lib/integration/home.container.ts
  libs/bite-tribe/home/page/src/lib/integration/home.service.ts
  libs/bite-tribe/search/page/eslint.config.mjs
  libs/bite-tribe/search/page/jest.config.cts
  libs/bite-tribe/search/page/project.json
  libs/bite-tribe/search/page/src/index.ts
  libs/bite-tribe/search/page/src/lib/components/search-page/__specs__/search.stories.ts
  libs/bite-tribe/search/page/src/lib/components/search-page/search.page.html
  libs/bite-tribe/search/page/src/lib/components/search-page/search.page.ts
  libs/bite-tribe/search/page/src/lib/integration/__specs__/search.container.spec.ts
  libs/bite-tribe/search/page/src/lib/integration/search.container.ts
  libs/bite-tribe/search/page/src/test-setup.ts
  libs/bite-tribe/search/page/tsconfig.json
  libs/bite-tribe/search/page/tsconfig.lib.json
  libs/bite-tribe/search/page/tsconfig.spec.json
  libs/bite-tribe/shell/src/lib/routes.ts
  libs/common/utils/src/lib/paths.ts
  tsconfig.base.json
Due: eslint --fix, prettier --write

refactor: feedback from code review
  apps/bite-tribe-firebase/functions/src/functions/set-bite-image-path-on-upload.ts
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/bite/data-access/src/lib/bite-data-access.service.ts
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
  libs/bite-tribe/bite/page/src/lib/integration/__specs__/create-bite.container.spec.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite.service.ts
  libs/bite-tribe/store/src/lib/__specs__/bite-tribe-store.service.spec.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/reducer.spec.ts
Due: eslint --fix, prettier --write

feat: implement version/build in app
  apps/bite-tribe/env-var-plugin.js
  libs/bite-tribe/about/page/src/lib/components/about-page/about.page.html
  libs/bite-tribe/about/page/src/lib/components/about-page/about.page.ts
  libs/common/ui/page/src/lib/menu/__specs__/__snapshots__/app-menu.component.spec.ts.snap
  libs/common/ui/page/src/lib/menu/__specs__/app-menu.component.spec.ts
  libs/common/ui/page/src/lib/menu/app-menu.component.html
  libs/common/ui/page/src/lib/menu/app-menu.component.ts
  libs/common/ui/page/src/lib/page.component.ts
  libs/common/utils/src/lib/add-necessary-icons.ts
  package.json
  tools/increment-build-number.mjs
Due: eslint --fix, prettier --write

refactor: cleanup
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/common/ui/page/src/lib/menu/__specs__/__snapshots__/app-menu.component.spec.ts.snap
  libs/common/ui/page/src/lib/menu/__specs__/app-menu.component.spec.ts
  libs/common/ui/page/src/lib/menu/app-menu.component.ts
  libs/common/ui/page/src/lib/page.component.ts
Due: eslint --fix, prettier --write

refactor: feedback from pr
  README.md
  apps/bite-tribe/env-var-plugin.js
  apps/bite-tribe/read-build-number.js
  apps/bite-tribe/src/read-build-number.spec.js
Due: prettier --write

feat(863): user wants to see version and build number (#864)
  README.md
  apps/bite-tribe/env-var-plugin.js
  apps/bite-tribe/read-build-number.js
  apps/bite-tribe/src/read-build-number.spec.js
  libs/bite-tribe/about/page/src/lib/components/about-page/about.page.html
  libs/bite-tribe/about/page/src/lib/components/about-page/about.page.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/common/ui/page/src/lib/menu/__specs__/__snapshots__/app-menu.component.spec.ts.snap
  libs/common/ui/page/src/lib/menu/__specs__/__snapshots__/menu.component.spec.ts.snap
  libs/common/ui/page/src/lib/menu/__specs__/app-menu.component.spec.ts
  libs/common/ui/page/src/lib/menu/app-menu.component.html
  libs/common/ui/page/src/lib/menu/app-menu.component.ts
  libs/common/ui/page/src/lib/page.component.ts
  libs/common/utils/src/lib/add-necessary-icons.ts
  package.json
  tools/increment-build-number.mjs
Due: eslint --fix, prettier --write

chore: bump build version
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: none

fix: use informal friendly language - fix inconsistencies
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/tr.json
Due: prettier --write

feat: loading state for image upload
  libs/common/ui/image-upload/src/lib/__specs__/image-upload.component.spec.ts
  libs/common/ui/image-upload/src/lib/image-upload.component.html
  libs/common/ui/image-upload/src/lib/image-upload.component.scss
  libs/common/ui/image-upload/src/lib/image-upload.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: fix waiting alert for image source after choice
  apps/bite-tribe-business/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/common/ui/image-upload/src/lib/__specs__/image-upload.component.spec.ts
  libs/common/ui/image-upload/src/lib/image-upload.component.ts
Due: eslint --fix, prettier --write

docs: stories for image-upload comp
  libs/common/ui/image-upload/src/lib/__specs__/image-upload.component.stories.ts
Due: eslint --fix, prettier --write

chore: fix linting issue
  libs/common/ui/image-upload/eslint.config.mjs
Due: none

feat(866): loading state of image upload (#868)
  apps/bite-tribe-business/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/common/ui/image-upload/eslint.config.mjs
  libs/common/ui/image-upload/src/lib/__specs__/image-upload.component.spec.ts
  libs/common/ui/image-upload/src/lib/__specs__/image-upload.component.stories.ts
  libs/common/ui/image-upload/src/lib/image-upload.component.html
  libs/common/ui/image-upload/src/lib/image-upload.component.scss
  libs/common/ui/image-upload/src/lib/image-upload.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: setup service and data-access layers for search
  libs/bite-tribe/search/data-access/jest.config.ts
  libs/bite-tribe/search/data-access/project.json
  libs/bite-tribe/search/data-access/src/index.ts
  libs/bite-tribe/search/data-access/src/lib/__specs__/search-data-access.service.spec.ts
  libs/bite-tribe/search/data-access/src/lib/search-data-access.service.ts
  libs/bite-tribe/search/data-access/src/test-setup.ts
  libs/bite-tribe/search/data-access/tsconfig.json
  libs/bite-tribe/search/data-access/tsconfig.lib.json
  libs/bite-tribe/search/data-access/tsconfig.spec.json
  libs/bite-tribe/search/page/src/lib/components/search-page/search.page.html
  libs/bite-tribe/search/page/src/lib/components/search-page/search.page.ts
  libs/bite-tribe/search/page/src/lib/integration/__specs__/search.container.spec.ts
  libs/bite-tribe/search/page/src/lib/integration/__specs__/search.service.spec.ts
  libs/bite-tribe/search/page/src/lib/integration/search.container.ts
  libs/bite-tribe/search/page/src/lib/integration/search.service.ts
Due: eslint --fix, prettier --write

chore: add dependency
  package-lock.json
  package.json
  tsconfig.base.json
Due: prettier --write

feat: introduce search function
  apps/bite-tribe-firebase/functions/src/functions/search-users.ts
  apps/bite-tribe-firebase/functions/src/index.ts
Due: eslint --fix, prettier --write

refactor: setup firebase functions capacitor plugin
  libs/common/ta-firestore/src/lib/__specs__/connect-functions-emulator.spec.ts
  libs/common/ta-firestore/src/lib/__specs__/provide-firestore-simulator.spec.ts
  libs/common/ta-firestore/src/lib/connect-functions-emulator.ts
  libs/common/ta-firestore/src/lib/provide-firestore-simulator.ts
  libs/common/utils/src/lib/environment.ts
Due: eslint --fix, prettier --write

feat: add functions to native apps
  apps/bite-tribe-android/android/app/capacitor.build.gradle
  apps/bite-tribe-android/android/capacitor.settings.gradle
  apps/bite-tribe-android/capacitor.config.ts
  apps/bite-tribe-android/package.json
  apps/bite-tribe-business/src/environments/environment.ts
  apps/bite-tribe-ios/ios/App/Podfile
  apps/bite-tribe-ios/ios/App/Podfile.lock
  apps/bite-tribe-ios/package.json
  apps/bite-tribe/src/environments/environment.ts
Due: eslint --fix, prettier --write

style: remove padding from searchbar
  libs/bite-tribe/search/page/src/lib/components/search-page/search.page.scss
  libs/bite-tribe/search/page/src/lib/components/search-page/search.page.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: list search results
  apps/bite-tribe-ios/package-lock.json
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/search/page/src/lib/components/search-page/search.page.html
  libs/bite-tribe/search/page/src/lib/components/search-page/search.page.scss
  libs/bite-tribe/search/page/src/lib/components/search-page/search.page.ts
  libs/bite-tribe/search/page/src/lib/integration/__specs__/search.container.spec.ts
  libs/bite-tribe/search/page/src/lib/integration/__specs__/search.service.spec.ts
  libs/bite-tribe/search/page/src/lib/integration/search.container.ts
  libs/bite-tribe/search/page/src/lib/integration/search.service.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor: additional check of production build and delete dev flag
  apps/bite-tribe-android/package-lock.json
  apps/bite-tribe/env-var-plugin.js
  libs/common/ta-firestore/src/lib/provide-firestore-utils.ts
Due: eslint --fix, prettier --write

test: add tests
  libs/bite-tribe/search/page/src/lib/components/search-page/__specs__/search.page.spec.ts
  libs/common/ta-firestore/src/lib/__specs__/auth.service.spec.ts
Due: eslint --fix, prettier --write

feat: maintain full name in edit profile
  .codex/skills/travellers-apps-tests/SKILL.md
  .codex/skills/travellers-apps-tests/agents/openai.yaml
  apps/bite-tribe-business/src/assets/i18n/en.json
  apps/bite-tribe-firebase/functions/src/functions/model/user.ts
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe-common/model/src/lib/public-user.ts
  libs/bite-tribe-common/model/src/lib/user.ts
  libs/bite-tribe/api/src/lib/__specs__/profile-api.service.spec.ts
  libs/bite-tribe/api/src/lib/profile-api.service.ts
  libs/bite-tribe/profile/page/src/lib/components/edit-profile-page/__specs__/edit-profile.page.spec.ts
  libs/bite-tribe/profile/page/src/lib/components/edit-profile-page/edit-profile.page.html
  libs/bite-tribe/profile/page/src/lib/components/edit-profile-page/edit-profile.page.ts
Due: eslint --fix, prettier --write

feat: show full name on profile page
  libs/bite-tribe/profile/page/src/lib/components/profile-page/__specs__/profile.component.spec.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.html
Due: eslint --fix, prettier --write

style: arrange profile meta and edit button
  libs/bite-tribe/profile/page/src/lib/components/profile-page/__specs__/profile.component.spec.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat(871): user wants to maintain full name in profile (#873)
  .codex/skills/travellers-apps-tests/SKILL.md
  .codex/skills/travellers-apps-tests/agents/openai.yaml
  apps/bite-tribe-business/src/assets/i18n/en.json
  apps/bite-tribe-firebase/functions/src/functions/model/user.ts
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe-common/model/src/lib/public-user.ts
  libs/bite-tribe-common/model/src/lib/user.ts
  libs/bite-tribe/api/src/lib/__specs__/profile-api.service.spec.ts
  libs/bite-tribe/api/src/lib/profile-api.service.ts
  libs/bite-tribe/profile/page/src/lib/components/edit-profile-page/__specs__/edit-profile.page.spec.ts
  libs/bite-tribe/profile/page/src/lib/components/edit-profile-page/edit-profile.page.html
  libs/bite-tribe/profile/page/src/lib/components/edit-profile-page/edit-profile.page.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/__specs__/profile.component.spec.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: show full name in search; search respect display name, full name and email
  apps/bite-tribe-firebase/functions/src/functions/search-users.ts
  libs/bite-tribe/search/page/src/lib/components/search-page/search.page.html
  libs/bite-tribe/search/page/src/lib/integration/__specs__/search.container.spec.ts
Due: eslint --fix, prettier --write

feat: show full name in search; search respect display name, full name and email (#874)
  apps/bite-tribe-firebase/functions/src/functions/search-users.ts
  libs/bite-tribe/search/page/src/lib/components/search-page/search.page.html
  libs/bite-tribe/search/page/src/lib/integration/__specs__/search.container.spec.ts
Due: eslint --fix, prettier --write

feat: search for bites and restaurants
  apps/bite-tribe-firebase/functions/src/functions/search-bites.ts
  apps/bite-tribe-firebase/functions/src/functions/search-restaurants.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/search/data-access/src/index.ts
  libs/bite-tribe/search/data-access/src/lib/__specs__/search-data-access.service.spec.ts
  libs/bite-tribe/search/data-access/src/lib/search-data-access.service.ts
  libs/bite-tribe/search/data-access/src/lib/search-result.ts
  libs/bite-tribe/search/page/src/lib/components/search-page/__specs__/search.page.spec.ts
  libs/bite-tribe/search/page/src/lib/components/search-page/search.page.html
  libs/bite-tribe/search/page/src/lib/components/search-page/search.page.scss
  libs/bite-tribe/search/page/src/lib/components/search-page/search.page.ts
  libs/bite-tribe/search/page/src/lib/integration/__specs__/search.container.spec.ts
  libs/bite-tribe/search/page/src/lib/integration/__specs__/search.service.spec.ts
  libs/bite-tribe/search/page/src/lib/integration/search.container.ts
  libs/bite-tribe/search/page/src/lib/integration/search.service.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: extend skills for project
  .codex/skills/travellers-apps-tests/SKILL.md
Due: prettier --write

refactor: extract chip component with own library
  libs/bite-tribe/search/page/src/lib/components/search-page/search.page.html
  libs/bite-tribe/search/page/src/lib/components/search-page/search.page.scss
  libs/bite-tribe/search/page/src/lib/components/search-page/search.page.ts
  libs/common/ui/chip/README.md
  libs/common/ui/chip/eslint.config.mjs
  libs/common/ui/chip/jest.config.ts
  libs/common/ui/chip/project.json
  libs/common/ui/chip/src/index.ts
  libs/common/ui/chip/src/lib/__specs__/chip.component.spec.ts
  libs/common/ui/chip/src/lib/chip.component.html
  libs/common/ui/chip/src/lib/chip.component.scss
  libs/common/ui/chip/src/lib/chip.component.ts
  libs/common/ui/chip/src/test-setup.ts
  libs/common/ui/chip/tsconfig.json
  libs/common/ui/chip/tsconfig.lib.json
  libs/common/ui/chip/tsconfig.spec.json
  libs/common/ui/tags/src/lib/tags-input/__specs__/tags-input.component.stories.ts
  libs/common/ui/tags/src/lib/tags-input/tags-input.component.html
  libs/common/ui/tags/src/lib/tags-input/tags-input.component.scss
  libs/common/ui/tags/src/lib/tags-input/tags-input.component.ts
  tsconfig.base.json
Due: eslint --fix, prettier --write, stylelint --fix

fix: handle load when search request fails
  libs/bite-tribe/search/data-access/src/lib/__specs__/search-data-access.service.spec.ts
  libs/bite-tribe/search/data-access/src/lib/search-data-access.service.ts
Due: eslint --fix, prettier --write

refactor: feedback from pr
  .codex/skills/travellers-apps-tests/SKILL.md
  apps/bite-tribe/src/assets/i18n/de.json
  libs/bite-tribe-common/model/src/index.ts
  libs/bite-tribe-common/model/src/lib/search-result.ts
  libs/bite-tribe/search/data-access/src/index.ts
  libs/bite-tribe/search/data-access/src/lib/search-data-access.service.ts
  libs/bite-tribe/search/page/src/lib/components/search-list/__specs__/search-list.component.spec.ts
  libs/bite-tribe/search/page/src/lib/components/search-list/search-list.component.html
  libs/bite-tribe/search/page/src/lib/components/search-list/search-list.component.scss
  libs/bite-tribe/search/page/src/lib/components/search-list/search-list.component.ts
  libs/bite-tribe/search/page/src/lib/components/search-page/__specs__/search.page.spec.ts
  libs/bite-tribe/search/page/src/lib/components/search-page/search.page.html
  libs/bite-tribe/search/page/src/lib/components/search-page/search.page.scss
  libs/bite-tribe/search/page/src/lib/components/search-page/search.page.ts
  libs/bite-tribe/search/page/src/lib/integration/__specs__/search.container.spec.ts
  libs/bite-tribe/search/page/src/lib/integration/__specs__/search.service.spec.ts
  libs/bite-tribe/search/page/src/lib/integration/search.service.ts
  libs/common/ui/chip/src/index.ts
  libs/common/ui/chip/src/lib/chip-radio-group/__specs__/chip-radio-group.component.spec.ts
  libs/common/ui/chip/src/lib/chip-radio-group/chip-radio-group.component.html
  libs/common/ui/chip/src/lib/chip-radio-group/chip-radio-group.component.scss
  libs/common/ui/chip/src/lib/chip-radio-group/chip-radio-group.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --fix: any of: *.{ts,html}
  prettier --write: any of: *.{ts,js,html,scss,json,md}
  stylelint --fix: any of: *.scss
