Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

refactor: replace custom restaurant image upload with ImageUploadComponent, store images in Firebase Storage, and move menu saving to data-access layer (#793)
  libs/bite-tribe-business/dashboard/page/src/lib/component/restaurant/restaurant.component.html
  libs/bite-tribe-business/edit-menu/page/src/lib/components/page/edit-menu-page.component.html
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/__specs__/new-restaurant-page.component.spec.ts
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/new-restaurant-page.component.html
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/new-restaurant-page.component.scss
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/new-restaurant-page.component.ts
  libs/bite-tribe-business/restaurant/page/src/lib/components/restaurant-image/restaurant-image.component.html
  libs/bite-tribe-business/restaurant/page/src/test-setup.ts
  libs/bite-tribe-common/model/src/lib/restaurant.ts
  libs/bite-tribe/api/src/lib/restaurant-api/__specs__/restaurant-api.service.spec.ts
  libs/bite-tribe/api/src/lib/restaurant-api/restaurant-api.service.ts
  libs/bite-tribe/menu/data-access/jest.config.ts
  libs/bite-tribe/menu/data-access/src/lib/__specs__/menu-data-access.service.spec.ts
  libs/bite-tribe/menu/data-access/src/lib/menu-data-access.service.ts
  libs/bite-tribe/menu/page/src/lib/components/page/menu-page.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/restaurant-image/restaurant-image.component.html
  libs/bite-tribe/store/src/lib/__specs__/bite-tribe-store.service.spec.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/menus/actions.ts
  libs/bite-tribe/store/src/lib/menus/effects.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: fix linting issue
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/__specs__/edit-restaurant.component.spec.ts
Due: eslint --fix, prettier --write

feat: add restaurant description field to new resto page
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/new-restaurant-page.component.html
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/new-restaurant-page.component.ts
Due: eslint --fix, prettier --write

test: adjust tests
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/__specs__/new-restaurant-page.component.spec.ts
Due: eslint --fix, prettier --write

feat: make description optional field for new resto
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/new-restaurant-page.component.ts
Due: eslint --fix, prettier --write

feat(business): add "About Restaurant" description field to edit-restaurant (#794)
  apps/bite-tribe-business/src/assets/i18n/en.json
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/__specs__/edit-restaurant.component.spec.ts
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/edit-restaurant.component.html
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/edit-restaurant.component.ts
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/new-restaurant-page.component.html
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/new-restaurant-page.component.ts
  libs/bite-tribe-business/restaurant/page/src/lib/integration/__specs__/edit-restaurant.service.spec.ts
  libs/bite-tribe-business/restaurant/page/src/lib/integration/edit-restaurant-container.component.ts
  libs/bite-tribe-business/restaurant/page/src/lib/integration/edit-restaurant.service.ts
  libs/bite-tribe-common/model/src/lib/restaurant.ts
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/api/src/lib/restaurant-api/restaurant-api.service.ts
  libs/bite-tribe/restaurant/data-access/src/lib/restaurant-data-access.service.ts
Due: eslint --fix, prettier --write

feat: adjust opening hours component
  libs/bite-tribe-business/restaurant/page/src/lib/components/opening-hours/opening-hours.component.html
  libs/bite-tribe-business/restaurant/page/src/lib/components/opening-hours/opening-hours.component.scss
  libs/bite-tribe-business/restaurant/page/src/lib/components/opening-hours/opening-hours.component.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.html
Due: eslint --fix, prettier --write, stylelint --fix

feat: admin opening hours management for restaurants (#802)
  apps/bite-tribe-business/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe-business/restaurant/page/src/lib/components/opening-hours/__specs__/opening-hours.component.spec.ts
  libs/bite-tribe-business/restaurant/page/src/lib/components/opening-hours/opening-hours.component.html
  libs/bite-tribe-business/restaurant/page/src/lib/components/opening-hours/opening-hours.component.scss
  libs/bite-tribe-business/restaurant/page/src/lib/components/opening-hours/opening-hours.component.ts
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/__specs__/edit-restaurant.component.spec.ts
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/edit-restaurant.component.html
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/edit-restaurant.component.ts
  libs/bite-tribe-business/restaurant/page/src/lib/integration/__specs__/edit-restaurant.service.spec.ts
  libs/bite-tribe-business/restaurant/page/src/lib/integration/edit-restaurant-container.component.ts
  libs/bite-tribe-business/restaurant/page/src/lib/integration/edit-restaurant.service.ts
  libs/bite-tribe-common/model/src/index.ts
  libs/bite-tribe-common/model/src/lib/opening-hours.ts
  libs/bite-tribe-common/model/src/lib/restaurant.ts
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/api/src/lib/restaurant-api/restaurant-api.service.ts
  libs/bite-tribe/restaurant/data-access/src/lib/restaurant-data-access.service.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.html
Due: eslint --fix, prettier --write, stylelint --fix

style: adjust styling
  apps/bite-tribe-business/src/assets/i18n/en.json
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/edit-restaurant.component.html
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/edit-restaurant.component.ts
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/new-restaurant-page.component.html
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/new-restaurant-page.component.ts
Due: eslint --fix, prettier --write

chore: mock data for restaurant
  apps/bite-tribe-firebase/.firebase-export/auth_export/accounts.json
  apps/bite-tribe-firebase/.firebase-export/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
  apps/bite-tribe-firebase/.firebase-export/firestore_export/all_namespaces/all_kinds/output-0
  apps/bite-tribe-firebase/.firebase-export/firestore_export/firestore_export.overall_export_metadata
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/007c7399-9cb9-424b-9674-11a406adfdbc
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/027a71ad-e465-4b3c-921f-6d5837cda490
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/2cf43f02-7101-4d5b-a039-f269859104ba
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/772c3631-eee5-4898-9d39-6944e60ce3c7
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/cb581c2b-a4d1-43d6-b0d8-f6979745e0e5
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/007c7399-9cb9-424b-9674-11a406adfdbc.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/027a71ad-e465-4b3c-921f-6d5837cda490.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/2cf43f02-7101-4d5b-a039-f269859104ba.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/772c3631-eee5-4898-9d39-6944e60ce3c7.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/cb581c2b-a4d1-43d6-b0d8-f6979745e0e5.json
  libs/bite-tribe-business/restaurant/page/src/lib/components/opening-hours/opening-hours.component.scss
Due: prettier --write, stylelint --fix

chore: add restaurant id to bites
  apps/bite-tribe-firebase/.firebase-export/auth_export/accounts.json
  apps/bite-tribe-firebase/.firebase-export/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
  apps/bite-tribe-firebase/.firebase-export/firestore_export/all_namespaces/all_kinds/output-0
  apps/bite-tribe-firebase/.firebase-export/firestore_export/firestore_export.overall_export_metadata
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/49b6dc69-22f8-4e2f-b10a-1f57a394d9a1
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/4ae1d34f-aec4-4310-8a70-6174ff2afc66
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/695fa154-885c-4b86-b210-007b5ed5c299
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/8293c758-f79c-4f1f-841c-1dc5edf7ba25
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/954d43e5-fe30-4ea3-9ce8-772281b783a7
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/49b6dc69-22f8-4e2f-b10a-1f57a394d9a1.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/4ae1d34f-aec4-4310-8a70-6174ff2afc66.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/695fa154-885c-4b86-b210-007b5ed5c299.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/8293c758-f79c-4f1f-841c-1dc5edf7ba25.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/954d43e5-fe30-4ea3-9ce8-772281b783a7.json
Due: prettier --write

test: fix tests
  libs/bite-tribe/restaurant/page/src/lib/components/page/__specs__/restaurant.component.spec.ts
Due: eslint --fix, prettier --write

feat(business): add address fields and editable location pin to restaurant create/edit/view pages (#803)
  apps/bite-tribe-business/src/assets/i18n/en.json
  apps/bite-tribe-firebase/.firebase-export/auth_export/accounts.json
  apps/bite-tribe-firebase/.firebase-export/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
  apps/bite-tribe-firebase/.firebase-export/firestore_export/all_namespaces/all_kinds/output-0
  apps/bite-tribe-firebase/.firebase-export/firestore_export/firestore_export.overall_export_metadata
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/49b6dc69-22f8-4e2f-b10a-1f57a394d9a1
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/4ae1d34f-aec4-4310-8a70-6174ff2afc66
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/695fa154-885c-4b86-b210-007b5ed5c299
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/8293c758-f79c-4f1f-841c-1dc5edf7ba25
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/954d43e5-fe30-4ea3-9ce8-772281b783a7
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/49b6dc69-22f8-4e2f-b10a-1f57a394d9a1.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/4ae1d34f-aec4-4310-8a70-6174ff2afc66.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/695fa154-885c-4b86-b210-007b5ed5c299.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/8293c758-f79c-4f1f-841c-1dc5edf7ba25.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/954d43e5-fe30-4ea3-9ce8-772281b783a7.json
  libs/bite-tribe-business/restaurant/page/src/lib/components/opening-hours/opening-hours.component.scss
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/__specs__/edit-restaurant.component.spec.ts
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/__specs__/new-restaurant-page.component.spec.ts
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/edit-restaurant.component.html
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/edit-restaurant.component.ts
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/new-restaurant-page.component.html
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/new-restaurant-page.component.ts
  libs/bite-tribe-business/restaurant/page/src/lib/integration/__specs__/edit-restaurant.service.spec.ts
  libs/bite-tribe-business/restaurant/page/src/lib/integration/edit-restaurant-container.component.ts
  libs/bite-tribe-business/restaurant/page/src/lib/integration/edit-restaurant.service.ts
  libs/bite-tribe-common/model/src/index.ts
  libs/bite-tribe-common/model/src/lib/address.ts
  libs/bite-tribe-common/model/src/lib/restaurant.ts
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/api/src/lib/restaurant-api/restaurant-api.service.ts
  libs/bite-tribe/restaurant/data-access/src/lib/restaurant-data-access.service.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/__specs__/restaurant.component.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.html
Due: eslint --fix, prettier --write, stylelint --fix

fix: saving bite trail image and feedback in create bite trail functionality (#807)
  libs/bite-tribe-business/create-bite-trail/data-access/src/lib/__specs__/create-bite-trail-data-access.service.spec.ts
  libs/bite-tribe-business/create-bite-trail/data-access/src/lib/create-bite-trail-data-access.service.ts
  libs/bite-tribe-business/create-bite-trail/page/src/lib/components/page/create-bite-trail.component.ts
  libs/bite-tribe-business/create-bite-trail/page/src/lib/integration/__specs__/create-bite-trail.service.spec.ts
  libs/bite-tribe-business/create-bite-trail/page/src/lib/integration/create-bite-trail.service.ts
  libs/bite-tribe-common/model/src/lib/bite-trail.ts
  libs/bite-tribe/api/src/lib/__specs__/bite-tribe-api.service.spec.ts
  libs/bite-tribe/api/src/lib/bite-trail-api/__specs__/bite-trail-api.service.spec.ts
  libs/bite-tribe/api/src/lib/bite-trail-api/bite-trail-api.service.ts
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
Due: eslint --fix, prettier --write

feat: trigger updating last seen whenever app gets active
  libs/bite-tribe/shell/src/lib/app-foreground.service.ts
Due: eslint --fix, prettier --write

test: adjust tests
  apps/bite-tribe/src/app/app.component.spec.ts
Due: eslint --fix, prettier --write

feat: add social media links and opening hours to restaurant creation form (#809)
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/__specs__/new-restaurant-page.component.spec.ts
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/new-restaurant-page.component.html
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/new-restaurant-page.component.ts
Due: eslint --fix, prettier --write

feat: track lastSeen timestamp for active user identification (#808)
  apps/bite-tribe/src/app/app.component.spec.ts
  libs/bite-tribe-common/model/src/lib/public-user.ts
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/api/src/lib/profile-api.service.ts
  libs/bite-tribe/shell/src/lib/__specs__/app-foreground.service.spec.ts
  libs/bite-tribe/shell/src/lib/app-foreground.service.ts
  libs/bite-tribe/store/src/lib/app/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/app/actions.ts
  libs/bite-tribe/store/src/lib/app/effects.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
Due: eslint --fix, prettier --write

chore: remove third column in dashboard
  libs/bite-tribe-business/dashboard/page/src/lib/component/page/dashboard.component.html
Due: eslint --fix, prettier --write

fix: fix translations
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
Due: prettier --write

refactor: adjust changes
  libs/bite-tribe/api/src/lib/profile-api.service.ts
  libs/common/ui/auth/src/lib/integration/registration/registration.service.ts
Due: eslint --fix, prettier --write

feat: localize registration messages
  apps/bite-tribe-business/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/common/ui/auth/src/lib/integration/registration/__specs__/registration.service.spec.ts
  libs/common/ui/auth/src/lib/integration/registration/registration.service.ts
Due: eslint --fix, prettier --write

feat: offer restaurants in radius of 15km instead of 1km
  libs/bite-tribe/store/src/lib/bites/utils/__specs__/get-nearby-bites.spec.ts
  libs/bite-tribe/store/src/lib/bites/utils/get-nearby-bites.ts
Due: eslint --fix, prettier --write

chore: prepare build
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: none

feat: send email verification on email/password registration (#810)
  __mocks__/@capacitor-firebase/authentication/index.ts
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-business/src/assets/i18n/en.json
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe-business/dashboard/page/src/lib/component/page/dashboard.component.html
  libs/bite-tribe/api/src/lib/profile-api.service.ts
  libs/bite-tribe/store/src/lib/bites/utils/__specs__/get-nearby-bites.spec.ts
  libs/bite-tribe/store/src/lib/bites/utils/get-nearby-bites.ts
  libs/common/ta-firestore/src/lib/__specs__/auth.service.spec.ts
  libs/common/ta-firestore/src/lib/auth.service.ts
  libs/common/ui/auth/src/lib/integration/registration/__specs__/registration.service.spec.ts
  libs/common/ui/auth/src/lib/integration/registration/registration.service.ts
Due: eslint --fix, prettier --write

docs: add fullMaintained Storybook story for restaurant page (#818)
  libs/bite-tribe/restaurant/page/src/lib/components/page/__specs__/restaurant.stories.ts
Due: eslint --fix, prettier --write

docs: fix typescript error
  apps/storybook-host/.storybook/preview.ts
Due: eslint --fix, prettier --write

fix: reload story after language switch
  apps/storybook-host/.storybook/preview.ts
Due: eslint --fix, prettier --write

docs: Setup Transloco i18n globally in Storybook with locale toolbar switcher (#820)
  apps/storybook-host/.storybook/preview.ts
  apps/storybook-host/.storybook/transloco-loader.ts
  libs/bite-tribe-common/bite/src/lib/__specs__/bite.stories.ts
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.stories.ts
  libs/bite-tribe/bucketlist/page/src/lib/components/bucketlists-page/__specs__/my-bucketlists.stories.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.stories.ts
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/home.stories.ts
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/my-bites.stories.ts
  libs/bite-tribe/map/page/src/lib/components/map-page/__specs__/map-page.stories.ts
  libs/bite-tribe/profile/page/src/lib/components/edit-profile-page/__specs__/edit-profile.stories.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/__specs__/profile.stories.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/__specs__/restaurant.stories.ts
  libs/bite-tribe/settings/page/src/lib/components/page/__specs__/settings.stories.ts
  libs/bite-tribe/start/src/lib/__specs__/start.stories.ts
  libs/common/ui/auth/src/lib/components/login/__specs__/auth.component.stories.ts
  libs/common/ui/auth/src/lib/components/registration/__specs__/registration.component.stories.ts
  libs/common/ui/password-validator/src/lib/__specs__/password-validator.component.stories.ts
  libs/common/ui/tags/src/lib/tags-input/__specs__/tags-input.component.stories.ts
Due: eslint --fix, prettier --write

fix: await geolocation current position on details page
  libs/bite-tribe/details/data-access/src/lib/details-data-access.service.ts
Due: eslint --fix, prettier --write

fix: one click minimize when on home screen
  apps/bite-tribe/src/app/app.component.spec.ts
  apps/bite-tribe/src/app/app.component.ts
Due: eslint --fix, prettier --write

feat: minimize app on Android back button press from home screen (#824)
  apps/bite-tribe/src/app/app.component.spec.ts
  apps/bite-tribe/src/app/app.component.ts
  libs/bite-tribe/details/data-access/src/lib/details-data-access.service.ts
Due: eslint --fix, prettier --write

feat: switch completely to leaflet-usermarker
  libs/bite-tribe-common/map/src/lib/map/types/leaflet-usermarker.d.ts
  libs/bite-tribe-common/map/src/lib/map/utils/__specs__/add-gps-marker.spec.ts
  libs/bite-tribe-common/map/src/lib/map/utils/add-gps-marker.ts
  libs/bite-tribe-common/map/src/test-setup.ts
  package-lock.json
Due: eslint --fix, prettier --write

test: add leaflet-usermarker to mocks
  __mocks__/leaflet-usermarker/index.ts
  libs/bite-tribe/map/page/src/lib/integration/__specs__/home-map-container.component.spec.ts
Due: eslint --fix, prettier --write

fix: fix wrong querying bites for place page
  libs/bite-tribe/home/data-access/src/lib/home-data-access.service.ts
Due: eslint --fix, prettier --write

feat: switch my-position marker to leaflet-usermarker (#825)
  __mocks__/leaflet-usermarker/index.ts
  apps/bite-tribe-business/src/global.scss
  apps/bite-tribe/src/global.scss
  libs/bite-tribe-common/map/src/lib/map/types/leaflet-usermarker.d.ts
  libs/bite-tribe-common/map/src/lib/map/utils/__specs__/add-gps-marker.spec.ts
  libs/bite-tribe-common/map/src/lib/map/utils/__specs__/gps-marker.spec.ts
  libs/bite-tribe-common/map/src/lib/map/utils/__specs__/remove-gps-marker.spec.ts
  libs/bite-tribe-common/map/src/lib/map/utils/add-gps-marker.ts
  libs/bite-tribe-common/map/src/lib/map/utils/gps-marker.ts
  libs/bite-tribe-common/map/src/lib/map/utils/remove-gps-marker.ts
  libs/bite-tribe-common/map/src/test-setup.ts
  libs/bite-tribe/home/data-access/src/lib/home-data-access.service.ts
  libs/bite-tribe/map/page/src/lib/integration/__specs__/home-map-container.component.spec.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, stylelint --fix

refactor: split restaurant and bite place component
  libs/bite-tribe/restaurant/page/src/lib/components/page/bite-place.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/page/bite-place.component.scss
  libs/bite-tribe/restaurant/page/src/lib/components/page/bite-place.component.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/unverified-restaurant-container.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: dont show loading state for bite place
  libs/bite-tribe/restaurant/page/src/lib/components/page/bite-place.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/restaurant-image/restaurant-image.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/restaurant-image/restaurant-image.component.ts
Due: eslint --fix, prettier --write

refactor: cleanup unnecessary inputs from bite place comp
  libs/bite-tribe/restaurant/page/src/lib/components/page/bite-place.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/page/bite-place.component.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/unverified-restaurant-container.component.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,html}
  prettier --write: any of: *.{ts,js,html,scss,json,md}
  stylelint --fix: any of: *.scss
