Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

test(bite-tribe): prove the bucket list tick lands without a re-entry (#812)
  apps/bite-tribe-e2e/src/tests/bucket-list-tried-out.spec.ts
  libs/bite-tribe/store/src/lib/bucketlists/__specs__/tried-out-status.integration.spec.ts
Due: eslint --fix, prettier --write

feat(bite-tribe/bucketlist): swipe a Bite in a bucket list to tick it off (#812) (#1162)
  .loki/reference/chrome_iphone7_Components_Bite_List_With_Tried_Out_Swipe.png
  .loki/reference/chrome_laptop_Components_Bite_List_With_Tried_Out_Swipe.png
  apps/bite-tribe-e2e/src/tests/bucket-list-tried-out.spec.ts
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/coach-mark/src/lib/coach-mark-surface.ts
  libs/bite-tribe/home/page/src/lib/components/page/bite-list/__specs__/bite-list.component.spec.ts
  libs/bite-tribe/home/page/src/lib/components/page/bite-list/__specs__/bite-list.stories.ts
  libs/bite-tribe/home/page/src/lib/components/page/bite-list/bite-list.component.html
  libs/bite-tribe/home/page/src/lib/components/page/bite-list/bite-list.component.scss
  libs/bite-tribe/home/page/src/lib/components/page/bite-list/bite-list.component.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/home/page/src/lib/integration/__specs__/bucket-list.container.spec.ts
  libs/bite-tribe/home/page/src/lib/integration/bucket-list.container.ts
  libs/bite-tribe/store/src/lib/bucketlists/__specs__/reducer.spec.ts
  libs/bite-tribe/store/src/lib/bucketlists/__specs__/tried-out-status.integration.spec.ts
  libs/bite-tribe/store/src/lib/bucketlists/reducer.ts
  libs/bite-tribe/store/src/lib/bucketlists/utils/__specs__/should-load-bucketlists.spec.ts
  libs/bite-tribe/store/src/lib/bucketlists/utils/apply-tried-out-status.ts
  libs/bite-tribe/store/src/lib/bucketlists/utils/should-load-bucketlists.ts
  libs/common/ta-firestore/src/lib/analytics/analytics-events.ts
  ssot/pages/Bucket List.md
  ssot/pages/Current State - Release State.md
  ssot/pages/UC - Guide New Users After Registration.md
  ssot/pages/UC - Save And Rate BiteTrails Through Bucket Lists.md
Due: eslint --fix, prettier --write, stylelint --fix

feat: add more bites at same place
  .loki/reference/chrome_iphone7_Pages_Create_Bite_New_Bite.png
  .loki/reference/chrome_laptop_Pages_Create_Bite_New_Bite.png
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.stories.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/bite/page/src/lib/integration/__specs__/bite.service.spec.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite.service.ts
  libs/bite-tribe/bite/page/src/lib/integration/create-bite.container.ts
  ssot/pages/UC - Create And Maintain Personal Bites.md
Due: eslint --fix, prettier --write

feat: add more bites at same place (#1163)
  .loki/reference/chrome_iphone7_Pages_Create_Bite_New_Bite.png
  .loki/reference/chrome_laptop_Pages_Create_Bite_New_Bite.png
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.stories.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/bite/page/src/lib/integration/__specs__/bite.service.spec.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite.service.ts
  libs/bite-tribe/bite/page/src/lib/integration/create-bite.container.ts
  ssot/pages/UC - Create And Maintain Personal Bites.md
Due: eslint --fix, prettier --write

fix: use higher counter with garanty that own reaction counts
  .loki/reference/chrome_iphone7_Components_Bite_Liked_By_Me_With_Lagging_Aggregate.png
  .loki/reference/chrome_iphone7_Pages_Bite_Default.png
  .loki/reference/chrome_iphone7_Pages_Bite_My_Bite.png
  .loki/reference/chrome_iphone7_Pages_Bite_With_Description.png
  .loki/reference/chrome_iphone7_Pages_Bite_With_Preferred_Currency.png
  .loki/reference/chrome_iphone7_Pages_Profile_Default.png
  .loki/reference/chrome_iphone7_Pages_Profile_No_Followers_Or_Following.png
  .loki/reference/chrome_iphone7_Pages_Profile_Own_Profile.png
  .loki/reference/chrome_iphone7_Pages_Profile_With_Many_Flags.png
  .loki/reference/chrome_laptop_Components_Bite_Liked_By_Me_With_Lagging_Aggregate.png
  .loki/reference/chrome_laptop_Pages_Bite_Default.png
  .loki/reference/chrome_laptop_Pages_Bite_My_Bite.png
  .loki/reference/chrome_laptop_Pages_Bite_With_Description.png
  .loki/reference/chrome_laptop_Pages_Bite_With_Preferred_Currency.png
  .loki/reference/chrome_laptop_Pages_Profile_Default.png
  .loki/reference/chrome_laptop_Pages_Profile_No_Followers_Or_Following.png
  .loki/reference/chrome_laptop_Pages_Profile_Own_Profile.png
  .loki/reference/chrome_laptop_Pages_Profile_With_Many_Flags.png
  libs/bite-tribe-common/bite/src/lib/__specs__/bite.stories.ts
  libs/bite-tribe-common/bite/src/lib/pipes/__specs__/count-likes.pipe.spec.ts
  libs/bite-tribe-common/bite/src/lib/utils/__specs__/like-counts.spec.ts
  libs/bite-tribe-common/bite/src/lib/utils/like-counts.ts
  ssot/pages/Bite.md
  ssot/pages/Implementation - Firebase Functions.md
Due: eslint --fix, prettier --write

feat: loading skeleton for profile page
  .loki/reference/chrome_iphone7_Pages_Bite_No_Bite.png
  .loki/reference/chrome_iphone7_Pages_Profile_Loading.png
  .loki/reference/chrome_laptop_Pages_Bite_No_Bite.png
  .loki/reference/chrome_laptop_Pages_Profile_Loading.png
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.spec.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.scss
  libs/bite-tribe/profile/page/src/lib/components/profile-page/__specs__/profile.component.spec.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/__specs__/profile.stories.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/components/__specs__/profile-skeleton.spec.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/components/profile-skeleton.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/components/profile-skeleton.scss
  libs/bite-tribe/profile/page/src/lib/components/profile-page/components/profile-skeleton.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.ts
  libs/bite-tribe/profile/page/src/lib/integration/__specs__/profile.service.spec.ts
  libs/bite-tribe/profile/page/src/lib/integration/my-profile.container.ts
  libs/bite-tribe/profile/page/src/lib/integration/profile-container.component.ts
  libs/bite-tribe/profile/page/src/lib/integration/profile.service.ts
Due: eslint --fix, prettier --write, stylelint --fix

docs: update docs
  ssot/pages/UC - Inspect Bite Details.md
  ssot/pages/UC - Manage Profile And Social Graph.md
Due: prettier --write

fix: use higher counter with garanty that own reaction counts (#1167)
  .loki/reference/chrome_iphone7_Components_Bite_Liked_By_Me_With_Lagging_Aggregate.png
  .loki/reference/chrome_iphone7_Pages_Bite_Default.png
  .loki/reference/chrome_iphone7_Pages_Bite_My_Bite.png
  .loki/reference/chrome_iphone7_Pages_Bite_With_Description.png
  .loki/reference/chrome_iphone7_Pages_Bite_With_Preferred_Currency.png
  .loki/reference/chrome_iphone7_Pages_Profile_Default.png
  .loki/reference/chrome_iphone7_Pages_Profile_No_Followers_Or_Following.png
  .loki/reference/chrome_iphone7_Pages_Profile_Own_Profile.png
  .loki/reference/chrome_iphone7_Pages_Profile_With_Many_Flags.png
  .loki/reference/chrome_laptop_Components_Bite_Liked_By_Me_With_Lagging_Aggregate.png
  .loki/reference/chrome_laptop_Pages_Bite_Default.png
  .loki/reference/chrome_laptop_Pages_Bite_My_Bite.png
  .loki/reference/chrome_laptop_Pages_Bite_With_Description.png
  .loki/reference/chrome_laptop_Pages_Bite_With_Preferred_Currency.png
  .loki/reference/chrome_laptop_Pages_Profile_Default.png
  .loki/reference/chrome_laptop_Pages_Profile_No_Followers_Or_Following.png
  .loki/reference/chrome_laptop_Pages_Profile_Own_Profile.png
  .loki/reference/chrome_laptop_Pages_Profile_With_Many_Flags.png
  libs/bite-tribe-common/bite/src/lib/__specs__/bite.stories.ts
  libs/bite-tribe-common/bite/src/lib/pipes/__specs__/count-likes.pipe.spec.ts
  libs/bite-tribe-common/bite/src/lib/utils/__specs__/like-counts.spec.ts
  libs/bite-tribe-common/bite/src/lib/utils/like-counts.ts
  ssot/pages/Bite.md
  ssot/pages/Implementation - Firebase Functions.md
Due: eslint --fix, prettier --write

feat: loading skeleton for profile page (#1169)
  .loki/reference/chrome_iphone7_Pages_Bite_No_Bite.png
  .loki/reference/chrome_iphone7_Pages_Profile_Loading.png
  .loki/reference/chrome_laptop_Pages_Bite_No_Bite.png
  .loki/reference/chrome_laptop_Pages_Profile_Loading.png
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.spec.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.scss
  libs/bite-tribe/profile/page/src/lib/components/profile-page/__specs__/profile.component.spec.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/__specs__/profile.stories.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/components/__specs__/profile-skeleton.spec.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/components/profile-skeleton.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/components/profile-skeleton.scss
  libs/bite-tribe/profile/page/src/lib/components/profile-page/components/profile-skeleton.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.ts
  libs/bite-tribe/profile/page/src/lib/integration/__specs__/profile.service.spec.ts
  libs/bite-tribe/profile/page/src/lib/integration/my-profile.container.ts
  libs/bite-tribe/profile/page/src/lib/integration/profile-container.component.ts
  libs/bite-tribe/profile/page/src/lib/integration/profile.service.ts
  ssot/pages/UC - Inspect Bite Details.md
  ssot/pages/UC - Manage Profile And Social Graph.md
Due: eslint --fix, prettier --write, stylelint --fix

fix: fix my position marker on every click
  .loki/reference/chrome_iphone7_Pages_Bitemap_With_Bites.png
  .loki/reference/chrome_laptop_Pages_Bitemap_With_Bites.png
  libs/bite-tribe-common/map/src/lib/map/__specs__/map.component.spec.ts
  libs/bite-tribe-common/map/src/lib/map/map.component.ts
  libs/bite-tribe-common/map/src/lib/map/utils/__specs__/add-gps-marker.spec.ts
  libs/bite-tribe-common/map/src/lib/map/utils/add-gps-marker.ts
Due: eslint --fix, prettier --write

fix: fix my position marker on every click (#1171)
  .loki/reference/chrome_iphone7_Pages_Bitemap_With_Bites.png
  .loki/reference/chrome_laptop_Pages_Bitemap_With_Bites.png
  libs/bite-tribe-common/map/src/lib/map/__specs__/map.component.spec.ts
  libs/bite-tribe-common/map/src/lib/map/map.component.ts
  libs/bite-tribe-common/map/src/lib/map/utils/__specs__/add-gps-marker.spec.ts
  libs/bite-tribe-common/map/src/lib/map/utils/add-gps-marker.ts
Due: eslint --fix, prettier --write

feat: introduce loading spinner in header
  .loki/reference/chrome_iphone7_Components_Page_Loading.png
  .loki/reference/chrome_laptop_Components_Page_Loading.png
  apps/bite-tribe-business/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  apps/storybook-host/.storybook/preview-head.html
  libs/common/ui/page/src/lib/__specs__/page.component.spec.ts
  libs/common/ui/page/src/lib/__specs__/page.component.stories.ts
  libs/common/ui/page/src/lib/page.component.html
  libs/common/ui/page/src/lib/page.component.scss
  libs/common/ui/page/src/lib/page.component.ts
  ssot/pages/Implementation - Feature Patterns.md
Due: eslint --fix, prettier --write, stylelint --fix

feat: parallel header spinner to usual ones
  .loki/reference/chrome_iphone7_Pages_Bite_No_Bite.png
  .loki/reference/chrome_iphone7_Pages_Home_Loading.png
  .loki/reference/chrome_iphone7_Pages_Profile_Loading.png
  .loki/reference/chrome_laptop_Pages_Bite_No_Bite.png
  .loki/reference/chrome_laptop_Pages_Home_Loading.png
  .loki/reference/chrome_laptop_Pages_Profile_Loading.png
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.spec.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/followers/page/src/lib/components/followers-list/__specs__/followers-list.component.spec.ts
  libs/bite-tribe/followers/page/src/lib/components/followers-list/followers-list.component.html
  libs/bite-tribe/gallery/page/src/lib/components/gallery-page/__specs__/gallery.page.spec.ts
  libs/bite-tribe/gallery/page/src/lib/components/gallery-page/gallery.page.html
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/home.component.spec.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/leaderboard/page/src/lib/components/leaderboard-list/__specs__/leaderboard-list.component.spec.ts
  libs/bite-tribe/leaderboard/page/src/lib/components/leaderboard-list/leaderboard-list.component.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/__specs__/profile.component.spec.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.html
  libs/bite-tribe/search/page/src/lib/components/search-page/__specs__/search.page.spec.ts
  libs/bite-tribe/search/page/src/lib/components/search-page/search.page.html
  ssot/pages/Implementation - Feature Patterns.md
Due: eslint --fix, prettier --write

fix: stop pending state on failure
  .loki/reference/chrome_iphone7_Components_Bite_Failed_Upload.png
  .loki/reference/chrome_laptop_Components_Bite_Failed_Upload.png
  apps/bite-tribe-business/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe-common/bite/src/lib/__specs__/bite.component.spec.ts
  libs/bite-tribe-common/bite/src/lib/__specs__/bite.stories.ts
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe-common/bite/src/lib/bite.component.scss
  libs/bite-tribe-common/bite/src/lib/bite.component.ts
  libs/bite-tribe/api/src/lib/__specs__/bite-tribe-api.service.spec.ts
  libs/bite-tribe/api/src/lib/bite-api/bite-api.service.ts
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/bite/data-access/jest.config.ts
  libs/bite-tribe/bite/data-access/src/lib/__specs__/bite-data-access.service.spec.ts
  libs/bite-tribe/bite/data-access/src/lib/bite-data-access.service.ts
  ssot/pages/UC - Create And Maintain Personal Bites.md
Due: eslint --fix, prettier --write, stylelint --fix

fix: use neutral text for other users if user is uploading an image (creating a bite)
  .loki/reference/chrome_iphone7_Components_Bite_Pending_Upload_For_Viewer.png
  .loki/reference/chrome_laptop_Components_Bite_Pending_Upload_For_Viewer.png
  apps/bite-tribe-business/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe-common/bite/src/lib/__specs__/bite.component.spec.ts
  libs/bite-tribe-common/bite/src/lib/__specs__/bite.stories.ts
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe-common/bite/src/lib/bite.component.ts
  ssot/pages/UC - Create And Maintain Personal Bites.md
Due: eslint --fix, prettier --write

feat: threshold for pending image upload and being treated as failed
  libs/bite-tribe-common/bite/src/lib/__specs__/bite.component.spec.ts
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe-common/bite/src/lib/bite.component.ts
  libs/bite-tribe-common/bite/src/lib/utils/__specs__/image-status.spec.ts
  libs/bite-tribe-common/bite/src/lib/utils/image-status.ts
  ssot/pages/UC - Create And Maintain Personal Bites.md
Due: eslint --fix, prettier --write

feat: align image status handling on home feed and details page
  .loki/reference/chrome_iphone7_Pages_Bite_Failed_Image.png
  .loki/reference/chrome_iphone7_Pages_Bite_Pending_Image_For_Owner.png
  .loki/reference/chrome_iphone7_Pages_Bite_Pending_Image_For_Viewer.png
  .loki/reference/chrome_laptop_Pages_Bite_Failed_Image.png
  .loki/reference/chrome_laptop_Pages_Bite_Pending_Image_For_Owner.png
  .loki/reference/chrome_laptop_Pages_Bite_Pending_Image_For_Viewer.png
  libs/bite-tribe-common/bite/src/index.ts
  libs/bite-tribe-common/bite/src/lib/__specs__/bite.component.spec.ts
  libs/bite-tribe-common/bite/src/lib/bite-image-status/__specs__/bite-image-status.component.spec.ts
  libs/bite-tribe-common/bite/src/lib/bite-image-status/bite-image-status.component.html
  libs/bite-tribe-common/bite/src/lib/bite-image-status/bite-image-status.component.scss
  libs/bite-tribe-common/bite/src/lib/bite-image-status/bite-image-status.component.ts
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe-common/bite/src/lib/bite.component.scss
  libs/bite-tribe-common/bite/src/lib/bite.component.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.stories.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.scss
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.ts
  ssot/pages/UC - Inspect Bite Details.md
Due: eslint --fix, prettier --write, stylelint --fix

test: add e2e tests for image upload bug and mitigation
  apps/bite-tribe-e2e/src/pages/bite-details.page.ts
  apps/bite-tribe-e2e/src/pages/home.page.ts
  apps/bite-tribe-e2e/src/support/firestore.ts
  apps/bite-tribe-e2e/src/tests/bite-image-upload-status.spec.ts
  libs/bite-tribe-common/bite/src/lib/local-image-picker/local-image-picker.service.ts
  ssot/pages/Current State - E2E Coverage.md
  ssot/pages/UC - Create And Maintain Personal Bites.md
  ssot/pages/UC - Inspect Bite Details.md
Due: eslint --fix, prettier --write

test: add tests
  libs/bite-tribe/api/src/lib/utils/__specs__/read-local-image-as-data-url.spec.ts
  libs/bite-tribe/bite/data-access/src/lib/__specs__/bite-data-access.service.spec.ts
Due: eslint --fix, prettier --write

fix: fix alignment and spacing for resto name and city in bite card
  .loki/reference/chrome_iphone7_Components_Bite_Bite.png
  .loki/reference/chrome_iphone7_Components_Bite_Edit_Mode.png
  .loki/reference/chrome_iphone7_Components_Bite_Failed_Upload.png
  .loki/reference/chrome_iphone7_Components_Bite_Failed_Upload_For_Owner.png
  .loki/reference/chrome_iphone7_Components_Bite_Liked_By_Me.png
  .loki/reference/chrome_iphone7_Components_Bite_Liked_By_Me_With_Lagging_Aggregate.png
  .loki/reference/chrome_iphone7_Components_Bite_Long_Place_And_Location.png
  .loki/reference/chrome_iphone7_Components_Bite_No_Rating.png
  .loki/reference/chrome_iphone7_Components_Bite_Pending_To_Uploaded.png
  .loki/reference/chrome_iphone7_Components_Bite_Pending_Upload.png
  .loki/reference/chrome_iphone7_Components_Bite_Pending_Upload_For_Viewer.png
  .loki/reference/chrome_iphone7_Components_Bite_Quick_Rating.png
  .loki/reference/chrome_iphone7_Components_Bite_Quick_Rating_For_Edit_Mode.png
  .loki/reference/chrome_iphone7_Components_Bite_Uploaded_State.png
  .loki/reference/chrome_iphone7_Pages_Home_My_Bites.png
  .loki/reference/chrome_iphone7_Pages_Home_Weekly_Bites.png
  .loki/reference/chrome_iphone7_Pages_Home_With_Bites.png
  .loki/reference/chrome_iphone7_Pages_Profile_Default.png
  .loki/reference/chrome_iphone7_Pages_Profile_No_Followers_Or_Following.png
  .loki/reference/chrome_iphone7_Pages_Profile_Own_Profile.png
  .loki/reference/chrome_iphone7_Pages_Profile_With_Many_Flags.png
  .loki/reference/chrome_laptop_Components_Bite_Bite.png
  .loki/reference/chrome_laptop_Components_Bite_Edit_Mode.png
  .loki/reference/chrome_laptop_Components_Bite_Failed_Upload.png
  .loki/reference/chrome_laptop_Components_Bite_Failed_Upload_For_Owner.png
  .loki/reference/chrome_laptop_Components_Bite_Liked_By_Me.png
  .loki/reference/chrome_laptop_Components_Bite_Liked_By_Me_With_Lagging_Aggregate.png
  .loki/reference/chrome_laptop_Components_Bite_Long_Place_And_Location.png
  .loki/reference/chrome_laptop_Components_Bite_No_Rating.png
  .loki/reference/chrome_laptop_Components_Bite_Pending_To_Uploaded.png
  .loki/reference/chrome_laptop_Components_Bite_Pending_Upload.png
  .loki/reference/chrome_laptop_Components_Bite_Pending_Upload_For_Viewer.png
  .loki/reference/chrome_laptop_Components_Bite_Quick_Rating.png
  .loki/reference/chrome_laptop_Components_Bite_Quick_Rating_For_Edit_Mode.png
  .loki/reference/chrome_laptop_Components_Bite_Uploaded_State.png
  libs/bite-tribe-common/bite/src/lib/__specs__/bite.stories.ts
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe-common/bite/src/lib/bite.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: fix alignment and spacing for resto name and city in bite card (#1174)
  .loki/reference/chrome_iphone7_Components_Bite_Bite.png
  .loki/reference/chrome_iphone7_Components_Bite_Edit_Mode.png
  .loki/reference/chrome_iphone7_Components_Bite_Failed_Upload.png
  .loki/reference/chrome_iphone7_Components_Bite_Failed_Upload_For_Owner.png
  .loki/reference/chrome_iphone7_Components_Bite_Liked_By_Me.png
  .loki/reference/chrome_iphone7_Components_Bite_Liked_By_Me_With_Lagging_Aggregate.png
  .loki/reference/chrome_iphone7_Components_Bite_Long_Place_And_Location.png
  .loki/reference/chrome_iphone7_Components_Bite_No_Rating.png
  .loki/reference/chrome_iphone7_Components_Bite_Pending_To_Uploaded.png
  .loki/reference/chrome_iphone7_Components_Bite_Pending_Upload.png
  .loki/reference/chrome_iphone7_Components_Bite_Pending_Upload_For_Viewer.png
  .loki/reference/chrome_iphone7_Components_Bite_Quick_Rating.png
  .loki/reference/chrome_iphone7_Components_Bite_Quick_Rating_For_Edit_Mode.png
  .loki/reference/chrome_iphone7_Components_Bite_Uploaded_State.png
  .loki/reference/chrome_iphone7_Pages_Home_My_Bites.png
  .loki/reference/chrome_iphone7_Pages_Home_Weekly_Bites.png
  .loki/reference/chrome_iphone7_Pages_Home_With_Bites.png
  .loki/reference/chrome_iphone7_Pages_Profile_Default.png
  .loki/reference/chrome_iphone7_Pages_Profile_No_Followers_Or_Following.png
  .loki/reference/chrome_iphone7_Pages_Profile_Own_Profile.png
  .loki/reference/chrome_iphone7_Pages_Profile_With_Many_Flags.png
  .loki/reference/chrome_laptop_Components_Bite_Bite.png
  .loki/reference/chrome_laptop_Components_Bite_Edit_Mode.png
  .loki/reference/chrome_laptop_Components_Bite_Failed_Upload.png
  .loki/reference/chrome_laptop_Components_Bite_Failed_Upload_For_Owner.png
  .loki/reference/chrome_laptop_Components_Bite_Liked_By_Me.png
  .loki/reference/chrome_laptop_Components_Bite_Liked_By_Me_With_Lagging_Aggregate.png
  .loki/reference/chrome_laptop_Components_Bite_Long_Place_And_Location.png
  .loki/reference/chrome_laptop_Components_Bite_No_Rating.png
  .loki/reference/chrome_laptop_Components_Bite_Pending_To_Uploaded.png
  .loki/reference/chrome_laptop_Components_Bite_Pending_Upload.png
  .loki/reference/chrome_laptop_Components_Bite_Pending_Upload_For_Viewer.png
  .loki/reference/chrome_laptop_Components_Bite_Quick_Rating.png
  .loki/reference/chrome_laptop_Components_Bite_Quick_Rating_For_Edit_Mode.png
  .loki/reference/chrome_laptop_Components_Bite_Uploaded_State.png
  libs/bite-tribe-common/bite/src/lib/__specs__/bite.stories.ts
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe-common/bite/src/lib/bite.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

test: add e2e test
  apps/bite-tribe-e2e/src/pages/bite-trail.page.ts
  apps/bite-tribe-e2e/src/pages/bucket-lists.page.ts
  apps/bite-tribe-e2e/src/pages/market-place.page.ts
  apps/bite-tribe-e2e/src/pages/rate-bite-trail.page.ts
  apps/bite-tribe-e2e/src/support/app-menu.ts
  apps/bite-tribe-e2e/src/support/firestore.ts
  apps/bite-tribe-e2e/src/tests/save-and-rate-bite-trail.spec.ts
  libs/bite-tribe-common/bite-trail/src/lib/bite-trail/bite-trail.html
  libs/bite-tribe/bite-trail/page/src/lib/components/bite-trail-bites-page/bite-trail-bites.page.html
  libs/bite-tribe/bucketlist/page/src/lib/components/bucketlists-page/bucketlists.page.html
  libs/bite-tribe/bucketlist/page/src/lib/components/rate-bucketlist-page/rate-bucketlist.page.html
  libs/bite-tribe/store/src/lib/bucketlists/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/bucketlists/effects.ts
  libs/bite-tribe/store/src/lib/bucketlists/utils/__specs__/should-load-bucketlists.spec.ts
  libs/bite-tribe/store/src/lib/bucketlists/utils/should-load-bucketlists.ts
  libs/common/ui/page/src/lib/menu/app-menu.component.html
  ssot/pages/Current State - E2E Coverage.md
Due: eslint --fix, prettier --write

fix: fix refresh bucket lists overview after purchase of bite trail
  apps/bite-tribe-e2e/src/pages/bite-trail.page.ts
  apps/bite-tribe-e2e/src/pages/bucket-lists.page.ts
  apps/bite-tribe-e2e/src/tests/save-and-rate-bite-trail.spec.ts
Due: eslint --fix, prettier --write

test: e2e tests for settings
  apps/bite-tribe-e2e/src/pages/settings.page.ts
  apps/bite-tribe-e2e/src/support/app-menu.ts
  apps/bite-tribe-e2e/src/tests/personal-settings.spec.ts
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.html
  libs/common/ui/page/src/lib/menu/app-menu.component.html
  ssot/pages/Current State - E2E Coverage.md
Due: eslint --fix, prettier --write

test: add e2e tests for leaderboard
  apps/bite-tribe-e2e/src/pages/leaderboard.page.ts
  apps/bite-tribe-e2e/src/support/app-menu.ts
  apps/bite-tribe-e2e/src/tests/leaderboard.spec.ts
  libs/common/ui/page/src/lib/menu/app-menu.component.html
  ssot/pages/Current State - E2E Coverage.md
Due: eslint --fix, prettier --write

test: extend e2e test suite (#1175)
  apps/bite-tribe-e2e/src/pages/bite-trail.page.ts
  apps/bite-tribe-e2e/src/pages/bucket-lists.page.ts
  apps/bite-tribe-e2e/src/pages/leaderboard.page.ts
  apps/bite-tribe-e2e/src/pages/market-place.page.ts
  apps/bite-tribe-e2e/src/pages/rate-bite-trail.page.ts
  apps/bite-tribe-e2e/src/pages/settings.page.ts
  apps/bite-tribe-e2e/src/support/app-menu.ts
  apps/bite-tribe-e2e/src/support/firestore.ts
  apps/bite-tribe-e2e/src/tests/leaderboard.spec.ts
  apps/bite-tribe-e2e/src/tests/personal-settings.spec.ts
  apps/bite-tribe-e2e/src/tests/save-and-rate-bite-trail.spec.ts
  libs/bite-tribe-common/bite-trail/src/lib/bite-trail/bite-trail.html
  libs/bite-tribe/bite-trail/page/src/lib/components/bite-trail-bites-page/bite-trail-bites.page.html
  libs/bite-tribe/bucketlist/page/src/lib/components/bucketlists-page/bucketlists.page.html
  libs/bite-tribe/bucketlist/page/src/lib/components/rate-bucketlist-page/rate-bucketlist.page.html
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.html
  libs/bite-tribe/store/src/lib/bucketlists/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/bucketlists/effects.ts
  libs/bite-tribe/store/src/lib/bucketlists/utils/__specs__/should-load-bucketlists.spec.ts
  libs/bite-tribe/store/src/lib/bucketlists/utils/should-load-bucketlists.ts
  libs/common/ui/page/src/lib/menu/app-menu.component.html
  ssot/pages/Current State - E2E Coverage.md
Due: eslint --fix, prettier --write

docs: add the release candidate test charter
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Release Candidate Test Charter.md
  ssot/pages/Current State - Release State.md
  ssot/pages/contents.md
  ssot/pages/issue-911.md
Due: prettier --write

docs: add the release candidate test charter (#1180)
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Release Candidate Test Charter.md
  ssot/pages/Current State - Release State.md
  ssot/pages/contents.md
  ssot/pages/issue-911.md
Due: prettier --write

docs: correct the build and Crashlytics premises in the test charter
  ssot/pages/Current State - Release Candidate Test Charter.md
Due: prettier --write

docs: outcome from test run 1
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Release Candidate Test Charter.md
Due: prettier --write

docs: outcome from test run 1 (#1191)
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Release Candidate Test Charter.md
Due: prettier --write

chore: prepare build 1.0.1-88 release
  CHANGELOG.md
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: prettier --write

chore: prepare build 1.0.1-88 release (#1192)
  CHANGELOG.md
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: prettier --write

feat: feedback and blocking state after registration
  .loki/reference/chrome_iphone7_Pages_Email_Registration_Pending.png
  .loki/reference/chrome_laptop_Pages_Email_Registration_Pending.png
  apps/bite-tribe-business/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/common/ui/auth/src/lib/components/registration/__specs__/registration.component.spec.ts
  libs/common/ui/auth/src/lib/components/registration/__specs__/registration.component.stories.ts
  libs/common/ui/auth/src/lib/components/registration/registration.component.html
  libs/common/ui/auth/src/lib/components/registration/registration.component.scss
  libs/common/ui/auth/src/lib/components/registration/registration.component.ts
  libs/common/ui/auth/src/lib/integration/registration/__specs__/registration.service.spec.ts
  libs/common/ui/auth/src/lib/integration/registration/registration-container.component.ts
  libs/common/ui/auth/src/lib/integration/registration/registration.service.ts
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Release Candidate Test Charter.md
  ssot/pages/UC - Guide New Users After Registration.md
Due: eslint --fix, prettier --write, stylelint --fix

feat: feedback and blocking state after registration (#1193)
  .loki/reference/chrome_iphone7_Pages_Email_Registration_Pending.png
  .loki/reference/chrome_laptop_Pages_Email_Registration_Pending.png
  apps/bite-tribe-business/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/common/ui/auth/src/lib/components/registration/__specs__/registration.component.spec.ts
  libs/common/ui/auth/src/lib/components/registration/__specs__/registration.component.stories.ts
  libs/common/ui/auth/src/lib/components/registration/registration.component.html
  libs/common/ui/auth/src/lib/components/registration/registration.component.scss
  libs/common/ui/auth/src/lib/components/registration/registration.component.ts
  libs/common/ui/auth/src/lib/integration/registration/__specs__/registration.service.spec.ts
  libs/common/ui/auth/src/lib/integration/registration/registration-container.component.ts
  libs/common/ui/auth/src/lib/integration/registration/registration.service.ts
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Release Candidate Test Charter.md
  ssot/pages/UC - Guide New Users After Registration.md
Due: eslint --fix, prettier --write, stylelint --fix

test: e2e tests
  apps/bite-tribe-e2e/src/pages/delete-account.page.ts
  apps/bite-tribe-e2e/src/pages/settings.page.ts
  apps/bite-tribe-e2e/src/support/app-menu.ts
  apps/bite-tribe-e2e/src/tests/account-and-legal.spec.ts
  apps/bite-tribe-firebase/project.json
  libs/common/ui/page/src/lib/menu/app-menu.component.html
  ssot/pages/Current State - E2E Coverage.md
  ssot/pages/UC - Use Account And Legal Flows.md
Due: eslint --fix, prettier --write

ci: fix storybook build
  libs/bite-tribe/delete-account/src/lib/components/delete-my-account/__specs__/delete-my-account.stories.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,html}
  prettier --write: any of: *.{ts,js,html,scss,json,md}
  stylelint --fix: any of: *.scss
