Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,html}": "eslint --fix",
  "*.{ts,js,html,scss,json,md}": "prettier --write",
  "*.scss": "stylelint --fix"
}

test: adjust tests
  libs/bite-tribe/map/data-access/src/lib/__specs__/map-data-access.service.spec.ts
  libs/bite-tribe/map/page/src/lib/integration/__specs__/map.service.spec.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/reducer.spec.ts
Due: eslint --fix, prettier --write

test: add tests
  libs/bite-tribe/store/src/lib/__specs__/bite-tribe-store.service.spec.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/bites-by-bucketlist.selector.spec.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/bites-by-id.selector.spec.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/selectors.spec.ts
Due: eslint --fix, prettier --write

fix(640): separate profile and bucketlist bites from home feed (#642)
  libs/bite-tribe/map/data-access/src/lib/__specs__/map-data-access.service.spec.ts
  libs/bite-tribe/map/data-access/src/lib/map-data-access.service.ts
  libs/bite-tribe/map/page/src/lib/integration/__specs__/map.service.spec.ts
  libs/bite-tribe/map/page/src/lib/integration/map.service.ts
  libs/bite-tribe/profile/data-access/src/lib/__specs__/profile-data-access.service.spec.ts
  libs/bite-tribe/profile/data-access/src/lib/profile-data-access.service.ts
  libs/bite-tribe/store/src/lib/__specs__/bite-tribe-store.service.spec.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/bites-by-bucketlist.selector.spec.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/bites-by-id.selector.spec.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/reducer.spec.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/selectors.spec.ts
  libs/bite-tribe/store/src/lib/bites/adapter.ts
  libs/bite-tribe/store/src/lib/bites/bites-by-bucketlist.selector.ts
  libs/bite-tribe/store/src/lib/bites/bites-by-id.selector.ts
  libs/bite-tribe/store/src/lib/bites/bites-by-restaurant.selector.ts
  libs/bite-tribe/store/src/lib/bites/home-bites.selector.ts
  libs/bite-tribe/store/src/lib/bites/index.ts
  libs/bite-tribe/store/src/lib/bites/reducer.ts
  libs/bite-tribe/store/src/lib/bites/selectors.ts
  libs/bite-tribe/store/src/lib/filtering-and-sorting/__specs__/selectors.spec.ts
  libs/bite-tribe/store/src/lib/filtering-and-sorting/filtering-and-sorting-slice.model.ts
  libs/bite-tribe/store/src/lib/filtering-and-sorting/reducer.ts
  libs/bite-tribe/store/src/lib/filtering-and-sorting/selectors.ts
  libs/bite-tribe/store/src/lib/restaurants/selectors.ts
Due: eslint --fix, prettier --write

fix: fix not showing drawer on bucketlist map
  libs/bite-tribe-common/map/src/lib/map/map.component.ts
  libs/bite-tribe/home/page/src/lib/integration/bucket-list.container.ts
Due: eslint --fix, prettier --write

test: adjust test
  libs/bite-tribe-common/map/src/lib/map/__specs__/map.component.spec.ts
Due: eslint --fix, prettier --write

feat: toast error message on file upload
  libs/bite-tribe/store/src/lib/bites/effects.ts
Due: eslint --fix, prettier --write

chore: increase build number
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: none

fix: fix my bites map after changes
  libs/bite-tribe/map/data-access/src/lib/map-data-access.service.ts
  libs/bite-tribe/map/page/src/lib/integration/map.service.ts
Due: eslint --fix, prettier --write

test: fix tests afterwards
  libs/bite-tribe/map/data-access/src/lib/__specs__/map-data-access.service.spec.ts
  libs/bite-tribe/map/page/src/lib/integration/__specs__/map.service.spec.ts
Due: eslint --fix, prettier --write

chore: npm i
  package-lock.json
Due: prettier --write

fix(650): correct "Bucketlist(s)" typo to "Bucket List(s)" in user-visible text
  apps/bite-tribe/src/assets/i18n/en.json
  libs/bite-tribe/bucketlist/page/src/lib/components/bucketlists-page/__specs__/my-bucketlists.stories.ts
  libs/bite-tribe/bucketlist/page/src/lib/components/bucketlists-page/bucketlists.page.html
  libs/bite-tribe/bucketlist/page/src/lib/components/bucketlists-page/bucketlists.page.ts
  package-lock.json
Due: eslint --fix, prettier --write

fix(643): fix click on marker in some maps (#644)
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  libs/bite-tribe-common/map/src/lib/map/__specs__/map.component.spec.ts
  libs/bite-tribe-common/map/src/lib/map/map.component.ts
  libs/bite-tribe/home/page/src/lib/integration/bucket-list.container.ts
  libs/bite-tribe/map/data-access/src/lib/__specs__/map-data-access.service.spec.ts
  libs/bite-tribe/map/data-access/src/lib/map-data-access.service.ts
  libs/bite-tribe/map/page/src/lib/integration/__specs__/map.service.spec.ts
  libs/bite-tribe/map/page/src/lib/integration/map.service.ts
  libs/bite-tribe/store/src/lib/bites/effects.ts
Due: eslint --fix, prettier --write

fix: fix compile error
  libs/bite-tribe/bucketlist/page/src/lib/components/edit-bucketlist-page/edit-bucketlist.page.ts
Due: eslint --fix, prettier --write

feat: styling of bucket list items and refresh after bucket list created
  libs/bite-tribe/bucketlist/page/src/lib/components/bucketlists-page/bucketlists.page.html
  libs/bite-tribe/bucketlist/page/src/lib/components/bucketlists-page/bucketlists.page.scss
  libs/bite-tribe/bucketlist/page/src/lib/integration/bucketlists.container.ts
  libs/bite-tribe/store/src/lib/bucketlists/actions.ts
  libs/bite-tribe/store/src/lib/bucketlists/effects.ts
  libs/bite-tribe/store/src/lib/bucketlists/utils/should-load-bucketlists.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: refresh after bucketlist deleted
  libs/bite-tribe/store/src/lib/bucketlists/effects.ts
Due: eslint --fix, prettier --write

style: restyle registration page
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.scss
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/common/ui/auth/src/lib/components/registration/registration.component.html
  libs/common/ui/auth/src/lib/components/registration/registration.component.scss
  libs/common/ui/auth/src/lib/components/registration/registration.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: fix adding bite to an empty bucket list
  libs/bite-tribe/bucketlist/page/src/lib/components/edit-bucketlist-page/edit-bucketlist.page.html
  libs/bite-tribe/details/page/src/lib/components/bucket-list-selection/bucket-list-selection.component.ts
Due: eslint --fix, prettier --write

test: add tests
  libs/bite-tribe/api/src/lib/__specs__/bite-tribe-api.service.spec.ts
  libs/bite-tribe/api/src/lib/bucketlist-api/__specs__/bucketlist-api.service.spec.ts
  libs/bite-tribe/bucketlist/page/src/lib/components/edit-bucketlist-page/__specs__/edit-bucketlist.page.spec.ts
  libs/bite-tribe/bucketlist/page/src/lib/components/edit-bucketlist-page/edit-bucketlist.page.ts
  libs/bite-tribe/store/src/lib/bucketlists/effects.ts
Due: eslint --fix, prettier --write

test: add tests
  libs/bite-tribe/bucketlist/page/src/lib/components/bucketlists-page/__specs__/bucketlists.page.spec.ts
Due: eslint --fix, prettier --write

style: adjust styling
  libs/common/ui/auth/src/lib/components/login/login.component.html
  libs/common/ui/auth/src/lib/components/login/login.component.scss
  libs/common/ui/auth/src/lib/components/login/login.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat(648): user wants to edit and delete bucket lists (#651)
  libs/bite-tribe/api/src/lib/__specs__/bite-tribe-api.service.spec.ts
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/api/src/lib/bucketlist-api/__specs__/bucketlist-api.service.spec.ts
  libs/bite-tribe/api/src/lib/bucketlist-api/bucketlist-api.service.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.scss
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/bucketlist/data-access/src/lib/__specs__/bucketlists-data-access.service.spec.ts
  libs/bite-tribe/bucketlist/data-access/src/lib/bucketlists-data-access.service.ts
  libs/bite-tribe/bucketlist/page/src/index.ts
  libs/bite-tribe/bucketlist/page/src/lib/components/bucketlists-page/__specs__/bucketlists.page.spec.ts
  libs/bite-tribe/bucketlist/page/src/lib/components/bucketlists-page/bucketlists.page.html
  libs/bite-tribe/bucketlist/page/src/lib/components/bucketlists-page/bucketlists.page.scss
  libs/bite-tribe/bucketlist/page/src/lib/components/bucketlists-page/bucketlists.page.ts
  libs/bite-tribe/bucketlist/page/src/lib/components/edit-bucketlist-page/__specs__/edit-bucketlist.page.spec.ts
  libs/bite-tribe/bucketlist/page/src/lib/components/edit-bucketlist-page/edit-bucketlist.page.html
  libs/bite-tribe/bucketlist/page/src/lib/components/edit-bucketlist-page/edit-bucketlist.page.scss
  libs/bite-tribe/bucketlist/page/src/lib/components/edit-bucketlist-page/edit-bucketlist.page.ts
  libs/bite-tribe/bucketlist/page/src/lib/integration/__specs__/bucketlists-service.spec.ts
  libs/bite-tribe/bucketlist/page/src/lib/integration/__specs__/bucketlists.container.spec.ts
  libs/bite-tribe/bucketlist/page/src/lib/integration/bucketlists.container.ts
  libs/bite-tribe/bucketlist/page/src/lib/integration/bucketlists.service.ts
  libs/bite-tribe/bucketlist/page/src/lib/integration/edit-bucketlists.container.ts
  libs/bite-tribe/bucketlist/page/src/lib/integration/edit-bucketlists.service.ts
  libs/bite-tribe/details/page/src/lib/components/bucket-list-selection/bucket-list-selection.component.ts
  libs/bite-tribe/shell/src/lib/routes.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/bucketlists/actions.ts
  libs/bite-tribe/store/src/lib/bucketlists/effects.ts
  libs/bite-tribe/store/src/lib/bucketlists/utils/should-load-bucketlists.ts
  libs/common/ui/auth/src/lib/components/login/login.component.html
  libs/common/ui/auth/src/lib/components/login/login.component.scss
  libs/common/ui/auth/src/lib/components/login/login.component.ts
  libs/common/ui/auth/src/lib/components/registration/registration.component.html
  libs/common/ui/auth/src/lib/components/registration/registration.component.scss
  libs/common/ui/auth/src/lib/components/registration/registration.component.ts
  package-lock.json
Due: eslint --fix, prettier --write, stylelint --fix

fix: proper logout on native
  libs/common/ta-firestore/src/lib/auth.service.ts
Due: eslint --fix, prettier --write

test: add test
  libs/common/ta-firestore/src/lib/ngrx-store/__specs__/effects.spec.ts
Due: eslint --fix, prettier --write

test: fix tests
  libs/common/ta-firestore/src/lib/__specs__/auth.service.spec.ts
  libs/common/ta-firestore/src/lib/auth.service.ts
  libs/common/ta-firestore/src/lib/ngrx-store/__specs__/effects.spec.ts
  libs/common/ta-firestore/src/lib/ngrx-store/effects.ts
Due: eslint --fix, prettier --write

fix(649): fix logout on native (#653)
  libs/common/ta-firestore/src/lib/__specs__/auth.service.spec.ts
  libs/common/ta-firestore/src/lib/auth.service.ts
  libs/common/ta-firestore/src/lib/ngrx-store/__specs__/effects.spec.ts
  libs/common/ta-firestore/src/lib/ngrx-store/effects.ts
Due: eslint --fix, prettier --write

fix: fix invalid form on older bites
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/bite/page/src/lib/components/page/utils/__specs__/get-normalized-price.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/utils/__specs__/normalize-price-for-backend.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/utils/__specs__/normalize-price-for-form.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/utils/normalize-price-for-backend.ts
  libs/bite-tribe/bite/page/src/lib/components/page/utils/normalize-price-for-form.ts
  libs/common/ui/auth/src/lib/components/login/login.component.ts
Due: eslint --fix, prettier --write

fix: fix invalid form on older bites (#654)
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/bite/page/src/lib/components/page/utils/__specs__/get-normalized-price.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/utils/__specs__/normalize-price-for-backend.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/utils/__specs__/normalize-price-for-form.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/utils/normalize-price-for-backend.ts
  libs/bite-tribe/bite/page/src/lib/components/page/utils/normalize-price-for-form.ts
  libs/common/ui/auth/src/lib/components/login/login.component.ts
Due: eslint --fix, prettier --write

feat: fix forward logic on notifications click
  libs/common/push-notifications/src/lib/init-push.ts
Due: eslint --fix, prettier --write

fix: fix wrong handling of review id
  libs/bite-tribe/api/src/lib/review-api/utils/load-review-by-bite-id.ts
Due: eslint --fix, prettier --write

style: adjust styling of review field in bite details page
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: refresh reviews after saving
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/api/src/lib/review-api/review-api.service.ts
  libs/bite-tribe/store/src/lib/reviews/effects.ts
Due: eslint --fix, prettier --write

test: adjust test
  libs/bite-tribe/api/src/lib/review-api/utils/__specs__/load-review-by-bite-id.spec.ts
Due: eslint --fix, prettier --write

feat: 408 add new bite from bucketlist item button
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.spec.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.ts
Due: eslint --fix, prettier --write

feat(#658): send push notification to bite creator on new review
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-firebase/functions/src/functions/notify-bite-creator-on-review.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/api/src/lib/review-api/review-api.service.ts
  libs/bite-tribe/api/src/lib/review-api/utils/__specs__/load-review-by-bite-id.spec.ts
  libs/bite-tribe/api/src/lib/review-api/utils/load-review-by-bite-id.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.scss
  libs/bite-tribe/store/src/lib/reviews/effects.ts
  libs/common/push-notifications/src/lib/init-push.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: 408 navigate to new bite page and partially populate bite info
  libs/bite-tribe/details/data-access/src/lib/__specs__/details-data-access.service.spec.ts
  libs/bite-tribe/details/data-access/src/lib/details-data-access.service.ts
  libs/bite-tribe/details/page/src/lib/integration/__specs__/details.service.spec.ts
  libs/bite-tribe/details/page/src/lib/integration/details.container.ts
  libs/bite-tribe/details/page/src/lib/integration/details.service.ts
  libs/bite-tribe/menu/data-access/src/lib/menu-data-access.service.ts
  libs/bite-tribe/store/src/lib/__specs__/bite-tribe-store.service.spec.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
Due: eslint --fix, prettier --write

feat: 408 improve layout for new bite if in bucketlist feature
  libs/bite-tribe-common/styles/_globals.scss
  libs/bite-tribe/details/page/src/lib/components/bucket-list-selection/__specs__/bucket-list-selection.component.spec.ts
  libs/bite-tribe/details/page/src/lib/components/bucket-list-selection/bucket-list-selection.component.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.spec.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.scss
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.ts
  libs/bite-tribe/details/page/src/lib/pipes/__specs__/get-bucketlist-icon.pipe.spec.ts
  libs/bite-tribe/details/page/src/lib/pipes/__specs__/get-bucketlists-icon.pipe.spec.ts
  libs/bite-tribe/details/page/src/lib/pipes/get-bucketlist-icon.pipe.ts
  libs/bite-tribe/details/page/src/lib/pipes/get-bucketlists-icon.pipe.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: 408 fix test
  libs/bite-tribe/details/page/src/lib/pipes/__specs__/get-bucketlists-icon.pipe.spec.ts
Due: eslint --fix, prettier --write

feat: 408 show cursor pointer on links
  libs/bite-tribe-common/bite/src/lib/bite.component.html
Due: eslint --fix, prettier --write

feat: 408 show cursor pointer on links
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
Due: eslint --fix, prettier --write
