Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,html}": "eslint --fix",
  "*.{ts,js,html,scss,json,md}": "prettier --write",
  "*.scss": "stylelint --fix"
}

fix: make preferred currency and favorite currencies selection clear (#1207)
  .loki/reference/chrome_iphone7_Components_Currency_Selector_Default.png
  .loki/reference/chrome_iphone7_Components_Currency_Selector_Favorites_Empty.png
  .loki/reference/chrome_iphone7_Components_Currency_Selector_Favorites_Selected.png
  .loki/reference/chrome_iphone7_Components_Currency_Selector_Readonly_Favorites.png
  .loki/reference/chrome_iphone7_Components_Currency_Selector_With_Favorites.png
  .loki/reference/chrome_laptop_Components_Currency_Selector_Default.png
  .loki/reference/chrome_laptop_Components_Currency_Selector_Favorites_Empty.png
  .loki/reference/chrome_laptop_Components_Currency_Selector_Favorites_Selected.png
  .loki/reference/chrome_laptop_Components_Currency_Selector_Readonly_Favorites.png
  .loki/reference/chrome_laptop_Components_Currency_Selector_With_Favorites.png
  apps/bite-tribe-business/src/assets/i18n/en.json
  apps/bite-tribe-e2e/src/pages/settings.page.ts
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/bite/page/src/lib/components/page/price-input/price-input.component.html
  libs/bite-tribe/onboarding/page/src/lib/components/currency-step/currency-step.component.html
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.html
  libs/common/ui/currency-selector/src/index.ts
  libs/common/ui/currency-selector/src/lib/__specs__/currency-selector.component.spec.ts
  libs/common/ui/currency-selector/src/lib/__specs__/currency-selector.component.stories.ts
  libs/common/ui/currency-selector/src/lib/currency-selector.component.html
  libs/common/ui/currency-selector/src/lib/currency-selector.component.scss
  libs/common/ui/currency-selector/src/lib/currency-selector.component.ts
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Release Candidate Test Charter.md
Due: eslint --fix, prettier --write, stylelint --fix

chore: prepare build 1.0.1-89 release
  CHANGELOG.md
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: prettier --write

chore: prepare build 1.0.1-89 release (#1208)
  CHANGELOG.md
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: prettier --write

feat: notify users when a new app version is available (#1194)
  apps/bite-tribe-business/src/assets/i18n/en.json
  apps/bite-tribe-firebase/functions/src/functions/notifications/__specs__/send-new-version-notification.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/notifications/send-new-version-notification.ts
  apps/bite-tribe-firebase/functions/src/functions/notifications/send-weekly-bite-notification.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/am.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/ar.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/de.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/en.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/es.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/fr.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/id.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/it.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/pt.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/th.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/tr.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/notification-messages.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/model/notification-platform.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/model/push-token.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/__specs__/get-tokens-by-language.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/__specs__/get-tokens.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/get-all-user-uids.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/get-tokens-by-language.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/get-tokens.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/send-localized-notification.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  libs/bite-tribe-business/migrations/data-access/src/lib/__specs__/migrations-data-access.service.spec.ts
  libs/bite-tribe-business/migrations/data-access/src/lib/migrations-data-access.service.ts
  libs/bite-tribe-business/migrations/page/src/lib/component/page/__specs__/migrations.spec.ts
  libs/bite-tribe-business/migrations/page/src/lib/component/page/migrations.html
  libs/bite-tribe-business/migrations/page/src/lib/component/page/migrations.scss
  libs/bite-tribe-business/migrations/page/src/lib/component/page/migrations.ts
  libs/bite-tribe-business/migrations/page/src/lib/component/page/new-version-notification.ts
  libs/bite-tribe-business/migrations/page/src/lib/integration/__specs__/migrations.service.spec.ts
  libs/bite-tribe-business/migrations/page/src/lib/integration/migrations-container.ts
  libs/bite-tribe-business/migrations/page/src/lib/integration/migrations.service.ts
  ssot/pages/Implementation - Firebase Functions.md
  ssot/pages/UC - Receive App Notifications And Engagement Updates.md
  ssot/pages/UC - Run Operational Migrations.md
Due: eslint --fix, prettier --write, stylelint --fix

feat: notify users when a new app version is available (#1194) (#1209)
  apps/bite-tribe-business/src/assets/i18n/en.json
  apps/bite-tribe-firebase/functions/src/functions/notifications/__specs__/send-new-version-notification.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/notifications/send-new-version-notification.ts
  apps/bite-tribe-firebase/functions/src/functions/notifications/send-weekly-bite-notification.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/am.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/ar.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/de.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/en.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/es.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/fr.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/id.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/it.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/pt.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/th.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/tr.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/notification-messages.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/model/notification-platform.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/model/push-token.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/__specs__/get-tokens-by-language.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/__specs__/get-tokens.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/get-all-user-uids.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/get-tokens-by-language.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/get-tokens.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/send-localized-notification.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  libs/bite-tribe-business/migrations/data-access/src/lib/__specs__/migrations-data-access.service.spec.ts
  libs/bite-tribe-business/migrations/data-access/src/lib/migrations-data-access.service.ts
  libs/bite-tribe-business/migrations/page/src/lib/component/page/__specs__/migrations.spec.ts
  libs/bite-tribe-business/migrations/page/src/lib/component/page/migrations.html
  libs/bite-tribe-business/migrations/page/src/lib/component/page/migrations.scss
  libs/bite-tribe-business/migrations/page/src/lib/component/page/migrations.ts
  libs/bite-tribe-business/migrations/page/src/lib/component/page/new-version-notification.ts
  libs/bite-tribe-business/migrations/page/src/lib/integration/__specs__/migrations.service.spec.ts
  libs/bite-tribe-business/migrations/page/src/lib/integration/migrations-container.ts
  libs/bite-tribe-business/migrations/page/src/lib/integration/migrations.service.ts
  ssot/pages/Implementation - Firebase Functions.md
  ssot/pages/UC - Receive App Notifications And Engagement Updates.md
  ssot/pages/UC - Run Operational Migrations.md
Due: eslint --fix, prettier --write, stylelint --fix

feat(bite-tribe-firebase): seed initial menu from bites when verifying a candidate
  apps/bite-tribe-firebase/functions/src/functions/restaurants/__specs__/restaurant-candidate-workflow.emulator-spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/__specs__/verify-restaurant-candidate.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/verify-restaurant-candidate.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/__specs__/initial-menu.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/initial-menu.ts
  libs/bite-tribe-business/restaurant/data-access/src/lib/restaurant-data-access.service.ts
  ssot/pages/Implementation - Firebase Functions.md
  ssot/pages/Restaurant.md
  ssot/pages/UC - Maintain Restaurants In The Business App.md
Due: eslint --fix, prettier --write

feat(bite-tribe-firebase): seed initial menu from bites when verifying a candidate (#1210)
  apps/bite-tribe-firebase/functions/src/functions/restaurants/__specs__/restaurant-candidate-workflow.emulator-spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/__specs__/verify-restaurant-candidate.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/verify-restaurant-candidate.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/__specs__/initial-menu.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/initial-menu.ts
  libs/bite-tribe-business/restaurant/data-access/src/lib/restaurant-data-access.service.ts
  ssot/pages/Implementation - Firebase Functions.md
  ssot/pages/Restaurant.md
  ssot/pages/UC - Maintain Restaurants In The Business App.md
Due: eslint --fix, prettier --write

refactor(bite-tribe-firebase): remove temporary leaderboard biteCount backfill (#905)
  apps/bite-tribe-firebase/functions/src/functions/leaderboard/load-leaderboard.ts
  ssot/pages/Implementation - Firebase Functions.md
Due: eslint --fix, prettier --write

refactor(bite-tribe-firebase): remove temporary leaderboard biteCount backfill (#905) (#1211)
  apps/bite-tribe-firebase/functions/src/functions/leaderboard/load-leaderboard.ts
  ssot/pages/Implementation - Firebase Functions.md
Due: eslint --fix, prettier --write

feat: notify users and followers on a new country badge (#1212)
  apps/bite-tribe-firebase/functions/src/functions/bites/enrich-bite-address-on-create.ts
  apps/bite-tribe-firebase/functions/src/functions/notifications/__specs__/notify-on-new-country-badge.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/notifications/notify-on-new-country-badge.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/am.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/ar.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/de.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/en.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/es.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/fr.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/id.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/it.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/pt.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/th.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/tr.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/notification-messages.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/__specs__/country-label.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/__specs__/user-country-codes.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/country-label.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/send-localized-notification.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/user-country-codes.ts
  apps/bite-tribe-firebase/functions/src/functions/users/__specs__/fake-firestore.ts
  apps/bite-tribe-firebase/functions/src/functions/users/create-user-on-auth-create.ts
  libs/common/push-notifications/src/lib/init-push.spec.ts
  libs/common/push-notifications/src/lib/init-push.ts
  ssot/pages/Bite.md
  ssot/pages/Implementation - Firebase Functions.md
  ssot/pages/UC - Receive App Notifications And Engagement Updates.md
  ssot/pages/UC - Use Gamification Signals.md
Due: eslint --fix, prettier --write

feat: notify users and followers on a new country badge (#1212) (#1213)
  apps/bite-tribe-firebase/functions/src/functions/bites/enrich-bite-address-on-create.ts
  apps/bite-tribe-firebase/functions/src/functions/notifications/__specs__/notify-on-new-country-badge.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/notifications/notify-on-new-country-badge.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/am.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/ar.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/de.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/en.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/es.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/fr.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/id.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/it.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/pt.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/th.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/tr.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/notification-messages.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/__specs__/country-label.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/__specs__/user-country-codes.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/country-label.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/send-localized-notification.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/user-country-codes.ts
  apps/bite-tribe-firebase/functions/src/functions/users/__specs__/fake-firestore.ts
  apps/bite-tribe-firebase/functions/src/functions/users/create-user-on-auth-create.ts
  libs/common/push-notifications/src/lib/init-push.spec.ts
  libs/common/push-notifications/src/lib/init-push.ts
  ssot/pages/Bite.md
  ssot/pages/Implementation - Firebase Functions.md
  ssot/pages/UC - Receive App Notifications And Engagement Updates.md
  ssot/pages/UC - Use Gamification Signals.md
Due: eslint --fix, prettier --write

test(bite-tribe-business-e2e): add business app e2e setup and first journey (#1214)
  .github/workflows/pipeline.yml
  apps/bite-tribe-business-e2e/eslint.config.mjs
  apps/bite-tribe-business-e2e/playwright.config.ts
  apps/bite-tribe-business-e2e/project.json
  apps/bite-tribe-business-e2e/src/pages/dashboard.page.ts
  apps/bite-tribe-business-e2e/src/pages/edit-restaurant.page.ts
  apps/bite-tribe-business-e2e/src/pages/login.page.ts
  apps/bite-tribe-business-e2e/src/support/auth.ts
  apps/bite-tribe-business-e2e/src/support/firestore.ts
  apps/bite-tribe-business-e2e/src/support/test-users.ts
  apps/bite-tribe-business-e2e/src/tests/maintain-restaurant.spec.ts
  apps/bite-tribe-business-e2e/tsconfig.json
  libs/bite-tribe-business/dashboard/page/src/lib/component/page/dashboard.component.html
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/edit-restaurant.component.html
  package.json
  ssot/pages/Architecture - Nx Workspace.md
  ssot/pages/Architecture - Testing.md
  ssot/pages/Current State - E2E Coverage.md
  ssot/pages/Current State - Release Candidate Test Charter.md
  ssot/pages/Implementation - Code Map.md
  ssot/pages/Implementation - Testing.md
  ssot/pages/UC - Maintain Restaurants In The Business App.md
Due: eslint --fix, prettier --write

test(bite-tribe-business-e2e): add business app e2e setup and first journey (#1214) (#1215)
  .github/workflows/pipeline.yml
  apps/bite-tribe-business-e2e/eslint.config.mjs
  apps/bite-tribe-business-e2e/playwright.config.ts
  apps/bite-tribe-business-e2e/project.json
  apps/bite-tribe-business-e2e/src/pages/dashboard.page.ts
  apps/bite-tribe-business-e2e/src/pages/edit-restaurant.page.ts
  apps/bite-tribe-business-e2e/src/pages/login.page.ts
  apps/bite-tribe-business-e2e/src/support/auth.ts
  apps/bite-tribe-business-e2e/src/support/firestore.ts
  apps/bite-tribe-business-e2e/src/support/test-users.ts
  apps/bite-tribe-business-e2e/src/tests/maintain-restaurant.spec.ts
  apps/bite-tribe-business-e2e/tsconfig.json
  libs/bite-tribe-business/dashboard/page/src/lib/component/page/dashboard.component.html
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/edit-restaurant.component.html
  package.json
  ssot/pages/Architecture - Nx Workspace.md
  ssot/pages/Architecture - Testing.md
  ssot/pages/Current State - E2E Coverage.md
  ssot/pages/Current State - Release Candidate Test Charter.md
  ssot/pages/Implementation - Code Map.md
  ssot/pages/Implementation - Testing.md
  ssot/pages/UC - Maintain Restaurants In The Business App.md
Due: eslint --fix, prettier --write

docs(ssot): scope sharing to Bites and drop the profile deep-link gap (#1190)
  ssot/pages/Bite.md
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Release Candidate Test Charter.md
  ssot/pages/UC - Inspect Bite Details.md
  ssot/pages/UC - Manage Profile And Social Graph.md
  ssot/pages/User.md
  ssot/pages/issue-1190.md
Due: prettier --write

docs(ssot): scope sharing to Bites and drop the profile deep-link gap (#1190) (#1216)
  ssot/pages/Bite.md
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Release Candidate Test Charter.md
  ssot/pages/UC - Inspect Bite Details.md
  ssot/pages/UC - Manage Profile And Social Graph.md
  ssot/pages/User.md
  ssot/pages/issue-1190.md
Due: prettier --write

docs: release test run #2
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Release Candidate Test Charter.md
Due: prettier --write

docs: release test run #2 (#1220)
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Release Candidate Test Charter.md
Due: prettier --write

fix: fix blocking loading spinner on native
  apps/bite-tribe-business/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe-common/bite/src/lib/likes/likes.component.ts
  libs/bite-tribe/delete-account/src/lib/components/delete-my-account/__specs__/delete-my-account.component.spec.ts
  libs/bite-tribe/delete-account/src/lib/components/delete-my-account/delete-my-account.component.ts
  libs/bite-tribe/email-verification/data-access/src/lib/__specs__/email-verification.service.spec.ts
  libs/bite-tribe/email-verification/data-access/src/lib/email-verification.service.ts
  libs/bite-tribe/profile/page/src/lib/integration/__specs__/profile.service.spec.ts
  libs/bite-tribe/profile/page/src/lib/integration/profile.service.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/bites/effects.ts
  libs/bite-tribe/store/src/lib/bucketlists/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/bucketlists/effects.ts
  libs/bite-tribe/store/src/lib/service-worker/effects.ts
  libs/common/ui/auth/src/lib/integration/registration/__specs__/registration.service.spec.ts
  libs/common/ui/auth/src/lib/integration/registration/registration.service.ts
  libs/common/ui/image-upload/src/lib/__specs__/image-upload.component.spec.ts
  ssot/pages/Current State - Known Issues.md
Due: eslint --fix, prettier --write

refactor: intro eslint rule to prevent import from non-standalone ionic package for critical comps
  eslint.config.mjs
  ssot/pages/Current State - Known Issues.md
Due: prettier --write

fix(privacy-policy): show the policy in the selected app language (#1218)
  apps/bite-tribe-e2e/src/tests/account-and-legal.spec.ts
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/privacy-policy/src/index.ts
  libs/bite-tribe/privacy-policy/src/lib/privacy-policy/__specs__/privacy-policy-language.spec.ts
  libs/bite-tribe/privacy-policy/src/lib/privacy-policy/__specs__/privacy-policy.spec.ts
  libs/bite-tribe/privacy-policy/src/lib/privacy-policy/privacy-policy-language.ts
  libs/bite-tribe/privacy-policy/src/lib/privacy-policy/privacy-policy.html
  libs/bite-tribe/privacy-policy/src/lib/privacy-policy/privacy-policy.scss
  libs/bite-tribe/privacy-policy/src/lib/privacy-policy/privacy-policy.ts
  ssot/pages/Architecture - Internationalization.md
  ssot/pages/Current State - E2E Coverage.md
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Release Candidate Test Charter.md
  ssot/pages/Implementation - Localization.md
  ssot/pages/UC - Use Account And Legal Flows.md
  ssot/pages/issue-1218.md
Due: eslint --fix, prettier --write, stylelint --fix

fix: registration hangs endlessly with no new auth user (#1222)
  apps/bite-tribe-business/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  eslint.config.mjs
  libs/bite-tribe-common/bite/src/lib/likes/likes.component.ts
  libs/bite-tribe/delete-account/src/lib/components/delete-my-account/__specs__/delete-my-account.component.spec.ts
  libs/bite-tribe/delete-account/src/lib/components/delete-my-account/delete-my-account.component.ts
  libs/bite-tribe/email-verification/data-access/src/lib/__specs__/email-verification.service.spec.ts
  libs/bite-tribe/email-verification/data-access/src/lib/email-verification.service.ts
  libs/bite-tribe/profile/page/src/lib/integration/__specs__/profile.service.spec.ts
  libs/bite-tribe/profile/page/src/lib/integration/profile.service.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/bites/effects.ts
  libs/bite-tribe/store/src/lib/bucketlists/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/bucketlists/effects.ts
  libs/bite-tribe/store/src/lib/service-worker/effects.ts
  libs/common/ui/auth/src/lib/integration/registration/__specs__/registration.service.spec.ts
  libs/common/ui/auth/src/lib/integration/registration/registration.service.ts
  libs/common/ui/image-upload/src/lib/__specs__/image-upload.component.spec.ts
  ssot/pages/Current State - Known Issues.md
Due: eslint --fix, prettier --write

fix(privacy-policy): publish the policy in every app language (#1218)
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/privacy-policy/src/lib/privacy-policy/__specs__/privacy-policy-language.spec.ts
  libs/bite-tribe/privacy-policy/src/lib/privacy-policy/__specs__/privacy-policy.spec.ts
  libs/bite-tribe/privacy-policy/src/lib/privacy-policy/privacy-policy-language.ts
  libs/bite-tribe/privacy-policy/src/lib/privacy-policy/privacy-policy.scss
  libs/bite-tribe/privacy-policy/src/lib/privacy-policy/privacy-policy.ts
  ssot/pages/Architecture - Internationalization.md
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Release Candidate Test Charter.md
  ssot/pages/Implementation - Localization.md
  ssot/pages/UC - Use Account And Legal Flows.md
  ssot/pages/issue-1218.md
Due: eslint --fix, prettier --write, stylelint --fix

fix(privacy-policy): show the policy in the selected app language (#1218) (#1223)
  apps/bite-tribe-e2e/src/tests/account-and-legal.spec.ts
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/privacy-policy/src/index.ts
  libs/bite-tribe/privacy-policy/src/lib/privacy-policy/__specs__/privacy-policy-language.spec.ts
  libs/bite-tribe/privacy-policy/src/lib/privacy-policy/__specs__/privacy-policy.spec.ts
  libs/bite-tribe/privacy-policy/src/lib/privacy-policy/privacy-policy-language.ts
  libs/bite-tribe/privacy-policy/src/lib/privacy-policy/privacy-policy.html
  libs/bite-tribe/privacy-policy/src/lib/privacy-policy/privacy-policy.scss
  libs/bite-tribe/privacy-policy/src/lib/privacy-policy/privacy-policy.ts
  ssot/pages/Architecture - Internationalization.md
  ssot/pages/Current State - E2E Coverage.md
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Release Candidate Test Charter.md
  ssot/pages/Implementation - Localization.md
  ssot/pages/UC - Use Account And Legal Flows.md
  ssot/pages/issue-1218.md
Due: eslint --fix, prettier --write, stylelint --fix

test: update loki references
  .loki/reference/chrome_iphone7_Components_GPS_Error_Card_Permission_Denied.png
  .loki/reference/chrome_iphone7_Components_GPS_Error_Card_Permission_Prompt.png
  .loki/reference/chrome_laptop_Components_GPS_Error_Card_Permission_Denied.png
  .loki/reference/chrome_laptop_Components_GPS_Error_Card_Permission_Prompt.png
Due: none

test: increase test coverage
  libs/bite-tribe/map/data-access/src/lib/__specs__/map-data-access.service.spec.ts
  libs/bite-tribe/store/src/lib/app/__specs__/selectors.spec.ts
Due: eslint --fix, prettier --write

fix: make settings page more comprehensive
  apps/bite-tribe-e2e/src/pages/settings.page.ts
  apps/bite-tribe-e2e/src/tests/personal-settings.spec.ts
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/settings/data-access/src/lib/settings-data-access.service.ts
  libs/bite-tribe/settings/page/src/lib/components/page/__specs__/settings.component.spec.ts
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.html
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.scss
  libs/bite-tribe/settings/page/src/lib/integration/__specs__/settings.service.spec.ts
  libs/bite-tribe/settings/page/src/lib/integration/settings.service.ts
Due: eslint --fix, prettier --write, stylelint --fix

test: update references
  .loki/reference/chrome_iphone7_Pages_Settings_Default.png
  .loki/reference/chrome_iphone7_Pages_Settings_Email_Verification_Prompt.png
  .loki/reference/chrome_iphone7_Pages_Settings_Email_Verification_Resend_Running.png
  .loki/reference/chrome_iphone7_Pages_Settings_Notifications_Blocked_By_Os.png
  .loki/reference/chrome_iphone7_Pages_Settings_Notifications_Disabled_Device.png
  .loki/reference/chrome_iphone7_Pages_Settings_Notifications_Legacy_Device.png
  .loki/reference/chrome_iphone7_Pages_Settings_Notifications_No_Current_Device.png
  .loki/reference/chrome_iphone7_Pages_Settings_Notifications_Registered_Devices.png
  .loki/reference/chrome_iphone7_Pages_Settings_Notifications_Unsupported_And_Empty.png
  .loki/reference/chrome_iphone7_Pages_Settings_Notifications_Unsupported_Platform.png
  .loki/reference/chrome_laptop_Pages_Settings_Default.png
  .loki/reference/chrome_laptop_Pages_Settings_Email_Verification_Prompt.png
  .loki/reference/chrome_laptop_Pages_Settings_Email_Verification_Resend_Running.png
  .loki/reference/chrome_laptop_Pages_Settings_Notifications_Blocked_By_Os.png
  .loki/reference/chrome_laptop_Pages_Settings_Notifications_Disabled_Device.png
  .loki/reference/chrome_laptop_Pages_Settings_Notifications_Legacy_Device.png
  .loki/reference/chrome_laptop_Pages_Settings_Notifications_No_Current_Device.png
  .loki/reference/chrome_laptop_Pages_Settings_Notifications_Registered_Devices.png
  .loki/reference/chrome_laptop_Pages_Settings_Notifications_Unsupported_And_Empty.png
  .loki/reference/chrome_laptop_Pages_Settings_Notifications_Unsupported_Platform.png
Due: none

fix(1217): fix misleading design and restructure settings page (#1225)
  .loki/reference/chrome_iphone7_Pages_Settings_Default.png
  .loki/reference/chrome_iphone7_Pages_Settings_Email_Verification_Prompt.png
  .loki/reference/chrome_iphone7_Pages_Settings_Email_Verification_Resend_Running.png
  .loki/reference/chrome_iphone7_Pages_Settings_Notifications_Blocked_By_Os.png
  .loki/reference/chrome_iphone7_Pages_Settings_Notifications_Disabled_Device.png
  .loki/reference/chrome_iphone7_Pages_Settings_Notifications_Legacy_Device.png
  .loki/reference/chrome_iphone7_Pages_Settings_Notifications_No_Current_Device.png
  .loki/reference/chrome_iphone7_Pages_Settings_Notifications_Registered_Devices.png
  .loki/reference/chrome_iphone7_Pages_Settings_Notifications_Unsupported_And_Empty.png
  .loki/reference/chrome_iphone7_Pages_Settings_Notifications_Unsupported_Platform.png
  .loki/reference/chrome_laptop_Pages_Settings_Default.png
  .loki/reference/chrome_laptop_Pages_Settings_Email_Verification_Prompt.png
  .loki/reference/chrome_laptop_Pages_Settings_Email_Verification_Resend_Running.png
  .loki/reference/chrome_laptop_Pages_Settings_Notifications_Blocked_By_Os.png
  .loki/reference/chrome_laptop_Pages_Settings_Notifications_Disabled_Device.png
  .loki/reference/chrome_laptop_Pages_Settings_Notifications_Legacy_Device.png
  .loki/reference/chrome_laptop_Pages_Settings_Notifications_No_Current_Device.png
  .loki/reference/chrome_laptop_Pages_Settings_Notifications_Registered_Devices.png
  .loki/reference/chrome_laptop_Pages_Settings_Notifications_Unsupported_And_Empty.png
  .loki/reference/chrome_laptop_Pages_Settings_Notifications_Unsupported_Platform.png
  apps/bite-tribe-e2e/src/pages/settings.page.ts
  apps/bite-tribe-e2e/src/tests/personal-settings.spec.ts
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/settings/data-access/src/lib/settings-data-access.service.ts
  libs/bite-tribe/settings/page/src/lib/components/page/__specs__/settings.component.spec.ts
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.html
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.scss
  libs/bite-tribe/settings/page/src/lib/integration/__specs__/settings.service.spec.ts
  libs/bite-tribe/settings/page/src/lib/integration/settings.service.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: prepare build 1.0.1-90 release
  CHANGELOG.md
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: prettier --write

chore: prepare build 1.0.1-90 release (#1226)
  CHANGELOG.md
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: prettier --write

fix: setup necessary indexed for deleteOwnAccount function
  apps/bite-tribe-firebase/firebase.json
  apps/bite-tribe-firebase/firestore.indexes.json
  apps/bite-tribe-firebase/functions/package.json
  apps/bite-tribe-firebase/functions/src/__specs__/firestore-collection-group-indexes.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/users/delete-own-account.ts
  apps/bite-tribe-firebase/project.json
  ssot/pages/Architecture - Firebase.md
  ssot/pages/Implementation - Firebase Functions.md
Due: eslint --fix, prettier --write

fix: setup necessary indexed for deleteOwnAccount function (#1228)
  apps/bite-tribe-firebase/firebase.json
  apps/bite-tribe-firebase/firestore.indexes.json
  apps/bite-tribe-firebase/functions/package.json
  apps/bite-tribe-firebase/functions/src/__specs__/firestore-collection-group-indexes.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/users/delete-own-account.ts
  apps/bite-tribe-firebase/project.json
  ssot/pages/Architecture - Firebase.md
  ssot/pages/Implementation - Firebase Functions.md
Due: eslint --fix, prettier --write

docs: test run 3 and findings (only ios)
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Release Candidate Test Charter.md
Due: prettier --write

docs: test run 3 and findings (only ios) (#1235)
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Release Candidate Test Charter.md
Due: prettier --write

fix: fix no failed state or retry
  libs/bite-tribe-common/bite/src/lib/bite-image-status/__specs__/bite-image-status.component.spec.ts
  libs/bite-tribe-common/bite/src/lib/bite-image-status/bite-image-status.component.ts
  libs/bite-tribe-common/bite/src/lib/utils/image-status.ts
  libs/bite-tribe/bite/data-access/src/lib/__specs__/bite-data-access.service.spec.ts
  libs/bite-tribe/bite/data-access/src/lib/bite-data-access.service.ts
  ssot/pages/Current State - Known Issues.md
  ssot/pages/UC - Create And Maintain Personal Bites.md
Due: eslint --fix, prettier --write

test: adjustment for testing
  libs/bite-tribe-common/bite/src/lib/bite-image-status/bite-image-status.component.ts
Due: eslint --fix, prettier --write

ci: fallback on cache blip
  .github/actions/install-if-missing/action.yml
  .github/workflows/pipeline.yml
Due: none

fix: fix no failed state or retry state for photo upload (#1236)
  .github/actions/install-if-missing/action.yml
  .github/workflows/pipeline.yml
  libs/bite-tribe-common/bite/src/lib/bite-image-status/__specs__/bite-image-status.component.spec.ts
  libs/bite-tribe-common/bite/src/lib/bite-image-status/bite-image-status.component.ts
  libs/bite-tribe-common/bite/src/lib/utils/image-status.ts
  libs/bite-tribe/bite/data-access/src/lib/__specs__/bite-data-access.service.spec.ts
  libs/bite-tribe/bite/data-access/src/lib/bite-data-access.service.ts
  ssot/pages/Current State - Known Issues.md
  ssot/pages/UC - Create And Maintain Personal Bites.md
Due: eslint --fix, prettier --write
