Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,html}": "eslint --fix",
  "*.{ts,js,html,scss,json,md}": "prettier --write",
  "*.scss": "stylelint --fix"
}

chore: prep build bump and npm i
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  package-lock.json
Due: prettier --write

feat(#685): add 'Get for free' button on free bite trail detail page (#704)
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  libs/bite-tribe-common/model/src/index.ts
  libs/bite-tribe-common/model/src/lib/bucketlist.ts
  libs/bite-tribe-common/model/src/lib/create-bucket-list-from-bite-trail-params.ts
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/api/src/lib/bucketlist-api/bucketlist-api.service.ts
  libs/bite-tribe/bite-trail/data-access/src/lib/__specs__/bite-trail-data-access.service.spec.ts
  libs/bite-tribe/bite-trail/data-access/src/lib/bite-trail-data-access.service.ts
  libs/bite-tribe/bite-trail/page/src/lib/components/bite-trail-bites-page/bite-trail-bites.page.html
  libs/bite-tribe/bite-trail/page/src/lib/components/bite-trail-bites-page/bite-trail-bites.page.ts
  libs/bite-tribe/bite-trail/page/src/lib/integration/__specs__/bite-trail-container.spec.ts
  libs/bite-tribe/bite-trail/page/src/lib/integration/__specs__/bite-trail.service.spec.ts
  libs/bite-tribe/bite-trail/page/src/lib/integration/bite-trail.container.ts
  libs/bite-tribe/bite-trail/page/src/lib/integration/bite-trail.service.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/bucketlists/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/bucketlists/actions.ts
  libs/bite-tribe/store/src/lib/bucketlists/effects.ts
  libs/common/utils/src/lib/add-necessary-icons.ts
Due: eslint --fix, prettier --write

style: adjust buttons and code smell
  libs/bite-tribe-business/organisation-dashboard/data-access/src/lib/organisation-dashboard-data-access.service.ts
  libs/bite-tribe-business/organisation-dashboard/page/src/lib/components/page/organisation-dashboard.html
Due: eslint --fix, prettier --write

feat(#682): prepare bite trail creation with bite selection on dashboard page (#705)
  libs/bite-tribe-business/organisation-dashboard/data-access/src/lib/__specs__/organisation-dashboard-data-access.service.spec.ts
  libs/bite-tribe-business/organisation-dashboard/data-access/src/lib/organisation-dashboard-data-access.service.ts
  libs/bite-tribe-business/organisation-dashboard/page/src/lib/components/page/__specs__/organisation-dashboard.spec.ts
  libs/bite-tribe-business/organisation-dashboard/page/src/lib/components/page/organisation-dashboard.html
  libs/bite-tribe-business/organisation-dashboard/page/src/lib/components/page/organisation-dashboard.ts
  libs/bite-tribe-business/organisation-dashboard/page/src/lib/components/page/pipes/__specs__/employee-name.pipe.spec.ts
  libs/bite-tribe-business/organisation-dashboard/page/src/lib/components/page/pipes/employee-name.pipe.ts
  libs/bite-tribe-business/organisation-dashboard/page/src/lib/integration/__specs__/organisation-dashboard.service.spec.ts
  libs/bite-tribe-business/organisation-dashboard/page/src/lib/integration/organisation-dashboard-container.ts
  libs/bite-tribe-business/organisation-dashboard/page/src/lib/integration/organisation-dashboard.service.ts
Due: eslint --fix, prettier --write

fix: use image-upload instead of input field
  libs/bite-tribe-business/create-bite-trail/page/src/lib/components/page/create-bite-trail.component.html
  libs/bite-tribe-business/create-bite-trail/page/src/lib/components/page/create-bite-trail.component.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
Due: eslint --fix, prettier --write

refactor: adjustments
  libs/bite-tribe-business/create-bite-trail/page/src/lib/components/page/__specs__/create-bite-trail.component.spec.ts
  libs/bite-tribe-business/create-bite-trail/page/src/lib/components/page/create-bite-trail.component.ts
  libs/bite-tribe-business/create-bite-trail/page/src/test-setup.ts
Due: eslint --fix, prettier --write

test: add tests
  libs/bite-tribe-business/create-bite-trail/page/src/lib/components/page/__specs__/create-bite-trail.component.spec.ts
  libs/bite-tribe-business/organisation-dashboard/page/src/lib/integration/__specs__/organisation-dashboard.service.spec.ts
  libs/bite-tribe-business/organisation-dashboard/page/src/lib/integration/organisation-dashboard.service.ts
Due: eslint --fix, prettier --write

chore: cleanup
  libs/bite-tribe/bite-trail/page/src/lib/components/bite-trail-bites-page/bite-trail-bites.page.ts
Due: eslint --fix, prettier --write

feat(#708): setup page for creating a bite trail with selected bites (#708)
  libs/bite-tribe-business/create-bite-trail/data-access/jest.config.cts
  libs/bite-tribe-business/create-bite-trail/data-access/project.json
  libs/bite-tribe-business/create-bite-trail/data-access/src/index.ts
  libs/bite-tribe-business/create-bite-trail/data-access/src/lib/__specs__/create-bite-trail-data-access.service.spec.ts
  libs/bite-tribe-business/create-bite-trail/data-access/src/lib/create-bite-trail-data-access.service.ts
  libs/bite-tribe-business/create-bite-trail/data-access/src/test-setup.ts
  libs/bite-tribe-business/create-bite-trail/data-access/tsconfig.json
  libs/bite-tribe-business/create-bite-trail/data-access/tsconfig.lib.json
  libs/bite-tribe-business/create-bite-trail/data-access/tsconfig.spec.json
  libs/bite-tribe-business/create-bite-trail/page/jest.config.cts
  libs/bite-tribe-business/create-bite-trail/page/project.json
  libs/bite-tribe-business/create-bite-trail/page/src/index.ts
  libs/bite-tribe-business/create-bite-trail/page/src/lib/components/page/__specs__/create-bite-trail.component.spec.ts
  libs/bite-tribe-business/create-bite-trail/page/src/lib/components/page/create-bite-trail.component.html
  libs/bite-tribe-business/create-bite-trail/page/src/lib/components/page/create-bite-trail.component.scss
  libs/bite-tribe-business/create-bite-trail/page/src/lib/components/page/create-bite-trail.component.ts
  libs/bite-tribe-business/create-bite-trail/page/src/lib/integration/__specs__/create-bite-trail.service.spec.ts
  libs/bite-tribe-business/create-bite-trail/page/src/lib/integration/create-bite-trail-container.ts
  libs/bite-tribe-business/create-bite-trail/page/src/lib/integration/create-bite-trail.service.ts
  libs/bite-tribe-business/create-bite-trail/page/src/test-setup.ts
  libs/bite-tribe-business/create-bite-trail/page/tsconfig.json
  libs/bite-tribe-business/create-bite-trail/page/tsconfig.lib.json
  libs/bite-tribe-business/create-bite-trail/page/tsconfig.spec.json
  libs/bite-tribe-business/organisation-dashboard/data-access/src/lib/organisation-dashboard-data-access.service.ts
  libs/bite-tribe-business/organisation-dashboard/page/src/lib/components/page/__specs__/organisation-dashboard.spec.ts
  libs/bite-tribe-business/organisation-dashboard/page/src/lib/components/page/organisation-dashboard.html
  libs/bite-tribe-business/organisation-dashboard/page/src/lib/components/page/organisation-dashboard.ts
  libs/bite-tribe-business/organisation-dashboard/page/src/lib/integration/__specs__/organisation-dashboard.service.spec.ts
  libs/bite-tribe-business/organisation-dashboard/page/src/lib/integration/organisation-dashboard-container.ts
  libs/bite-tribe-business/organisation-dashboard/page/src/lib/integration/organisation-dashboard.service.ts
  libs/bite-tribe-business/shell/src/lib/routes.ts
  libs/bite-tribe/bite-trail/page/src/lib/components/bite-trail-bites-page/bite-trail-bites.page.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  package-lock.json
  tsconfig.base.json
Due: eslint --fix, prettier --write, stylelint --fix

fix: remove login button disabled state and invalid input color override (#712)
  libs/bite-tribe-common/styles/_globals.scss
  libs/common/ui/auth/src/lib/components/login/__specs__/login.component.spec.ts
  libs/common/ui/auth/src/lib/components/login/login.component.html
  libs/common/ui/auth/src/lib/components/login/login.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: npm i
  package-lock.json
Due: prettier --write

feat(#719): add existing bite trails card to organisations dashboard (#710)
  libs/bite-tribe-business/organisation-dashboard/data-access/src/lib/__specs__/organisation-dashboard-data-access.service.spec.ts
  libs/bite-tribe-business/organisation-dashboard/data-access/src/lib/organisation-dashboard-data-access.service.ts
  libs/bite-tribe-business/organisation-dashboard/page/src/lib/components/page/organisation-dashboard.html
  libs/bite-tribe-business/organisation-dashboard/page/src/lib/components/page/organisation-dashboard.ts
  libs/bite-tribe-business/organisation-dashboard/page/src/lib/integration/__specs__/organisation-dashboard.service.spec.ts
  libs/bite-tribe-business/organisation-dashboard/page/src/lib/integration/organisation-dashboard-container.ts
  libs/bite-tribe-business/organisation-dashboard/page/src/lib/integration/organisation-dashboard.service.ts
  package-lock.json
Due: eslint --fix, prettier --write

fix: fix weekly notification body
  apps/bite-tribe-firebase/functions/src/functions/send-weekly-bite-notification.ts
Due: eslint --fix, prettier --write

fix: weekly notification body (#714)
  apps/bite-tribe-firebase/functions/src/functions/send-weekly-bite-notification.ts
Due: eslint --fix, prettier --write

style: adjust styles
  apps/bite-tribe/src/theme/variables.scss
  libs/bite-tribe-common/bite/src/lib/bite.component.scss
  libs/bite-tribe-common/bite/src/lib/likes/likes.component.html
  libs/bite-tribe-common/bite/src/lib/likes/likes.component.scss
  libs/common/ui/page/src/lib/page.component.html
  libs/common/ui/page/src/lib/page.component.scss
  libs/common/ui/star-rating/src/lib/star-rating.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

style: adjust styling
  apps/bite-tribe/src/theme/variables.scss
  libs/bite-tribe-common/bite/src/lib/bite.component.scss
Due: prettier --write, stylelint --fix

style: replace orange primary color with blue palette (#716)
  apps/bite-tribe-business/src/theme/variables.scss
  apps/bite-tribe/src/theme/variables.scss
  libs/bite-tribe-common/bite/src/lib/bite.component.scss
  libs/bite-tribe-common/bite/src/lib/likes/likes.component.html
  libs/bite-tribe-common/bite/src/lib/likes/likes.component.scss
  libs/common/ui/page/src/lib/page.component.html
  libs/common/ui/page/src/lib/page.component.scss
  libs/common/ui/star-rating/src/lib/star-rating.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

nx target to force kill firebase simulator
  apps/bite-tribe-firebase/project.json
Due: prettier --write

expose helper function for smart image-upload
  libs/bite-tribe/api/src/index.ts
Due: eslint --fix, prettier --write

switch to smart image-upload
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
Due: eslint --fix, prettier --write

remove copilots stories file to rebuild it after smart-upload finished
  libs/common/ui/image-upload/src/lib/__specs__/image-upload2.component.stories.ts
Due: eslint --fix, prettier --write

introduce service for smart image-upload
  libs/common/ui/image-upload/src/lib/service/image-upload.service.ts
Due: eslint --fix, prettier --write

introduce smart:component tag
  eslint.config.mjs
Due: none

use smart:component tag
  libs/common/ui/image-upload/project.json
Due: prettier --write

feat: adjust smart image-upload component
  libs/common/ui/image-upload/src/index.ts
  libs/common/ui/image-upload/src/lib/image-upload.component.ts
  libs/common/ui/image-upload/src/lib/image-upload2.component.html
  libs/common/ui/image-upload/src/lib/image-upload2.component.scss
  libs/common/ui/image-upload/src/lib/image-upload2.component.ts
  libs/common/ui/image-upload/src/lib/utils/image-options.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: 717 implement rotate image feature
  libs/common/ui/image-upload/src/lib/image-upload.component.html
  libs/common/ui/image-upload/src/lib/image-upload.component.ts
Due: eslint --fix, prettier --write

fix: 717 fix text for edit image modal
  libs/common/ui/image-upload/src/lib/image-upload.component.html
Due: eslint --fix, prettier --write

style: 717 move buttons to image overlay
  libs/common/ui/image-upload/src/lib/image-upload.component.html
  libs/common/ui/image-upload/src/lib/image-upload.component.scss
  libs/common/ui/image-upload/src/lib/image-upload.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

style: 717 improve style for edit image buttons
  libs/common/ui/image-upload/src/lib/image-upload.component.html
  libs/common/ui/image-upload/src/lib/image-upload.component.scss
  libs/common/ui/image-upload/src/lib/image-upload.component.ts
  libs/common/utils/src/lib/add-necessary-icons.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: prep to pre-push implementation adjustments
  libs/common/ui/image-upload/src/lib/__specs__/image-upload2.component.spec.ts
  libs/common/ui/image-upload/src/lib/service/image-upload.service.ts
Due: eslint --fix, prettier --write

fix: 717 add tests, fix initial rotation
  libs/common/ui/image-upload/src/lib/__specs__/image-upload.component.spec.ts
  libs/common/ui/image-upload/src/lib/image-upload.component.scss
  libs/common/ui/image-upload/src/lib/image-upload.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: 719 fix typo for my-bites sorting
  libs/bite-tribe/store/src/lib/filtering-and-sorting/__specs__/selectors.spec.ts
  libs/bite-tribe/store/src/lib/filtering-and-sorting/filtering-and-sorting-slice.model.ts
  libs/bite-tribe/store/src/lib/filtering-and-sorting/selectors.ts
Due: eslint --fix, prettier --write

style: fix positioning of progress bar
  libs/common/ui/image-upload/src/lib/image-upload2.component.html
  libs/common/ui/image-upload/src/lib/image-upload2.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: 719 fix initalstate
  libs/bite-tribe/store/src/lib/filtering-and-sorting/reducer.ts
Due: eslint --fix, prettier --write

fix: 719 Sorting not working for My Bites page (#720)
  libs/bite-tribe/store/src/lib/filtering-and-sorting/__specs__/selectors.spec.ts
  libs/bite-tribe/store/src/lib/filtering-and-sorting/filtering-and-sorting-slice.model.ts
  libs/bite-tribe/store/src/lib/filtering-and-sorting/reducer.ts
  libs/bite-tribe/store/src/lib/filtering-and-sorting/selectors.ts
Due: eslint --fix, prettier --write

717 feat allow rotate image in image crop page (#718)
  libs/common/ui/image-upload/src/lib/__specs__/image-upload.component.spec.ts
  libs/common/ui/image-upload/src/lib/image-upload.component.html
  libs/common/ui/image-upload/src/lib/image-upload.component.scss
  libs/common/ui/image-upload/src/lib/image-upload.component.ts
  libs/common/utils/src/lib/add-necessary-icons.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: fix native platforms
  libs/bite-tribe/bite/data-access/src/lib/bite-data-access.service.ts
  libs/common/networkstatus/feature/src/lib/network-status.service.ts
  libs/common/ta-firestore/src/lib/provide-firestore-utils.ts
  libs/common/ui/image-upload/src/lib/image-upload2.component.ts
  libs/common/ui/image-upload/src/lib/service/image-upload.service.ts
Due: eslint --fix, prettier --write

feat: handle offline status
  apps/bite-tribe/src/app/app.component.ts
  libs/bite-tribe/bite/data-access/src/lib/bite-data-access.service.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/bite/page/src/lib/components/page/utils/image-validator.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite.service.ts
  libs/bite-tribe/bite/page/src/lib/integration/create-bite.container.ts
  libs/bite-tribe/home/data-access/src/lib/home-data-access.service.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/home/page/src/lib/integration/home.container.ts
  libs/bite-tribe/home/page/src/lib/integration/home.service.ts
  libs/common/networkstatus/feature/src/lib/network-status.service.ts
  libs/common/ui/image-upload/src/lib/image-upload.component.html
  libs/common/ui/image-upload/src/lib/image-upload.component.scss
  libs/common/utils/src/lib/add-necessary-icons.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, stylelint --fix

test: adjust test suite
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
Due: eslint --fix, prettier --write

feat: toggle offline mode for image-upload
  libs/common/ui/image-upload/src/lib/components/placeholder.ts
  libs/common/ui/image-upload/src/lib/image-upload.component.html
  libs/common/ui/image-upload/src/lib/image-upload.component.scss
  libs/common/ui/image-upload/src/lib/image-upload.component.ts
Due: eslint --fix, prettier --write, stylelint --fix
