Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

chore: copy assets and favicon
  apps/bite-tribe-business/public/assets/bite-tribe-logo.png
  apps/bite-tribe-business/public/favicon.ico
  apps/bite-tribe-business/src/assets/icons/favicon-196.png
  apps/bite-tribe-business/src/assets/icons/logo.svg
  apps/bite-tribe-business/src/index.html
  libs/bite-tribe-business/start/src/lib/start.html
Due: eslint --fix, prettier --write

fix: multiple reload bites after login
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/store/src/lib/bites/effects.ts
Due: eslint --fix, prettier --write

fix: prevent multiple filtering and sorting loads after login
  libs/bite-tribe/store/src/lib/filtering-and-sorting/effects.ts
Due: eslint --fix, prettier --write

fix: setup transloco for business restaurant page
  apps/bite-tribe-business/src/assets/i18n/en.json
  libs/bite-tribe-business/shell/src/lib/app.config.ts
  libs/bite-tribe-business/shell/src/lib/transloco-loader.ts
Due: eslint --fix, prettier --write

fix: fix nav to restaurant edit page and menu edit page
  apps/bite-tribe-business/src/global.scss
  apps/bite-tribe-business/src/theme/variables.scss
  libs/bite-tribe/restaurant/page/src/lib/integration/restaurant.service.ts
Due: eslint --fix, prettier --write, stylelint --fix

test: adjust tests
  libs/bite-tribe/store/src/lib/bites/__specs__/effects.spec.ts
Due: eslint --fix, prettier --write

refactor: add take 1 to make sure listener is registered only once after login action
  libs/bite-tribe/store/src/lib/bites/effects.ts
Due: eslint --fix, prettier --write

fix(772): fix nav to restaurant edit page and menu edit page (#774)
  apps/bite-tribe-business/public/assets/bite-tribe-logo.png
  apps/bite-tribe-business/public/favicon.ico
  apps/bite-tribe-business/src/assets/i18n/en.json
  apps/bite-tribe-business/src/assets/icons/favicon-196.png
  apps/bite-tribe-business/src/assets/icons/logo.svg
  apps/bite-tribe-business/src/global.scss
  apps/bite-tribe-business/src/index.html
  apps/bite-tribe-business/src/theme/variables.scss
  libs/bite-tribe-business/shell/src/lib/app.config.ts
  libs/bite-tribe-business/shell/src/lib/transloco-loader.ts
  libs/bite-tribe-business/start/src/lib/start.html
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/restaurant.service.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/bites/effects.ts
  libs/bite-tribe/store/src/lib/filtering-and-sorting/effects.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: reviewed turkish
  apps/bite-tribe/src/assets/i18n/tr.json
Due: prettier --write

feat: reviewed turkish (#779)
  apps/bite-tribe/src/assets/i18n/tr.json
Due: prettier --write

feat: readd map to edit-restaurant page
  libs/bite-tribe/restaurant/page/src/lib/components/page/edit-restaurant.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/page/edit-restaurant.component.ts
Due: eslint --fix, prettier --write

chore: clean up
  libs/bite-tribe/restaurant/data-access/src/lib/restaurant-data-access.service.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.ts
  libs/bite-tribe/restaurant/page/src/lib/components/restaurant-image/restaurant-image.component.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/restaurant-container.component.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/restaurant.service.ts
  libs/bite-tribe/store/src/lib/app/index.ts
  libs/bite-tribe/store/src/lib/app/selectors.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
Due: eslint --fix, prettier --write

chore: clean up
  libs/bite-tribe/store/src/lib/app/__specs__/selectors.spec.ts
Due: eslint --fix, prettier --write

chore: cleanup
  libs/bite-tribe/restaurant/page/src/lib/integration/__specs__/restaurant.service.spec.ts
Due: eslint --fix, prettier --write

style: cleanup
  libs/bite-tribe/restaurant/page/src/lib/components/page/edit-restaurant.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

style: cleanup
  libs/bite-tribe/restaurant/page/src/lib/components/page/edit-restaurant.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/page/edit-restaurant.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

refactor: introduce dedicated EditRestaurantComponent, remove editMode from RestaurantComponent, add save feedback toasts (#780)
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/restaurant/data-access/src/lib/restaurant-data-access.service.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/__specs__/edit-restaurant.component.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/__specs__/restaurant.component.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/edit-restaurant.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/page/edit-restaurant.component.scss
  libs/bite-tribe/restaurant/page/src/lib/components/page/edit-restaurant.component.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.scss
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.ts
  libs/bite-tribe/restaurant/page/src/lib/components/restaurant-image/restaurant-image.component.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/__specs__/restaurant.service.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/edit-restaurant-container.component.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/restaurant-container.component.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/restaurant.service.ts
  libs/bite-tribe/store/src/lib/app/__specs__/selectors.spec.ts
  libs/bite-tribe/store/src/lib/app/index.ts
  libs/bite-tribe/store/src/lib/app/selectors.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: add navigation to edit menu
  libs/bite-tribe/restaurant/page/src/lib/components/page/edit-restaurant.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/page/edit-restaurant.component.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/edit-restaurant-container.component.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/restaurant.service.ts
Due: eslint --fix, prettier --write

feat: Add "Create Menu" button to edit restaurant page (#782)
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/api/src/lib/restaurant-api/__specs__/restaurant-api.service.spec.ts
  libs/bite-tribe/api/src/lib/restaurant-api/restaurant-api.service.ts
  libs/bite-tribe/restaurant/data-access/src/lib/restaurant-data-access.service.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/__specs__/edit-restaurant.component.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/edit-restaurant.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/page/edit-restaurant.component.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/__specs__/restaurant.service.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/edit-restaurant-container.component.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/restaurant.service.ts
Due: eslint --fix, prettier --write

feat: limit to 10 bite places
  libs/bite-tribe-business/dashboard/data-access/src/lib/dashboard-data-access.service.ts
  libs/bite-tribe-business/dashboard/page/src/lib/component/page/dashboard.component.html
Due: eslint --fix, prettier --write

feat: add Bite Places card to business dashboard (#785)
  libs/bite-tribe-business/dashboard/data-access/src/lib/dashboard-data-access.service.ts
  libs/bite-tribe-business/dashboard/page/src/lib/component/page/dashboard.component.html
  libs/bite-tribe-business/dashboard/page/src/lib/component/page/dashboard.component.ts
  libs/bite-tribe-business/dashboard/page/src/lib/integration/dashboard-container.component.ts
  libs/bite-tribe-business/dashboard/page/src/lib/integration/dashboard.service.ts
Due: eslint --fix, prettier --write

refactor: naming
  libs/bite-tribe-business/dashboard/page/jest.config.ts
  libs/bite-tribe-business/dashboard/page/src/lib/integration/__specs__/dashboard.service.spec.ts
  libs/bite-tribe-business/dashboard/page/src/lib/integration/dashboard-container.component.ts
  libs/bite-tribe-business/dashboard/page/src/lib/integration/dashboard.service.ts
  libs/bite-tribe-business/restaurant/page/src/lib/integration/new-restaurant-container.component.ts
Due: eslint --fix, prettier --write

refactor: cleanup
  libs/bite-tribe-business/dashboard/page/src/lib/component/page/dashboard.component.ts
  libs/bite-tribe-business/dashboard/page/src/lib/integration/dashboard-container.component.ts
  libs/bite-tribe-business/dashboard/page/src/lib/integration/dashboard.service.ts
Due: eslint --fix, prettier --write

feat: create restaurant page with map positioning and bite place navigation (#787)
  libs/bite-tribe-business/dashboard/page/jest.config.ts
  libs/bite-tribe-business/dashboard/page/src/lib/component/page/dashboard.component.html
  libs/bite-tribe-business/dashboard/page/src/lib/component/page/dashboard.component.ts
  libs/bite-tribe-business/dashboard/page/src/lib/integration/__specs__/dashboard.service.spec.ts
  libs/bite-tribe-business/dashboard/page/src/lib/integration/dashboard-container.component.ts
  libs/bite-tribe-business/dashboard/page/src/lib/integration/dashboard.service.ts
  libs/bite-tribe-business/restaurant/page/src/index.ts
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/__specs__/edit-restaurant.component.spec.ts
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/__specs__/new-restaurant-page.component.spec.ts
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/edit-restaurant.component.html
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/edit-restaurant.component.scss
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/edit-restaurant.component.ts
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/new-restaurant-page.component.html
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/new-restaurant-page.component.scss
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/new-restaurant-page.component.ts
  libs/bite-tribe-business/restaurant/page/src/lib/components/restaurant-image/__specs__/restaurant-image.component.spec.ts
  libs/bite-tribe-business/restaurant/page/src/lib/components/restaurant-image/restaurant-image.component.html
  libs/bite-tribe-business/restaurant/page/src/lib/components/restaurant-image/restaurant-image.component.scss
  libs/bite-tribe-business/restaurant/page/src/lib/components/restaurant-image/restaurant-image.component.ts
  libs/bite-tribe-business/restaurant/page/src/lib/integration/__specs__/edit-restaurant-container.component.spec.ts
  libs/bite-tribe-business/restaurant/page/src/lib/integration/__specs__/edit-restaurant.service.spec.ts
  libs/bite-tribe-business/restaurant/page/src/lib/integration/__specs__/new-restaurant-container.component.spec.ts
  libs/bite-tribe-business/restaurant/page/src/lib/integration/__specs__/new-restaurant.service.spec.ts
  libs/bite-tribe-business/restaurant/page/src/lib/integration/edit-restaurant-container.component.ts
  libs/bite-tribe-business/restaurant/page/src/lib/integration/edit-restaurant.service.ts
  libs/bite-tribe-business/restaurant/page/src/lib/integration/new-restaurant-container.component.ts
  libs/bite-tribe-business/restaurant/page/src/lib/integration/new-restaurant.service.ts
  libs/bite-tribe-business/shell/src/lib/routes.ts
  libs/bite-tribe/restaurant/page/src/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: register instagram icon
  libs/common/utils/src/lib/add-necessary-icons.ts
Due: eslint --fix, prettier --write

refactor: cleanup
  libs/bite-tribe-business/edit-menu/page/src/lib/components/category/category.component.html
  libs/bite-tribe-business/edit-menu/page/src/lib/components/category/category.component.ts
  libs/bite-tribe-business/edit-menu/page/src/lib/components/menu-item/menu-item.component.html
  libs/bite-tribe-business/edit-menu/page/src/lib/components/menu-item/menu-item.component.ts
  libs/bite-tribe-business/edit-menu/page/src/lib/components/menu/menu.component.html
  libs/bite-tribe-business/edit-menu/page/src/lib/components/menu/menu.component.ts
Due: eslint --fix, prettier --write

test: adjust tests
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/__specs__/new-restaurant-page.component.spec.ts
Due: eslint --fix, prettier --write

chore: fix linting errors
  libs/bite-tribe-business/edit-menu/page/src/lib/integration/__specs__/edit-menu-container.component.spec.ts
Due: eslint --fix, prettier --write

test: add tests
  libs/bite-tribe-business/dashboard/page/src/lib/integration/__specs__/dashboard.service.spec.ts
Due: eslint --fix, prettier --write

refactor: cleanup and additional tests
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu/__specs__/business-menu.component.spec.ts
  libs/bite-tribe/menu/page/src/lib/components/add-item/__specs__/add-item.component.spec.ts
  libs/bite-tribe/menu/page/src/lib/components/add-item/add-item.component.html
  libs/bite-tribe/menu/page/src/lib/components/add-item/add-item.component.scss
  libs/bite-tribe/menu/page/src/lib/components/add-item/add-item.component.ts
  libs/bite-tribe/menu/page/src/lib/components/category/__specs__/category.component.spec.ts
  libs/bite-tribe/menu/page/src/lib/components/category/category.component.html
  libs/bite-tribe/menu/page/src/lib/components/category/category.component.ts
  libs/bite-tribe/menu/page/src/lib/components/menu-item/__specs__/menu-item.component.spec.ts
  libs/bite-tribe/menu/page/src/lib/components/menu-item/menu-item.component.html
  libs/bite-tribe/menu/page/src/lib/components/menu-item/menu-item.component.ts
  libs/bite-tribe/menu/page/src/lib/components/menu/menu.component.html
  libs/bite-tribe/menu/page/src/lib/components/menu/menu.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

test: add tests
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/__specs__/new-restaurant-page.component.spec.ts
Due: eslint --fix, prettier --write

fix: fix navigation to restaurant and weird restaurant id structure in bites
  libs/bite-tribe/bite-trail/page/src/lib/integration/bite-trail.service.ts
  libs/bite-tribe/details/page/src/lib/integration/details.service.ts
  libs/bite-tribe/home/page/src/lib/integration/home.service.ts
  libs/bite-tribe/map/page/src/lib/integration/map.service.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/restaurant-container.component.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/unverified-restaurant-container.component.ts
Due: eslint --fix, prettier --write

test: adjust tests
  libs/bite-tribe/bite-trail/page/src/lib/integration/__specs__/bite-trail.service.spec.ts
  libs/bite-tribe/details/page/src/lib/integration/__specs__/details.service.spec.ts
  libs/bite-tribe/home/page/src/lib/integration/__specs__/home.service.spec.ts
  libs/bite-tribe/map/page/src/lib/integration/__specs__/map.service.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/__specs__/unverified-restaurant-container.component.spec.ts
Due: eslint --fix, prettier --write

refactor(bite-tribe): separate verified and unverified restaurant routes (#792)
  libs/bite-tribe/bite-trail/page/src/lib/integration/__specs__/bite-trail.service.spec.ts
  libs/bite-tribe/bite-trail/page/src/lib/integration/bite-trail.service.ts
  libs/bite-tribe/details/page/src/lib/integration/__specs__/details.service.spec.ts
  libs/bite-tribe/details/page/src/lib/integration/details.service.ts
  libs/bite-tribe/home/page/src/lib/integration/__specs__/home.service.spec.ts
  libs/bite-tribe/home/page/src/lib/integration/home.service.ts
  libs/bite-tribe/map/page/src/lib/integration/__specs__/map.service.spec.ts
  libs/bite-tribe/map/page/src/lib/integration/map.service.ts
  libs/bite-tribe/restaurant/page/src/index.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/__specs__/unverified-restaurant-container.component.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/unverified-restaurant-container.component.ts
  libs/bite-tribe/shell/src/lib/routes.ts
  libs/common/utils/src/lib/paths.ts
Due: eslint --fix, prettier --write

fix: fix issues while creating a restaurant and creating a menu
  libs/bite-tribe/api/src/lib/restaurant-api/restaurant-api.service.ts
  libs/bite-tribe/store/src/lib/menus/effects.ts
Due: eslint --fix, prettier --write

test: adjust tests
  libs/bite-tribe-business/restaurant/page/src/test-setup.ts
  libs/bite-tribe/api/src/lib/restaurant-api/__specs__/restaurant-api.service.spec.ts
Due: eslint --fix, prettier --write

test: fix tests
  libs/bite-tribe/menu/data-access/jest.config.ts
  libs/bite-tribe/menu/data-access/src/lib/__specs__/menu-data-access.service.spec.ts
Due: eslint --fix, prettier --write

test: add test
  libs/bite-tribe/menu/data-access/src/lib/__specs__/menu-data-access.service.spec.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,html}
  prettier --write: any of: *.{ts,js,html,scss,json,md}
  stylelint --fix: any of: *.scss
