Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

test: fix tests
  libs/bite-tribe/home/page/src/lib/components/bite/__specs__/bite.component.spec.ts
Due: eslint --fix, prettier --write

refactor: calc distance in service instead of template (#283)
  libs/bite-tribe/details/data-access/src/lib/details-data-access.service.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.ts
  libs/bite-tribe/details/page/src/lib/integration/details.container.ts
  libs/bite-tribe/details/page/src/lib/integration/details.service.ts
  libs/bite-tribe/home/data-access/src/lib/home-data-access.service.ts
  libs/bite-tribe/home/page/src/lib/components/bite/__specs__/bite.component.spec.ts
  libs/bite-tribe/home/page/src/lib/components/bite/bite-page.component.html
  libs/bite-tribe/home/page/src/lib/components/bite/bite.component.html
  libs/bite-tribe/home/page/src/lib/components/bite/bite.component.scss
  libs/bite-tribe/home/page/src/lib/components/bite/bite.component.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/home/page/src/lib/integration/home-container.component.ts
  libs/bite-tribe/home/page/src/lib/integration/home.service.ts
  libs/bite-tribe/model/src/lib/bite.ts
  libs/bite-tribe/store/src/lib/app/actions.ts
  libs/bite-tribe/store/src/lib/app/effects.ts
  libs/bite-tribe/store/src/lib/app/index.ts
  libs/bite-tribe/store/src/lib/app/key.ts
  libs/bite-tribe/store/src/lib/app/reducer.ts
  libs/bite-tribe/store/src/lib/app/selectors.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/bites/selectors.ts
  libs/bite-tribe/store/src/lib/provide-bite-tribe-store.ts
  libs/common/distance-pipe/src/index.ts
  libs/common/distance-pipe/src/lib/calc-distance.pipe.ts
  libs/common/distance-pipe/src/lib/haversine-distance.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: add field for currency in new bite page
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/model/src/lib/bite.ts
  libs/bite-tribe/store/src/lib/app/reducer.ts
  libs/common/distance-pipe/src/lib/calc-distance.pipe.ts
Due: eslint --fix, prettier --write

chore: mock console.error
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
Due: eslint --fix, prettier --write

chore: restore console.error mock after tests
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
Due: eslint --fix, prettier --write

chore: fix copilot errorneous suggestion
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
Due: eslint --fix, prettier --write

256 implement currency dropdown (#284)
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/model/src/lib/bite.ts
  libs/bite-tribe/store/src/lib/app/reducer.ts
  libs/common/distance-pipe/src/lib/calc-distance.pipe.ts
Due: eslint --fix, prettier --write

feat: make dish name link to open bite detail page
  libs/bite-tribe/home/page/src/lib/components/bite/bite.component.html
  libs/bite-tribe/home/page/src/lib/components/bite/bite.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: initialize restaurant page
  libs/bite-tribe/home/page/src/lib/components/bite/bite.component.html
  libs/bite-tribe/home/page/src/lib/components/bite/bite.component.scss
  libs/bite-tribe/home/page/src/lib/components/bite/bite.component.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/restaurant/page/.eslintrc.json
  libs/bite-tribe/restaurant/page/README.md
  libs/bite-tribe/restaurant/page/jest.config.ts
  libs/bite-tribe/restaurant/page/project.json
  libs/bite-tribe/restaurant/page/src/index.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.scss
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/restaurant-container.component.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/restaurant.service.ts
  libs/bite-tribe/restaurant/page/src/test-setup.ts
  libs/bite-tribe/restaurant/page/tsconfig.json
  libs/bite-tribe/restaurant/page/tsconfig.lib.json
  libs/bite-tribe/restaurant/page/tsconfig.spec.json
  libs/bite-tribe/shell/src/lib/routes.ts
  tsconfig.base.json
Due: eslint --fix, prettier --write, stylelint --fix

test: fix tests
  libs/bite-tribe/home/page/src/lib/components/bite/__specs__/__snapshots__/bite.component.spec.ts.snap
  libs/bite-tribe/home/page/src/lib/components/bite/__specs__/bite.component.spec.ts
Due: eslint --fix, prettier --write

feat: initial restaurant page
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/home/page/src/lib/integration/home-container.component.ts
  libs/bite-tribe/home/page/src/lib/integration/home.service.ts
  libs/bite-tribe/model/src/index.ts
  libs/bite-tribe/model/src/lib/bite.ts
  libs/bite-tribe/model/src/lib/restaurant.ts
  libs/bite-tribe/restaurant/data-access/.eslintrc.json
  libs/bite-tribe/restaurant/data-access/README.md
  libs/bite-tribe/restaurant/data-access/jest.config.ts
  libs/bite-tribe/restaurant/data-access/project.json
  libs/bite-tribe/restaurant/data-access/src/index.ts
  libs/bite-tribe/restaurant/data-access/src/lib/restaurant-data-access.service.ts
  libs/bite-tribe/restaurant/data-access/src/test-setup.ts
  libs/bite-tribe/restaurant/data-access/tsconfig.json
  libs/bite-tribe/restaurant/data-access/tsconfig.lib.json
  libs/bite-tribe/restaurant/data-access/tsconfig.spec.json
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.scss
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/restaurant-container.component.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/restaurant.service.ts
  libs/bite-tribe/shell/src/lib/routes.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/provide-bite-tribe-store.ts
  libs/bite-tribe/store/src/lib/restaurant/actions.ts
  libs/bite-tribe/store/src/lib/restaurant/adapter.ts
  libs/bite-tribe/store/src/lib/restaurant/effects.ts
  libs/bite-tribe/store/src/lib/restaurant/index.ts
  libs/bite-tribe/store/src/lib/restaurant/key.ts
  libs/bite-tribe/store/src/lib/restaurant/reducer.ts
  libs/bite-tribe/store/src/lib/restaurant/selectors.ts
  libs/bite-tribe/store/src/lib/router/selectors.ts
  tsconfig.base.json
Due: eslint --fix, prettier --write, stylelint --fix

chore: fix tests
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/home.component.spec.ts
Due: eslint --fix, prettier --write

fix: fix taking place name from bite if restaurant not given
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.ts
Due: eslint --fix, prettier --write

feat: show like type
  libs/bite-tribe/home/page/src/lib/components/bite/bite.component.html
  libs/bite-tribe/home/page/src/lib/components/bite/bite.component.scss
  libs/bite-tribe/home/page/src/lib/components/bite/bite.component.ts
  libs/bite-tribe/home/page/src/lib/components/like-options-popover-menu/like-options-popover-menu.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

test: regen tests
  libs/bite-tribe/home/page/src/lib/components/bite/__specs__/bite.component.spec.ts
Due: eslint --fix, prettier --write

chore: cleanup
  libs/bite-tribe/home/page/src/lib/components/bite/__specs__/__snapshots__/bite.component.spec.ts.snap
Due: none

feat: restyle likes (#289)
  libs/bite-tribe/home/page/src/lib/components/bite/__specs__/__snapshots__/bite.component.spec.ts.snap
  libs/bite-tribe/home/page/src/lib/components/bite/__specs__/bite.component.spec.ts
  libs/bite-tribe/home/page/src/lib/components/bite/bite.component.html
  libs/bite-tribe/home/page/src/lib/components/bite/bite.component.scss
  libs/bite-tribe/home/page/src/lib/components/bite/bite.component.ts
  libs/bite-tribe/home/page/src/lib/components/like-options-popover-menu/like-options-popover-menu.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: introduce item in menu popover for settings
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/home/page/src/lib/integration/home-container.component.ts
  libs/bite-tribe/home/page/src/lib/integration/home.service.ts
  libs/common/ui/page/src/lib/page.component.ts
  libs/common/ui/page/src/lib/popover-menu.component.ts
  libs/common/utils/src/lib/add-necessary-icons.ts
Due: eslint --fix, prettier --write

feat: initial implementation of settings page
  libs/bite-tribe/settings/data-access/.eslintrc.json
  libs/bite-tribe/settings/data-access/README.md
  libs/bite-tribe/settings/data-access/jest.config.ts
  libs/bite-tribe/settings/data-access/project.json
  libs/bite-tribe/settings/data-access/src/index.ts
  libs/bite-tribe/settings/data-access/src/lib/settings-data-access.service.ts
  libs/bite-tribe/settings/data-access/src/test-setup.ts
  libs/bite-tribe/settings/data-access/tsconfig.json
  libs/bite-tribe/settings/data-access/tsconfig.lib.json
  libs/bite-tribe/settings/data-access/tsconfig.spec.json
  libs/bite-tribe/settings/page/.eslintrc.json
  libs/bite-tribe/settings/page/README.md
  libs/bite-tribe/settings/page/jest.config.ts
  libs/bite-tribe/settings/page/project.json
  libs/bite-tribe/settings/page/settings.png
  libs/bite-tribe/settings/page/src/index.ts
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.html
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.scss
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.ts
  libs/bite-tribe/settings/page/src/lib/integration/settings-container.component.ts
  libs/bite-tribe/settings/page/src/lib/integration/settings.service.ts
  libs/bite-tribe/settings/page/src/test-setup.ts
  libs/bite-tribe/settings/page/tsconfig.json
  libs/bite-tribe/settings/page/tsconfig.lib.json
  libs/bite-tribe/settings/page/tsconfig.spec.json
  libs/bite-tribe/shell/src/lib/routes.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/common/ta-firestore/src/lib/ngrx-store/index.ts
  libs/common/ta-firestore/src/lib/ngrx-store/selectors.ts
  tsconfig.base.json
Due: eslint --fix, prettier --write, stylelint --fix

chore: cleanup
  libs/bite-tribe/model/src/index.ts
  libs/bite-tribe/model/src/lib/user.ts
  libs/bite-tribe/settings/data-access/src/lib/settings-data-access.service.ts
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.ts
Due: eslint --fix, prettier --write

261 initial implementation of settings page (#290)
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/home/page/src/lib/integration/home-container.component.ts
  libs/bite-tribe/home/page/src/lib/integration/home.service.ts
  libs/bite-tribe/model/src/index.ts
  libs/bite-tribe/model/src/lib/user.ts
  libs/bite-tribe/settings/data-access/.eslintrc.json
  libs/bite-tribe/settings/data-access/README.md
  libs/bite-tribe/settings/data-access/jest.config.ts
  libs/bite-tribe/settings/data-access/project.json
  libs/bite-tribe/settings/data-access/src/index.ts
  libs/bite-tribe/settings/data-access/src/lib/settings-data-access.service.ts
  libs/bite-tribe/settings/data-access/src/test-setup.ts
  libs/bite-tribe/settings/data-access/tsconfig.json
  libs/bite-tribe/settings/data-access/tsconfig.lib.json
  libs/bite-tribe/settings/data-access/tsconfig.spec.json
  libs/bite-tribe/settings/page/.eslintrc.json
  libs/bite-tribe/settings/page/README.md
  libs/bite-tribe/settings/page/jest.config.ts
  libs/bite-tribe/settings/page/project.json
  libs/bite-tribe/settings/page/settings.png
  libs/bite-tribe/settings/page/src/index.ts
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.html
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.scss
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.ts
  libs/bite-tribe/settings/page/src/lib/integration/settings-container.component.ts
  libs/bite-tribe/settings/page/src/lib/integration/settings.service.ts
  libs/bite-tribe/settings/page/src/test-setup.ts
  libs/bite-tribe/settings/page/tsconfig.json
  libs/bite-tribe/settings/page/tsconfig.lib.json
  libs/bite-tribe/settings/page/tsconfig.spec.json
  libs/bite-tribe/shell/src/lib/routes.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/common/ta-firestore/src/lib/ngrx-store/index.ts
  libs/common/ta-firestore/src/lib/ngrx-store/selectors.ts
  libs/common/ui/page/src/lib/page.component.ts
  libs/common/ui/page/src/lib/popover-menu.component.ts
  libs/common/utils/src/lib/add-necessary-icons.ts
  tsconfig.base.json
Due: eslint --fix, prettier --write, stylelint --fix

feat: initial desktop layout
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.scss
  libs/common/ui/page/src/lib/page.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

chore: cleanup
  libs/bite-tribe/home/page/src/lib/components/page/home.component.scss
Due: prettier --write, stylelint --fix

feat: make home full-width and rest limited width
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/common/ui/page/src/lib/page.component.html
  libs/common/ui/page/src/lib/page.component.scss
  libs/common/ui/page/src/lib/page.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: initial desktop layout (#291)
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.scss
  libs/common/ui/page/src/lib/page.component.html
  libs/common/ui/page/src/lib/page.component.scss
  libs/common/ui/page/src/lib/page.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: impl distance calc for restaurant
  libs/bite-tribe/model/src/lib/restaurant.ts
  libs/bite-tribe/store/src/lib/restaurant/selectors.ts
Due: eslint --fix, prettier --write

fix: take distance from bite if restaurant is not present
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.ts
  libs/bite-tribe/store/src/lib/restaurant/selectors.ts
Due: eslint --fix, prettier --write

feat: save settings to firebase
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.ts
  libs/bite-tribe/model/src/index.ts
  libs/bite-tribe/model/src/lib/settings.ts
  libs/bite-tribe/settings/data-access/src/lib/settings-data-access.service.ts
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.html
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.ts
  libs/bite-tribe/settings/page/src/lib/integration/settings-container.component.ts
  libs/bite-tribe/settings/page/src/lib/integration/settings.service.ts
  libs/bite-tribe/store/src/lib/app/actions.ts
  libs/bite-tribe/store/src/lib/app/effects.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
Due: eslint --fix, prettier --write

chore: update snapshots
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/__snapshots__/details.page.spec.ts.snap
Due: none

feat: load settings from store and show in settings page
  apps/bite-tribe/src/theme/variables.scss
  libs/bite-tribe/home/page/src/lib/components/bite/bite.component.scss
  libs/bite-tribe/settings/data-access/src/lib/settings-data-access.service.ts
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.ts
  libs/bite-tribe/settings/page/src/lib/integration/settings-container.component.ts
  libs/bite-tribe/settings/page/src/lib/integration/settings.service.ts
  libs/bite-tribe/store/src/lib/app/reducer.ts
  libs/bite-tribe/store/src/lib/app/selectors.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/common/ui/page/src/lib/page.component.html
  libs/common/ui/page/src/lib/popover-menu.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: load settings from firebase
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/store/src/lib/app/actions.ts
  libs/bite-tribe/store/src/lib/app/effects.ts
  libs/bite-tribe/store/src/lib/app/reducer.ts
Due: eslint --fix, prettier --write

chore: update snapshots
  libs/common/ui/page/src/lib/__specs__/__snapshots__/popover-menu.component.spec.ts.snap
Due: none

fix: fix console error
  libs/bite-tribe/model/src/lib/settings.ts
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.ts
Due: eslint --fix, prettier --write

286 implement distance calculation for restaurant and save settings to firebase (#292)
  apps/bite-tribe/src/theme/variables.scss
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/__snapshots__/details.page.spec.ts.snap
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.ts
  libs/bite-tribe/home/page/src/lib/components/bite/bite.component.scss
  libs/bite-tribe/model/src/index.ts
  libs/bite-tribe/model/src/lib/restaurant.ts
  libs/bite-tribe/model/src/lib/settings.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.ts
  libs/bite-tribe/settings/data-access/src/lib/settings-data-access.service.ts
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.html
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.ts
  libs/bite-tribe/settings/page/src/lib/integration/settings-container.component.ts
  libs/bite-tribe/settings/page/src/lib/integration/settings.service.ts
  libs/bite-tribe/store/src/lib/app/actions.ts
  libs/bite-tribe/store/src/lib/app/effects.ts
  libs/bite-tribe/store/src/lib/app/reducer.ts
  libs/bite-tribe/store/src/lib/app/selectors.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/restaurant/selectors.ts
  libs/common/ui/page/src/lib/__specs__/__snapshots__/popover-menu.component.spec.ts.snap
  libs/common/ui/page/src/lib/page.component.html
  libs/common/ui/page/src/lib/popover-menu.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: fix color of review header text
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.scss
Due: prettier --write, stylelint --fix

fix: fix margin-right of existing like
  libs/bite-tribe/home/page/src/lib/components/bite/bite.component.html
  libs/bite-tribe/home/page/src/lib/components/bite/bite.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: use display name for reviews
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
Due: eslint --fix, prettier --write

feat: start menu feature
  libs/bite-tribe/model/src/index.ts
  libs/bite-tribe/model/src/lib/menu.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.scss
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: introduce selection of restaurant dependending on id or name
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/store/src/lib/restaurant/actions.ts
  libs/bite-tribe/store/src/lib/restaurant/effects.ts
  libs/bite-tribe/store/src/lib/restaurant/selectors.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,html}
  prettier --write: any of: *.{ts,js,html,scss,json,md}
  stylelint --fix: any of: *.scss
