Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

feat: 455 add storybook story
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/common/ui/star-rating/src/lib/__specs__/star-rating.component.spec.ts
  libs/common/ui/star-rating/src/lib/__specs__/star-rating.component.stories.ts
  libs/common/ui/star-rating/src/lib/star-rating.component.html
  libs/common/ui/star-rating/src/lib/star-rating.component.ts
  libs/storybook-host/project.json
Due: eslint --fix, prettier --write

feat: 455 storybook theming
  libs/common/ui/star-rating/src/lib/__specs__/star-rating.component.stories.ts
  libs/storybook-host/.storybook/manager.js
  libs/storybook-host/.storybook/preview-head.html
  libs/storybook-host/.storybook/theme.js
  libs/storybook-host/project.json
Due: eslint --fix, prettier --write

feat: 455 remove autodocs
  libs/storybook-host/.storybook/main.ts
  libs/storybook-host/.storybook/preview.ts
Due: eslint --fix, prettier --write

feat: 455 imporve gitignore
  .gitignore
Due: none

feat: 455 eslint
  .eslintignore
  libs/storybook-host/eslint.config.cjs
  libs/storybook-host/eslint.config.mjs
  nx.json
Due: prettier --write

test: 455 fix tests
  libs/common/ui/star-rating/src/lib/__specs__/star-rating.component.spec.ts
Due: eslint --fix, prettier --write

feat: 455 implement new icons for star rating
  apps/bite-tribe/src/assets/custom-icons/star.svg
  libs/common/ui/star-rating/src/lib/star-rating.component.html
  libs/common/ui/star-rating/src/lib/star-rating.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: 455 implement new icon for star distance
  apps/bite-tribe/src/assets/custom-icons/distance.svg
  libs/common/distance/src/lib/components/distance/distance.component.html
  libs/common/distance/src/lib/components/distance/distance.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: 455 fix star colors for light theme
  apps/bite-tribe/src/theme/variables.scss
  libs/common/ui/star-rating/src/lib/star-rating.component.scss
Due: prettier --write, stylelint --fix

feat: 455 use new icons for home
  apps/bite-tribe/src/assets/custom-icons/filter.svg
  apps/bite-tribe/src/assets/custom-icons/map.svg
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: 460 init snap drawer
  libs/bite-tribe/map/page/src/lib/components/map-page/map-page.component.html
  libs/bite-tribe/map/page/src/lib/components/map-page/map-page.component.ts
  libs/bite-tribe/map/page/src/lib/components/snap-drawer/snap-drawer.component.html
  libs/bite-tribe/map/page/src/lib/components/snap-drawer/snap-drawer.component.scss
  libs/bite-tribe/map/page/src/lib/components/snap-drawer/snap-drawer.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

458 add custom icons to project (#459)
  apps/bite-tribe/src/assets/custom-icons/distance.svg
  apps/bite-tribe/src/assets/custom-icons/filter.svg
  apps/bite-tribe/src/assets/custom-icons/map.svg
  apps/bite-tribe/src/assets/custom-icons/star.svg
  apps/bite-tribe/src/theme/variables.scss
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.scss
  libs/common/distance/src/lib/components/distance/distance.component.html
  libs/common/distance/src/lib/components/distance/distance.component.scss
  libs/common/ui/star-rating/src/lib/star-rating.component.html
  libs/common/ui/star-rating/src/lib/star-rating.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

455 add storybook (#457)
  .eslintignore
  .gitignore
  .storybook/main.ts
  .storybook/tsconfig.json
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/details/page/src/lib/components/tags/__specs__/tags.component.spec.ts
  libs/common/ui/star-rating/src/lib/__specs__/star-rating.component.spec.ts
  libs/common/ui/star-rating/src/lib/__specs__/star-rating.component.stories.ts
  libs/common/ui/star-rating/src/lib/star-rating.component.html
  libs/common/ui/star-rating/src/lib/star-rating.component.ts
  libs/common/ui/tags/src/lib/tags-input/__specs__/tags-input.component.stories.ts
  libs/storybook-host/.loki/.gitignore
  libs/storybook-host/.storybook/main.ts
  libs/storybook-host/.storybook/manager.js
  libs/storybook-host/.storybook/preview-head.html
  libs/storybook-host/.storybook/preview.ts
  libs/storybook-host/.storybook/theme.js
  libs/storybook-host/.storybook/tsconfig.json
  libs/storybook-host/README.md
  libs/storybook-host/eslint.config.mjs
  libs/storybook-host/loki.config.js
  libs/storybook-host/project.json
  libs/storybook-host/src/assets/temp/nxgraph.html
  libs/storybook-host/src/assets/temp/static/environment.js
  libs/storybook-host/src/assets/temp/static/favicon.ico
  libs/storybook-host/src/assets/temp/static/main.js
  libs/storybook-host/src/assets/temp/static/runtime.js
  libs/storybook-host/src/assets/temp/static/styles.css
  libs/storybook-host/src/assets/temp/static/styles.js
  libs/storybook-host/src/lib/docs/dep-graph/dep-graph.stories.ts
  libs/storybook-host/tsconfig.json
  libs/storybook-host/tsconfig.lib.json
  nx.json
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

feat: 460 make snap drawer pixel based
  libs/bite-tribe/map/page/src/lib/components/map-page/map-page.component.html
  libs/bite-tribe/map/page/src/lib/components/snap-drawer/snap-drawer.component.html
  libs/bite-tribe/map/page/src/lib/components/snap-drawer/snap-drawer.component.scss
  libs/bite-tribe/map/page/src/lib/components/snap-drawer/snap-drawer.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: 460 styling
  libs/bite-tribe/map/page/src/lib/components/map-page/map-page.component.html
  libs/bite-tribe/map/page/src/lib/components/map-page/map-page.component.scss
  libs/bite-tribe/map/page/src/lib/components/snap-drawer/snap-drawer.component.scss
  libs/bite-tribe/map/page/src/lib/components/snap-drawer/snap-drawer.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: 460 create compact bite view
  libs/bite-tribe-common/bite/src/index.ts
  libs/bite-tribe-common/bite/src/lib/compact-bite/compact-bite.component.html
  libs/bite-tribe-common/bite/src/lib/compact-bite/compact-bite.component.scss
  libs/bite-tribe-common/bite/src/lib/compact-bite/compact-bite.component.ts
  libs/bite-tribe/map/page/src/lib/components/map-page/map-page.component.html
  libs/bite-tribe/map/page/src/lib/components/map-page/map-page.component.scss
  libs/bite-tribe/map/page/src/lib/components/map-page/map-page.component.ts
  libs/bite-tribe/map/page/src/lib/components/snap-drawer/snap-drawer.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor: 460 improve component code
  libs/bite-tribe/map/page/src/lib/components/snap-drawer/snap-drawer.component.ts
Due: eslint --fix, prettier --write

feat: 460 add box shadow
  libs/bite-tribe/map/page/src/lib/components/snap-drawer/snap-drawer.component.scss
Due: prettier --write, stylelint --fix

feat: 460 add click on handle to open or close snap drawer
  libs/bite-tribe/map/page/src/lib/components/snap-drawer/snap-drawer.component.html
  libs/bite-tribe/map/page/src/lib/components/snap-drawer/snap-drawer.component.ts
Due: eslint --fix, prettier --write

feat: 460 remove compact component in favor of card layout
  libs/bite-tribe-common/bite/src/index.ts
  libs/bite-tribe-common/bite/src/lib/compact-bite/compact-bite.component.html
  libs/bite-tribe-common/bite/src/lib/compact-bite/compact-bite.component.scss
  libs/bite-tribe-common/bite/src/lib/compact-bite/compact-bite.component.ts
  libs/bite-tribe/map/page/src/lib/components/map-page/map-page.component.html
  libs/bite-tribe/map/page/src/lib/components/map-page/map-page.component.scss
  libs/bite-tribe/map/page/src/lib/components/map-page/map-page.component.ts
  libs/bite-tribe/map/page/src/lib/components/snap-drawer/snap-drawer.component.scss
  libs/bite-tribe/map/page/src/lib/components/snap-drawer/snap-drawer.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: 460 drag cursor on whole drawer
  libs/bite-tribe/map/page/src/lib/components/map-page/map-page.component.scss
  libs/bite-tribe/map/page/src/lib/components/snap-drawer/snap-drawer.component.html
  libs/bite-tribe/map/page/src/lib/components/snap-drawer/snap-drawer.component.scss
  libs/bite-tribe/map/page/src/lib/components/snap-drawer/snap-drawer.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: prepare build
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: none

chore: increase build number
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: none

chore: increase build number (#462)
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: none

refactor: move localization to shell
  apps/bite-tribe/src/environments/environment.ts
  eslint.config.mjs
  libs/bite-tribe/shell/src/lib/provide-bite-tribe-shell.ts
  libs/bite-tribe/store/src/lib/provide-bite-tribe-store.ts
  libs/common/localization/src/lib/localization/provide-localization.ts
Due: eslint --fix, prettier --write

fix: fix not loading translations
  libs/common/localization/src/lib/localization/provide-localization.ts
Due: eslint --fix, prettier --write

feat: introduce first localization strings in en and de
  apps/bite-tribe/src/assets/i18n/de-DE.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/environments/environment.ts
  libs/bite-tribe/api/src/lib/settings-api.service.ts
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.html
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.ts
  libs/common/localization/src/lib/localization/model/supported-lang.ts
  libs/common/ui/page/src/lib/popover-menu.component.ts
Due: eslint --fix, prettier --write

test: 460 add unit tests
  libs/bite-tribe/map/page/jest.config.ts
  libs/bite-tribe/map/page/src/lib/components/snap-drawer/__specs__/snap-drawer.component.spec.ts
  libs/bite-tribe/map/page/src/lib/components/snap-drawer/snap-drawer.component.ts
Due: eslint --fix, prettier --write

fix: 460 copilot changes
  libs/bite-tribe/map/page/src/lib/components/snap-drawer/snap-drawer.component.html
  libs/bite-tribe/map/page/src/lib/components/snap-drawer/snap-drawer.component.ts
Due: eslint --fix, prettier --write

test: 460 improve tests
  libs/bite-tribe/map/page/src/lib/components/snap-drawer/__specs__/snap-drawer.component.spec.ts
Due: eslint --fix, prettier --write

test: 460 add tests
  libs/bite-tribe/map/page/src/lib/components/snap-drawer/__specs__/snap-drawer.component.spec.ts
Due: eslint --fix, prettier --write

refactor: 460 refactor
  libs/bite-tribe/map/page/src/lib/components/snap-drawer/__specs__/snap-drawer.component.spec.ts
  libs/bite-tribe/map/page/src/lib/components/snap-drawer/snap-drawer.component.ts
  libs/bite-tribe/map/page/src/lib/components/snap-drawer/utils/__specs__/compute-snap-offsets.spec.ts
  libs/bite-tribe/map/page/src/lib/components/snap-drawer/utils/__specs__/find-closest-snap.spec.ts
  libs/bite-tribe/map/page/src/lib/components/snap-drawer/utils/__specs__/find-next-snap-down.spec.ts
  libs/bite-tribe/map/page/src/lib/components/snap-drawer/utils/__specs__/get-highest-snap.spec.ts
  libs/bite-tribe/map/page/src/lib/components/snap-drawer/utils/__specs__/get-lowest-snap.spec.ts
  libs/bite-tribe/map/page/src/lib/components/snap-drawer/utils/compute-snap-offsets.ts
  libs/bite-tribe/map/page/src/lib/components/snap-drawer/utils/find-closest-snap.ts
  libs/bite-tribe/map/page/src/lib/components/snap-drawer/utils/find-next-snap-down.ts
  libs/bite-tribe/map/page/src/lib/components/snap-drawer/utils/get-highest-snap.ts
  libs/bite-tribe/map/page/src/lib/components/snap-drawer/utils/get-lowest-snap.ts
Due: eslint --fix, prettier --write

chore: fix eslint config in bite-tribe
  apps/bite-tribe/eslint.config.mjs
  eslint.config.mjs
Due: none

460 implement ux design for bite in map view (#465)
  libs/bite-tribe/map/page/jest.config.ts
  libs/bite-tribe/map/page/src/lib/components/map-page/map-page.component.html
  libs/bite-tribe/map/page/src/lib/components/map-page/map-page.component.scss
  libs/bite-tribe/map/page/src/lib/components/map-page/map-page.component.ts
  libs/bite-tribe/map/page/src/lib/components/snap-drawer/__specs__/snap-drawer.component.spec.ts
  libs/bite-tribe/map/page/src/lib/components/snap-drawer/snap-drawer.component.html
  libs/bite-tribe/map/page/src/lib/components/snap-drawer/snap-drawer.component.scss
  libs/bite-tribe/map/page/src/lib/components/snap-drawer/snap-drawer.component.ts
  libs/bite-tribe/map/page/src/lib/components/snap-drawer/utils/__specs__/compute-snap-offsets.spec.ts
  libs/bite-tribe/map/page/src/lib/components/snap-drawer/utils/__specs__/find-closest-snap.spec.ts
  libs/bite-tribe/map/page/src/lib/components/snap-drawer/utils/__specs__/find-next-snap-down.spec.ts
  libs/bite-tribe/map/page/src/lib/components/snap-drawer/utils/__specs__/get-highest-snap.spec.ts
  libs/bite-tribe/map/page/src/lib/components/snap-drawer/utils/__specs__/get-lowest-snap.spec.ts
  libs/bite-tribe/map/page/src/lib/components/snap-drawer/utils/compute-snap-offsets.ts
  libs/bite-tribe/map/page/src/lib/components/snap-drawer/utils/find-closest-snap.ts
  libs/bite-tribe/map/page/src/lib/components/snap-drawer/utils/find-next-snap-down.ts
  libs/bite-tribe/map/page/src/lib/components/snap-drawer/utils/get-highest-snap.ts
  libs/bite-tribe/map/page/src/lib/components/snap-drawer/utils/get-lowest-snap.ts
Due: eslint --fix, prettier --write, stylelint --fix

test: fix test
  libs/bite-tribe/bite/page/src/lib/validators/__specs__/float-number-dot-notation.validator.spec.ts
  libs/common/ui/page/src/lib/__specs__/page.component.spec.ts
Due: eslint --fix, prettier --write

chore: increase build number and feedback from pr
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  libs/bite-tribe/map/data-access/src/test-setup.ts
  libs/bite-tribe/store/src/test-setup.ts
Due: eslint --fix, prettier --write

chore: ease linting
  libs/bite-tribe/map/page/eslint.config.mjs
Due: none

Path conditions:
  eslint --fix: any of: *.{ts,html}
  prettier --write: any of: *.{ts,js,html,scss,json,md}
  stylelint --fix: any of: *.scss
