Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,html}": "eslint --fix",
  "*.{ts,js,html,scss,json,md}": "prettier --write",
  "*.scss": "stylelint --fix"
}

187 dev wants to upgrade nx (#189)
  .husky/pre-commit
  package-lock.json
  package.json
Due: prettier --write

refactor(prices): replace @ngneat/transloco with @jsverse/transloco
  libs/prices/localization/src/lib/localization/provide-localization.ts
  libs/prices/localization/src/lib/localization/translate.pipe.ts
  libs/prices/localization/src/lib/localization/translate.service.ts
  libs/prices/localization/src/lib/localization/transloco-http-loader.service.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

refactor: remove models from utils-common
  libs/prices/add-item/feature/src/lib/api/price.model.ts
  libs/prices/add-item/feature/src/lib/components/add-item.component.ts
  libs/prices/add-item/feature/src/lib/integration/add-item-container.component.ts
  libs/prices/add-item/feature/src/lib/integration/add-item.service.ts
  libs/prices/auth/feature/src/lib/api/auth-credentials.model.ts
  libs/prices/auth/feature/src/lib/components/auth.component.ts
  libs/prices/auth/feature/src/lib/integration/auth-container.component.ts
  libs/prices/auth/feature/src/lib/integration/auth.service.ts
  libs/prices/firestore/feature/src/lib/api/auth-credentials.model.ts
  libs/prices/firestore/feature/src/lib/api/most-searched-item.model.ts
  libs/prices/firestore/feature/src/lib/api/price.model.ts
  libs/prices/firestore/feature/src/lib/auth.service.ts
  libs/prices/firestore/feature/src/lib/prices.service.ts
  libs/prices/home/feature/src/lib/api/filter.ts
  libs/prices/home/feature/src/lib/api/most-searched-item.model.ts
  libs/prices/home/feature/src/lib/components/home.component.ts
  libs/prices/home/feature/src/lib/integration/home-container.component.ts
  libs/prices/home/feature/src/lib/utils/add-location-filter.ts
  libs/prices/home/feature/src/lib/utils/get-filtered-prices.ts
  libs/prices/registration/feature/src/lib/api/auth-credentials.model.ts
  libs/prices/registration/feature/src/lib/components/registration.component.ts
  libs/prices/registration/feature/src/lib/integration/registration-container.component.ts
  libs/prices/registration/feature/src/lib/integration/registration.service.ts
  libs/prices/store/feature/src/lib/api/auth-credentials.model.ts
  libs/prices/store/feature/src/lib/api/most-searched-item.model.ts
  libs/prices/store/feature/src/lib/api/price.model.ts
  libs/prices/store/feature/src/lib/auth/actions.ts
  libs/prices/store/feature/src/lib/auth/effects.ts
  libs/prices/store/feature/src/lib/mostSearched/actions.ts
  libs/prices/store/feature/src/lib/mostSearched/adapter.ts
  libs/prices/store/feature/src/lib/mostSearched/effects.ts
  libs/prices/store/feature/src/lib/mostSearched/state.ts
  libs/utils-common/src/index.ts
  libs/utils-common/src/lib/model/index.ts
Due: eslint --fix, prettier --write

refactor: switch from toBeCalledTimes to toHaveBeenCalledTimes
  libs/prices/auth/feature/src/lib/__specs__/auth-container.component.spec.ts
  libs/prices/auth/feature/src/lib/__specs__/auth.component.spec.ts
Due: eslint --fix, prettier --write

feat(prices): introduce popover menu with localization options
  apps/prices/src/global.scss
  libs/prices/page/feature/src/lib/page.component.html
  libs/prices/page/feature/src/lib/page.component.ts
  libs/prices/page/feature/src/lib/popover-menu.component.ts
  libs/utils-common/src/lib/add-necessary-icons.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, stylelint --fix

test: add providers for self sufficient component
  libs/prices/page/feature/src/lib/page.component.ts
Due: eslint --fix, prettier --write

feat(prices): localization for prices
  apps/prices/src/app/app.config.ts
  apps/prices/src/assets/i18n/de.json
  apps/prices/src/assets/i18n/en.json
  apps/prices/src/assets/i18n/fr.json
  apps/prices/src/assets/i18n/tr.json
  apps/prices/src/environments/environment.prod.ts
  apps/prices/src/environments/environment.ts
  libs/prices/add-item/feature/src/lib/components/add-item.component.html
  libs/prices/add-item/feature/src/lib/components/add-item.component.ts
  libs/prices/add-item/feature/src/lib/integration/add-item-container.component.ts
  libs/prices/add-item/feature/src/lib/integration/add-item.service.ts
  libs/prices/home/feature/src/lib/components/home.component.html
  libs/prices/home/feature/src/lib/components/home.component.ts
  libs/prices/home/feature/src/lib/integration/home-container.component.ts
  libs/prices/home/feature/src/lib/integration/home.service.ts
  libs/prices/localization/src/index.ts
  libs/prices/localization/src/lib/localization/model/supported-lang.ts
  libs/prices/localization/src/lib/localization/provide-localization.ts
  libs/prices/localization/src/lib/localization/translate.service.ts
  libs/prices/page/feature/src/lib/page.component.ts
  libs/prices/page/feature/src/lib/popover-menu.component.ts
  libs/prices/store/feature/src/index.ts
  libs/prices/store/feature/src/lib/localization/actions.ts
  libs/prices/store/feature/src/lib/localization/effects.ts
  libs/prices/store/feature/src/lib/localization/index.ts
  libs/prices/store/feature/src/lib/provide-prices-store.ts
  libs/utils-common/src/lib/environment.ts
Due: eslint --fix, prettier --write

test: fix tests
  libs/prices/auth/feature/src/lib/__specs__/auth-container.component.spec.ts
  libs/prices/auth/feature/src/lib/__specs__/auth.component.spec.ts
  libs/prices/auth/feature/src/lib/__specs__/auth.service.spec.ts
  libs/prices/home/feature/src/lib/__specs__/home.component.spec.ts
  libs/prices/page/feature/src/lib/__specs__/page.component.spec.ts
Due: eslint --fix, prettier --write

test: fix broken test
  libs/prices/add-item/feature/src/lib/__specs__/add-item.service.spec.ts
Due: eslint --fix, prettier --write

fix: fix broken kosaml build
  libs/utils-common/src/lib/environment.ts
Due: eslint --fix, prettier --write

test: fix e2e test
  apps/prices-e2e/src/support/commands.ts
  libs/prices/page/feature/src/lib/page.component.html
  libs/prices/page/feature/src/lib/popover-menu.component.ts
Due: eslint --fix, prettier --write

192 user wants a burger menu to logout and switch languages (#193)
  apps/prices-e2e/src/support/commands.ts
  apps/prices/src/app/app.config.ts
  apps/prices/src/assets/i18n/de.json
  apps/prices/src/assets/i18n/en.json
  apps/prices/src/assets/i18n/fr.json
  apps/prices/src/assets/i18n/tr.json
  apps/prices/src/environments/environment.prod.ts
  apps/prices/src/environments/environment.ts
  apps/prices/src/global.scss
  libs/prices/add-item/feature/src/lib/__specs__/add-item.service.spec.ts
  libs/prices/add-item/feature/src/lib/components/add-item.component.html
  libs/prices/add-item/feature/src/lib/components/add-item.component.ts
  libs/prices/add-item/feature/src/lib/integration/add-item-container.component.ts
  libs/prices/add-item/feature/src/lib/integration/add-item.service.ts
  libs/prices/auth/feature/src/lib/__specs__/auth-container.component.spec.ts
  libs/prices/auth/feature/src/lib/__specs__/auth.component.spec.ts
  libs/prices/auth/feature/src/lib/__specs__/auth.service.spec.ts
  libs/prices/home/feature/src/lib/__specs__/home.component.spec.ts
  libs/prices/home/feature/src/lib/components/home.component.html
  libs/prices/home/feature/src/lib/components/home.component.ts
  libs/prices/home/feature/src/lib/integration/home-container.component.ts
  libs/prices/home/feature/src/lib/integration/home.service.ts
  libs/prices/localization/src/index.ts
  libs/prices/localization/src/lib/localization/model/supported-lang.ts
  libs/prices/localization/src/lib/localization/provide-localization.ts
  libs/prices/localization/src/lib/localization/translate.service.ts
  libs/prices/page/feature/src/lib/__specs__/page.component.spec.ts
  libs/prices/page/feature/src/lib/page.component.html
  libs/prices/page/feature/src/lib/page.component.ts
  libs/prices/page/feature/src/lib/popover-menu.component.ts
  libs/prices/store/feature/src/index.ts
  libs/prices/store/feature/src/lib/localization/actions.ts
  libs/prices/store/feature/src/lib/localization/effects.ts
  libs/prices/store/feature/src/lib/localization/index.ts
  libs/prices/store/feature/src/lib/provide-prices-store.ts
  libs/utils-common/src/lib/add-necessary-icons.ts
  libs/utils-common/src/lib/environment.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, stylelint --fix

style(prices): limit width and center content in big screens
  libs/prices/page/feature/src/lib/page.component.html
  libs/prices/page/feature/src/lib/page.component.ts
Due: eslint --fix, prettier --write

feat: switch to taking pictures on add item instead of url of image
  apps/prices/src/assets/i18n/de.json
  libs/prices/add-item/feature/src/lib/api/add-item.ts
  libs/prices/add-item/feature/src/lib/components/add-item.component.html
  libs/prices/add-item/feature/src/lib/components/add-item.component.scss
  libs/prices/add-item/feature/src/lib/components/add-item.component.ts
  libs/prices/firestore/feature/src/lib/api/price.model.ts
  libs/prices/firestore/feature/src/lib/prices.service.ts
  libs/prices/home/feature/src/lib/api/most-searched-item.model.ts
  libs/prices/home/feature/src/lib/components/home.component.html
  libs/prices/home/feature/src/lib/components/home.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

refactor(prices): stronger typing
  libs/prices/add-item/feature/src/lib/api/add-item.ts
  libs/prices/add-item/feature/src/lib/components/add-item.component.ts
Due: eslint --fix, prettier --write

194 user wants to take a picture of the product (#195)
  apps/prices/src/assets/i18n/de.json
  libs/prices/add-item/feature/src/lib/api/add-item.ts
  libs/prices/add-item/feature/src/lib/components/add-item.component.html
  libs/prices/add-item/feature/src/lib/components/add-item.component.scss
  libs/prices/add-item/feature/src/lib/components/add-item.component.ts
  libs/prices/firestore/feature/src/lib/api/price.model.ts
  libs/prices/firestore/feature/src/lib/prices.service.ts
  libs/prices/home/feature/src/lib/api/most-searched-item.model.ts
  libs/prices/home/feature/src/lib/components/home.component.html
  libs/prices/home/feature/src/lib/components/home.component.scss
  libs/prices/page/feature/src/lib/page.component.html
  libs/prices/page/feature/src/lib/page.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: upgrade nx ng ngrx and storybook
  .eslintrc.json
  .gitignore
  .prettierignore
  package-lock.json
  package.json
Due: prettier --write

refactor: migrate to StoryObj from Story
  libs/prices/auth/feature/src/lib/__specs__/auth.component.stories.ts
  libs/prices/card/feature/src/lib/__specs__/card.component.stories.ts
  libs/prices/home/feature/src/lib/__specs__/home.component.stories.ts
  libs/prices/page/feature/src/lib/__specs__/page.component.stories.ts
  libs/prices/password-validator/feature/src/lib/__specs__/password-validator.component.stories.ts
  libs/prices/registration/feature/src/lib/__specs__/registration.component.stories.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

docs(prices): migrate unattached mdx story
  .storybook/main.js
  apps/kosaml/.storybook/main.js
  apps/prices/.storybook/main.js
  apps/prices/.storybook/preview.js
  libs/prices/docs/__specs__/Benutzerhandbuch.mdx
  libs/prices/home/feature/src/lib/__specs__/home.component.stories.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

chore: update dependencies
  package-lock.json
  package.json
Due: prettier --write

chore: disable nx-module-boundaries for main.ts
  apps/kosaml/.storybook/main.js
  apps/prices/.storybook/main.js
Due: prettier --write

test: fix failing tests after adding AngularDelegate from ionic
  libs/kosaml/page/feature/src/lib/components/page/__specs__/page.component.spec.ts
  libs/prices/add-item/feature/src/lib/__specs__/add-item.component.spec.ts
  libs/prices/auth/feature/src/lib/__specs__/auth-container.component.spec.ts
  libs/prices/auth/feature/src/lib/__specs__/auth.component.spec.ts
  libs/prices/home/feature/src/lib/__specs__/home.component.spec.ts
  libs/prices/page/feature/src/lib/__specs__/page.component.spec.ts
  libs/prices/page/feature/src/lib/page.component.scss
  libs/prices/page/feature/src/lib/page.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor(kosaml): fix stories for kosaml
  libs/kosaml/conceptual-design/base/use-case/feature/src/lib/components/use-case/__specs__/use-case.stories.ts
  libs/kosaml/conceptual-design/task-object/feature/src/lib/components/task-object/__specs__/task-object.stories.ts
Due: eslint --fix, prettier --write

chore: upgrade dependencies (#197)
  .eslintrc.json
  .gitignore
  .prettierignore
  .storybook/main.js
  apps/kosaml/.storybook/main.js
  apps/prices/.storybook/main.js
  apps/prices/.storybook/preview.js
  libs/kosaml/conceptual-design/base/use-case/feature/src/lib/components/use-case/__specs__/use-case.stories.ts
  libs/kosaml/conceptual-design/task-object/feature/src/lib/components/task-object/__specs__/task-object.stories.ts
  libs/kosaml/page/feature/src/lib/components/page/__specs__/page.component.spec.ts
  libs/prices/add-item/feature/src/lib/__specs__/add-item.component.spec.ts
  libs/prices/auth/feature/src/lib/__specs__/auth-container.component.spec.ts
  libs/prices/auth/feature/src/lib/__specs__/auth.component.spec.ts
  libs/prices/auth/feature/src/lib/__specs__/auth.component.stories.ts
  libs/prices/card/feature/src/lib/__specs__/card.component.stories.ts
  libs/prices/docs/__specs__/Benutzerhandbuch.mdx
  libs/prices/home/feature/src/lib/__specs__/home.component.spec.ts
  libs/prices/home/feature/src/lib/__specs__/home.component.stories.ts
  libs/prices/page/feature/src/lib/__specs__/page.component.spec.ts
  libs/prices/page/feature/src/lib/__specs__/page.component.stories.ts
  libs/prices/page/feature/src/lib/page.component.scss
  libs/prices/page/feature/src/lib/page.component.ts
  libs/prices/password-validator/feature/src/lib/__specs__/password-validator.component.stories.ts
  libs/prices/registration/feature/src/lib/__specs__/registration.component.stories.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, stylelint --fix

feat: setup dashboard in finances
  apps/finances/project.json
  apps/finances/src/app/app.config.ts
  apps/finances/src/global.scss
  apps/finances/src/styles.scss
  apps/finances/src/theme/variables.scss
  apps/prices/project.json
  apps/prices/src/global.scss
  libs/common/ui/page/.eslintrc.json
  libs/common/ui/page/.stylelintrc.json
  libs/common/ui/page/README.md
  libs/common/ui/page/jest.config.ts
  libs/common/ui/page/project.json
  libs/common/ui/page/src/index.ts
  libs/common/ui/page/src/lib/__specs__/page.component.spec.ts
  libs/common/ui/page/src/lib/__specs__/page.component.stories.ts
  libs/common/ui/page/src/lib/page.component.html
  libs/common/ui/page/src/lib/page.component.scss
  libs/common/ui/page/src/lib/page.component.ts
  libs/common/ui/page/src/lib/popover-menu.component.ts
  libs/common/ui/page/src/test-setup.ts
  libs/common/ui/page/tsconfig.json
  libs/common/ui/page/tsconfig.lib.json
  libs/common/ui/page/tsconfig.spec.json
  libs/finances/pages/dashboard/src/lib/components/dashboard/dashboard.component.html
  libs/finances/pages/dashboard/src/lib/components/dashboard/dashboard.component.ts
  libs/prices/add-item/feature/src/lib/components/add-item.component.ts
  libs/prices/auth/feature/src/lib/components/auth.component.ts
  libs/prices/home/feature/src/lib/components/home.component.ts
  libs/prices/page/feature/README.md
  libs/prices/registration/feature/src/lib/components/registration.component.ts
  tsconfig.base.json
Due: eslint --fix, prettier --write, stylelint --fix

feat: initial dashboard
  libs/common/ui/card/.eslintrc.json
  libs/common/ui/card/.stylelintrc.json
  libs/common/ui/card/README.md
  libs/common/ui/card/jest.config.ts
  libs/common/ui/card/project.json
  libs/common/ui/card/src/index.ts
  libs/common/ui/card/src/lib/__specs__/card.component.spec.ts
  libs/common/ui/card/src/lib/__specs__/card.component.stories.ts
  libs/common/ui/card/src/lib/card.component.html
  libs/common/ui/card/src/lib/card.component.ts
  libs/common/ui/card/src/test-setup.ts
  libs/common/ui/card/tsconfig.json
  libs/common/ui/card/tsconfig.lib.json
  libs/common/ui/card/tsconfig.spec.json
  libs/finances/pages/dashboard/src/lib/components/dashboard/dashboard.component.html
  libs/finances/pages/dashboard/src/lib/components/dashboard/dashboard.component.ts
  libs/prices/add-item/feature/src/lib/components/add-item.component.ts
  libs/prices/auth/feature/src/lib/components/auth.component.html
  libs/prices/auth/feature/src/lib/components/auth.component.ts
  libs/prices/card/feature/README.md
  libs/prices/home/feature/src/lib/components/home.component.html
  libs/prices/home/feature/src/lib/components/home.component.ts
  libs/prices/registration/feature/src/lib/components/registration.component.ts
  tsconfig.base.json
Due: eslint --fix, prettier --write

feat(finances): initial account overview in dashboard
  libs/finances/pages/dashboard/src/lib/components/dashboard/dashboard.component.html
  libs/finances/pages/dashboard/src/lib/components/dashboard/dashboard.component.ts
Due: eslint --fix, prettier --write

feat: introduce bank component and extract data to constant
  libs/finances/pages/dashboard/src/lib/components/bank/bank.component.html
  libs/finances/pages/dashboard/src/lib/components/bank/bank.component.ts
  libs/finances/pages/dashboard/src/lib/components/dashboard/dashboard.component.html
  libs/finances/pages/dashboard/src/lib/components/dashboard/dashboard.component.ts
  libs/finances/pages/dashboard/src/lib/integration/banks.ts
  libs/finances/pages/dashboard/src/lib/model/bank.ts
Due: eslint --fix, prettier --write

refactor: introduce signal inputs
  libs/finances/pages/dashboard/src/lib/components/bank/bank.component.html
  libs/finances/pages/dashboard/src/lib/components/bank/bank.component.ts
  libs/finances/pages/dashboard/src/lib/components/dashboard/dashboard.component.html
  libs/finances/pages/dashboard/src/lib/components/dashboard/dashboard.component.ts
  libs/finances/pages/dashboard/src/lib/integration/dashboard-container.component.ts
  libs/finances/pages/dashboard/src/lib/integration/dashboard.service.ts
  libs/finances/pages/dashboard/src/lib/model/bank.ts
Due: eslint --fix, prettier --write

feat: use signal output
  libs/finances/pages/dashboard/src/lib/components/bank/bank.component.html
  libs/finances/pages/dashboard/src/lib/components/bank/bank.component.ts
  libs/finances/pages/dashboard/src/lib/components/dashboard/dashboard.component.html
  libs/finances/pages/dashboard/src/lib/components/dashboard/dashboard.component.ts
  libs/finances/pages/dashboard/src/lib/integration/dashboard-container.component.ts
  libs/finances/pages/dashboard/src/lib/integration/dashboard.service.ts
Due: eslint --fix, prettier --write

feat(finances): move data to ngrx store
  apps/finances/src/app/app.config.ts
  apps/finances/src/environments/environment.prod.ts
  apps/finances/src/environments/environment.ts
  libs/finances/pages/dashboard/src/lib/components/bank/bank.component.ts
  libs/finances/pages/dashboard/src/lib/components/dashboard/dashboard.component.ts
  libs/finances/pages/dashboard/src/lib/integration/banks.ts
  libs/finances/pages/dashboard/src/lib/integration/dashboard.service.ts
  libs/finances/store/.eslintrc.json
  libs/finances/store/README.md
  libs/finances/store/jest.config.ts
  libs/finances/store/project.json
  libs/finances/store/src/index.ts
  libs/finances/store/src/lib/accounts/adapter.ts
  libs/finances/store/src/lib/accounts/index.ts
  libs/finances/store/src/lib/accounts/key.ts
  libs/finances/store/src/lib/accounts/reducer.ts
  libs/finances/store/src/lib/accounts/selectors.ts
  libs/finances/store/src/lib/banks/adapter.ts
  libs/finances/store/src/lib/banks/index.ts
  libs/finances/store/src/lib/banks/key.ts
  libs/finances/store/src/lib/banks/reducer.ts
  libs/finances/store/src/lib/banks/selectors.ts
  libs/finances/store/src/lib/model/account.ts
  libs/finances/store/src/lib/model/bank.ts
  libs/finances/store/src/lib/provide-finances-store.ts
  libs/finances/store/src/test-setup.ts
  libs/finances/store/tsconfig.json
  libs/finances/store/tsconfig.lib.json
  libs/finances/store/tsconfig.spec.json
  tsconfig.base.json
Due: eslint --fix, prettier --write

refactor: introduce signal store
  libs/finances/pages/dashboard/src/lib/integration/dashboard-container.component.ts
  libs/finances/pages/dashboard/src/lib/integration/dashboard.service.ts
  libs/finances/pages/dashboard/src/lib/integration/dashboard.store.ts
  libs/finances/store/src/lib/accounts/actions.ts
  libs/finances/store/src/lib/accounts/adapter.ts
  libs/finances/store/src/lib/accounts/effects.ts
  libs/finances/store/src/lib/accounts/reducer.ts
  libs/finances/store/src/lib/banks/actions.ts
  libs/finances/store/src/lib/banks/adapter.ts
  libs/finances/store/src/lib/banks/effects.ts
  libs/finances/store/src/lib/banks/reducer.ts
  libs/finances/store/src/lib/indexed-db/IndexedDbService.ts
  libs/finances/store/src/lib/model/account.ts
  libs/finances/store/src/lib/model/bank.ts
  libs/finances/store/src/lib/provide-finances-store.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

feat: prepare add feature in finances app
  libs/common/ui/page/src/lib/page.component.html
  libs/common/ui/page/src/lib/page.component.ts
Due: eslint --fix, prettier --write

refactor: use esbuilder for prices
  apps/prices/env-var-plugin.js
  apps/prices/project.json
  apps/prices/src/global.scss
  apps/prices/src/polyfills.ts
  apps/prices/tsconfig.app.json
  apps/prices/webpack.config.js
  libs/prices/add-item/feature/src/lib/components/add-item.component.html
  libs/prices/docs/__specs__/Benutzerhandbuch.mdx
Due: eslint --fix, prettier --write, stylelint --fix

fix: fix build-storybook for prices
  apps/prices/.storybook/tsconfig.json
  libs/common/ui/page/src/lib/__specs__/page.component.stories.ts
Due: eslint --fix, prettier --write

docs: fix docs
  apps/prices/.loki/reference/chrome_iphone7_Components_Card_Empty.png
  apps/prices/.loki/reference/chrome_iphone7_Components_Card_Primary.png
  apps/prices/.loki/reference/chrome_iphone7_Components_Page_Primary.png
  apps/prices/.loki/reference/chrome_iphone7_Components_Password_Validator_Primary.png
  apps/prices/.loki/reference/chrome_iphone7_Pages_Add_Item_Primary.png
  apps/prices/.loki/reference/chrome_iphone7_Pages_Auth_Primary.png
  apps/prices/.loki/reference/chrome_iphone7_Pages_Home_Empty.png
  apps/prices/.loki/reference/chrome_iphone7_Pages_Home_Primary.png
  apps/prices/.loki/reference/chrome_iphone7_Pages_Registration_Primary.png
  apps/prices/.storybook/main.js
Due: prettier --write
