Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,html}": "eslint --fix",
  "*.{ts,js,html,scss,json,md}": "prettier --write",
  "*.scss": "stylelint --fix"
}

feat: google places search
  apps/bite-tribe-firebase/functions/src/functions/callable-options.ts
  apps/bite-tribe-firebase/functions/src/functions/search-places.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/search-places.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  libs/bite-tribe-common/model/src/index.ts
  libs/bite-tribe-common/model/src/lib/google-place.ts
  libs/bite-tribe/api/src/lib/bite-api/bite-api.service.ts
  libs/bite-tribe/api/src/lib/bite-api/utils/search-places.ts
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/bite/data-access/src/lib/bite-data-access.service.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite.service.ts
  libs/bite-tribe/bite/page/src/lib/integration/create-bite.container.ts
  libs/bite-tribe/bite/page/src/lib/integration/edit-bite-container.component.ts
  libs/common/ui/restaurant-selector/src/index.ts
  libs/common/ui/restaurant-selector/src/lib/__specs__/restaurant-selector.component.spec.ts
  libs/common/ui/restaurant-selector/src/lib/__specs__/restaurant-selector.component.stories.ts
  libs/common/ui/restaurant-selector/src/lib/restaurant-selector.component.html
  libs/common/ui/restaurant-selector/src/lib/restaurant-selector.component.ts
Due: eslint --fix, prettier --write

style: adjustments
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.scss
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/common/ui/restaurant-selector/src/lib/restaurant-selector.component.html
Due: eslint --fix, prettier --write, stylelint --fix

feat(800): user wants to use google maps (#964)
  apps/bite-tribe-firebase/functions/src/functions/callable-options.ts
  apps/bite-tribe-firebase/functions/src/functions/search-places.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/search-places.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe-common/model/src/index.ts
  libs/bite-tribe-common/model/src/lib/google-place.ts
  libs/bite-tribe/api/src/lib/bite-api/bite-api.service.ts
  libs/bite-tribe/api/src/lib/bite-api/utils/search-places.ts
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/bite/data-access/src/lib/bite-data-access.service.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.scss
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite.service.ts
  libs/bite-tribe/bite/page/src/lib/integration/create-bite.container.ts
  libs/bite-tribe/bite/page/src/lib/integration/edit-bite-container.component.ts
  libs/common/ui/restaurant-selector/src/index.ts
  libs/common/ui/restaurant-selector/src/lib/__specs__/restaurant-selector.component.spec.ts
  libs/common/ui/restaurant-selector/src/lib/__specs__/restaurant-selector.component.stories.ts
  libs/common/ui/restaurant-selector/src/lib/restaurant-selector.component.html
  libs/common/ui/restaurant-selector/src/lib/restaurant-selector.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: prefill currency via google
  apps/bite-tribe-firebase/functions/src/functions/enrich-bite-address-on-create.ts
  apps/bite-tribe-firebase/functions/src/functions/get-currency-by-position.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/get-currency-by-position.ts
  apps/bite-tribe-firebase/functions/src/functions/utils/country-code-to-currency.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/utils/country-code-to-currency.ts
  apps/bite-tribe-firebase/functions/src/functions/utils/reverse-geocode.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  libs/bite-tribe/api/src/lib/bite-api/bite-api.service.ts
  libs/bite-tribe/api/src/lib/bite-api/utils/get-currency-by-position.ts
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/bite/data-access/src/lib/bite-data-access.service.ts
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/bite/page/src/lib/integration/__specs__/bite.service.spec.ts
  libs/bite-tribe/bite/page/src/lib/integration/__specs__/create-bite.container.spec.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite.service.ts
  libs/bite-tribe/bite/page/src/lib/integration/create-bite.container.ts
Due: eslint --fix, prettier --write

feat(909): auto select currency by position (#965)
  apps/bite-tribe-firebase/functions/src/functions/enrich-bite-address-on-create.ts
  apps/bite-tribe-firebase/functions/src/functions/get-currency-by-position.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/get-currency-by-position.ts
  apps/bite-tribe-firebase/functions/src/functions/utils/country-code-to-currency.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/utils/country-code-to-currency.ts
  apps/bite-tribe-firebase/functions/src/functions/utils/reverse-geocode.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  libs/bite-tribe/api/src/lib/bite-api/bite-api.service.ts
  libs/bite-tribe/api/src/lib/bite-api/utils/get-currency-by-position.ts
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/bite/data-access/src/lib/bite-data-access.service.ts
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/bite/page/src/lib/integration/__specs__/bite.service.spec.ts
  libs/bite-tribe/bite/page/src/lib/integration/__specs__/create-bite.container.spec.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite.service.ts
  libs/bite-tribe/bite/page/src/lib/integration/create-bite.container.ts
Due: eslint --fix, prettier --write

feat: client side price validation
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
Due: eslint --fix, prettier --write

feat: client side price validation (#967)
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
Due: eslint --fix, prettier --write

feat: resync biteCount in user
  apps/bite-tribe-firebase/functions/src/functions/resync-bite-counts.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/resync-bite-counts.ts
  apps/bite-tribe-firebase/functions/src/index.ts
Due: eslint --fix, prettier --write

feat(966): weekly resync for bite count (#969)
  apps/bite-tribe-firebase/functions/src/functions/resync-bite-counts.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/resync-bite-counts.ts
  apps/bite-tribe-firebase/functions/src/index.ts
Due: eslint --fix, prettier --write

feat: persist leaderboard
  apps/bite-tribe-firebase/functions/src/functions/increment-bite-count-on-bite-create.ts
  apps/bite-tribe-firebase/functions/src/functions/load-leaderboard.ts
  apps/bite-tribe-firebase/functions/src/functions/utils/leaderboard.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/utils/leaderboard.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/__specs__/profile.component.spec.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.ts
Due: eslint --fix, prettier --write

feat: reload on page enter
  libs/bite-tribe/leaderboard/page/src/lib/integration/__specs__/leaderboard.service.spec.ts
  libs/bite-tribe/leaderboard/page/src/lib/integration/leaderboard.container.ts
  libs/bite-tribe/leaderboard/page/src/lib/integration/leaderboard.service.ts
Due: eslint --fix, prettier --write

feat(968): persist leader board (#970)
  apps/bite-tribe-firebase/functions/src/functions/increment-bite-count-on-bite-create.ts
  apps/bite-tribe-firebase/functions/src/functions/load-leaderboard.ts
  apps/bite-tribe-firebase/functions/src/functions/utils/leaderboard.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/utils/leaderboard.ts
  libs/bite-tribe/leaderboard/page/src/lib/integration/__specs__/leaderboard.service.spec.ts
  libs/bite-tribe/leaderboard/page/src/lib/integration/leaderboard.container.ts
  libs/bite-tribe/leaderboard/page/src/lib/integration/leaderboard.service.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/__specs__/profile.component.spec.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.ts
Due: eslint --fix, prettier --write

feat: notifications for change in ranking
  apps/bite-tribe-firebase/functions/src/functions/send-daily-leaderboard-notification.ts
  apps/bite-tribe-firebase/functions/src/functions/utils/leaderboard.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/utils/leaderboard.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  libs/common/push-notifications/src/lib/init-push.ts
Due: eslint --fix, prettier --write

feat: notifications for change in ranking (#971)
  apps/bite-tribe-firebase/functions/src/functions/send-daily-leaderboard-notification.ts
  apps/bite-tribe-firebase/functions/src/functions/utils/leaderboard.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/utils/leaderboard.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  libs/common/push-notifications/src/lib/init-push.ts
Due: eslint --fix, prettier --write

chore: prepare build 1.0.1-82 release
  CHANGELOG.md
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: prettier --write

bump version 82 (#972)
  CHANGELOG.md
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: prettier --write

feat: search city
  apps/bite-tribe-firebase/functions/src/functions/search-bites-by-city.ts
  apps/bite-tribe-firebase/functions/src/functions/search-bites.ts
  apps/bite-tribe-firebase/functions/src/functions/utils/geocode.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/utils/geocode.ts
  apps/bite-tribe-firebase/functions/src/functions/utils/search-bite.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe-common/model/src/lib/search-result.ts
  libs/bite-tribe/search/data-access/src/lib/__specs__/search-data-access.service.spec.ts
  libs/bite-tribe/search/data-access/src/lib/search-data-access.service.ts
  libs/bite-tribe/search/page/src/lib/components/search-list/__specs__/search-list.component.spec.ts
  libs/bite-tribe/search/page/src/lib/components/search-list/search-list.component.ts
  libs/bite-tribe/search/page/src/lib/components/search-page/__specs__/search.page.spec.ts
  libs/bite-tribe/search/page/src/lib/components/search-page/search.page.ts
  libs/bite-tribe/search/page/src/lib/integration/__specs__/search.service.spec.ts
  libs/bite-tribe/search/page/src/lib/integration/search.service.ts
Due: eslint --fix, prettier --write

feat: search city (#974)
  apps/bite-tribe-firebase/functions/src/functions/search-bites-by-city.ts
  apps/bite-tribe-firebase/functions/src/functions/search-bites.ts
  apps/bite-tribe-firebase/functions/src/functions/utils/geocode.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/utils/geocode.ts
  apps/bite-tribe-firebase/functions/src/functions/utils/search-bite.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe-common/model/src/lib/search-result.ts
  libs/bite-tribe/search/data-access/src/lib/__specs__/search-data-access.service.spec.ts
  libs/bite-tribe/search/data-access/src/lib/search-data-access.service.ts
  libs/bite-tribe/search/page/src/lib/components/search-list/__specs__/search-list.component.spec.ts
  libs/bite-tribe/search/page/src/lib/components/search-list/search-list.component.ts
  libs/bite-tribe/search/page/src/lib/components/search-page/__specs__/search.page.spec.ts
  libs/bite-tribe/search/page/src/lib/components/search-page/search.page.ts
  libs/bite-tribe/search/page/src/lib/integration/__specs__/search.service.spec.ts
  libs/bite-tribe/search/page/src/lib/integration/search.service.ts
Due: eslint --fix, prettier --write

feat: flags in profile
  apps/bite-tribe-firebase/functions/src/functions/enrich-bite-address-on-create.ts
  apps/bite-tribe-firebase/functions/src/functions/utils/user-country-codes.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/utils/user-country-codes.ts
  apps/bite-tribe/src/global.scss
  libs/bite-tribe-common/model/src/lib/public-user.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/__specs__/profile.stories.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/components/__specs__/country-flags.spec.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/components/country-flags.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/components/country-flags.scss
  libs/bite-tribe/profile/page/src/lib/components/profile-page/components/country-flags.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: fix lint errors
  apps/bite-tribe-firebase/functions/src/functions/increment-bite-count-on-bite-create.ts
  apps/bite-tribe-firebase/functions/src/functions/utils/user-country-codes.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/utils/user-country-codes.ts
Due: eslint --fix, prettier --write

feat(975): add badges to profile (#976)
  apps/bite-tribe-firebase/functions/src/functions/enrich-bite-address-on-create.ts
  apps/bite-tribe-firebase/functions/src/functions/increment-bite-count-on-bite-create.ts
  apps/bite-tribe-firebase/functions/src/functions/utils/user-country-codes.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/utils/user-country-codes.ts
  apps/bite-tribe/src/global.scss
  libs/bite-tribe-common/model/src/lib/public-user.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/__specs__/profile.stories.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/components/__specs__/country-flags.spec.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/components/country-flags.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/components/country-flags.scss
  libs/bite-tribe/profile/page/src/lib/components/profile-page/components/country-flags.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: verify restaurant from business app
  apps/bite-tribe-firebase/functions/src/functions/model/restaurant-candidate.ts
  apps/bite-tribe-firebase/functions/src/functions/verify-restaurant-candidate.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/verify-restaurant-candidate.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  libs/bite-tribe-business/dashboard/page/src/lib/integration/__specs__/dashboard.service.spec.ts
  libs/bite-tribe-business/dashboard/page/src/lib/integration/dashboard.service.ts
  libs/bite-tribe-business/restaurant/data-access/src/lib/__specs__/restaurant-data-access.service.spec.ts
  libs/bite-tribe-business/restaurant/data-access/src/lib/restaurant-data-access.service.ts
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/__specs__/new-restaurant-page.component.spec.ts
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/new-restaurant-page.component.ts
  libs/bite-tribe-business/restaurant/page/src/lib/integration/__specs__/new-restaurant.service.spec.ts
  libs/bite-tribe-business/restaurant/page/src/lib/integration/new-restaurant.service.ts
  libs/bite-tribe-common/model/src/lib/restaurant-candidate.ts
  libs/bite-tribe-common/model/src/lib/restaurant.ts
  libs/bite-tribe/api/src/lib/__specs__/bite-tribe-api.service.spec.ts
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/api/src/lib/restaurant-api/__specs__/restaurant-api.service.spec.ts
  libs/bite-tribe/api/src/lib/restaurant-api/restaurant-api.service.ts
Due: eslint --fix, prettier --write

feat: verify restaurant from business app (#977)
  apps/bite-tribe-firebase/functions/src/functions/model/restaurant-candidate.ts
  apps/bite-tribe-firebase/functions/src/functions/verify-restaurant-candidate.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/verify-restaurant-candidate.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  libs/bite-tribe-business/dashboard/page/src/lib/integration/__specs__/dashboard.service.spec.ts
  libs/bite-tribe-business/dashboard/page/src/lib/integration/dashboard.service.ts
  libs/bite-tribe-business/restaurant/data-access/src/lib/__specs__/restaurant-data-access.service.spec.ts
  libs/bite-tribe-business/restaurant/data-access/src/lib/restaurant-data-access.service.ts
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/__specs__/new-restaurant-page.component.spec.ts
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/new-restaurant-page.component.ts
  libs/bite-tribe-business/restaurant/page/src/lib/integration/__specs__/new-restaurant.service.spec.ts
  libs/bite-tribe-business/restaurant/page/src/lib/integration/new-restaurant.service.ts
  libs/bite-tribe-common/model/src/lib/restaurant-candidate.ts
  libs/bite-tribe-common/model/src/lib/restaurant.ts
  libs/bite-tribe/api/src/lib/__specs__/bite-tribe-api.service.spec.ts
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/api/src/lib/restaurant-api/__specs__/restaurant-api.service.spec.ts
  libs/bite-tribe/api/src/lib/restaurant-api/restaurant-api.service.ts
Due: eslint --fix, prettier --write

docs: update sspot
  ssot/pages/Implementation - Firebase Functions.md
  ssot/pages/Restaurant.md
  ssot/pages/UC - Maintain Restaurants In The Business App.md
  ssot/pages/issue-778.md
Due: prettier --write

docs: update issues
  ssot/pages/Bite.md
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Release State.md
  ssot/pages/Current State - Roadmap.md
  ssot/pages/Implementation - Firebase Functions.md
  ssot/pages/UC - Create And Maintain Personal Bites.md
  ssot/pages/UC - Receive App Notifications And Engagement Updates.md
  ssot/pages/UC - Search In BiteTribe.md
  ssot/pages/UC - Use Gamification Signals.md
  ssot/pages/User.md
  ssot/pages/epic-907.md
  ssot/pages/issue-778.md
  ssot/pages/issue-942.md
  ssot/pages/issue-966.md
  ssot/pages/issue-967.md
  ssot/pages/issue-968.md
  ssot/pages/issue-971.md
  ssot/pages/issue-974.md
  ssot/pages/issue-975.md
Due: prettier --write

docs: reevaluate currency selection issues
  ssot/pages/Bite.md
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Release State.md
  ssot/pages/Current State - Roadmap.md
  ssot/pages/Implementation - Firebase Functions.md
  ssot/pages/UC - Create And Maintain Personal Bites.md
  ssot/pages/UC - Strengthen Location Currency And Data Quality Guidance.md
  ssot/pages/issue-909.md
Due: prettier --write

docs: sync issues with github
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Roadmap.md
  ssot/pages/UC - Strengthen Location Currency And Data Quality Guidance.md
  ssot/pages/epic-907.md
  ssot/pages/issue-909.md
  ssot/pages/issue-978.md
Due: prettier --write

docs: refine 943
  ssot/pages/issue-778.md
  ssot/pages/issue-943.md
Due: prettier --write

style: adjust flags
  libs/bite-tribe/profile/page/src/lib/components/profile-page/__specs__/profile.stories.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/components/country-flags.scss
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.html
Due: eslint --fix, prettier --write, stylelint --fix

fix: loading state on my bites page
  libs/bite-tribe/home/page/src/lib/integration/my-bites.container.ts
Due: eslint --fix, prettier --write

feat: loading indicator for currency
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.stories.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.scss
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/bite/page/src/lib/components/page/price-input/__specs__/price-input.component.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/price-input/price-input.component.html
  libs/bite-tribe/bite/page/src/lib/components/page/price-input/price-input.component.scss
  libs/bite-tribe/bite/page/src/lib/components/page/price-input/price-input.component.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite.service.ts
  libs/bite-tribe/bite/page/src/lib/integration/create-bite.container.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor: cleanup flags for page component
  libs/bite-tribe-business/create-bite-trail/page/src/lib/components/page/create-bite-trail.component.html
  libs/bite-tribe-business/dashboard/page/src/lib/component/page/dashboard.component.html
  libs/bite-tribe-business/edit-menu/page/src/lib/components/page/edit-menu-page.component.html
  libs/bite-tribe-business/migrations/page/src/lib/component/page/migrations.html
  libs/bite-tribe-business/organisation-dashboard/page/src/lib/components/page/organisation-dashboard.html
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/edit-restaurant.component.html
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/new-restaurant-page.component.html
  libs/bite-tribe/about/page/src/lib/components/about-page/about.page.html
  libs/bite-tribe/bite-trail/page/src/lib/components/bite-trail-bites-page/bite-trail-bites.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bucketlist/page/src/lib/components/bucketlists-page/bucketlists.page.html
  libs/bite-tribe/bucketlist/page/src/lib/components/edit-bucketlist-page/edit-bucketlist.page.html
  libs/bite-tribe/bucketlist/page/src/lib/components/rate-bucketlist-page/rate-bucketlist.page.html
  libs/bite-tribe/delete-account/src/lib/delete-account/delete-account.html
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/followers/page/src/lib/components/followers-list/followers-list.component.html
  libs/bite-tribe/gallery/page/src/lib/components/gallery-page/gallery.page.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/leaderboard/page/src/lib/components/leaderboard-list/leaderboard-list.component.html
  libs/bite-tribe/map/page/src/lib/components/map-page/map-page.component.html
  libs/bite-tribe/market-place/page/src/lib/components/market-place-page/market-place.page.html
  libs/bite-tribe/menu/page/src/lib/components/page/menu-page.component.html
  libs/bite-tribe/privacy-policy/src/lib/privacy-policy/privacy-policy.html
  libs/bite-tribe/profile/page/src/lib/components/edit-profile-page/edit-profile.page.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/page/bite-place/bite-place.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/page/edit-restaurant/edit-restaurant.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant/restaurant.component.html
  libs/bite-tribe/search/page/src/lib/components/search-page/search.page.html
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.html
  libs/common/ui/auth/src/lib/components/login/login.component.html
  libs/common/ui/auth/src/lib/components/registration/registration.component.html
  libs/common/ui/page/src/index.ts
  libs/common/ui/page/src/lib/__specs__/page.component.stories.ts
  libs/common/ui/page/src/lib/page-config.ts
  libs/common/ui/page/src/lib/page.component.html
  libs/common/ui/page/src/lib/page.component.ts
Due: eslint --fix, prettier --write

refactor: reorganize outputs of page component
  libs/bite-tribe-business/dashboard/page/src/lib/component/page/dashboard.component.html
  libs/bite-tribe-business/dashboard/page/src/lib/component/page/dashboard.component.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.ts
  libs/common/ui/page/src/lib/menu/app-menu.component.html
  libs/common/ui/page/src/lib/menu/app-menu.component.ts
  libs/common/ui/page/src/lib/page-config.ts
  libs/common/ui/page/src/lib/page.component.ts
Due: eslint --fix, prettier --write

refactor: collapse outputs to one
  libs/bite-tribe-business/dashboard/page/src/lib/component/page/dashboard.component.html
  libs/bite-tribe-business/dashboard/page/src/lib/component/page/dashboard.component.ts
  libs/bite-tribe-business/dashboard/page/src/lib/integration/dashboard-container.component.ts
  libs/bite-tribe-business/dashboard/page/src/lib/integration/dashboard.service.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/home/page/src/lib/integration/bucket-list.container.ts
  libs/bite-tribe/home/page/src/lib/integration/home.container.ts
  libs/bite-tribe/home/page/src/lib/integration/home.service.ts
  libs/bite-tribe/home/page/src/lib/integration/my-bites.container.ts
  libs/bite-tribe/home/page/src/lib/integration/restaurant-bites.container.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.ts
  libs/bite-tribe/profile/page/src/lib/integration/my-profile.container.ts
  libs/bite-tribe/profile/page/src/lib/integration/profile-container.component.ts
  libs/bite-tribe/profile/page/src/lib/integration/profile.service.ts
Due: eslint --fix, prettier --write

test: add tests
  libs/common/ui/page/src/lib/__specs__/page.component.spec.ts
Due: eslint --fix, prettier --write

test: add tests
  libs/bite-tribe-business/dashboard/page/src/lib/component/page/__specs__/dashboard.component.spec.ts
  libs/bite-tribe-business/dashboard/page/src/lib/integration/__specs__/dashboard.service.spec.ts
Due: eslint --fix, prettier --write

refinement (#980)
  ssot/pages/Bite.md
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Release State.md
  ssot/pages/Current State - Roadmap.md
  ssot/pages/Implementation - Firebase Functions.md
  ssot/pages/Restaurant.md
  ssot/pages/UC - Create And Maintain Personal Bites.md
  ssot/pages/UC - Maintain Restaurants In The Business App.md
  ssot/pages/UC - Receive App Notifications And Engagement Updates.md
  ssot/pages/UC - Search In BiteTribe.md
  ssot/pages/UC - Strengthen Location Currency And Data Quality Guidance.md
  ssot/pages/UC - Use Gamification Signals.md
  ssot/pages/User.md
  ssot/pages/epic-907.md
  ssot/pages/issue-778.md
  ssot/pages/issue-909.md
  ssot/pages/issue-942.md
  ssot/pages/issue-943.md
  ssot/pages/issue-966.md
  ssot/pages/issue-967.md
  ssot/pages/issue-968.md
  ssot/pages/issue-971.md
  ssot/pages/issue-974.md
  ssot/pages/issue-975.md
  ssot/pages/issue-978.md
Due: prettier --write

feat: switch to button from input field and load initial google places if no places exist in bt
  apps/bite-tribe-firebase/functions/src/functions/search-places.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/search-places.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/api/src/lib/bite-api/bite-api.service.ts
  libs/bite-tribe/api/src/lib/bite-api/utils/search-nearby-places.ts
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/bite/data-access/src/lib/bite-data-access.service.ts
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.scss
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite.service.ts
  libs/bite-tribe/bite/page/src/lib/integration/create-bite.container.ts
  libs/common/ui/restaurant-selector/src/lib/__specs__/restaurant-selector.component.spec.ts
  libs/common/ui/restaurant-selector/src/lib/__specs__/restaurant-selector.component.stories.ts
  libs/common/ui/restaurant-selector/src/lib/restaurant-selector.component.html
  libs/common/ui/restaurant-selector/src/lib/restaurant-selector.component.ts
Due: eslint --fix, prettier --write, stylelint --fix
