Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,html}": "eslint --fix",
  "*.{ts,js,html,scss,json,md}": "prettier --write",
  "*.scss": "stylelint --fix"
}

feat: implement unfollow somebody
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/api/src/lib/profile-api.service.ts
  libs/bite-tribe/profile/data-access/src/lib/profile-data-access.service.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.ts
  libs/bite-tribe/profile/page/src/lib/integration/bite-creator-profile.container.ts
  libs/bite-tribe/profile/page/src/lib/integration/profile.service.ts
  libs/bite-tribe/store/src/lib/app/actions.ts
  libs/bite-tribe/store/src/lib/app/effects.ts
  libs/bite-tribe/store/src/lib/app/utils/is-profile-page.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
Due: eslint --fix, prettier --write

feat: impl unfollow with confirmation dialog
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.ts
  libs/bite-tribe/store/src/lib/app/effects.ts
Due: eslint --fix, prettier --write

test: adjust tests
  libs/bite-tribe/profile/data-access/src/lib/__specs__/profile-data-access.service.spec.ts
  libs/bite-tribe/store/src/lib/app/__specs__/reducer.spec.ts
  libs/bite-tribe/store/src/lib/app/__specs__/selectors.spec.ts
Due: eslint --fix, prettier --write

test: add tests
  libs/bite-tribe/api/src/lib/__specs__/bite-tribe-api.service.spec.ts
  libs/bite-tribe/api/src/lib/__specs__/profile-api.service.spec.ts
  libs/bite-tribe/api/src/lib/profile-api.service.ts
  libs/bite-tribe/profile/data-access/src/lib/__specs__/profile-data-access.service.spec.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/__specs__/profile.component.spec.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.ts
  libs/bite-tribe/profile/page/src/lib/integration/__specs__/profile.service.spec.ts
  libs/bite-tribe/store/src/lib/__specs__/bite-tribe-store.service.spec.ts
  libs/bite-tribe/store/src/lib/app/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/app/__specs__/reducer.spec.ts
  libs/bite-tribe/store/src/lib/app/__specs__/selectors.spec.ts
  libs/bite-tribe/store/src/lib/app/reducer.ts
  libs/bite-tribe/store/src/lib/app/utils/__specs__/is-profile-page.spec.ts
  libs/bite-tribe/store/src/lib/app/utils/__specs__/with-user-from-action.spec.ts
Due: eslint --fix, prettier --write

test: fix tests
  libs/bite-tribe/store/src/lib/app/__specs__/effects.spec.ts
Due: eslint --fix, prettier --write

feat(552): profile metadata on profile page (#554)
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe/api/src/lib/__specs__/bite-tribe-api.service.spec.ts
  libs/bite-tribe/api/src/lib/__specs__/profile-api.service.spec.ts
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/api/src/lib/profile-api.service.ts
  libs/bite-tribe/model/src/index.ts
  libs/bite-tribe/model/src/lib/profile-meta-data.ts
  libs/bite-tribe/model/src/lib/public-user.ts
  libs/bite-tribe/profile/data-access/src/lib/__specs__/profile-data-access.service.spec.ts
  libs/bite-tribe/profile/data-access/src/lib/profile-data-access.service.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/__specs__/profile.component.spec.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.ts
  libs/bite-tribe/profile/page/src/lib/integration/__specs__/profile.service.spec.ts
  libs/bite-tribe/profile/page/src/lib/integration/bite-creator-profile.container.ts
  libs/bite-tribe/profile/page/src/lib/integration/my-profile.container.ts
  libs/bite-tribe/profile/page/src/lib/integration/profile.service.ts
  libs/bite-tribe/store/src/lib/__specs__/bite-tribe-store.service.spec.ts
  libs/bite-tribe/store/src/lib/app/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/app/__specs__/reducer.spec.ts
  libs/bite-tribe/store/src/lib/app/__specs__/selectors.spec.ts
  libs/bite-tribe/store/src/lib/app/actions.ts
  libs/bite-tribe/store/src/lib/app/app-slice.model.ts
  libs/bite-tribe/store/src/lib/app/effects.ts
  libs/bite-tribe/store/src/lib/app/reducer.ts
  libs/bite-tribe/store/src/lib/app/selectors.ts
  libs/bite-tribe/store/src/lib/app/utils/__specs__/is-profile-page.spec.ts
  libs/bite-tribe/store/src/lib/app/utils/__specs__/with-user-from-action.spec.ts
  libs/bite-tribe/store/src/lib/app/utils/is-profile-page.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/common/ta-firestore/src/lib/provide-firestore-utils.ts
Due: eslint --fix, prettier --write

test: add missing tests
  libs/bite-tribe/profile/page/src/lib/components/profile-page/__specs__/profile.component.spec.ts
  libs/bite-tribe/store/src/lib/app/utils/__specs__/is-profile-page.spec.ts
Due: eslint --fix, prettier --write

test: add missing tests (#555)
  apps/bite-tribe-ios/ios/App/Podfile.lock
  libs/bite-tribe/profile/page/src/lib/components/profile-page/__specs__/profile.component.spec.ts
  libs/bite-tribe/store/src/lib/app/utils/__specs__/is-profile-page.spec.ts
Due: eslint --fix, prettier --write

fix: fix firebase function for notifications
  apps/firebase-functions/functions/src/index.ts
Due: eslint --fix, prettier --write

fix: fix iphone crash on profile page with a lot bites
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.ts
Due: eslint --fix, prettier --write

fix: fix not loading profile metadata on my-profile page
  libs/bite-tribe/store/src/lib/app/utils/is-profile-page.ts
Due: eslint --fix, prettier --write

chore: increase build and versionCode with alignment
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: none

refactor: feedback from pr
  apps/firebase-functions/functions/src/index.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/__specs__/profile.component.spec.ts
  libs/bite-tribe/store/src/lib/app/utils/__specs__/is-profile-page.spec.ts
  libs/bite-tribe/store/src/lib/app/utils/is-profile-page.ts
Due: eslint --fix, prettier --write

test: extend test suite
  libs/bite-tribe/profile/page/src/lib/components/profile-page/__specs__/profile.component.spec.ts
Due: eslint --fix, prettier --write

fix: notifications, iphone crash on profile page, loading metadata on my-profile (#557)
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  apps/firebase-functions/functions/src/index.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/__specs__/profile.component.spec.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.ts
  libs/bite-tribe/store/src/lib/app/utils/__specs__/is-profile-page.spec.ts
  libs/bite-tribe/store/src/lib/app/utils/is-profile-page.ts
Due: eslint --fix, prettier --write

fix: fix collapsing image tag
  libs/bite-tribe-common/bite/src/lib/__specs__/bite.stories.ts
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe-common/bite/src/lib/bite.component.scss
  libs/common/ui/card/src/lib/__specs__/card.component.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

docs: add story for tag suggestions
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.stories.ts
Due: eslint --fix, prettier --write

ci: start codecov ignore file
  codecov.yml
Due: none

ci: switch to codecov ignore in github actions
  .github/workflows/pipeline.yml
  codecov.yml
Due: none

ci: reswitch to codecov.yml
  .github/workflows/pipeline.yml
  codecov.yml
Due: none

fix: collapsing img while loading (#560)
  .github/workflows/pipeline.yml
  codecov.yml
  libs/bite-tribe-common/bite/src/lib/__specs__/bite.stories.ts
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe-common/bite/src/lib/bite.component.scss
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.stories.ts
  libs/common/ui/card/src/lib/__specs__/card.component.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: merge firebase simulator and firebase functions modules
  README.md
  apps/bite-tribe-firebase/.firebase-export/auth_export/accounts.json
  apps/bite-tribe-firebase/.firebase-export/auth_export/config.json
  apps/bite-tribe-firebase/.firebase-export/firebase-export-metadata.json
  apps/bite-tribe-firebase/.firebase-export/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
  apps/bite-tribe-firebase/.firebase-export/firestore_export/all_namespaces/all_kinds/output-0
  apps/bite-tribe-firebase/.firebase-export/firestore_export/firestore_export.overall_export_metadata
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/43fe2d9e-1d94-42fc-b1ef-e3842116edf4
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/b437aca4-a673-45e4-b4f8-e7c49eda32e1
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/f7f05629-bd34-4fa0-b6e5-99a2099920c4
  apps/bite-tribe-firebase/.firebase-export/storage_export/buckets.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/43fe2d9e-1d94-42fc-b1ef-e3842116edf4.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/b437aca4-a673-45e4-b4f8-e7c49eda32e1.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/f7f05629-bd34-4fa0-b6e5-99a2099920c4.json
  apps/bite-tribe-firebase/.firebaserc
  apps/bite-tribe-firebase/.gitignore
  apps/bite-tribe-firebase/firebase.json
  apps/bite-tribe-firebase/functions/.eslintrc.js
  apps/bite-tribe-firebase/functions/.gitignore
  apps/bite-tribe-firebase/functions/package-lock.json
  apps/bite-tribe-firebase/functions/package.json
  apps/bite-tribe-firebase/functions/src/index.ts
  apps/bite-tribe-firebase/functions/tsconfig.dev.json
  apps/bite-tribe-firebase/functions/tsconfig.json
  apps/bite-tribe-firebase/project.json
  apps/bite-tribe-firebase/storage.rules
  apps/firebase-functions/project.json
  apps/firebase-simulator/.firebaserc
  apps/firebase-simulator/.gitignore
  apps/firebase-simulator/firebase.json
  apps/firebase-simulator/project.json
  codecov.yml
Due: eslint --fix, prettier --write

chore: merge firebase functions with simulator (#561)
  README.md
  apps/bite-tribe-firebase/.firebase-export/auth_export/accounts.json
  apps/bite-tribe-firebase/.firebase-export/auth_export/config.json
  apps/bite-tribe-firebase/.firebase-export/firebase-export-metadata.json
  apps/bite-tribe-firebase/.firebase-export/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
  apps/bite-tribe-firebase/.firebase-export/firestore_export/all_namespaces/all_kinds/output-0
  apps/bite-tribe-firebase/.firebase-export/firestore_export/firestore_export.overall_export_metadata
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/43fe2d9e-1d94-42fc-b1ef-e3842116edf4
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/b437aca4-a673-45e4-b4f8-e7c49eda32e1
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/f7f05629-bd34-4fa0-b6e5-99a2099920c4
  apps/bite-tribe-firebase/.firebase-export/storage_export/buckets.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/43fe2d9e-1d94-42fc-b1ef-e3842116edf4.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/b437aca4-a673-45e4-b4f8-e7c49eda32e1.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/f7f05629-bd34-4fa0-b6e5-99a2099920c4.json
  apps/bite-tribe-firebase/.firebaserc
  apps/bite-tribe-firebase/.gitignore
  apps/bite-tribe-firebase/firebase.json
  apps/bite-tribe-firebase/functions/.eslintrc.js
  apps/bite-tribe-firebase/functions/.gitignore
  apps/bite-tribe-firebase/functions/package-lock.json
  apps/bite-tribe-firebase/functions/package.json
  apps/bite-tribe-firebase/functions/src/index.ts
  apps/bite-tribe-firebase/functions/tsconfig.dev.json
  apps/bite-tribe-firebase/functions/tsconfig.json
  apps/bite-tribe-firebase/project.json
  apps/bite-tribe-firebase/storage.rules
  apps/firebase-functions/project.json
  apps/firebase-simulator/.firebaserc
  apps/firebase-simulator/.gitignore
  apps/firebase-simulator/firebase.json
  apps/firebase-simulator/project.json
  codecov.yml
Due: eslint --fix, prettier --write

ci: fix storybook deploy
  firebase.json
Due: prettier --write

ci: fix storybook deployment (#562)
  firebase.json
Due: prettier --write

ci: fix storybook deployment II
  firebase.json
Due: prettier --write

ci: fix storybook deployment (#563)
  firebase.json
Due: prettier --write

ci: fix storybook deployment III
  firebase.json
Due: prettier --write

ci: fix storybook deployment III (#564)
  firebase.json
Due: prettier --write

ci: fix storybook deployment
  firebase.json
  package.json
Due: prettier --write

ci: fix storybook deployment (#565)
  firebase.json
  package.json
Due: prettier --write

feat: mirror google avatar to firestore
  libs/bite-tribe/api/src/lib/bite-api/bite-api.service.ts
  libs/bite-tribe/api/src/lib/bite-api/utils/__specs__/upload-bae64-to-firebasestorage.spec.ts
  libs/bite-tribe/api/src/lib/bite-api/utils/__specs__/upload-image-and-update-bite.spec.ts
  libs/bite-tribe/api/src/lib/bite-api/utils/upload-base64-to-firebase-storage.ts
  libs/bite-tribe/api/src/lib/bite-api/utils/upload-image-and-update-bite.ts
  libs/bite-tribe/api/src/lib/bite-api/utils/uploadBlobToFirebaseStorage.ts
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/api/src/lib/profile-api.service.ts
  libs/bite-tribe/api/src/lib/utils/is-idp-avatar-url.ts
  libs/bite-tribe/api/src/lib/utils/to-public-user.ts
  libs/bite-tribe/store/src/lib/bites/effects.ts
Due: eslint --fix, prettier --write

refactor: cleanup and adjust tests
  libs/bite-tribe/api/src/lib/bite-api/utils/__specs__/upload-image-and-update-bite.spec.ts
  libs/bite-tribe/api/src/lib/bite-api/utils/upload-base64-to-firebase-storage.ts
  libs/bite-tribe/api/src/lib/bite-api/utils/upload-blob-to-firebasestorage.ts
  libs/bite-tribe/api/src/lib/profile-api.service.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/bites/effects.ts
Due: eslint --fix, prettier --write

test: extend test suite
  libs/bite-tribe/api/src/lib/utils/__specs__/is-idp-avatar-url.spec.ts
  libs/bite-tribe/api/src/lib/utils/__specs__/to-public-user.spec.ts
Due: eslint --fix, prettier --write

test: adjust tests
  libs/bite-tribe/api/src/lib/__specs__/profile-api.service.spec.ts
Due: eslint --fix, prettier --write

refactor: extract helper function
  libs/bite-tribe/api/src/lib/__specs__/bite-tribe-api.service.spec.ts
  libs/bite-tribe/api/src/lib/bite-api/utils/__specs__/load-bites-by-user.spec.ts
  libs/bite-tribe/api/src/lib/profile-api.service.ts
  libs/bite-tribe/api/src/lib/utils/check-user-profile-image-and-mirror-to-firebase.ts
  libs/bite-tribe/api/src/lib/utils/user-collection-key.ts
Due: eslint --fix, prettier --write

test: add tests
  libs/bite-tribe/api/src/lib/profile-api.service.ts
  libs/bite-tribe/api/src/lib/utils/__specs__/check-user-profile-image-and-mirror-to-firebase.spec.ts
  libs/bite-tribe/api/src/lib/utils/check-user-profile-image-and-mirror-to-firebase.ts
Due: eslint --fix, prettier --write

chore: cleanup
  libs/bite-tribe/api/src/lib/profile-api.service.ts
Due: eslint --fix, prettier --write

fix: not showing user image on edit profile page
  libs/bite-tribe/profile/page/src/lib/components/edit-profile-page/edit-profile.page.html
  libs/bite-tribe/profile/page/src/lib/components/edit-profile-page/edit-profile.page.ts
Due: eslint --fix, prettier --write

test: adjust tests
  libs/bite-tribe/profile/page/src/lib/components/edit-profile-page/__specs__/edit-profile.page.spec.ts
Due: eslint --fix, prettier --write
