Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Update reference images and loki approve run script
  apps/prices/.loki/reference/chrome_iphone7_Pages_Add_Item_Primary.png
  apps/prices/.loki/reference/chrome_iphone7_Pages_Auth_Primary.png
  package.json
Due: prettier --write

Initial setup of password validation
  libs/prices/auth/feature/src/lib/components/auth.component.html
  libs/prices/auth/feature/src/lib/components/auth.component.scss
  libs/prices/auth/feature/src/lib/components/auth.component.ts
Due: eslint --fix, prettier --write

Implement validation of password
  libs/prices/auth/feature/src/lib/components/auth.component.html
  libs/prices/auth/feature/src/lib/components/auth.component.ts
Due: eslint --fix, prettier --write

Update auth reference image
  apps/prices/.loki/reference/chrome_iphone7_Pages_Auth_Primary.png
Due: none

Cleanup
  libs/prices/add-item/feature/src/lib/components/add-item.component.scss
Due: prettier --write

Run all tests instead of just prices
  .github/workflows/pipeline.yml
Due: none

Cleanup
  libs/prices/auth/feature/src/lib/components/auth.component.scss
Due: prettier --write

#63: implement authentication page (#72)
  .github/workflows/pipeline.yml
  apps/prices/.loki/reference/chrome_iphone7_Pages_Add_Item_Primary.png
  apps/prices/.loki/reference/chrome_iphone7_Pages_Auth_Primary.png
  libs/prices/add-item/feature/src/lib/add-item.module.ts
  libs/prices/add-item/feature/src/lib/components/add-item.component.html
  libs/prices/add-item/feature/src/lib/components/add-item.component.scss
  libs/prices/add-item/feature/src/lib/components/add-item.component.ts
  libs/prices/auth/feature/.eslintrc.json
  libs/prices/auth/feature/README.md
  libs/prices/auth/feature/jest.config.ts
  libs/prices/auth/feature/project.json
  libs/prices/auth/feature/src/index.ts
  libs/prices/auth/feature/src/lib/__specs__/auth.component.spec.ts
  libs/prices/auth/feature/src/lib/__specs__/auth.component.stories.ts
  libs/prices/auth/feature/src/lib/api/auth-credentials.ts
  libs/prices/auth/feature/src/lib/auth.module.ts
  libs/prices/auth/feature/src/lib/components/auth.component.html
  libs/prices/auth/feature/src/lib/components/auth.component.scss
  libs/prices/auth/feature/src/lib/components/auth.component.ts
  libs/prices/auth/feature/src/test-setup.ts
  libs/prices/auth/feature/tsconfig.json
  libs/prices/auth/feature/tsconfig.lib.json
  libs/prices/auth/feature/tsconfig.spec.json
  package.json
  tsconfig.base.json
  workspace.json
Due: eslint --fix, prettier --write

Initial routing for auth page
  libs/prices/auth/feature/src/lib/auth-routing.module.ts
  libs/prices/auth/feature/src/lib/auth.module.ts
  libs/prices/auth/feature/src/lib/components/auth.component.html
  libs/prices/auth/feature/src/lib/integration/auth-container.component.ts
  libs/prices/home/feature/src/lib/components/home.component.html
  libs/prices/home/feature/src/lib/components/home.component.ts
  libs/prices/home/feature/src/lib/integration/home-container.component.ts
  libs/prices/page/feature/src/lib/page.component.html
  libs/prices/page/feature/src/lib/page.component.ts
  libs/prices/shell/feature/src/lib/prices-shell-routing.module.ts
Due: eslint --fix, prettier --write

Setup up emitting redux login action
  libs/prices/add-item/feature/src/lib/add-item-routing.module.ts
  libs/prices/auth/feature/src/lib/components/auth.component.ts
  libs/prices/auth/feature/src/lib/integration/auth-container.component.ts
  libs/prices/auth/feature/src/lib/integration/auth.service.ts
  libs/prices/home/feature/src/lib/integration/home.service.ts
  libs/prices/store/feature/src/index.ts
  libs/prices/store/feature/src/lib/auth/actions.ts
  libs/prices/store/feature/src/lib/auth/index.ts
  libs/utils-common/src/lib/model/auth-credentials.model.ts
  libs/utils-common/src/lib/model/index.ts
Due: eslint --fix, prettier --write

Initial login
  libs/prices/firestore/feature/src/index.ts
  libs/prices/firestore/feature/src/lib/auth.service.ts
  libs/prices/firestore/feature/src/lib/most-searched.service.ts
  libs/prices/store/feature/src/lib/auth/actions.ts
  libs/prices/store/feature/src/lib/auth/effects.ts
  libs/prices/store/feature/src/lib/auth/index.ts
  libs/prices/store/feature/src/lib/auth/key.ts
  libs/prices/store/feature/src/lib/auth/reducer.ts
  libs/prices/store/feature/src/lib/mostSearched/effects.ts
  libs/prices/store/feature/src/lib/prices-store.module.ts
Due: eslint --fix, prettier --write

Fix validation icon
  libs/prices/auth/feature/src/lib/components/auth.component.html
  libs/prices/auth/feature/src/lib/components/auth.component.ts
Due: eslint --fix, prettier --write

Toggle enable add button on home page
  libs/prices/home/feature/src/lib/components/home.component.html
  libs/prices/home/feature/src/lib/components/home.component.ts
  libs/prices/home/feature/src/lib/integration/home-container.component.ts
  libs/prices/home/feature/src/lib/integration/home.service.ts
  libs/prices/page/feature/src/lib/page.component.ts
  libs/prices/store/feature/src/lib/auth/index.ts
  libs/prices/store/feature/src/lib/auth/selectors.ts
Due: eslint --fix, prettier --write

Implement initial setting of login
  libs/prices/firestore/feature/src/lib/auth.service.ts
  libs/prices/store/feature/src/lib/auth/actions.ts
  libs/prices/store/feature/src/lib/auth/effects.ts
  libs/prices/store/feature/src/lib/auth/reducer.ts
  libs/prices/store/feature/src/lib/prices-store.module.ts
Due: eslint --fix, prettier --write

Implement logout
  libs/prices/add-item/feature/src/lib/components/add-item.component.html
  libs/prices/auth/feature/src/lib/components/auth.component.html
  libs/prices/firestore/feature/src/lib/auth.service.ts
  libs/prices/home/feature/src/lib/components/home.component.html
  libs/prices/home/feature/src/lib/components/home.component.ts
  libs/prices/home/feature/src/lib/integration/home-container.component.ts
  libs/prices/home/feature/src/lib/integration/home.service.ts
  libs/prices/page/feature/src/lib/page.component.html
  libs/prices/page/feature/src/lib/page.component.ts
  libs/prices/store/feature/src/lib/auth/actions.ts
  libs/prices/store/feature/src/lib/auth/effects.ts
  libs/prices/store/feature/src/lib/auth/index.ts
Due: eslint --fix, prettier --write

Fix storybook
  libs/prices/page/feature/src/lib/__specs__/page.component.stories.ts
Due: eslint --fix, prettier --write

Update stories
  apps/prices/.loki/reference/chrome_iphone7_Pages_Auth_Primary.png
  libs/prices/home/feature/src/lib/__specs__/home.component.stories.ts
Due: eslint --fix, prettier --write

Hide auth buttons in sub pages
  libs/prices/add-item/feature/src/lib/components/add-item.component.html
  libs/prices/auth/feature/src/lib/components/auth.component.html
  libs/prices/page/feature/src/lib/page.component.html
  libs/prices/page/feature/src/lib/page.component.ts
Due: eslint --fix, prettier --write

#71: emit auth action and handle in effect (#73)
  apps/prices/.loki/reference/chrome_iphone7_Pages_Auth_Primary.png
  libs/prices/add-item/feature/src/lib/components/add-item.component.html
  libs/prices/auth/feature/src/lib/auth-routing.module.ts
  libs/prices/auth/feature/src/lib/auth.module.ts
  libs/prices/auth/feature/src/lib/components/auth.component.html
  libs/prices/auth/feature/src/lib/components/auth.component.ts
  libs/prices/auth/feature/src/lib/integration/auth-container.component.ts
  libs/prices/auth/feature/src/lib/integration/auth.service.ts
  libs/prices/firestore/feature/src/index.ts
  libs/prices/firestore/feature/src/lib/auth.service.ts
  libs/prices/firestore/feature/src/lib/most-searched.service.ts
  libs/prices/home/feature/src/lib/__specs__/home.component.stories.ts
  libs/prices/home/feature/src/lib/components/home.component.html
  libs/prices/home/feature/src/lib/components/home.component.ts
  libs/prices/home/feature/src/lib/integration/home-container.component.ts
  libs/prices/home/feature/src/lib/integration/home.service.ts
  libs/prices/page/feature/src/lib/__specs__/page.component.stories.ts
  libs/prices/page/feature/src/lib/page.component.html
  libs/prices/page/feature/src/lib/page.component.ts
  libs/prices/shell/feature/src/lib/prices-shell-routing.module.ts
  libs/prices/store/feature/src/index.ts
  libs/prices/store/feature/src/lib/auth/actions.ts
  libs/prices/store/feature/src/lib/auth/effects.ts
  libs/prices/store/feature/src/lib/auth/index.ts
  libs/prices/store/feature/src/lib/auth/key.ts
  libs/prices/store/feature/src/lib/auth/reducer.ts
  libs/prices/store/feature/src/lib/auth/selectors.ts
  libs/prices/store/feature/src/lib/mostSearched/effects.ts
  libs/prices/store/feature/src/lib/prices-store.module.ts
  libs/utils-common/src/lib/model/auth-credentials.model.ts
  libs/utils-common/src/lib/model/index.ts
Due: eslint --fix, prettier --write

Upgrade nx
  package-lock.json
  package.json
Due: prettier --write

Upgrade nx (#77)
  package-lock.json
  package.json
Due: prettier --write

npm i
  package-lock.json
Due: prettier --write

Implement location card (static)
  libs/prices/home/feature/src/lib/components/home.component.html
  libs/prices/home/feature/src/lib/components/home.component.scss
Due: eslint --fix, prettier --write

Adjust padding top of ion-card-header of location card
  libs/prices/home/feature/src/lib/components/home.component.scss
Due: prettier --write

Update loki references
  apps/prices/.loki/reference/chrome_iphone7_Pages_Home_Primary.png
Due: none

Formatting
  libs/prices/home/feature/src/lib/components/home.component.html
Due: eslint --fix, prettier --write

#78: add your location card (#79)
  apps/prices/.loki/reference/chrome_iphone7_Pages_Home_Primary.png
  libs/prices/home/feature/src/lib/components/home.component.html
  libs/prices/home/feature/src/lib/components/home.component.scss
  package-lock.json
Due: eslint --fix, prettier --write

Setup for latitude and longtitude
  apps/prices/src/app/app.module.ts
  libs/prices/home/feature/src/lib/components/home.component.ts
  libs/prices/home/feature/src/lib/integration/home-container.component.ts
  libs/prices/home/feature/src/lib/integration/home.service.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

Pollishing and Cleanup
  apps/prices/src/app/app.component.ts
  libs/prices/home/feature/src/lib/components/home.component.html
  package-lock.json
Due: eslint --fix, prettier --write

Update firebase
  package-lock.json
  package.json
Due: prettier --write

Remove width and height from image
  libs/prices/home/feature/src/lib/components/home.component.html
Due: eslint --fix, prettier --write

Implement loading location on login
  apps/prices-e2e/project.json
  apps/prices/project.json
  libs/prices/add-item/feature/project.json
  libs/prices/auth/feature/project.json
  libs/prices/card/feature/project.json
  libs/prices/firestore/feature/project.json
  libs/prices/geoapify/feature/.eslintrc.json
  libs/prices/geoapify/feature/README.md
  libs/prices/geoapify/feature/jest.config.ts
  libs/prices/geoapify/feature/project.json
  libs/prices/geoapify/feature/src/index.ts
  libs/prices/geoapify/feature/src/lib/location.service.ts
  libs/prices/geoapify/feature/src/lib/prices-geoapify.module.ts
  libs/prices/geoapify/feature/src/test-setup.ts
  libs/prices/geoapify/feature/tsconfig.json
  libs/prices/geoapify/feature/tsconfig.lib.json
  libs/prices/geoapify/feature/tsconfig.spec.json
  libs/prices/home/feature/project.json
  libs/prices/home/feature/src/lib/__specs__/home.component.stories.ts
  libs/prices/home/feature/src/lib/components/home.component.html
  libs/prices/home/feature/src/lib/integration/home.service.ts
  libs/prices/page/feature/project.json
  libs/prices/shell/feature/project.json
  libs/prices/store/feature/src/index.ts
  libs/prices/store/feature/src/lib/auth/effects.ts
  libs/prices/store/feature/src/lib/auth/reducer.ts
  libs/prices/store/feature/src/lib/location/actions.ts
  libs/prices/store/feature/src/lib/location/effects.ts
  libs/prices/store/feature/src/lib/location/index.ts
  libs/prices/store/feature/src/lib/location/key.ts
  libs/prices/store/feature/src/lib/location/reducer.ts
  libs/prices/store/feature/src/lib/location/selectors.ts
  libs/prices/store/feature/src/lib/prices-store.module.ts
  libs/utils-common/project.json
  tools/executors/loki/project.json
  tsconfig.base.json
  workspace.json
Due: eslint --fix, prettier --write

Bind geoapify api resolution to build step
  .github/workflows/pipeline.yml
Due: none

Fix Unit Tests
  libs/prices/auth/feature/src/lib/__specs__/auth.component.spec.ts
  libs/prices/home/feature/src/lib/__specs__/home.component.spec.ts
  libs/prices/page/feature/src/lib/__specs__/page.component.spec.ts
Due: eslint --fix, prettier --write

Make versions fix
  package-lock.json
  package.json
Due: prettier --write

Dedupe
  package-lock.json
Due: prettier --write

Update ionic angular
  package-lock.json
  package.json
Due: prettier --write

nx upgrade
  package-lock.json
  package.json
Due: prettier --write

Fix unit tests
  libs/prices/card/feature/src/lib/__specs__/card.component.spec.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,html}
  prettier --write: any of: *.{ts,js,html,scss,json,md}
