Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,html}": "eslint --fix",
  "*.{ts,js,html,scss,json,md}": "prettier --write"
}

ci: fix kosaml loki job
  .github/workflows/pipeline.yml
Due: none

feat: upload prices test reports to codecov
  .github/workflows/pipeline.yml
Due: none

test: upload test reports to codecov
  .github/workflows/pipeline.yml
Due: none

ci: upload test reports to codecov
  .github/workflows/pipeline.yml
Due: none

ci: introduce job for cap sync
  .github/workflows/pipeline.yml
Due: none

ci: prices-rest after cap sync
  .github/workflows/pipeline.yml
Due: none

ci: fix prices-cap-sync
  .github/workflows/pipeline.yml
Due: none

ci: prices deployment
  .github/workflows/pipeline.yml
Due: none

ci: move deployment of prices storybook to own job
  .github/workflows/pipeline.yml
Due: none

ci: adjust order of jobs
  .github/workflows/pipeline.yml
Due: none

ci: cleanup
  .github/workflows/pipeline.yml
Due: none

ci: initial improvement for ci cd (#146)
  .github/workflows/pipeline.yml
Due: none

chore: nx update
  docs/NX.md
  migrations.json
  package-lock.json
  package.json
Due: prettier --write

chore: update version of @ngrx/schematics
  package-lock.json
  package.json
Due: prettier --write

chore: upgrade angular-eslint deps
  package-lock.json
  package.json
Due: prettier --write

chore: run migration
  apps/kosaml/.browserslistrc
  apps/kosaml/tsconfig.app.json
  apps/prices/.browserslistrc
  apps/prices/tsconfig.app.json
  libs/kosaml/card/feature/src/lib/kosaml-card-feature.module.ts
  libs/kosaml/conceptual-design/base/scenario/feature/src/lib/kosaml-conceptual-design-base-scenario-feature.module.ts
  libs/kosaml/conceptual-design/base/use-case/feature/src/lib/kosaml-conceptual-design-base-use-case-feature.module.ts
  libs/kosaml/conceptual-design/essential-use-case/feature/src/lib/essential-use-case.module.ts
  libs/kosaml/conceptual-design/task-object/feature/src/lib/task-object.module.ts
  libs/kosaml/site/feature/src/lib/site.module.ts
  migrations.json
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

chore: upgrade ngrx
  package.json
Due: prettier --write

chore: upgrade angular cli and pwa
  package-lock.json
  package.json
Due: prettier --write

chore: upgrade to nx 15.1.1
  package-lock.json
  package.json
Due: prettier --write

ci: fix package-lock
  package-lock.json
Due: prettier --write

chore: upgrade nx to 15.5.1
  migrations.json
  package-lock.json
  package.json
Due: prettier --write

chore: add @angular-devkit/core as dependency
  package-lock.json
  package.json
Due: prettier --write

chore: update angular pwa version
  package-lock.json
  package.json
Due: prettier --write

fix compile errors in loki executor
  tools/executors/loki/src/impl.ts
Due: eslint --fix, prettier --write

fix: fix loki executor is not a builder error message
  tools/executors/loki/impl.js
  tools/executors/loki/src/impl.ts
Due: eslint --fix, prettier --write

ci: fix build apps
  libs/kosaml/store/feature/project.json
  libs/utils-common/project.json
  package-lock.json
  package.json
  workspace.json
Due: prettier --write

ci: fix linting errors
  libs/kosaml/conceptual-design/concrete-use-case/feature/project.json
  libs/kosaml/conceptual-design/essential-use-case/feature/project.json
  libs/kosaml/conceptual-design/task-object/feature/project.json
  libs/kosaml/conceptual-design/task-scenario/feature/project.json
  libs/kosaml/conceptual-design/use-scenario/feature/project.json
  libs/kosaml/shell/feature/project.json
  libs/kosaml/site/feature/project.json
  libs/prices/add-item/feature/project.json
  libs/prices/auth/feature/project.json
  libs/prices/card/feature/project.json
  libs/prices/firestore/feature/project.json
  libs/prices/home/feature/project.json
  libs/prices/page/feature/project.json
  libs/prices/password-validator/feature/project.json
  libs/prices/registration/feature/project.json
  libs/prices/store/feature/project.json
Due: prettier --write

ci: fix prices linting
  libs/prices/shell/feature/project.json
Due: prettier --write

ci: fix kosaml build
  libs/kosaml/auth/feature/project.json
  libs/kosaml/card/feature/project.json
  libs/kosaml/conceptual-design/base/scenario/feature/project.json
  libs/kosaml/conceptual-design/base/use-case/feature/project.json
  libs/kosaml/model/feature/project.json
  libs/kosaml/page/feature/project.json
Due: prettier --write

ci: fix build prices
  libs/common/networkstatus/feature/project.json
  libs/prices/geoapify/feature/project.json
Due: prettier --write

chore: fix angular cli version
  package-lock.json
  package.json
Due: prettier --write

chore: update to nx 15.5.3
  package-lock.json
  package.json
Due: prettier --write

chore: update versions of tools
  package-lock.json
  package.json
Due: prettier --write

chore: update capacitor deps
  package-lock.json
  package.json
Due: prettier --write

chore: update ngrx deps
  package-lock.json
  package.json
Due: prettier --write

chore: cleanup
  apps/kosaml-e2e/project.json
  apps/prices-e2e/project.json
  tools/executors/loki/project.json
Due: prettier --write

chore: migrate to nx 15.5.1 (#154)
  apps/kosaml/.browserslistrc
  apps/kosaml/tsconfig.app.json
  apps/prices/.browserslistrc
  apps/prices/tsconfig.app.json
  libs/kosaml/card/feature/src/lib/kosaml-card-feature.module.ts
  libs/kosaml/conceptual-design/base/scenario/feature/src/lib/kosaml-conceptual-design-base-scenario-feature.module.ts
  libs/kosaml/conceptual-design/base/use-case/feature/src/lib/kosaml-conceptual-design-base-use-case-feature.module.ts
  libs/kosaml/conceptual-design/essential-use-case/feature/src/lib/essential-use-case.module.ts
  libs/kosaml/conceptual-design/task-object/feature/src/lib/task-object.module.ts
  libs/kosaml/site/feature/src/lib/site.module.ts
  package-lock.json
  package.json
  tools/executors/loki/impl.js
  tools/executors/loki/src/impl.ts
  workspace.json
Due: eslint --fix, prettier --write
