Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,html}": "eslint --fix",
  "*.{ts,js,html,scss,json,md}": "prettier --write",
  "*.scss": "stylelint --fix"
}

chore: update deps
  package-lock.json
  package.json
Due: prettier --write

chore: fix tests after ionic update
  apps/budget-planner/jest.config.ts
  apps/finances/jest.config.ts
  apps/prices/jest.config.ts
  libs/common/ui/auth/jest.config.ts
  libs/common/ui/card/jest.config.ts
  libs/common/ui/page/jest.config.ts
  libs/common/ui/password-validator/jest.config.ts
  libs/finances/bank/add-bank/jest.config.ts
  libs/finances/payment/payment/jest.config.ts
  libs/kosaml/page/feature/src/lib/components/loading-spinner/__specs__/__snapshots__/loading-spinner.component.spec.ts.snap
  libs/prices/add-item/feature/jest.config.ts
  libs/prices/home/feature/jest.config.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

feat: fix firebase auth on ios
  apps/finances-ios/capacitor.config.ts
  apps/finances-ios/ios/App/App.xcodeproj/project.pbxproj
  apps/finances-ios/ios/App/App/AppDelegate.swift
  apps/finances-ios/ios/App/App/GoogleService-Info.plist
  apps/finances-ios/ios/App/Podfile
  apps/finances-ios/ios/App/Podfile.lock
  apps/finances-ios/package-lock.json
  apps/finances-ios/package.json
  libs/common/ta-firestore/src/lib/auth.service.ts
  libs/common/ta-firestore/src/lib/ngrx-store/effects.ts
  libs/common/ta-firestore/src/lib/provide-firestore-utils.ts
  libs/finances/dashboard/dashboard/src/lib/components/dashboard/dashboard.component.html
  libs/finances/dashboard/dashboard/src/lib/components/dashboard/dashboard.component.ts
  libs/finances/dashboard/dashboard/src/lib/integration/dashboard-container.component.ts
  libs/finances/dashboard/dashboard/src/lib/integration/dashboard.service.ts
  libs/finances/dashboard/data-access/src/lib/dashboard.store.ts
  libs/finances/store/src/lib/finances-store.service.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

feat: fix auth on ios
  libs/common/ta-firestore/src/index.ts
  libs/common/ta-firestore/src/lib/auth.guard.ts
  libs/common/ta-firestore/src/lib/auth.service.ts
  libs/common/ta-firestore/src/lib/ngrx-store/effects.ts
  libs/common/ta-firestore/src/lib/ngrx-store/index.ts
  libs/finances/shell/src/lib/routes.ts
  libs/finances/store/src/lib/provide-finances-store.ts
Due: eslint --fix, prettier --write

test: adjust tests
  libs/finances/payment/payment/src/lib/components/payment/utils/to-date-string.ts
Due: eslint --fix, prettier --write

fix: adjust chart to string date
  libs/common/ui/chart/src/lib/chart/chart.component.ts
  libs/common/ui/chart/src/lib/chart/utils/with-padded-data.ts
Due: eslint --fix, prettier --write

feat: responsive chart
  apps/finances-ios/project.json
  libs/common/ta-firestore/src/lib/auth.guard.ts
  libs/common/ta-firestore/src/lib/auth.service.ts
  libs/common/ui/chart/src/lib/chart/api/chart-data.ts
  libs/common/ui/chart/src/lib/chart/chart.component.scss
  libs/common/ui/chart/src/lib/chart/chart.component.ts
  libs/common/ui/chart/src/lib/chart/utils/by-date.ts
  libs/common/ui/chart/src/lib/chart/utils/calculate-cumulative-balance.ts
  libs/common/ui/chart/src/lib/chart/utils/prepare-data.ts
  libs/common/ui/chart/src/lib/chart/utils/sanitize-date.ts
  libs/common/ui/chart/src/lib/chart/utils/to-date.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: setup resize-observer mock
  __mocks__/resize-observer.js
  jest.preset.js
Due: prettier --write

test: add tests
  libs/common/ui/chart/src/lib/chart/chart.component.spec.ts
Due: eslint --fix, prettier --write

test: extend test suite
  libs/common/ui/chart/src/lib/chart/utils/__specs__/__snapshots__/with-padded-data.spec.ts.snap
  libs/common/ui/chart/src/lib/chart/utils/__specs__/with-padded-data.spec.ts
Due: eslint --fix, prettier --write

test: use mocked date
  libs/common/ui/chart/src/lib/chart/utils/__specs__/__snapshots__/with-padded-data.spec.ts.snap
  libs/common/ui/chart/src/lib/chart/utils/__specs__/with-padded-data.spec.ts
Due: eslint --fix, prettier --write

test: extend test suite
  libs/common/ui/chart/src/lib/chart/utils/__specs__/to-date.spec.ts
Due: eslint --fix, prettier --write

feat: handle no payments
  libs/common/ui/chart/src/lib/chart/chart.component.scss
  libs/common/ui/chart/src/lib/chart/chart.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor: introduce util function
  libs/common/ui/chart/src/lib/chart/chart.component.ts
  libs/common/ui/chart/src/lib/chart/utils/create-chart.ts
Due: eslint --fix, prettier --write

test: fix empty data set test
  libs/common/ui/chart/src/lib/chart/chart.component.spec.ts
Due: eslint --fix, prettier --write

ci: introduce build and deploy of cv
  .github/workflows/deploy-cv.yml
Due: none

ci: introduce build and deploy of cv (#227)
  .github/workflows/deploy-cv.yml
Due: none

ci: introduce separate cv deploy pipeline
  .github/workflows/deploy-cv.yml
Due: none

feat: split cv deploy from pipeline (#228)
  .github/workflows/deploy-cv.yml
Due: none

ci: separate prices deployment from pipeline
  .github/workflows/deploy-prices.yml
  .github/workflows/pipeline.yml
Due: none

ci: reduce build storybook to single job
  .github/workflows/pipeline.yml
Due: none

ci: add setup env
  .github/workflows/pipeline.yml
Due: none

ci: separate prices deployment from pipeline (#229)
  .github/workflows/deploy-prices.yml
  .github/workflows/pipeline.yml
Due: none

feat: listen to firestore changes
  apps/finances-ios/project.json
  libs/common/ui/chart/src/lib/chart/utils/by-date.ts
  libs/common/ui/chart/src/lib/chart/utils/prepare-data.ts
  libs/common/ui/chart/src/lib/chart/utils/sanitize-date.ts
  libs/common/ui/chart/src/lib/chart/utils/to-date.ts
  libs/common/utils/src/index.ts
  libs/common/utils/src/lib/by-date.ts
  libs/common/utils/src/lib/to-date.ts
  libs/finances/account/account/src/lib/component/account.component.html
  libs/finances/account/account/src/lib/component/account.component.ts
  libs/finances/account/data-access/src/lib/account.store.ts
  libs/finances/api/src/lib/firestore/finances-api.service.ts
Due: eslint --fix, prettier --write

chore: move test too
  libs/common/utils/src/lib/__specs__/to-date.spec.ts
Due: eslint --fix, prettier --write

feat: adjust chart and some styling
  libs/common/ui/chart/src/lib/chart/utils/create-chart.ts
  libs/finances/account/account/src/lib/component/account.component.html
  libs/finances/dashboard/dashboard/src/lib/components/bank/bank.component.html
  libs/finances/dashboard/dashboard/src/lib/components/dashboard/dashboard.component.html
Due: eslint --fix, prettier --write

feat: watch firestore changes & styling (#230)
  apps/finances-ios/project.json
  libs/common/ui/chart/src/lib/chart/utils/by-date.ts
  libs/common/ui/chart/src/lib/chart/utils/create-chart.ts
  libs/common/ui/chart/src/lib/chart/utils/prepare-data.ts
  libs/common/ui/chart/src/lib/chart/utils/sanitize-date.ts
  libs/common/ui/chart/src/lib/chart/utils/to-date.ts
  libs/common/utils/src/index.ts
  libs/common/utils/src/lib/__specs__/to-date.spec.ts
  libs/common/utils/src/lib/by-date.ts
  libs/common/utils/src/lib/to-date.ts
  libs/finances/account/account/src/lib/component/account.component.html
  libs/finances/account/account/src/lib/component/account.component.ts
  libs/finances/account/data-access/src/lib/account.store.ts
  libs/finances/api/src/lib/firestore/finances-api.service.ts
  libs/finances/dashboard/dashboard/src/lib/components/bank/bank.component.html
  libs/finances/dashboard/dashboard/src/lib/components/dashboard/dashboard.component.html
Due: eslint --fix, prettier --write

feat: fix splush screen
  apps/finances-ios/assets/logo.svg
  apps/finances-ios/ios/App/App/Assets.xcassets/Splash.imageset/Default@1x~universal~anyany-dark.png
  apps/finances-ios/ios/App/App/Assets.xcassets/Splash.imageset/Default@1x~universal~anyany.png
  apps/finances-ios/ios/App/App/Assets.xcassets/Splash.imageset/Default@2x~universal~anyany-dark.png
  apps/finances-ios/ios/App/App/Assets.xcassets/Splash.imageset/Default@2x~universal~anyany.png
  apps/finances-ios/ios/App/App/Assets.xcassets/Splash.imageset/Default@3x~universal~anyany-dark.png
  apps/finances-ios/ios/App/App/Assets.xcassets/Splash.imageset/Default@3x~universal~anyany.png
  package.json
Due: prettier --write

feat: fix add new payment
  libs/finances/api/src/lib/firestore/finances-api.service.ts
  libs/finances/payment/payment/src/lib/components/payment/utils/to-date.ts
Due: eslint --fix, prettier --write

test: fix tests
  libs/finances/payment/payment/src/lib/components/payment/payment.component.spec.ts
  libs/finances/payment/payment/src/lib/components/payment/utils/__specs__/to-date.spec.ts
Due: eslint --fix, prettier --write

test: fix tests
  libs/finances/payment/payment/src/lib/components/payment/utils/__specs__/to-date.spec.ts
  libs/finances/payment/payment/src/lib/components/payment/utils/to-date.ts
Due: eslint --fix, prettier --write

refactor: adjust implementation
  libs/finances/payment/payment/src/lib/components/payment/utils/__specs__/to-date.spec.ts
  libs/finances/payment/payment/src/lib/components/payment/utils/to-date.ts
Due: eslint --fix, prettier --write

test: extend test suite
  libs/finances/payment/payment/src/lib/components/payment/utils/__specs__/to-date-string.spec.ts
  libs/finances/payment/payment/src/lib/components/payment/utils/__specs__/to-date.spec.ts
  libs/finances/payment/payment/src/lib/components/payment/utils/to-date.ts
Due: eslint --fix, prettier --write

test: adjust test suite
  libs/finances/payment/payment/src/lib/components/payment/utils/__specs__/to-date-string.spec.ts
Due: eslint --fix, prettier --write
