Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

docs: add iOS simulator testing, and record the App Store submission (#1452)
  ssot/assets/store-listing/ipad-13/01-home-feed.png
  ssot/assets/store-listing/ipad-13/02-search-map-switzerland.png
  ssot/assets/store-listing/ipad-13/03-restaurant-china-wok.png
  ssot/assets/store-listing/ipad-13/04-restaurant-menu.png
  ssot/assets/store-listing/ipad-13/05-start-page.png
  ssot/pages/Current State - Release State.md
  ssot/pages/Implementation - Android Device Testing.md
  ssot/pages/Implementation - Store Listing Assets.md
  ssot/pages/Implementation - iOS Simulator Testing.md
  ssot/pages/contents.md
Due: prettier --write

feat: add the GA4 BigQuery export and agent-runnable SQL over it
  package-lock.json
  package.json
  ssot/pages/Analytics Operations.md
  tools/analytics/.env.example
  tools/analytics/README.md
  tools/analytics/bigquery.mjs
  tools/analytics/provision-bigquery.mjs
  tools/analytics/queries/daily-active-users.sql
  tools/analytics/queries/event-counts.sql
  tools/analytics/query.mjs
Due: prettier --write

feat: add search and social metadata to the web app
  apps/bite-tribe/public/robots.txt
  apps/bite-tribe/public/sitemap.xml
  apps/bite-tribe/src/assets/social/og-image.jpg
  apps/bite-tribe/src/index.html
  libs/bite-tribe/shell/src/lib/__specs__/canonical-url.spec.ts
  libs/bite-tribe/shell/src/lib/__specs__/document-title.spec.ts
  libs/bite-tribe/shell/src/lib/app.config.ts
  libs/bite-tribe/shell/src/lib/canonical-url.ts
  libs/bite-tribe/shell/src/lib/document-title.ts
  ssot/pages/Implementation - Store Listing Assets.md
  ssot/pages/Implementation - Web Search And Social Metadata.md
  ssot/pages/SSOT.md
  ssot/pages/Traceability Map.md
Due: eslint --fix, prettier --write

feat: add search and social metadata to the web app (#1457)
  apps/bite-tribe/public/robots.txt
  apps/bite-tribe/public/sitemap.xml
  apps/bite-tribe/src/assets/social/og-image.jpg
  apps/bite-tribe/src/index.html
  libs/bite-tribe/shell/src/lib/__specs__/canonical-url.spec.ts
  libs/bite-tribe/shell/src/lib/__specs__/document-title.spec.ts
  libs/bite-tribe/shell/src/lib/app.config.ts
  libs/bite-tribe/shell/src/lib/canonical-url.ts
  libs/bite-tribe/shell/src/lib/document-title.ts
  ssot/pages/Implementation - Store Listing Assets.md
  ssot/pages/Implementation - Web Search And Social Metadata.md
  ssot/pages/SSOT.md
  ssot/pages/Traceability Map.md
Due: eslint --fix, prettier --write

docs: correct the BigQuery export's backfill behaviour
  ssot/pages/Analytics Operations.md
  tools/analytics/README.md
Due: prettier --write

feat: add the GA4 BigQuery export and agent-runnable SQL over it (#1456)
  package-lock.json
  package.json
  ssot/pages/Analytics Operations.md
  tools/analytics/.env.example
  tools/analytics/README.md
  tools/analytics/bigquery.mjs
  tools/analytics/provision-bigquery.mjs
  tools/analytics/queries/daily-active-users.sql
  tools/analytics/queries/event-counts.sql
  tools/analytics/query.mjs
Due: prettier --write

feat: gate analytics collection on an explicit consent decision
  .loki/reference/chrome_iphone7_Components_Analytics_Consent_Gate_Undecided.png
  .loki/reference/chrome_iphone7_Components_Analytics_Consent_Gate_With_System_Bar_Insets.png
  .loki/reference/chrome_laptop_Components_Analytics_Consent_Gate_Undecided.png
  .loki/reference/chrome_laptop_Components_Analytics_Consent_Gate_With_System_Bar_Insets.png
  apps/bite-tribe/src/app/app.component.ts
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/settings/page/src/lib/components/page/__specs__/settings.component.spec.ts
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.html
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.ts
  libs/common/ta-firestore/src/index.ts
  libs/common/ta-firestore/src/lib/__specs__/auth.service.spec.ts
  libs/common/ta-firestore/src/lib/__specs__/provide-firestore-utils.spec.ts
  libs/common/ta-firestore/src/lib/analytics-consent-gate/__specs__/analytics-consent-gate.component.stories.ts
  libs/common/ta-firestore/src/lib/analytics-consent-gate/analytics-consent-gate.component.ts
  libs/common/ta-firestore/src/lib/analytics/__specs__/analytics-consent.service.spec.ts
  libs/common/ta-firestore/src/lib/analytics/__specs__/redact-error-description.spec.ts
  libs/common/ta-firestore/src/lib/analytics/analytics-consent.service.ts
  libs/common/ta-firestore/src/lib/analytics/firebase-error-handler.service.ts
  libs/common/ta-firestore/src/lib/analytics/redact-error-description.ts
  libs/common/ta-firestore/src/lib/auth.service.ts
  libs/common/ta-firestore/src/lib/provide-firestore-utils.ts
  ssot/pages/Analytics Operations.md
Due: eslint --fix, prettier --write

docs: setup social media channels
  apps/bite-tribe/src/index.html
  ssot/assets/social/avatar.png
  ssot/pages/Implementation - Social Media Channels.md
  ssot/pages/Implementation - Store Listing Assets.md
  ssot/pages/Implementation - Web Search And Social Metadata.md
  ssot/pages/SSOT.md
  ssot/pages/Traceability Map.md
Due: eslint --fix, prettier --write

docs: setup social media channels (#1460)
  apps/bite-tribe/src/index.html
  ssot/assets/social/avatar.png
  ssot/pages/Implementation - Social Media Channels.md
  ssot/pages/Implementation - Store Listing Assets.md
  ssot/pages/Implementation - Web Search And Social Metadata.md
  ssot/pages/SSOT.md
  ssot/pages/Traceability Map.md
Due: eslint --fix, prettier --write

docs: consolidate source for vision
  docs/Setup_History.md
  docs/product/vision.md
  docs/weekly_reads.md
  ssot/pages/Vision.md
Due: prettier --write

docs: make vision agentic friendly
  ssot/pages/Vision.md
Due: prettier --write

docs: cleanup mission.md
  ssot/pages/Mission.md
Due: prettier --write

docs: restructure product direction out from mission
  ssot/pages/Current State - Product Direction.md
  ssot/pages/Mission.md
  ssot/pages/SSOT.md
  ssot/pages/Traceability Map.md
  ssot/pages/contents.md
Due: prettier --write

docs: make principles agent-friendly
  ssot/pages/Principles.md
Due: prettier --write

docs: align personas to agent-friendly style
  ssot/pages/Personas.md
Due: prettier --write

docs: align glossary
  ssot/pages/Glossary.md
Due: prettier --write

docs: extract test runs
  ssot/pages/Current State - Release Candidate Test Charter.md
  ssot/pages/Test Run 01 - iOS Build 87.md
  ssot/pages/Test Run 02 - iOS Build 89.md
  ssot/pages/Test Run 03 - iOS Build 90.md
  ssot/pages/Test Run 04 - iOS Build 91.md
  ssot/pages/Test Run 05 - iOS Build 92.md
  ssot/pages/Test Run 06 - iOS Build 93.md
  ssot/pages/Test Run 07 - Web Build 95.md
  ssot/pages/Test Run 07 - iOS Build 94.md
  ssot/pages/Test Run 08 - Web Build 95.md
  ssot/pages/Test Run 09 - Android Build 95.md
  ssot/pages/Test Run 10 - Android Build 96.md
  ssot/pages/Test Run 11 - Android Build 96.md
  ssot/pages/issue-1385.md
  ssot/pages/issue-1386.md
  ssot/pages/issue-1387.md
  ssot/pages/issue-1388.md
  ssot/pages/issue-1389.md
  ssot/pages/issue-1390.md
  ssot/pages/issue-1391.md
  ssot/pages/issue-1392.md
  ssot/pages/issue-1393.md
  ssot/pages/issue-1394.md
Due: prettier --write

docs: clear How to Produce The Build section in Release Candidate Test Charter
  ssot/pages/Current State - Release Candidate Test Charter.md
  ssot/pages/Implementation - Release And Build Workflow.md
Due: prettier --write

docs: cleanup
  ssot/pages/Implementation - Release And Build Workflow.md
  ssot/pages/Release Workflow.md
Due: prettier --write

docs: fix stale information
  ssot/pages/Implementation - Store Listing Assets.md
Due: prettier --write

docs: extract store declarations from listing assets
  ssot/pages/Implementation - Store Declarations.md
  ssot/pages/Implementation - Store Listing Assets.md
  ssot/pages/SSOT.md
  ssot/pages/contents.md
Due: prettier --write

docs: fix stale status claims and dangling issue links
  ssot/pages/Analytics Operations.md
  ssot/pages/Architecture - Auth.md
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Release State.md
  ssot/pages/Current State - Roadmap.md
  ssot/pages/Traceability Map.md
  ssot/pages/epic-1029.md
Due: prettier --write

docs: remove the legacy docs folder
  .github/copilot-instructions.md
  README.md
  docs/NX.md
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Implementation - Store Listing Assets.md
Due: prettier --write

feat: stop grandfathered pro grant for users (beta-phase is over)
  apps/bite-tribe-firebase/functions/src/functions/users/create-user-on-auth-create.ts
Due: eslint --fix, prettier --write

feat: stop grandfathered pro grant for users (beta-phase is over) (#1463)
  apps/bite-tribe-firebase/functions/src/functions/users/create-user-on-auth-create.ts
Due: eslint --fix, prettier --write

docs: Adapting ssot to include issue format for ai
  ssot/pages/Agent Operating Contract.md
  ssot/pages/Feature Delivery Workflow.md
  ssot/pages/GitHub Issue Format.md
  ssot/pages/GitHub Project Board And Issue Handling.md
  ssot/pages/SSOT.md
  ssot/pages/contents.md
Due: prettier --write

docs: Adapting ssot to include issue format for ai (#1468)
  ssot/pages/Agent Operating Contract.md
  ssot/pages/Feature Delivery Workflow.md
  ssot/pages/GitHub Issue Format.md
  ssot/pages/GitHub Project Board And Issue Handling.md
  ssot/pages/SSOT.md
  ssot/pages/contents.md
Due: prettier --write

feat(bite-tribe-admin): brand the start page and put the dashboard on the shared chrome
  apps/bite-tribe-admin/src/assets/i18n/en.json
  libs/bite-tribe-admin/dashboard/src/lib/__specs__/admin-dashboard.spec.ts
  libs/bite-tribe-admin/dashboard/src/lib/admin-dashboard.ts
  libs/bite-tribe-admin/start/src/lib/admin-start.html
  libs/bite-tribe-admin/start/src/lib/admin-start.scss
  libs/bite-tribe-admin/start/src/lib/admin-start.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat(ta-firestore): fail the login for a missing role instead of blocking a page
  apps/bite-tribe-admin/src/assets/i18n/en.json
  apps/bite-tribe-business-e2e/src/support/test-users.ts
  apps/bite-tribe-business-e2e/src/tests/role-gate.spec.ts
  apps/bite-tribe-business/src/assets/i18n/en.json
  libs/bite-tribe-admin/shell/src/lib/__specs__/routes.spec.ts
  libs/bite-tribe-admin/shell/src/lib/provide-bite-tribe-admin-shell.ts
  libs/bite-tribe-admin/shell/src/lib/routes.ts
  libs/bite-tribe-business/shell/src/lib/__specs__/routes.spec.ts
  libs/bite-tribe-business/shell/src/lib/provide-bite-tribe-business-shell.ts
  libs/bite-tribe-business/shell/src/lib/routes.ts
  libs/common/ta-firestore/src/index.ts
  libs/common/ta-firestore/src/lib/__specs__/no-access.component.spec.ts
  libs/common/ta-firestore/src/lib/__specs__/role.guard.spec.ts
  libs/common/ta-firestore/src/lib/auth.service.ts
  libs/common/ta-firestore/src/lib/ngrx-store/__specs__/effects.spec.ts
  libs/common/ta-firestore/src/lib/ngrx-store/effects.ts
  libs/common/ta-firestore/src/lib/no-access/no-access.component.ts
  libs/common/ta-firestore/src/lib/role.guard.ts
  libs/common/utils/src/lib/app-tokens.ts
  libs/common/utils/src/lib/paths.ts
  ssot/pages/Architecture - Auth.md
  ssot/pages/UC - Operate BiteTribe In The Admin App.md
Due: eslint --fix, prettier --write

feat(bite-tribe-firebase): seed an admin operator account into the auth export
  apps/bite-tribe-firebase/.firebase-export/auth_export/accounts.json
  ssot/pages/Architecture - Firebase.md
Due: prettier --write

feat(auth): drop the registration route from the admin app
  apps/bite-tribe-admin/src/assets/i18n/en.json
  libs/bite-tribe-admin/shell/src/lib/__specs__/routes.spec.ts
  libs/bite-tribe-admin/shell/src/lib/routes.ts
  libs/bite-tribe-admin/start/src/lib/admin-start.html
  libs/bite-tribe-admin/start/src/lib/admin-start.scss
  libs/bite-tribe-admin/start/src/lib/admin-start.ts
  libs/bite-tribe-business/shell/src/lib/__specs__/routes.spec.ts
  libs/common/ui/auth/src/index.ts
  libs/common/ui/auth/src/lib/components/login/login.component.html
  libs/common/ui/auth/src/lib/components/login/login.component.ts
  libs/common/ui/auth/src/lib/integration/login/__specs__/login-container.component.spec.ts
  libs/common/ui/auth/src/lib/integration/login/login-container.component.ts
  libs/common/ui/auth/src/lib/routes.ts
  libs/common/ui/auth/src/lib/with-auth-routes.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat(bite-tribe-admin): add user management as the first operator surface
  apps/bite-tribe-admin/src/assets/i18n/en.json
  apps/bite-tribe-firebase/functions/src/functions/users/__specs__/list-users-with-roles.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/users/list-users-with-roles.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  libs/bite-tribe-admin/dashboard/src/lib/__specs__/admin-dashboard.spec.ts
  libs/bite-tribe-admin/dashboard/src/lib/admin-dashboard.ts
  libs/bite-tribe-admin/shell/src/lib/routes.ts
  libs/bite-tribe-admin/user-management/data-access/eslint.config.mjs
  libs/bite-tribe-admin/user-management/data-access/jest.config.ts
  libs/bite-tribe-admin/user-management/data-access/project.json
  libs/bite-tribe-admin/user-management/data-access/src/index.ts
  libs/bite-tribe-admin/user-management/data-access/src/lib/__specs__/user-management-data-access.service.spec.ts
  libs/bite-tribe-admin/user-management/data-access/src/lib/admin-user.model.ts
  libs/bite-tribe-admin/user-management/data-access/src/lib/user-management-data-access.service.ts
  libs/bite-tribe-admin/user-management/data-access/src/test-setup.ts
  libs/bite-tribe-admin/user-management/data-access/tsconfig.json
  libs/bite-tribe-admin/user-management/data-access/tsconfig.lib.json
  libs/bite-tribe-admin/user-management/data-access/tsconfig.spec.json
  libs/bite-tribe-admin/user-management/page/eslint.config.mjs
  libs/bite-tribe-admin/user-management/page/jest.config.ts
  libs/bite-tribe-admin/user-management/page/project.json
  libs/bite-tribe-admin/user-management/page/src/index.ts
  libs/bite-tribe-admin/user-management/page/src/lib/component/__specs__/user-management.component.spec.ts
  libs/bite-tribe-admin/user-management/page/src/lib/component/user-management.component.html
  libs/bite-tribe-admin/user-management/page/src/lib/component/user-management.component.scss
  libs/bite-tribe-admin/user-management/page/src/lib/component/user-management.component.ts
  libs/bite-tribe-admin/user-management/page/src/lib/integration/user-management-container.component.ts
  libs/bite-tribe-admin/user-management/page/src/lib/integration/user-management.service.ts
  libs/bite-tribe-admin/user-management/page/src/test-setup.ts
  libs/bite-tribe-admin/user-management/page/tsconfig.json
  libs/bite-tribe-admin/user-management/page/tsconfig.lib.json
  libs/bite-tribe-admin/user-management/page/tsconfig.spec.json
  libs/common/utils/src/lib/add-necessary-icons.ts
  ssot/pages/Architecture - Auth.md
  ssot/pages/Implementation - Code Map.md
  ssot/pages/UC - Operate BiteTribe In The Admin App.md
  tsconfig.base.json
Due: eslint --fix, prettier --write, stylelint --fix

docs: add epic 1471 for growing the admin tool into the operations tool
  ssot/pages/SSOT.md
  ssot/pages/Traceability Map.md
  ssot/pages/UC - Operate BiteTribe In The Admin App.md
  ssot/pages/epic-1471.md
Due: prettier --write

docs: rescope epic 1471 to basic operations and record its decisions
  ssot/pages/epic-1471.md
Due: prettier --write

docs: rescope epic 1471 to basic operations and record its decisions (#1478)
  ssot/pages/epic-1471.md
Due: prettier --write

fix(bite-tribe-admin): scroll the user-management columns independently
  libs/bite-tribe-admin/migrations/data-access/src/lib/__specs__/migrations-data-access.service.spec.ts
  libs/bite-tribe-admin/user-management/page/src/lib/component/user-management.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --fix: any of: *.{ts,html}
  prettier --write: any of: *.{ts,js,html,scss,json,md}
  stylelint --fix: any of: *.scss
