Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

test: update references
  .loki/reference/chrome_iphone7_Components_Bite_List_With_Tried_Out_Checkbox.png
  .loki/reference/chrome_iphone7_Pages_Settings_Default.png
  .loki/reference/chrome_laptop_Components_Bite_List_With_Tried_Out_Checkbox.png
  .loki/reference/chrome_laptop_Components_Feed_Controls_Default.png
  .loki/reference/chrome_laptop_Pages_Bite_My_Bite.png
  .loki/reference/chrome_laptop_Pages_Bite_With_Preferred_Currency.png
  .loki/reference/chrome_laptop_Pages_Home_Weekly_Bites.png
  .loki/reference/chrome_laptop_Pages_Home_Weekly_Bites_Empty.png
  .loki/reference/chrome_laptop_Pages_Profile_No_Followers_Or_Following.png
  .loki/reference/chrome_laptop_Pages_Settings_Default.png
Due: none

test: update loki references
  .loki/reference/chrome_iphone7_Pages_Delete_Account_Default.png
  .loki/reference/chrome_iphone7_Pages_Delete_Account_Deleting.png
  .loki/reference/chrome_iphone7_Pages_Delete_Account_Failed.png
  .loki/reference/chrome_laptop_Components_Feed_Controls_Default.png
  .loki/reference/chrome_laptop_Components_Feed_Controls_Home_Feed.png
  .loki/reference/chrome_laptop_Pages_Delete_Account_Default.png
  .loki/reference/chrome_laptop_Pages_Delete_Account_Deleting.png
  .loki/reference/chrome_laptop_Pages_Delete_Account_Failed.png
  .loki/reference/chrome_laptop_Pages_Profile_No_Followers_Or_Following.png
Due: none

feat: make push notifications toggle actionable
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/__specs__/get-tokens.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/get-tokens.ts
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/settings/page/src/lib/components/page/__specs__/settings.component.spec.ts
  libs/bite-tribe/settings/page/src/lib/components/page/__specs__/settings.stories.ts
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.html
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.ts
  libs/bite-tribe/settings/page/src/lib/integration/settings-container.component.ts
  libs/bite-tribe/settings/page/src/lib/integration/settings.service.spec.ts
  libs/bite-tribe/settings/page/src/lib/integration/settings.service.ts
  libs/bite-tribe/store/src/lib/app/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/app/effects.ts
  libs/bite-tribe/store/src/lib/app/utils/__specs__/with-user-from-action.spec.ts
  libs/bite-tribe/store/src/lib/app/utils/init-push-notifications.ts
  libs/bite-tribe/store/src/lib/app/utils/with-user-from-action.ts
  libs/common/push-notifications/src/lib/init-push.spec.ts
  libs/common/push-notifications/src/lib/init-push.ts
  ssot/pages/Architecture - Capacitor.md
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Release Candidate Test Charter.md
  ssot/pages/UC - Configure Personal Settings.md
  ssot/pages/UC - Receive App Notifications And Engagement Updates.md
Due: eslint --fix, prettier --write

test: update loki tests
  .loki/reference/chrome_iphone7_Pages_Settings_Default.png
  .loki/reference/chrome_iphone7_Pages_Settings_Notifications_Allowed.png
  .loki/reference/chrome_iphone7_Pages_Settings_Notifications_Blocked.png
  .loki/reference/chrome_laptop_Pages_Home_Weekly_Bites.png
  .loki/reference/chrome_laptop_Pages_Settings_Default.png
  .loki/reference/chrome_laptop_Pages_Settings_Notifications_Allowed.png
  .loki/reference/chrome_laptop_Pages_Settings_Notifications_Blocked.png
Due: none

docs: respecify notification and location permission handling
  ssot/pages/Architecture - Capacitor.md
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Release Candidate Test Charter.md
  ssot/pages/UC - Configure Personal Settings.md
  ssot/pages/UC - Guide New Users After Registration.md
  ssot/pages/UC - Receive App Notifications And Engagement Updates.md
  ssot/pages/epic-850.md
Due: prettier --write

fix: prevent Discover snap-back after opening Botanic details
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/source-real-ui/intro-gesture-layer.component.ts
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/source-real-ui/real-ui-source.component.html
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/source-real-ui/real-ui-source.component.ts
Due: eslint --fix, prettier --write

feat: polish Intro Story timings and emitOnPress gesture sync
  libs/bite-tribe/onboarding/page/jest.config.cts
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/flows/__specs__/tribe-go-flows.spec.ts
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/flows/flow-scripts.ts
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/flows/tribe-go-flows.ts
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/gesture/__specs__/gesture-framework.spec.ts
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/gesture/beat-scripts.ts
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/gesture/gesture-script.ts
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/gesture/index.ts
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/gesture/script-phrases.ts
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/gesture/synced-gesture-controller.ts
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/gesture/timing.ts
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/source-real-ui/intro-gesture-layer.component.ts
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/source-real-ui/real-ui-source.component.html
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/source-real-ui/real-ui-source.component.scss
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/source-real-ui/real-ui-source.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: add F/G/H disclosure variants plus shell and stage polish
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/README.md
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/compare/intro-story-compare.component.scss
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/flows/__specs__/share-the-find.flows.stories.ts
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/gesture/intro-iphone-shell.component.scss
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/gesture/synced-gesture-controller.ts
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/gesture/timing.ts
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/progressive-tips.model.ts
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/source-fake-ui/sim/fake-ui-sim.component.scss
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/source-real-ui/__specs__/real-ui-source.stories.ts
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/source-real-ui/real-ui-source.component.html
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/source-real-ui/real-ui-source.component.scss
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/source-real-ui/real-ui-source.component.ts
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/variant-a-story-beats/__specs__/story-beats.stories.ts
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/variant-a-story-beats/story-beats.component.html
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/variant-a-story-beats/story-beats.component.scss
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/variant-a-story-beats/story-beats.component.ts
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/variant-e-progressive-disclosure/progressive-disclosure.component.scss
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/variant-f-hotspot-tips/__specs__/hotspot-tips.stories.ts
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/variant-f-hotspot-tips/hotspot-tips.component.html
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/variant-f-hotspot-tips/hotspot-tips.component.scss
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/variant-f-hotspot-tips/hotspot-tips.component.ts
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/variant-g-spotlight-quest/__specs__/spotlight-quest.stories.ts
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/variant-g-spotlight-quest/spotlight-quest.component.html
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/variant-g-spotlight-quest/spotlight-quest.component.scss
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/variant-g-spotlight-quest/spotlight-quest.component.ts
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/variant-h-focus-shine/focus-shine.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: complete H Focus Shine and stage polish for Intro Story
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/README.md
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/source-real-ui/real-ui-source.component.scss
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/source-real-ui/real-ui-source.component.ts
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/variant-e-progressive-disclosure/progressive-disclosure.component.scss
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/variant-h-focus-shine/__specs__/focus-shine.stories.ts
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/variant-h-focus-shine/focus-shine.component.html
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/variant-h-focus-shine/focus-shine.component.scss
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/variant-h-focus-shine/focus-shine.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: give BiteTribe logo more clearance under Dynamic Island
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/gesture/intro-iphone-shell.component.scss
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/source-real-ui/real-ui-source.component.scss
Due: prettier --write, stylelint --fix

feat: add simulated typeText gestures for intro demos
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/flows/__specs__/flow-scripts.spec.ts
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/flows/flow-scripts.ts
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/gesture/__specs__/gesture-framework.spec.ts
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/gesture/gesture-script.ts
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/gesture/index.ts
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/gesture/synced-gesture-controller.ts
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/gesture/timing.ts
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/source-real-ui/intro-gesture-layer.component.html
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/source-real-ui/intro-gesture-layer.component.scss
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/source-real-ui/intro-gesture-layer.component.ts
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/source-real-ui/real-ui-source.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: add I Soft Whisper calm progressive disclosure
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/README.md
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/variant-e-progressive-disclosure/progressive-disclosure.component.ts
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/variant-i-soft-whisper/__specs__/soft-whisper.stories.ts
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/variant-i-soft-whisper/soft-whisper.component.html
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/variant-i-soft-whisper/soft-whisper.component.scss
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/variant-i-soft-whisper/soft-whisper.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: stronger Soft Whisper/Focus Shine focus with readable captions
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/variant-h-focus-shine/focus-shine.component.scss
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/variant-i-soft-whisper/soft-whisper.component.scss
Due: prettier --write, stylelint --fix

fix: kill focus rectangles and restore Soft Whisper caption contrast
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/gesture/intro-iphone-shell.component.scss
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/source-fake-ui/sim/fake-ui-sim.component.scss
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/source-real-ui/real-ui-source.component.scss
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/variant-e-progressive-disclosure/progressive-disclosure.component.scss
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/variant-g-spotlight-quest/spotlight-quest.component.scss
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/variant-h-focus-shine/focus-shine.component.html
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/variant-h-focus-shine/focus-shine.component.scss
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/variant-h-focus-shine/focus-shine.component.ts
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/variant-i-soft-whisper/soft-whisper.component.html
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/variant-i-soft-whisper/soft-whisper.component.scss
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/variant-i-soft-whisper/soft-whisper.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

docs: respecify notification and location permission handling (#1198)
  ssot/pages/Architecture - Capacitor.md
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Release Candidate Test Charter.md
  ssot/pages/UC - Configure Personal Settings.md
  ssot/pages/UC - Guide New Users After Registration.md
  ssot/pages/UC - Receive App Notifications And Engagement Updates.md
  ssot/pages/epic-850.md
Due: prettier --write

feat: implement push notification token handling
  apps/bite-tribe-e2e/src/tests/personal-settings.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/__specs__/get-tokens.spec.ts
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe-common/model/src/lib/settings.ts
  libs/bite-tribe/onboarding/data-access/src/lib/__specs__/onboarding-data-access.service.spec.ts
  libs/bite-tribe/onboarding/data-access/src/lib/onboarding-data-access.service.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/__specs__/onboarding.service.spec.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/onboarding.service.ts
  libs/bite-tribe/settings/data-access/src/lib/settings-data-access.service.ts
  libs/bite-tribe/settings/page/src/lib/components/page/__specs__/settings.component.spec.ts
  libs/bite-tribe/settings/page/src/lib/components/page/__specs__/settings.stories.ts
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.html
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.scss
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.ts
  libs/bite-tribe/settings/page/src/lib/integration/__specs__/settings.service.spec.ts
  libs/bite-tribe/settings/page/src/lib/integration/settings-container.component.ts
  libs/bite-tribe/settings/page/src/lib/integration/settings.service.ts
  libs/bite-tribe/store/src/lib/app/__specs__/reducer.spec.ts
  libs/bite-tribe/store/src/lib/app/reducer.ts
  libs/common/push-notifications/src/index.ts
  libs/common/push-notifications/src/lib/init-push.spec.ts
  libs/common/push-notifications/src/lib/init-push.ts
  libs/common/push-notifications/src/lib/push-installation.spec.ts
  libs/common/push-notifications/src/lib/push-installation.ts
  libs/common/utils/src/lib/add-necessary-icons.ts
  ssot/pages/Architecture - Capacitor.md
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Release Candidate Test Charter.md
  ssot/pages/UC - Configure Personal Settings.md
  ssot/pages/UC - Receive App Notifications And Engagement Updates.md
Due: eslint --fix, prettier --write, stylelint --fix

test: update references
  .loki/reference/chrome_iphone7_Pages_Onboarding_Notification_Step_Before_Prompt.png
  .loki/reference/chrome_iphone7_Pages_Onboarding_Notification_Step_Denied.png
  .loki/reference/chrome_iphone7_Pages_Onboarding_Notification_Step_Granted.png
  .loki/reference/chrome_iphone7_Pages_Onboarding_Notification_Step_Requesting.png
  .loki/reference/chrome_iphone7_Pages_Onboarding_Notification_Step_Unsupported.png
  .loki/reference/chrome_iphone7_Pages_Settings_Default.png
  .loki/reference/chrome_iphone7_Pages_Settings_Notifications_Blocked_By_Os.png
  .loki/reference/chrome_iphone7_Pages_Settings_Notifications_Disabled_Device.png
  .loki/reference/chrome_iphone7_Pages_Settings_Notifications_Legacy_Device.png
  .loki/reference/chrome_iphone7_Pages_Settings_Notifications_No_Current_Device.png
  .loki/reference/chrome_iphone7_Pages_Settings_Notifications_Registered_Devices.png
  .loki/reference/chrome_laptop_Components_Feed_Controls_Default.png
  .loki/reference/chrome_laptop_Pages_Home_Weekly_Bites.png
  .loki/reference/chrome_laptop_Pages_Onboarding_Notification_Step_Before_Prompt.png
  .loki/reference/chrome_laptop_Pages_Onboarding_Notification_Step_Denied.png
  .loki/reference/chrome_laptop_Pages_Onboarding_Notification_Step_Granted.png
  .loki/reference/chrome_laptop_Pages_Onboarding_Notification_Step_Requesting.png
  .loki/reference/chrome_laptop_Pages_Onboarding_Notification_Step_Unsupported.png
  .loki/reference/chrome_laptop_Pages_Profile_No_Followers_Or_Following.png
  .loki/reference/chrome_laptop_Pages_Settings_Default.png
  .loki/reference/chrome_laptop_Pages_Settings_Notifications_Blocked_By_Os.png
  .loki/reference/chrome_laptop_Pages_Settings_Notifications_Disabled_Device.png
  .loki/reference/chrome_laptop_Pages_Settings_Notifications_Legacy_Device.png
  .loki/reference/chrome_laptop_Pages_Settings_Notifications_No_Current_Device.png
  .loki/reference/chrome_laptop_Pages_Settings_Notifications_Registered_Devices.png
Due: none

polish: tighten intro-story focus, captions, and remotion beats
  apps/bite-tribe/src/assets/intro-story/README.md
  apps/bite-tribe/src/assets/intro-story/discover.webm
  apps/bite-tribe/src/assets/intro-story/go.webm
  apps/bite-tribe/src/assets/intro-story/share.webm
  apps/bite-tribe/src/assets/intro-story/tribe.webm
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/README.md
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/gesture/beat-scripts.ts
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/gesture/timing.ts
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/progressive-tips.model.ts
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/source-real-ui/real-ui-source.component.html
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/source-real-ui/real-ui-source.component.scss
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/source-real-ui/real-ui-source.component.ts
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/variant-e-progressive-disclosure/progressive-disclosure.component.html
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/variant-e-progressive-disclosure/progressive-disclosure.component.scss
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/variant-e-progressive-disclosure/progressive-disclosure.component.ts
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/variant-g-spotlight-quest/spotlight-quest.component.html
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/variant-g-spotlight-quest/spotlight-quest.component.scss
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/variant-g-spotlight-quest/spotlight-quest.component.ts
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/variant-h-focus-shine/focus-shine.component.html
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/variant-h-focus-shine/focus-shine.component.scss
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/variant-h-focus-shine/focus-shine.component.ts
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/variant-i-soft-whisper/soft-whisper.component.html
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/variant-i-soft-whisper/soft-whisper.component.scss
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/variant-i-soft-whisper/soft-whisper.component.ts
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/variant-j-whisper-flow/__specs__/whisper-flow.stories.ts
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/variant-j-whisper-flow/whisper-flow.component.html
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/variant-j-whisper-flow/whisper-flow.component.scss
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/variant-j-whisper-flow/whisper-flow.component.ts
  tools/intro-story-remotion/README.md
  tools/intro-story-remotion/src/compositions/FakeUiDiscover.tsx
  tools/intro-story-remotion/src/compositions/FakeUiGo.tsx
  tools/intro-story-remotion/src/compositions/FakeUiShare.tsx
  tools/intro-story-remotion/src/compositions/FakeUiTribe.tsx
Due: eslint --fix, prettier --write, stylelint --fix

fix: reset Soft Whisper and Whisper Flow captions to quiet premium wash
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/variant-i-soft-whisper/soft-whisper.component.scss
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/variant-i-soft-whisper/soft-whisper.component.ts
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/variant-j-whisper-flow/whisper-flow.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: move Soft Whisper and Whisper Flow captions below the phone stage.
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/variant-i-soft-whisper/soft-whisper.component.html
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/variant-i-soft-whisper/soft-whisper.component.scss
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/variant-i-soft-whisper/soft-whisper.component.ts
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/variant-j-whisper-flow/whisper-flow.component.html
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/variant-j-whisper-flow/whisper-flow.component.scss
  libs/bite-tribe/onboarding/page/src/lib/prototypes/intro-story/variant-j-whisper-flow/whisper-flow.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: adjustments
  libs/bite-tribe/settings/data-access/src/lib/settings-data-access.service.ts
  libs/bite-tribe/settings/page/src/lib/components/page/__specs__/settings.component.spec.ts
  libs/bite-tribe/settings/page/src/lib/components/page/__specs__/settings.stories.ts
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.html
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.ts
  libs/bite-tribe/settings/page/src/lib/integration/__specs__/settings.service.spec.ts
  libs/bite-tribe/settings/page/src/lib/integration/settings.service.ts
  libs/common/push-notifications/src/lib/push-installation.spec.ts
  libs/common/push-notifications/src/lib/push-installation.ts
  ssot/pages/Architecture - Capacitor.md
  ssot/pages/UC - Configure Personal Settings.md
  ssot/pages/UC - Receive App Notifications And Engagement Updates.md
Due: eslint --fix, prettier --write

style: fix intent
  .loki/reference/chrome_iphone7_Pages_Settings_Default.png
  .loki/reference/chrome_iphone7_Pages_Settings_Notifications_Blocked_By_Os.png
  .loki/reference/chrome_iphone7_Pages_Settings_Notifications_Disabled_Device.png
  .loki/reference/chrome_iphone7_Pages_Settings_Notifications_Legacy_Device.png
  .loki/reference/chrome_iphone7_Pages_Settings_Notifications_No_Current_Device.png
  .loki/reference/chrome_iphone7_Pages_Settings_Notifications_Registered_Devices.png
  .loki/reference/chrome_iphone7_Pages_Settings_Notifications_Unsupported_And_Empty.png
  .loki/reference/chrome_iphone7_Pages_Settings_Notifications_Unsupported_Platform.png
  .loki/reference/chrome_laptop_Pages_Settings_Default.png
  .loki/reference/chrome_laptop_Pages_Settings_Notifications_Blocked_By_Os.png
  .loki/reference/chrome_laptop_Pages_Settings_Notifications_Disabled_Device.png
  .loki/reference/chrome_laptop_Pages_Settings_Notifications_Legacy_Device.png
  .loki/reference/chrome_laptop_Pages_Settings_Notifications_No_Current_Device.png
  .loki/reference/chrome_laptop_Pages_Settings_Notifications_Registered_Devices.png
  .loki/reference/chrome_laptop_Pages_Settings_Notifications_Unsupported_And_Empty.png
  .loki/reference/chrome_laptop_Pages_Settings_Notifications_Unsupported_Platform.png
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.scss
Due: prettier --write, stylelint --fix

fix: avoid raw translation keys after language switch while onboarding
  libs/bite-tribe/onboarding/data-access/src/lib/__specs__/onboarding-data-access.service.spec.ts
  libs/bite-tribe/onboarding/data-access/src/lib/onboarding-data-access.service.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/__specs__/onboarding.service.spec.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/onboarding.service.ts
  libs/bite-tribe/shell/src/lib/app.config.ts
  ssot/pages/Architecture - Internationalization.md
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Release Candidate Test Charter.md
  ssot/pages/Implementation - Localization.md
Due: eslint --fix, prettier --write

fix: avoid raw translation keys after language switch while onboarding (#1201)
  libs/bite-tribe/onboarding/data-access/src/lib/__specs__/onboarding-data-access.service.spec.ts
  libs/bite-tribe/onboarding/data-access/src/lib/onboarding-data-access.service.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/__specs__/onboarding.service.spec.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/onboarding.service.ts
  libs/bite-tribe/shell/src/lib/app.config.ts
  ssot/pages/Architecture - Internationalization.md
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Release Candidate Test Charter.md
  ssot/pages/Implementation - Localization.md
Due: eslint --fix, prettier --write

feat: surface profile visibility on profile
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/profile/page/src/lib/components/profile-page/__specs__/profile.component.spec.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/__specs__/profile.stories.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/components/__specs__/profile-visibility.spec.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/components/__specs__/profile-visibility.stories.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/components/profile-visibility.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/components/profile-visibility.scss
  libs/bite-tribe/profile/page/src/lib/components/profile-page/components/profile-visibility.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.ts
  libs/common/utils/src/lib/add-necessary-icons.ts
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Release Candidate Test Charter.md
Due: eslint --fix, prettier --write, stylelint --fix

test: update loki references
  .loki/reference/chrome_iphone7_Pages_Profile_Own_Profile.png
  .loki/reference/chrome_laptop_Pages_Profile_Own_Profile.png
Due: none

docs: new reference images
  .loki/reference/chrome_iphone7_Pages_Profile_Own_Private_Profile.png
  .loki/reference/chrome_iphone7_Pages_Profile_Visibility_Private_Profile.png
  .loki/reference/chrome_iphone7_Pages_Profile_Visibility_Public_Profile.png
  .loki/reference/chrome_iphone7_Pages_Profile_Visibility_Without_Saved_Choice.png
  .loki/reference/chrome_laptop_Pages_Profile_Own_Private_Profile.png
  .loki/reference/chrome_laptop_Pages_Profile_Visibility_Private_Profile.png
  .loki/reference/chrome_laptop_Pages_Profile_Visibility_Public_Profile.png
  .loki/reference/chrome_laptop_Pages_Profile_Visibility_Without_Saved_Choice.png
Due: none

docs: finish ssot update
  ssot/pages/UC - Manage Profile And Social Graph.md
Due: prettier --write

feat: surface profile visibility on own profile page (#1202)
  .loki/reference/chrome_iphone7_Pages_Profile_Own_Private_Profile.png
  .loki/reference/chrome_iphone7_Pages_Profile_Own_Profile.png
  .loki/reference/chrome_iphone7_Pages_Profile_Visibility_Private_Profile.png
  .loki/reference/chrome_iphone7_Pages_Profile_Visibility_Public_Profile.png
  .loki/reference/chrome_iphone7_Pages_Profile_Visibility_Without_Saved_Choice.png
  .loki/reference/chrome_laptop_Pages_Profile_Own_Private_Profile.png
  .loki/reference/chrome_laptop_Pages_Profile_Own_Profile.png
  .loki/reference/chrome_laptop_Pages_Profile_Visibility_Private_Profile.png
  .loki/reference/chrome_laptop_Pages_Profile_Visibility_Public_Profile.png
  .loki/reference/chrome_laptop_Pages_Profile_Visibility_Without_Saved_Choice.png
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/profile/page/src/lib/components/profile-page/__specs__/profile.component.spec.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/__specs__/profile.stories.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/components/__specs__/profile-visibility.spec.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/components/__specs__/profile-visibility.stories.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/components/profile-visibility.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/components/profile-visibility.scss
  libs/bite-tribe/profile/page/src/lib/components/profile-page/components/profile-visibility.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.ts
  libs/common/utils/src/lib/add-necessary-icons.ts
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Release Candidate Test Charter.md
  ssot/pages/UC - Manage Profile And Social Graph.md
Due: eslint --fix, prettier --write, stylelint --fix

fix: confirm verification email resend in the app
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/email-verification/data-access/src/lib/__specs__/email-verification.service.spec.ts
  libs/bite-tribe/email-verification/data-access/src/lib/email-verification.service.ts
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/home.component.spec.ts
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/home.stories.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/home/page/src/lib/integration/__specs__/home.container.spec.ts
  libs/bite-tribe/home/page/src/lib/integration/__specs__/home.service.spec.ts
  libs/bite-tribe/home/page/src/lib/integration/home.container.ts
  libs/bite-tribe/home/page/src/lib/integration/home.service.ts
  libs/bite-tribe/profile/page/src/lib/components/edit-profile-page/__specs__/edit-profile.page.spec.ts
  libs/bite-tribe/profile/page/src/lib/components/edit-profile-page/__specs__/edit-profile.stories.ts
  libs/bite-tribe/profile/page/src/lib/components/edit-profile-page/edit-profile.page.html
  libs/bite-tribe/profile/page/src/lib/components/edit-profile-page/edit-profile.page.ts
  libs/bite-tribe/profile/page/src/lib/integration/__specs__/profile.service.spec.ts
  libs/bite-tribe/profile/page/src/lib/integration/edit-profile.container.ts
  libs/bite-tribe/profile/page/src/lib/integration/profile.service.ts
  libs/bite-tribe/settings/page/src/lib/components/page/__specs__/settings.component.spec.ts
  libs/bite-tribe/settings/page/src/lib/components/page/__specs__/settings.stories.ts
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.html
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.ts
  libs/bite-tribe/settings/page/src/lib/integration/__specs__/settings.service.spec.ts
  libs/bite-tribe/settings/page/src/lib/integration/settings-container.component.ts
  libs/bite-tribe/settings/page/src/lib/integration/settings.service.ts
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Release Candidate Test Charter.md
  ssot/pages/UC - Use Account And Legal Flows.md
Due: eslint --fix, prettier --write

test: add new loki reference images
  .loki/reference/chrome_iphone7_Pages_Edit_Profile_Email_Verification_Prompt.png
  .loki/reference/chrome_iphone7_Pages_Edit_Profile_Email_Verification_Resend_Running.png
  .loki/reference/chrome_iphone7_Pages_Home_Email_Verification_Prompt.png
  .loki/reference/chrome_iphone7_Pages_Home_Email_Verification_Resend_Running.png
  .loki/reference/chrome_iphone7_Pages_Settings_Email_Verification_Prompt.png
  .loki/reference/chrome_iphone7_Pages_Settings_Email_Verification_Resend_Running.png
  .loki/reference/chrome_laptop_Pages_Edit_Profile_Email_Verification_Prompt.png
  .loki/reference/chrome_laptop_Pages_Edit_Profile_Email_Verification_Resend_Running.png
  .loki/reference/chrome_laptop_Pages_Home_Email_Verification_Prompt.png
  .loki/reference/chrome_laptop_Pages_Home_Email_Verification_Resend_Running.png
  .loki/reference/chrome_laptop_Pages_Settings_Email_Verification_Prompt.png
  .loki/reference/chrome_laptop_Pages_Settings_Email_Verification_Resend_Running.png
Due: none

feat: localize notification texts according users language
  apps/bite-tribe-firebase/functions/src/functions/leaderboard/send-daily-leaderboard-notification.ts
  apps/bite-tribe-firebase/functions/src/functions/notifications/notify-bite-creator-on-like.ts
  apps/bite-tribe-firebase/functions/src/functions/notifications/notify-bite-creator-on-review.ts
  apps/bite-tribe-firebase/functions/src/functions/notifications/notify-followers-on-new-bite.ts
  apps/bite-tribe-firebase/functions/src/functions/notifications/notify-user-on-new-follower.ts
  apps/bite-tribe-firebase/functions/src/functions/notifications/send-weekly-bite-notification.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/__specs__/translate.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/am.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/ar.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/de.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/en.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/es.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/fr.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/id.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/index.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/it.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/pt.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/th.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/tr.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/notification-messages.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/supported-languages.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/translate.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/__specs__/get-tokens-by-language.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/__specs__/get-tokens.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/__specs__/leaderboard.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/__specs__/send-localized-notification.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/get-tokens-by-language.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/get-tokens.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/leaderboard.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/send-localized-notification.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/send-notification.ts
  ssot/pages/Architecture - Internationalization.md
  ssot/pages/Implementation - Firebase Functions.md
  ssot/pages/Implementation - Localization.md
  ssot/pages/Traceability Map.md
  ssot/pages/UC - Receive App Notifications And Engagement Updates.md
Due: eslint --fix, prettier --write

feat: localize notification texts according users language (#1205)
  apps/bite-tribe-firebase/functions/src/functions/leaderboard/send-daily-leaderboard-notification.ts
  apps/bite-tribe-firebase/functions/src/functions/notifications/notify-bite-creator-on-like.ts
  apps/bite-tribe-firebase/functions/src/functions/notifications/notify-bite-creator-on-review.ts
  apps/bite-tribe-firebase/functions/src/functions/notifications/notify-followers-on-new-bite.ts
  apps/bite-tribe-firebase/functions/src/functions/notifications/notify-user-on-new-follower.ts
  apps/bite-tribe-firebase/functions/src/functions/notifications/send-weekly-bite-notification.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/__specs__/translate.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/am.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/ar.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/de.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/en.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/es.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/fr.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/id.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/index.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/it.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/pt.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/th.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/tr.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/notification-messages.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/supported-languages.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/translate.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/__specs__/get-tokens-by-language.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/__specs__/get-tokens.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/__specs__/leaderboard.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/__specs__/send-localized-notification.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/get-tokens-by-language.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/get-tokens.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/leaderboard.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/send-localized-notification.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/send-notification.ts
  ssot/pages/Architecture - Internationalization.md
  ssot/pages/Implementation - Firebase Functions.md
  ssot/pages/Implementation - Localization.md
  ssot/pages/Traceability Map.md
  ssot/pages/UC - Receive App Notifications And Engagement Updates.md
Due: eslint --fix, prettier --write

style: adjust splash screen and assets to new design
  apps/bite-tribe-android/android/app/src/main/res/drawable-land-hdpi/splash.png
  apps/bite-tribe-android/android/app/src/main/res/drawable-land-ldpi/splash.png
  apps/bite-tribe-android/android/app/src/main/res/drawable-land-mdpi/splash.png
  apps/bite-tribe-android/android/app/src/main/res/drawable-land-night-hdpi/splash.png
  apps/bite-tribe-android/android/app/src/main/res/drawable-land-night-ldpi/splash.png
  apps/bite-tribe-android/android/app/src/main/res/drawable-land-night-mdpi/splash.png
  apps/bite-tribe-android/android/app/src/main/res/drawable-land-night-xhdpi/splash.png
  apps/bite-tribe-android/android/app/src/main/res/drawable-land-night-xxhdpi/splash.png
  apps/bite-tribe-android/android/app/src/main/res/drawable-land-night-xxxhdpi/splash.png
  apps/bite-tribe-android/android/app/src/main/res/drawable-land-xhdpi/splash.png
  apps/bite-tribe-android/android/app/src/main/res/drawable-land-xxhdpi/splash.png
  apps/bite-tribe-android/android/app/src/main/res/drawable-land-xxxhdpi/splash.png
  apps/bite-tribe-android/android/app/src/main/res/drawable-night/splash.png
  apps/bite-tribe-android/android/app/src/main/res/drawable-port-hdpi/splash.png
  apps/bite-tribe-android/android/app/src/main/res/drawable-port-ldpi/splash.png
  apps/bite-tribe-android/android/app/src/main/res/drawable-port-mdpi/splash.png
  apps/bite-tribe-android/android/app/src/main/res/drawable-port-night-hdpi/splash.png
  apps/bite-tribe-android/android/app/src/main/res/drawable-port-night-ldpi/splash.png
  apps/bite-tribe-android/android/app/src/main/res/drawable-port-night-mdpi/splash.png
  apps/bite-tribe-android/android/app/src/main/res/drawable-port-night-xhdpi/splash.png
  apps/bite-tribe-android/android/app/src/main/res/drawable-port-night-xxhdpi/splash.png
  apps/bite-tribe-android/android/app/src/main/res/drawable-port-night-xxxhdpi/splash.png
  apps/bite-tribe-android/android/app/src/main/res/drawable-port-xhdpi/splash.png
  apps/bite-tribe-android/android/app/src/main/res/drawable-port-xxhdpi/splash.png
  apps/bite-tribe-android/android/app/src/main/res/drawable-port-xxxhdpi/splash.png
  apps/bite-tribe-android/android/app/src/main/res/drawable/splash.png
  apps/bite-tribe-business/src/theme/variables.scss
  apps/bite-tribe-ios/assets/icon-background.png
  apps/bite-tribe-ios/assets/splash-dark.png
  apps/bite-tribe-ios/assets/splash.png
  apps/bite-tribe-ios/ios/App/App/Assets.xcassets/Splash.imageset/Default@1x~universal~anyany-dark.png
  apps/bite-tribe-ios/ios/App/App/Assets.xcassets/Splash.imageset/Default@1x~universal~anyany.png
  apps/bite-tribe-ios/ios/App/App/Assets.xcassets/Splash.imageset/Default@2x~universal~anyany-dark.png
  apps/bite-tribe-ios/ios/App/App/Assets.xcassets/Splash.imageset/Default@2x~universal~anyany.png
  apps/bite-tribe-ios/ios/App/App/Assets.xcassets/Splash.imageset/Default@3x~universal~anyany-dark.png
  apps/bite-tribe-ios/ios/App/App/Assets.xcassets/Splash.imageset/Default@3x~universal~anyany.png
  apps/bite-tribe/src/index.html
  apps/bite-tribe/src/manifest.webmanifest
  apps/bite-tribe/src/theme/variables.scss
  ssot/pages/Architecture - Capacitor.md
Due: eslint --fix, prettier --write, stylelint --fix

style: adjust splash screen and assets to new design (#1206)
  apps/bite-tribe-android/android/app/src/main/res/drawable-land-hdpi/splash.png
  apps/bite-tribe-android/android/app/src/main/res/drawable-land-ldpi/splash.png
  apps/bite-tribe-android/android/app/src/main/res/drawable-land-mdpi/splash.png
  apps/bite-tribe-android/android/app/src/main/res/drawable-land-night-hdpi/splash.png
  apps/bite-tribe-android/android/app/src/main/res/drawable-land-night-ldpi/splash.png
  apps/bite-tribe-android/android/app/src/main/res/drawable-land-night-mdpi/splash.png
  apps/bite-tribe-android/android/app/src/main/res/drawable-land-night-xhdpi/splash.png
  apps/bite-tribe-android/android/app/src/main/res/drawable-land-night-xxhdpi/splash.png
  apps/bite-tribe-android/android/app/src/main/res/drawable-land-night-xxxhdpi/splash.png
  apps/bite-tribe-android/android/app/src/main/res/drawable-land-xhdpi/splash.png
  apps/bite-tribe-android/android/app/src/main/res/drawable-land-xxhdpi/splash.png
  apps/bite-tribe-android/android/app/src/main/res/drawable-land-xxxhdpi/splash.png
  apps/bite-tribe-android/android/app/src/main/res/drawable-night/splash.png
  apps/bite-tribe-android/android/app/src/main/res/drawable-port-hdpi/splash.png
  apps/bite-tribe-android/android/app/src/main/res/drawable-port-ldpi/splash.png
  apps/bite-tribe-android/android/app/src/main/res/drawable-port-mdpi/splash.png
  apps/bite-tribe-android/android/app/src/main/res/drawable-port-night-hdpi/splash.png
  apps/bite-tribe-android/android/app/src/main/res/drawable-port-night-ldpi/splash.png
  apps/bite-tribe-android/android/app/src/main/res/drawable-port-night-mdpi/splash.png
  apps/bite-tribe-android/android/app/src/main/res/drawable-port-night-xhdpi/splash.png
  apps/bite-tribe-android/android/app/src/main/res/drawable-port-night-xxhdpi/splash.png
  apps/bite-tribe-android/android/app/src/main/res/drawable-port-night-xxxhdpi/splash.png
  apps/bite-tribe-android/android/app/src/main/res/drawable-port-xhdpi/splash.png
  apps/bite-tribe-android/android/app/src/main/res/drawable-port-xxhdpi/splash.png
  apps/bite-tribe-android/android/app/src/main/res/drawable-port-xxxhdpi/splash.png
  apps/bite-tribe-android/android/app/src/main/res/drawable/splash.png
  apps/bite-tribe-business/src/theme/variables.scss
  apps/bite-tribe-ios/assets/icon-background.png
  apps/bite-tribe-ios/assets/splash-dark.png
  apps/bite-tribe-ios/assets/splash.png
  apps/bite-tribe-ios/ios/App/App/Assets.xcassets/Splash.imageset/Default@1x~universal~anyany-dark.png
  apps/bite-tribe-ios/ios/App/App/Assets.xcassets/Splash.imageset/Default@1x~universal~anyany.png
  apps/bite-tribe-ios/ios/App/App/Assets.xcassets/Splash.imageset/Default@2x~universal~anyany-dark.png
  apps/bite-tribe-ios/ios/App/App/Assets.xcassets/Splash.imageset/Default@2x~universal~anyany.png
  apps/bite-tribe-ios/ios/App/App/Assets.xcassets/Splash.imageset/Default@3x~universal~anyany-dark.png
  apps/bite-tribe-ios/ios/App/App/Assets.xcassets/Splash.imageset/Default@3x~universal~anyany.png
  apps/bite-tribe/src/index.html
  apps/bite-tribe/src/manifest.webmanifest
  apps/bite-tribe/src/theme/variables.scss
  ssot/pages/Architecture - Capacitor.md
Due: eslint --fix, prettier --write, stylelint --fix

fix: make preferred currency and favorite currencies selection clear
  .loki/reference/chrome_iphone7_Components_Currency_Selector_Default.png
  .loki/reference/chrome_iphone7_Components_Currency_Selector_Favorites_Empty.png
  .loki/reference/chrome_iphone7_Components_Currency_Selector_Favorites_Selected.png
  .loki/reference/chrome_iphone7_Components_Currency_Selector_Readonly_Favorites.png
  .loki/reference/chrome_iphone7_Components_Currency_Selector_With_Favorites.png
  .loki/reference/chrome_laptop_Components_Currency_Selector_Default.png
  .loki/reference/chrome_laptop_Components_Currency_Selector_Favorites_Empty.png
  .loki/reference/chrome_laptop_Components_Currency_Selector_Favorites_Selected.png
  .loki/reference/chrome_laptop_Components_Currency_Selector_Readonly_Favorites.png
  .loki/reference/chrome_laptop_Components_Currency_Selector_With_Favorites.png
  apps/bite-tribe-business/src/assets/i18n/en.json
  apps/bite-tribe-e2e/src/pages/settings.page.ts
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/bite/page/src/lib/components/page/price-input/price-input.component.html
  libs/bite-tribe/onboarding/page/src/lib/components/currency-step/currency-step.component.html
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.html
  libs/common/ui/currency-selector/src/index.ts
  libs/common/ui/currency-selector/src/lib/__specs__/currency-selector.component.spec.ts
  libs/common/ui/currency-selector/src/lib/__specs__/currency-selector.component.stories.ts
  libs/common/ui/currency-selector/src/lib/currency-selector.component.html
  libs/common/ui/currency-selector/src/lib/currency-selector.component.scss
  libs/common/ui/currency-selector/src/lib/currency-selector.component.ts
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Release Candidate Test Charter.md
Due: eslint --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --fix: any of: *.{ts,html}
  prettier --write: any of: *.{ts,js,html,scss,json,md}
  stylelint --fix: any of: *.scss
