Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,html}": "eslint --fix",
  "*.{ts,js,html,scss,json,md}": "prettier --write",
  "*.scss": "stylelint --fix"
}

test: fix tests
  libs/kosaml/store/feature/src/index.ts
Due: eslint --fix, prettier --write

chore: revert duplicating addNecessaryIcons
  .eslintrc.json
  apps/finances/src/app/app.component.ts
Due: eslint --fix, prettier --write

feat: introduce account page
  .eslintrc.json
  libs/finances/account/account/.eslintrc.json
  libs/finances/account/account/README.md
  libs/finances/account/account/jest.config.ts
  libs/finances/account/account/project.json
  libs/finances/account/account/src/index.ts
  libs/finances/account/account/src/lib/integration/account-container.component.ts
  libs/finances/account/account/src/test-setup.ts
  libs/finances/account/account/tsconfig.json
  libs/finances/account/account/tsconfig.lib.json
  libs/finances/account/account/tsconfig.spec.json
  libs/finances/bank/add-bank/src/lib/integration/add-bank.service.ts
  libs/finances/bank/data-access/.eslintrc.json
  libs/finances/bank/data-access/README.md
  libs/finances/bank/data-access/jest.config.ts
  libs/finances/bank/data-access/project.json
  libs/finances/bank/data-access/src/index.ts
  libs/finances/bank/data-access/src/lib/bank.service.ts
  libs/finances/bank/data-access/src/test-setup.ts
  libs/finances/bank/data-access/tsconfig.json
  libs/finances/bank/data-access/tsconfig.lib.json
  libs/finances/bank/data-access/tsconfig.spec.json
  libs/finances/dashboard/dashboard/src/lib/components/bank/bank.component.ts
  libs/finances/dashboard/dashboard/src/lib/components/dashboard/dashboard.component.ts
  libs/finances/dashboard/dashboard/src/lib/integration/dashboard.service.ts
  libs/finances/dashboard/data-access/project.json
  libs/finances/dashboard/data-access/src/index.ts
  libs/finances/dashboard/data-access/src/lib/dashboard.store.ts
  libs/finances/firestore/src/lib/firestore/finances-firestore.service.ts
  libs/finances/firestore/src/lib/firestore/model/bank.ts
  libs/finances/pages/pages/src/lib/pages.ts
  libs/finances/shell/src/lib/routes.ts
  libs/finances/store/src/lib/accounts/reducer.ts
  libs/finances/store/src/lib/banks/effects.ts
  libs/finances/store/src/lib/banks/reducer.ts
  libs/finances/store/src/lib/banks/selectors.ts
  libs/finances/store/src/lib/indexed-db/IndexedDbService.ts
  tsconfig.base.json
Due: eslint --fix, prettier --write

test: fix tests
  libs/finances/bank/add-bank/src/lib/component/add-bank.component.spec.ts
  libs/finances/payment/add-payment/jest.config.ts
  libs/finances/payment/add-payment/src/lib/components/add-payment/add-payment.component.spec.ts
Due: eslint --fix, prettier --write

chore: cleanup
  libs/common/data-access-utils/package.json
Due: prettier --write

feat: load payments to redux store and idb
  libs/finances/firestore/src/lib/firestore/finances-firestore.service.ts
  libs/finances/firestore/src/lib/firestore/model/payment.ts
  libs/finances/firestore/src/lib/firestore/utils/firebase-debounce-filter-and-log.ts
  libs/finances/store/src/index.ts
  libs/finances/store/src/lib/accounts/actions.ts
  libs/finances/store/src/lib/accounts/adapter.ts
  libs/finances/store/src/lib/accounts/effects.ts
  libs/finances/store/src/lib/accounts/selectors.ts
  libs/finances/store/src/lib/banks/actions.ts
  libs/finances/store/src/lib/banks/adapter.ts
  libs/finances/store/src/lib/banks/selectors.ts
  libs/finances/store/src/lib/payments/actions.ts
  libs/finances/store/src/lib/payments/adapter.ts
  libs/finances/store/src/lib/payments/effects.ts
  libs/finances/store/src/lib/payments/index.ts
  libs/finances/store/src/lib/payments/key.ts
  libs/finances/store/src/lib/payments/reducer.ts
  libs/finances/store/src/lib/payments/selectors.ts
  libs/finances/store/src/lib/provide-finances-store.ts
  libs/finances/store/src/lib/utils/indexed-db/IndexedDbService.ts
  libs/finances/store/src/lib/utils/model/account.ts
  libs/finances/store/src/lib/utils/model/bank.ts
  libs/finances/store/src/lib/utils/model/payment.ts
Due: eslint --fix, prettier --write

refactor: improve logs
  libs/finances/firestore/src/lib/firestore/finances-firestore.service.ts
  libs/finances/firestore/src/lib/firestore/utils/firebase-debounce-filter-and-log.ts
Due: eslint --fix, prettier --write

feat: calculate balance of account via payments
  libs/finances/account/account/src/lib/component/account.component.html
  libs/finances/account/account/src/lib/component/account.component.ts
  libs/finances/account/account/src/lib/integration/account-container.component.ts
  libs/finances/account/account/src/lib/integration/account.service.ts
  libs/finances/account/data-access/src/index.ts
  libs/finances/account/data-access/src/lib/account.store.ts
  libs/finances/dashboard/dashboard/src/lib/components/bank/bank.component.html
  libs/finances/dashboard/dashboard/src/lib/components/bank/bank.component.ts
  libs/finances/dashboard/dashboard/src/lib/components/dashboard/dashboard.component.html
  libs/finances/dashboard/dashboard/src/lib/components/dashboard/dashboard.component.ts
  libs/finances/dashboard/dashboard/src/lib/integration/dashboard-container.component.ts
  libs/finances/dashboard/dashboard/src/lib/integration/dashboard.service.ts
  libs/finances/dashboard/data-access/src/index.ts
  libs/finances/dashboard/data-access/src/lib/dashboard-data-access.service.ts
  libs/finances/firestore/src/lib/firestore/model/payment.ts
  libs/finances/store/src/index.ts
  libs/finances/store/src/lib/store.service.ts
  libs/finances/store/src/lib/utils/model/account.ts
  libs/finances/store/src/lib/utils/model/payment.ts
Due: eslint --fix, prettier --write

feat: calculate balance for acount
  libs/finances/firestore/src/lib/firestore/model/payment.ts
  libs/finances/store/src/lib/accounts/selectors.ts
  libs/finances/store/src/lib/banks/selectors.ts
  libs/finances/store/src/lib/utils/model/payment.ts
Due: eslint --fix, prettier --write

feat: enable back button
  libs/finances/account/account/src/lib/component/account.component.html
  libs/finances/bank/add-bank/src/lib/component/add-bank.component.html
  libs/finances/payment/add-payment/src/lib/components/add-payment/add-payment.component.html
  libs/finances/payment/add-payment/src/lib/integration/add-payment-container.component.ts
Due: eslint --fix, prettier --write

test: extend test suite
  libs/finances/payment/payment/src/lib/components/payment/payment.component.spec.ts
Due: eslint --fix, prettier --write

feat: payment with date field
  libs/common/ui/page/src/lib/page.component.ts
  libs/finances/firestore/src/lib/firestore/model/payment.ts
  libs/finances/payment/payment/src/lib/api/payment.ts
  libs/finances/payment/payment/src/lib/components/payment/payment.component.html
  libs/finances/payment/payment/src/lib/components/payment/payment.component.ts
  libs/finances/payment/payment/src/lib/components/payment/utils/to-date-string.ts
  libs/finances/payment/payment/src/lib/components/payment/utils/to-date.ts
  libs/finances/store/src/lib/utils/model/payment.ts
Due: eslint --fix, prettier --write

test: add tests
  libs/finances/payment/payment/src/lib/components/payment/utils/__specs__/to-date-string.spec.ts
  libs/finances/payment/payment/src/lib/components/payment/utils/__specs__/to-date.spec.ts
Due: eslint --fix, prettier --write

test: adjust tests
  libs/finances/payment/payment/src/lib/components/payment/utils/__specs__/to-date-string.spec.ts
  libs/finances/payment/payment/src/lib/components/payment/utils/to-date-string.ts
  libs/finances/payment/payment/src/lib/components/payment/utils/to-date.ts
Due: eslint --fix, prettier --write

test: fix tests
  libs/finances/payment/payment/src/lib/components/payment/payment.component.spec.ts
Due: eslint --fix, prettier --write

ci: introduce 1 test action
  .github/workflows/pipeline.yml
Due: none

test: mock date
  libs/finances/payment/payment/src/lib/components/payment/payment.component.spec.ts
Due: eslint --fix, prettier --write

test: restore original date impl
  libs/finances/payment/payment/src/lib/components/payment/payment.component.spec.ts
Due: eslint --fix, prettier --write

ci: setup ci for finances
  .github/workflows/pipeline.yml
Due: none

ci: remove build-storybook and loki for finances; add build
  .github/workflows/pipeline.yml
Due: none

chore: cleanup
  apps/cv/src/app/app.component.ts
Due: eslint --fix, prettier --write

chore: introduce type:feature -> type:ui, type:store and type:data-access
  .eslintrc.json
  libs/common/ui/card/project.json
  libs/common/ui/chart/.eslintrc.json
  libs/common/ui/chart/README.md
  libs/common/ui/chart/jest.config.ts
  libs/common/ui/chart/project.json
  libs/common/ui/chart/src/index.ts
  libs/common/ui/chart/src/lib/chart/chart.component.scss
  libs/common/ui/chart/src/lib/chart/chart.component.spec.ts
  libs/common/ui/chart/src/lib/chart/chart.component.ts
  libs/common/ui/chart/src/test-setup.ts
  libs/common/ui/chart/tsconfig.json
  libs/common/ui/chart/tsconfig.lib.json
  libs/common/ui/chart/tsconfig.spec.json
  libs/common/ui/page/project.json
  libs/finances/account/account/src/lib/component/account.component.html
  libs/finances/account/account/src/lib/component/account.component.ts
  libs/finances/account/data-access/project.json
  libs/finances/store/project.json
  libs/finances/ui/add-popover-menu/project.json
  package-lock.json
  package.json
  tsconfig.base.json
Due: eslint --fix, prettier --write, stylelint --fix

test: fix test with d3
  libs/common/ui/chart/jest.config.ts
  libs/common/ui/chart/src/lib/chart/chart.component.spec.ts
Due: eslint --fix, prettier --write

test: extend test suite
  libs/common/ui/chart/src/lib/chart/chart.component.spec.ts
Due: eslint --fix, prettier --write

refactor: refactor for better understanding
  libs/common/ui/chart/src/lib/chart/api/chart-data.ts
  libs/common/ui/chart/src/lib/chart/chart.component.ts
  libs/common/ui/chart/src/lib/chart/utils/with-padded-data.ts
Due: eslint --fix, prettier --write

feat: integrate chart on dashboard
  libs/finances/dashboard/dashboard/project.json
  libs/finances/dashboard/dashboard/src/lib/components/dashboard/dashboard.component.html
  libs/finances/dashboard/dashboard/src/lib/components/dashboard/dashboard.component.ts
  libs/finances/dashboard/data-access/project.json
Due: eslint --fix, prettier --write

chore: adjust scopes
  .eslintrc.json
  libs/common/localization/project.json
  libs/common/ui/page/project.json
  libs/utils-common/project.json
Due: prettier --write

chore: fix linting
  .eslintrc.json
  libs/common/ui/card/project.json
  libs/finances/firestore/project.json
  libs/finances/store/project.json
  libs/kosaml/card/feature/project.json
  libs/kosaml/model/feature/project.json
  libs/kosaml/page/feature/project.json
  libs/kosaml/store/feature/project.json
Due: prettier --write

chore: adjust tags
  apps/cv/project.json
  apps/finances-e2e/project.json
  apps/finances-ios/project.json
  apps/finances/project.json
  apps/kosaml-e2e/project.json
  apps/kosaml/project.json
  apps/prices-e2e/project.json
  apps/prices-ios/project.json
  apps/prices/project.json
  libs/common/data-access-utils/project.json
  libs/common/networkstatus/feature/project.json
  libs/common/ta-firestore/project.json
  libs/finances/account/data-access/project.json
  libs/finances/bank/add-bank/project.json
  libs/finances/bank/data-access/project.json
  libs/finances/dashboard/data-access/project.json
  libs/finances/pages/pages/project.json
  libs/finances/payment/data-access/project.json
  libs/finances/shell/project.json
  libs/finances/ui/add-popover-menu/project.json
  libs/kosaml/auth/feature/project.json
  libs/kosaml/conceptual-design/base/scenario/feature/project.json
  libs/kosaml/conceptual-design/base/use-case/feature/project.json
  libs/kosaml/conceptual-design/concrete-use-case/feature/project.json
  libs/kosaml/conceptual-design/essential-use-case/feature/project.json
  libs/kosaml/conceptual-design/task-object/feature/project.json
  libs/kosaml/conceptual-design/task-scenario/feature/project.json
  libs/kosaml/conceptual-design/use-scenario/feature/project.json
  libs/kosaml/shell/feature/project.json
  libs/kosaml/site/feature/project.json
  libs/prices/add-item/feature/project.json
  libs/prices/auth/feature/project.json
  libs/prices/firestore/feature/project.json
  libs/prices/geoapify/feature/project.json
  libs/prices/home/feature/project.json
  libs/prices/password-validator/feature/project.json
  libs/prices/registration/feature/project.json
  libs/prices/shell/feature/project.json
  libs/prices/store/feature/project.json
Due: prettier --write

chore: fix linting errors after modifying tags
  .eslintrc.json
  apps/finances/src/app/app.component.ts
  apps/kosaml/src/app/__specs__/app.component.spec.ts
  apps/kosaml/src/app/app.component.ts
  apps/kosaml/src/main.ts
  apps/prices/src/app/app.component.ts
  apps/prices/src/environments/environment.prod.ts
  apps/prices/src/environments/environment.ts
  apps/prices/src/main.ts
  libs/finances/payment/payment/project.json
  libs/finances/shell/src/index.ts
  libs/finances/shell/src/lib/app.config.ts
  libs/kosaml/conceptual-design/base/scenario/feature/project.json
  libs/kosaml/conceptual-design/base/use-case/feature/project.json
  libs/kosaml/shell/feature/src/index.ts
  libs/kosaml/shell/feature/src/lib/app.config.ts
  libs/prices/shell/feature/src/index.ts
  libs/prices/shell/feature/src/lib/app.config.ts
  libs/prices/shell/feature/tsconfig.lib.json
Due: eslint --fix, prettier --write

chore: cleanup wrong tags
  .eslintrc.json
  apps/kosaml/project.json
  apps/prices/src/main.ts
  libs/prices/shell/feature/src/index.ts
Due: eslint --fix, prettier --write

refactor: move login library
  libs/common/ui/login/.eslintrc.json
  libs/common/ui/login/.stylelintrc.json
  libs/common/ui/login/README.md
  libs/common/ui/login/jest.config.ts
  libs/common/ui/login/project.json
  libs/common/ui/login/src/index.ts
  libs/common/ui/login/src/lib/__specs__/auth-container.component.spec.ts
  libs/common/ui/login/src/lib/__specs__/auth.component.spec.ts
  libs/common/ui/login/src/lib/__specs__/auth.component.stories.ts
  libs/common/ui/login/src/lib/__specs__/auth.service.spec.ts
  libs/common/ui/login/src/lib/api/auth-credential-fields.ts
  libs/common/ui/login/src/lib/api/auth-credentials.model.ts
  libs/common/ui/login/src/lib/components/login.component.html
  libs/common/ui/login/src/lib/components/login.component.scss
  libs/common/ui/login/src/lib/components/login.component.ts
  libs/common/ui/login/src/lib/integration/auth-container.component.ts
  libs/common/ui/login/src/lib/integration/auth.service.ts
  libs/common/ui/login/src/lib/routes.ts
  libs/common/ui/login/src/test-setup.ts
  libs/common/ui/login/tsconfig.json
  libs/common/ui/login/tsconfig.lib.json
  libs/common/ui/login/tsconfig.spec.json
  libs/prices/shell/feature/src/lib/routes.ts
  tsconfig.base.json
Due: eslint --fix, prettier --write, stylelint --fix
