Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

feat(bite-tribe): publish a restaurant's menu behind a QR code (#370)
  apps/bite-tribe-android/android/app/src/main/AndroidManifest.xml
  apps/bite-tribe-business/src/assets/i18n/en.json
  apps/bite-tribe-firebase/functions/src/functions/menus/__specs__/load-public-menu.emulator-spec.ts
  apps/bite-tribe-firebase/functions/src/functions/menus/load-public-menu.ts
  apps/bite-tribe/src/app/app.component.ts
  apps/bite-tribe/src/apple-app-site-association
  libs/bite-tribe-business/floor-plan/ui/src/lib/__specs__/table-qr-code.component.spec.ts
  libs/bite-tribe-business/floor-plan/ui/src/lib/__specs__/table-qr-code.spec.ts
  libs/bite-tribe-business/floor-plan/ui/src/lib/table-qr-code.component.ts
  libs/bite-tribe-business/floor-plan/ui/src/lib/table-qr-code.ts
  libs/bite-tribe-business/restaurant/page/src/lib/components/menu-qr/__specs__/menu-qr.component.spec.ts
  libs/bite-tribe-business/restaurant/page/src/lib/components/menu-qr/__specs__/menu-qr.component.stories.ts
  libs/bite-tribe-business/restaurant/page/src/lib/components/menu-qr/menu-qr.component.html
  libs/bite-tribe-business/restaurant/page/src/lib/components/menu-qr/menu-qr.component.scss
  libs/bite-tribe-business/restaurant/page/src/lib/components/menu-qr/menu-qr.component.ts
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/edit-restaurant.component.html
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/edit-restaurant.component.scss
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/edit-restaurant.component.ts
  libs/bite-tribe/menu/page/src/lib/public/public-menu.component.html
  libs/bite-tribe/menu/page/src/lib/public/public-menu.component.ts
  libs/bite-tribe/shell/src/lib/routes.ts
  libs/bite-tribe/store/src/index.ts
  libs/bite-tribe/store/src/lib/utils/__specs__/restaurant-menu.guard.spec.ts
  libs/bite-tribe/store/src/lib/utils/restaurant-menu.guard.ts
  libs/common/ui/qr-code/README.md
  libs/common/ui/qr-code/eslint.config.mjs
  libs/common/ui/qr-code/jest.config.ts
  libs/common/ui/qr-code/project.json
  libs/common/ui/qr-code/src/index.ts
  libs/common/ui/qr-code/src/lib/__specs__/qr-code.component.spec.ts
  libs/common/ui/qr-code/src/lib/__specs__/qr-code.spec.ts
  libs/common/ui/qr-code/src/lib/qr-code.component.ts
  libs/common/ui/qr-code/src/lib/qr-code.ts
  libs/common/ui/qr-code/src/test-setup.ts
  libs/common/ui/qr-code/tsconfig.json
  libs/common/ui/qr-code/tsconfig.lib.json
  libs/common/ui/qr-code/tsconfig.spec.json
  tsconfig.base.json
Due: eslint --fix, prettier --write, stylelint --fix

test(bite-tribe-business): capture the menu QR code references (#370)
  .loki/reference/chrome_laptop_Business_Edit_Restaurant_Default.png
  .loki/reference/chrome_laptop_Business_Edit_Restaurant_Empty.png
  .loki/reference/chrome_laptop_Business_Edit_Restaurant_With_Menu_Only.png
  .loki/reference/chrome_laptop_Business_Menu_QR_Code_No_Menu_Yet.png
  .loki/reference/chrome_laptop_Business_Menu_QR_Code_Published.png
  .loki/reference/chrome_laptop_Business_Menu_QR_Code_Without_Name.png
Due: none

docs: record the published menu and its printed code (#370)
  ssot/architecture/auth.md
  ssot/current-state/known-issues.md
  ssot/decisions/recorded-decisions.md
  ssot/implementation/firebase-functions.md
  ssot/implementation/libraries.md
  ssot/use-cases/uc-maintain-restaurants-in-the-business-app.md
  ssot/use-cases/uc-order-at-the-table-through-a-qr-code.md
  ssot/use-cases/uc-view-restaurant-menus.md
Due: prettier --write

docs: record the published menu and its printed code (#370) (#1655)
  ssot/architecture/auth.md
  ssot/current-state/known-issues.md
  ssot/decisions/recorded-decisions.md
  ssot/implementation/firebase-functions.md
  ssot/implementation/libraries.md
  ssot/use-cases/uc-maintain-restaurants-in-the-business-app.md
  ssot/use-cases/uc-order-at-the-table-through-a-qr-code.md
  ssot/use-cases/uc-view-restaurant-menus.md
Due: prettier --write

fix(functions): resolve a menu-only scan when nothing is orderable (#1597)
  apps/bite-tribe-firebase/functions/src/functions/restaurants/__specs__/resolve-table-qr-token.emulator-spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/resolve-table-qr-token.ts
  libs/bite-tribe-common/model/src/lib/table-ordering.ts
  ssot/current-state/open-questions.md
  ssot/decisions/recorded-decisions.md
  ssot/implementation/firebase-functions.md
  ssot/use-cases/uc-order-at-the-table-through-a-qr-code.md
Due: eslint --fix, prettier --write

docs: correct three pages the table-scan contract had left behind (#1597)
  ssot/domain/restaurant.md
  ssot/domain/table.md
  ssot/implementation/firebase-functions.md
Due: prettier --write

docs: a table guest is only anonymous when they arrive signed out (#1597)
  ssot/decisions/recorded-decisions.md
  ssot/product/user-roles.md
  ssot/use-cases/uc-order-at-the-table-through-a-qr-code.md
Due: prettier --write

docs: park the table journey in an isolated journeys folder
  ssot/journeys/README.md
  ssot/journeys/j-table-to-bite.md
Due: prettier --write

docs: split the journey's sequence into surface and callable, with loki refs
  ssot/journeys/j-table-to-bite.md
Due: prettier --write

test(bite-tribe): photograph the ordering screen's states (#1660)
  .loki/reference/chrome_iphone7_Pages_Table_Order_Blocked_Menu_Currency_Missing.png
  .loki/reference/chrome_iphone7_Pages_Table_Order_Blocked_Menu_Empty.png
  .loki/reference/chrome_iphone7_Pages_Table_Order_Blocked_Menu_Unavailable.png
  .loki/reference/chrome_iphone7_Pages_Table_Order_Blocked_Ordering_Disabled.png
  .loki/reference/chrome_iphone7_Pages_Table_Order_Blocked_Ordering_Paused.png
  .loki/reference/chrome_iphone7_Pages_Table_Order_Blocked_Restaurant_Closed.png
  .loki/reference/chrome_iphone7_Pages_Table_Order_Blocked_Token_Superseded.png
  .loki/reference/chrome_iphone7_Pages_Table_Order_Cart_With_Lines.png
  .loki/reference/chrome_iphone7_Pages_Table_Order_Failed_Offline.png
  .loki/reference/chrome_iphone7_Pages_Table_Order_Failed_Rate_Limited.png
  .loki/reference/chrome_iphone7_Pages_Table_Order_Loading.png
  .loki/reference/chrome_iphone7_Pages_Table_Order_Ordering.png
  .loki/reference/chrome_laptop_Pages_Table_Order_Blocked_Menu_Currency_Missing.png
  .loki/reference/chrome_laptop_Pages_Table_Order_Blocked_Menu_Empty.png
  .loki/reference/chrome_laptop_Pages_Table_Order_Blocked_Menu_Unavailable.png
  .loki/reference/chrome_laptop_Pages_Table_Order_Blocked_Ordering_Disabled.png
  .loki/reference/chrome_laptop_Pages_Table_Order_Blocked_Ordering_Paused.png
  .loki/reference/chrome_laptop_Pages_Table_Order_Blocked_Restaurant_Closed.png
  .loki/reference/chrome_laptop_Pages_Table_Order_Blocked_Token_Superseded.png
  .loki/reference/chrome_laptop_Pages_Table_Order_Cart_With_Lines.png
  .loki/reference/chrome_laptop_Pages_Table_Order_Failed_Offline.png
  .loki/reference/chrome_laptop_Pages_Table_Order_Failed_Rate_Limited.png
  .loki/reference/chrome_laptop_Pages_Table_Order_Loading.png
  .loki/reference/chrome_laptop_Pages_Table_Order_Ordering.png
  libs/bite-tribe/menu/page/src/lib/order/__specs__/table-order.stories.ts
Due: eslint --fix, prettier --write

test(bite-tribe): photograph a sent order and a send that never came back (#1660)
  .loki/reference/chrome_iphone7_Pages_Table_Order_Placed.png
  .loki/reference/chrome_iphone7_Pages_Table_Order_Placed_Replayed.png
  .loki/reference/chrome_iphone7_Pages_Table_Order_Refused_Beside_Cart.png
  .loki/reference/chrome_iphone7_Pages_Table_Order_Submission_Unresolved.png
  .loki/reference/chrome_laptop_Pages_Table_Order_Placed.png
  .loki/reference/chrome_laptop_Pages_Table_Order_Placed_Replayed.png
  .loki/reference/chrome_laptop_Pages_Table_Order_Refused_Beside_Cart.png
  .loki/reference/chrome_laptop_Pages_Table_Order_Submission_Unresolved.png
  libs/bite-tribe/menu/page/src/lib/order/__specs__/table-order.stories.ts
Due: eslint --fix, prettier --write

docs: point the journey's guest lane at its new reference images
  ssot/journeys/j-table-to-bite.md
Due: prettier --write

fix(functions): a menu-only scan must not dead-end when nothing is orderable (#1597) (#1656)
  apps/bite-tribe-firebase/functions/src/functions/restaurants/__specs__/resolve-table-qr-token.emulator-spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/resolve-table-qr-token.ts
  libs/bite-tribe-common/model/src/lib/table-ordering.ts
  ssot/current-state/open-questions.md
  ssot/decisions/recorded-decisions.md
  ssot/domain/restaurant.md
  ssot/domain/table.md
  ssot/implementation/firebase-functions.md
  ssot/product/user-roles.md
  ssot/use-cases/uc-order-at-the-table-through-a-qr-code.md
Due: eslint --fix, prettier --write

test(bite-tribe): visual references for orderable menu extras (#1598)
  .loki/reference/chrome_iphone7_Components_Menu_Extras_On_The_Menu.png
  .loki/reference/chrome_iphone7_Components_Menu_Ordering_With_Extras.png
  .loki/reference/chrome_laptop_Business_Edit_Menu_Category_Without_Extras.png
  .loki/reference/chrome_laptop_Business_Edit_Menu_Default.png
  .loki/reference/chrome_laptop_Components_Menu_Extras_On_The_Menu.png
  .loki/reference/chrome_laptop_Components_Menu_Ordering_With_Extras.png
Due: none

docs: make Loki references part of implementing a frontend change
  ssot/overview/feature-delivery-workflow.md
Due: prettier --write

docs: the rules and the indexes deploy from CI, on sixteen pages that said otherwise
  ssot/architecture/auth.md
  ssot/current-state/known-issues.md
  ssot/decisions/recorded-decisions.md
  ssot/domain/floor-plan.md
  ssot/domain/restaurant.md
  ssot/domain/table-visit.md
  ssot/domain/table.md
  ssot/overview/traceability-map.md
  ssot/product/monetization.md
  ssot/product/user-roles.md
  ssot/use-cases/uc-configure-restaurant-floor-plans-and-tables.md
  ssot/use-cases/uc-detect-restaurant-candidate.md
  ssot/use-cases/uc-operate-bitetribe-in-the-admin-app.md
  ssot/use-cases/uc-order-at-the-table-through-a-qr-code.md
  ssot/use-cases/uc-own-and-claim-restaurants.md
  ssot/use-cases/uc-verify-restaurant-candidate.md
Due: prettier --write

docs: Loki references in the delivery workflow, and the rules-deploy sweep (#1663)
  ssot/architecture/auth.md
  ssot/current-state/known-issues.md
  ssot/decisions/recorded-decisions.md
  ssot/domain/floor-plan.md
  ssot/domain/restaurant.md
  ssot/domain/table-visit.md
  ssot/domain/table.md
  ssot/overview/feature-delivery-workflow.md
  ssot/overview/traceability-map.md
  ssot/product/monetization.md
  ssot/product/user-roles.md
  ssot/use-cases/uc-configure-restaurant-floor-plans-and-tables.md
  ssot/use-cases/uc-detect-restaurant-candidate.md
  ssot/use-cases/uc-operate-bitetribe-in-the-admin-app.md
  ssot/use-cases/uc-order-at-the-table-through-a-qr-code.md
  ssot/use-cases/uc-own-and-claim-restaurants.md
  ssot/use-cases/uc-verify-restaurant-candidate.md
Due: prettier --write

docs: a change that makes an SSOT fact untrue owes the caveat sweep
  AGENTS.md
  ssot/overview/agent-operating-contract.md
Due: prettier --write

docs: a change that makes an SSOT fact untrue owes the caveat sweep (#1664)
  AGENTS.md
  ssot/overview/agent-operating-contract.md
Due: prettier --write

docs: publish the Instagram profile post (#913)
  ssot/assets/social/profile-post.png
  ssot/implementation/social-media-channels.md
Due: prettier --write

security(bite-tribe-firebase): bound what an anonymous table guest can reach (#1565)
  apps/bite-tribe-firebase/firestore.rules
  apps/bite-tribe-firebase/functions/src/__specs__/callable-authorization.spec.ts
  apps/bite-tribe-firebase/functions/src/firestore-rules/__specs__/firestore-rules.emulator-spec.ts
  apps/bite-tribe-firebase/functions/src/functions/bites/load-bites-by-location.ts
  apps/bite-tribe-firebase/functions/src/functions/bites/load-weekly-bites.ts
  apps/bite-tribe-firebase/functions/src/functions/bites/search-bites-by-city.ts
  apps/bite-tribe-firebase/functions/src/functions/bites/search-bites-by-country.ts
  apps/bite-tribe-firebase/functions/src/functions/bites/search-bites.ts
  apps/bite-tribe-firebase/functions/src/functions/leaderboard/load-leaderboard.ts
  apps/bite-tribe-firebase/functions/src/functions/location/get-currency-by-position.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/get-place-details.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/search-places.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/search-restaurants.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/start-table-session.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/__specs__/roles.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/roles.ts
  apps/bite-tribe-firebase/functions/src/functions/users/check-display-name-availability.ts
  apps/bite-tribe-firebase/functions/src/functions/users/claim-display-name.ts
  apps/bite-tribe-firebase/functions/src/functions/users/delete-own-account.ts
  apps/bite-tribe-firebase/functions/src/functions/users/resend-email-verification.ts
  apps/bite-tribe-firebase/functions/src/functions/users/search-users.ts
  apps/bite-tribe-firebase/functions/src/functions/users/sync-email-verification-status.ts
  apps/bite-tribe-firebase/functions/src/functions/users/update-last-seen.ts
  apps/bite-tribe-firebase/functions/src/functions/users/update-user-metadata.ts
  ssot/current-state/open-questions.md
  ssot/decisions/recorded-decisions.md
  ssot/product/user-roles.md
Due: eslint --fix, prettier --write

security(bite-tribe-firebase): bound what an anonymous table guest can reach (#1565) (#1666)
  apps/bite-tribe-firebase/firestore.rules
  apps/bite-tribe-firebase/functions/src/__specs__/callable-authorization.spec.ts
  apps/bite-tribe-firebase/functions/src/firestore-rules/__specs__/firestore-rules.emulator-spec.ts
  apps/bite-tribe-firebase/functions/src/functions/bites/load-bites-by-location.ts
  apps/bite-tribe-firebase/functions/src/functions/bites/load-weekly-bites.ts
  apps/bite-tribe-firebase/functions/src/functions/bites/search-bites-by-city.ts
  apps/bite-tribe-firebase/functions/src/functions/bites/search-bites-by-country.ts
  apps/bite-tribe-firebase/functions/src/functions/bites/search-bites.ts
  apps/bite-tribe-firebase/functions/src/functions/leaderboard/load-leaderboard.ts
  apps/bite-tribe-firebase/functions/src/functions/location/get-currency-by-position.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/get-place-details.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/search-places.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/search-restaurants.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/start-table-session.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/__specs__/roles.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/roles.ts
  apps/bite-tribe-firebase/functions/src/functions/users/check-display-name-availability.ts
  apps/bite-tribe-firebase/functions/src/functions/users/claim-display-name.ts
  apps/bite-tribe-firebase/functions/src/functions/users/delete-own-account.ts
  apps/bite-tribe-firebase/functions/src/functions/users/resend-email-verification.ts
  apps/bite-tribe-firebase/functions/src/functions/users/search-users.ts
  apps/bite-tribe-firebase/functions/src/functions/users/sync-email-verification-status.ts
  apps/bite-tribe-firebase/functions/src/functions/users/update-last-seen.ts
  apps/bite-tribe-firebase/functions/src/functions/users/update-user-metadata.ts
  ssot/current-state/open-questions.md
  ssot/decisions/recorded-decisions.md
  ssot/product/user-roles.md
Due: eslint --fix, prettier --write

feat(bite-tribe): upgrade a table guest's anonymous account in place (#1657)
  apps/bite-tribe-e2e/src/support/firestore.ts
  apps/bite-tribe-e2e/src/support/table-order-fixture.ts
  apps/bite-tribe-e2e/src/tests/table-guest-registers.spec.ts
  apps/bite-tribe-e2e/src/tests/table-order-flaky-network.spec.ts
  apps/bite-tribe-firebase/functions/src/__specs__/callable-authorization.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/users/__specs__/upgrade-guest-account.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/users/create-user-on-auth-create.ts
  apps/bite-tribe-firebase/functions/src/functions/users/new-user-profile.ts
  apps/bite-tribe-firebase/functions/src/functions/users/upgrade-guest-account.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/common/ta-firestore/src/lib/__specs__/auth.service.spec.ts
  libs/common/ta-firestore/src/lib/auth.service.ts
  libs/common/ui/auth/src/lib/integration/registration/__specs__/registration.service.spec.ts
  libs/common/ui/auth/src/lib/integration/registration/registration.service.ts
  ssot/architecture/auth.md
  ssot/decisions/recorded-decisions.md
  ssot/product/user-roles.md
  ssot/use-cases/uc-order-at-the-table-through-a-qr-code.md
Due: eslint --fix, prettier --write

docs: define the issue reference the auth page uses (#1657)
  ssot/architecture/auth.md
Due: prettier --write

test(bite-tribe-e2e): a fixture token that does not read as a credential (#1657)
  apps/bite-tribe-e2e/src/support/table-order-fixture.ts
Due: eslint --fix, prettier --write

test(bite-tribe-e2e): take the seeded password from its constant (#1657)
  apps/bite-tribe-e2e/src/tests/table-guest-registers.spec.ts
Due: eslint --fix, prettier --write

feat(bite-tribe): upgrade a table guest's anonymous account in place (#1657) (#1667)
  apps/bite-tribe-e2e/src/support/firestore.ts
  apps/bite-tribe-e2e/src/support/table-order-fixture.ts
  apps/bite-tribe-e2e/src/tests/table-guest-registers.spec.ts
  apps/bite-tribe-e2e/src/tests/table-order-flaky-network.spec.ts
  apps/bite-tribe-firebase/functions/src/__specs__/callable-authorization.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/users/__specs__/upgrade-guest-account.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/users/create-user-on-auth-create.ts
  apps/bite-tribe-firebase/functions/src/functions/users/new-user-profile.ts
  apps/bite-tribe-firebase/functions/src/functions/users/upgrade-guest-account.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/common/ta-firestore/src/lib/__specs__/auth.service.spec.ts
  libs/common/ta-firestore/src/lib/auth.service.ts
  libs/common/ui/auth/src/lib/integration/registration/__specs__/registration.service.spec.ts
  libs/common/ui/auth/src/lib/integration/registration/registration.service.ts
  ssot/architecture/auth.md
  ssot/decisions/recorded-decisions.md
  ssot/product/user-roles.md
  ssot/use-cases/uc-order-at-the-table-through-a-qr-code.md
Due: eslint --fix, prettier --write

feat(bite-tribe-firebase): move a table visit to the account a guest signs into (#1658)
  apps/bite-tribe-e2e/src/support/table-order-fixture.ts
  apps/bite-tribe-e2e/src/tests/table-guest-signs-in.spec.ts
  apps/bite-tribe-firebase/functions/src/__specs__/callable-authorization.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/__specs__/claim-table-visit.emulator-spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/__specs__/table-visit-claim.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/claim-table-visit.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/table-visit-claim.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/shell/src/lib/app.config.ts
  libs/bite-tribe/table-session/data-access/src/lib/__specs__/table-session.service.spec.ts
  libs/bite-tribe/table-session/data-access/src/lib/table-session.service.ts
  libs/common/ta-firestore/src/index.ts
  libs/common/ta-firestore/src/lib/__specs__/auth.service.spec.ts
  libs/common/ta-firestore/src/lib/auth.service.ts
  libs/common/ui/auth/src/lib/integration/registration/__specs__/registration.service.spec.ts
  libs/common/ui/auth/src/lib/integration/registration/registration.service.ts
  ssot/decisions/recorded-decisions.md
  ssot/product/user-roles.md
  ssot/use-cases/uc-order-at-the-table-through-a-qr-code.md
Due: eslint --fix, prettier --write

test(bite-tribe): provide the auth stub the table session stories now need (#1658)
  libs/bite-tribe/table-session/page/src/lib/table-session/__specs__/table-session.stories.ts
Due: eslint --fix, prettier --write

feat(bite-tribe-firebase): move a table visit to the account a guest signs into (#1658) (#1668)
  apps/bite-tribe-e2e/src/support/table-order-fixture.ts
  apps/bite-tribe-e2e/src/tests/table-guest-signs-in.spec.ts
  apps/bite-tribe-firebase/functions/src/__specs__/callable-authorization.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/__specs__/claim-table-visit.emulator-spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/__specs__/table-visit-claim.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/claim-table-visit.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/table-visit-claim.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/shell/src/lib/app.config.ts
  libs/bite-tribe/table-session/data-access/src/lib/__specs__/table-session.service.spec.ts
  libs/bite-tribe/table-session/data-access/src/lib/table-session.service.ts
  libs/bite-tribe/table-session/page/src/lib/table-session/__specs__/table-session.stories.ts
  libs/common/ta-firestore/src/index.ts
  libs/common/ta-firestore/src/lib/__specs__/auth.service.spec.ts
  libs/common/ta-firestore/src/lib/auth.service.ts
  libs/common/ui/auth/src/lib/integration/registration/__specs__/registration.service.spec.ts
  libs/common/ui/auth/src/lib/integration/registration/registration.service.ts
  ssot/decisions/recorded-decisions.md
  ssot/product/user-roles.md
  ssot/use-cases/uc-order-at-the-table-through-a-qr-code.md
Due: eslint --fix, prettier --write

fix(bite-tribe-ios): record the pinned file picker version in the iOS locks
  apps/bite-tribe-ios/ios/App/Podfile.lock
  apps/bite-tribe-ios/package-lock.json
Due: prettier --write

fix(bite-tribe-ios): record the pinned file picker version in the iOS locks (#1670)
  apps/bite-tribe-ios/ios/App/Podfile.lock
  apps/bite-tribe-ios/package-lock.json
Due: prettier --write

fix(bite-tribe): serve the association file where Apple looks for it
  apps/bite-tribe/project.json
  apps/bite-tribe/src/.well-known/apple-app-site-association
  firebase.json
  ssot/implementation/web-search-and-social-metadata.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,html}
  prettier --write: any of: *.{ts,js,html,scss,json,md}
  stylelint --fix: any of: *.scss
