Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,html}": "eslint --fix",
  "*.{ts,js,html,scss,json,md}": "prettier --write",
  "*.scss": "stylelint --fix"
}

feat(938): preps for restaurant candidates (#947)
  .codex/skills/travellers-apps/SKILL.md
  apps/bite-tribe-firebase/functions/jest.config.cjs
  apps/bite-tribe-firebase/functions/package-lock.json
  apps/bite-tribe-firebase/functions/package.json
  apps/bite-tribe-firebase/functions/src/functions/model/restaurant-candidate.ts
  apps/bite-tribe-firebase/functions/src/functions/utils/restaurant-candidates.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/utils/restaurant-candidates.ts
  apps/bite-tribe-firebase/functions/tsconfig.dev.json
  apps/bite-tribe-firebase/functions/tsconfig.json
  eslint.config.mjs
  libs/bite-tribe-common/model/src/index.ts
  libs/bite-tribe-common/model/src/lib/restaurant-candidate.ts
Due: eslint --fix, prettier --write

feat: prepare migration page with eligible bites for restaurant clustering
  apps/bite-tribe-business/src/assets/i18n/en.json
  libs/bite-tribe-business/migrations/data-access/src/lib/__specs__/migrations-data-access.service.spec.ts
  libs/bite-tribe-business/migrations/data-access/src/lib/migrations-data-access.service.ts
  libs/bite-tribe-business/migrations/page/src/lib/component/page/__specs__/migrations.spec.ts
  libs/bite-tribe-business/migrations/page/src/lib/component/page/migrations.html
  libs/bite-tribe-business/migrations/page/src/lib/component/page/migrations.scss
  libs/bite-tribe-business/migrations/page/src/lib/component/page/migrations.ts
  libs/bite-tribe-business/migrations/page/src/lib/integration/migrations-container.ts
  libs/bite-tribe-business/migrations/page/src/lib/integration/migrations.service.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: prepare migration page for restaurant clustering
  libs/bite-tribe-business/migrations/data-access/src/lib/__specs__/migrations-data-access.service.spec.ts
Due: eslint --fix, prettier --write

feat(939): list restaurant cluster candidates from eligible bites (#948)
  apps/bite-tribe-business/src/assets/i18n/en.json
  libs/bite-tribe-business/migrations/data-access/src/lib/__specs__/migrations-data-access.service.spec.ts
  libs/bite-tribe-business/migrations/data-access/src/lib/migrations-data-access.service.ts
  libs/bite-tribe-business/migrations/page/src/lib/component/page/__specs__/migrations.spec.ts
  libs/bite-tribe-business/migrations/page/src/lib/component/page/migrations.html
  libs/bite-tribe-business/migrations/page/src/lib/component/page/migrations.scss
  libs/bite-tribe-business/migrations/page/src/lib/component/page/migrations.ts
  libs/bite-tribe-business/migrations/page/src/lib/integration/migrations-container.ts
  libs/bite-tribe-business/migrations/page/src/lib/integration/migrations.service.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: cluster places from business tool
  apps/bite-tribe-firebase/functions/src/functions/cluster-restaurant-candidate-for-bite.ts
  apps/bite-tribe-firebase/functions/src/functions/utils/restaurant-candidates.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  libs/bite-tribe-business/migrations/data-access/src/lib/__specs__/migrations-data-access.service.spec.ts
  libs/bite-tribe-business/migrations/data-access/src/lib/migrations-data-access.service.ts
  libs/bite-tribe-business/migrations/page/src/lib/component/page/__specs__/migrations.spec.ts
  libs/bite-tribe-business/migrations/page/src/lib/component/page/migrations.html
  libs/bite-tribe-business/migrations/page/src/lib/component/page/migrations.ts
  libs/bite-tribe-business/migrations/page/src/lib/integration/migrations-container.ts
  libs/bite-tribe-business/migrations/page/src/lib/integration/migrations.service.ts
Due: eslint --fix, prettier --write

feat: cluster places from business tool (#949)
  apps/bite-tribe-firebase/functions/src/functions/cluster-restaurant-candidate-for-bite.ts
  apps/bite-tribe-firebase/functions/src/functions/utils/restaurant-candidates.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  libs/bite-tribe-business/migrations/data-access/src/lib/__specs__/migrations-data-access.service.spec.ts
  libs/bite-tribe-business/migrations/data-access/src/lib/migrations-data-access.service.ts
  libs/bite-tribe-business/migrations/page/src/lib/component/page/__specs__/migrations.spec.ts
  libs/bite-tribe-business/migrations/page/src/lib/component/page/migrations.html
  libs/bite-tribe-business/migrations/page/src/lib/component/page/migrations.ts
  libs/bite-tribe-business/migrations/page/src/lib/integration/migrations-container.ts
  libs/bite-tribe-business/migrations/page/src/lib/integration/migrations.service.ts
Due: eslint --fix, prettier --write

ci: merge workflow
  .github/workflows/deploy-bite-tribe-business.yml
  .github/workflows/pipeline.yml
Due: none

ci: merge workflow (#950)
  .github/workflows/deploy-bite-tribe-business.yml
  .github/workflows/pipeline.yml
Due: none

feat: implement
  apps/bite-tribe-business/src/assets/i18n/en.json
  libs/bite-tribe-business/dashboard/data-access/src/lib/__specs__/dashboard-data-access.service.spec.ts
  libs/bite-tribe-business/dashboard/data-access/src/lib/dashboard-data-access.service.ts
  libs/bite-tribe-business/dashboard/page/src/lib/component/page/__specs__/dashboard.component.spec.ts
  libs/bite-tribe-business/dashboard/page/src/lib/component/page/dashboard.component.html
  libs/bite-tribe-business/dashboard/page/src/lib/component/page/dashboard.component.ts
  libs/bite-tribe-business/dashboard/page/src/lib/integration/__specs__/dashboard.service.spec.ts
  libs/bite-tribe-business/dashboard/page/src/lib/integration/dashboard-container.component.ts
  libs/bite-tribe-business/dashboard/page/src/lib/integration/dashboard.service.ts
Due: eslint --fix, prettier --write

test: add tests
  libs/bite-tribe-business/dashboard/data-access/src/lib/__specs__/dashboard-data-access.service.spec.ts
Due: eslint --fix, prettier --write

feat(941): show resto cancidates in dashboard (#951)
  apps/bite-tribe-business/src/assets/i18n/en.json
  libs/bite-tribe-business/dashboard/data-access/src/lib/__specs__/dashboard-data-access.service.spec.ts
  libs/bite-tribe-business/dashboard/data-access/src/lib/dashboard-data-access.service.ts
  libs/bite-tribe-business/dashboard/page/src/lib/component/page/__specs__/dashboard.component.spec.ts
  libs/bite-tribe-business/dashboard/page/src/lib/component/page/dashboard.component.html
  libs/bite-tribe-business/dashboard/page/src/lib/component/page/dashboard.component.ts
  libs/bite-tribe-business/dashboard/page/src/lib/integration/__specs__/dashboard.service.spec.ts
  libs/bite-tribe-business/dashboard/page/src/lib/integration/dashboard-container.component.ts
  libs/bite-tribe-business/dashboard/page/src/lib/integration/dashboard.service.ts
Due: eslint --fix, prettier --write

refactor: enable app check on firebase functions
  apps/bite-tribe-firebase/functions/src/functions/callable-options.ts
  apps/bite-tribe-firebase/functions/src/functions/cluster-restaurant-candidate-for-bite.ts
  apps/bite-tribe-firebase/functions/src/functions/load-bites-by-location.ts
  apps/bite-tribe-firebase/functions/src/functions/load-leaderboard.ts
  apps/bite-tribe-firebase/functions/src/functions/search-bites.ts
  apps/bite-tribe-firebase/functions/src/functions/search-restaurants.ts
  apps/bite-tribe-firebase/functions/src/functions/search-users.ts
  apps/bite-tribe-firebase/functions/src/functions/update-last-seen.ts
  apps/bite-tribe-firebase/functions/src/functions/update-user-metadata.ts
  ssot/pages/Implementation - Firebase Functions.md
Due: eslint --fix, prettier --write

refactor: enable app check on firebase functions (#953)
  apps/bite-tribe-firebase/functions/src/functions/callable-options.ts
  apps/bite-tribe-firebase/functions/src/functions/cluster-restaurant-candidate-for-bite.ts
  apps/bite-tribe-firebase/functions/src/functions/load-bites-by-location.ts
  apps/bite-tribe-firebase/functions/src/functions/load-leaderboard.ts
  apps/bite-tribe-firebase/functions/src/functions/search-bites.ts
  apps/bite-tribe-firebase/functions/src/functions/search-restaurants.ts
  apps/bite-tribe-firebase/functions/src/functions/search-users.ts
  apps/bite-tribe-firebase/functions/src/functions/update-last-seen.ts
  apps/bite-tribe-firebase/functions/src/functions/update-user-metadata.ts
  ssot/pages/Implementation - Firebase Functions.md
Due: eslint --fix, prettier --write

feat: enrich bites with city and country
  apps/bite-tribe-firebase/functions/src/functions/enrich-bite-address-on-create.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/enrich-bite-address-on-create.ts
  apps/bite-tribe-firebase/functions/src/functions/model/bite.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  libs/bite-tribe-common/model/src/lib/bite.ts
  libs/bite-tribe/api/src/lib/bite-api/utils/__specs__/create-bite.spec.ts
  libs/bite-tribe/api/src/lib/bite-api/utils/create-bite.ts
  ssot/pages/Bite.md
  ssot/pages/Implementation - Firebase Functions.md
Due: eslint --fix, prettier --write

refactor: use firebase secret manager
  apps/bite-tribe-firebase/functions/src/functions/enrich-bite-address-on-create.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/enrich-bite-address-on-create.ts
Due: eslint --fix, prettier --write

feat: introduce nx target to deploy secrets to firebase
  apps/bite-tribe-firebase/project.json
  apps/bite-tribe-firebase/scripts/set-geocoding-secret.mjs
  ssot/pages/Implementation - Firebase Functions.md
Due: prettier --write

feat: backfill from business app
  apps/bite-tribe-business/src/assets/i18n/en.json
  apps/bite-tribe-firebase/functions/src/functions/enrich-bite-address-on-create.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/enrich-bite-address-on-create.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  libs/bite-tribe-business/migrations/data-access/src/lib/__specs__/migrations-data-access.service.spec.ts
  libs/bite-tribe-business/migrations/data-access/src/lib/migrations-data-access.service.ts
  libs/bite-tribe-business/migrations/page/src/lib/component/page/__specs__/migrations.spec.ts
  libs/bite-tribe-business/migrations/page/src/lib/component/page/migrations.html
  libs/bite-tribe-business/migrations/page/src/lib/component/page/migrations.ts
  libs/bite-tribe-business/migrations/page/src/lib/integration/migrations-container.ts
  libs/bite-tribe-business/migrations/page/src/lib/integration/migrations.service.ts
  ssot/pages/Bite.md
  ssot/pages/Implementation - Firebase Functions.md
Due: eslint --fix, prettier --write

feat(894): enrich bites with city and country (#955)
  apps/bite-tribe-business/src/assets/i18n/en.json
  apps/bite-tribe-firebase/functions/src/functions/enrich-bite-address-on-create.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/enrich-bite-address-on-create.ts
  apps/bite-tribe-firebase/functions/src/functions/model/bite.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  apps/bite-tribe-firebase/project.json
  apps/bite-tribe-firebase/scripts/set-geocoding-secret.mjs
  libs/bite-tribe-business/migrations/data-access/src/lib/__specs__/migrations-data-access.service.spec.ts
  libs/bite-tribe-business/migrations/data-access/src/lib/migrations-data-access.service.ts
  libs/bite-tribe-business/migrations/page/src/lib/component/page/__specs__/migrations.spec.ts
  libs/bite-tribe-business/migrations/page/src/lib/component/page/migrations.html
  libs/bite-tribe-business/migrations/page/src/lib/component/page/migrations.ts
  libs/bite-tribe-business/migrations/page/src/lib/integration/migrations-container.ts
  libs/bite-tribe-business/migrations/page/src/lib/integration/migrations.service.ts
  libs/bite-tribe-common/model/src/lib/bite.ts
  libs/bite-tribe/api/src/lib/bite-api/utils/__specs__/create-bite.spec.ts
  libs/bite-tribe/api/src/lib/bite-api/utils/create-bite.ts
  ssot/pages/Bite.md
  ssot/pages/Implementation - Firebase Functions.md
Due: eslint --fix, prettier --write

ci: inject app check site key to business app build
  .github/workflows/pipeline.yml
Due: none

ci: fix business app check (#956)
  .github/workflows/pipeline.yml
Due: none

feat: sync firebase and storage rules
  apps/bite-tribe-firebase/firebase.json
  apps/bite-tribe-firebase/firestore.rules
  apps/bite-tribe-firebase/storage.rules
Due: prettier --write

chore: disable app check in local firebase simulator
  apps/bite-tribe-firebase/functions/src/functions/callable-options.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/callable-options.ts
  libs/common/ta-firestore/README.md
  ssot/pages/Implementation - Firebase Functions.md
Due: eslint --fix, prettier --write

refactor: switch bite source for backfill migration
  libs/bite-tribe-business/migrations/data-access/src/lib/__specs__/migrations-data-access.service.spec.ts
  libs/bite-tribe-business/migrations/data-access/src/lib/migrations-data-access.service.ts
  libs/bite-tribe-business/migrations/page/src/lib/component/page/__specs__/migrations.spec.ts
  libs/bite-tribe-business/migrations/page/src/lib/component/page/migrations.ts
  libs/bite-tribe-business/migrations/page/src/lib/integration/migrations-container.ts
  libs/bite-tribe-business/migrations/page/src/lib/integration/migrations.service.ts
Due: eslint --fix, prettier --write

test: add test
  libs/bite-tribe-business/migrations/data-access/src/lib/__specs__/migrations-data-access.service.spec.ts
Due: eslint --fix, prettier --write

chore: minor adjustments (#957)
  apps/bite-tribe-firebase/firebase.json
  apps/bite-tribe-firebase/firestore.rules
  apps/bite-tribe-firebase/functions/src/functions/callable-options.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/callable-options.ts
  apps/bite-tribe-firebase/storage.rules
  libs/bite-tribe-business/migrations/data-access/src/lib/__specs__/migrations-data-access.service.spec.ts
  libs/bite-tribe-business/migrations/data-access/src/lib/migrations-data-access.service.ts
  libs/bite-tribe-business/migrations/page/src/lib/component/page/__specs__/migrations.spec.ts
  libs/bite-tribe-business/migrations/page/src/lib/component/page/migrations.ts
  libs/bite-tribe-business/migrations/page/src/lib/integration/migrations-container.ts
  libs/bite-tribe-business/migrations/page/src/lib/integration/migrations.service.ts
  libs/common/ta-firestore/README.md
  ssot/pages/Implementation - Firebase Functions.md
Due: eslint --fix, prettier --write

feat: show city and country code
  libs/bite-tribe-common/bite/src/lib/__specs__/bite.stories.ts
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe-common/bite/src/lib/bite.component.ts
Due: eslint --fix, prettier --write

feat: bite city and country in details page
  libs/bite-tribe-common/bite/src/lib/bite.component.ts
  libs/bite-tribe-common/bite/src/lib/utils/getLocalizedCityAndCountry.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.stories.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.ts
Due: eslint --fix, prettier --write

fix: add missing export from lib
  libs/bite-tribe-common/bite/src/index.ts
Due: eslint --fix, prettier --write

feat: show city and country (#958)
  libs/bite-tribe-common/bite/src/index.ts
  libs/bite-tribe-common/bite/src/lib/__specs__/bite.stories.ts
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe-common/bite/src/lib/bite.component.ts
  libs/bite-tribe-common/bite/src/lib/utils/getLocalizedCityAndCountry.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.stories.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.ts
Due: eslint --fix, prettier --write

chore: prepare build 1.0.1-81 release
  CHANGELOG.md
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: prettier --write

chore: bump version (#962)
  CHANGELOG.md
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: prettier --write

refactor: extract components from home component
  .gitignore
  libs/bite-tribe/home/page/src/lib/components/page/gps-error-card/__specs__/gps-error-card.component.spec.ts
  libs/bite-tribe/home/page/src/lib/components/page/gps-error-card/gps-error-card.component.html
  libs/bite-tribe/home/page/src/lib/components/page/gps-error-card/gps-error-card.component.ts
  libs/bite-tribe/home/page/src/lib/components/page/home-feed-controls/__specs__/home-feed-controls.component.spec.ts
  libs/bite-tribe/home/page/src/lib/components/page/home-feed-controls/__specs__/home-feed-controls.stories.ts
  libs/bite-tribe/home/page/src/lib/components/page/home-feed-controls/home-feed-controls.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home-feed-controls/home-feed-controls.component.scss
  libs/bite-tribe/home/page/src/lib/components/page/home-feed-controls/home-feed-controls.component.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/home/page/src/lib/components/page/network-error-box/__specs__/network-error-box.component.spec.ts
  libs/bite-tribe/home/page/src/lib/components/page/network-error-box/network-error-box.component.html
  libs/bite-tribe/home/page/src/lib/components/page/network-error-box/network-error-box.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor: bite-list
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/home.component.spec.ts
  libs/bite-tribe/home/page/src/lib/components/page/bite-list/__specs__/bite-list.component.spec.ts
  libs/bite-tribe/home/page/src/lib/components/page/bite-list/__specs__/is-bite-tried-out.pipe.spec.ts
  libs/bite-tribe/home/page/src/lib/components/page/bite-list/bite-list.component.html
  libs/bite-tribe/home/page/src/lib/components/page/bite-list/bite-list.component.ts
  libs/bite-tribe/home/page/src/lib/components/page/bite-list/is-bite-tried-out.pipe.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
Due: eslint --fix, prettier --write

fix: spacing
  libs/bite-tribe/home/page/src/lib/components/page/bite-list/__specs__/bite-list.stories.ts
  libs/bite-tribe/home/page/src/lib/components/page/bite-list/bite-list.component.scss
  libs/bite-tribe/home/page/src/lib/components/page/bite-list/bite-list.component.ts
  libs/bite-tribe/home/page/src/lib/components/page/gps-error-card/__specs__/gps-error-card.stories.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.scss
  libs/bite-tribe/home/page/src/lib/components/page/network-error-box/__specs__/network-error-box.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor: move bite list skeleton to bite list
  libs/bite-tribe/home/page/src/lib/components/page/bite-list/__specs__/bite-list.component.spec.ts
  libs/bite-tribe/home/page/src/lib/components/page/bite-list/__specs__/bite-list.stories.ts
  libs/bite-tribe/home/page/src/lib/components/page/bite-list/bite-list.component.html
  libs/bite-tribe/home/page/src/lib/components/page/bite-list/bite-list.component.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
Due: eslint --fix, prettier --write

refactor: move filter modal
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/home.component.spec.ts
  libs/bite-tribe/home/page/src/lib/components/page/home-feed-controls/__specs__/home-feed-controls.component.spec.ts
  libs/bite-tribe/home/page/src/lib/components/page/home-feed-controls/home-feed-controls.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home-feed-controls/home-feed-controls.component.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
Due: eslint --fix, prettier --write

fix: restaurant page like bug
  libs/bite-tribe/home/data-access/src/lib/__specs__/home-data-access-service.spec.ts
  libs/bite-tribe/home/data-access/src/lib/home-data-access.service.ts
  libs/bite-tribe/home/page/src/lib/components/page/home-feed-controls/home-feed-controls.component.ts
  libs/bite-tribe/store/src/lib/__specs__/bite-tribe-store.service.spec.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
Due: eslint --fix, prettier --write

chore: fix lint error
  libs/bite-tribe-common/bite/src/lib/utils/__specs__/getLocalizedCityAndCountry.spec.ts
  libs/bite-tribe/details/data-access/src/lib/__specs__/details-data-access.service.spec.ts
  libs/bite-tribe/profile/data-access/src/lib/__specs__/profile-data-access.service.spec.ts
Due: eslint --fix, prettier --write

chore: cleanup
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
Due: eslint --fix, prettier --write
