Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,html}": "eslint --fix",
  "*.{ts,js,html,scss,json,md}": "prettier --write",
  "*.scss": "stylelint --fix"
}

fix: stop the profile repeating the display name as a real name (#1282)
  .loki/reference/chrome_iphone7_Pages_Profile_New_User_Empty_Profile.png
  .loki/reference/chrome_iphone7_Pages_Profile_Onboarded_Account_With_Duplicated_Name.png
  .loki/reference/chrome_iphone7_Pages_Profile_Organisation_Without_Bite_Trails.png
  .loki/reference/chrome_laptop_Pages_Profile_New_User_Empty_Profile.png
  .loki/reference/chrome_laptop_Pages_Profile_Onboarded_Account_With_Duplicated_Name.png
  .loki/reference/chrome_laptop_Pages_Profile_Organisation_Without_Bite_Trails.png
  libs/bite-tribe/api/src/lib/__specs__/profile-api.service.spec.ts
  libs/bite-tribe/api/src/lib/profile-api.service.ts
  libs/bite-tribe/onboarding/data-access/src/lib/__specs__/onboarding-data-access.service.spec.ts
  libs/bite-tribe/onboarding/data-access/src/lib/onboarding-data-access.service.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/__specs__/onboarding.service.spec.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/onboarding.service.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/__specs__/profile.component.spec.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/__specs__/profile.stories.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.ts
  ssot/pages/UC - Manage Profile And Social Graph.md
Due: eslint --fix, prettier --write

style: overlapping header fix
  .loki/reference/chrome_iphone7_Components_Currency_Selector_Default.png
  .loki/reference/chrome_iphone7_Components_Currency_Selector_Favorites_Empty.png
  .loki/reference/chrome_iphone7_Components_Currency_Selector_Favorites_Selected.png
  .loki/reference/chrome_iphone7_Components_Currency_Selector_With_Favorites.png
  .loki/reference/chrome_iphone7_Components_Restaurant_Selector_Default.png
  .loki/reference/chrome_iphone7_Components_Restaurant_Selector_Google_Search_Loading.png
  .loki/reference/chrome_iphone7_Components_Restaurant_Selector_Longest_Header_Labels.png
  .loki/reference/chrome_iphone7_Components_Restaurant_Selector_Nearby_Google_Places.png
  .loki/reference/chrome_iphone7_Components_Restaurant_Selector_Nearby_Google_Places_Loading.png
  .loki/reference/chrome_iphone7_Components_Restaurant_Selector_With_Google_Places.png
  .loki/reference/chrome_laptop_Components_Currency_Selector_Default.png
  .loki/reference/chrome_laptop_Components_Currency_Selector_Favorites_Empty.png
  .loki/reference/chrome_laptop_Components_Currency_Selector_Favorites_Selected.png
  .loki/reference/chrome_laptop_Components_Currency_Selector_With_Favorites.png
  .loki/reference/chrome_laptop_Components_Restaurant_Selector_Default.png
  .loki/reference/chrome_laptop_Components_Restaurant_Selector_Google_Search_Loading.png
  .loki/reference/chrome_laptop_Components_Restaurant_Selector_Longest_Header_Labels.png
  .loki/reference/chrome_laptop_Components_Restaurant_Selector_Nearby_Google_Places.png
  .loki/reference/chrome_laptop_Components_Restaurant_Selector_Nearby_Google_Places_Loading.png
  .loki/reference/chrome_laptop_Components_Restaurant_Selector_With_Google_Places.png
  libs/bite-tribe-common/bite/src/lib/local-image-picker/local-image-picker.component.scss
  libs/bite-tribe-common/styles/_globals.scss
  libs/bite-tribe/home/page/src/lib/components/type-ahead/type-ahead.component.scss
  libs/common/ui/currency-selector/src/lib/currency-selector.component.scss
  libs/common/ui/restaurant-selector/src/lib/__specs__/restaurant-selector.component.stories.ts
  libs/common/ui/restaurant-selector/src/lib/restaurant-selector.component.scss
  ssot/pages/Implementation - Ionic Patterns.md
Due: eslint --fix, prettier --write, stylelint --fix

style: overlapping header fix (#1286)
  .loki/reference/chrome_iphone7_Components_Currency_Selector_Default.png
  .loki/reference/chrome_iphone7_Components_Currency_Selector_Favorites_Empty.png
  .loki/reference/chrome_iphone7_Components_Currency_Selector_Favorites_Selected.png
  .loki/reference/chrome_iphone7_Components_Currency_Selector_With_Favorites.png
  .loki/reference/chrome_iphone7_Components_Restaurant_Selector_Default.png
  .loki/reference/chrome_iphone7_Components_Restaurant_Selector_Google_Search_Loading.png
  .loki/reference/chrome_iphone7_Components_Restaurant_Selector_Longest_Header_Labels.png
  .loki/reference/chrome_iphone7_Components_Restaurant_Selector_Nearby_Google_Places.png
  .loki/reference/chrome_iphone7_Components_Restaurant_Selector_Nearby_Google_Places_Loading.png
  .loki/reference/chrome_iphone7_Components_Restaurant_Selector_With_Google_Places.png
  .loki/reference/chrome_laptop_Components_Currency_Selector_Default.png
  .loki/reference/chrome_laptop_Components_Currency_Selector_Favorites_Empty.png
  .loki/reference/chrome_laptop_Components_Currency_Selector_Favorites_Selected.png
  .loki/reference/chrome_laptop_Components_Currency_Selector_With_Favorites.png
  .loki/reference/chrome_laptop_Components_Restaurant_Selector_Default.png
  .loki/reference/chrome_laptop_Components_Restaurant_Selector_Google_Search_Loading.png
  .loki/reference/chrome_laptop_Components_Restaurant_Selector_Longest_Header_Labels.png
  .loki/reference/chrome_laptop_Components_Restaurant_Selector_Nearby_Google_Places.png
  .loki/reference/chrome_laptop_Components_Restaurant_Selector_Nearby_Google_Places_Loading.png
  .loki/reference/chrome_laptop_Components_Restaurant_Selector_With_Google_Places.png
  libs/bite-tribe-common/bite/src/lib/local-image-picker/local-image-picker.component.scss
  libs/bite-tribe-common/styles/_globals.scss
  libs/bite-tribe/home/page/src/lib/components/type-ahead/type-ahead.component.scss
  libs/common/ui/currency-selector/src/lib/currency-selector.component.scss
  libs/common/ui/restaurant-selector/src/lib/__specs__/restaurant-selector.component.stories.ts
  libs/common/ui/restaurant-selector/src/lib/restaurant-selector.component.scss
  ssot/pages/Implementation - Ionic Patterns.md
Due: eslint --fix, prettier --write, stylelint --fix

feat: simplify location option selection
  apps/bite-tribe-e2e/src/pages/create-bite.page.ts
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe-common/map/src/index.ts
  libs/bite-tribe-common/map/src/lib/map/__specs__/map.component.spec.ts
  libs/bite-tribe-common/map/src/lib/map/map.component.ts
  libs/bite-tribe-common/map/src/lib/map/model/marker-color.enum.ts
  libs/bite-tribe-common/map/src/lib/map/utils/__specs__/focus-marker.spec.ts
  libs/bite-tribe-common/map/src/lib/map/utils/__specs__/geopoints-to-markers.spec.ts
  libs/bite-tribe-common/map/src/lib/map/utils/focus-marker.ts
  libs/bite-tribe-common/map/src/lib/map/utils/geopoints-to-markers.ts
  libs/bite-tribe-common/map/src/lib/map/utils/marker-color-tag.ts
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.stories.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.scss
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/bite/page/src/lib/components/page/model/position-source.ts
  ssot/pages/UC - Create And Maintain Personal Bites.md
Due: eslint --fix, prettier --write, stylelint --fix

refactor: persist position source with bite
  apps/bite-tribe-e2e/src/pages/create-bite.page.ts
  apps/bite-tribe-e2e/src/tests/create-and-edit-bite.spec.ts
  libs/bite-tribe-common/model/src/index.ts
  libs/bite-tribe-common/model/src/lib/bite.ts
  libs/bite-tribe-common/model/src/lib/position-source.ts
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.scss
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/bite/page/src/lib/components/page/model/position-source.ts
  ssot/pages/UC - Create And Maintain Personal Bites.md
Due: eslint --fix, prettier --write, stylelint --fix

test: update refs
  .loki/reference/chrome_iphone7_Pages_Create_Bite_Currency_Loading.png
  .loki/reference/chrome_iphone7_Pages_Create_Bite_Empty.png
  .loki/reference/chrome_iphone7_Pages_Create_Bite_New_Bite.png
  .loki/reference/chrome_iphone7_Pages_Create_Bite_With_Tag_Suggestions.png
  .loki/reference/chrome_iphone7_Pages_Create_Bite_Without_Position.png
  .loki/reference/chrome_laptop_Pages_Create_Bite_Currency_Loading.png
  .loki/reference/chrome_laptop_Pages_Create_Bite_Empty.png
  .loki/reference/chrome_laptop_Pages_Create_Bite_New_Bite.png
  .loki/reference/chrome_laptop_Pages_Create_Bite_With_Tag_Suggestions.png
  .loki/reference/chrome_laptop_Pages_Create_Bite_Without_Position.png
Due: none

feat: add home base to onboarding assistent
  .loki/reference/chrome_iphone7_Pages_Onboarding_Location_Step_Before_Prompt.png
  .loki/reference/chrome_iphone7_Pages_Onboarding_Location_Step_Denied.png
  .loki/reference/chrome_iphone7_Pages_Onboarding_Location_Step_Granted.png
  .loki/reference/chrome_iphone7_Pages_Onboarding_Location_Step_Public_Profile_Home_City.png
  .loki/reference/chrome_iphone7_Pages_Onboarding_Location_Step_Requesting.png
  .loki/reference/chrome_iphone7_Pages_Onboarding_Location_Step_Unsupported.png
  .loki/reference/chrome_iphone7_Pages_Onboarding_Location_Step_With_Home_City.png
  .loki/reference/chrome_laptop_Pages_Onboarding_Location_Step_Before_Prompt.png
  .loki/reference/chrome_laptop_Pages_Onboarding_Location_Step_Denied.png
  .loki/reference/chrome_laptop_Pages_Onboarding_Location_Step_Granted.png
  .loki/reference/chrome_laptop_Pages_Onboarding_Location_Step_Public_Profile_Home_City.png
  .loki/reference/chrome_laptop_Pages_Onboarding_Location_Step_Requesting.png
  .loki/reference/chrome_laptop_Pages_Onboarding_Location_Step_Unsupported.png
  .loki/reference/chrome_laptop_Pages_Onboarding_Location_Step_With_Home_City.png
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/onboarding/page/src/lib/components/location-step/__specs__/location-step.component.spec.ts
  libs/bite-tribe/onboarding/page/src/lib/components/location-step/__specs__/location-step.stories.ts
  libs/bite-tribe/onboarding/page/src/lib/components/location-step/location-step.component.html
  libs/bite-tribe/onboarding/page/src/lib/components/location-step/location-step.component.scss
  libs/bite-tribe/onboarding/page/src/lib/components/location-step/location-step.component.ts
  libs/bite-tribe/onboarding/page/src/lib/components/onboarding-page/onboarding.page.html
  libs/bite-tribe/onboarding/page/src/lib/components/onboarding-page/onboarding.page.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/__specs__/onboarding-container.component.spec.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/__specs__/onboarding.service.spec.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/onboarding-container.component.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/onboarding.service.ts
  ssot/pages/UC - Guide New Users After Registration.md
Due: eslint --fix, prettier --write, stylelint --fix

feat: add home base to onboarding assistent (#1291)
  .loki/reference/chrome_iphone7_Pages_Onboarding_Location_Step_Before_Prompt.png
  .loki/reference/chrome_iphone7_Pages_Onboarding_Location_Step_Denied.png
  .loki/reference/chrome_iphone7_Pages_Onboarding_Location_Step_Granted.png
  .loki/reference/chrome_iphone7_Pages_Onboarding_Location_Step_Public_Profile_Home_City.png
  .loki/reference/chrome_iphone7_Pages_Onboarding_Location_Step_Requesting.png
  .loki/reference/chrome_iphone7_Pages_Onboarding_Location_Step_Unsupported.png
  .loki/reference/chrome_iphone7_Pages_Onboarding_Location_Step_With_Home_City.png
  .loki/reference/chrome_laptop_Pages_Onboarding_Location_Step_Before_Prompt.png
  .loki/reference/chrome_laptop_Pages_Onboarding_Location_Step_Denied.png
  .loki/reference/chrome_laptop_Pages_Onboarding_Location_Step_Granted.png
  .loki/reference/chrome_laptop_Pages_Onboarding_Location_Step_Public_Profile_Home_City.png
  .loki/reference/chrome_laptop_Pages_Onboarding_Location_Step_Requesting.png
  .loki/reference/chrome_laptop_Pages_Onboarding_Location_Step_Unsupported.png
  .loki/reference/chrome_laptop_Pages_Onboarding_Location_Step_With_Home_City.png
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/onboarding/page/src/lib/components/location-step/__specs__/location-step.component.spec.ts
  libs/bite-tribe/onboarding/page/src/lib/components/location-step/__specs__/location-step.stories.ts
  libs/bite-tribe/onboarding/page/src/lib/components/location-step/location-step.component.html
  libs/bite-tribe/onboarding/page/src/lib/components/location-step/location-step.component.scss
  libs/bite-tribe/onboarding/page/src/lib/components/location-step/location-step.component.ts
  libs/bite-tribe/onboarding/page/src/lib/components/onboarding-page/onboarding.page.html
  libs/bite-tribe/onboarding/page/src/lib/components/onboarding-page/onboarding.page.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/__specs__/onboarding-container.component.spec.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/__specs__/onboarding.service.spec.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/onboarding-container.component.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/onboarding.service.ts
  ssot/pages/UC - Guide New Users After Registration.md
Due: eslint --fix, prettier --write, stylelint --fix

feat: loading state on create bite click
  .loki/reference/chrome_iphone7_Components_Page_Add_Button_Pending.png
  .loki/reference/chrome_laptop_Components_Page_Add_Button_Pending.png
  apps/bite-tribe-business/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/home.component.spec.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/home/page/src/lib/integration/__specs__/home.container.spec.ts
  libs/bite-tribe/home/page/src/lib/integration/__specs__/home.service.spec.ts
  libs/bite-tribe/home/page/src/lib/integration/home.container.ts
  libs/bite-tribe/home/page/src/lib/integration/home.service.ts
  libs/common/ui/page/src/lib/__specs__/page.component.spec.ts
  libs/common/ui/page/src/lib/__specs__/page.component.stories.ts
  libs/common/ui/page/src/lib/page.component.html
  libs/common/ui/page/src/lib/page.component.scss
  libs/common/ui/page/src/lib/page.component.ts
  ssot/pages/Implementation - Feature Patterns.md
  ssot/pages/UC - Create And Maintain Personal Bites.md
Due: eslint --fix, prettier --write, stylelint --fix

feat: loading state on create bite click (#1292)
  .loki/reference/chrome_iphone7_Components_Page_Add_Button_Pending.png
  .loki/reference/chrome_laptop_Components_Page_Add_Button_Pending.png
  apps/bite-tribe-business/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/home.component.spec.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/home/page/src/lib/integration/__specs__/home.container.spec.ts
  libs/bite-tribe/home/page/src/lib/integration/__specs__/home.service.spec.ts
  libs/bite-tribe/home/page/src/lib/integration/home.container.ts
  libs/bite-tribe/home/page/src/lib/integration/home.service.ts
  libs/common/ui/page/src/lib/__specs__/page.component.spec.ts
  libs/common/ui/page/src/lib/__specs__/page.component.stories.ts
  libs/common/ui/page/src/lib/page.component.html
  libs/common/ui/page/src/lib/page.component.scss
  libs/common/ui/page/src/lib/page.component.ts
  ssot/pages/Implementation - Feature Patterns.md
  ssot/pages/UC - Create And Maintain Personal Bites.md
Due: eslint --fix, prettier --write, stylelint --fix

feat: show identity in app menu
  .loki/reference/chrome_iphone7_Components_App_Menu_Long_Display_Name.png
  .loki/reference/chrome_iphone7_Components_App_Menu_Signed_Out.png
  .loki/reference/chrome_iphone7_Components_App_Menu_With_Account.png
  .loki/reference/chrome_iphone7_Components_App_Menu_Without_Account.png
  .loki/reference/chrome_iphone7_Components_App_Menu_Without_Photo.png
  .loki/reference/chrome_laptop_Components_App_Menu_Long_Display_Name.png
  .loki/reference/chrome_laptop_Components_App_Menu_Signed_Out.png
  .loki/reference/chrome_laptop_Components_App_Menu_With_Account.png
  .loki/reference/chrome_laptop_Components_App_Menu_Without_Account.png
  .loki/reference/chrome_laptop_Components_App_Menu_Without_Photo.png
  libs/bite-tribe/shell/src/lib/provide-bite-tribe-shell.ts
  libs/common/ui/page/src/lib/__specs__/page.component.spec.ts
  libs/common/ui/page/src/lib/menu/__specs__/app-menu.component.spec.ts
  libs/common/ui/page/src/lib/menu/__specs__/app-menu.component.stories.ts
  libs/common/ui/page/src/lib/menu/app-menu.component.html
  libs/common/ui/page/src/lib/menu/app-menu.component.scss
  libs/common/ui/page/src/lib/menu/app-menu.component.ts
  libs/common/ui/page/src/lib/page.component.ts
  libs/common/utils/src/lib/app-tokens.ts
  ssot/pages/Implementation - Ionic Patterns.md
  ssot/pages/UC - Manage Profile And Social Graph.md
Due: eslint --fix, prettier --write, stylelint --fix

feat: show identity in app menu (#1293)
  .loki/reference/chrome_iphone7_Components_App_Menu_Long_Display_Name.png
  .loki/reference/chrome_iphone7_Components_App_Menu_Signed_Out.png
  .loki/reference/chrome_iphone7_Components_App_Menu_With_Account.png
  .loki/reference/chrome_iphone7_Components_App_Menu_Without_Account.png
  .loki/reference/chrome_iphone7_Components_App_Menu_Without_Photo.png
  .loki/reference/chrome_laptop_Components_App_Menu_Long_Display_Name.png
  .loki/reference/chrome_laptop_Components_App_Menu_Signed_Out.png
  .loki/reference/chrome_laptop_Components_App_Menu_With_Account.png
  .loki/reference/chrome_laptop_Components_App_Menu_Without_Account.png
  .loki/reference/chrome_laptop_Components_App_Menu_Without_Photo.png
  libs/bite-tribe/shell/src/lib/provide-bite-tribe-shell.ts
  libs/common/ui/page/src/lib/__specs__/page.component.spec.ts
  libs/common/ui/page/src/lib/menu/__specs__/app-menu.component.spec.ts
  libs/common/ui/page/src/lib/menu/__specs__/app-menu.component.stories.ts
  libs/common/ui/page/src/lib/menu/app-menu.component.html
  libs/common/ui/page/src/lib/menu/app-menu.component.scss
  libs/common/ui/page/src/lib/menu/app-menu.component.ts
  libs/common/ui/page/src/lib/page.component.ts
  libs/common/utils/src/lib/app-tokens.ts
  ssot/pages/Implementation - Ionic Patterns.md
  ssot/pages/UC - Manage Profile And Social Graph.md
Due: eslint --fix, prettier --write, stylelint --fix

fix: fix sender email address in verification email
  apps/bite-tribe-firebase/functions/src/functions/users/__specs__/google-workspace-email.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/users/google-workspace-email.ts
  apps/bite-tribe-firebase/set-workspace-secrets.sh
  ssot/pages/Current State - Release Candidate Test Charter.md
  ssot/pages/Implementation - Firebase Functions.md
  ssot/pages/issue-1265.md
Due: eslint --fix, prettier --write

docs: specify threaded review replies and review moderation epic (#1285)
  ssot/pages/Bite.md
  ssot/pages/Current State - Open Questions.md
  ssot/pages/SSOT.md
  ssot/pages/Traceability Map.md
  ssot/pages/UC - Inspect Bite Details.md
  ssot/pages/UC - Receive App Notifications And Engagement Updates.md
  ssot/pages/epic-1284.md
  ssot/pages/issue-1283.md
Due: prettier --write

fix: fix sender email address in verification email (#1295)
  apps/bite-tribe-firebase/functions/src/functions/users/__specs__/google-workspace-email.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/users/google-workspace-email.ts
  apps/bite-tribe-firebase/set-workspace-secrets.sh
  ssot/pages/Current State - Release Candidate Test Charter.md
  ssot/pages/Implementation - Firebase Functions.md
  ssot/pages/issue-1265.md
Due: eslint --fix, prettier --write

build: integrate lint and test for firebase functions to nx
  apps/bite-tribe-firebase/functions/.eslintrc.js
  apps/bite-tribe-firebase/functions/jest.config.cjs
  apps/bite-tribe-firebase/functions/package-lock.json
  apps/bite-tribe-firebase/functions/package.json
  apps/bite-tribe-firebase/functions/project.json
  apps/bite-tribe-firebase/functions/tsconfig.dev.json
  eslint.config.mjs
  libs/common/ui/country-selector/src/lib/__specs__/country-selector.component.spec.ts
Due: eslint --fix, prettier --write

style: spacing
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/__specs__/search-bite.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/search-bite.ts
  libs/bite-tribe-common/map/src/lib/map/map.component.ts
  libs/bite-tribe-common/model/src/lib/search-result.ts
  libs/bite-tribe/search/page/src/lib/components/search-page/__specs__/search.page.spec.ts
  libs/bite-tribe/search/page/src/lib/components/search-page/__specs__/search.stories.ts
  libs/bite-tribe/search/page/src/lib/components/search-page/search.page.html
  libs/bite-tribe/search/page/src/lib/components/search-page/search.page.scss
  libs/bite-tribe/search/page/src/lib/components/search-page/search.page.ts
  ssot/pages/UC - Search In BiteTribe.md
Due: eslint --fix, prettier --write, stylelint --fix

test: update loki refs
  .loki/reference/chrome_iphone7_Components_Country_Selector_Default.png
  .loki/reference/chrome_iphone7_Components_Country_Selector_With_Selection.png
  .loki/reference/chrome_iphone7_Pages_Search_Country_Map_View.png
  .loki/reference/chrome_iphone7_Pages_Search_Country_Not_Picked.png
  .loki/reference/chrome_iphone7_Pages_Search_Country_Picked.png
  .loki/reference/chrome_iphone7_Pages_Search_Default.png
  .loki/reference/chrome_iphone7_Pages_Search_Empty_Results.png
  .loki/reference/chrome_iphone7_Pages_Search_With_Results.png
  .loki/reference/chrome_laptop_Components_Country_Selector_Default.png
  .loki/reference/chrome_laptop_Components_Country_Selector_With_Selection.png
  .loki/reference/chrome_laptop_Pages_Search_Country_Map_View.png
  .loki/reference/chrome_laptop_Pages_Search_Country_Not_Picked.png
  .loki/reference/chrome_laptop_Pages_Search_Country_Picked.png
  .loki/reference/chrome_laptop_Pages_Search_Default.png
  .loki/reference/chrome_laptop_Pages_Search_Empty_Results.png
  .loki/reference/chrome_laptop_Pages_Search_With_Results.png
Due: none

test: fix loki refs
  .loki/reference/chrome_iphone7_Components_Country_Selector_Default.png
  .loki/reference/chrome_iphone7_Components_Country_Selector_No_Results.png
  .loki/reference/chrome_iphone7_Components_Country_Selector_Search_Result.png
  .loki/reference/chrome_iphone7_Components_Country_Selector_With_Selection.png
  .loki/reference/chrome_laptop_Components_Country_Selector_Default.png
  .loki/reference/chrome_laptop_Components_Country_Selector_No_Results.png
  .loki/reference/chrome_laptop_Components_Country_Selector_Search_Result.png
  .loki/reference/chrome_laptop_Components_Country_Selector_With_Selection.png
  libs/common/ui/country-selector/src/lib/__specs__/country-selector.component.stories.ts
Due: eslint --fix, prettier --write

test: add e2e tests
  apps/bite-tribe-e2e/src/pages/bite-details.page.ts
  apps/bite-tribe-e2e/src/tests/review-threads.spec.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  ssot/pages/Current State - E2E Coverage.md
  ssot/pages/UC - Inspect Bite Details.md
  ssot/pages/issue-1283.md
Due: eslint --fix, prettier --write

test: increase test coverage
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.spec.ts
  libs/bite-tribe/details/page/src/lib/components/review-thread/__specs__/review-thread.component.spec.ts
  libs/bite-tribe/details/page/src/lib/integration/__specs__/details.service.spec.ts
Due: eslint --fix, prettier --write

perf: page the search result list with infinite scroll
  libs/bite-tribe/search/page/src/lib/components/search-list/__specs__/search-list.component.spec.ts
  libs/bite-tribe/search/page/src/lib/components/search-list/search-list.component.html
  libs/bite-tribe/search/page/src/lib/components/search-list/search-list.component.ts
  libs/bite-tribe/search/page/src/lib/components/search-page/__specs__/search.stories.ts
  ssot/pages/Implementation - Feature Patterns.md
  ssot/pages/UC - Search In BiteTribe.md
Due: eslint --fix, prettier --write

perf: decode the Bite card photo asynchronously
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  ssot/pages/Implementation - Feature Patterns.md
Due: eslint --fix, prettier --write

feat: backfill functionality
  apps/bite-tribe-business/src/assets/i18n/en.json
  apps/bite-tribe-firebase/functions/src/functions/reviews/__specs__/backfill-review-timestamps.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/reviews/backfill-review-timestamps.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  libs/bite-tribe-business/migrations/data-access/src/lib/migrations-data-access.service.ts
  libs/bite-tribe-business/migrations/page/src/lib/component/page/__specs__/migrations.spec.ts
  libs/bite-tribe-business/migrations/page/src/lib/component/page/collection-migration.ts
  libs/bite-tribe-business/migrations/page/src/lib/component/page/migrations.html
  libs/bite-tribe-business/migrations/page/src/lib/component/page/migrations.scss
  libs/bite-tribe-business/migrations/page/src/lib/component/page/migrations.ts
  libs/bite-tribe-business/migrations/page/src/lib/integration/__specs__/migrations.service.spec.ts
  libs/bite-tribe-business/migrations/page/src/lib/integration/migrations-container.ts
  libs/bite-tribe-business/migrations/page/src/lib/integration/migrations.service.ts
  libs/bite-tribe/store/src/lib/reviews/utils/to-review-threads.ts
  ssot/pages/Bite.md
  ssot/pages/Implementation - Firebase Functions.md
  ssot/pages/UC - Run Operational Migrations.md
  ssot/pages/issue-1283.md
Due: eslint --fix, prettier --write, stylelint --fix

test: drop the many-results search story
  libs/bite-tribe/search/page/src/lib/components/search-page/__specs__/search.stories.ts
  ssot/pages/Implementation - Feature Patterns.md
Due: eslint --fix, prettier --write

refactor: remove display name claim backfill
  apps/bite-tribe-business/src/assets/i18n/en.json
  apps/bite-tribe-firebase/functions/src/functions/users/__specs__/display-name-claims.emulator-spec.ts
  apps/bite-tribe-firebase/functions/src/functions/users/backfill-display-name-claims.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  libs/bite-tribe-business/migrations/data-access/src/lib/migrations-data-access.service.ts
  libs/bite-tribe-business/migrations/page/src/lib/component/page/__specs__/migrations.spec.ts
  libs/bite-tribe-business/migrations/page/src/lib/component/page/collection-migration.ts
  libs/bite-tribe-business/migrations/page/src/lib/integration/__specs__/migrations.service.spec.ts
  libs/bite-tribe-business/migrations/page/src/lib/integration/migrations.service.ts
  ssot/pages/Implementation - Firebase Functions.md
  ssot/pages/UC - Run Operational Migrations.md
  ssot/pages/User.md
Due: eslint --fix, prettier --write

perf: page the search result list and ease image decoding (#1297)
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe/search/page/src/lib/components/search-list/__specs__/search-list.component.spec.ts
  libs/bite-tribe/search/page/src/lib/components/search-list/search-list.component.html
  libs/bite-tribe/search/page/src/lib/components/search-list/search-list.component.ts
  ssot/pages/Implementation - Feature Patterns.md
  ssot/pages/UC - Search In BiteTribe.md
Due: eslint --fix, prettier --write

test: loki update
  .loki/reference/chrome_iphone7_Components_Review_Thread_Collapsed.png
  .loki/reference/chrome_iphone7_Components_Review_Thread_Creator_Answer.png
  .loki/reference/chrome_iphone7_Components_Review_Thread_Highlighted_From_Notification.png
  .loki/reference/chrome_iphone7_Components_Review_Thread_Read_Only.png
  .loki/reference/chrome_iphone7_Components_Review_Thread_Root_Only.png
  .loki/reference/chrome_iphone7_Components_Review_Thread_With_Replies.png
  .loki/reference/chrome_iphone7_Pages_Bite_With_Review_Threads.png
  .loki/reference/chrome_laptop_Components_Review_Thread_Collapsed.png
  .loki/reference/chrome_laptop_Components_Review_Thread_Creator_Answer.png
  .loki/reference/chrome_laptop_Components_Review_Thread_Highlighted_From_Notification.png
  .loki/reference/chrome_laptop_Components_Review_Thread_Read_Only.png
  .loki/reference/chrome_laptop_Components_Review_Thread_Root_Only.png
  .loki/reference/chrome_laptop_Components_Review_Thread_With_Replies.png
  .loki/reference/chrome_laptop_Pages_Bite_With_Review_Threads.png
Due: none

feat: in case: show distance from bite and distance from your location
  .loki/reference/chrome_iphone7_Components_Restaurant_Selector_Distance_From_Bite_And_User.png
  .loki/reference/chrome_laptop_Components_Restaurant_Selector_Distance_From_Bite_And_User.png
  apps/bite-tribe-business/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/common/ui/restaurant-selector/src/lib/__specs__/restaurant-selector.component.spec.ts
  libs/common/ui/restaurant-selector/src/lib/__specs__/restaurant-selector.component.stories.ts
  libs/common/ui/restaurant-selector/src/lib/restaurant-selector.component.html
  libs/common/ui/restaurant-selector/src/lib/restaurant-selector.component.ts
  ssot/pages/UC - Create And Maintain Personal Bites.md
Due: eslint --fix, prettier --write

feat: in case show distance from bite and distance from your location (#1299)
  .loki/reference/chrome_iphone7_Components_Restaurant_Selector_Distance_From_Bite_And_User.png
  .loki/reference/chrome_laptop_Components_Restaurant_Selector_Distance_From_Bite_And_User.png
  apps/bite-tribe-business/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/common/ui/restaurant-selector/src/lib/__specs__/restaurant-selector.component.spec.ts
  libs/common/ui/restaurant-selector/src/lib/__specs__/restaurant-selector.component.stories.ts
  libs/common/ui/restaurant-selector/src/lib/restaurant-selector.component.html
  libs/common/ui/restaurant-selector/src/lib/restaurant-selector.component.ts
  ssot/pages/UC - Create And Maintain Personal Bites.md
Due: eslint --fix, prettier --write

fix: typo
  apps/bite-tribe/src/assets/i18n/de.json
  ssot/pages/Implementation - Localization.md
Due: prettier --write

fix: typo (#1300)
  apps/bite-tribe/src/assets/i18n/de.json
  ssot/pages/Implementation - Localization.md
Due: prettier --write

chore: prepare build 1.0.1-93 release
  CHANGELOG.md
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: prettier --write

chore: prepare build 1.0.1-93 release (#1301)
  CHANGELOG.md
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: prettier --write

docs: test run 6
  ssot/pages/Agent Operating Contract.md
  ssot/pages/Current State - Release Candidate Test Charter.md
  ssot/pages/Feature Delivery Workflow.md
  ssot/pages/GitHub Project Board And Issue Handling.md
  ssot/pages/SSOT.md
Due: prettier --write
