Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Use loki options from project.json
  apps/prices/project.json
  package.json
  tools/executors/loki/impl.js
  tools/executors/loki/src/__specs__/impl.spec.ts
  tools/executors/loki/src/impl.ts
Due: eslint --fix, prettier --write

Add coverage report location
  tools/executors/loki/project.json
Due: prettier --write

Add project specific loki.config.js
  apps/prices/loki.config.js
Due: prettier --write

Clean up and better error handling
  tools/executors/loki/src/impl.ts
Due: eslint --fix, prettier --write

Documentation for the executor
  tools/executors/loki/README.md
Due: prettier --write

Refactoring
  apps/prices/package.json
  tools/executors/loki/README.md
  tools/executors/loki/src/impl.ts
Due: eslint --fix, prettier --write

Adjustments
  apps/prices/package.json
  tools/executors/loki/impl.js
  tools/executors/loki/src/impl.ts
Due: eslint --fix, prettier --write

Remove loki run script
  package.json
Due: prettier --write

Test run for loki tests on github
  .github/workflows/pipeline.yml
Due: none

51: setup loki and add executor for nx (#54)
  .github/workflows/pipeline.yml
  apps/prices/loki.config.js
  apps/prices/project.json
  package.json
  tools/executors/loki/README.md
  tools/executors/loki/builder.json
  tools/executors/loki/impl.js
  tools/executors/loki/jest.config.ts
  tools/executors/loki/package.json
  tools/executors/loki/project.json
  tools/executors/loki/schema.json
  tools/executors/loki/src/__specs__/impl.spec.ts
  tools/executors/loki/src/impl.ts
  tools/executors/loki/src/test-setup.ts
  tools/executors/loki/tsconfig.editor.json
  tools/executors/loki/tsconfig.executor.json
  tools/executors/loki/tsconfig.json
  tools/executors/loki/tsconfig.spec.json
  tools/tsconfig.tools.json
  workspace.json
Due: eslint --fix, prettier --write

Extract content from card component
  libs/prices/card/feature/src/lib/__specs__/card.component.stories.ts
  libs/prices/card/feature/src/lib/card.component.html
  libs/prices/card/feature/src/lib/card.component.ts
  libs/prices/home/feature/src/lib/components/home.component.html
Due: eslint --fix, prettier --write

Add ci option to storybook build
  .github/workflows/pipeline.yml
Due: none

Let build fail on failing visual regression tests
  tools/executors/loki/impl.js
  tools/executors/loki/src/impl.ts
Due: eslint --fix, prettier --write

Adjustments for local updating references
  .github/workflows/pipeline.yml
  apps/prices/project.json
  tools/executors/loki/impl.js
  tools/executors/loki/src/impl.ts
Due: eslint --fix, prettier --write

Add reference image for failing test
  apps/prices/.loki/reference/chrome_iphone7_Components_Card_Empty.png
Due: none

Add documentation
  tools/executors/loki/README.md
Due: prettier --write

Extract content from card component (#56)
  .github/workflows/pipeline.yml
  apps/prices/.loki/reference/chrome_iphone7_Components_Card_Empty.png
  apps/prices/project.json
  libs/prices/card/feature/src/lib/__specs__/card.component.stories.ts
  libs/prices/card/feature/src/lib/card.component.html
  libs/prices/card/feature/src/lib/card.component.ts
  libs/prices/home/feature/src/lib/components/home.component.html
  tools/executors/loki/README.md
  tools/executors/loki/impl.js
  tools/executors/loki/src/impl.ts
Due: eslint --fix, prettier --write

Upgrade nx
  package-lock.json
  package.json
Due: prettier --write

Upgrade nx (#58)
  package-lock.json
  package.json
Due: prettier --write

Fix tests and add test to build pipeline
  .github/workflows/pipeline.yml
  apps/prices/src/app/__specs__/app.component.spec.ts
Due: eslint --fix, prettier --write

Add configuration ci again to storybook build
  .github/workflows/pipeline.yml
Due: none

#59: Fix tests and add test to build pipeline (#60)
  .github/workflows/pipeline.yml
  apps/prices/src/app/__specs__/app.component.spec.ts
Due: eslint --fix, prettier --write

Add linting to pipeline
  .github/workflows/pipeline.yml
Due: none

Add linting to pipeline (#65)
  .github/workflows/pipeline.yml
Due: none

Add field for image src
  libs/prices/add-item/feature/src/lib/api/price.ts
  libs/prices/add-item/feature/src/lib/components/add-item.component.html
  libs/prices/add-item/feature/src/lib/components/add-item.component.ts
Due: eslint --fix, prettier --write

Fix loki update via nx and update reference image for add item page
  apps/prices/.loki/reference/chrome_iphone7_Pages_Add_Item_Primary.png
  tools/executors/loki/impl.js
  tools/executors/loki/src/__specs__/impl.spec.ts
  tools/executors/loki/src/impl.ts
Due: eslint --fix, prettier --write

#61: Add field for image src (#66)
  apps/prices/.loki/reference/chrome_iphone7_Pages_Add_Item_Primary.png
  libs/prices/add-item/feature/src/lib/api/price.ts
  libs/prices/add-item/feature/src/lib/components/add-item.component.html
  libs/prices/add-item/feature/src/lib/components/add-item.component.ts
  tools/executors/loki/impl.js
  tools/executors/loki/src/__specs__/impl.spec.ts
  tools/executors/loki/src/impl.ts
Due: eslint --fix, prettier --write

Add capacitor dependencies
  package-lock.json
  package.json
Due: prettier --write

Initialize capacitor
  capacitor.config.ts
Due: eslint --fix, prettier --write

Add capacitor ios and android dependencies
  package-lock.json
  package.json
Due: prettier --write

Adjust capacitor.config.ts for webDir option
  android/app/capacitor.build.gradle
  android/capacitor.settings.gradle
  capacitor.config.ts
  ios/App/Podfile
Due: eslint --fix, prettier --write

Add capacitor run scripts
  package.json
Due: prettier --write

Add cap sync to pipeline
  .github/workflows/pipeline.yml
Due: none

Add auth feature
  libs/prices/auth/featurer/.eslintrc.json
  libs/prices/auth/featurer/README.md
  libs/prices/auth/featurer/jest.config.ts
  libs/prices/auth/featurer/project.json
  libs/prices/auth/featurer/src/index.ts
  libs/prices/auth/featurer/src/lib/prices-auth-featurer.module.ts
  libs/prices/auth/featurer/src/test-setup.ts
  libs/prices/auth/featurer/tsconfig.json
  libs/prices/auth/featurer/tsconfig.lib.json
  libs/prices/auth/featurer/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Due: eslint --fix, prettier --write

Fix naming
  libs/prices/auth/feature/.eslintrc.json
  libs/prices/auth/feature/README.md
  libs/prices/auth/feature/jest.config.ts
  libs/prices/auth/feature/project.json
  libs/prices/auth/feature/src/index.ts
  libs/prices/auth/feature/src/lib/prices-auth-feature.module.ts
  libs/prices/auth/feature/src/test-setup.ts
  libs/prices/auth/feature/tsconfig.json
  libs/prices/auth/feature/tsconfig.lib.json
  libs/prices/auth/feature/tsconfig.spec.json
  libs/prices/auth/featurer/README.md
  libs/prices/auth/featurer/src/index.ts
  tsconfig.base.json
  workspace.json
Due: eslint --fix, prettier --write

Add component and adjust file system
  libs/prices/auth/feature/src/lib/__specs__/auth.component.spec.ts
  libs/prices/auth/feature/src/lib/components/auth.component.css
  libs/prices/auth/feature/src/lib/components/auth.component.html
  libs/prices/auth/feature/src/lib/components/auth.component.ts
  libs/prices/auth/feature/src/lib/prices-auth-feature.module.ts
Due: eslint --fix, prettier --write

Surround add itm form with card
  libs/prices/add-item/feature/src/lib/add-item.module.ts
  libs/prices/add-item/feature/src/lib/components/add-item.component.html
  libs/prices/add-item/feature/src/lib/components/add-item.component.scss
  libs/prices/add-item/feature/src/lib/components/add-item.component.ts
Due: eslint --fix, prettier --write

Implement auth form
  libs/prices/add-item/feature/src/lib/components/add-item.component.ts
  libs/prices/auth/feature/.eslintrc.json
  libs/prices/auth/feature/src/index.ts
  libs/prices/auth/feature/src/lib/__specs__/auth.component.stories.ts
  libs/prices/auth/feature/src/lib/api/auth-credentials.ts
  libs/prices/auth/feature/src/lib/auth.module.ts
  libs/prices/auth/feature/src/lib/components/auth.component.css
  libs/prices/auth/feature/src/lib/components/auth.component.html
  libs/prices/auth/feature/src/lib/components/auth.component.scss
  libs/prices/auth/feature/src/lib/components/auth.component.ts
  libs/prices/auth/feature/src/lib/prices-auth-feature.module.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,html}
  prettier --write: any of: *.{ts,js,html,scss,json,md}
