Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,html}": "eslint --fix",
  "*.{ts,js,html,scss,json,md}": "prettier --write",
  "*.scss": "stylelint --fix"
}

fix(bite-tribe-admin): render the map instead of scattered tiles
  apps/bite-tribe-admin/project.json
  apps/bite-tribe-admin/src/global.scss
Due: prettier --write, stylelint --fix

style(bite-tribe-admin): centre the candidate and place lists
  libs/bite-tribe-admin/restaurants/page/src/lib/component/bite-places/bite-places.ts
  libs/bite-tribe-admin/restaurants/page/src/lib/component/restaurant-candidates/restaurant-candidates.html
  libs/bite-tribe-admin/restaurants/page/src/lib/component/restaurant-candidates/restaurant-candidates.ts
Due: eslint --fix, prettier --write

fix(bite-tribe-admin): render the map instead of scattered tiles (#1481)
  apps/bite-tribe-admin/project.json
  apps/bite-tribe-admin/src/global.scss
  libs/bite-tribe-admin/restaurants/page/src/lib/component/bite-places/bite-places.ts
  libs/bite-tribe-admin/restaurants/page/src/lib/component/restaurant-candidates/restaurant-candidates.html
  libs/bite-tribe-admin/restaurants/page/src/lib/component/restaurant-candidates/restaurant-candidates.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(functions): require the admin role on every operator callable
  apps/bite-tribe-firebase/functions/src/__specs__/callable-authorization.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/bites/__specs__/enrich-bite-address-on-create.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/bites/enrich-bite-address-on-create.ts
  apps/bite-tribe-firebase/functions/src/functions/notifications/__specs__/send-new-version-notification.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/notifications/send-new-version-notification.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/__specs__/cluster-restaurant-candidate-for-bite.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/__specs__/restaurant-candidate-workflow.emulator-spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/__specs__/verify-restaurant-candidate.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/cluster-restaurant-candidate-for-bite.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/verify-restaurant-candidate.ts
  apps/bite-tribe-firebase/functions/src/functions/reviews/__specs__/backfill-review-timestamps.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/reviews/backfill-review-timestamps.ts
  apps/bite-tribe-firebase/functions/src/functions/users/__specs__/list-users-with-roles.spec.ts
  ssot/pages/Architecture - Auth.md
  ssot/pages/Implementation - Firebase Functions.md
  ssot/pages/UC - Operate BiteTribe In The Admin App.md
  ssot/pages/UC - Run Operational Migrations.md
Due: eslint --fix, prettier --write

feat: version the BiteTribe character set and showcase it in Storybook
  .loki/reference/chrome_iphone7_Brand_Characters_Tribe.png
  .loki/reference/chrome_laptop_Brand_Characters_Tribe.png
  apps/storybook-host/.storybook/main.ts
  apps/storybook-host/src/app/characters/characters.stories.ts
  ssot/assets/characters/01-viking.svg
  ssot/assets/characters/02-arab.svg
  ssot/assets/characters/03-ethiopian.svg
  ssot/assets/characters/04-turk.svg
  ssot/assets/characters/05-chinese.svg
  ssot/assets/characters/06-japanese.svg
  ssot/assets/characters/07-swiss.svg
  ssot/pages/Current State - Open Questions.md
  ssot/pages/Implementation - Brand Characters.md
  ssot/pages/Traceability Map.md
  ssot/pages/contents.md
  ssot/pages/issue-1482.md
Due: eslint --fix, prettier --write

fix(functions): keep the role guard free of the Firebase Admin SDK
  apps/bite-tribe-firebase/functions/src/__specs__/callable-authorization.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/roles.ts
  apps/bite-tribe-firebase/functions/src/functions/users/set-user-roles.ts
Due: eslint --fix, prettier --write

feat: version the BiteTribe character set and showcase it in Storybook (#1484)
  .loki/reference/chrome_iphone7_Brand_Characters_Tribe.png
  .loki/reference/chrome_laptop_Brand_Characters_Tribe.png
  apps/storybook-host/.storybook/main.ts
  apps/storybook-host/src/app/characters/characters.stories.ts
  ssot/assets/characters/01-viking.svg
  ssot/assets/characters/02-arab.svg
  ssot/assets/characters/03-ethiopian.svg
  ssot/assets/characters/04-turk.svg
  ssot/assets/characters/05-chinese.svg
  ssot/assets/characters/06-japanese.svg
  ssot/assets/characters/07-swiss.svg
  ssot/pages/Current State - Open Questions.md
  ssot/pages/Implementation - Brand Characters.md
  ssot/pages/Traceability Map.md
  ssot/pages/contents.md
  ssot/pages/issue-1482.md
Due: eslint --fix, prettier --write

fix(functions): require the admin role on every operator callable (#1483)
  apps/bite-tribe-firebase/functions/src/__specs__/callable-authorization.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/bites/__specs__/enrich-bite-address-on-create.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/bites/enrich-bite-address-on-create.ts
  apps/bite-tribe-firebase/functions/src/functions/notifications/__specs__/send-new-version-notification.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/notifications/send-new-version-notification.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/__specs__/cluster-restaurant-candidate-for-bite.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/__specs__/restaurant-candidate-workflow.emulator-spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/__specs__/verify-restaurant-candidate.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/cluster-restaurant-candidate-for-bite.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/verify-restaurant-candidate.ts
  apps/bite-tribe-firebase/functions/src/functions/reviews/__specs__/backfill-review-timestamps.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/reviews/backfill-review-timestamps.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/roles.ts
  apps/bite-tribe-firebase/functions/src/functions/users/__specs__/list-users-with-roles.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/users/set-user-roles.ts
  ssot/pages/Architecture - Auth.md
  ssot/pages/Implementation - Firebase Functions.md
  ssot/pages/UC - Operate BiteTribe In The Admin App.md
  ssot/pages/UC - Run Operational Migrations.md
Due: eslint --fix, prettier --write

docs: bring subscription tier administration into epic 1471
  ssot/pages/Subscription.md
  ssot/pages/epic-1471.md
Due: prettier --write

feat(bite-tribe-admin): see and change an account's subscription tier
  apps/bite-tribe-admin/src/assets/i18n/en.json
  apps/bite-tribe-firebase/functions/src/__specs__/callable-authorization.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/subscription-tier.ts
  apps/bite-tribe-firebase/functions/src/functions/users/__specs__/fake-firestore.ts
  apps/bite-tribe-firebase/functions/src/functions/users/__specs__/list-users-with-roles.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/users/__specs__/set-user-subscription-tier.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/users/list-users-with-roles.ts
  apps/bite-tribe-firebase/functions/src/functions/users/set-user-subscription-tier.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  libs/bite-tribe-admin/user-management/data-access/src/index.ts
  libs/bite-tribe-admin/user-management/data-access/src/lib/__specs__/user-management-data-access.service.spec.ts
  libs/bite-tribe-admin/user-management/data-access/src/lib/admin-user.model.ts
  libs/bite-tribe-admin/user-management/data-access/src/lib/user-management-data-access.service.ts
  libs/bite-tribe-admin/user-management/page/src/lib/component/__specs__/user-management.component.spec.ts
  libs/bite-tribe-admin/user-management/page/src/lib/component/user-management.component.html
  libs/bite-tribe-admin/user-management/page/src/lib/component/user-management.component.ts
  libs/bite-tribe-admin/user-management/page/src/lib/integration/user-management-container.component.ts
  libs/bite-tribe-admin/user-management/page/src/lib/integration/user-management.service.ts
  libs/common/utils/src/index.ts
  libs/common/utils/src/lib/subscription-tier.ts
Due: eslint --fix, prettier --write

feat(bite-tribe-admin): see and change an account's subscription tier (#1486)
  apps/bite-tribe-admin/src/assets/i18n/en.json
  apps/bite-tribe-firebase/functions/src/__specs__/callable-authorization.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/subscription-tier.ts
  apps/bite-tribe-firebase/functions/src/functions/users/__specs__/fake-firestore.ts
  apps/bite-tribe-firebase/functions/src/functions/users/__specs__/list-users-with-roles.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/users/__specs__/set-user-subscription-tier.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/users/list-users-with-roles.ts
  apps/bite-tribe-firebase/functions/src/functions/users/set-user-subscription-tier.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  libs/bite-tribe-admin/user-management/data-access/src/index.ts
  libs/bite-tribe-admin/user-management/data-access/src/lib/__specs__/user-management-data-access.service.spec.ts
  libs/bite-tribe-admin/user-management/data-access/src/lib/admin-user.model.ts
  libs/bite-tribe-admin/user-management/data-access/src/lib/user-management-data-access.service.ts
  libs/bite-tribe-admin/user-management/page/src/lib/component/__specs__/user-management.component.spec.ts
  libs/bite-tribe-admin/user-management/page/src/lib/component/user-management.component.html
  libs/bite-tribe-admin/user-management/page/src/lib/component/user-management.component.ts
  libs/bite-tribe-admin/user-management/page/src/lib/integration/user-management-container.component.ts
  libs/bite-tribe-admin/user-management/page/src/lib/integration/user-management.service.ts
  libs/common/utils/src/index.ts
  libs/common/utils/src/lib/subscription-tier.ts
  ssot/pages/Subscription.md
  ssot/pages/epic-1471.md
Due: eslint --fix, prettier --write

docs: scope the city landing pages epic and record the share-page XSS
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Open Questions.md
  ssot/pages/SSOT.md
  ssot/pages/Traceability Map.md
  ssot/pages/epic-1487.md
Due: prettier --write

docs: scope the city landing pages epic and record the share-page XSS (#1494)
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Open Questions.md
  ssot/pages/SSOT.md
  ssot/pages/Traceability Map.md
  ssot/pages/epic-1487.md
Due: prettier --write

docs: Adapting ssot to restaurant verify and clearify user roles. Adapt referenced uc. Still missing the user roles limitations to be cleared.
  ssot/pages/Architecture - Auth.md
  ssot/pages/Feature Delivery Workflow.md
  ssot/pages/GitHub Issue Format.md
  ssot/pages/Implementation - Firebase Functions.md
  ssot/pages/Implementation - Localization.md
  ssot/pages/Restaurant.md
  ssot/pages/SSOT.md
  ssot/pages/Traceability Map.md
  ssot/pages/UC - Detect Restaurant Candidate.md
  ssot/pages/UC - Maintain Restaurants In The Business App.md
  ssot/pages/UC - Operate BiteTribe In The Admin App.md
  ssot/pages/UC - Own And Claim Restaurants.md
  ssot/pages/UC - Run Operational Migrations.md
  ssot/pages/UC - Verify Restaurant Candidate.md
  ssot/pages/User Roles.md
Due: prettier --write

fix(functions): escape every HTML metacharacter on the Bite share page
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/__specs__/render-html.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/render-html.ts
  ssot/pages/Current State - Known Issues.md
  ssot/pages/epic-1487.md
Due: eslint --fix, prettier --write

fix(functions): drop the article before the BiteTribe wordmark in German
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/de.ts
Due: eslint --fix, prettier --write

docs: record that the share-page XSS fix is deployed
  ssot/pages/Current State - Known Issues.md
  ssot/pages/epic-1487.md
Due: prettier --write

fix(functions): escape every HTML metacharacter on the Bite share page (#1515)
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/de.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/__specs__/render-html.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/render-html.ts
  ssot/pages/Current State - Known Issues.md
  ssot/pages/epic-1487.md
Due: eslint --fix, prettier --write

chore(functions): give every operator action one log shape
  apps/bite-tribe-firebase/functions/src/__specs__/operator-action-logging.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/bites/enrich-bite-address-on-create.ts
  apps/bite-tribe-firebase/functions/src/functions/notifications/send-new-version-notification.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/__specs__/cluster-restaurant-candidate-for-bite.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/__specs__/verify-restaurant-candidate.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/cluster-restaurant-candidate-for-bite.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/verify-restaurant-candidate.ts
  apps/bite-tribe-firebase/functions/src/functions/reviews/backfill-review-timestamps.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/__specs__/operator-log.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/operator-log.ts
  apps/bite-tribe-firebase/functions/src/functions/users/__specs__/set-user-subscription-tier.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/users/set-user-roles.ts
  apps/bite-tribe-firebase/functions/src/functions/users/set-user-subscription-tier.ts
  ssot/pages/Architecture - Auth.md
  ssot/pages/Implementation - Firebase Functions.md
  ssot/pages/epic-1471.md
Due: eslint --fix, prettier --write

docs: record the transitional target query for the operator audit trail
  ssot/pages/Architecture - Auth.md
Due: prettier --write

chore(functions): give every operator action one log shape (#1517)
  apps/bite-tribe-firebase/functions/src/__specs__/operator-action-logging.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/bites/enrich-bite-address-on-create.ts
  apps/bite-tribe-firebase/functions/src/functions/notifications/send-new-version-notification.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/__specs__/cluster-restaurant-candidate-for-bite.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/__specs__/verify-restaurant-candidate.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/cluster-restaurant-candidate-for-bite.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/verify-restaurant-candidate.ts
  apps/bite-tribe-firebase/functions/src/functions/reviews/backfill-review-timestamps.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/__specs__/operator-log.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/operator-log.ts
  apps/bite-tribe-firebase/functions/src/functions/users/__specs__/set-user-subscription-tier.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/users/set-user-roles.ts
  apps/bite-tribe-firebase/functions/src/functions/users/set-user-subscription-tier.ts
  ssot/pages/Architecture - Auth.md
  ssot/pages/Implementation - Firebase Functions.md
  ssot/pages/epic-1471.md
Due: eslint --fix, prettier --write

docs: Small adaptions
  ssot/pages/Architecture - Auth.md
  ssot/pages/UC - Own And Claim Restaurants.md
  ssot/pages/User Roles.md
Due: prettier --write

docs: Definition of actogram format and use case format. Specify user roles better and daptions for consistency.
  ssot/pages/Actogram Format.md
  ssot/pages/Agent Operating Contract.md
  ssot/pages/Architecture - Auth.md
  ssot/pages/GitHub Issue Format.md
  ssot/pages/SSOT.md
  ssot/pages/Spec To Code Workflow.md
  ssot/pages/UC - Detect Restaurant Candidate.md
  ssot/pages/UC - Operate BiteTribe In The Admin App.md
  ssot/pages/UC - Own And Claim Restaurants.md
  ssot/pages/UC - Verify Restaurant Candidate.md
  ssot/pages/Use Case Format.md
  ssot/pages/User Roles.md
  ssot/pages/contents.md
Due: prettier --write

docs: adapt ssot and make detect restaurant use case L2.
  .gitignore
  ssot/pages/Actogram Format.md
  ssot/pages/Current State - Open Questions.md
  ssot/pages/GitHub Issue Format.md
  ssot/pages/Glossary.md
  ssot/pages/Recorded Decisions.md
  ssot/pages/SSOT.md
  ssot/pages/UC - Detect Restaurant Candidate.md
  ssot/pages/UC - Verify Restaurant Candidate.md
  ssot/pages/Use Case Format.md
  ssot/pages/User Roles.md
Due: prettier --write

feat(bite-tribe-admin): block and unblock an account
  apps/bite-tribe-admin/src/assets/i18n/en.json
  apps/bite-tribe-firebase/functions/src/__specs__/callable-authorization.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/operator-log.ts
  apps/bite-tribe-firebase/functions/src/functions/users/__specs__/set-user-blocked.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/users/set-user-blocked.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  libs/bite-tribe-admin/user-management/data-access/src/index.ts
  libs/bite-tribe-admin/user-management/data-access/src/lib/__specs__/user-management-data-access.service.spec.ts
  libs/bite-tribe-admin/user-management/data-access/src/lib/admin-user.model.ts
  libs/bite-tribe-admin/user-management/data-access/src/lib/user-management-data-access.service.ts
  libs/bite-tribe-admin/user-management/page/src/lib/component/__specs__/user-management.component.spec.ts
  libs/bite-tribe-admin/user-management/page/src/lib/component/user-management.component.html
  libs/bite-tribe-admin/user-management/page/src/lib/component/user-management.component.scss
  libs/bite-tribe-admin/user-management/page/src/lib/component/user-management.component.ts
  libs/bite-tribe-admin/user-management/page/src/lib/integration/user-management-container.component.ts
  libs/bite-tribe-admin/user-management/page/src/lib/integration/user-management.service.ts
  ssot/pages/Architecture - Auth.md
  ssot/pages/Current State - Known Issues.md
  ssot/pages/UC - Operate BiteTribe In The Admin App.md
  ssot/pages/epic-1471.md
Due: eslint --fix, prettier --write, stylelint --fix

docs: condense the known-issues register from 266 KB to 35 KB
  ssot/pages/Current State - Known Issues.md
Due: prettier --write

feat(bite-tribe-admin): block and unblock an account (#1535)
  apps/bite-tribe-admin/src/assets/i18n/en.json
  apps/bite-tribe-firebase/functions/src/__specs__/callable-authorization.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/operator-log.ts
  apps/bite-tribe-firebase/functions/src/functions/users/__specs__/set-user-blocked.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/users/set-user-blocked.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  libs/bite-tribe-admin/user-management/data-access/src/index.ts
  libs/bite-tribe-admin/user-management/data-access/src/lib/__specs__/user-management-data-access.service.spec.ts
  libs/bite-tribe-admin/user-management/data-access/src/lib/admin-user.model.ts
  libs/bite-tribe-admin/user-management/data-access/src/lib/user-management-data-access.service.ts
  libs/bite-tribe-admin/user-management/page/src/lib/component/__specs__/user-management.component.spec.ts
  libs/bite-tribe-admin/user-management/page/src/lib/component/user-management.component.html
  libs/bite-tribe-admin/user-management/page/src/lib/component/user-management.component.scss
  libs/bite-tribe-admin/user-management/page/src/lib/component/user-management.component.ts
  libs/bite-tribe-admin/user-management/page/src/lib/integration/user-management-container.component.ts
  libs/bite-tribe-admin/user-management/page/src/lib/integration/user-management.service.ts
  ssot/pages/Architecture - Auth.md
  ssot/pages/Current State - Known Issues.md
  ssot/pages/UC - Operate BiteTribe In The Admin App.md
  ssot/pages/epic-1471.md
Due: eslint --fix, prettier --write, stylelint --fix

feat(bite-tribe-admin): delete an improper Bite
  apps/bite-tribe-admin/src/assets/i18n/en.json
  apps/bite-tribe-firebase/functions/src/__specs__/callable-authorization.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/bites/__specs__/delete-bite-as-operator.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/bites/delete-bite-as-operator.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/operator-log.ts
  apps/bite-tribe-firebase/functions/src/functions/users/__specs__/fake-firestore.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  libs/bite-tribe-admin/bites/data-access/src/index.ts
  libs/bite-tribe-admin/bites/data-access/src/lib/__specs__/bite-search-data-access.service.spec.ts
  libs/bite-tribe-admin/bites/data-access/src/lib/bite-search-data-access.service.ts
  libs/bite-tribe-admin/bites/page/src/lib/component/__specs__/bite-search.component.spec.ts
  libs/bite-tribe-admin/bites/page/src/lib/component/bite-search.component.html
  libs/bite-tribe-admin/bites/page/src/lib/component/bite-search.component.scss
  libs/bite-tribe-admin/bites/page/src/lib/component/bite-search.component.ts
  libs/bite-tribe-admin/bites/page/src/lib/integration/__specs__/bite-search.service.spec.ts
  libs/bite-tribe-admin/bites/page/src/lib/integration/bite-search-container.component.ts
  libs/bite-tribe-admin/bites/page/src/lib/integration/bite-search.service.ts
  ssot/pages/Architecture - Auth.md
  ssot/pages/Bite.md
  ssot/pages/Implementation - Firebase Functions.md
  ssot/pages/UC - Operate BiteTribe In The Admin App.md
  ssot/pages/epic-1471.md
Due: eslint --fix, prettier --write, stylelint --fix

feat(bite-tribe-admin): delete an improper Bite (#1536)
  apps/bite-tribe-admin/src/assets/i18n/en.json
  apps/bite-tribe-firebase/functions/src/__specs__/callable-authorization.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/bites/__specs__/delete-bite-as-operator.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/bites/delete-bite-as-operator.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/operator-log.ts
  apps/bite-tribe-firebase/functions/src/functions/users/__specs__/fake-firestore.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  libs/bite-tribe-admin/bites/data-access/src/index.ts
  libs/bite-tribe-admin/bites/data-access/src/lib/__specs__/bite-search-data-access.service.spec.ts
  libs/bite-tribe-admin/bites/data-access/src/lib/bite-search-data-access.service.ts
  libs/bite-tribe-admin/bites/page/src/lib/component/__specs__/bite-search.component.spec.ts
  libs/bite-tribe-admin/bites/page/src/lib/component/bite-search.component.html
  libs/bite-tribe-admin/bites/page/src/lib/component/bite-search.component.scss
  libs/bite-tribe-admin/bites/page/src/lib/component/bite-search.component.ts
  libs/bite-tribe-admin/bites/page/src/lib/integration/__specs__/bite-search.service.spec.ts
  libs/bite-tribe-admin/bites/page/src/lib/integration/bite-search-container.component.ts
  libs/bite-tribe-admin/bites/page/src/lib/integration/bite-search.service.ts
  ssot/pages/Architecture - Auth.md
  ssot/pages/Bite.md
  ssot/pages/Implementation - Firebase Functions.md
  ssot/pages/UC - Operate BiteTribe In The Admin App.md
  ssot/pages/epic-1471.md
Due: eslint --fix, prettier --write, stylelint --fix

docs: rescope restaurant ownership around operator assignment
  ssot/pages/Traceability Map.md
  ssot/pages/UC - Own And Claim Restaurants.md
  ssot/pages/epic-1069.md
Due: prettier --write

feat: add the staff role and admit it to the business app
  apps/bite-tribe-admin/src/assets/i18n/en.json
  apps/bite-tribe-firebase/functions/src/__specs__/role-list-parity.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/__specs__/roles.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/roles.ts
  apps/bite-tribe-firebase/functions/src/functions/users/__specs__/set-user-roles.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/users/set-user-roles.ts
  libs/bite-tribe-admin/shell/src/lib/provide-bite-tribe-admin-shell.ts
  libs/bite-tribe-admin/user-management/page/src/lib/component/__specs__/user-management.component.spec.ts
  libs/bite-tribe-admin/user-management/page/src/lib/component/user-management.component.html
  libs/bite-tribe-admin/user-management/page/src/lib/component/user-management.component.ts
  libs/bite-tribe-business/shell/src/lib/__specs__/routes.spec.ts
  libs/bite-tribe-business/shell/src/lib/provide-bite-tribe-business-shell.ts
  libs/bite-tribe-business/shell/src/lib/routes.ts
  libs/common/ta-firestore/src/lib/__specs__/auth.service.spec.ts
  libs/common/ta-firestore/src/lib/__specs__/role.guard.spec.ts
  libs/common/ta-firestore/src/lib/auth.service.ts
  libs/common/ta-firestore/src/lib/ngrx-store/__specs__/effects.spec.ts
  libs/common/ta-firestore/src/lib/ngrx-store/effects.ts
  libs/common/ta-firestore/src/lib/role.guard.ts
  libs/common/utils/src/lib/__specs__/user-role.spec.ts
  libs/common/utils/src/lib/app-tokens.ts
  libs/common/utils/src/lib/user-role.ts
  ssot/pages/Architecture - Auth.md
Due: eslint --fix, prettier --write

feat: add the staff role and admit it to the business app (#1538)
  apps/bite-tribe-admin/src/assets/i18n/en.json
  apps/bite-tribe-firebase/functions/src/__specs__/role-list-parity.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/__specs__/roles.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/roles.ts
  apps/bite-tribe-firebase/functions/src/functions/users/__specs__/set-user-roles.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/users/set-user-roles.ts
  libs/bite-tribe-admin/shell/src/lib/provide-bite-tribe-admin-shell.ts
  libs/bite-tribe-admin/user-management/page/src/lib/component/__specs__/user-management.component.spec.ts
  libs/bite-tribe-admin/user-management/page/src/lib/component/user-management.component.html
  libs/bite-tribe-admin/user-management/page/src/lib/component/user-management.component.ts
  libs/bite-tribe-business/shell/src/lib/__specs__/routes.spec.ts
  libs/bite-tribe-business/shell/src/lib/provide-bite-tribe-business-shell.ts
  libs/bite-tribe-business/shell/src/lib/routes.ts
  libs/common/ta-firestore/src/lib/__specs__/auth.service.spec.ts
  libs/common/ta-firestore/src/lib/__specs__/role.guard.spec.ts
  libs/common/ta-firestore/src/lib/auth.service.ts
  libs/common/ta-firestore/src/lib/ngrx-store/__specs__/effects.spec.ts
  libs/common/ta-firestore/src/lib/ngrx-store/effects.ts
  libs/common/ta-firestore/src/lib/role.guard.ts
  libs/common/utils/src/lib/__specs__/user-role.spec.ts
  libs/common/utils/src/lib/app-tokens.ts
  libs/common/utils/src/lib/user-role.ts
  ssot/pages/Architecture - Auth.md
  ssot/pages/Traceability Map.md
  ssot/pages/UC - Own And Claim Restaurants.md
  ssot/pages/epic-1069.md
Due: eslint --fix, prettier --write

feat: assign and revoke restaurant ownership (#1077)
  apps/bite-tribe-admin/src/assets/i18n/en.json
  apps/bite-tribe-firebase/functions/src/__specs__/callable-authorization.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/__specs__/restaurant-ownership.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/restaurant-ownership.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/operator-log.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  libs/bite-tribe-admin/dashboard/src/lib/__specs__/admin-dashboard.spec.ts
  libs/bite-tribe-admin/dashboard/src/lib/admin-dashboard.ts
  libs/bite-tribe-admin/restaurants/data-access/src/lib/__specs__/restaurant-ownership-data-access.spec.ts
  libs/bite-tribe-admin/restaurants/data-access/src/lib/restaurants-data-access.service.ts
  libs/bite-tribe-admin/restaurants/page/src/index.ts
  libs/bite-tribe-admin/restaurants/page/src/lib/component/restaurant-ownership/__specs__/restaurant-ownership.spec.ts
  libs/bite-tribe-admin/restaurants/page/src/lib/component/restaurant-ownership/restaurant-ownership.html
  libs/bite-tribe-admin/restaurants/page/src/lib/component/restaurant-ownership/restaurant-ownership.scss
  libs/bite-tribe-admin/restaurants/page/src/lib/component/restaurant-ownership/restaurant-ownership.ts
  libs/bite-tribe-admin/restaurants/page/src/lib/integration/__specs__/restaurant-ownership.service.spec.ts
  libs/bite-tribe-admin/restaurants/page/src/lib/integration/restaurant-ownership-container.ts
  libs/bite-tribe-admin/restaurants/page/src/lib/integration/restaurant-ownership.service.ts
  libs/bite-tribe-admin/shell/src/lib/__specs__/routes.spec.ts
  libs/bite-tribe-admin/shell/src/lib/routes.ts
  libs/bite-tribe-common/model/src/index.ts
  libs/bite-tribe-common/model/src/lib/restaurant-claim.ts
  libs/bite-tribe-common/model/src/lib/restaurant.ts
  ssot/pages/Implementation - Firebase Functions.md
  ssot/pages/Restaurant.md
  ssot/pages/Traceability Map.md
  ssot/pages/UC - Operate BiteTribe In The Admin App.md
  ssot/pages/UC - Own And Claim Restaurants.md
  ssot/pages/epic-1069.md
Due: eslint --fix, prettier --write, stylelint --fix

docs: record what testing 1077 settled and what it exposed
  ssot/pages/Current State - Known Issues.md
  ssot/pages/UC - Own And Claim Restaurants.md
  ssot/pages/epic-1069.md
Due: prettier --write

docs: point the ownership role gap at the issue that now owns it
  ssot/pages/Current State - Known Issues.md
Due: prettier --write

feat: assign and revoke restaurant ownership (#1077) (#1540)
  apps/bite-tribe-admin/src/assets/i18n/en.json
  apps/bite-tribe-firebase/functions/src/__specs__/callable-authorization.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/__specs__/restaurant-ownership.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/restaurant-ownership.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/operator-log.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  libs/bite-tribe-admin/dashboard/src/lib/__specs__/admin-dashboard.spec.ts
  libs/bite-tribe-admin/dashboard/src/lib/admin-dashboard.ts
  libs/bite-tribe-admin/restaurants/data-access/src/lib/__specs__/restaurant-ownership-data-access.spec.ts
  libs/bite-tribe-admin/restaurants/data-access/src/lib/restaurants-data-access.service.ts
  libs/bite-tribe-admin/restaurants/page/src/index.ts
  libs/bite-tribe-admin/restaurants/page/src/lib/component/restaurant-ownership/__specs__/restaurant-ownership.spec.ts
  libs/bite-tribe-admin/restaurants/page/src/lib/component/restaurant-ownership/restaurant-ownership.html
  libs/bite-tribe-admin/restaurants/page/src/lib/component/restaurant-ownership/restaurant-ownership.scss
  libs/bite-tribe-admin/restaurants/page/src/lib/component/restaurant-ownership/restaurant-ownership.ts
  libs/bite-tribe-admin/restaurants/page/src/lib/integration/__specs__/restaurant-ownership.service.spec.ts
  libs/bite-tribe-admin/restaurants/page/src/lib/integration/restaurant-ownership-container.ts
  libs/bite-tribe-admin/restaurants/page/src/lib/integration/restaurant-ownership.service.ts
  libs/bite-tribe-admin/shell/src/lib/__specs__/routes.spec.ts
  libs/bite-tribe-admin/shell/src/lib/routes.ts
  libs/bite-tribe-common/model/src/index.ts
  libs/bite-tribe-common/model/src/lib/restaurant-claim.ts
  libs/bite-tribe-common/model/src/lib/restaurant.ts
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Implementation - Firebase Functions.md
  ssot/pages/Restaurant.md
  ssot/pages/Traceability Map.md
  ssot/pages/UC - Operate BiteTribe In The Admin App.md
  ssot/pages/UC - Own And Claim Restaurants.md
  ssot/pages/epic-1069.md
Due: eslint --fix, prettier --write, stylelint --fix

docs: Adaptions to make use cases L2 and also consistent with the stories in github.
  ssot/pages/Actogram Format.md
  ssot/pages/Current State - Open Questions.md
  ssot/pages/UC - Detect Restaurant Candidate.md
  ssot/pages/UC - Verify Restaurant Candidate.md
  ssot/pages/Use Case Format.md
Due: prettier --write
