Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,html}": "eslint --fix",
  "*.{ts,js,html,scss,json,md}": "prettier --write",
  "*.scss": "stylelint --fix"
}

test: 732 add unit tests
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu/__specs__/business-menu.component.spec.ts
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu/business-menu.component.ts
Due: eslint --fix, prettier --write

style: adjust button style and fix color for empty rating
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/common/ui/star-rating/src/lib/star-rating.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

docs: add missing states for bite component
  libs/bite-tribe-common/bite/src/lib/__specs__/bite.stories.ts
Due: eslint --fix, prettier --write

feat: use language text in original language
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
Due: prettier --write

feat: add "Rate now" quick-rating for unrated user bites in list views (#832)
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe-common/bite/src/lib/__specs__/bite.component.spec.ts
  libs/bite-tribe-common/bite/src/lib/__specs__/bite.stories.ts
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe-common/bite/src/lib/bite.component.ts
  libs/bite-tribe/home/data-access/src/lib/home-data-access.service.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/home/page/src/lib/integration/bucket-list.container.ts
  libs/bite-tribe/home/page/src/lib/integration/home.container.ts
  libs/bite-tribe/home/page/src/lib/integration/home.service.ts
  libs/bite-tribe/home/page/src/lib/integration/my-bites.container.ts
  libs/bite-tribe/home/page/src/lib/integration/restaurant-bites.container.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/__specs__/bite-place.component.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/__specs__/restaurant.component.spec.ts
  libs/common/ui/star-rating/src/lib/star-rating.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: reefresh bite details on return from edit flow (#836)
  libs/bite-tribe/details/page/src/lib/integration/__specs__/details.container.spec.ts
  libs/bite-tribe/details/page/src/lib/integration/details.container.ts
Due: eslint --fix, prettier --write

docs(830): create script development and adapted README.md (#831)
  README.md
  package.json
Due: prettier --write

refactor(732): business cleanup menu editing page (#834)
  apps/bite-tribe-business/project.json
  apps/bite-tribe-firebase/.firebase-export/auth_export/accounts.json
  apps/bite-tribe-firebase/.firebase-export/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
  apps/bite-tribe-firebase/.firebase-export/firestore_export/all_namespaces/all_kinds/output-0
  apps/bite-tribe-firebase/.firebase-export/firestore_export/firestore_export.overall_export_metadata
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/0a675cfe-5fe7-4bbe-b7e4-805bd6f90125
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/52b9e6f3-be4a-4d25-a52d-a52eb012c16d
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/8265c3c8-f373-4e05-bf1c-992635d90a35
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/85eb59c7-8477-4007-ba04-9a14a7a6cf17
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/df0f8a8e-4380-42d6-a5b6-d949274d19d4
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/0a675cfe-5fe7-4bbe-b7e4-805bd6f90125.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/52b9e6f3-be4a-4d25-a52d-a52eb012c16d.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/8265c3c8-f373-4e05-bf1c-992635d90a35.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/85eb59c7-8477-4007-ba04-9a14a7a6cf17.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/df0f8a8e-4380-42d6-a5b6-d949274d19d4.json
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-add-item/__specs__/business-add-item.component.spec.ts
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-add-item/business-add-item.component.html
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-add-item/business-add-item.component.scss
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-add-item/business-add-item.component.ts
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-category/__specs__/business-category.component.spec.ts
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-category/business-category.component.html
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-category/business-category.component.scss
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-category/business-category.component.ts
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item-editor/__specs__/business-menu-variant.component.spec.ts
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item-editor/business-menu-item-editor.component.html
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item-editor/business-menu-item-editor.component.scss
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item-editor/business-menu-variant.component.ts
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item/__specs__/business-menu-item.component.spec.ts
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item/business-menu-item.component.html
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item/business-menu-item.component.scss
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item/business-menu-item.component.ts
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu/__specs__/business-menu.component.spec.ts
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu/business-menu.component.html
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu/business-menu.component.scss
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu/business-menu.component.ts
  libs/bite-tribe-business/edit-menu/page/src/lib/components/page/edit-menu-page.component.html
  libs/bite-tribe-business/edit-menu/page/src/lib/components/page/edit-menu-page.component.ts
  libs/bite-tribe-business/migrations/page/src/lib/component/page/migrations.html
  libs/common/utils/src/lib/add-necessary-icons.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: show avatar fallback icon on broken image in followers/following list (#840)
  libs/bite-tribe/followers/page/src/lib/components/followers-list/__specs__/followers-list.component.spec.ts
  libs/bite-tribe/followers/page/src/lib/components/followers-list/followers-list.component.html
  libs/bite-tribe/followers/page/src/lib/components/followers-list/followers-list.component.ts
  libs/bite-tribe/followers/page/src/lib/components/followers-list/pipes/__specs__/image-errored.pipe.spec.ts
  libs/bite-tribe/followers/page/src/lib/components/followers-list/pipes/image-errored.pipe.ts
Due: eslint --fix, prettier --write

fix: height and width of map in modal
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
Due: eslint --fix, prettier --write

chore: bump app build version
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: none

test: adjust tests
  libs/bite-tribe-common/map/src/lib/map/__specs__/map.component.spec.ts
  libs/bite-tribe-common/map/src/lib/position/__specs__/position.component.spec.ts
Due: eslint --fix, prettier --write

feat: replace inline editable map with "Set manually" modal in bite form (#838)
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe-common/map/src/lib/map/__specs__/map.component.spec.ts
  libs/bite-tribe-common/map/src/lib/map/map.component.ts
  libs/bite-tribe-common/map/src/lib/map/utils/__specs__/create-map.spec.ts
  libs/bite-tribe-common/map/src/lib/map/utils/create-map.ts
  libs/bite-tribe-common/map/src/lib/position/__specs__/position.component.spec.ts
  libs/bite-tribe-common/map/src/lib/position/position.component.ts
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.scss
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
Due: eslint --fix, prettier --write, stylelint --fix

ci: upgrade cache action to v5
  .github/actions/restore-cache/action.yml
  .github/actions/setup/action.yml
  .github/workflows/pipeline.yml
Due: none

ci: update other github actions
  .github/workflows/deploy-bite-tribe-business.yml
  .github/workflows/deploy-cv.yml
  .github/workflows/deploy-storybook.yml
  .github/workflows/pipeline.yml
Due: none

ci: fix BiteTribe action versions and opt workflow into Node 24 runtime (#842)
  .github/actions/restore-cache/action.yml
  .github/actions/setup-env-for-affected/action.yml
  .github/actions/setup/action.yml
  .github/workflows/deploy-bite-tribe-business.yml
  .github/workflows/deploy-cv.yml
  .github/workflows/deploy-storybook.yml
  .github/workflows/pipeline.yml
Due: none

refactor: introduce subfolders for page components
  libs/bite-tribe/restaurant/page/src/lib/components/page/bite-place/__specs__/bite-place.component.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/bite-place/__specs__/bite-place.stories.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/bite-place/bite-place.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/page/bite-place/bite-place.component.scss
  libs/bite-tribe/restaurant/page/src/lib/components/page/bite-place/bite-place.component.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/edit-restaurant/__specs__/edit-restaurant.component.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/edit-restaurant/edit-restaurant.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/page/edit-restaurant/edit-restaurant.component.scss
  libs/bite-tribe/restaurant/page/src/lib/components/page/edit-restaurant/edit-restaurant.component.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant/__specs__/restaurant-b64-image.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant/__specs__/restaurant.component.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant/__specs__/restaurant.stories.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant/restaurant.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant/restaurant.component.scss
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant/restaurant.component.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/edit-restaurant-container.component.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/restaurant-container.component.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/unverified-restaurant-container.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

docs: add new restaurant style and restaurant-image stories
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant/restaurant-design.png
  libs/bite-tribe/restaurant/page/src/lib/components/restaurant-image/__specs__/restaurant-image.stories.ts
Due: eslint --fix, prettier --write

refactor: cleanup
  libs/bite-tribe/restaurant/page/src/lib/components/page/bite-place/bite-place.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/page/bite-place/bite-place.component.scss
  libs/bite-tribe/restaurant/page/src/lib/components/page/bite-place/bite-place.component.ts
  libs/bite-tribe/restaurant/page/src/lib/components/restaurant-image/__specs__/restaurant-image.stories.ts
  libs/bite-tribe/restaurant/page/src/lib/components/restaurant-image/restaurant-image.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/restaurant-image/restaurant-image.component.scss
  libs/bite-tribe/restaurant/page/src/lib/components/restaurant-image/restaurant-image.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

style: implement new design of restaurant page
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant/__specs__/restaurant.stories.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant/restaurant.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant/restaurant.component.scss
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant/restaurant.component.ts
  libs/bite-tribe/restaurant/page/src/lib/components/restaurant-image/restaurant-image.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/restaurant-image/restaurant-image.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

style: further impl of new restaurant page design
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant/restaurant.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant/restaurant.component.scss
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant/restaurant.component.ts
  libs/common/ui/tags/src/lib/tags-input/tags-input.component.html
  libs/common/ui/tags/src/lib/tags-input/tags-input.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

chore: cleanup
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant/restaurant.component.html
Due: eslint --fix, prettier --write

style: impl design for opening hours
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant/restaurant.component.scss
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant/restaurant.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

style(817): implement new design on restaurant page (#851)
  libs/bite-tribe/restaurant/page/src/lib/components/page/bite-place/__specs__/bite-place.component.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/bite-place/__specs__/bite-place.stories.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/bite-place/bite-place.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/page/bite-place/bite-place.component.scss
  libs/bite-tribe/restaurant/page/src/lib/components/page/bite-place/bite-place.component.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/edit-restaurant/__specs__/edit-restaurant.component.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/edit-restaurant/edit-restaurant.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/page/edit-restaurant/edit-restaurant.component.scss
  libs/bite-tribe/restaurant/page/src/lib/components/page/edit-restaurant/edit-restaurant.component.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant/__specs__/restaurant-b64-image.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant/__specs__/restaurant.component.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant/__specs__/restaurant.stories.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant/restaurant-design.png
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant/restaurant.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant/restaurant.component.scss
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant/restaurant.component.ts
  libs/bite-tribe/restaurant/page/src/lib/components/restaurant-image/__specs__/restaurant-image.stories.ts
  libs/bite-tribe/restaurant/page/src/lib/components/restaurant-image/restaurant-image.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/restaurant-image/restaurant-image.component.scss
  libs/bite-tribe/restaurant/page/src/lib/components/restaurant-image/restaurant-image.component.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/edit-restaurant-container.component.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/restaurant-container.component.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/unverified-restaurant-container.component.ts
  libs/common/ui/tags/src/lib/tags-input/tags-input.component.html
  libs/common/ui/tags/src/lib/tags-input/tags-input.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: sort followers/following list alphabetically by display name (#852)
  libs/bite-tribe/followers/page/src/lib/components/followers-list/__specs__/followers-list.component.spec.ts
  libs/bite-tribe/followers/page/src/lib/components/followers-list/followers-list.component.html
  libs/bite-tribe/followers/page/src/lib/components/followers-list/followers-list.component.ts
Due: eslint --fix, prettier --write

feat: add localized success toasts when bite is created, edited, deleted, and image is uploaded (#854)
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/store/src/lib/bites/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/bites/effects.ts
Due: eslint --fix, prettier --write

feat(#856): localize review compartment labels in Bite details UI (#856)
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.ts
Due: eslint --fix, prettier --write

refactor: split logic of generic method to specific methods
  libs/bite-tribe-business/restaurant/data-access/src/lib/restaurant-data-access.service.ts
  libs/bite-tribe/bite/data-access/src/lib/bite-data-access.service.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite.service.ts
  libs/bite-tribe/home/data-access/src/lib/home-data-access.service.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/utils/__specs__/get-action-by-doc-type.spec.ts
  libs/bite-tribe/store/src/lib/utils/get-action-by-doc-type.ts
Due: eslint --fix, prettier --write

chore: convert to async function
  libs/bite-tribe/bite/data-access/src/lib/bite-data-access.service.ts
Due: eslint --fix, prettier --write

test: adjust tests
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
  libs/bite-tribe/bite/page/src/lib/integration/__specs__/bite.service.spec.ts
  libs/bite-tribe/bite/page/src/lib/integration/__specs__/create-bite.container.spec.ts
  libs/bite-tribe/store/src/lib/__specs__/bite-tribe-store.service.spec.ts
Due: eslint --fix, prettier --write

refactor: move bite create and image upload to data-access layer
  libs/bite-tribe/bite/data-access/src/lib/bite-data-access.service.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/bites/actions.ts
  libs/bite-tribe/store/src/lib/bites/effects.ts
Due: eslint --fix, prettier --write

refactor: cleanup
  libs/bite-tribe/bite/data-access/src/lib/bite-data-access.service.ts
Due: eslint --fix, prettier --write

refactor: fix upload method in data-access layer
  libs/bite-tribe/bite/data-access/src/lib/bite-data-access.service.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/bites/effects.ts
Due: eslint --fix, prettier --write

refactor: cleanup
  libs/bite-tribe/store/src/lib/bites/actions.ts
  libs/bite-tribe/store/src/lib/bites/effects.ts
Due: eslint --fix, prettier --write

refactor: remove image upload state from redux store
  libs/bite-tribe/bite/data-access/src/lib/bite-data-access.service.ts
  libs/bite-tribe/details/data-access/src/lib/details-data-access.service.ts
  libs/bite-tribe/home/data-access/src/lib/home-data-access.service.ts
  libs/bite-tribe/store/src/index.ts
  libs/bite-tribe/store/src/lib/app/app-slice.model.ts
  libs/bite-tribe/store/src/lib/app/reducer.ts
  libs/bite-tribe/store/src/lib/app/selectors.ts
  libs/bite-tribe/store/src/lib/bite-image-upload-state.service.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/bites/actions.ts
  libs/bite-tribe/store/src/lib/bites/effects.ts
Due: eslint --fix, prettier --write

fix(858): Localize “Edit Bite” CTA on details page (#858)
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.spec.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
Due: eslint --fix, prettier --write

refactor: remove loading state from bite
  libs/bite-tribe-common/bite/src/lib/__specs__/bite.stories.ts
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe-common/bite/src/lib/bite.component.scss
  libs/bite-tribe-common/bite/src/lib/bite.component.ts
  libs/bite-tribe-common/bite/src/lib/pipes/get-image.pipe.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor: remove upload state of bite card
  libs/bite-tribe/bite/data-access/src/lib/bite-data-access.service.ts
  libs/bite-tribe/details/data-access/src/lib/details-data-access.service.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.ts
  libs/bite-tribe/details/page/src/lib/integration/details.container.ts
  libs/bite-tribe/details/page/src/lib/integration/details.service.ts
  libs/bite-tribe/home/data-access/src/lib/home-data-access.service.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/home/page/src/lib/integration/home.container.ts
  libs/bite-tribe/home/page/src/lib/integration/home.service.ts
  libs/bite-tribe/store/src/index.ts
  libs/bite-tribe/store/src/lib/bite-image-upload-state.service.ts
Due: eslint --fix, prettier --write

refactor: hold upload state in bite-data-access layer
  libs/bite-tribe/bite/data-access/src/lib/bite-data-access.service.ts
Due: eslint --fix, prettier --write

feat: introduce loading comp when creating a bite
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/bite/data-access/src/lib/bite-data-access.service.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/integration/bite.service.ts
Due: eslint --fix, prettier --write
