Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,html}": "eslint --fix",
  "*.{ts,js,html,scss,json,md}": "prettier --write",
  "*.scss": "stylelint --fix"
}

fix: add icon to addNecessaryIcons function
  .github/copilot-instructions.md
  libs/common/utils/src/lib/add-necessary-icons.ts
Due: eslint --fix, prettier --write

chore: sync package-lock.json
  .github/copilot-instructions.md
  libs/bite-tribe/market-place/data-access/README.md
  libs/bite-tribe/market-place/data-access/src/test-setup.ts
  libs/bite-tribe/market-place/page/README.md
  libs/bite-tribe/market-place/page/src/test-setup.ts
  package-lock.json
Due: eslint --fix, prettier --write

feat: reorder menu items
  libs/common/ui/page/src/lib/menu/menu.component.html
Due: eslint --fix, prettier --write

feat: base setup for market place (#662)
  .github/copilot-instructions.md
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/home/page/src/lib/integration/__specs__/home.service.spec.ts
  libs/bite-tribe/home/page/src/lib/integration/home.container.ts
  libs/bite-tribe/home/page/src/lib/integration/home.service.ts
  libs/bite-tribe/market-place/data-access/README.md
  libs/bite-tribe/market-place/data-access/eslint.config.mjs
  libs/bite-tribe/market-place/data-access/jest.config.cts
  libs/bite-tribe/market-place/data-access/project.json
  libs/bite-tribe/market-place/data-access/src/index.ts
  libs/bite-tribe/market-place/data-access/src/lib/market-place-data-access.service.ts
  libs/bite-tribe/market-place/data-access/src/test-setup.ts
  libs/bite-tribe/market-place/data-access/tsconfig.json
  libs/bite-tribe/market-place/data-access/tsconfig.lib.json
  libs/bite-tribe/market-place/data-access/tsconfig.spec.json
  libs/bite-tribe/market-place/page/README.md
  libs/bite-tribe/market-place/page/eslint.config.mjs
  libs/bite-tribe/market-place/page/jest.config.cts
  libs/bite-tribe/market-place/page/project.json
  libs/bite-tribe/market-place/page/src/index.ts
  libs/bite-tribe/market-place/page/src/lib/components/market-place-page/market-place.page.html
  libs/bite-tribe/market-place/page/src/lib/components/market-place-page/market-place.page.scss
  libs/bite-tribe/market-place/page/src/lib/components/market-place-page/market-place.page.ts
  libs/bite-tribe/market-place/page/src/lib/integration/__specs__/market-place-container.component.spec.ts
  libs/bite-tribe/market-place/page/src/lib/integration/market-place-container.component.ts
  libs/bite-tribe/market-place/page/src/lib/integration/market-place.service.ts
  libs/bite-tribe/market-place/page/src/test-setup.ts
  libs/bite-tribe/market-place/page/tsconfig.json
  libs/bite-tribe/market-place/page/tsconfig.lib.json
  libs/bite-tribe/market-place/page/tsconfig.spec.json
  libs/bite-tribe/shell/src/lib/routes.ts
  libs/common/ui/page/src/lib/menu/menu.component.html
  libs/common/ui/page/src/lib/menu/menu.component.ts
  libs/common/ui/page/src/lib/page.component.ts
  libs/common/utils/src/lib/add-necessary-icons.ts
  libs/common/utils/src/lib/paths.ts
  package-lock.json
  tsconfig.base.json
Due: eslint --fix, prettier --write, stylelint --fix

style: adjust styling
  libs/bite-tribe/market-place/page/src/lib/components/market-place-page/market-place.page.html
  package-lock.json
Due: eslint --fix, prettier --write

feat(#666): Add loading of bite trails for market place page (#666)
  libs/bite-tribe-common/model/src/index.ts
  libs/bite-tribe-common/model/src/lib/bite-trail.ts
  libs/bite-tribe/market-place/data-access/src/lib/__specs__/market-place-data-access.service.spec.ts
  libs/bite-tribe/market-place/data-access/src/lib/market-place-data-access.service.ts
  libs/bite-tribe/market-place/page/src/lib/components/market-place-page/market-place.page.html
  libs/bite-tribe/market-place/page/src/lib/components/market-place-page/market-place.page.ts
  libs/bite-tribe/market-place/page/src/lib/integration/market-place-container.component.ts
  libs/bite-tribe/market-place/page/src/lib/integration/market-place.service.ts
Due: eslint --fix, prettier --write

refactor: 408 changes from copilot review
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe/details/data-access/src/lib/details-data-access.service.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/details/page/src/lib/integration/details.service.ts
  libs/bite-tribe/store/src/lib/__specs__/bite-tribe-store.service.spec.ts
Due: eslint --fix, prettier --write

test: 408 add unit test
  libs/bite-tribe/details/page/src/lib/integration/__specs__/details.service.spec.ts
Due: eslint --fix, prettier --write

feat: 615 change layout for login page
  libs/common/ui/auth/src/lib/components/login/login.component.html
  libs/common/ui/auth/src/lib/components/login/login.component.scss
  libs/common/ui/auth/src/lib/components/login/login.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: 615 prioritize sign up button over login button
  libs/common/ui/auth/src/lib/components/login/login.component.html
Due: eslint --fix, prettier --write

feat: 615 change password icon color
  libs/common/ui/auth/src/lib/components/login/login.component.html
Due: eslint --fix, prettier --write

fix: 615 fix typo
  libs/common/ui/auth/src/lib/components/login/login.component.html
Due: eslint --fix, prettier --write

test: 408 add unit tests
  libs/bite-tribe/restaurant/page/src/lib/integration/__specs__/edit-restaurant-container.component.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/__specs__/restaurant.service.spec.ts
Due: eslint --fix, prettier --write

style(615): style user wants to align the UI elements on login page with create bite page (#668)
  libs/common/ui/auth/src/lib/components/login/login.component.html
  libs/common/ui/auth/src/lib/components/login/login.component.scss
  libs/common/ui/auth/src/lib/components/login/login.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat(#408): create bite from bucket list (#663)
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe-common/styles/_globals.scss
  libs/bite-tribe/details/data-access/src/lib/__specs__/details-data-access.service.spec.ts
  libs/bite-tribe/details/data-access/src/lib/details-data-access.service.ts
  libs/bite-tribe/details/page/src/lib/components/bucket-list-selection/__specs__/bucket-list-selection.component.spec.ts
  libs/bite-tribe/details/page/src/lib/components/bucket-list-selection/bucket-list-selection.component.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.spec.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.scss
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.ts
  libs/bite-tribe/details/page/src/lib/integration/__specs__/details.service.spec.ts
  libs/bite-tribe/details/page/src/lib/integration/details.container.ts
  libs/bite-tribe/details/page/src/lib/integration/details.service.ts
  libs/bite-tribe/details/page/src/lib/pipes/__specs__/get-bucketlist-icon.pipe.spec.ts
  libs/bite-tribe/details/page/src/lib/pipes/__specs__/get-bucketlists-icon.pipe.spec.ts
  libs/bite-tribe/details/page/src/lib/pipes/get-bucketlist-icon.pipe.ts
  libs/bite-tribe/details/page/src/lib/pipes/get-bucketlists-icon.pipe.ts
  libs/bite-tribe/menu/data-access/src/lib/menu-data-access.service.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/__specs__/edit-restaurant-container.component.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/__specs__/restaurant.service.spec.ts
  libs/bite-tribe/store/src/lib/__specs__/bite-tribe-store.service.spec.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: generate bucket list and bite trail for dev
  apps/bite-tribe-firebase/.firebase-export/auth_export/accounts.json
  apps/bite-tribe-firebase/.firebase-export/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
  apps/bite-tribe-firebase/.firebase-export/firestore_export/all_namespaces/all_kinds/output-0
  apps/bite-tribe-firebase/.firebase-export/firestore_export/firestore_export.overall_export_metadata
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/139be173-0458-42b9-9052-7b9d59bd717f
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/73ff7522-cab2-461d-a7a4-705510e3ff39
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/ccf94ef1-9f48-4015-bb2c-7705d16796cd
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/139be173-0458-42b9-9052-7b9d59bd717f.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/73ff7522-cab2-461d-a7a4-705510e3ff39.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/ccf94ef1-9f48-4015-bb2c-7705d16796cd.json
  libs/bite-tribe/details/page/src/lib/components/bucket-list-selection/bucket-list-selection.component.ts
Due: eslint --fix, prettier --write

style: fix broken layout on edit bucket list page
  libs/bite-tribe/bucketlist/page/src/lib/components/edit-bucketlist-page/edit-bucketlist.page.scss
Due: prettier --write, stylelint --fix

refactor: prepare bite trail component
  libs/bite-tribe-common/bite-trail/README.md
  libs/bite-tribe-common/bite-trail/eslint.config.mjs
  libs/bite-tribe-common/bite-trail/jest.config.cts
  libs/bite-tribe-common/bite-trail/project.json
  libs/bite-tribe-common/bite-trail/src/index.ts
  libs/bite-tribe-common/bite-trail/src/lib/bite-trail/bite-trail.css
  libs/bite-tribe-common/bite-trail/src/lib/bite-trail/bite-trail.html
  libs/bite-tribe-common/bite-trail/src/lib/bite-trail/bite-trail.spec.ts
  libs/bite-tribe-common/bite-trail/src/lib/bite-trail/bite-trail.ts
  libs/bite-tribe-common/bite-trail/src/test-setup.ts
  libs/bite-tribe-common/bite-trail/tsconfig.json
  libs/bite-tribe-common/bite-trail/tsconfig.lib.json
  libs/bite-tribe-common/bite-trail/tsconfig.spec.json
  libs/bite-tribe-common/bite/src/lib/bite.component.ts
  tsconfig.base.json
Due: eslint --fix, prettier --write

feat: initial version of bite trail
  apps/bite-tribe-firebase/.firebase-export/auth_export/accounts.json
  apps/bite-tribe-firebase/.firebase-export/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
  apps/bite-tribe-firebase/.firebase-export/firestore_export/all_namespaces/all_kinds/output-0
  apps/bite-tribe-firebase/.firebase-export/firestore_export/firestore_export.overall_export_metadata
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/5cceaa2b-6328-4a73-90db-83b28d450ce6
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/7249adba-e92a-4053-a6ab-8daffe2ae13e
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/846ca2cb-ccca-4e5a-aecd-f009e4f77678
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/a5b04c82-af77-4b74-975a-6991daafcd09
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/5cceaa2b-6328-4a73-90db-83b28d450ce6.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/7249adba-e92a-4053-a6ab-8daffe2ae13e.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/846ca2cb-ccca-4e5a-aecd-f009e4f77678.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/a5b04c82-af77-4b74-975a-6991daafcd09.json
  libs/bite-tribe-common/bite-trail/src/lib/bite-trail/bite-trail.css
  libs/bite-tribe-common/bite-trail/src/lib/bite-trail/bite-trail.html
  libs/bite-tribe-common/bite-trail/src/lib/bite-trail/bite-trail.scss
  libs/bite-tribe-common/bite-trail/src/lib/bite-trail/bite-trail.ts
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe-common/bite/src/lib/bite.component.scss
  libs/bite-tribe-common/model/src/lib/bite-trail.ts
  libs/bite-tribe/market-place/page/src/lib/components/market-place-page/market-place.page.html
  libs/bite-tribe/market-place/page/src/lib/components/market-place-page/market-place.page.ts
  libs/common/utils/src/lib/add-necessary-icons.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: finish first version of bite trail
  libs/bite-tribe-common/bite-trail/src/lib/bite-trail/bite-trail.html
Due: eslint --fix, prettier --write

test: fix test
  libs/bite-tribe-common/bite-trail/src/lib/bite-trail/bite-trail.spec.ts
  libs/bite-tribe-common/bite-trail/src/lib/bite-trail/bite-trail.ts
Due: eslint --fix, prettier --write

chore: revert pre-push file renaming from copilot
  .husky/pre-push
Due: none

chore: cleanup
  libs/bite-tribe-common/bite-trail/src/lib/bite-trail/bite-trail.html
  libs/bite-tribe-common/model/src/lib/bite-trail.ts
Due: eslint --fix, prettier --write

style(#670): align edit profile page form fields with rest of app (#670)
  libs/bite-tribe/profile/page/src/lib/components/edit-profile-page/edit-profile.page.html
  libs/bite-tribe/profile/page/src/lib/components/edit-profile-page/edit-profile.page.scss
Due: eslint --fix, prettier --write, stylelint --fix

chore: bump build version
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: none

chore: bump build version (#672)
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: none

feat(#667): implement bite trail example (#671)
  apps/bite-tribe-firebase/.firebase-export/auth_export/accounts.json
  apps/bite-tribe-firebase/.firebase-export/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
  apps/bite-tribe-firebase/.firebase-export/firestore_export/all_namespaces/all_kinds/output-0
  apps/bite-tribe-firebase/.firebase-export/firestore_export/firestore_export.overall_export_metadata
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/5cceaa2b-6328-4a73-90db-83b28d450ce6
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/7249adba-e92a-4053-a6ab-8daffe2ae13e
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/846ca2cb-ccca-4e5a-aecd-f009e4f77678
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/a5b04c82-af77-4b74-975a-6991daafcd09
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/5cceaa2b-6328-4a73-90db-83b28d450ce6.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/7249adba-e92a-4053-a6ab-8daffe2ae13e.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/846ca2cb-ccca-4e5a-aecd-f009e4f77678.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/a5b04c82-af77-4b74-975a-6991daafcd09.json
  libs/bite-tribe-common/bite-trail/README.md
  libs/bite-tribe-common/bite-trail/eslint.config.mjs
  libs/bite-tribe-common/bite-trail/jest.config.cts
  libs/bite-tribe-common/bite-trail/project.json
  libs/bite-tribe-common/bite-trail/src/index.ts
  libs/bite-tribe-common/bite-trail/src/lib/bite-trail/bite-trail.html
  libs/bite-tribe-common/bite-trail/src/lib/bite-trail/bite-trail.scss
  libs/bite-tribe-common/bite-trail/src/lib/bite-trail/bite-trail.spec.ts
  libs/bite-tribe-common/bite-trail/src/lib/bite-trail/bite-trail.ts
  libs/bite-tribe-common/bite-trail/src/test-setup.ts
  libs/bite-tribe-common/bite-trail/tsconfig.json
  libs/bite-tribe-common/bite-trail/tsconfig.lib.json
  libs/bite-tribe-common/bite-trail/tsconfig.spec.json
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe-common/bite/src/lib/bite.component.scss
  libs/bite-tribe-common/bite/src/lib/bite.component.ts
  libs/bite-tribe-common/model/src/lib/bite-trail.ts
  libs/bite-tribe/bucketlist/page/src/lib/components/edit-bucketlist-page/edit-bucketlist.page.scss
  libs/bite-tribe/details/page/src/lib/components/bucket-list-selection/bucket-list-selection.component.ts
  libs/bite-tribe/market-place/page/src/lib/components/market-place-page/market-place.page.html
  libs/bite-tribe/market-place/page/src/lib/components/market-place-page/market-place.page.ts
  libs/common/utils/src/lib/add-necessary-icons.ts
  tsconfig.base.json
Due: eslint --fix, prettier --write, stylelint --fix

feat: take currency and price from entity
  libs/bite-tribe-common/bite-trail/src/lib/bite-trail/bite-trail.html
  libs/bite-tribe-common/bite-trail/src/lib/bite-trail/bite-trail.ts
  libs/bite-tribe-common/model/src/lib/bite-trail.ts
Due: eslint --fix, prettier --write

feat: navigate to profile of bite trail owner
  libs/bite-tribe-common/bite-trail/src/lib/bite-trail/bite-trail.html
  libs/bite-tribe-common/bite-trail/src/lib/bite-trail/bite-trail.ts
  libs/bite-tribe/market-place/page/src/lib/components/market-place-page/market-place.page.html
  libs/bite-tribe/market-place/page/src/lib/components/market-place-page/market-place.page.ts
  libs/bite-tribe/market-place/page/src/lib/integration/market-place.service.ts
Due: eslint --fix, prettier --write

feat(#673): read price from entity and click navigation to owner profile (#675)
  libs/bite-tribe-common/bite-trail/src/lib/bite-trail/bite-trail.html
  libs/bite-tribe-common/bite-trail/src/lib/bite-trail/bite-trail.ts
  libs/bite-tribe-common/model/src/lib/bite-trail.ts
  libs/bite-tribe/market-place/page/src/lib/components/market-place-page/market-place.page.html
  libs/bite-tribe/market-place/page/src/lib/components/market-place-page/market-place.page.ts
  libs/bite-tribe/market-place/page/src/lib/integration/market-place.service.ts
Due: eslint --fix, prettier --write

fix: styling of free label on bite trail
  libs/bite-tribe-common/bite-trail/src/lib/bite-trail/bite-trail.html
Due: eslint --fix, prettier --write

revert: revert deleting pre-push hook
  .husky/pre-push
Due: none

fix: fix mod of pre-push hood
  .husky/pre-push
Due: none

refactor: remove unnecessary stuff
  libs/bite-tribe/bite-trail/data-access/src/lib/bite-trail-data-access.service.ts
  libs/bite-tribe/bite-trail/page/src/lib/components/bite-trail-bites-page/bite-trail-bites.page.html
  libs/bite-tribe/bite-trail/page/src/lib/components/bite-trail-bites-page/bite-trail-bites.page.scss
  libs/bite-tribe/bite-trail/page/src/lib/components/bite-trail-bites-page/bite-trail-bites.page.ts
  libs/bite-tribe/bite-trail/page/src/lib/integration/bite-trail.container.ts
  libs/bite-tribe/bite-trail/page/src/lib/integration/bite-trail.service.ts
  libs/bite-tribe/map/page/src/lib/integration/map.service.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: adjustments
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe-common/bite/src/lib/bite.component.ts
  libs/bite-tribe/bite-trail/page/src/lib/components/bite-trail-bites-page/__specs__/bite-trail-bites.page.spec.ts
  libs/bite-tribe/bite-trail/page/src/lib/components/bite-trail-bites-page/bite-trail-bites.page.html
  libs/bite-tribe/bite-trail/page/src/lib/components/bite-trail-bites-page/bite-trail-bites.page.scss
  libs/bite-tribe/bite-trail/page/src/lib/integration/__specs__/bite-trail.service.spec.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

test: add missing tests
  libs/bite-tribe/market-place/page/src/lib/integration/__specs__/market-place.service.spec.ts
Due: eslint --fix, prettier --write

test: adjust tests
  libs/bite-tribe/bite-trail/data-access/src/lib/__specs__/bite-trail-data-access.service.spec.ts
  libs/bite-tribe/bite-trail/data-access/src/lib/bite-trail-data-access.service.ts
Due: eslint --fix, prettier --write

chore: cleanup
  libs/bite-tribe/bite-trail/page/src/lib/integration/__specs__/bite-trail.service.spec.ts
  package-lock.json
Due: eslint --fix, prettier --write

chore: dedup
  package-lock.json
Due: prettier --write

chore: npm audit and firebase record
  apps/bite-tribe-firebase/.firebase-export/auth_export/accounts.json
  apps/bite-tribe-firebase/.firebase-export/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
  apps/bite-tribe-firebase/.firebase-export/firestore_export/all_namespaces/all_kinds/output-0
  apps/bite-tribe-firebase/.firebase-export/firestore_export/firestore_export.overall_export_metadata
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/7d023901-1cbc-4788-8b78-d396f9018854
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/98459db5-0c85-4cdd-a5dc-6b0254a366be
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/af67fdca-f6e4-41bb-823d-e8039f0f1ede
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/e41a6c83-8698-4a22-9361-c155ef439e35
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/7d023901-1cbc-4788-8b78-d396f9018854.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/98459db5-0c85-4cdd-a5dc-6b0254a366be.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/af67fdca-f6e4-41bb-823d-e8039f0f1ede.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/e41a6c83-8698-4a22-9361-c155ef439e35.json
  package-lock.json
Due: prettier --write
