Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

refactor(most-searched.service.ts): renamed collection in firestore
  libs/prices/firestore/feature/src/lib/most-searched.service.ts
Due: eslint --fix, prettier --write

refactor: rename most-searched-items service to prices service
  libs/prices/firestore/feature/src/index.ts
  libs/prices/firestore/feature/src/lib/prices.service.ts
  libs/prices/store/feature/src/lib/mostSearched/effects.ts
Due: eslint --fix, prettier --write

refactor(most-searched.service.ts): renamed collection in firestore (#132)
  libs/prices/firestore/feature/src/index.ts
  libs/prices/firestore/feature/src/lib/prices.service.ts
  libs/prices/store/feature/src/lib/mostSearched/effects.ts
Due: eslint --fix, prettier --write

build: update nx to 15.0.5
  package-lock.json
  package.json
Due: prettier --write

build: update nx to 15.0.5 (#134)
  package-lock.json
  package.json
Due: prettier --write

build: fix version of angular/pwa dependency
  package-lock.json
  package.json
Due: prettier --write

chore(project.json): add manifest.webmanifest to assets
  apps/prices/project.json
Due: prettier --write

build: fix version of angular/pwa dependency (#135)
  package-lock.json
  package.json
Due: prettier --write

chore(project.json): add manifest.webmanifest to assets (#136)
  apps/prices/project.json
Due: prettier --write

chore: update nx
  docs/NX.md
  package-lock.json
  package.json
Due: prettier --write

chore: update package-lock
  package-lock.json
Due: prettier --write

chore: clean up diff to a new workspace
  .gitignore
  nx.json
  package-lock.json
  package.json
Due: prettier --write

feat(kosaml): generate app for kosaml project
  apps/kosaml-e2e/.eslintrc.json
  apps/kosaml-e2e/cypress.json
  apps/kosaml-e2e/project.json
  apps/kosaml-e2e/src/fixtures/example.json
  apps/kosaml-e2e/src/integration/app.spec.ts
  apps/kosaml-e2e/src/support/app.po.ts
  apps/kosaml-e2e/src/support/commands.ts
  apps/kosaml-e2e/src/support/index.ts
  apps/kosaml-e2e/tsconfig.json
  apps/kosaml/.browserslistrc
  apps/kosaml/.eslintrc.json
  apps/kosaml/jest.config.ts
  apps/kosaml/project.json
  apps/kosaml/src/app/app.component.html
  apps/kosaml/src/app/app.component.scss
  apps/kosaml/src/app/app.component.spec.ts
  apps/kosaml/src/app/app.component.ts
  apps/kosaml/src/app/app.module.ts
  apps/kosaml/src/app/app.routes.ts
  apps/kosaml/src/app/nx-welcome.component.ts
  apps/kosaml/src/assets/.gitkeep
  apps/kosaml/src/environments/environment.prod.ts
  apps/kosaml/src/environments/environment.ts
  apps/kosaml/src/favicon.ico
  apps/kosaml/src/index.html
  apps/kosaml/src/main.ts
  apps/kosaml/src/polyfills.ts
  apps/kosaml/src/styles.scss
  apps/kosaml/src/test-setup.ts
  apps/kosaml/tsconfig.app.json
  apps/kosaml/tsconfig.editor.json
  apps/kosaml/tsconfig.json
  apps/kosaml/tsconfig.spec.json
  package-lock.json
  package.json
  workspace.json
Due: eslint --fix, prettier --write

chore(kosaml): generate shell lib for kosaml
  apps/kosaml/src/app/__specs__/app.component.spec.ts
  apps/kosaml/src/app/app.component.html
  apps/kosaml/src/app/app.component.scss
  apps/kosaml/src/app/app.module.ts
  apps/kosaml/src/app/app.routes.ts
  apps/kosaml/src/app/nx-welcome.component.ts
  libs/kosaml/shell/feature/.eslintrc.json
  libs/kosaml/shell/feature/README.md
  libs/kosaml/shell/feature/jest.config.ts
  libs/kosaml/shell/feature/project.json
  libs/kosaml/shell/feature/src/index.ts
  libs/kosaml/shell/feature/src/lib/kosaml-shell-feature.module.ts
  libs/kosaml/shell/feature/src/test-setup.ts
  libs/kosaml/shell/feature/tsconfig.json
  libs/kosaml/shell/feature/tsconfig.lib.json
  libs/kosaml/shell/feature/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Due: eslint --fix, prettier --write

chore: execute npm i to synchronize package and package-lock
  package-lock.json
Due: prettier --write

chore(kosaml): setup routing in kosaml shell module
  apps/kosaml/src/app/app.component.ts
  apps/kosaml/src/app/app.module.ts
  libs/kosaml/shell/feature/src/index.ts
  libs/kosaml/shell/feature/src/lib/kosaml-shell-feature.module.ts
  libs/kosaml/shell/feature/src/lib/kosaml-shell-routing.module.ts
  libs/kosaml/shell/feature/src/lib/kosaml-shell.module.ts
Due: eslint --fix, prettier --write

ci(kosaml): exclude kosaml from pipeline for now
  .github/workflows/pipeline.yml
Due: none

test(prices): fix loki tests
  apps/prices/.loki/reference/chrome_iphone7_Components_Card_Empty.png
  apps/prices/.loki/reference/chrome_iphone7_Components_Card_Primary.png
  apps/prices/.loki/reference/chrome_iphone7_Pages_Add_Item_Primary.png
  apps/prices/.loki/reference/chrome_iphone7_Pages_Auth_Primary.png
  apps/prices/.loki/reference/chrome_iphone7_Pages_Home_Primary.png
  apps/prices/.loki/reference/chrome_iphone7_Pages_Registration_Primary.png
Due: none

chore(prices): upgrade cypress
  apps/kosaml-e2e/cypress.config.ts
  apps/kosaml-e2e/cypress.json
  apps/kosaml-e2e/project.json
  apps/kosaml-e2e/src/e2e/app.cy.ts
  apps/kosaml-e2e/src/support/e2e.ts
  apps/kosaml-e2e/tsconfig.json
  apps/prices-e2e/cypress.config.ts
  apps/prices-e2e/cypress.json
  apps/prices-e2e/project.json
  apps/prices-e2e/src/e2e/login.cy.ts
  apps/prices-e2e/src/support/e2e.ts
  apps/prices-e2e/tsconfig.json
Due: eslint --fix, prettier --write

feat(prices): add google sign in to auth page
  libs/prices/auth/feature/src/lib/components/auth.component.html
  libs/prices/auth/feature/src/lib/components/auth.component.scss
  libs/prices/auth/feature/src/lib/components/auth.component.ts
  libs/prices/auth/feature/src/lib/integration/auth-container.component.ts
  libs/prices/auth/feature/src/lib/integration/auth.service.ts
  libs/prices/firestore/feature/src/lib/auth.service.ts
  libs/prices/registration/feature/src/lib/components/registration.component.scss
  libs/prices/store/feature/src/lib/auth/actions.ts
  libs/prices/store/feature/src/lib/auth/effects.ts
  libs/prices/store/feature/src/lib/auth/index.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

test: fix loki test
  apps/prices/.loki/reference/chrome_iphone7_Pages_Auth_Primary.png
  libs/prices/firestore/feature/src/lib/auth.service.ts
Due: eslint --fix, prettier --write

feat: enable firestore persistence
  libs/prices/firestore/feature/src/lib/firestore-feature.module.ts
Due: eslint --fix, prettier --write

fix: fix configuration of AngularFirestoreModule.enablePersistence
  libs/prices/firestore/feature/src/lib/firestore-feature.module.ts
Due: eslint --fix, prettier --write

test: add missing test
  libs/prices/auth/feature/src/lib/__specs__/auth.component.spec.ts
  libs/prices/auth/feature/src/lib/components/auth.component.ts
Due: eslint --fix, prettier --write

test: add default should create test for auth service
  libs/prices/auth/feature/src/lib/__specs__/auth.service.spec.ts
Due: eslint --fix, prettier --write

test: add auth-container.component.ts
  libs/prices/auth/feature/src/lib/__specs__/auth-container.component.spec.ts
Due: eslint --fix, prettier --write

test: add test for onSignupWithGoogle
  libs/prices/auth/feature/src/lib/__specs__/auth-container.component.spec.ts
Due: eslint --fix, prettier --write

chore: cleanup
  libs/prices/auth/feature/src/lib/__specs__/auth.service.spec.ts
Due: eslint --fix, prettier --write

feat(prices): add google sign in to auth page (#139)
  apps/prices/.loki/reference/chrome_iphone7_Pages_Auth_Primary.png
  libs/prices/auth/feature/src/lib/__specs__/auth-container.component.spec.ts
  libs/prices/auth/feature/src/lib/__specs__/auth.component.spec.ts
  libs/prices/auth/feature/src/lib/__specs__/auth.service.spec.ts
  libs/prices/auth/feature/src/lib/components/auth.component.html
  libs/prices/auth/feature/src/lib/components/auth.component.scss
  libs/prices/auth/feature/src/lib/components/auth.component.ts
  libs/prices/auth/feature/src/lib/integration/auth-container.component.ts
  libs/prices/auth/feature/src/lib/integration/auth.service.ts
  libs/prices/firestore/feature/src/lib/auth.service.ts
  libs/prices/firestore/feature/src/lib/firestore-feature.module.ts
  libs/prices/registration/feature/src/lib/components/registration.component.scss
  libs/prices/store/feature/src/lib/auth/actions.ts
  libs/prices/store/feature/src/lib/auth/effects.ts
  libs/prices/store/feature/src/lib/auth/index.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

chore: fix package-lock.json
  package-lock.json
Due: prettier --write

test: fix loki tests
  apps/prices/.loki/reference/chrome_iphone7_Components_Card_Empty.png
  apps/prices/.loki/reference/chrome_iphone7_Components_Card_Primary.png
  apps/prices/.loki/reference/chrome_iphone7_Pages_Add_Item_Primary.png
  apps/prices/.loki/reference/chrome_iphone7_Pages_Home_Primary.png
  apps/prices/.loki/reference/chrome_iphone7_Pages_Registration_Primary.png
Due: none

test: fix loki test
  apps/prices/.loki/reference/chrome_iphone7_Pages_Home_Primary.png
Due: none

feat: add kosaml header and angular material
  libs/kosaml/site/feature/.eslintrc.json
  libs/kosaml/site/feature/src/lib/components/header/__test__/__snapshots__/header.component.spec.ts.snap
  libs/kosaml/site/feature/src/lib/components/header/__test__/header.component.spec.ts
  libs/kosaml/site/feature/src/lib/components/header/header.component.html
  libs/kosaml/site/feature/src/lib/components/header/header.component.scss
  libs/kosaml/site/feature/src/lib/components/header/header.component.ts
  libs/kosaml/site/feature/src/lib/components/header/stories/header.stories.ts
  libs/kosaml/site/feature/src/lib/site.module.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

feat: add angular material to kosaml
  apps/kosaml/project.json
  apps/kosaml/src/index.html
  apps/kosaml/src/styles.scss
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

feat: further migration
  apps/kosaml/src/app/app.component.ts
  apps/kosaml/src/app/app.module.ts
  libs/kosaml/site/feature/src/lib/components/body/body.component.html
  libs/kosaml/site/feature/src/lib/components/body/body.component.scss
  libs/kosaml/site/feature/src/lib/components/body/body.component.ts
  libs/kosaml/site/feature/src/lib/components/content/content.component.html
  libs/kosaml/site/feature/src/lib/components/content/content.component.scss
  libs/kosaml/site/feature/src/lib/components/content/content.component.ts
  libs/kosaml/site/feature/src/lib/components/header/header.component.ts
  libs/kosaml/site/feature/src/lib/components/menu-bar/menu-bar.component.html
  libs/kosaml/site/feature/src/lib/components/menu-bar/menu-bar.component.scss
  libs/kosaml/site/feature/src/lib/components/menu-bar/menu-bar.component.ts
  libs/kosaml/site/feature/src/lib/components/menu-bar/stories/menu-bar.stories.ts
  libs/kosaml/site/feature/src/lib/components/sidebar/project/project.component.html
  libs/kosaml/site/feature/src/lib/components/sidebar/project/project.component.scss
  libs/kosaml/site/feature/src/lib/components/sidebar/project/project.component.ts
  libs/kosaml/site/feature/src/lib/components/sidebar/sidebar.component.html
  libs/kosaml/site/feature/src/lib/components/sidebar/sidebar.component.scss
  libs/kosaml/site/feature/src/lib/components/sidebar/sidebar.component.ts
  libs/kosaml/site/feature/src/lib/components/sidebar/stories/sidebar.stories.ts
  libs/kosaml/site/feature/src/lib/model/filenode.model.ts
  libs/kosaml/site/feature/src/lib/site.module.ts
Due: eslint --fix, prettier --write

feat: fix routing for new use scenario
  libs/kosaml/page/feature/.eslintrc.json
  libs/kosaml/page/feature/README.md
  libs/kosaml/page/feature/jest.config.ts
  libs/kosaml/page/feature/project.json
  libs/kosaml/page/feature/src/index.ts
  libs/kosaml/page/feature/src/lib/components/loading-spinner/__test__/__snapshots__/loading-spinner.component.spec.ts.snap
  libs/kosaml/page/feature/src/lib/components/loading-spinner/__test__/loading-spinner.component.spec.ts
  libs/kosaml/page/feature/src/lib/components/loading-spinner/loading-spinner.component.html
  libs/kosaml/page/feature/src/lib/components/loading-spinner/loading-spinner.component.scss
  libs/kosaml/page/feature/src/lib/components/loading-spinner/loading-spinner.component.ts
  libs/kosaml/page/feature/src/lib/components/loading-spinner/stories/loading-spinner.stories.ts
  libs/kosaml/page/feature/src/lib/components/page/page.component.html
  libs/kosaml/page/feature/src/lib/components/page/page.component.scss
  libs/kosaml/page/feature/src/lib/components/page/page.component.spec.ts
  libs/kosaml/page/feature/src/lib/components/page/page.component.ts
  libs/kosaml/page/feature/src/lib/components/page/pageSize.enum.ts
  libs/kosaml/page/feature/src/lib/kosaml-page-feature.module.ts
  libs/kosaml/page/feature/src/test-setup.ts
  libs/kosaml/page/feature/tsconfig.json
  libs/kosaml/page/feature/tsconfig.lib.json
  libs/kosaml/page/feature/tsconfig.spec.json
  libs/kosaml/scenario/feature/src/lib/kosaml-scenario-feature.module.ts
  libs/kosaml/site/feature/src/lib/site.module.ts
  libs/kosaml/task-scenario/feature/src/lib/task-scenario.module.ts
  libs/kosaml/use-scenario/feature/src/lib/containers/new-use-scenario-page.component.ts
  libs/kosaml/use-scenario/feature/src/lib/containers/use-scenario-page.component.ts
  libs/kosaml/use-scenario/feature/src/lib/use-scenario.module.ts
  libs/kosaml/use-scenario/feature/src/lib/use-scenarios-routing.module.ts
  tsconfig.base.json
  workspace.json
Due: eslint --fix, prettier --write

feat: create store feature module
  apps/kosaml/src/app/app.component.ts
  libs/kosaml/store/feature/.eslintrc.json
  libs/kosaml/store/feature/README.md
  libs/kosaml/store/feature/jest.config.ts
  libs/kosaml/store/feature/project.json
  libs/kosaml/store/feature/src/index.ts
  libs/kosaml/store/feature/src/lib/kosaml-store-feature.module.ts
  libs/kosaml/store/feature/src/test-setup.ts
  libs/kosaml/store/feature/tsconfig.json
  libs/kosaml/store/feature/tsconfig.lib.json
  libs/kosaml/store/feature/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Due: eslint --fix, prettier --write

feat: make sidebar width changeable with mouse
  apps/kosaml/src/app/app.component.ts
  apps/kosaml/src/app/app.module.ts
  libs/kosaml/site/feature/src/lib/components/body/body.component.ts
  libs/kosaml/site/feature/src/lib/components/sidebar/project/project.component.ts
  libs/kosaml/site/feature/src/lib/components/sidebar/sidebar.component.ts
  libs/kosaml/site/feature/src/lib/model/filenode.model.ts
  libs/kosaml/store/feature/src/index.ts
  libs/kosaml/store/feature/src/lib/kosaml-store-feature.module.ts
  libs/kosaml/store/feature/src/lib/site/actions.ts
  libs/kosaml/store/feature/src/lib/site/index.ts
  libs/kosaml/store/feature/src/lib/site/key.ts
  libs/kosaml/store/feature/src/lib/site/model.ts
  libs/kosaml/store/feature/src/lib/site/reducers.ts
  libs/kosaml/store/feature/src/lib/site/selectors.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,html}
  prettier --write: any of: *.{ts,js,html,scss,json,md}
