Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,html}": "eslint --fix",
  "*.{ts,js,html,scss,json,md}": "prettier --write",
  "*.scss": "stylelint --fix"
}

test: 475 add unit test
  libs/bite-tribe/bite/page/src/lib/integration/__specs__/bite-container.component.spec.ts
Due: eslint --fix, prettier --write

test: 475 add unit test
  libs/bite-tribe/bite/page/src/lib/components/page/utils/__specs__/get-exif-data-from-photo.spec.ts
Due: eslint --fix, prettier --write

test: 475 add unit test
  libs/bite-tribe/menu/page/jest.config.ts
  libs/bite-tribe/menu/page/src/lib/components/add-category/__specs__/add-category.component.spec.ts
  libs/bite-tribe/menu/page/src/lib/components/add-item/__specs__/add-item.component.spec.ts
  libs/bite-tribe/menu/page/src/lib/components/add-item/add-item.component.html
  libs/bite-tribe/menu/page/src/lib/components/add-item/add-item.component.ts
Due: eslint --fix, prettier --write

test: 475 add unit test
  libs/bite-tribe/menu/page/src/lib/components/category/__specs__/category.component.spec.ts
Due: eslint --fix, prettier --write

test: 475 add unit test
  libs/bite-tribe/menu/page/src/lib/components/category/__specs__/category.component.spec.ts
  libs/bite-tribe/menu/page/src/lib/components/menu-item/__specs__/menu-item.component.spec.ts
Due: eslint --fix, prettier --write

475 useer wants options to select position eather from image current position or via click to map (#514)
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.scss
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/bite/page/src/lib/components/page/utils/__specs__/get-exif-data-from-photo.spec.ts
  libs/bite-tribe/bite/page/src/lib/integration/__specs__/bite-container.component.spec.ts
  libs/bite-tribe/menu/page/jest.config.ts
  libs/bite-tribe/menu/page/src/lib/components/add-category/__specs__/add-category.component.spec.ts
  libs/bite-tribe/menu/page/src/lib/components/add-item/__specs__/add-item.component.spec.ts
  libs/bite-tribe/menu/page/src/lib/components/add-item/add-item.component.html
  libs/bite-tribe/menu/page/src/lib/components/add-item/add-item.component.ts
  libs/bite-tribe/menu/page/src/lib/components/category/__specs__/category.component.spec.ts
  libs/bite-tribe/menu/page/src/lib/components/menu-item/__specs__/menu-item.component.spec.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: return to previous page after editing bite instead of my-bites (#517)
  libs/bite-tribe/bite/page/src/lib/integration/__specs__/bite.service.spec.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite.service.ts
Due: eslint --fix, prettier --write

feat: 503 show zoom button on the map for subscribed users
  libs/bite-tribe/map/data-access/src/lib/__specs__/map-data-access.service.spec.ts
  libs/bite-tribe/map/data-access/src/lib/map-data-access.service.ts
  libs/bite-tribe/map/page/src/lib/integration/bucket-list-map.container.component.ts
  libs/bite-tribe/map/page/src/lib/integration/home-map-container.component.ts
  libs/bite-tribe/map/page/src/lib/integration/map.service.ts
  libs/bite-tribe/map/page/src/lib/integration/my-bites-map.container.component.ts
  libs/bite-tribe/model/src/lib/public-user.ts
  libs/bite-tribe/store/src/lib/app/__specs__/selectors.spec.ts
  libs/bite-tribe/store/src/lib/app/selectors.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
Due: eslint --fix, prettier --write

test: 503 improve unit tests
  libs/bite-tribe/store/src/lib/app/__specs__/selectors.spec.ts
Due: eslint --fix, prettier --write

feat: 503 add subscription badge
  libs/bite-tribe/profile/page/src/lib/components/profile-page/__specs__/profile.component.spec.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.scss
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: 503 show zoom button on the map for subscribed users (#518)
  libs/bite-tribe/map/data-access/src/lib/__specs__/map-data-access.service.spec.ts
  libs/bite-tribe/map/data-access/src/lib/map-data-access.service.ts
  libs/bite-tribe/map/page/src/lib/integration/bucket-list-map.container.component.ts
  libs/bite-tribe/map/page/src/lib/integration/home-map-container.component.ts
  libs/bite-tribe/map/page/src/lib/integration/map.service.ts
  libs/bite-tribe/map/page/src/lib/integration/my-bites-map.container.component.ts
  libs/bite-tribe/model/src/lib/public-user.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/__specs__/profile.component.spec.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.scss
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.ts
  libs/bite-tribe/store/src/lib/app/__specs__/selectors.spec.ts
  libs/bite-tribe/store/src/lib/app/selectors.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: load my bites after login and by gps as soon as gps position received
  libs/bite-tribe/api/src/lib/bite-api.service.ts
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/api/src/lib/utils/to-bite.ts
  libs/bite-tribe/store/src/lib/app/reducer.ts
  libs/bite-tribe/store/src/lib/bites/actions.ts
  libs/bite-tribe/store/src/lib/bites/adapter.ts
  libs/bite-tribe/store/src/lib/bites/effects.ts
  libs/bite-tribe/store/src/lib/bites/reducer.ts
  libs/bite-tribe/store/src/lib/provide-bite-tribe-store.ts
Due: eslint --fix, prettier --write

fix: fix create bite with updating store after switch to one-time-query
  libs/bite-tribe/api/src/lib/bite-api.service.ts
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/store/src/lib/bites/actions.ts
  libs/bite-tribe/store/src/lib/bites/effects.ts
  libs/bite-tribe/store/src/lib/bites/reducer.ts
Due: eslint --fix, prettier --write

feat: 385 redesign profile page
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: 385 inputs
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.ts
Due: eslint --fix, prettier --write

feat: 385 hide photo if failed loading
  libs/bite-tribe/profile/page/src/lib/components/profile-page/__specs__/profile.component.spec.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.scss
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: 385 avoid profile photo stretch
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.scss
Due: prettier --write, stylelint --fix

feat: 385 pull follower data from store
  libs/bite-tribe/model/src/lib/public-user.ts
  libs/bite-tribe/profile/data-access/jest.config.ts
  libs/bite-tribe/profile/data-access/src/lib/__specs__/profile-data-access-service.spec.ts
  libs/bite-tribe/profile/data-access/src/lib/profile-data-access.service.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/__specs__/profile.component.spec.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.ts
  libs/bite-tribe/profile/page/src/lib/integration/__specs__/profile.service.spec.ts
  libs/bite-tribe/profile/page/src/lib/integration/my-profile.container.ts
  libs/bite-tribe/profile/page/src/lib/integration/profile.service.ts
  libs/bite-tribe/settings/page/src/lib/components/page/__specs__/settings.component.spec.ts
  libs/bite-tribe/store/src/lib/__specs__/bite-tribe-store.service.spec.ts
  libs/bite-tribe/store/src/lib/app/__specs__/reducer.spec.ts
  libs/bite-tribe/store/src/lib/app/__specs__/selectors.spec.ts
  libs/bite-tribe/store/src/lib/app/actions.ts
  libs/bite-tribe/store/src/lib/app/app-slice.model.ts
  libs/bite-tribe/store/src/lib/app/reducer.ts
  libs/bite-tribe/store/src/lib/app/selectors.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
Due: eslint --fix, prettier --write

chore: use new restricted api key
  apps/bite-tribe-ios/ios/App/App/GoogleService-Info.plist
Due: none

chore: use new restricted api key (#520)
  apps/bite-tribe-ios/ios/App/App/GoogleService-Info.plist
Due: none

feat: handle deleting bite
  libs/bite-tribe/api/src/lib/bite-api.service.ts
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/store/src/lib/bites/actions.ts
  libs/bite-tribe/store/src/lib/bites/effects.ts
  libs/bite-tribe/store/src/lib/bites/reducer.ts
Due: eslint --fix, prettier --write

feat: load bites for bucketlist on demand
  libs/bite-tribe/api/src/lib/bite-api.service.ts
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/bites/actions.ts
  libs/bite-tribe/store/src/lib/bites/effects.ts
  libs/bite-tribe/store/src/lib/bites/reducer.ts
  libs/bite-tribe/store/src/lib/bucketlists/actions.ts
Due: eslint --fix, prettier --write

test: fix and adjust tests
  libs/bite-tribe/store/src/lib/app/__specs__/reducer.spec.ts
  libs/bite-tribe/store/src/lib/app/reducer.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/actions.spec.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/reducer.spec.ts
Due: eslint --fix, prettier --write

build: prepare android app
  .gitignore
  apps/bite-tribe-android/android/app/capacitor.build.gradle
  apps/bite-tribe-android/android/app/google-services.json
  apps/bite-tribe-android/android/capacitor.settings.gradle
  apps/bite-tribe-android/capacitor.config.ts
  apps/bite-tribe-android/package-lock.json
Due: eslint --fix, prettier --write

fix: fix gps and crashlytics for android - ready to go physical
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-android/android/app/capacitor.build.gradle
  apps/bite-tribe-android/android/app/src/main/AndroidManifest.xml
  apps/bite-tribe-android/android/build.gradle
  apps/bite-tribe-android/android/capacitor.settings.gradle
  apps/bite-tribe-android/android/gradle/wrapper/gradle-wrapper.properties
  apps/bite-tribe-android/package-lock.json
  apps/bite-tribe-android/package.json
Due: prettier --write

chore: adjust android app version
  apps/bite-tribe-android/android/app/build.gradle
Due: none

chore: update google services
  apps/bite-tribe-android/android/app/google-services.json
Due: prettier --write

chore: increase versionCode
  apps/bite-tribe-android/android/app/build.gradle
Due: none

chore: regenerate launch icons and increase versionCode
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-android/android/app/src/main/ic_launcher-playstore.png
  apps/bite-tribe-android/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  apps/bite-tribe-android/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  apps/bite-tribe-android/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  apps/bite-tribe-android/android/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.png
  apps/bite-tribe-android/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  apps/bite-tribe-android/android/app/src/main/res/mipmap-ldpi/ic_launcher.png
  apps/bite-tribe-android/android/app/src/main/res/mipmap-ldpi/ic_launcher_foreground.png
  apps/bite-tribe-android/android/app/src/main/res/mipmap-ldpi/ic_launcher_round.png
  apps/bite-tribe-android/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  apps/bite-tribe-android/android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.png
  apps/bite-tribe-android/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  apps/bite-tribe-android/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  apps/bite-tribe-android/android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.png
  apps/bite-tribe-android/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  apps/bite-tribe-android/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  apps/bite-tribe-android/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.png
  apps/bite-tribe-android/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  apps/bite-tribe-android/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  apps/bite-tribe-android/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
  apps/bite-tribe-android/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
Due: none

docs: cleanup and documentation about native build
  README.md
  package.json
Due: prettier --write

chore: update package-lock
  package-lock.json
Due: prettier --write

chore: add nx targets capacitor doctor for android and ios
  README.md
  apps/bite-tribe-android/project.json
  apps/bite-tribe-ios/project.json
Due: prettier --write

chore: upgrade node to 22
  .github/actions/setup/action.yml
  package.json
Due: prettier --write
