Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,html}": "eslint --fix",
  "*.{ts,js,html,scss,json,md}": "prettier --write"
}

Revert "Adjust 152x152"
  apps/prices/src/assets/icons/icon-152x152.png
Due: none

#111: dev wants to add service worker to prices app (#114)
  apps/prices/ngsw-config.json
  apps/prices/project.json
  apps/prices/src/app/app.module.ts
  apps/prices/src/assets/icons/icon-128x128.png
  apps/prices/src/assets/icons/icon-144x144.png
  apps/prices/src/assets/icons/icon-152x152.png
  apps/prices/src/assets/icons/icon-192x192.png
  apps/prices/src/assets/icons/icon-384x384.png
  apps/prices/src/assets/icons/icon-512x512.png
  apps/prices/src/assets/icons/icon-72x72.png
  apps/prices/src/assets/icons/icon-96x96.png
  apps/prices/src/favicon.ico
  apps/prices/src/manifest.webmanifest
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

Add icons to html
  apps/prices/src/index.html
Due: eslint --fix, prettier --write

Change theme color
  apps/prices/src/manifest.webmanifest
Due: none

Fix ordering
  apps/prices/src/index.html
Due: eslint --fix, prettier --write

Add logo to workspace
  apps/prices/src/logo.svg
Due: none

Remove previous asset links
  apps/prices/src/index.html
Due: eslint --fix, prettier --write

Generate registration component
  libs/README.md
  libs/prices/registration/feature/.eslintrc.json
  libs/prices/registration/feature/README.md
  libs/prices/registration/feature/jest.config.ts
  libs/prices/registration/feature/project.json
  libs/prices/registration/feature/src/index.ts
  libs/prices/registration/feature/src/lib/prices-registration-feature.module.ts
  libs/prices/registration/feature/src/test-setup.ts
  libs/prices/registration/feature/tsconfig.json
  libs/prices/registration/feature/tsconfig.lib.json
  libs/prices/registration/feature/tsconfig.spec.json
  package-lock.json
  package.json
  tsconfig.base.json
  workspace.json
Due: eslint --fix, prettier --write

Initial implementation
  libs/prices/password-validator/feature/src/lib/utils/calculate-color.ts
  libs/prices/registration/feature/.eslintrc.json
  libs/prices/registration/feature/src/index.ts
  libs/prices/registration/feature/src/lib/__specs__/registration.component.stories.ts
  libs/prices/registration/feature/src/lib/api/registration-fields.ts
  libs/prices/registration/feature/src/lib/components/registration.component.html
  libs/prices/registration/feature/src/lib/components/registration.component.scss
  libs/prices/registration/feature/src/lib/components/registration.component.ts
  libs/prices/registration/feature/src/lib/prices-registration-feature.module.ts
  libs/prices/registration/feature/src/lib/registration.module.ts
  libs/prices/shell/feature/src/lib/prices-shell-routing.module.ts
  package-lock.json
Due: eslint --fix, prettier --write

Remove routing
  libs/prices/shell/feature/src/lib/prices-shell-routing.module.ts
Due: eslint --fix, prettier --write

Reverte changes in package.json
  package-lock.json
  package.json
Due: prettier --write

Refactoring
  libs/prices/auth/feature/src/lib/components/auth.component.ts
  libs/prices/password-validator/feature/src/index.ts
  libs/prices/password-validator/feature/src/lib/get-password-validators.ts
  libs/prices/registration/feature/src/lib/components/registration.component.ts
Due: eslint --fix, prettier --write

Add password match validator
  libs/prices/auth/feature/src/lib/components/auth.component.html
  libs/prices/auth/feature/src/lib/components/auth.component.ts
  libs/prices/password-validator/feature/src/index.ts
  libs/prices/password-validator/feature/src/lib/get-password-validators.ts
  libs/prices/password-validator/feature/src/lib/password-match-validator.ts
  libs/prices/registration/feature/src/lib/api/registration-fields.ts
  libs/prices/registration/feature/src/lib/components/registration.component.html
  libs/prices/registration/feature/src/lib/components/registration.component.ts
Due: eslint --fix, prettier --write

Cleanup
  libs/prices/password-validator/feature/src/lib/password-match-validator.ts
Due: eslint --fix, prettier --write

Add reference image for registration
  apps/prices/.loki/reference/chrome_iphone7_Pages_Registration_Primary.png
Due: none

#64: Developer wants a registration page (#118)
  apps/prices/.loki/reference/chrome_iphone7_Pages_Registration_Primary.png
  libs/README.md
  libs/prices/auth/feature/src/lib/components/auth.component.html
  libs/prices/auth/feature/src/lib/components/auth.component.ts
  libs/prices/password-validator/feature/src/index.ts
  libs/prices/password-validator/feature/src/lib/get-password-validators.ts
  libs/prices/password-validator/feature/src/lib/password-match-validator.ts
  libs/prices/password-validator/feature/src/lib/utils/calculate-color.ts
  libs/prices/registration/feature/.eslintrc.json
  libs/prices/registration/feature/README.md
  libs/prices/registration/feature/jest.config.ts
  libs/prices/registration/feature/project.json
  libs/prices/registration/feature/src/index.ts
  libs/prices/registration/feature/src/lib/__specs__/registration.component.stories.ts
  libs/prices/registration/feature/src/lib/api/registration-fields.ts
  libs/prices/registration/feature/src/lib/components/registration.component.html
  libs/prices/registration/feature/src/lib/components/registration.component.scss
  libs/prices/registration/feature/src/lib/components/registration.component.ts
  libs/prices/registration/feature/src/lib/registration.module.ts
  libs/prices/registration/feature/src/test-setup.ts
  libs/prices/registration/feature/tsconfig.json
  libs/prices/registration/feature/tsconfig.lib.json
  libs/prices/registration/feature/tsconfig.spec.json
  package-lock.json
  tsconfig.base.json
  workspace.json
Due: eslint --fix, prettier --write

Add signup button to auth page
  libs/prices/auth/feature/src/lib/components/auth.component.html
  libs/prices/auth/feature/src/lib/components/auth.component.ts
Due: eslint --fix, prettier --write

Implement navigation to sign up page
  libs/prices/auth/feature/src/lib/integration/auth-container.component.ts
  libs/prices/auth/feature/src/lib/integration/auth.service.ts
Due: eslint --fix, prettier --write

Implement emission of registration till service (todo: setup action and effect)
  libs/prices/registration/feature/src/lib/components/registration.component.html
  libs/prices/registration/feature/src/lib/components/registration.component.ts
  libs/prices/registration/feature/src/lib/integration/registration-container.component.ts
  libs/prices/registration/feature/src/lib/integration/registration.service.ts
  libs/prices/registration/feature/src/lib/registration-routing.module.ts
  libs/prices/registration/feature/src/lib/registration.module.ts
  libs/prices/shell/feature/src/lib/prices-shell-routing.module.ts
Due: eslint --fix, prettier --write

Update reference image of auth page
  apps/prices/.loki/reference/chrome_iphone7_Pages_Auth_Primary.png
Due: none

Implement action for registration
  libs/prices/registration/feature/src/lib/integration/registration.service.ts
  libs/prices/store/feature/src/lib/auth/actions.ts
  libs/prices/store/feature/src/lib/auth/index.ts
Due: eslint --fix, prettier --write

Add error code from registration to store
  libs/prices/firestore/feature/src/lib/auth.service.ts
  libs/prices/store/feature/src/lib/auth/actions.ts
  libs/prices/store/feature/src/lib/auth/auth-result.model.ts
  libs/prices/store/feature/src/lib/auth/effects.ts
  libs/prices/store/feature/src/lib/auth/reducer.ts
Due: eslint --fix, prettier --write

Implemented registration of user
  libs/prices/registration/feature/src/lib/components/registration.component.ts
  libs/prices/registration/feature/src/lib/integration/registration-container.component.ts
  libs/prices/registration/feature/src/lib/integration/registration.service.ts
  libs/prices/store/feature/src/lib/auth/actions.ts
  libs/prices/store/feature/src/lib/auth/index.ts
  libs/prices/store/feature/src/lib/auth/reducer.ts
  libs/prices/store/feature/src/lib/auth/selectors.ts
Due: eslint --fix, prettier --write

#75: User wants to register (#120)
  apps/prices/.loki/reference/chrome_iphone7_Pages_Auth_Primary.png
  libs/prices/auth/feature/src/lib/components/auth.component.html
  libs/prices/auth/feature/src/lib/components/auth.component.ts
  libs/prices/auth/feature/src/lib/integration/auth-container.component.ts
  libs/prices/auth/feature/src/lib/integration/auth.service.ts
  libs/prices/firestore/feature/src/lib/auth.service.ts
  libs/prices/registration/feature/src/lib/components/registration.component.html
  libs/prices/registration/feature/src/lib/components/registration.component.ts
  libs/prices/registration/feature/src/lib/integration/registration-container.component.ts
  libs/prices/registration/feature/src/lib/integration/registration.service.ts
  libs/prices/registration/feature/src/lib/registration-routing.module.ts
  libs/prices/registration/feature/src/lib/registration.module.ts
  libs/prices/shell/feature/src/lib/prices-shell-routing.module.ts
  libs/prices/store/feature/src/lib/auth/actions.ts
  libs/prices/store/feature/src/lib/auth/auth-result.model.ts
  libs/prices/store/feature/src/lib/auth/effects.ts
  libs/prices/store/feature/src/lib/auth/index.ts
  libs/prices/store/feature/src/lib/auth/reducer.ts
  libs/prices/store/feature/src/lib/auth/selectors.ts
Due: eslint --fix, prettier --write

Make repo commitizen friendly
  .czrc
  package-lock.json
  package.json
Due: prettier --write

refactor(prepare-commit-msg): setup commitizen
  .husky/prepare-commit-msg
  package.json
Due: prettier --write

docs(.husky/readme.md): write documentatio
  .husky/README.md
Due: prettier --write

refactor(prepare-commit-msg): setup commitizen (#122)
  .czrc
  .husky/README.md
  .husky/prepare-commit-msg
  package-lock.json
  package.json
Due: prettier --write

feat: user can now remove the location filter
  apps/prices/.loki/reference/chrome_iphone7_Pages_Home_Primary.png
  libs/prices/home/feature/src/lib/__specs__/home.component.stories.ts
  libs/prices/home/feature/src/lib/components/home.component.html
  libs/prices/home/feature/src/lib/components/home.component.scss
  libs/prices/home/feature/src/lib/components/home.component.ts
  libs/prices/home/feature/src/lib/home.module.ts
  libs/prices/home/feature/src/lib/integration/home.service.ts
  libs/prices/home/feature/src/lib/model/filter.ts
  libs/prices/home/feature/src/lib/pipes/filter-icon.pipe.ts
  libs/prices/home/feature/src/lib/utils/add-location-filter.ts
  libs/prices/home/feature/src/lib/utils/get-filtered-prices.ts
  libs/prices/home/feature/tsconfig.lib.json
  tools/executors/loki/impl.js
  tools/executors/loki/src/impl.ts
Due: eslint --fix, prettier --write

test: memoize lib some tsconfigs
  libs/prices/home/feature/tsconfig.spec.json
Due: prettier --write

feat: user can now remove the location filter (#127)
  apps/prices/.loki/reference/chrome_iphone7_Pages_Home_Primary.png
  libs/prices/home/feature/src/lib/__specs__/home.component.stories.ts
  libs/prices/home/feature/src/lib/components/home.component.html
  libs/prices/home/feature/src/lib/components/home.component.scss
  libs/prices/home/feature/src/lib/components/home.component.ts
  libs/prices/home/feature/src/lib/home.module.ts
  libs/prices/home/feature/src/lib/integration/home.service.ts
  libs/prices/home/feature/src/lib/model/filter.ts
  libs/prices/home/feature/src/lib/pipes/filter-icon.pipe.ts
  libs/prices/home/feature/src/lib/utils/add-location-filter.ts
  libs/prices/home/feature/src/lib/utils/get-filtered-prices.ts
  libs/prices/home/feature/tsconfig.lib.json
  libs/prices/home/feature/tsconfig.spec.json
  tools/executors/loki/impl.js
  tools/executors/loki/src/impl.ts
Due: eslint --fix, prettier --write

refactor: switch from loki update to loki approve
  tools/executors/loki/impl.js
  tools/executors/loki/src/impl.ts
Due: eslint --fix, prettier --write

refactor: switch from loki update to loki approve (#128)
  tools/executors/loki/impl.js
  tools/executors/loki/src/impl.ts
Due: eslint --fix, prettier --write

ci(pipeline.yml): add publishing code coverage report
  .github/workflows/pipeline.yml
Due: none

ci: adjust search for coverage reports
  .github/workflows/pipeline.yml
Due: none

ci: add further coverage reports
  .github/workflows/pipeline.yml
Due: none

chore: add commitizen badge
  README.md
Due: prettier --write

ci(pipeline.yml): add code coverage report via code cov (#129)
  .github/workflows/pipeline.yml
  README.md
Due: prettier --write
