Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,html}": "eslint --fix",
  "*.{ts,js,html,scss,json,md}": "prettier --write",
  "*.scss": "stylelint --fix"
}

refactor: introduce own start for business to prevent analytics error
  libs/bite-tribe-business/shell/src/lib/app.config.ts
  libs/bite-tribe-business/shell/src/lib/provide-bite-tribe-business-shell.ts
  libs/bite-tribe-business/shell/src/lib/routes.ts
  libs/bite-tribe-business/start/README.md
  libs/bite-tribe-business/start/eslint.config.mjs
  libs/bite-tribe-business/start/jest.config.ts
  libs/bite-tribe-business/start/project.json
  libs/bite-tribe-business/start/src/index.ts
  libs/bite-tribe-business/start/src/lib/__specs__/start.spec.ts
  libs/bite-tribe-business/start/src/lib/start.html
  libs/bite-tribe-business/start/src/lib/start.scss
  libs/bite-tribe-business/start/src/lib/start.ts
  libs/bite-tribe-business/start/src/test-setup.ts
  libs/bite-tribe-business/start/tsconfig.json
  libs/bite-tribe-business/start/tsconfig.lib.json
  libs/bite-tribe-business/start/tsconfig.spec.json
  libs/bite-tribe/start/src/lib/bite-tribe-start.component.ts
  nx.json
  tsconfig.base.json
Due: eslint --fix, prettier --write, stylelint --fix

feat: add navigation to migration page
  libs/bite-tribe-business/dashboard/page/src/lib/component/page/dashboard.component.html
  libs/bite-tribe-business/dashboard/page/src/lib/component/page/dashboard.component.ts
  libs/bite-tribe-business/dashboard/page/src/lib/integration/dashboard-container.component.ts
  libs/bite-tribe-business/dashboard/page/src/lib/integration/dashboard.service.ts
  libs/common/ui/page/src/lib/page.component.ts
  libs/common/ui/page/src/lib/popover-menu.component.ts
  libs/common/utils/src/lib/add-necessary-icons.ts
Due: eslint --fix, prettier --write

feat: setup migrations page
  libs/bite-tribe-business/migrations/page/README.md
  libs/bite-tribe-business/migrations/page/eslint.config.mjs
  libs/bite-tribe-business/migrations/page/jest.config.ts
  libs/bite-tribe-business/migrations/page/project.json
  libs/bite-tribe-business/migrations/page/src/index.ts
  libs/bite-tribe-business/migrations/page/src/lib/__specs__/migrations.spec.ts
  libs/bite-tribe-business/migrations/page/src/lib/integration/migrations-container.ts
  libs/bite-tribe-business/migrations/page/src/lib/migrations.html
  libs/bite-tribe-business/migrations/page/src/lib/migrations.scss
  libs/bite-tribe-business/migrations/page/src/lib/migrations.ts
  libs/bite-tribe-business/migrations/page/src/test-setup.ts
  libs/bite-tribe-business/migrations/page/tsconfig.json
  libs/bite-tribe-business/migrations/page/tsconfig.lib.json
  libs/bite-tribe-business/migrations/page/tsconfig.spec.json
  libs/bite-tribe-business/shell/src/lib/routes.ts
  tsconfig.base.json
Due: eslint --fix, prettier --write, stylelint --fix

refactor: switch to imagepath
  libs/bite-tribe-business/dashboard/page/src/lib/component/page/dashboard.component.html
  libs/bite-tribe-business/migrations/data-access/README.md
  libs/bite-tribe-business/migrations/data-access/eslint.config.mjs
  libs/bite-tribe-business/migrations/data-access/jest.config.ts
  libs/bite-tribe-business/migrations/data-access/project.json
  libs/bite-tribe-business/migrations/data-access/src/index.ts
  libs/bite-tribe-business/migrations/data-access/src/lib/migrations-data-access.service.ts
  libs/bite-tribe-business/migrations/data-access/src/test-setup.ts
  libs/bite-tribe-business/migrations/data-access/tsconfig.json
  libs/bite-tribe-business/migrations/data-access/tsconfig.lib.json
  libs/bite-tribe-business/migrations/data-access/tsconfig.spec.json
  libs/bite-tribe-business/migrations/page/src/lib/component/page/__specs__/migrations.spec.ts
  libs/bite-tribe-business/migrations/page/src/lib/component/page/migrations.html
  libs/bite-tribe-business/migrations/page/src/lib/component/page/migrations.scss
  libs/bite-tribe-business/migrations/page/src/lib/component/page/migrations.ts
  libs/bite-tribe-business/migrations/page/src/lib/integration/migrations-container.ts
  libs/bite-tribe-business/migrations/page/src/lib/integration/migrations.service.ts
  libs/bite-tribe-business/migrations/page/src/lib/migrations.html
  libs/bite-tribe-business/migrations/page/src/lib/migrations.ts
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe/api/src/lib/bite-api.service.ts
  libs/bite-tribe/api/src/lib/utils/to-bite.ts
  libs/bite-tribe/bite/page/src/lib/components/image-crop-page/image-crop-page.component.html
  libs/bite-tribe/bite/page/src/lib/components/image-crop-page/image-crop-page.component.ts
  libs/bite-tribe/bite/page/src/lib/components/image-upload/image-upload.component.html
  libs/bite-tribe/bite/page/src/lib/components/image-upload/image-upload.component.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite-container.component.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite.service.ts
  libs/bite-tribe/bite/page/src/lib/integration/edit-bite-container.component.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/model/src/lib/bite.ts
  libs/common/utils/src/index.ts
  libs/common/utils/src/lib/data-url-to-blob.ts
  libs/common/utils/src/lib/get-download-url-from-firebase-storage.ts
  libs/common/utils/src/lib/guess-ext-from-content-type.ts
  package-lock.json
  package.json
  tsconfig.base.json
Due: eslint --fix, prettier --write, stylelint --fix

feature: handle switch to image path
  libs/bite-tribe/api/src/lib/bite-api.service.ts
  libs/bite-tribe/bite/page/src/lib/components/image-upload/image-upload.component.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/common/utils/src/index.ts
  libs/common/utils/src/lib/storage-path-from-download-url.ts
Due: eslint --fix, prettier --write

fix: handle error on deleting image
  libs/bite-tribe/api/src/lib/bite-api.service.ts
Due: eslint --fix, prettier --write

feat: handle editing old bites
  libs/bite-tribe/api/src/lib/bite-api.service.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/bite/page/src/lib/integration/edit-bite-container.component.ts
  libs/common/ui/page/src/lib/page.component.html
  libs/common/ui/page/src/lib/page.component.ts
Due: eslint --fix, prettier --write

fix: adjustments
  libs/bite-tribe-business/migrations/page/src/lib/component/page/migrations.ts
Due: eslint --fix, prettier --write

test: fix tests
  libs/bite-tribe-business/migrations/page/jest.config.ts
  libs/bite-tribe-business/migrations/page/src/lib/component/page/__specs__/migrations.spec.ts
  libs/bite-tribe-business/restaurant/page/jest.config.ts
  libs/bite-tribe-business/start/jest.config.ts
  libs/bite-tribe-business/start/src/lib/__specs__/start.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
  libs/bite-tribe/bite/page/src/lib/integration/__specs__/bite.service.spec.ts
Due: eslint --fix, prettier --write

test: raise test coverage
  libs/bite-tribe-business/migrations/page/src/lib/component/page/__specs__/migrations.spec.ts
  libs/bite-tribe-business/migrations/page/src/lib/component/page/migrations.ts
  libs/bite-tribe/bite/page/src/lib/components/image-crop-page/__specs__/image-crop-page.component.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/image-crop-page/image-crop-page.component.ts
  libs/common/image-compression/src/index.ts
  libs/common/image-compression/src/lib/base64-to-file.ts
  libs/common/image-compression/src/lib/extract-file-from-html-image-element.ts
Due: eslint --fix, prettier --write

test: adjust tests
  libs/bite-tribe/bite/page/src/lib/components/image-crop-page/__specs__/image-crop-page.component.spec.ts
  libs/common/image-compression/src/lib/__specs__/compress-photo.spec.ts
Due: eslint --fix, prettier --write

chore: register capacitor plugin
  apps/bite-tribe-ios/ios/App/Podfile
  apps/bite-tribe-ios/ios/App/Podfile.lock
  apps/bite-tribe-ios/package-lock.json
  apps/bite-tribe-ios/package.json
Due: prettier --write

feat: error handling
  libs/bite-tribe/api/src/lib/bite-api.service.ts
Due: eslint --fix, prettier --write

fix: fix delete bite if no image found
  libs/bite-tribe/api/src/lib/bite-api.service.ts
Due: eslint --fix, prettier --write

fix: fix delete bite if no image found (#433)
  libs/bite-tribe/api/src/lib/bite-api.service.ts
Due: eslint --fix, prettier --write

feat: 399 pull to refresh refreshes gps
  libs/bite-tribe/home/data-access/src/lib/__specs__/home-data-access-service.spec.ts
  libs/bite-tribe/store/src/lib/app/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/app/effects.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/actions.spec.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/bites-by-restaurant.selector.spec.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/reducer.spec.ts
  libs/bite-tribe/store/src/lib/bites/actions.ts
  libs/bite-tribe/store/src/lib/bites/effects.ts
  libs/bite-tribe/store/src/lib/bites/reducer.ts
  libs/bite-tribe/store/src/lib/bites/utils/__specs__/get-bites-by-restaurant-id-or-name.spec.ts
  libs/bite-tribe/store/src/lib/bites/utils/__specs__/get-bites-by-restaurant-name.spec.ts
  libs/bite-tribe/store/src/lib/bites/utils/__specs__/get-close-bites.spec.ts
  libs/bite-tribe/store/src/lib/restaurants/__specs__/selectors.spec.ts
  libs/bite-tribe/store/src/lib/restaurants/utils/__specs__/get-restaurant.spec.ts
Due: eslint --fix, prettier --write

test: 399 fix test
  libs/bite-tribe/store/src/lib/__specs__/bite-tribe-store.service.spec.ts
Due: eslint --fix, prettier --write

fix: fix ios upload error
  apps/bite-tribe-ios/ios/App/Podfile
  apps/bite-tribe-ios/ios/App/Podfile.lock
  apps/bite-tribe-ios/package-lock.json
  apps/bite-tribe-ios/package.json
  libs/bite-tribe/api/src/lib/bite-api.service.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

chore: increase build number
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: none

fix: fix upload on ios (#435)
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  apps/bite-tribe-ios/ios/App/Podfile
  apps/bite-tribe-ios/ios/App/Podfile.lock
  apps/bite-tribe-ios/package-lock.json
  apps/bite-tribe-ios/package.json
  libs/bite-tribe/api/src/lib/bite-api.service.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

style: switching to new design
  apps/bite-tribe/src/theme/variables.scss
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe-common/bite/src/lib/bite.component.scss
  libs/bite-tribe-common/bite/src/lib/bite.component.ts
  libs/bite-tribe-common/bite/src/lib/likes/likes.component.html
  libs/bite-tribe-common/bite/src/lib/likes/likes.component.scss
  libs/bite-tribe-common/styles/_globals.scss
  libs/bite-tribe/api/src/lib/bite-api.service.ts
  libs/bite-tribe/api/src/lib/utils/get-blob-with-uri.ts
  libs/bite-tribe/api/src/lib/utils/to-base-64.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.scss
  libs/common/ui/page/src/lib/page.component.html
  libs/common/ui/page/src/lib/page.component.ts
  libs/common/ui/star-rating/src/lib/star-rating.component.scss
  libs/common/utils/src/lib/add-necessary-icons.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: 399 correct reducer
  libs/bite-tribe/store/src/lib/bites/reducer.ts
Due: eslint --fix, prettier --write

fix: 399 correct reducer
  libs/bite-tribe/home/data-access/src/lib/__specs__/home-data-access-service.spec.ts
Due: eslint --fix, prettier --write

test: 399 add tests
  libs/bite-tribe/home/page/src/lib/integration/__specs__/home.service.spec.ts
Due: eslint --fix, prettier --write

test: 399 add tests
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/home.component.spec.ts
Due: eslint --fix, prettier --write

feat: 436 zoom bite-map to current position
  libs/bite-tribe-common/map/src/lib/map/__specs__/map.component.spec.ts
  libs/bite-tribe-common/map/src/lib/map/map.component.ts
  libs/bite-tribe-common/map/src/lib/map/utils/__specs__/fit-map-to-markers.spec.ts
  libs/bite-tribe-common/map/src/lib/map/utils/__specs__/zoom-to-gps-or-default.spec.ts
  libs/bite-tribe-common/map/src/lib/map/utils/fit-map-to-markers.ts
  libs/bite-tribe-common/map/src/lib/map/utils/zoom-to-gps-or-default.ts
  libs/bite-tribe/map/data-access/src/lib/map-data-access.service.ts
  libs/bite-tribe/map/page/jest.config.ts
  libs/bite-tribe/map/page/src/lib/components/map-page/__specs__/map-page.component.spec.ts
  libs/bite-tribe/map/page/src/lib/components/map-page/map-page.component.html
  libs/bite-tribe/map/page/src/lib/components/map-page/map-page.component.ts
  libs/bite-tribe/map/page/src/lib/integration/home-map-container.component.ts
  libs/bite-tribe/map/page/src/lib/integration/map.service.ts
  libs/bite-tribe/map/page/src/test-setup.ts
  libs/bite-tribe/map/page/tsconfig.json
  libs/bite-tribe/map/page/tsconfig.lib.json
  libs/bite-tribe/map/page/tsconfig.spec.json
Due: eslint --fix, prettier --write

refactor: 436 move functions to files
  libs/bite-tribe-common/map/src/lib/map/__specs__/map.component.spec.ts
  libs/bite-tribe-common/map/src/lib/map/map.component.ts
  libs/bite-tribe-common/map/src/lib/map/utils/__specs__/clear-markers.spec.ts
  libs/bite-tribe-common/map/src/lib/map/utils/__specs__/geopoints-to-markers.spec.ts
  libs/bite-tribe-common/map/src/lib/map/utils/clear-markers.ts
  libs/bite-tribe-common/map/src/lib/map/utils/geopoints-to-markers.ts
Due: eslint --fix, prettier --write

refactor: 436 refactor map component
  libs/bite-tribe-common/map/src/lib/map/__specs__/map.component.spec.ts
  libs/bite-tribe-common/map/src/lib/map/map.component.ts
  libs/bite-tribe-common/map/src/lib/map/model/default-zoom.ts
  libs/bite-tribe-common/map/src/lib/map/utils/__specs__/create-map.spec.ts
  libs/bite-tribe-common/map/src/lib/map/utils/__specs__/create-openstreetmap-layer.spec.ts
  libs/bite-tribe-common/map/src/lib/map/utils/__specs__/zoom-to-geopoint.spec.ts
  libs/bite-tribe-common/map/src/lib/map/utils/__specs__/zoom-to-marker.spec.ts
  libs/bite-tribe-common/map/src/lib/map/utils/create-map.ts
  libs/bite-tribe-common/map/src/lib/map/utils/create-openstreetmap-layer.ts
  libs/bite-tribe-common/map/src/lib/map/utils/zoom-to-geopoint.ts
  libs/bite-tribe-common/map/src/lib/map/utils/zoom-to-gps-or-default.ts
  libs/bite-tribe-common/map/src/lib/map/utils/zoom-to-markers.ts
  libs/bite-tribe-common/map/src/lib/position/position.component.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/map/page/src/lib/components/map-page/map-page.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.html
Due: eslint --fix, prettier --write

feat: 436 add gps marker
  libs/bite-tribe-common/map/src/lib/map/utils/__specs__/add-gps-marker.spec.ts
  libs/bite-tribe-common/map/src/lib/map/utils/__specs__/geopoint-to-lat-lng.spec.ts
  libs/bite-tribe-common/map/src/lib/map/utils/__specs__/remove-gps-marker.spec.ts
  libs/bite-tribe-common/map/src/lib/map/utils/__specs__/zoom-to-gps-or-default.spec.ts
  libs/bite-tribe-common/map/src/lib/map/utils/add-gps-marker.ts
  libs/bite-tribe-common/map/src/lib/map/utils/geopoint-to-lat-lng.ts
  libs/bite-tribe-common/map/src/lib/map/utils/remove-gps-marker.ts
  libs/bite-tribe-common/map/src/lib/map/utils/zoom-to-gps-or-default.ts
Due: eslint --fix, prettier --write

feat: 436 show gps marker on top of other markers
  libs/bite-tribe-common/map/src/lib/map/utils/__specs__/add-gps-marker.spec.ts
  libs/bite-tribe-common/map/src/lib/map/utils/add-gps-marker.ts
Due: eslint --fix, prettier --write

test: 399 add code coverage
  libs/bite-tribe/store/src/lib/bites/__specs__/selectors.spec.ts
Due: eslint --fix, prettier --write

fix: 399 increase max bundle size
  apps/bite-tribe/project.json
Due: prettier --write

fix: 436 fix longitude bounds
  libs/bite-tribe-common/map/src/lib/map/utils/fit-map-to-markers.ts
Due: eslint --fix, prettier --write

test: 436 add unit tests
  libs/bite-tribe-common/map/src/lib/map/utils/__specs__/add-gps-marker.spec.ts
  libs/bite-tribe-common/map/src/lib/map/utils/__specs__/fit-map-to-markers.spec.ts
  libs/bite-tribe-common/map/src/lib/map/utils/__specs__/zoom-to-gps-or-default.spec.ts
Due: eslint --fix, prettier --write

test: 399 add unit tests
  libs/bite-tribe/store/src/lib/bites/__specs__/reducer.spec.ts
Due: eslint --fix, prettier --write

399 refresh bites on pull down (#434)
  apps/bite-tribe/project.json
  libs/bite-tribe/bite/page/src/lib/components/image-upload/__specs__/image-upload.component.spec.ts
  libs/bite-tribe/details/page/src/lib/integration/details.service.ts
  libs/bite-tribe/home/data-access/jest.config.ts
  libs/bite-tribe/home/data-access/src/lib/__specs__/home-data-access-service.spec.ts
  libs/bite-tribe/home/data-access/src/lib/home-data-access.service.ts
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/home.component.spec.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/home/page/src/lib/integration/__specs__/home.service.spec.ts
  libs/bite-tribe/home/page/src/lib/integration/home-container.component.ts
  libs/bite-tribe/home/page/src/lib/integration/home.service.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.html
  libs/bite-tribe/restaurant/page/src/lib/integration/restaurant.service.ts
  libs/bite-tribe/store/src/lib/__specs__/bite-tribe-store.service.spec.ts
  libs/bite-tribe/store/src/lib/app/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/app/effects.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/actions.spec.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/bites-by-restaurant.selector.spec.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/reducer.spec.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/selectors.spec.ts
  libs/bite-tribe/store/src/lib/bites/actions.ts
  libs/bite-tribe/store/src/lib/bites/index.ts
  libs/bite-tribe/store/src/lib/bites/reducer.ts
  libs/bite-tribe/store/src/lib/bites/selectors.ts
  libs/bite-tribe/store/src/lib/bites/utils/__specs__/get-bites-by-restaurant-id-or-name.spec.ts
  libs/bite-tribe/store/src/lib/bites/utils/__specs__/get-bites-by-restaurant-name.spec.ts
  libs/bite-tribe/store/src/lib/bites/utils/__specs__/get-close-bites.spec.ts
  libs/bite-tribe/store/src/lib/restaurants/__specs__/selectors.spec.ts
  libs/bite-tribe/store/src/lib/restaurants/utils/__specs__/get-restaurant.spec.ts
Due: eslint --fix, prettier --write

436 map view should zoom automatically to current location (#437)
  libs/bite-tribe-common/map/src/lib/map/__specs__/map.component.spec.ts
  libs/bite-tribe-common/map/src/lib/map/map.component.ts
  libs/bite-tribe-common/map/src/lib/map/model/default-zoom.ts
  libs/bite-tribe-common/map/src/lib/map/utils/__specs__/add-gps-marker.spec.ts
  libs/bite-tribe-common/map/src/lib/map/utils/__specs__/clear-markers.spec.ts
  libs/bite-tribe-common/map/src/lib/map/utils/__specs__/create-map.spec.ts
  libs/bite-tribe-common/map/src/lib/map/utils/__specs__/create-openstreetmap-layer.spec.ts
  libs/bite-tribe-common/map/src/lib/map/utils/__specs__/fit-map-to-markers.spec.ts
  libs/bite-tribe-common/map/src/lib/map/utils/__specs__/geopoint-to-lat-lng.spec.ts
  libs/bite-tribe-common/map/src/lib/map/utils/__specs__/geopoints-to-markers.spec.ts
  libs/bite-tribe-common/map/src/lib/map/utils/__specs__/remove-gps-marker.spec.ts
  libs/bite-tribe-common/map/src/lib/map/utils/__specs__/zoom-to-geopoint.spec.ts
  libs/bite-tribe-common/map/src/lib/map/utils/__specs__/zoom-to-gps-or-default.spec.ts
  libs/bite-tribe-common/map/src/lib/map/utils/__specs__/zoom-to-marker.spec.ts
  libs/bite-tribe-common/map/src/lib/map/utils/add-gps-marker.ts
  libs/bite-tribe-common/map/src/lib/map/utils/clear-markers.ts
  libs/bite-tribe-common/map/src/lib/map/utils/create-map.ts
  libs/bite-tribe-common/map/src/lib/map/utils/create-openstreetmap-layer.ts
  libs/bite-tribe-common/map/src/lib/map/utils/fit-map-to-markers.ts
  libs/bite-tribe-common/map/src/lib/map/utils/geopoint-to-lat-lng.ts
  libs/bite-tribe-common/map/src/lib/map/utils/geopoints-to-markers.ts
  libs/bite-tribe-common/map/src/lib/map/utils/remove-gps-marker.ts
  libs/bite-tribe-common/map/src/lib/map/utils/zoom-to-geopoint.ts
  libs/bite-tribe-common/map/src/lib/map/utils/zoom-to-gps-or-default.ts
  libs/bite-tribe-common/map/src/lib/map/utils/zoom-to-markers.ts
  libs/bite-tribe-common/map/src/lib/position/position.component.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/map/data-access/src/lib/map-data-access.service.ts
  libs/bite-tribe/map/page/jest.config.ts
  libs/bite-tribe/map/page/src/lib/components/map-page/__specs__/map-page.component.spec.ts
  libs/bite-tribe/map/page/src/lib/components/map-page/map-page.component.html
  libs/bite-tribe/map/page/src/lib/components/map-page/map-page.component.ts
  libs/bite-tribe/map/page/src/lib/integration/home-map-container.component.ts
  libs/bite-tribe/map/page/src/lib/integration/map.service.ts
  libs/bite-tribe/map/page/src/test-setup.ts
  libs/bite-tribe/map/page/tsconfig.json
  libs/bite-tribe/map/page/tsconfig.lib.json
  libs/bite-tribe/map/page/tsconfig.spec.json
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.html
Due: eslint --fix, prettier --write

feat: 410 implement bite view for map
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/restaurant-page.component.scss
  libs/bite-tribe-common/bite/src/lib/bite.component.scss
  libs/bite-tribe-common/map/src/lib/map/__specs__/map.component.spec.ts
  libs/bite-tribe-common/map/src/lib/map/map.component.ts
  libs/bite-tribe-common/map/src/lib/map/utils/geopoints-to-markers.ts
  libs/bite-tribe-common/map/src/lib/position/position.component.ts
  libs/bite-tribe/home/data-access/src/lib/__specs__/home-data-access-service.spec.ts
  libs/bite-tribe/home/data-access/src/lib/home-data-access.service.ts
  libs/bite-tribe/home/data-access/src/test-setup.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.scss
  libs/bite-tribe/map/data-access/jest.config.ts
  libs/bite-tribe/map/data-access/src/lib/__specs__/map-data-access.service.spec.ts
  libs/bite-tribe/map/data-access/src/lib/map-data-access.service.ts
  libs/bite-tribe/map/data-access/src/test-setup.ts
  libs/bite-tribe/map/page/src/lib/components/map-page/__specs__/map-page.component.spec.ts
  libs/bite-tribe/map/page/src/lib/components/map-page/map-page.component.html
  libs/bite-tribe/map/page/src/lib/components/map-page/map-page.component.scss
  libs/bite-tribe/map/page/src/lib/components/map-page/map-page.component.ts
  libs/bite-tribe/map/page/src/lib/integration/__specs__/home-map-container.component.spec.ts
  libs/bite-tribe/map/page/src/lib/integration/__specs__/map.service.spec.ts
  libs/bite-tribe/map/page/src/lib/integration/home-map-container.component.ts
  libs/bite-tribe/map/page/src/lib/integration/map.service.ts
  libs/bite-tribe/model/src/lib/geopoint.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.scss
  libs/bite-tribe/store/src/lib/__specs__/bite-tribe-store.service.spec.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
Due: eslint --fix, prettier --write, stylelint --fix
