Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

test: add test
  __mocks__/@capacitor/share/index.ts
  libs/bite-tribe/details/data-access/src/lib/__specs__/details-data-access.service.spec.ts
Due: eslint --fix, prettier --write

feat: setup appUrlOpen and notification open handler
  apps/bite-tribe-ios/ios/App/App/App.entitlements
  apps/bite-tribe/project.json
  apps/bite-tribe/src/.well-known/assetlinks.json
  apps/bite-tribe/src/app/app.component.ts
  apps/bite-tribe/src/apple-app-site-association
  libs/bite-tribe/store/src/lib/app/effects.ts
  libs/bite-tribe/store/src/lib/app/utils/init-push-notifications.ts
  libs/common/push-notifications/src/lib/init-push.ts
Due: eslint --fix, prettier --write

test: add test and adjust implementation
  apps/bite-tribe/src/app/app.component.spec.ts
  apps/bite-tribe/src/app/app.component.ts
  libs/bite-tribe/store/src/lib/app/__specs__/effects.spec.ts
Due: eslint --fix, prettier --write

test: fix and adjust tests
  apps/bite-tribe/src/app/app.component.spec.ts
Due: eslint --fix, prettier --write

test: add test
  apps/bite-tribe/src/app/app.component.spec.ts
Due: eslint --fix, prettier --write

chore: increase build number
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: none

build: include apple-app-site-association to build
  apps/bite-tribe/project.json
Due: prettier --write

feat(626): add button to share a bite via whatsapp (#628)
  __mocks__/@capacitor/share/index.ts
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-android/android/app/capacitor.build.gradle
  apps/bite-tribe-android/android/capacitor.settings.gradle
  apps/bite-tribe-android/package-lock.json
  apps/bite-tribe-android/package.json
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  apps/bite-tribe-ios/ios/App/App/App.entitlements
  apps/bite-tribe-ios/ios/App/Podfile
  apps/bite-tribe-ios/ios/App/Podfile.lock
  apps/bite-tribe-ios/package-lock.json
  apps/bite-tribe-ios/package.json
  apps/bite-tribe/project.json
  apps/bite-tribe/src/.well-known/assetlinks.json
  apps/bite-tribe/src/app/app.component.spec.ts
  apps/bite-tribe/src/app/app.component.ts
  apps/bite-tribe/src/apple-app-site-association
  libs/bite-tribe/details/data-access/src/lib/__specs__/details-data-access.service.spec.ts
  libs/bite-tribe/details/data-access/src/lib/details-data-access.service.ts
  libs/bite-tribe/details/page/eslint.config.mjs
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.spec.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.scss
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.ts
  libs/bite-tribe/details/page/src/lib/integration/details.container.ts
  libs/bite-tribe/details/page/src/lib/integration/details.service.ts
  libs/bite-tribe/store/src/lib/app/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/app/effects.ts
  libs/bite-tribe/store/src/lib/app/utils/init-push-notifications.ts
  libs/common/push-notifications/src/lib/init-push.ts
  libs/common/utils/src/lib/add-necessary-icons.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, stylelint --fix

fix: move nav to right handler
  libs/common/push-notifications/src/lib/init-push.ts
Due: eslint --fix, prettier --write

fix: fix wrong handler used for nav on noti click (#629)
  libs/common/push-notifications/src/lib/init-push.ts
Due: eslint --fix, prettier --write

feat: 623 add new follower notification
  apps/bite-tribe-firebase/functions/src/functions/notify-user-on-new-follower.ts
  apps/bite-tribe-firebase/functions/src/index.ts
Due: eslint --fix, prettier --write

feat: 623 check follow relationship
  apps/bite-tribe-firebase/functions/src/functions/notify-user-on-new-follower.ts
Due: eslint --fix, prettier --write

feat: 623 rename props
  apps/bite-tribe-firebase/functions/src/functions/notify-user-on-new-follower.ts
Due: eslint --fix, prettier --write

feat: 623 add new follower notification (#630)
  apps/bite-tribe-firebase/functions/src/functions/notify-user-on-new-follower.ts
  apps/bite-tribe-firebase/functions/src/index.ts
Due: eslint --fix, prettier --write

feat: add intent for android and exclude server files from sw navigation
  apps/bite-tribe-android/android/app/src/main/AndroidManifest.xml
  apps/bite-tribe/ngsw-config.json
Due: prettier --write

feat: add intent for android and exclude server files from sw navigation (#632)
  apps/bite-tribe-android/android/app/src/main/AndroidManifest.xml
  apps/bite-tribe/ngsw-config.json
Due: prettier --write

fix: hide unfollow button in following list of another user
  libs/bite-tribe/followers/page/src/lib/components/followers-list/followers-list.component.html
  libs/bite-tribe/followers/page/src/lib/components/followers-list/followers-list.component.ts
  libs/bite-tribe/followers/page/src/lib/integration/followers.container.ts
  libs/bite-tribe/followers/page/src/lib/integration/followers.service.ts
Due: eslint --fix, prettier --write

test: adjust tests
  libs/bite-tribe/followers/page/src/lib/components/followers-list/__specs__/followers-list.component.spec.ts
  libs/bite-tribe/followers/page/src/lib/integration/__specs__/followers.service.spec.ts
Due: eslint --fix, prettier --write

build: fix including apple-app-site-association and firebase serving necessary static files
  apps/bite-tribe/project.json
  firebase.json
Due: prettier --write

fix(633): fix showing unfollow button on other profile following list (#634)
  apps/bite-tribe/project.json
  firebase.json
  libs/bite-tribe/followers/page/src/lib/components/followers-list/__specs__/followers-list.component.spec.ts
  libs/bite-tribe/followers/page/src/lib/components/followers-list/followers-list.component.html
  libs/bite-tribe/followers/page/src/lib/components/followers-list/followers-list.component.ts
  libs/bite-tribe/followers/page/src/lib/integration/__specs__/followers.service.spec.ts
  libs/bite-tribe/followers/page/src/lib/integration/followers.container.ts
  libs/bite-tribe/followers/page/src/lib/integration/followers.service.ts
Due: eslint --fix, prettier --write

chore: increate build number
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: none

chore: increase build number (#635)
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: none

chore: add missing sha
  apps/bite-tribe/src/.well-known/assetlinks.json
Due: prettier --write

fix: sha256 for android (#636)
  apps/bite-tribe/src/.well-known/assetlinks.json
Due: prettier --write

refactor: rename bite to create-bite container
  libs/bite-tribe/bite/page/src/index.ts
  libs/bite-tribe/bite/page/src/lib/integration/__specs__/create-bite.container.spec.ts
  libs/bite-tribe/bite/page/src/lib/integration/create-bite.container.ts
  libs/bite-tribe/shell/src/lib/routes.ts
Due: eslint --fix, prettier --write

refactor: align upload image logic
  libs/bite-tribe-common/model/src/index.ts
  libs/bite-tribe-common/model/src/lib/create-and-upload-image-callback-params.ts
  libs/bite-tribe/api/src/lib/bite-api/bite-api.service.ts
  libs/bite-tribe/api/src/lib/bite-api/utils/load-profile-by-id.ts
  libs/bite-tribe/api/src/lib/bite-api/utils/update-profile-with-image-path-from-firestorage.ts
  libs/bite-tribe/api/src/lib/bite-api/utils/upload-image-and-update-bite.ts
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/api/src/lib/profile-api.service.ts
  libs/bite-tribe/api/src/lib/utils/upload-base64-to-firebase-storage.ts
  libs/bite-tribe/api/src/lib/utils/upload-blob-to-firebasestorage.ts
  libs/bite-tribe/store/src/lib/app/actions.ts
  libs/bite-tribe/store/src/lib/app/effects.ts
  libs/bite-tribe/store/src/lib/app/reducer.ts
  libs/bite-tribe/store/src/lib/bites/effects.ts
Due: eslint --fix, prettier --write

test: adjust tests
  libs/bite-tribe/api/src/lib/__specs__/profile-api.service.spec.ts
  libs/bite-tribe/store/src/lib/app/__specs__/effects.spec.ts
Due: eslint --fix, prettier --write

fix: fix undefined bite id in notification data
  apps/bite-tribe-firebase/functions/src/functions/notify-followers-on-new-bite.ts
  apps/bite-tribe-firebase/functions/src/functions/utils/send-notification.ts
  libs/common/push-notifications/src/lib/init-push.ts
Due: eslint --fix, prettier --write

test: add tests
  libs/bite-tribe/api/src/lib/__specs__/profile-api.service.spec.ts
  libs/bite-tribe/api/src/lib/bite-api/utils/__specs__/update-profile-with-image-path-from-firestorage.spec.ts
  libs/bite-tribe/store/src/lib/app/__specs__/effects.spec.ts
Due: eslint --fix, prettier --write

test: add tests
  libs/bite-tribe/store/src/lib/app/__specs__/effects.spec.ts
Due: eslint --fix, prettier --write

fix(637): change profile image unstable (#638)
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-firebase/functions/src/functions/notify-followers-on-new-bite.ts
  apps/bite-tribe-firebase/functions/src/functions/utils/send-notification.ts
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  libs/bite-tribe-common/model/src/index.ts
  libs/bite-tribe-common/model/src/lib/create-and-upload-image-callback-params.ts
  libs/bite-tribe/api/src/lib/__specs__/profile-api.service.spec.ts
  libs/bite-tribe/api/src/lib/bite-api/bite-api.service.ts
  libs/bite-tribe/api/src/lib/bite-api/utils/__specs__/update-profile-with-image-path-from-firestorage.spec.ts
  libs/bite-tribe/api/src/lib/bite-api/utils/load-profile-by-id.ts
  libs/bite-tribe/api/src/lib/bite-api/utils/update-profile-with-image-path-from-firestorage.ts
  libs/bite-tribe/api/src/lib/bite-api/utils/upload-image-and-update-bite.ts
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/api/src/lib/profile-api.service.ts
  libs/bite-tribe/api/src/lib/utils/upload-base64-to-firebase-storage.ts
  libs/bite-tribe/api/src/lib/utils/upload-blob-to-firebasestorage.ts
  libs/bite-tribe/bite/page/src/index.ts
  libs/bite-tribe/bite/page/src/lib/integration/__specs__/create-bite.container.spec.ts
  libs/bite-tribe/bite/page/src/lib/integration/create-bite.container.ts
  libs/bite-tribe/shell/src/lib/routes.ts
  libs/bite-tribe/store/src/lib/app/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/app/actions.ts
  libs/bite-tribe/store/src/lib/app/effects.ts
  libs/bite-tribe/store/src/lib/app/reducer.ts
  libs/bite-tribe/store/src/lib/bites/effects.ts
  libs/common/push-notifications/src/lib/init-push.ts
Due: eslint --fix, prettier --write

fix: normalize place name before check for uniquity
  libs/bite-tribe/restaurant/page/src/lib/utils/unique-bites-by-name.ts
Due: eslint --fix, prettier --write

test: add tests
  libs/bite-tribe/restaurant/page/src/lib/utils/__specs__/unique-bites-by-name.spec.ts
Due: eslint --fix, prettier --write

fix(618): duplicated entries in dynamic menu (#639)
  libs/bite-tribe/restaurant/page/src/lib/utils/__specs__/unique-bites-by-name.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/utils/unique-bites-by-name.ts
Due: eslint --fix, prettier --write

refactor: remove data-access to store dependency for my bites
  libs/bite-tribe/home/data-access/src/lib/home-data-access.service.ts
  libs/bite-tribe/profile/data-access/src/lib/profile-data-access.service.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/bites/selectors.ts
Due: eslint --fix, prettier --write

fix: separate profile bites from home bites
  libs/bite-tribe/home/data-access/src/lib/home-data-access.service.ts
  libs/bite-tribe/profile/data-access/src/lib/profile-data-access.service.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/bites/adapter.ts
  libs/bite-tribe/store/src/lib/bites/bites-by-id.selector.ts
  libs/bite-tribe/store/src/lib/bites/bites-by-restaurant.selector.ts
  libs/bite-tribe/store/src/lib/bites/home-bites.selector.ts
  libs/bite-tribe/store/src/lib/bites/index.ts
  libs/bite-tribe/store/src/lib/bites/reducer.ts
  libs/bite-tribe/store/src/lib/bites/selectors.ts
  libs/bite-tribe/store/src/lib/filtering-and-sorting/filtering-and-sorting-slice.model.ts
  libs/bite-tribe/store/src/lib/filtering-and-sorting/reducer.ts
  libs/bite-tribe/store/src/lib/filtering-and-sorting/selectors.ts
  libs/bite-tribe/store/src/lib/restaurants/selectors.ts
Due: eslint --fix, prettier --write

test: adjust tests
  libs/bite-tribe/store/src/lib/bites/__specs__/reducer.spec.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/selectors.spec.ts
  libs/bite-tribe/store/src/lib/bites/reducer.ts
  libs/bite-tribe/store/src/lib/filtering-and-sorting/__specs__/selectors.spec.ts
Due: eslint --fix, prettier --write

test: adjust tests
  libs/bite-tribe/profile/data-access/src/lib/__specs__/profile-data-access.service.spec.ts
Due: eslint --fix, prettier --write

fix: seperate bucket list bites from home feed
  libs/bite-tribe/map/data-access/src/lib/map-data-access.service.ts
  libs/bite-tribe/map/page/src/lib/integration/map.service.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/bites/adapter.ts
  libs/bite-tribe/store/src/lib/bites/bites-by-bucketlist.selector.ts
  libs/bite-tribe/store/src/lib/bites/reducer.ts
  libs/bite-tribe/store/src/lib/bites/selectors.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,html}
  prettier --write: any of: *.{ts,js,html,scss,json,md}
  stylelint --fix: any of: *.scss
