Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,html}": "eslint --fix",
  "*.{ts,js,html,scss,json,md}": "prettier --write",
  "*.scss": "stylelint --fix"
}

chore: prepare ios build
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: none

chore: prepare ios build (#359)
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: none

feat: impl delete bite feature
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe-common/bite/src/lib/bite.component.scss
  libs/bite-tribe-common/bite/src/lib/bite.component.ts
  libs/bite-tribe-common/styles/_globals.scss
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/home/data-access/src/lib/home-data-access.service.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/home/page/src/lib/integration/home.service.ts
  libs/bite-tribe/home/page/src/lib/integration/my-bites-container.component.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/bites/actions.ts
  libs/bite-tribe/store/src/lib/bites/effects.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: move bite and bucketlist buttons under the image
  libs/bite-tribe-common/bite/src/lib/bite.component.ts
  libs/bite-tribe-common/bite/src/lib/confirm-dialog/confirm-dialog.component.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
Due: eslint --fix, prettier --write

feat: create new bucketlist on bucket list page
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/bucketlist/data-access/src/lib/bucketlists-data-access.service.ts
  libs/bite-tribe/bucketlist/page/src/lib/components/bucketlists-page/bucketlists.page.html
  libs/bite-tribe/bucketlist/page/src/lib/components/bucketlists-page/bucketlists.page.scss
  libs/bite-tribe/bucketlist/page/src/lib/components/bucketlists-page/bucketlists.page.ts
  libs/bite-tribe/bucketlist/page/src/lib/integration/bucketlists.service.ts
  libs/bite-tribe/bucketlist/page/src/lib/integration/my-bucketlists.container.ts
  libs/bite-tribe/home/data-access/src/lib/home-data-access.service.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/bucketlists/actions.ts
  libs/bite-tribe/store/src/lib/bucketlists/effects.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: prepare build
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: none

feat: introduce menu on details page
  libs/bite-tribe/details/data-access/src/lib/details-data-access.service.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.ts
  libs/bite-tribe/details/page/src/lib/integration/details.container.ts
  libs/bite-tribe/details/page/src/lib/integration/details.service.ts
Due: eslint --fix, prettier --write

test: extend test suite
  libs/bite-tribe/details/page/src/lib/integration/__specs__/details.service.spec.ts
Due: eslint --fix, prettier --write

test: fix tests
  libs/bite-tribe/details/page/src/lib/integration/__specs__/details.container.spec.ts
Due: eslint --fix, prettier --write

test: extend test suite
  libs/bite-tribe-common/bite/src/lib/confirm-dialog/__specs__/confirm-dialog.component.spec.ts
Due: eslint --fix, prettier --write

chore: cleanup
  libs/bite-tribe-common/bite/src/lib/bite.component.ts
Due: eslint --fix, prettier --write

360 kristina wants to delete bites from my bites page (#361)
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe-common/bite/src/lib/bite.component.scss
  libs/bite-tribe-common/bite/src/lib/bite.component.ts
  libs/bite-tribe-common/bite/src/lib/confirm-dialog/__specs__/confirm-dialog.component.spec.ts
  libs/bite-tribe-common/bite/src/lib/confirm-dialog/confirm-dialog.component.ts
  libs/bite-tribe-common/styles/_globals.scss
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/bucketlist/data-access/src/lib/bucketlists-data-access.service.ts
  libs/bite-tribe/bucketlist/page/src/lib/components/bucketlists-page/bucketlists.page.html
  libs/bite-tribe/bucketlist/page/src/lib/components/bucketlists-page/bucketlists.page.scss
  libs/bite-tribe/bucketlist/page/src/lib/components/bucketlists-page/bucketlists.page.ts
  libs/bite-tribe/bucketlist/page/src/lib/integration/bucketlists.service.ts
  libs/bite-tribe/bucketlist/page/src/lib/integration/my-bucketlists.container.ts
  libs/bite-tribe/details/data-access/src/lib/details-data-access.service.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.ts
  libs/bite-tribe/details/page/src/lib/integration/__specs__/details.container.spec.ts
  libs/bite-tribe/details/page/src/lib/integration/__specs__/details.service.spec.ts
  libs/bite-tribe/details/page/src/lib/integration/details.container.ts
  libs/bite-tribe/details/page/src/lib/integration/details.service.ts
  libs/bite-tribe/home/data-access/src/lib/home-data-access.service.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/home/page/src/lib/integration/home.service.ts
  libs/bite-tribe/home/page/src/lib/integration/my-bites-container.component.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/bites/actions.ts
  libs/bite-tribe/store/src/lib/bites/effects.ts
  libs/bite-tribe/store/src/lib/bucketlists/actions.ts
  libs/bite-tribe/store/src/lib/bucketlists/effects.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: resorting categories
  libs/bite-tribe/menu/page/src/lib/components/menu/menu.component.html
  libs/bite-tribe/menu/page/src/lib/components/menu/menu.component.ts
Due: eslint --fix, prettier --write

style: add reordering anchor icon
  libs/bite-tribe/menu/page/src/lib/components/menu/menu.component.html
  libs/bite-tribe/menu/page/src/lib/components/menu/menu.component.scss
  libs/bite-tribe/menu/page/src/lib/components/menu/menu.component.ts
  libs/common/utils/src/lib/add-necessary-icons.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: reordering of menu items
  libs/bite-tribe-common/styles/_globals.scss
  libs/bite-tribe/menu/page/src/lib/components/category/category.component.html
  libs/bite-tribe/menu/page/src/lib/components/category/category.component.scss
  libs/bite-tribe/menu/page/src/lib/components/category/category.component.ts
  libs/bite-tribe/menu/page/src/lib/components/menu/menu.component.html
  libs/bite-tribe/menu/page/src/lib/components/menu/menu.component.scss
  libs/bite-tribe/menu/page/src/lib/components/menu/menu.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

325 business side would like to change the position on the menu items and categorizes too (#362)
  libs/bite-tribe-common/styles/_globals.scss
  libs/bite-tribe/menu/page/src/lib/components/category/category.component.html
  libs/bite-tribe/menu/page/src/lib/components/category/category.component.scss
  libs/bite-tribe/menu/page/src/lib/components/category/category.component.ts
  libs/bite-tribe/menu/page/src/lib/components/menu/menu.component.html
  libs/bite-tribe/menu/page/src/lib/components/menu/menu.component.scss
  libs/bite-tribe/menu/page/src/lib/components/menu/menu.component.ts
  libs/common/utils/src/lib/add-necessary-icons.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: enable public profile and show bite creator on bite detail page
  libs/bite-tribe-common/styles/_globals.scss
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/details/data-access/src/lib/details-data-access.service.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.scss
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.ts
  libs/bite-tribe/details/page/src/lib/integration/details.container.ts
  libs/bite-tribe/details/page/src/lib/integration/details.service.ts
  libs/bite-tribe/model/src/index.ts
  libs/bite-tribe/model/src/lib/public-user.ts
  libs/bite-tribe/settings/data-access/src/lib/settings-data-access.service.ts
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.html
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.scss
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.ts
  libs/bite-tribe/settings/page/src/lib/integration/settings-container.component.ts
  libs/bite-tribe/settings/page/src/lib/integration/settings.service.ts
  libs/bite-tribe/store/src/lib/app/actions.ts
  libs/bite-tribe/store/src/lib/app/effects.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/bites/actions.ts
  libs/bite-tribe/store/src/lib/bites/adapter.ts
  libs/bite-tribe/store/src/lib/bites/effects.ts
  libs/bite-tribe/store/src/lib/bites/reducer.ts
  libs/bite-tribe/store/src/lib/bites/selectors.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: toggle return to private and go public button and impl api
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/settings/data-access/src/lib/settings-data-access.service.ts
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.html
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.ts
  libs/bite-tribe/settings/page/src/lib/integration/settings-container.component.ts
  libs/bite-tribe/settings/page/src/lib/integration/settings.service.ts
  libs/bite-tribe/store/src/lib/app/actions.ts
  libs/bite-tribe/store/src/lib/app/effects.ts
  libs/bite-tribe/store/src/lib/app/reducer.ts
  libs/bite-tribe/store/src/lib/app/selectors.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
Due: eslint --fix, prettier --write

style: fix padding
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.html
Due: eslint --fix, prettier --write

364 user wants to make himherself public (#365)
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  libs/bite-tribe-common/styles/_globals.scss
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/details/data-access/src/lib/details-data-access.service.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.scss
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.ts
  libs/bite-tribe/details/page/src/lib/integration/__specs__/details.container.spec.ts
  libs/bite-tribe/details/page/src/lib/integration/details.container.ts
  libs/bite-tribe/details/page/src/lib/integration/details.service.ts
  libs/bite-tribe/model/src/index.ts
  libs/bite-tribe/model/src/lib/public-user.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.html
  libs/bite-tribe/settings/data-access/src/lib/settings-data-access.service.ts
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.html
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.scss
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.ts
  libs/bite-tribe/settings/page/src/lib/integration/settings-container.component.ts
  libs/bite-tribe/settings/page/src/lib/integration/settings.service.ts
  libs/bite-tribe/store/src/lib/app/actions.ts
  libs/bite-tribe/store/src/lib/app/effects.ts
  libs/bite-tribe/store/src/lib/app/reducer.ts
  libs/bite-tribe/store/src/lib/app/selectors.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/bites/actions.ts
  libs/bite-tribe/store/src/lib/bites/adapter.ts
  libs/bite-tribe/store/src/lib/bites/effects.ts
  libs/bite-tribe/store/src/lib/bites/reducer.ts
  libs/bite-tribe/store/src/lib/bites/selectors.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: cleanup cache after logout on web
  apps/bite-tribe-ios/project.json
  libs/common/ta-firestore/src/lib/auth.service.ts
Due: eslint --fix, prettier --write

feat: cleanup redux store on logout
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/store/src/lib/app/reducer.ts
  libs/bite-tribe/store/src/lib/bites/reducer.ts
  libs/bite-tribe/store/src/lib/bucketlists/reducer.ts
  libs/bite-tribe/store/src/lib/likes/reducer.ts
  libs/bite-tribe/store/src/lib/menus/reducer.ts
  libs/bite-tribe/store/src/lib/restaurants/reducer.ts
  libs/bite-tribe/store/src/lib/reviews/reducer.ts
  libs/common/ta-firestore/src/lib/auth.service.ts
  libs/common/ta-firestore/src/lib/ngrx-store/reducer.ts
  libs/common/utils/src/lib/get-meta-reducers.ts
Due: eslint --fix, prettier --write

feat: skip initial value of channels
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/store/src/lib/app/effects.ts
  libs/bite-tribe/store/src/lib/provide-bite-tribe-store.ts
Due: eslint --fix, prettier --write

feat: introduce spinner while loading bites
  libs/bite-tribe/home/data-access/src/lib/home-data-access.service.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.scss
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/home/page/src/lib/integration/home-container.component.ts
  libs/bite-tribe/home/page/src/lib/integration/home.service.ts
  libs/bite-tribe/store/src/lib/app/app-slice.model.ts
  libs/bite-tribe/store/src/lib/app/reducer.ts
  libs/bite-tribe/store/src/lib/app/selectors.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/provide-bite-tribe-store.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: trace screens in firebase analytics
  libs/bite-tribe/bite/page/src/lib/integration/bite-container.component.ts
  libs/bite-tribe/bite/page/src/lib/integration/edit-bite-container.component.ts
  libs/bite-tribe/bucketlist/page/src/lib/integration/my-bucketlists.container.ts
  libs/bite-tribe/details/page/src/lib/integration/details.container.ts
  libs/bite-tribe/home/page/src/lib/integration/bucket-list-container.component.ts
  libs/bite-tribe/home/page/src/lib/integration/home-container.component.ts
  libs/bite-tribe/home/page/src/lib/integration/my-bites-container.component.ts
  libs/bite-tribe/menu/page/src/lib/integration/menu-container.component.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/restaurant-container.component.ts
  libs/bite-tribe/settings/page/src/lib/integration/settings-container.component.ts
  libs/bite-tribe/start/src/lib/bite-tribe-start.component.ts
Due: eslint --fix, prettier --write

test: extend test suite
  libs/bite-tribe/start/src/lib/__specs__/bite-tribe-start.component.spec.ts
Due: eslint --fix, prettier --write

feature(368): proper cleanup after logout and tracking screen on firebase analytics (#375)
  apps/bite-tribe-ios/project.json
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite-container.component.ts
  libs/bite-tribe/bite/page/src/lib/integration/edit-bite-container.component.ts
  libs/bite-tribe/bucketlist/page/src/lib/integration/my-bucketlists.container.ts
  libs/bite-tribe/details/page/src/lib/integration/details.container.ts
  libs/bite-tribe/home/data-access/src/lib/home-data-access.service.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.scss
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/home/page/src/lib/integration/bucket-list-container.component.ts
  libs/bite-tribe/home/page/src/lib/integration/home-container.component.ts
  libs/bite-tribe/home/page/src/lib/integration/home.service.ts
  libs/bite-tribe/home/page/src/lib/integration/my-bites-container.component.ts
  libs/bite-tribe/menu/page/src/lib/integration/menu-container.component.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/restaurant-container.component.ts
  libs/bite-tribe/settings/page/src/lib/integration/settings-container.component.ts
  libs/bite-tribe/start/src/lib/__specs__/bite-tribe-start.component.spec.ts
  libs/bite-tribe/start/src/lib/bite-tribe-start.component.ts
  libs/bite-tribe/store/src/lib/app/app-slice.model.ts
  libs/bite-tribe/store/src/lib/app/effects.ts
  libs/bite-tribe/store/src/lib/app/reducer.ts
  libs/bite-tribe/store/src/lib/app/selectors.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/bites/reducer.ts
  libs/bite-tribe/store/src/lib/bucketlists/reducer.ts
  libs/bite-tribe/store/src/lib/likes/reducer.ts
  libs/bite-tribe/store/src/lib/menus/reducer.ts
  libs/bite-tribe/store/src/lib/restaurants/reducer.ts
  libs/bite-tribe/store/src/lib/reviews/reducer.ts
  libs/common/ta-firestore/src/lib/auth.service.ts
  libs/common/ta-firestore/src/lib/ngrx-store/reducer.ts
  libs/common/utils/src/lib/get-meta-reducers.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: add nav to resto on bite detail page
  libs/bite-tribe-common/bite/src/lib/bite.component.scss
  libs/bite-tribe-common/styles/_globals.scss
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.scss
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.ts
  libs/bite-tribe/details/page/src/lib/integration/details.container.ts
  libs/bite-tribe/details/page/src/lib/integration/details.service.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: prepare next ios build
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: none

feat(372): add nav to resto on bite detail page (#376)
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  libs/bite-tribe-common/bite/src/lib/bite.component.scss
  libs/bite-tribe-common/styles/_globals.scss
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.scss
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.ts
  libs/bite-tribe/details/page/src/lib/integration/details.container.ts
  libs/bite-tribe/details/page/src/lib/integration/details.service.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: open maps from detail view
  apps/bite-tribe-ios/ios/App/App/Info.plist
  apps/bite-tribe-ios/ios/App/Podfile
  apps/bite-tribe-ios/ios/App/Podfile.lock
  apps/bite-tribe-ios/package-lock.json
  apps/bite-tribe-ios/package.json
  apps/bite-tribe-ios/project.json
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe-common/bite/src/lib/bite.component.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.scss
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.ts
  libs/common/utils/src/lib/add-necessary-icons.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, stylelint --fix

test: extend test suite
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.spec.ts
  libs/bite-tribe/details/page/src/lib/integration/__specs__/details.container.spec.ts
Due: eslint --fix, prettier --write

refactor: cleanup openNavigation method and build preparation
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.ts
Due: eslint --fix, prettier --write

369 user wants a link to open gps position in maps eg google maps and get navigation instructions (#377)
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  apps/bite-tribe-ios/ios/App/App/Info.plist
  apps/bite-tribe-ios/ios/App/Podfile
  apps/bite-tribe-ios/ios/App/Podfile.lock
  apps/bite-tribe-ios/package-lock.json
  apps/bite-tribe-ios/package.json
  apps/bite-tribe-ios/project.json
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe-common/bite/src/lib/bite.component.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.spec.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.scss
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.ts
  libs/bite-tribe/details/page/src/lib/integration/__specs__/details.container.spec.ts
  libs/common/utils/src/lib/add-necessary-icons.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, stylelint --fix

feat: introduce map page for home
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/home/page/src/lib/integration/home-container.component.ts
  libs/bite-tribe/home/page/src/lib/integration/home.service.ts
  libs/bite-tribe/map/data-access/.eslintrc.json
  libs/bite-tribe/map/data-access/README.md
  libs/bite-tribe/map/data-access/jest.config.ts
  libs/bite-tribe/map/data-access/project.json
  libs/bite-tribe/map/data-access/src/index.ts
  libs/bite-tribe/map/data-access/src/lib/map-data-access.service.ts
  libs/bite-tribe/map/data-access/src/test-setup.ts
  libs/bite-tribe/map/data-access/tsconfig.json
  libs/bite-tribe/map/data-access/tsconfig.lib.json
  libs/bite-tribe/map/data-access/tsconfig.spec.json
  libs/bite-tribe/map/page/.eslintrc.json
  libs/bite-tribe/map/page/README.md
  libs/bite-tribe/map/page/jest.config.ts
  libs/bite-tribe/map/page/project.json
  libs/bite-tribe/map/page/src/index.ts
  libs/bite-tribe/map/page/src/lib/components/map-page/map-page.component.html
  libs/bite-tribe/map/page/src/lib/components/map-page/map-page.component.scss
  libs/bite-tribe/map/page/src/lib/components/map-page/map-page.component.ts
  libs/bite-tribe/map/page/src/lib/integration/home-map-container.component.ts
  libs/bite-tribe/map/page/src/lib/integration/map.service.ts
  libs/bite-tribe/map/page/src/test-setup.ts
  libs/bite-tribe/map/page/tsconfig.json
  libs/bite-tribe/map/page/tsconfig.lib.json
  libs/bite-tribe/map/page/tsconfig.spec.json
  libs/bite-tribe/shell/src/lib/routes.ts
  tsconfig.base.json
Due: eslint --fix, prettier --write, stylelint --fix

feat: implement map view from home
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  apps/bite-tribe-ios/project.json
  libs/bite-tribe-common/map/src/lib/map/map.component.ts
  libs/bite-tribe-common/map/src/lib/position/position.component.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/map/page/src/lib/components/map-page/map-page.component.html
  libs/bite-tribe/map/page/src/lib/components/map-page/map-page.component.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.ts
Due: eslint --fix, prettier --write

refactor: remove non-null assertion
  apps/bite-tribe-ios/project.json
  libs/bite-tribe-common/map/src/lib/map/map.component.ts
  libs/bite-tribe-common/map/src/lib/position/position.component.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/map/page/src/lib/components/map-page/map-page.component.html
  libs/bite-tribe/map/page/src/lib/components/map-page/map-page.component.ts
Due: eslint --fix, prettier --write

chore: force ng build not understanding it can not be null with if check before
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
Due: eslint --fix, prettier --write
