Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

chore: add current job
  apps/cv/src/app/app.component.ts
  apps/cv/src/app/dates.ts
  apps/cv/src/app/projects.ts
Due: eslint --fix, prettier --write

style: styling of cv in print version
  apps/cv/public/assets/print.css
  apps/cv/src/app/app.component.html
  apps/cv/src/app/app.component.scss
  apps/cv/src/app/projects.ts
  apps/cv/src/index.html
Due: eslint --fix, prettier --write, stylelint --fix

docs: update cv
  apps/cv/eslint.config.mjs
  apps/cv/src/app/app.component.html
  apps/cv/src/app/app.component.scss
  apps/cv/src/app/app.component.ts
  apps/cv/src/app/duration.pipe.ts
  apps/cv/src/app/project.ts
  apps/cv/src/app/projects.ts
  apps/cv/src/app/technologies.ts
  apps/cv/src/app/technology.pipe.ts
  apps/cv/src/styles.scss
  apps/cv/src/technology/technology.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: update favicon
  apps/cv/public/favicon.ico
  apps/cv/public/icons/icon-128x128.png
  apps/cv/public/icons/icon-144x144.png
  apps/cv/public/icons/icon-152x152.png
  apps/cv/public/icons/icon-192x192.png
  apps/cv/public/icons/icon-384x384.png
  apps/cv/public/icons/icon-512x512.png
  apps/cv/public/icons/icon-72x72.png
  apps/cv/public/icons/icon-96x96.png
  apps/cv/src/index.html
  icons/icon-128.webp
  icons/icon-192.webp
  icons/icon-256.webp
  icons/icon-48.webp
  icons/icon-512.webp
  icons/icon-72.webp
  icons/icon-96.webp
Due: eslint --fix, prettier --write

chore: update cv (#486)
  apps/cv/eslint.config.mjs
  apps/cv/public/assets/print.css
  apps/cv/public/favicon.ico
  apps/cv/public/icons/icon-128x128.png
  apps/cv/public/icons/icon-144x144.png
  apps/cv/public/icons/icon-152x152.png
  apps/cv/public/icons/icon-192x192.png
  apps/cv/public/icons/icon-384x384.png
  apps/cv/public/icons/icon-512x512.png
  apps/cv/public/icons/icon-72x72.png
  apps/cv/public/icons/icon-96x96.png
  apps/cv/src/app/app.component.html
  apps/cv/src/app/app.component.scss
  apps/cv/src/app/app.component.ts
  apps/cv/src/app/dates.ts
  apps/cv/src/app/duration.pipe.ts
  apps/cv/src/app/project.ts
  apps/cv/src/app/projects.ts
  apps/cv/src/app/technologies.ts
  apps/cv/src/app/technology.pipe.ts
  apps/cv/src/index.html
  apps/cv/src/styles.scss
  apps/cv/src/technology/technology.ts
  icons/icon-128.webp
  icons/icon-192.webp
  icons/icon-256.webp
  icons/icon-48.webp
  icons/icon-512.webp
  icons/icon-72.webp
  icons/icon-96.webp
Due: eslint --fix, prettier --write, stylelint --fix

feat: improve gps error handling
  libs/bite-tribe/home/data-access/src/lib/home-data-access.service.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/home/page/src/lib/integration/home-container.component.ts
  libs/bite-tribe/home/page/src/lib/integration/home.service.ts
  libs/bite-tribe/store/src/lib/app/actions.ts
  libs/bite-tribe/store/src/lib/app/app-slice.model.ts
  libs/bite-tribe/store/src/lib/app/effects.ts
  libs/bite-tribe/store/src/lib/app/reducer.ts
  libs/bite-tribe/store/src/lib/app/selectors.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/bites/actions.ts
  libs/bite-tribe/store/src/lib/bites/index.ts
  libs/bite-tribe/store/src/lib/bites/reducer.ts
  libs/bite-tribe/store/src/lib/bites/selectors.ts
Due: eslint --fix, prettier --write

feat: add alert icon to distance on gps error
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe-common/bite/src/lib/bite.component.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/integration/bucket-list-container.component.ts
  libs/bite-tribe/home/page/src/lib/integration/my-bites-container.component.ts
  libs/common/distance/src/lib/components/distance/distance.component.html
  libs/common/distance/src/lib/components/distance/distance.component.ts
  libs/common/utils/src/lib/add-necessary-icons.ts
Due: eslint --fix, prettier --write

feat: better wording for message on gps error
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
Due: eslint --fix, prettier --write

test: adjust tests
  libs/bite-tribe-common/bite/src/lib/bite.component.ts
  libs/bite-tribe/home/data-access/src/lib/__specs__/home-data-access-service.spec.ts
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/home.component.spec.ts
  libs/bite-tribe/home/page/src/lib/integration/__specs__/home.service.spec.ts
  libs/bite-tribe/store/src/lib/__specs__/bite-tribe-store.service.spec.ts
  libs/bite-tribe/store/src/lib/app/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/app/__specs__/reducer.spec.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/actions.spec.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/reducer.spec.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/selectors.spec.ts
Due: eslint --fix, prettier --write

feat: sw update handling
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/provide-bite-tribe-store.ts
  libs/bite-tribe/store/src/lib/service-worker/effects.ts
Due: eslint --fix, prettier --write

chore: add catch handler
  libs/bite-tribe/store/src/lib/service-worker/effects.ts
Due: eslint --fix, prettier --write

test: add lost tests
  libs/bite-tribe/home/data-access/src/lib/__specs__/home-data-access-service.spec.ts
  libs/bite-tribe/home/page/src/lib/integration/__specs__/home.service.spec.ts
  libs/bite-tribe/store/src/lib/__specs__/bite-tribe-store.service.spec.ts
  libs/bite-tribe/store/src/lib/app/__specs__/reducer.spec.ts
  libs/bite-tribe/store/src/lib/app/__specs__/selectors.spec.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/utils/__specs__/get-action-by-doc-type.spec.ts
  libs/bite-tribe/store/src/lib/utils/get-action-by-doc-type.ts
Due: eslint --fix, prettier --write

feat(#487): improve handling of gps error and introduce sw update alert (#488)
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe-common/bite/src/lib/bite.component.ts
  libs/bite-tribe/home/data-access/src/lib/__specs__/home-data-access-service.spec.ts
  libs/bite-tribe/home/data-access/src/lib/home-data-access.service.ts
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/home.component.spec.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/home/page/src/lib/integration/__specs__/home.service.spec.ts
  libs/bite-tribe/home/page/src/lib/integration/bucket-list-container.component.ts
  libs/bite-tribe/home/page/src/lib/integration/home-container.component.ts
  libs/bite-tribe/home/page/src/lib/integration/home.service.ts
  libs/bite-tribe/home/page/src/lib/integration/my-bites-container.component.ts
  libs/bite-tribe/store/src/lib/__specs__/bite-tribe-store.service.spec.ts
  libs/bite-tribe/store/src/lib/app/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/app/__specs__/reducer.spec.ts
  libs/bite-tribe/store/src/lib/app/__specs__/selectors.spec.ts
  libs/bite-tribe/store/src/lib/app/actions.ts
  libs/bite-tribe/store/src/lib/app/app-slice.model.ts
  libs/bite-tribe/store/src/lib/app/effects.ts
  libs/bite-tribe/store/src/lib/app/reducer.ts
  libs/bite-tribe/store/src/lib/app/selectors.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/actions.spec.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/reducer.spec.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/selectors.spec.ts
  libs/bite-tribe/store/src/lib/bites/actions.ts
  libs/bite-tribe/store/src/lib/bites/index.ts
  libs/bite-tribe/store/src/lib/bites/reducer.ts
  libs/bite-tribe/store/src/lib/bites/selectors.ts
  libs/bite-tribe/store/src/lib/provide-bite-tribe-store.ts
  libs/bite-tribe/store/src/lib/service-worker/effects.ts
  libs/bite-tribe/store/src/lib/utils/__specs__/get-action-by-doc-type.spec.ts
  libs/bite-tribe/store/src/lib/utils/get-action-by-doc-type.ts
  libs/common/distance/src/lib/components/distance/distance.component.html
  libs/common/distance/src/lib/components/distance/distance.component.ts
  libs/common/utils/src/lib/add-necessary-icons.ts
Due: eslint --fix, prettier --write

chore: increase build number
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: none

feat(#470): Add enableZoom parameter to disable map zoom on home page (#489)
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  libs/bite-tribe-common/map/src/lib/map/__specs__/map.component.spec.ts
  libs/bite-tribe-common/map/src/lib/map/map.component.ts
  libs/bite-tribe-common/map/src/lib/map/utils/__specs__/create-map.spec.ts
  libs/bite-tribe-common/map/src/lib/map/utils/create-map.ts
  libs/bite-tribe/map/page/src/lib/components/map-page/map-page.component.html
  libs/bite-tribe/map/page/src/lib/components/map-page/map-page.component.ts
  libs/bite-tribe/map/page/src/lib/integration/home-map-container.component.ts
Due: eslint --fix, prettier --write

refactor: make crop part of image-upload component instead of own page
  libs/bite-tribe/bite/page/src/index.ts
  libs/bite-tribe/bite/page/src/lib/components/image-crop-page/__specs__/image-crop-page.component.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/image-crop-page/image-crop-page.component.html
  libs/bite-tribe/bite/page/src/lib/components/image-crop-page/image-crop-page.component.scss
  libs/bite-tribe/bite/page/src/lib/components/image-crop-page/image-crop-page.component.ts
  libs/bite-tribe/bite/page/src/lib/components/image-upload/image-upload.component.html
  libs/bite-tribe/bite/page/src/lib/components/image-upload/image-upload.component.ts
  libs/bite-tribe/bite/page/src/lib/integration/__specs__/image-crop-container.component.spec.ts
  libs/bite-tribe/bite/page/src/lib/integration/image-crop-container.component.ts
  libs/bite-tribe/shell/src/lib/routes.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor: test adjustments
  libs/bite-tribe/bite/page/src/lib/components/image-upload/__specs__/image-upload.component.spec.ts
Due: eslint --fix, prettier --write

chore: cleanup
  libs/bite-tribe/bite/page/eslint.config.mjs
  libs/bite-tribe/bite/page/src/lib/components/image-upload/image-upload.component.ts
Due: eslint --fix, prettier --write

chore: cleanup
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite-container.component.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite.service.ts
  libs/bite-tribe/bite/page/src/lib/integration/edit-bite-container.component.ts
  libs/common/ui/page/src/lib/page.component.html
  libs/common/ui/page/src/lib/page.component.ts
Due: eslint --fix, prettier --write

chore: cleanup
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
  libs/bite-tribe/bite/page/src/lib/integration/__specs__/bite.service.spec.ts
Due: eslint --fix, prettier --write

fix: fix cropping for edit bite
  libs/bite-tribe/bite/page/src/lib/components/image-upload/image-upload.component.html
Due: eslint --fix, prettier --write

fix: fix conflicting output format for cropper
  libs/bite-tribe/bite/page/eslint.config.mjs
  libs/bite-tribe/bite/page/src/lib/components/image-upload/image-upload.component.html
Due: eslint --fix, prettier --write

test: readjust tests
  libs/bite-tribe/bite/page/src/lib/components/image-upload/__specs__/image-upload.component.spec.ts
Due: eslint --fix, prettier --write

fix(#490): fix crop image (#491)
  libs/bite-tribe/bite/page/eslint.config.mjs
  libs/bite-tribe/bite/page/src/index.ts
  libs/bite-tribe/bite/page/src/lib/components/image-crop-page/__specs__/image-crop-page.component.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/image-crop-page/image-crop-page.component.html
  libs/bite-tribe/bite/page/src/lib/components/image-crop-page/image-crop-page.component.scss
  libs/bite-tribe/bite/page/src/lib/components/image-crop-page/image-crop-page.component.ts
  libs/bite-tribe/bite/page/src/lib/components/image-upload/__specs__/image-upload.component.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/image-upload/image-upload.component.html
  libs/bite-tribe/bite/page/src/lib/components/image-upload/image-upload.component.ts
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/bite/page/src/lib/integration/__specs__/bite.service.spec.ts
  libs/bite-tribe/bite/page/src/lib/integration/__specs__/image-crop-container.component.spec.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite-container.component.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite.service.ts
  libs/bite-tribe/bite/page/src/lib/integration/edit-bite-container.component.ts
  libs/bite-tribe/bite/page/src/lib/integration/image-crop-container.component.ts
  libs/bite-tribe/shell/src/lib/routes.ts
  libs/common/ui/page/src/lib/page.component.html
  libs/common/ui/page/src/lib/page.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor: adjust app slice structure
  libs/bite-tribe/store/src/lib/app/__specs__/reducer.spec.ts
  libs/bite-tribe/store/src/lib/app/__specs__/selectors.spec.ts
  libs/bite-tribe/store/src/lib/app/app-slice.model.ts
  libs/bite-tribe/store/src/lib/app/reducer.ts
  libs/bite-tribe/store/src/lib/app/selectors.ts
Due: eslint --fix, prettier --write

test: extend test suite
  libs/bite-tribe/home/data-access/src/lib/__specs__/home-data-access-service.spec.ts
  libs/bite-tribe/home/page/src/lib/integration/__specs__/home.service.spec.ts
  libs/bite-tribe/store/src/lib/__specs__/bite-tribe-store.service.spec.ts
  libs/bite-tribe/store/src/lib/bites/selectors.ts
  libs/bite-tribe/store/src/lib/bites/utils/__specs__/sort-by-criteria.spec.ts
  libs/bite-tribe/store/src/lib/bites/utils/sort-by-criteria.ts
Due: eslint --fix, prettier --write

test: fix test
  libs/bite-tribe/home/page/src/lib/integration/__specs__/home.service.spec.ts
Due: eslint --fix, prettier --write

feat(#492): Add sorting functionality to my-bites page
  libs/bite-tribe/home/data-access/src/lib/__specs__/home-data-access-service.spec.ts
  libs/bite-tribe/home/data-access/src/lib/home-data-access.service.ts
  libs/bite-tribe/home/page/src/lib/integration/__specs__/home.service.spec.ts
  libs/bite-tribe/home/page/src/lib/integration/home.service.ts
  libs/bite-tribe/home/page/src/lib/integration/my-bites-container.component.ts
  libs/bite-tribe/store/src/lib/__specs__/bite-tribe-store.service.spec.ts
  libs/bite-tribe/store/src/lib/app/__specs__/reducer.spec.ts
  libs/bite-tribe/store/src/lib/app/__specs__/selectors.spec.ts
  libs/bite-tribe/store/src/lib/app/actions.ts
  libs/bite-tribe/store/src/lib/app/app-slice.model.ts
  libs/bite-tribe/store/src/lib/app/reducer.ts
  libs/bite-tribe/store/src/lib/app/selectors.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/selectors.spec.ts
  libs/bite-tribe/store/src/lib/bites/selectors.ts
  libs/bite-tribe/store/src/lib/bites/utils/__specs__/sort-by-criteria.spec.ts
  libs/bite-tribe/store/src/lib/bites/utils/sort-by-criteria.ts
Due: eslint --fix, prettier --write

feat: 493 restructure component to include sorting in the ui
  libs/bite-tribe/bucketlist/page/eslint.config.mjs
  libs/bite-tribe/bucketlist/page/jest.config.ts
  libs/bite-tribe/bucketlist/page/src/lib/components/bucketlists-page/__specs__/bucketlists.page.spec.ts
  libs/bite-tribe/bucketlist/page/src/lib/components/bucketlists-page/bucketlists.page.html
  libs/bite-tribe/bucketlist/page/src/lib/components/bucketlists-page/bucketlists.page.scss
  libs/bite-tribe/bucketlist/page/src/lib/components/bucketlists-page/bucketlists.page.ts
  libs/bite-tribe/bucketlist/page/src/lib/pipes/__specs__/count.pipe.spec.ts
  libs/bite-tribe/bucketlist/page/tsconfig.lib.json
  libs/bite-tribe/bucketlist/page/tsconfig.spec.json
  libs/common/ui/page/src/lib/page.component.html
  libs/common/ui/page/src/lib/page.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: 493 rename options
  libs/bite-tribe/bucketlist/page/src/lib/components/bucketlists-page/bucketlists.page.html
Due: eslint --fix, prettier --write

feat: impl my profile in menu
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.ts
  libs/bite-tribe/details/page/src/lib/integration/details.container.ts
  libs/bite-tribe/details/page/src/lib/integration/details.service.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/home/page/src/lib/integration/bucket-list-container.component.ts
  libs/bite-tribe/home/page/src/lib/integration/home-container.component.ts
  libs/bite-tribe/home/page/src/lib/integration/home.service.ts
  libs/bite-tribe/home/page/src/lib/integration/my-bites-container.component.ts
  libs/bite-tribe/map/page/src/lib/components/map-page/map-page.component.html
  libs/bite-tribe/map/page/src/lib/components/map-page/map-page.component.ts
  libs/bite-tribe/map/page/src/lib/integration/bucket-list-map.container.component.ts
  libs/bite-tribe/map/page/src/lib/integration/home-map-container.component.ts
  libs/bite-tribe/map/page/src/lib/integration/map.service.ts
  libs/bite-tribe/map/page/src/lib/integration/my-bites-map.container.component.ts
  libs/bite-tribe/profile/data-access/src/lib/profile-data-access.service.ts
  libs/bite-tribe/profile/page/src/index.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.ts
  libs/bite-tribe/profile/page/src/lib/integration/bite-creator-profile.container.ts
  libs/bite-tribe/profile/page/src/lib/integration/my-profile.container.ts
  libs/bite-tribe/profile/page/src/lib/integration/profile.service.ts
  libs/bite-tribe/shell/src/lib/routes.ts
  libs/common/ui/page/eslint.config.mjs
  libs/common/ui/page/src/lib/menu/menu.component.html
  libs/common/ui/page/src/lib/menu/menu.component.ts
  libs/common/ui/page/src/lib/page.component.ts
  libs/common/ui/page/src/lib/popover-menu.component.ts
Due: eslint --fix, prettier --write

test: adjust tests
  libs/common/ui/page/src/lib/menu/__specs__/__snapshots__/menu.component.spec.ts.snap
  libs/common/ui/page/src/lib/menu/__specs__/menu.component.spec.ts
Due: eslint --fix, prettier --write

chore: change order of menu items
  libs/common/ui/page/src/lib/menu/menu.component.html
Due: eslint --fix, prettier --write

test: extend test suite
  libs/bite-tribe/details/page/src/lib/integration/__specs__/details.service.spec.ts
  libs/bite-tribe/home/page/src/lib/integration/__specs__/home.service.spec.ts
  libs/bite-tribe/map/page/src/lib/integration/__specs__/map.service.spec.ts
Due: eslint --fix, prettier --write

chore: cleanup
  libs/bite-tribe/store/src/lib/bites/__specs__/reducer.spec.ts
  libs/bite-tribe/store/src/lib/bites/reducer.ts
Due: eslint --fix, prettier --write

feat(#501): add my profile to menu (#504)
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.ts
  libs/bite-tribe/details/page/src/lib/integration/__specs__/details.service.spec.ts
  libs/bite-tribe/details/page/src/lib/integration/details.container.ts
  libs/bite-tribe/details/page/src/lib/integration/details.service.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/home/page/src/lib/integration/__specs__/home.service.spec.ts
  libs/bite-tribe/home/page/src/lib/integration/bucket-list-container.component.ts
  libs/bite-tribe/home/page/src/lib/integration/home-container.component.ts
  libs/bite-tribe/home/page/src/lib/integration/home.service.ts
  libs/bite-tribe/home/page/src/lib/integration/my-bites-container.component.ts
  libs/bite-tribe/map/page/src/lib/components/map-page/map-page.component.html
  libs/bite-tribe/map/page/src/lib/components/map-page/map-page.component.ts
  libs/bite-tribe/map/page/src/lib/integration/__specs__/map.service.spec.ts
  libs/bite-tribe/map/page/src/lib/integration/bucket-list-map.container.component.ts
  libs/bite-tribe/map/page/src/lib/integration/home-map-container.component.ts
  libs/bite-tribe/map/page/src/lib/integration/map.service.ts
  libs/bite-tribe/map/page/src/lib/integration/my-bites-map.container.component.ts
  libs/bite-tribe/profile/data-access/src/lib/profile-data-access.service.ts
  libs/bite-tribe/profile/page/src/index.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.ts
  libs/bite-tribe/profile/page/src/lib/integration/bite-creator-profile.container.ts
  libs/bite-tribe/profile/page/src/lib/integration/my-profile.container.ts
  libs/bite-tribe/profile/page/src/lib/integration/profile.service.ts
  libs/bite-tribe/shell/src/lib/routes.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/reducer.spec.ts
  libs/bite-tribe/store/src/lib/bites/reducer.ts
  libs/common/ui/page/eslint.config.mjs
  libs/common/ui/page/src/lib/menu/__specs__/__snapshots__/menu.component.spec.ts.snap
  libs/common/ui/page/src/lib/menu/__specs__/menu.component.spec.ts
  libs/common/ui/page/src/lib/menu/menu.component.html
  libs/common/ui/page/src/lib/menu/menu.component.ts
  libs/common/ui/page/src/lib/page.component.ts
  libs/common/ui/page/src/lib/popover-menu.component.ts
Due: eslint --fix, prettier --write

feat(#498): Add About field to Settings page with textarea input (#502)
  libs/bite-tribe/settings/page/jest.config.ts
  libs/bite-tribe/settings/page/src/lib/components/page/__specs__/settings.component.spec.ts
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.html
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.ts
Due: eslint --fix, prettier --write

style: upload file placeholder
  libs/bite-tribe/bite/page/src/lib/components/image-upload/components/placeholder.ts
  libs/bite-tribe/bite/page/src/lib/components/image-upload/image-upload.component.html
  libs/bite-tribe/bite/page/src/lib/components/image-upload/image-upload.component.scss
  libs/bite-tribe/bite/page/src/lib/components/image-upload/image-upload.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

style: styling of dish name, place name and price
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.scss
Due: eslint --fix, prettier --write, stylelint --fix

style: style create bite page
  libs/bite-tribe/bite/page/src/lib/components/image-upload/image-upload.component.scss
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.scss
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/common/ui/star-rating/src/lib/star-rating.component.html
  libs/common/ui/star-rating/src/lib/star-rating.component.ts
  libs/common/ui/tags/src/lib/tags-input/tags-input.component.html
  libs/common/ui/tags/src/lib/tags-input/tags-input.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --fix: any of: *.{ts,html}
  prettier --write: any of: *.{ts,js,html,scss,json,md}
  stylelint --fix: any of: *.scss
