Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

refactor: fix lint warnings
  libs/bite-tribe/api/eslint.config.mjs
  libs/bite-tribe/api/src/lib/__specs__/bite-tribe-api.service.spec.ts
  libs/bite-tribe/api/src/lib/__specs__/profile-api.service.spec.ts
  libs/bite-tribe/api/src/lib/bite-api/__specs__/bite-api.service.spec.ts
  libs/bite-tribe/api/src/lib/bite-api/bite-api.service.ts
  libs/bite-tribe/api/src/lib/bite-api/utils/__specs__/replace-image-in-firestorestorage.spec.ts
  libs/bite-tribe/api/src/lib/bite-api/utils/save-edited-bite.ts
  libs/bite-tribe/api/src/lib/bite-api/utils/update-bite-with-image-path-from-firestorage.ts
  libs/bite-tribe/api/src/lib/bite-api/utils/update-profile-with-image-path-from-firestorage.ts
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/api/src/lib/bucketlist-api/__specs__/bucketlist-api.service.spec.ts
  libs/bite-tribe/api/src/lib/like-api/__specs__/like-api.service.spec.ts
  libs/bite-tribe/api/src/lib/menu-api/__specs__/menu-api.service.spec.ts
  libs/bite-tribe/api/src/lib/menu-api/menu-api.service.ts
  libs/bite-tribe/api/src/lib/profile-api.service.ts
  libs/bite-tribe/api/src/lib/settings-api/__specs__/settings-api.service.spec.ts
  libs/bite-tribe/api/src/lib/settings-api/settings-api.service.ts
  libs/bite-tribe/api/src/lib/utils/__specs__/check-user-profile-image-and-mirror-to-firebase.spec.ts
  libs/bite-tribe/api/src/lib/utils/check-user-profile-image-and-mirror-to-firebase.ts
  libs/bite-tribe/api/src/lib/utils/is-idp-avatar-url.ts
Due: eslint --fix, prettier --write

refactor: fix lint warnings
  libs/bite-tribe/bite-trail/data-access/eslint.config.mjs
  libs/bite-tribe/bite-trail/data-access/src/lib/__specs__/bite-trail-data-access.service.spec.ts
Due: eslint --fix, prettier --write

refactor: fix lint warnings
  libs/bite-tribe/bite/data-access/eslint.config.mjs
Due: none

refactor: fix lint warnings
  libs/bite-tribe/bite/page/eslint.config.mjs
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/utils/__specs__/image-validator.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/utils/normalize-price-for-form.ts
  libs/bite-tribe/bite/page/src/lib/integration/__specs__/create-bite.container.spec.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite.service.ts
Due: eslint --fix, prettier --write

refactor: fix lint warnings
  libs/bite-tribe/bucketlist/data-access/eslint.config.mjs
Due: none

refactor: fix lint warnings
  libs/bite-tribe/bucketlist/page/eslint.config.mjs
Due: none

refactor: fix lint warnings
  libs/bite-tribe/coach-mark/eslint.config.mjs
Due: none

refactor: fix lint warnings
  libs/bite-tribe/delete-account/eslint.config.mjs
Due: none

refactor: fix lint warnings
  libs/bite-tribe/details/data-access/eslint.config.mjs
  libs/bite-tribe/details/data-access/src/lib/__specs__/details-data-access.service.spec.ts
  libs/bite-tribe/details/data-access/src/lib/details-data-access.service.ts
Due: eslint --fix, prettier --write

refactor: fix build
  libs/bite-tribe/api/src/lib/bite-api/bite-api.service.ts
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite.service.ts
  libs/bite-tribe/store/src/lib/app/effects.ts
Due: eslint --fix, prettier --write

refactor: fix lint warnings
  libs/bite-tribe/market-place/data-access/src/lib/__specs__/market-place-data-access.service.spec.ts
  libs/bite-tribe/profile/page/src/lib/components/edit-profile-page/__specs__/edit-profile.page.spec.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/__specs__/profile.component.spec.ts
  libs/bite-tribe/profile/page/src/lib/integration/__specs__/profile.service.spec.ts
Due: eslint --fix, prettier --write

refactor: fix lint warnings
  libs/common/ta-firestore/src/lib/__specs__/auth.service.spec.ts
  libs/common/ta-firestore/src/lib/__specs__/initialize-firebase-app-check.spec.ts
  libs/common/ta-firestore/src/lib/__specs__/provide-firestore-simulator.spec.ts
  libs/common/ta-firestore/src/lib/__specs__/provide-firestore-utils.spec.ts
  libs/common/ta-firestore/src/lib/analytics/__specs__/provide-firestore-analytics.spec.ts
  libs/common/ta-firestore/src/lib/analytics/firebase-error-handler.service.ts
  libs/common/ta-firestore/src/lib/analytics/provide-firestore-analytics.ts
  libs/common/ta-firestore/src/lib/auth.service.ts
  libs/common/ta-firestore/src/lib/ngrx-store/__specs__/effects.spec.ts
Due: eslint --fix, prettier --write

refactor: fix lint warnings
  libs/bite-tribe/api/src/lib/__specs__/bite-tribe-api.service.spec.ts
  libs/bite-tribe/api/src/lib/__specs__/exchange-rates-api.service.spec.ts
  libs/bite-tribe/api/src/lib/__specs__/profile-api.service.spec.ts
  libs/bite-tribe/api/src/lib/bite-api/__specs__/bite-api.service.spec.ts
  libs/bite-tribe/api/src/lib/bite-api/utils/__specs__/load-bite-by-id.spec.ts
  libs/bite-tribe/api/src/lib/bite-api/utils/__specs__/load-bites-by-user.spec.ts
  libs/bite-tribe/api/src/lib/bite-trail-api/__specs__/bite-trail-api.service.spec.ts
  libs/bite-tribe/api/src/lib/bucketlist-api/__specs__/bucketlist-api.service.spec.ts
  libs/bite-tribe/api/src/lib/bucketlist-api/utils/__specs__/load-bucketlists-by-user-id.spec.ts
  libs/bite-tribe/api/src/lib/like-api/__specs__/like-api.service.spec.ts
  libs/bite-tribe/api/src/lib/like-api/utils/__specs__/load-likes-by-bites.spec.ts
  libs/bite-tribe/api/src/lib/menu-api/__specs__/menu-api.service.spec.ts
  libs/bite-tribe/api/src/lib/menu-api/utils/__specs__/get-menu-by-id.spec.ts
  libs/bite-tribe/api/src/lib/restaurant-api/__specs__/restaurant-api.service.spec.ts
  libs/bite-tribe/api/src/lib/restaurant-api/utils/__specs__/get-restaurant-by-id.spec.ts
  libs/bite-tribe/api/src/lib/review-api/__specs__/review-api.service.spec.ts
  libs/bite-tribe/api/src/lib/settings-api/__specs__/settings-api.service.spec.ts
  libs/bite-tribe/api/src/lib/settings-api/utils/__specs__/load-settings-by-user-id.spec.ts
  libs/bite-tribe/api/src/lib/utils/__specs__/delete-current-image.spec.ts
  libs/bite-tribe/api/src/lib/utils/__specs__/to-public-user.spec.ts
  libs/bite-tribe/api/src/lib/utils/__specs__/write-blob-to-file-system.spec.ts
Due: eslint --fix, prettier --write

Revert "refactor: fix lint warnings"
  libs/bite-tribe/api/src/lib/__specs__/bite-tribe-api.service.spec.ts
  libs/bite-tribe/api/src/lib/__specs__/exchange-rates-api.service.spec.ts
  libs/bite-tribe/api/src/lib/__specs__/profile-api.service.spec.ts
  libs/bite-tribe/api/src/lib/bite-api/__specs__/bite-api.service.spec.ts
  libs/bite-tribe/api/src/lib/bite-api/utils/__specs__/load-bite-by-id.spec.ts
  libs/bite-tribe/api/src/lib/bite-api/utils/__specs__/load-bites-by-user.spec.ts
  libs/bite-tribe/api/src/lib/bite-trail-api/__specs__/bite-trail-api.service.spec.ts
  libs/bite-tribe/api/src/lib/bucketlist-api/__specs__/bucketlist-api.service.spec.ts
  libs/bite-tribe/api/src/lib/bucketlist-api/utils/__specs__/load-bucketlists-by-user-id.spec.ts
  libs/bite-tribe/api/src/lib/like-api/__specs__/like-api.service.spec.ts
  libs/bite-tribe/api/src/lib/like-api/utils/__specs__/load-likes-by-bites.spec.ts
  libs/bite-tribe/api/src/lib/menu-api/__specs__/menu-api.service.spec.ts
  libs/bite-tribe/api/src/lib/menu-api/utils/__specs__/get-menu-by-id.spec.ts
  libs/bite-tribe/api/src/lib/restaurant-api/__specs__/restaurant-api.service.spec.ts
  libs/bite-tribe/api/src/lib/restaurant-api/utils/__specs__/get-restaurant-by-id.spec.ts
  libs/bite-tribe/api/src/lib/review-api/__specs__/review-api.service.spec.ts
  libs/bite-tribe/api/src/lib/settings-api/__specs__/settings-api.service.spec.ts
  libs/bite-tribe/api/src/lib/settings-api/utils/__specs__/load-settings-by-user-id.spec.ts
  libs/bite-tribe/api/src/lib/utils/__specs__/delete-current-image.spec.ts
  libs/bite-tribe/api/src/lib/utils/__specs__/to-public-user.spec.ts
  libs/bite-tribe/api/src/lib/utils/__specs__/write-blob-to-file-system.spec.ts
Due: eslint --fix, prettier --write

refactor: fix lint warnings
  libs/bite-tribe-common/map/eslint.config.mjs
Due: none

refactor: fix lint warnings
  libs/common/ui/image-upload/src/lib/__specs__/image-upload.component.spec.ts
  libs/common/ui/image-upload/src/lib/image-upload.component.ts
  libs/common/ui/image-upload/src/lib/utils/get-exif-data-from-photo.ts
Due: eslint --fix, prettier --write

refactor: fix lint warnings
  libs/bite-tribe/home/data-access/src/lib/__specs__/home-data-access-service.spec.ts
  libs/bite-tribe/home/data-access/src/lib/home-data-access.service.ts
Due: eslint --fix, prettier --write

refactor: fix lint warnings
  libs/bite-tribe/profile/data-access/src/lib/__specs__/profile-data-access.service.spec.ts
  libs/bite-tribe/profile/data-access/src/lib/profile-data-access.service.ts
Due: eslint --fix, prettier --write

refactor: fix lint warnings
  libs/bite-tribe/start/eslint.config.mjs
Due: none

refactor: fix lint warnings
  libs/bite-tribe/market-place/page/src/lib/integration/__specs__/market-place.service.spec.ts
Due: eslint --fix, prettier --write

refactor: fix lint warnings
  libs/bite-tribe/map/page/eslint.config.mjs
  libs/bite-tribe/map/page/src/lib/components/map-page/__specs__/map-page.component.spec.ts
  libs/bite-tribe/map/page/src/lib/components/map-page/__specs__/map-page.stories.ts
  libs/bite-tribe/map/page/src/lib/components/map-page/map-page.component.ts
  libs/bite-tribe/map/page/src/lib/components/snap-drawer/__specs__/snap-drawer.component.spec.ts
  libs/bite-tribe/map/page/src/lib/components/snap-drawer/snap-drawer.component.html
  libs/bite-tribe/map/page/src/lib/components/snap-drawer/utils/__specs__/find-closest-snap.spec.ts
  libs/bite-tribe/map/page/src/lib/components/snap-drawer/utils/__specs__/find-next-snap-down.spec.ts
  libs/bite-tribe/map/page/src/lib/integration/__specs__/map.service.spec.ts
Due: eslint --fix, prettier --write

refactor: fix lint warnings
  libs/bite-tribe/details/page/src/lib/components/bucket-list-selection/__specs__/bucket-list-selection.component.spec.ts
  libs/bite-tribe/details/page/src/lib/components/bucket-list-selection/bucket-list-selection.component.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.spec.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.stories.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/pipes/__specs__/calc-distance.pipe.spec.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/pipes/__specs__/convert-to-preferred-currency.pipe.spec.ts
  libs/bite-tribe/details/page/src/lib/integration/__specs__/details.service.spec.ts
  libs/bite-tribe/details/page/src/lib/pipes/__specs__/get-bucketlist-icon.pipe.spec.ts
  libs/bite-tribe/details/page/src/lib/pipes/get-bucketlist-icon.pipe.ts
Due: eslint --fix, prettier --write

refactor: fix lint warnings
  libs/bite-tribe/home/page/eslint.config.mjs
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/home.component.spec.ts
  libs/bite-tribe/home/page/src/lib/components/page/bite-list/__specs__/bite-list.component.spec.ts
  libs/bite-tribe/home/page/src/lib/components/page/home-feed-controls/__specs__/home-feed-controls.component.spec.ts
  libs/bite-tribe/home/page/src/lib/components/page/home-feed-controls/home-feed-controls.component.ts
  libs/bite-tribe/home/page/src/lib/components/type-ahead/__specs__/type-ahead.component.spec.ts
  libs/bite-tribe/home/page/src/lib/integration/__specs__/home.service.spec.ts
Due: eslint --fix, prettier --write

refactor: fix lint warnings
  libs/bite-tribe/restaurant/page/eslint.config.mjs
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant/__specs__/restaurant.component.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant/restaurant.component.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/__specs__/restaurant.service.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/utils/__specs__/get-distance.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/utils/__specs__/get-position.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/utils/__specs__/unique-bites-by-name.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/utils/get-distance.ts
  libs/bite-tribe/restaurant/page/src/lib/utils/get-position.ts
  libs/bite-tribe/restaurant/page/src/lib/utils/unique-bites-by-name.ts
Due: eslint --fix, prettier --write

refactor: fix lint warnings
  apps/bite-tribe-business-e2e/src/support/app.po.ts
  libs/bite-tribe-common/bite/src/lib/bite.component.html
Due: eslint --fix, prettier --write

refactor: fix lint warnings
  libs/bite-tribe/followers/page/src/lib/components/followers-list/followers-list.component.ts
  libs/bite-tribe/followers/page/src/lib/integration/followers.service.ts
Due: eslint --fix, prettier --write

refactor: fix lint warnings
  apps/bite-tribe/src/app/app.component.spec.ts
  apps/bite-tribe/src/test-setup.ts
Due: eslint --fix, prettier --write

refactor: fix lint warnings
  libs/bite-tribe-business/migrations/page/eslint.config.mjs
Due: none

refactor: fix lint warnings
  apps/storybook-host/.storybook/preview.ts
  apps/storybook-host/eslint.config.mjs
Due: eslint --fix, prettier --write

refactor: fix lint warnings
  libs/bite-tribe-business/dashboard/page/eslint.config.mjs
Due: none

docs: dependency migration
  ssot/pages/Architecture - Nx Workspace.md
  ssot/pages/Architecture - Testing.md
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Nx And Dependency Migration Roadmap.md
  ssot/pages/Current State - Release State.md
  ssot/pages/Current State - Roadmap.md
  ssot/pages/Implementation - Release And Build Workflow.md
  ssot/pages/Implementation - Testing.md
  ssot/pages/SSOT.md
  ssot/pages/Traceability Map.md
Due: prettier --write

docs: refine epic for dependencies migration
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Roadmap.md
  ssot/pages/Implementation - Analytics Events.md
  ssot/pages/SSOT.md
  ssot/pages/Traceability Map.md
  ssot/pages/UC - Guide New Users After Registration.md
  ssot/pages/User.md
  ssot/pages/contents.md
  ssot/pages/epic-1029.md
  ssot/pages/epic-734.md
  ssot/pages/epic-778.md
  ssot/pages/epic-850.md
  ssot/pages/epic-907.md
  ssot/pages/issue-1002.md
  ssot/pages/issue-1030.md
  ssot/pages/issue-1032.md
  ssot/pages/issue-1033.md
  ssot/pages/issue-1035.md
  ssot/pages/issue-1040.md
  ssot/pages/issue-327.md
  ssot/pages/issue-902.md
  ssot/pages/issue-927.md
  ssot/pages/issue-944.md
  ssot/pages/issue-945.md
Due: prettier --write

docs: refine dependency upgrade epic (#1041)
  ssot/pages/Architecture - Nx Workspace.md
  ssot/pages/Architecture - Testing.md
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Nx And Dependency Migration Roadmap.md
  ssot/pages/Current State - Release State.md
  ssot/pages/Current State - Roadmap.md
  ssot/pages/Implementation - Analytics Events.md
  ssot/pages/Implementation - Release And Build Workflow.md
  ssot/pages/Implementation - Testing.md
  ssot/pages/SSOT.md
  ssot/pages/Traceability Map.md
  ssot/pages/UC - Guide New Users After Registration.md
  ssot/pages/User.md
  ssot/pages/contents.md
  ssot/pages/epic-1029.md
  ssot/pages/epic-734.md
  ssot/pages/epic-778.md
  ssot/pages/epic-850.md
  ssot/pages/epic-907.md
  ssot/pages/issue-1002.md
  ssot/pages/issue-1030.md
  ssot/pages/issue-1032.md
  ssot/pages/issue-1033.md
  ssot/pages/issue-1035.md
  ssot/pages/issue-1040.md
  ssot/pages/issue-327.md
  ssot/pages/issue-902.md
  ssot/pages/issue-927.md
  ssot/pages/issue-944.md
  ssot/pages/issue-945.md
Due: prettier --write

chore: remove Cypress and consolidate E2E on Playwright
  .gitignore
  README.md
  apps/bite-tribe-business-e2e/.eslintrc.json
  apps/bite-tribe-business-e2e/cypress.config.ts
  apps/bite-tribe-business-e2e/project.json
  apps/bite-tribe-business-e2e/src/e2e/app.cy.ts
  apps/bite-tribe-business-e2e/src/fixtures/example.json
  apps/bite-tribe-business-e2e/src/support/app.po.ts
  apps/bite-tribe-business-e2e/src/support/commands.ts
  apps/bite-tribe-business-e2e/src/support/e2e.ts
  apps/bite-tribe-business-e2e/tsconfig.json
  docs/NX.md
  ssot/pages/Architecture - Nx Workspace.md
  ssot/pages/Architecture - Testing.md
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Nx And Dependency Migration Roadmap.md
  ssot/pages/Current State - Roadmap.md
  ssot/pages/Implementation - Code Map.md
  ssot/pages/Implementation - Testing.md
Due: eslint --fix, prettier --write

chore: remove Cypress and consolidate E2E on Playwright (#1042)
  .gitignore
  README.md
  apps/bite-tribe-business-e2e/.eslintrc.json
  apps/bite-tribe-business-e2e/cypress.config.ts
  apps/bite-tribe-business-e2e/project.json
  apps/bite-tribe-business-e2e/src/e2e/app.cy.ts
  apps/bite-tribe-business-e2e/src/fixtures/example.json
  apps/bite-tribe-business-e2e/src/support/app.po.ts
  apps/bite-tribe-business-e2e/src/support/commands.ts
  apps/bite-tribe-business-e2e/src/support/e2e.ts
  apps/bite-tribe-business-e2e/tsconfig.json
  docs/NX.md
  ssot/pages/Architecture - Nx Workspace.md
  ssot/pages/Architecture - Testing.md
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Nx And Dependency Migration Roadmap.md
  ssot/pages/Current State - Roadmap.md
  ssot/pages/Implementation - Code Map.md
  ssot/pages/Implementation - Testing.md
Due: eslint --fix, prettier --write

chore: replace nx-loki with direct oblador/loki
  .github/copilot-instructions.md
  .github/workflows/loki-references-update.yml
  .github/workflows/pipeline.yml
  .gitignore
  loki.config.js
  nx.json
  package-lock.json
  package.json
  ssot/pages/Architecture - Testing.md
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Nx And Dependency Migration Roadmap.md
Due: prettier --write

chore(loki): run visual regression through a serve + host.docker.internal wrapper
  .github/copilot-instructions.md
  loki.config.js
  package.json
  tools/loki.mjs
Due: prettier --write

fix(storybook): drop dead joypixels script that broke direct Loki
  apps/storybook-host/.storybook/preview-head.html
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,html}
  prettier --write: any of: *.{ts,js,html,scss,json,md}
  stylelint --fix: any of: *.scss
