Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,html}": "eslint --fix",
  "*.{ts,js,html,scss,json,md}": "prettier --write",
  "*.scss": "stylelint --fix"
}

chore: [nx migration] update-angular-cli-version-20-1-0
  package-lock.json
  package.json
Due: prettier --write

chore: adjust overrides
  package-lock.json
  package.json
Due: prettier --write

chore: update to storybook 9 (in progress)
  .gitignore
  migrations.json
  nx.json
  package-lock.json
  package.json
Due: prettier --write

chore: deps
  package-lock.json
  package.json
Due: prettier --write

refactor: align firebase usage
  .eslintrc.json
  apps/bite-tribe/.eslintrc.json
  apps/bite-tribe/eslint.config.mjs
  eslint.config.mjs
  libs/bite-tribe/shell/src/lib/app.config.ts
  libs/common/ta-firestore/src/lib/analytics/provide-firestore-analytics.ts
  libs/common/ta-firestore/src/lib/auth.service.ts
  libs/common/ta-firestore/src/lib/ngrx-store/effects.ts
  libs/common/ta-firestore/src/lib/provide-firestore-utils.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

chore: finalize deps
  package-lock.json
  package.json
Due: prettier --write

398 deleting existing tags by owner of bite (#428)
  libs/bite-tribe/bite/data-access/src/lib/bite-data-access.service.ts
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite.service.ts
  libs/bite-tribe/details/data-access/src/lib/details-data-access.service.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.spec.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.ts
  libs/bite-tribe/details/page/src/lib/integration/__specs__/details.service.spec.ts
  libs/bite-tribe/details/page/src/lib/integration/details.service.ts
  libs/common/ui/tags/.eslintrc.json
  libs/common/ui/tags/README.md
  libs/common/ui/tags/jest.config.ts
  libs/common/ui/tags/project.json
  libs/common/ui/tags/src/index.ts
  libs/common/ui/tags/src/lib/tags-input/__specs__/tags-input.component.spec.ts
  libs/common/ui/tags/src/lib/tags-input/model/delimiters.ts
  libs/common/ui/tags/src/lib/tags-input/tags-input.component.html
  libs/common/ui/tags/src/lib/tags-input/tags-input.component.scss
  libs/common/ui/tags/src/lib/tags-input/tags-input.component.ts
  libs/common/ui/tags/src/lib/tags-input/utils/__specs__/remove-delimiter-from-end-of-string.spec.ts
  libs/common/ui/tags/src/lib/tags-input/utils/__specs__/string-includes-delimiter.spec.ts
  libs/common/ui/tags/src/lib/tags-input/utils/remove-delimiter-from-end-of-string.ts
  libs/common/ui/tags/src/lib/tags-input/utils/string-includes-delimiter.ts
  libs/common/ui/tags/src/test-setup.ts
  libs/common/ui/tags/tsconfig.json
  libs/common/ui/tags/tsconfig.lib.json
  libs/common/ui/tags/tsconfig.spec.json
  libs/common/utils/src/index.ts
  libs/common/utils/src/lib/add-necessary-icons.ts
  libs/common/utils/src/lib/split-tags.ts
  tsconfig.base.json
Due: eslint --fix, prettier --write, stylelint --fix

399 init pull to refresh feature
  libs/bite-tribe/home/data-access/jest.config.ts
  libs/bite-tribe/home/data-access/src/lib/__specs__/home-data-access-service.spec.ts
  libs/bite-tribe/home/data-access/src/lib/home-data-access.service.ts
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/home.component.spec.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/home/page/src/lib/integration/__specs__/home.service.spec.ts
  libs/bite-tribe/home/page/src/lib/integration/home-container.component.ts
  libs/bite-tribe/home/page/src/lib/integration/home.service.ts
  libs/bite-tribe/store/src/lib/__specs__/bite-tribe-store.service.spec.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/actions.spec.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/reducer.spec.ts
  libs/bite-tribe/store/src/lib/bites/actions.ts
  libs/bite-tribe/store/src/lib/bites/effects.ts
  libs/bite-tribe/store/src/lib/bites/index.ts
  libs/bite-tribe/store/src/lib/bites/reducer.ts
  libs/bite-tribe/store/src/lib/bites/selectors.ts
Due: eslint --fix, prettier --write

refactor: uninstall angular/fire for less deps and point-of-failures
  package-lock.json
  package.json
Due: prettier --write

refactor: remove angular/fire
  libs/bite-tribe/store/src/lib/provide-bite-tribe-store.ts
  libs/common/ta-firestore/src/lib/analytics/firebase-error-handler.service.ts
  libs/common/ta-firestore/src/lib/analytics/provide-firestore-analytics.ts
  libs/common/ta-firestore/src/lib/auth.service.ts
  libs/common/ta-firestore/src/lib/provide-firestore-utils.ts
Due: eslint --fix, prettier --write

test: fix tests
  __mocks__/memoizee/index.ts
  libs/common/localization/src/__mocks__/index.ts
  libs/common/ui/auth/jest.config.ts
  libs/common/ui/auth/src/lib/components/login/__specs__/login.component.spec.ts
  libs/common/ui/auth/src/lib/integration/login/__specs__/login-container.component.spec.ts
  libs/common/ui/auth/src/lib/integration/login/login.service.ts
  libs/common/ui/auth/tsconfig.spec.json
  libs/common/ui/page/src/lib/__specs__/__snapshots__/popover-menu.component.spec.ts.snap
  libs/common/ui/page/src/lib/__specs__/page.component.spec.ts
  libs/common/ui/page/src/lib/__specs__/popover-menu.component.spec.ts
  libs/common/ui/password-validator/jest.config.ts
  libs/common/ui/password-validator/src/lib/__specs__/password-validator.component.spec.ts
  libs/common/ui/password-validator/src/lib/component/password-validator.component.ts
  libs/common/ui/password-validator/src/test-setup.ts
  libs/common/ui/password-validator/tsconfig.spec.json
  libs/kosaml/page/feature/src/test-setup.ts
Due: eslint --fix, prettier --write

test: fix tests
  libs/bite-tribe/bite/page/jest.config.ts
  libs/bite-tribe/bite/page/src/lib/components/image-crop-page/__specs__/image-crop-page.component.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/image-upload/__specs__/image-upload.component.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/image-upload/image-upload.component.ts
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
  libs/bite-tribe/bite/page/src/lib/integration/__specs__/image-crop-container.component.spec.ts
  libs/bite-tribe/bite/page/tsconfig.spec.json
  libs/bite-tribe/details/page/jest.config.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.spec.ts
  libs/bite-tribe/details/page/src/lib/integration/__specs__/details.container.spec.ts
  libs/common/ui/chart/src/lib/chart/chart.component.spec.ts
  libs/common/ui/chart/src/lib/chart/chart.component.ts
  libs/common/utils/src/lib/add-necessary-icons.ts
  libs/prices/home/feature/jest.config.ts
  libs/prices/home/feature/src/test-setup.ts
Due: eslint --fix, prettier --write

test: fix tests
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/home.component.spec.ts
  libs/finances/bank/add-bank/jest.config.ts
  libs/finances/bank/add-bank/src/lib/component/add-bank.component.spec.ts
  libs/finances/bank/add-bank/src/test-setup.ts
  libs/finances/payment/payment/src/lib/components/payment/payment.component.spec.ts
  libs/kosaml/site/feature/src/lib/components/header/__specs__/header.component.spec.ts
  libs/kosaml/site/feature/src/test-setup.ts
  libs/prices/add-item/feature/jest.config.ts
  libs/prices/add-item/feature/src/test-setup.ts
  libs/prices/home/feature/src/lib/__specs__/home.component.spec.ts
  libs/prices/home/feature/src/lib/components/home.component.ts
Due: eslint --fix, prettier --write

test: fix tests
  apps/bite-tribe-business/src/app/app.component.spec.ts
  apps/bite-tribe-business/src/test-setup.ts
  apps/bite-tribe/jest.config.ts
  apps/bite-tribe/src/app/app.component.spec.ts
  apps/bite-tribe/src/test-setup.ts
  apps/cv/src/test-setup.ts
  apps/finances/jest.config.ts
  apps/finances/src/app/app.component.spec.ts
  apps/finances/src/test-setup.ts
  apps/kosaml/src/test-setup.ts
  apps/prices/jest.config.ts
  apps/prices/src/app/__specs__/app.component.spec.ts
  apps/prices/src/test-setup.ts
  libs/finances/shell/src/lib/app.config.ts
  libs/prices/add-item/feature/src/lib/__specs__/add-item.component.spec.ts
  libs/prices/add-item/feature/src/lib/__specs__/add-item.service.spec.ts
  libs/prices/add-item/feature/src/lib/components/add-item.component.ts
  libs/prices/add-item/feature/src/lib/integration/add-item-container.component.ts
  libs/prices/api/src/lib/prices-api.service.ts
  libs/prices/shell/feature/src/lib/app.config.ts
  libs/prices/shell/feature/src/lib/routes.ts
Due: eslint --fix, prettier --write

build: make cap ios run again
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  apps/bite-tribe-ios/ios/App/Podfile.lock
  apps/bite-tribe-ios/package-lock.json
Due: prettier --write

chore: linting
  libs/bite-tribe-common/bite/src/lib/bite.component.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
Due: eslint --fix, prettier --write

chore: dedup
  package-lock.json
Due: prettier --write

test: remove tests
  libs/bite-tribe-common/confirm-dialog/src/confirm-dialog/__specs__/confirm-dialog.component.spec.ts
Due: eslint --fix, prettier --write

refactor: remove experimental zone change detection
  apps/cv/src/app/app.config.ts
Due: eslint --fix, prettier --write

test: extend branch coverage
  libs/common/ui/tags/src/lib/tags-input/__specs__/tags-input.component.spec.ts
Due: eslint --fix, prettier --write

fix: make storybook start again
  apps/prices/.storybook/main.ts
  apps/prices/.storybook/preview.ts
  libs/prices/docs/__specs__/Benutzerhandbuch.mdx
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

ci: remove unnecessary steps
  .github/workflows/pipeline.yml
Due: none

chore: npm i
  package-lock.json
Due: prettier --write

chore: switch to provideZonelessChangeDetection
  libs/bite-tribe-business/shell/src/lib/app.config.ts
Due: eslint --fix, prettier --write

build: increase build budget
  apps/bite-tribe-business/project.json
Due: prettier --write

refactor: introduce infinite scrolling with page size 50
  libs/bite-tribe/api/src/lib/bite-api.service.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
Due: eslint --fix, prettier --write

test: extend test suite
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/home.component.spec.ts
  libs/bite-tribe/home/page/src/lib/components/type-ahead/__specs__/type-ahead.component.spec.ts
Due: eslint --fix, prettier --write

test: extend test coverage
  libs/bite-tribe/bite/page/src/lib/integration/__specs__/bite.service.spec.ts
Due: eslint --fix, prettier --write

test: extend test suite
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
  libs/bite-tribe/bite/page/src/lib/integration/__specs__/bite.service.spec.ts
  libs/bite-tribe/details/page/src/lib/integration/__specs__/details.service.spec.ts
Due: eslint --fix, prettier --write

refactor: finish cleanup
  libs/common/geoapify/.eslintrc.json
  libs/common/geoapify/README.md
  libs/common/geoapify/jest.config.ts
  libs/common/geoapify/project.json
  libs/common/geoapify/src/index.ts
  libs/common/geoapify/src/lib/location.service.ts
  libs/common/geoapify/src/test-setup.ts
  libs/common/geoapify/tsconfig.json
  libs/common/geoapify/tsconfig.lib.json
  libs/common/geoapify/tsconfig.spec.json
  libs/common/networkstatus/feature/project.json
  libs/finances/api/.eslintrc.json
  libs/finances/api/README.md
  libs/finances/api/jest.config.ts
  libs/finances/api/project.json
  libs/finances/api/src/index.ts
  libs/finances/api/src/lib/firestore/finances-api.service.ts
  libs/finances/api/src/lib/firestore/model/account.ts
  libs/finances/api/src/lib/firestore/model/bank.ts
  libs/finances/api/src/lib/firestore/model/payment.ts
  libs/finances/api/src/lib/firestore/utils/firebase-debounce-filter-and-log.ts
  libs/finances/api/src/test-setup.ts
  libs/finances/api/tsconfig.json
  libs/finances/api/tsconfig.lib.json
  libs/finances/api/tsconfig.spec.json
  libs/finances/ui/add-popover-menu/.eslintrc.json
  libs/finances/ui/add-popover-menu/README.md
  libs/finances/ui/add-popover-menu/project.json
  libs/finances/ui/add-popover-menu/src/index.ts
  libs/finances/ui/add-popover-menu/src/lib/add-popover-menu/add-popover-menu.component.ts
  libs/finances/ui/add-popover-menu/src/test-setup.ts
  libs/finances/ui/add-popover-menu/tsconfig.spec.json
  libs/prices/docs/__specs__/Benutzerhandbuch.mdx
  libs/prices/geoapify/feature/jest.config.ts
  libs/prices/geoapify/feature/project.json
  libs/prices/geoapify/feature/tsconfig.json
  libs/prices/geoapify/feature/tsconfig.lib.json
  tsconfig.base.json
Due: eslint --fix, prettier --write

fix: fix not updating bite list
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/bites/selectors.ts
Due: eslint --fix, prettier --write
