Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,html}": "eslint --fix",
  "*.{ts,js,html,scss,json,md}": "prettier --write",
  "*.scss": "stylelint --fix"
}

refactor: lose coupling from auth to prices store
  libs/common/ui/auth/src/lib/components/login/__specs__/auth.component.stories.ts
  libs/common/ui/auth/src/lib/components/login/__specs__/login.component.spec.ts
  libs/common/ui/auth/src/lib/components/login/login.component.ts
  libs/common/ui/auth/src/lib/integration/login/__specs__/login-container.component.spec.ts
  libs/common/ui/auth/src/lib/integration/login/login.service.ts
  libs/common/ui/auth/src/lib/integration/registration/__specs__/registration.component.stories.ts
  libs/common/ui/page/src/lib/__specs__/page.component.spec.ts
  libs/common/ui/page/src/lib/__specs__/page.component.stories.ts
  libs/common/utils/src/lib/store.service.ts
  libs/prices/add-item/feature/src/lib/__specs__/add-item-feature.component.stories.ts
  libs/prices/add-item/feature/src/lib/__specs__/add-item.component.spec.ts
  libs/prices/home/feature/src/lib/__specs__/home.component.spec.ts
  libs/prices/home/feature/src/lib/__specs__/home.component.stories.ts
  libs/prices/shell/feature/src/lib/provide-prices-shell.ts
  libs/prices/store/feature/src/index.ts
  libs/prices/store/feature/src/lib/prices-store.service.ts
Due: eslint --fix, prettier --write

test: fix mock
  libs/common/ui/auth/src/lib/integration/login/__specs__/login-container.component.spec.ts
Due: eslint --fix, prettier --write

refactor: migrate input
  libs/common/ui/auth/src/lib/components/login/login.component.html
  libs/common/ui/auth/src/lib/components/login/login.component.ts
  libs/common/ui/auth/src/lib/components/registration/registration.component.ts
  libs/finances/account/data-access/src/lib/account.store.ts
  libs/finances/dashboard/data-access/src/lib/dashboard.store.ts
  libs/finances/payment/data-access/src/lib/payment-data-access.service.ts
  libs/finances/shell/src/lib/provide-finances-shell.ts
  libs/finances/shell/src/lib/routes.ts
  libs/finances/store/src/index.ts
  libs/finances/store/src/lib/finances-store.service.ts
  libs/prices/add-item/feature/src/lib/components/add-item.component.html
  libs/prices/add-item/feature/src/lib/components/add-item.component.ts
  libs/prices/home/feature/src/lib/components/home.component.html
  libs/prices/home/feature/src/lib/components/home.component.ts
Due: eslint --fix, prettier --write

test: fix tests
  libs/prices/add-item/feature/src/lib/__specs__/add-item.component.spec.ts
  libs/prices/home/feature/src/lib/__specs__/home.component.spec.ts
Due: eslint --fix, prettier --write

refactor: remove all @Input
  libs/common/ui/password-validator/src/lib/component/password-validator.component.ts
  libs/kosaml/card/feature/src/lib/card.component.ts
  libs/kosaml/conceptual-design/base/scenario/feature/src/lib/components/scenario/scenario.component.html
  libs/kosaml/conceptual-design/base/scenario/feature/src/lib/components/scenario/scenario.component.ts
  libs/kosaml/conceptual-design/base/use-case/feature/src/lib/components/use-case/cp-base-use-case.component.html
  libs/kosaml/conceptual-design/base/use-case/feature/src/lib/components/use-case/cp-base-use-case.component.ts
  libs/kosaml/conceptual-design/task-object/feature/src/lib/components/task-object/task-object.component.html
  libs/kosaml/conceptual-design/task-object/feature/src/lib/components/task-object/task-object.component.ts
  libs/kosaml/site/feature/src/lib/components/body/body.component.html
  libs/kosaml/site/feature/src/lib/components/body/body.component.ts
  libs/kosaml/site/feature/src/lib/components/sidebar/project/project.component.ts
  libs/kosaml/site/feature/src/lib/components/sidebar/sidebar.component.html
  libs/kosaml/site/feature/src/lib/components/sidebar/sidebar.component.ts
Due: eslint --fix, prettier --write

test: fix tests
  libs/common/ui/password-validator/src/lib/__specs__/password-validator.component.spec.ts
Due: eslint --fix, prettier --write

refactor: output signals
  libs/common/ui/auth/src/lib/components/login/login.component.ts
  libs/common/ui/auth/src/lib/components/registration/registration.component.ts
  libs/kosaml/conceptual-design/base/scenario/feature/src/lib/components/scenario/scenario.component.ts
  libs/prices/add-item/feature/src/lib/components/add-item.component.ts
  libs/prices/home/feature/src/lib/components/home.component.ts
Due: eslint --fix, prettier --write

chore: cleanup
  libs/common/ui/auth/src/lib/components/login/__specs__/login.component.spec.ts
Due: eslint --fix, prettier --write

chore: cleanup NgModules
  libs/kosaml/auth/feature/.eslintrc.json
  libs/kosaml/auth/feature/README.md
  libs/kosaml/auth/feature/jest.config.ts
  libs/kosaml/auth/feature/project.json
  libs/kosaml/auth/feature/src/index.ts
  libs/kosaml/auth/feature/src/lib/auth.module.ts
  libs/kosaml/auth/feature/src/test-setup.ts
  libs/kosaml/auth/feature/tsconfig.json
  libs/kosaml/auth/feature/tsconfig.lib.json
  libs/kosaml/auth/feature/tsconfig.spec.json
  libs/kosaml/shell/feature/src/lib/routes.ts
  libs/kosaml/site/feature/src/lib/components/header/__specs__/header.component.spec.ts
  tsconfig.base.json
Due: eslint --fix, prettier --write

refactor: switch completely to inject function
  libs/prices/store/feature/src/lib/auth/effects.ts
  libs/prices/store/feature/src/lib/networkStatus/effects.ts
Due: eslint --fix, prettier --write

refactor: cleanup
  libs/kosaml/site/feature/src/lib/components/sidebar/sidebar.component.ts
  libs/prices/add-item/feature/src/lib/components/add-item.component.ts
Due: eslint --fix, prettier --write

test: fix
  libs/prices/add-item/feature/src/lib/__specs__/add-item.component.spec.ts
Due: eslint --fix, prettier --write

refactor: self closing tags
  libs/common/ui/card/src/lib/card.component.html
  libs/common/ui/page/src/lib/popover-menu.component.ts
  libs/finances/account/account/src/lib/component/account.component.html
  libs/finances/dashboard/dashboard/src/lib/components/dashboard/dashboard.component.html
Due: eslint --fix, prettier --write

refactor: cleanup registration from store dependency
  libs/common/ui/auth/src/lib/integration/registration/registration-container.component.ts
  libs/common/ui/auth/src/lib/integration/registration/registration.service.ts
  libs/common/utils/src/lib/store.service.ts
  libs/finances/store/src/lib/finances-store.service.ts
  libs/prices/store/feature/src/lib/prices-store.service.ts
Due: eslint --fix, prettier --write

feat: make app title come from a injector token
  libs/common/ui/page/src/lib/page.component.html
  libs/common/ui/page/src/lib/page.component.ts
  libs/common/utils/src/index.ts
  libs/common/utils/src/lib/app-title-token.ts
  libs/finances/account/account/src/lib/component/account.component.html
  libs/finances/bank/add-bank/src/lib/component/add-bank.component.html
  libs/finances/dashboard/dashboard/src/lib/components/dashboard/dashboard.component.html
  libs/finances/payment/payment/src/lib/components/payment/payment.component.html
  libs/finances/shell/src/lib/provide-finances-shell.ts
  libs/prices/shell/feature/src/lib/provide-prices-shell.ts
Due: eslint --fix, prettier --write

feat: make app title come from an injection token
  libs/common/ui/page/src/lib/page.component.ts
  libs/finances/dashboard/dashboard/src/lib/components/dashboard/dashboard.component.html
  libs/prices/shell/feature/src/lib/provide-prices-shell.ts
Due: eslint --fix, prettier --write

feat: make app title token optional
  libs/common/ui/page/src/lib/page.component.ts
Due: eslint --fix, prettier --write

test: extend test suite
  libs/common/ui/page/src/lib/__specs__/page.component.spec.ts
Due: eslint --fix, prettier --write

docs: fix storybook build
  libs/common/ui/auth/src/lib/integration/registration/__specs__/registration.component.stories.ts
Due: eslint --fix, prettier --write

feat: initialize budget planner
  apps/budget-planner-e2e/.eslintrc.json
  apps/budget-planner-e2e/cypress.config.ts
  apps/budget-planner-e2e/project.json
  apps/budget-planner-e2e/src/e2e/app.cy.ts
  apps/budget-planner-e2e/src/fixtures/example.json
  apps/budget-planner-e2e/src/support/app.po.ts
  apps/budget-planner-e2e/src/support/commands.ts
  apps/budget-planner-e2e/src/support/e2e.ts
  apps/budget-planner-e2e/tsconfig.json
  apps/budget-planner/.eslintrc.json
  apps/budget-planner/jest.config.ts
  apps/budget-planner/project.json
  apps/budget-planner/public/favicon.ico
  apps/budget-planner/src/app/app.component.html
  apps/budget-planner/src/app/app.component.scss
  apps/budget-planner/src/app/app.component.spec.ts
  apps/budget-planner/src/app/app.component.ts
  apps/budget-planner/src/app/app.config.ts
  apps/budget-planner/src/app/app.routes.ts
  apps/budget-planner/src/app/nx-welcome.component.ts
  apps/budget-planner/src/index.html
  apps/budget-planner/src/main.ts
  apps/budget-planner/src/styles.scss
  apps/budget-planner/src/test-setup.ts
  apps/budget-planner/tsconfig.app.json
  apps/budget-planner/tsconfig.editor.json
  apps/budget-planner/tsconfig.json
  apps/budget-planner/tsconfig.spec.json
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, stylelint --fix

chore: disable eslint for command.ts in e2e
  apps/finances-e2e/src/support/commands.ts
Due: eslint --fix, prettier --write

feat: initialize budget planner (#224)
  apps/budget-planner-e2e/.eslintrc.json
  apps/budget-planner-e2e/cypress.config.ts
  apps/budget-planner-e2e/project.json
  apps/budget-planner-e2e/src/e2e/app.cy.ts
  apps/budget-planner-e2e/src/fixtures/example.json
  apps/budget-planner-e2e/src/support/app.po.ts
  apps/budget-planner-e2e/src/support/commands.ts
  apps/budget-planner-e2e/src/support/e2e.ts
  apps/budget-planner-e2e/tsconfig.json
  apps/budget-planner/.eslintrc.json
  apps/budget-planner/jest.config.ts
  apps/budget-planner/project.json
  apps/budget-planner/public/favicon.ico
  apps/budget-planner/src/app/app.component.html
  apps/budget-planner/src/app/app.component.scss
  apps/budget-planner/src/app/app.component.spec.ts
  apps/budget-planner/src/app/app.component.ts
  apps/budget-planner/src/app/app.config.ts
  apps/budget-planner/src/app/app.routes.ts
  apps/budget-planner/src/app/nx-welcome.component.ts
  apps/budget-planner/src/index.html
  apps/budget-planner/src/main.ts
  apps/budget-planner/src/styles.scss
  apps/budget-planner/src/test-setup.ts
  apps/budget-planner/tsconfig.app.json
  apps/budget-planner/tsconfig.editor.json
  apps/budget-planner/tsconfig.json
  apps/budget-planner/tsconfig.spec.json
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, stylelint --fix

docs: mockups.png
  apps/budget-planner/Mockups.png
Due: none

test: adjust test
  apps/budget-planner/src/app/__specs__/app.component.spec.ts
  apps/budget-planner/src/app/app.component.spec.ts
Due: eslint --fix, prettier --write

chore: update package-lock
  package-lock.json
Due: prettier --write

docs: fix stories for loki
  libs/common/ui/auth/src/lib/components/login/__specs__/auth.component.stories.ts
  libs/common/ui/auth/src/lib/components/registration/__specs__/registration.component.stories.ts
  libs/common/ui/page/src/lib/__specs__/page.component.stories.ts
  libs/prices/add-item/feature/src/lib/__specs__/add-item-feature.component.stories.ts
  libs/prices/home/feature/src/lib/__specs__/home.component.stories.ts
Due: eslint --fix, prettier --write

feat: integrate auth in finances
  libs/common/ta-firestore/src/index.ts
  libs/common/ta-firestore/src/lib/api/auth-credentials.model.ts
  libs/common/ta-firestore/src/lib/auth.service.ts
  libs/common/ta-firestore/src/lib/ngrx-store/actions.ts
  libs/common/ta-firestore/src/lib/ngrx-store/auth-result.model.ts
  libs/common/ta-firestore/src/lib/ngrx-store/effects.ts
  libs/common/ta-firestore/src/lib/ngrx-store/index.ts
  libs/common/ta-firestore/src/lib/ngrx-store/key.ts
  libs/common/ta-firestore/src/lib/ngrx-store/provide-firestore-state.ts
  libs/common/ta-firestore/src/lib/ngrx-store/reducer.ts
  libs/common/ta-firestore/src/lib/ngrx-store/selectors.ts
  libs/common/ta-firestore/src/lib/provide-firestore-utils.ts
  libs/finances/shell/src/lib/app.config.ts
  libs/finances/shell/src/lib/provide-finances-shell.ts
  libs/finances/shell/tsconfig.lib.json
  libs/finances/store/src/lib/finances-store.service.ts
  libs/finances/store/src/lib/provide-finances-store.ts
  libs/finances/store/tsconfig.lib.json
  libs/prices/firestore/feature/src/index.ts
  libs/prices/home/feature/src/lib/integration/home.service.ts
  libs/prices/shell/feature/src/lib/app.config.ts
  libs/prices/shell/feature/src/lib/provide-prices-shell.ts
  libs/prices/shell/feature/tsconfig.lib.json
  libs/prices/store/feature/src/index.ts
  libs/prices/store/feature/src/lib/location/effects.ts
  libs/prices/store/feature/src/lib/mostSearched/effects.ts
  libs/prices/store/feature/src/lib/prices-store.service.ts
  libs/prices/store/feature/src/lib/provide-prices-store.ts
  libs/prices/store/feature/tsconfig.lib.json
Due: eslint --fix, prettier --write

feat: adjust display name
  apps/finances-ios/capacitor.config.ts
  apps/finances-ios/ios/App/App.xcodeproj/project.pbxproj
  apps/finances-ios/ios/App/App/Info.plist
Due: eslint --fix, prettier --write

chore: update nx
  apps/budget-planner-e2e/cypress.config.ts
  apps/finances-e2e/cypress.config.ts
  apps/finances-ios/ios/App/App/AppDelegate.swift
  apps/kosaml-e2e/cypress.config.ts
  apps/prices-e2e/cypress.config.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

chore: update dependencies
  package-lock.json
  package.json
Due: prettier --write

chore: fix storybook version
  package-lock.json
  package.json
Due: prettier --write

chore: update dependencies
  package.json
Due: prettier --write

chore: update deps
  package-lock.json
  package.json
Due: prettier --write
