Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

fix: fix loading skeleton for place's bites page
  libs/bite-tribe/home/data-access/src/lib/home-data-access.service.ts
  libs/bite-tribe/home/page/src/lib/integration/home.service.ts
  libs/bite-tribe/home/page/src/lib/integration/restaurant-bites.container.ts
Due: eslint --fix, prettier --write

fix: retry bite load on cold start
  libs/bite-tribe/details/data-access/src/lib/__specs__/async-retry.spec.ts
  libs/bite-tribe/details/data-access/src/lib/__specs__/details-data-access.service.spec.ts
  libs/bite-tribe/details/data-access/src/lib/async-retry.ts
  libs/bite-tribe/details/data-access/src/lib/details-data-access.service.ts
Due: eslint --fix, prettier --write

fix: place page bugs and cold start loading stuck (#998)
  libs/bite-tribe/details/data-access/src/lib/__specs__/async-retry.spec.ts
  libs/bite-tribe/details/data-access/src/lib/__specs__/details-data-access.service.spec.ts
  libs/bite-tribe/details/data-access/src/lib/async-retry.ts
  libs/bite-tribe/details/data-access/src/lib/details-data-access.service.ts
  libs/bite-tribe/home/data-access/src/lib/__specs__/home-data-access-service.spec.ts
  libs/bite-tribe/home/data-access/src/lib/home-data-access.service.ts
  libs/bite-tribe/home/page/src/lib/integration/home.service.ts
  libs/bite-tribe/home/page/src/lib/integration/restaurant-bites.container.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/__specs__/restaurant.service.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/restaurant.service.ts
Due: eslint --fix, prettier --write

docs: update ssot issues
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Release State.md
  ssot/pages/Current State - Roadmap.md
  ssot/pages/Implementation - Analytics Events.md
  ssot/pages/SSOT.md
  ssot/pages/UC - Search In BiteTribe.md
  ssot/pages/UC - Strengthen Location Currency And Data Quality Guidance.md
  ssot/pages/UC - Use Gamification Signals.md
  ssot/pages/contents.md
  ssot/pages/epic-734.md
  ssot/pages/epic-778.md
  ssot/pages/epic-907.md
  ssot/pages/issue-778.md
  ssot/pages/issue-908.md
  ssot/pages/issue-909.md
  ssot/pages/issue-910.md
  ssot/pages/issue-933.md
  ssot/pages/issue-942.md
  ssot/pages/issue-943.md
  ssot/pages/issue-944.md
  ssot/pages/issue-945.md
  ssot/pages/issue-966.md
  ssot/pages/issue-967.md
  ssot/pages/issue-968.md
  ssot/pages/issue-971.md
  ssot/pages/issue-974.md
  ssot/pages/issue-975.md
  ssot/pages/issue-978.md
  ssot/pages/issue-982.md
  ssot/pages/issue-983.md
Due: prettier --write

test: e2e test for search
  apps/bite-tribe-e2e/eslint.config.mjs
  apps/bite-tribe-e2e/src/pages/search.page.ts
  apps/bite-tribe-e2e/src/tests/search.spec.ts
  ssot/pages/UC - Search In BiteTribe.md
Due: eslint --fix, prettier --write

docs: update docs
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Release State.md
  ssot/pages/UC - Strengthen Location Currency And Data Quality Guidance.md
  ssot/pages/issue-902.md
Due: prettier --write

docs: update ssot (#999)
  apps/bite-tribe-e2e/eslint.config.mjs
  apps/bite-tribe-e2e/src/pages/search.page.ts
  apps/bite-tribe-e2e/src/tests/search.spec.ts
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Release State.md
  ssot/pages/Current State - Roadmap.md
  ssot/pages/Implementation - Analytics Events.md
  ssot/pages/SSOT.md
  ssot/pages/UC - Search In BiteTribe.md
  ssot/pages/UC - Strengthen Location Currency And Data Quality Guidance.md
  ssot/pages/UC - Use Gamification Signals.md
  ssot/pages/contents.md
  ssot/pages/epic-734.md
  ssot/pages/epic-778.md
  ssot/pages/epic-907.md
  ssot/pages/issue-778.md
  ssot/pages/issue-902.md
  ssot/pages/issue-908.md
  ssot/pages/issue-909.md
  ssot/pages/issue-910.md
  ssot/pages/issue-933.md
  ssot/pages/issue-942.md
  ssot/pages/issue-943.md
  ssot/pages/issue-944.md
  ssot/pages/issue-945.md
  ssot/pages/issue-966.md
  ssot/pages/issue-967.md
  ssot/pages/issue-968.md
  ssot/pages/issue-971.md
  ssot/pages/issue-974.md
  ssot/pages/issue-975.md
  ssot/pages/issue-978.md
  ssot/pages/issue-982.md
  ssot/pages/issue-983.md
Due: eslint --fix, prettier --write

feat: pending and uploaded states
  apps/bite-tribe-firebase/functions/src/functions/model/bite.ts
  apps/bite-tribe-firebase/functions/src/functions/set-bite-image-path-on-upload.ts
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe-common/bite/src/lib/__specs__/bite.stories.ts
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe-common/bite/src/lib/bite.component.scss
  libs/bite-tribe-common/bite/src/lib/bite.component.ts
  libs/bite-tribe-common/model/src/lib/bite.ts
  libs/bite-tribe/bite/data-access/src/lib/bite-data-access.service.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor: make local image locatable
  libs/bite-tribe/api/src/lib/utils/__specs__/local-image-file.spec.ts
  libs/bite-tribe/api/src/lib/utils/__specs__/upload-blob-to-firebasestorage.spec.ts
  libs/bite-tribe/api/src/lib/utils/local-image-file.ts
  libs/bite-tribe/api/src/lib/utils/upload-blob-to-firebasestorage.ts
Due: eslint --fix, prettier --write

feat: analytics event for image upload success and error
  libs/bite-tribe/bite/data-access/src/lib/bite-data-access.service.ts
  libs/bite-tribe/bite/data-access/src/lib/utils/__specs__/to-upload-error-code.spec.ts
  libs/bite-tribe/bite/data-access/src/lib/utils/to-upload-error-code.ts
  libs/common/ta-firestore/src/lib/analytics/analytics-events.ts
Due: eslint --fix, prettier --write

feat: session freshness guard
  libs/bite-tribe/shell/src/lib/__specs__/app-foreground.service.spec.ts
  libs/bite-tribe/shell/src/lib/app-foreground.service.ts
  libs/bite-tribe/shell/src/lib/routes.ts
  libs/common/ta-firestore/src/index.ts
  libs/common/ta-firestore/src/lib/__specs__/auth.service.spec.ts
  libs/common/ta-firestore/src/lib/__specs__/fresh-session.guard.spec.ts
  libs/common/ta-firestore/src/lib/auth.service.ts
  libs/common/ta-firestore/src/lib/fresh-session.guard.ts
Due: eslint --fix, prettier --write

feat: local-image-file, upload telemetry, session-freshness, and this throttle
  libs/bite-tribe/api/src/lib/__specs__/profile-api.service.spec.ts
  libs/bite-tribe/api/src/lib/profile-api.service.ts
  libs/bite-tribe/api/src/lib/utils/__specs__/user-metadata-throttle.spec.ts
  libs/bite-tribe/api/src/lib/utils/user-metadata-throttle.ts
  ssot/journals/2026_07_10.md
  ssot/journals/2026_07_12.md
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Release State.md
  ssot/pages/UC - Strengthen Location Currency And Data Quality Guidance.md
  ssot/pages/issue-902.md
Due: eslint --fix, prettier --write

test: fix test suite
  apps/bite-tribe/src/app/app.component.spec.ts
Due: eslint --fix, prettier --write

feat: create resto candidate from create bite trigger
  apps/bite-tribe-firebase/functions/src/functions/cluster-restaurant-candidate-for-bite.ts
  apps/bite-tribe-firebase/functions/src/functions/create-restaurant-candidate-on-bite-create.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/create-restaurant-candidate-on-bite-create.ts
  apps/bite-tribe-firebase/functions/src/functions/utils/restaurant-candidate-store.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  ssot/pages/Implementation - Firebase Functions.md
Due: eslint --fix, prettier --write

feat: create resto candidate from create bite trigger (#1001)
  apps/bite-tribe-firebase/functions/src/functions/cluster-restaurant-candidate-for-bite.ts
  apps/bite-tribe-firebase/functions/src/functions/create-restaurant-candidate-on-bite-create.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/create-restaurant-candidate-on-bite-create.ts
  apps/bite-tribe-firebase/functions/src/functions/utils/restaurant-candidate-store.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  ssot/pages/Implementation - Firebase Functions.md
Due: eslint --fix, prettier --write

feat: resto candidate to verified restaurant
  apps/bite-tribe-business/src/assets/i18n/en.json
  apps/bite-tribe-firebase/functions/src/functions/get-place-details.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/get-place-details.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  libs/bite-tribe-business/restaurant/data-access/src/lib/restaurant-data-access.service.ts
  libs/bite-tribe-business/restaurant/page/src/lib/components/opening-hours/__specs__/opening-hours.component.spec.ts
  libs/bite-tribe-business/restaurant/page/src/lib/components/opening-hours/opening-hours.component.html
  libs/bite-tribe-business/restaurant/page/src/lib/components/opening-hours/opening-hours.component.ts
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/__specs__/new-restaurant-page.component.spec.ts
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/__specs__/new-restaurant-page.component.stories.ts
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/new-restaurant-page.component.html
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/new-restaurant-page.component.scss
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/new-restaurant-page.component.ts
  libs/bite-tribe-business/restaurant/page/src/lib/integration/__specs__/new-restaurant-container.component.spec.ts
  libs/bite-tribe-business/restaurant/page/src/lib/integration/__specs__/new-restaurant.service.spec.ts
  libs/bite-tribe-business/restaurant/page/src/lib/integration/new-restaurant-container.component.ts
  libs/bite-tribe-business/restaurant/page/src/lib/integration/new-restaurant.service.ts
  libs/bite-tribe-common/model/src/index.ts
  libs/bite-tribe-common/model/src/lib/place-details.ts
  libs/bite-tribe/api/src/lib/bite-api/bite-api.service.ts
  libs/bite-tribe/api/src/lib/bite-api/utils/get-place-details.ts
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  ssot/pages/epic-778.md
  ssot/pages/issue-1002.md
Due: eslint --fix, prettier --write, stylelint --fix

test: add tests
  .codex/skills/travellers-apps/references/validation.md
  libs/bite-tribe-business/restaurant/data-access/src/lib/__specs__/restaurant-data-access.service.spec.ts
  ssot/pages/Implementation - Testing.md
Due: eslint --fix, prettier --write

feat(1002): fill restaurant data from google places (#1004)
  .codex/skills/travellers-apps/references/validation.md
  apps/bite-tribe-business/src/assets/i18n/en.json
  apps/bite-tribe-firebase/functions/src/functions/get-place-details.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/get-place-details.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  libs/bite-tribe-business/restaurant/data-access/src/lib/__specs__/restaurant-data-access.service.spec.ts
  libs/bite-tribe-business/restaurant/data-access/src/lib/restaurant-data-access.service.ts
  libs/bite-tribe-business/restaurant/page/src/lib/components/opening-hours/__specs__/opening-hours.component.spec.ts
  libs/bite-tribe-business/restaurant/page/src/lib/components/opening-hours/opening-hours.component.html
  libs/bite-tribe-business/restaurant/page/src/lib/components/opening-hours/opening-hours.component.ts
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/__specs__/new-restaurant-page.component.spec.ts
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/__specs__/new-restaurant-page.component.stories.ts
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/new-restaurant-page.component.html
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/new-restaurant-page.component.scss
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/new-restaurant-page.component.ts
  libs/bite-tribe-business/restaurant/page/src/lib/integration/__specs__/new-restaurant-container.component.spec.ts
  libs/bite-tribe-business/restaurant/page/src/lib/integration/__specs__/new-restaurant.service.spec.ts
  libs/bite-tribe-business/restaurant/page/src/lib/integration/new-restaurant-container.component.ts
  libs/bite-tribe-business/restaurant/page/src/lib/integration/new-restaurant.service.ts
  libs/bite-tribe-common/model/src/index.ts
  libs/bite-tribe-common/model/src/lib/place-details.ts
  libs/bite-tribe/api/src/lib/bite-api/bite-api.service.ts
  libs/bite-tribe/api/src/lib/bite-api/utils/get-place-details.ts
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  ssot/pages/Implementation - Testing.md
  ssot/pages/epic-778.md
  ssot/pages/issue-1002.md
Due: eslint --fix, prettier --write, stylelint --fix

feat: feat(945): test harden restaurant candidate duplicate and idempotency paths
  apps/bite-tribe-firebase/functions/src/functions/cluster-restaurant-candidate-for-bite.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/cluster-restaurant-candidate-for-bite.ts
  apps/bite-tribe-firebase/functions/src/functions/create-restaurant-candidate-on-bite-create.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/create-restaurant-candidate-on-bite-create.ts
  apps/bite-tribe-firebase/functions/src/functions/utils/restaurant-candidate-store.ts
  apps/bite-tribe-firebase/functions/src/functions/verify-restaurant-candidate.spec.ts
Due: eslint --fix, prettier --write

test: add firebase integration test
  apps/bite-tribe-firebase/firebase.emulator-test.json
  apps/bite-tribe-firebase/functions/jest.emulator.config.cjs
  apps/bite-tribe-firebase/functions/package.json
  apps/bite-tribe-firebase/functions/src/functions/__specs__/callable-options.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/__specs__/cluster-restaurant-candidate-for-bite.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/__specs__/create-restaurant-candidate-on-bite-create.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/__specs__/enrich-bite-address-on-create.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/__specs__/get-currency-by-position.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/__specs__/get-place-details.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/__specs__/restaurant-candidate-workflow.emulator-spec.ts
  apps/bite-tribe-firebase/functions/src/functions/__specs__/resync-bite-counts.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/__specs__/search-places.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/__specs__/verify-restaurant-candidate.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/create-restaurant-candidate-on-bite-create.ts
  apps/bite-tribe-firebase/functions/src/functions/utils/__specs__/country-code-to-currency.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/utils/__specs__/geocode.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/utils/__specs__/leaderboard.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/utils/__specs__/restaurant-candidates.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/utils/__specs__/search-bite.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/utils/__specs__/user-country-codes.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/verify-restaurant-candidate.ts
  apps/bite-tribe-firebase/functions/tsconfig.dev.json
  apps/bite-tribe-firebase/functions/tsconfig.json
Due: eslint --fix, prettier --write

docs: agent to use gh cli
  .codex/skills/travellers-apps/SKILL.md
  ssot/pages/Agent Operating Contract.md
Due: prettier --write

feat: forgot password feature
  apps/bite-tribe-business/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/common/ta-firestore/src/lib/__specs__/auth.service.spec.ts
  libs/common/ta-firestore/src/lib/analytics/analytics-events.ts
  libs/common/ta-firestore/src/lib/auth.service.ts
  libs/common/ui/auth/src/lib/components/forgot-password/__specs__/forgot-password.component.spec.ts
  libs/common/ui/auth/src/lib/components/forgot-password/forgot-password.component.html
  libs/common/ui/auth/src/lib/components/forgot-password/forgot-password.component.scss
  libs/common/ui/auth/src/lib/components/forgot-password/forgot-password.component.ts
  libs/common/ui/auth/src/lib/components/login/__specs__/login.component.spec.ts
  libs/common/ui/auth/src/lib/components/login/login.component.html
  libs/common/ui/auth/src/lib/components/login/login.component.scss
  libs/common/ui/auth/src/lib/components/login/login.component.ts
  libs/common/ui/auth/src/lib/integration/forgot-password/__specs__/forgot-password.service.spec.ts
  libs/common/ui/auth/src/lib/integration/forgot-password/forgot-password-container.component.ts
  libs/common/ui/auth/src/lib/integration/forgot-password/forgot-password.service.ts
  libs/common/ui/auth/src/lib/integration/login/__specs__/login-container.component.spec.ts
  libs/common/ui/auth/src/lib/integration/login/__specs__/login.service.spec.ts
  libs/common/ui/auth/src/lib/integration/login/login-container.component.ts
  libs/common/ui/auth/src/lib/integration/login/login.service.ts
  libs/common/ui/auth/src/lib/routes.ts
  ssot/pages/Architecture - Auth.md
  ssot/pages/Implementation - Analytics Events.md
Due: eslint --fix, prettier --write, stylelint --fix

chore: check translations
  apps/bite-tribe-business/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/tr.json
Due: prettier --write

feat(1006) password reset (#1007)
  .codex/skills/travellers-apps/SKILL.md
  apps/bite-tribe-business/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/common/ta-firestore/src/lib/__specs__/auth.service.spec.ts
  libs/common/ta-firestore/src/lib/analytics/analytics-events.ts
  libs/common/ta-firestore/src/lib/auth.service.ts
  libs/common/ui/auth/src/lib/components/forgot-password/__specs__/forgot-password.component.spec.ts
  libs/common/ui/auth/src/lib/components/forgot-password/forgot-password.component.html
  libs/common/ui/auth/src/lib/components/forgot-password/forgot-password.component.scss
  libs/common/ui/auth/src/lib/components/forgot-password/forgot-password.component.ts
  libs/common/ui/auth/src/lib/components/login/__specs__/login.component.spec.ts
  libs/common/ui/auth/src/lib/components/login/login.component.html
  libs/common/ui/auth/src/lib/components/login/login.component.scss
  libs/common/ui/auth/src/lib/components/login/login.component.ts
  libs/common/ui/auth/src/lib/integration/forgot-password/__specs__/forgot-password.service.spec.ts
  libs/common/ui/auth/src/lib/integration/forgot-password/forgot-password-container.component.ts
  libs/common/ui/auth/src/lib/integration/forgot-password/forgot-password.service.ts
  libs/common/ui/auth/src/lib/integration/login/__specs__/login-container.component.spec.ts
  libs/common/ui/auth/src/lib/integration/login/__specs__/login.service.spec.ts
  libs/common/ui/auth/src/lib/integration/login/login-container.component.ts
  libs/common/ui/auth/src/lib/integration/login/login.service.ts
  libs/common/ui/auth/src/lib/routes.ts
  ssot/pages/Agent Operating Contract.md
  ssot/pages/Architecture - Auth.md
  ssot/pages/Implementation - Analytics Events.md
Due: eslint --fix, prettier --write, stylelint --fix

test: add tests
  libs/bite-tribe/home/data-access/src/lib/__specs__/home-data-access-service.spec.ts
  libs/bite-tribe/home/page/src/lib/integration/__specs__/home.service.spec.ts
  libs/bite-tribe/profile/data-access/src/lib/__specs__/profile-data-access.service.spec.ts
Due: eslint --fix, prettier --write

refactor: make track email verification prompt more robust
  libs/bite-tribe/home/page/src/lib/integration/home.container.ts
  libs/bite-tribe/profile/page/src/lib/integration/edit-profile.container.ts
  libs/bite-tribe/settings/page/src/lib/integration/settings-container.component.ts
Due: eslint --fix, prettier --write

refactor: slim email verification reminder cron job
  apps/bite-tribe-firebase/functions/src/functions/users/__specs__/send-email-verification-reminders.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/users/send-email-verification-reminders.ts
Due: eslint --fix, prettier --write

feat: more specific error messages for resend func
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/home/page/src/lib/integration/__specs__/home.service.spec.ts
  libs/bite-tribe/home/page/src/lib/integration/home.service.ts
  libs/bite-tribe/profile/page/src/lib/integration/profile.service.ts
  libs/bite-tribe/settings/page/src/lib/integration/settings.service.ts
Due: eslint --fix, prettier --write

refactor: feedback from review
  libs/bite-tribe/email-verification/data-access/README.md
  libs/bite-tribe/email-verification/data-access/eslint.config.mjs
  libs/bite-tribe/email-verification/data-access/jest.config.ts
  libs/bite-tribe/email-verification/data-access/project.json
  libs/bite-tribe/email-verification/data-access/src/index.ts
  libs/bite-tribe/email-verification/data-access/src/lib/__specs__/email-verification.service.spec.ts
  libs/bite-tribe/email-verification/data-access/src/lib/email-verification.service.ts
  libs/bite-tribe/email-verification/data-access/src/test-setup.ts
  libs/bite-tribe/email-verification/data-access/tsconfig.json
  libs/bite-tribe/email-verification/data-access/tsconfig.lib.json
  libs/bite-tribe/email-verification/data-access/tsconfig.spec.json
  libs/bite-tribe/home/data-access/src/lib/__specs__/home-data-access-service.spec.ts
  libs/bite-tribe/home/data-access/src/lib/home-data-access.service.ts
  libs/bite-tribe/home/page/src/lib/integration/__specs__/home.service.spec.ts
  libs/bite-tribe/home/page/src/lib/integration/home.service.ts
  libs/bite-tribe/profile/data-access/src/lib/__specs__/profile-data-access.service.spec.ts
  libs/bite-tribe/profile/data-access/src/lib/profile-data-access.service.ts
  libs/bite-tribe/profile/page/src/lib/integration/__specs__/profile.service.spec.ts
  libs/bite-tribe/profile/page/src/lib/integration/profile.service.ts
  libs/bite-tribe/settings/data-access/src/lib/settings-data-access.service.ts
  libs/bite-tribe/settings/page/src/lib/integration/settings.service.ts
  libs/common/utils/src/index.ts
  libs/common/utils/src/lib/email-verification-prompt-visible.ts
  tsconfig.base.json
Due: eslint --fix, prettier --write

fix: fix broken registration after changes
  apps/bite-tribe-firebase/functions/src/functions/users/__specs__/email-verification-utils.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/users/email-verification-utils.ts
Due: eslint --fix, prettier --write

test: like e2e test
  apps/bite-tribe-e2e/src/pages/home.page.ts
  apps/bite-tribe-e2e/src/pages/search.page.ts
  apps/bite-tribe-e2e/src/tests/like-bite.spec.ts
  libs/bite-tribe-common/bite/src/lib/like-options-popover-menu/like-options-popover-menu.component.ts
  libs/bite-tribe-common/bite/src/lib/likes/likes.component.html
Due: eslint --fix, prettier --write

docs: specify onboarding assistant epic 850
  ssot/pages/Current State - Roadmap.md
  ssot/pages/SSOT.md
  ssot/pages/Traceability Map.md
  ssot/pages/UC - Guide New Users After Registration.md
  ssot/pages/epic-850.md
Due: prettier --write

docs: specify onboarding assistant epic 850 (#1018)
  ssot/pages/Current State - Roadmap.md
  ssot/pages/SSOT.md
  ssot/pages/Traceability Map.md
  ssot/pages/UC - Guide New Users After Registration.md
  ssot/pages/epic-850.md
Due: prettier --write

refactor: fix wording
  libs/common/ta-firestore/src/lib/__specs__/auth.service.spec.ts
  libs/common/ta-firestore/src/lib/auth.service.ts
  libs/common/ta-firestore/src/lib/ngrx-store/__specs__/effects.spec.ts
  libs/common/ta-firestore/src/lib/ngrx-store/effects.ts
  libs/common/ui/auth/src/lib/components/login/__specs__/login.component.spec.ts
  libs/common/ui/auth/src/lib/components/login/login.component.html
  libs/common/ui/auth/src/lib/components/login/login.component.ts
  libs/common/ui/auth/src/lib/integration/login/__specs__/login-container.component.spec.ts
  libs/common/ui/auth/src/lib/integration/login/login-container.component.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,html}
  prettier --write: any of: *.{ts,js,html,scss,json,md}
  stylelint --fix: any of: *.scss
