Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

ci: update to nx 16
  .storybook/main.js
  apps/prices/.storybook/main.js
Due: prettier --write

chore: initial migration to ionic standalone components
  apps/prices/ngsw-config.json
  apps/prices/src/app/app.component.ts
  apps/prices/src/main.ts
  libs/prices/home/feature/src/lib/__specs__/home.component.stories.ts
  libs/prices/page/feature/src/lib/page.component.html
  libs/prices/page/feature/src/lib/page.component.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

chore: initial migration of ionic components to standalone
  .husky/commit-msg
  .husky/pre-commit
  apps/prices/ngsw-config.json
  apps/prices/src/app/app.component.ts
  apps/prices/src/main.ts
  libs/prices/home/feature/src/lib/__specs__/home.component.stories.ts
  libs/prices/page/feature/src/lib/page.component.ts
  package.json
Due: eslint --fix, prettier --write

chore: migrate components and stories to ionic 7
  apps/prices/project.json
  apps/prices/src/app/app.component.ts
  libs/prices/add-item/feature/src/lib/__specs__/add-item-feature.component.stories.ts
  libs/prices/add-item/feature/src/lib/components/add-item.component.html
  libs/prices/add-item/feature/src/lib/components/add-item.component.ts
  libs/prices/auth/feature/src/lib/__specs__/auth.component.stories.ts
  libs/prices/auth/feature/src/lib/components/auth.component.html
  libs/prices/auth/feature/src/lib/components/auth.component.ts
  libs/prices/card/feature/src/lib/__specs__/card.component.stories.ts
  libs/prices/card/feature/src/lib/card.component.ts
  libs/prices/home/feature/src/lib/__specs__/home.component.stories.ts
  libs/prices/home/feature/src/lib/components/home.component.ts
  libs/prices/page/feature/src/lib/__specs__/page.component.stories.ts
  libs/prices/password-validator/feature/src/lib/__specs__/password-validator.component.stories.ts
  libs/prices/password-validator/feature/src/lib/component/password-validator.component.html
  libs/prices/password-validator/feature/src/lib/component/password-validator.component.ts
  libs/prices/registration/feature/src/lib/__specs__/registration.component.stories.ts
  libs/prices/registration/feature/src/lib/components/registration.component.html
  libs/prices/registration/feature/src/lib/components/registration.component.ts
  libs/utils-common/src/index.ts
  libs/utils-common/src/lib/add-necessary-icons.ts
Due: eslint --fix, prettier --write

chore: remove unnecessary files from storybook compilation
  apps/kosaml/.storybook/tsconfig.json
  apps/prices/.storybook/tsconfig.json
Due: prettier --write

chore: fix tests
  apps/prices/jest.config.ts
  libs/prices/add-item/feature/jest.config.ts
  libs/prices/add-item/feature/src/lib/__specs__/add-item.component.spec.ts
  libs/prices/auth/feature/jest.config.ts
  libs/prices/auth/feature/src/lib/__specs__/auth-container.component.spec.ts
  libs/prices/auth/feature/src/lib/__specs__/auth.component.spec.ts
  libs/prices/auth/feature/src/lib/__specs__/auth.service.spec.ts
  libs/prices/card/feature/jest.config.ts
  libs/prices/home/feature/jest.config.ts
  libs/prices/home/feature/src/lib/__specs__/home.component.spec.ts
  libs/prices/page/feature/jest.config.ts
  libs/prices/page/feature/src/lib/__specs__/page.component.spec.ts
  libs/prices/password-validator/feature/jest.config.ts
Due: eslint --fix, prettier --write

chore: increase bundle budget
  apps/prices/project.json
Due: prettier --write

chore: update @angular/fire
  migrations.json
  package-lock.json
  package.json
Due: prettier --write

chore: upgrade ngrx to next
  libs/kosaml/store/feature/src/lib/provideKosamlStoreFeature.ts
  libs/prices/store/feature/src/lib/providePricesStoreFeatures.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

chore: dedupe
  package-lock.json
Due: prettier --write

chore: upgrade capacitor
  android/app/build.gradle
  android/app/capacitor.build.gradle
  android/app/src/main/AndroidManifest.xml
  android/build.gradle
  android/gradle.properties
  android/gradle/wrapper/gradle-wrapper.properties
  android/variables.gradle
  ios/.gitignore
  ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-20x20@1x.png
  ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-20x20@2x-1.png
  ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-20x20@2x.png
  ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-20x20@3x.png
  ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-29x29@1x.png
  ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-29x29@2x-1.png
  ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-29x29@2x.png
  ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-29x29@3x.png
  ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-40x40@1x.png
  ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-40x40@2x-1.png
  ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-40x40@2x.png
  ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-40x40@3x.png
  ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-60x60@2x.png
  ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-60x60@3x.png
  ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-76x76@1x.png
  ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-76x76@2x.png
  ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-83.5x83.5@2x.png
  ios/App/App/Assets.xcassets/AppIcon.appiconset/Contents.json
  ios/App/Podfile
  package-lock.json
  package.json
Due: prettier --write

chore: update cordova plugin for geolocation
  package-lock.json
  package.json
Due: prettier --write

chore: update commitlint
  package-lock.json
  package.json
Due: prettier --write

chore: update ionic deps
  package-lock.json
  package.json
Due: prettier --write

chore: update further dependencies
  package-lock.json
  package.json
Due: prettier --write

chore: fix linting errors
  apps/prices-e2e/src/e2e/login.cy.ts
  libs/prices/store/feature/src/lib/mostSearched/effects.ts
Due: eslint --fix, prettier --write

chore: fix linting errors
  apps/kosaml-e2e/src/support/commands.ts
  libs/kosaml/conceptual-design/base/use-case/feature/src/lib/components/use-case/cp-base-use-case.component.ts
  libs/kosaml/conceptual-design/task-object/feature/src/lib/components/task-object/task-object.component.ts
  libs/kosaml/conceptual-design/task-scenario/feature/src/lib/containers/new-task-scenario-page.component.ts
  libs/kosaml/conceptual-design/use-scenario/feature/src/lib/containers/new-use-scenario-page.component.ts
  libs/kosaml/conceptual-design/use-scenario/feature/src/lib/containers/use-scenario-page.component.ts
Due: eslint --fix, prettier --write

chore: fix unit tests
  libs/kosaml/page/feature/src/lib/components/loading-spinner/__specs__/__snapshots__/loading-spinner.component.spec.ts.snap
Due: none

ci: setup upload prices loki diffs
  .github/workflows/pipeline.yml
Due: none

chore: fix peer dep conflict
  package-lock.json
  package.json
Due: prettier --write

chore: fix sidebar story
  libs/kosaml/conceptual-design/base/scenario/feature/src/lib/components/scenario/__specs__/scenario.stories.ts
  libs/kosaml/conceptual-design/task-object/feature/src/lib/components/task-object/task-object.component.ts
  libs/kosaml/page/feature/src/lib/components/loading-spinner/__specs__/loading-spinner.stories.ts
  libs/kosaml/site/feature/src/lib/components/body/body.component.html
  libs/kosaml/site/feature/src/lib/components/menu-bar/__specs__/menu-bar.stories.ts
  libs/kosaml/site/feature/src/lib/components/sidebar/__specs__/sidebar.stories.ts
Due: eslint --fix, prettier --write

chore: some fixes
  apps/prices/.loki/reference/chrome_iphone7_Components_Card_Primary.png
  apps/prices/.loki/reference/chrome_iphone7_Components_Password_Validator_Primary.png
  apps/prices/.loki/reference/chrome_iphone7_Pages_Add_Item_Primary.png
  apps/prices/.loki/reference/chrome_iphone7_Pages_Auth_Primary.png
  apps/prices/.loki/reference/chrome_iphone7_Pages_Home_Primary.png
  apps/prices/.loki/reference/chrome_iphone7_Pages_Registration_Primary.png
  libs/prices/add-item/feature/src/lib/components/add-item.component.html
  libs/prices/auth/feature/src/lib/components/auth.component.html
  libs/prices/registration/feature/src/lib/components/registration.component.html
Due: eslint --fix, prettier --write

feat: add stylelint to first lib
  .stylelintrc.json
  .vscode/extensions.json
  libs/prices/home/feature/.stylelintrc.json
  libs/prices/home/feature/project.json
  libs/prices/home/feature/src/lib/components/home.component.scss
  nx.json
  package-lock.json
  package.json
Due: prettier --write

chore: dedupe
  package-lock.json
  package.json
Due: prettier --write

ci: setup linting for utils and common
  .github/workflows/pipeline.yml
Due: none

ci: arrange jobs order
  .github/workflows/pipeline.yml
Due: none

ci: rearrange order of jobs
  .github/workflows/pipeline.yml
Due: none

chore: fix linting errors
  libs/utils-common/src/index.ts
  libs/utils-common/src/lib/get-meta-reducers.ts
  libs/utils-common/src/lib/module-for-store.ts
Due: eslint --fix, prettier --write

ci: introduce chromeTolerance to loki
  apps/kosaml/project.json
  apps/prices/project.json
  tools/executors/loki/impl.js
  tools/executors/loki/src/impl.ts
Due: eslint --fix, prettier --write

ci: rearrange jobs
  .github/workflows/pipeline.yml
Due: none

ci: fix order of jobs
  .github/workflows/pipeline.yml
Due: none

ci: decrease chrome tolerance for loki
  apps/kosaml/project.json
  apps/prices/project.json
Due: prettier --write

ci: adjust chrome tolerance
  apps/kosaml/project.json
  apps/prices/project.json
Due: prettier --write

ci: decrease chrome tolerance
  apps/kosaml/project.json
  apps/prices/project.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,html}
  prettier --write: any of: *.{ts,js,html,scss,json,md}
