Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: fix explorer a bit (totally broken!)
  apps/kosaml/src/app/app.component.ts
  libs/kosaml/site/feature/src/lib/components/body/body.component.ts
  libs/kosaml/site/feature/src/lib/components/sidebar/project/project.component.html
  libs/kosaml/site/feature/src/lib/components/sidebar/project/project.component.ts
  libs/kosaml/site/feature/src/lib/components/sidebar/sidebar.component.ts
  libs/kosaml/store/feature/src/lib/site/dummies.ts
  libs/kosaml/store/feature/src/lib/site/index.ts
  libs/kosaml/store/feature/src/lib/site/model.ts
  libs/kosaml/store/feature/src/lib/site/reducers.ts
  libs/kosaml/store/feature/src/lib/site/selectors.ts
Due: eslint --fix, prettier --write

feat: fix rendering of data structure
  libs/kosaml/site/feature/src/lib/components/sidebar/project/project.component.ts
Due: eslint --fix, prettier --write

feat: add expand all
  libs/kosaml/site/feature/src/lib/components/sidebar/project/project.component.ts
Due: eslint --fix, prettier --write

feat: initial setup for task scenario redux store
  libs/kosaml/model/feature/.babelrc
  libs/kosaml/model/feature/.eslintrc.json
  libs/kosaml/model/feature/README.md
  libs/kosaml/model/feature/jest.config.ts
  libs/kosaml/model/feature/project.json
  libs/kosaml/model/feature/src/index.ts
  libs/kosaml/model/feature/src/lib/scenario.model.ts
  libs/kosaml/model/feature/src/lib/task-scenario.model.ts
  libs/kosaml/model/feature/tsconfig.json
  libs/kosaml/model/feature/tsconfig.lib.json
  libs/kosaml/model/feature/tsconfig.spec.json
  libs/kosaml/shell/feature/src/lib/kosaml-shell-routing.module.ts
  libs/kosaml/site/feature/src/lib/components/sidebar/project/project.component.html
  libs/kosaml/store/feature/src/index.ts
  libs/kosaml/store/feature/src/lib/kosaml-store-feature.module.ts
  libs/kosaml/store/feature/src/lib/taskScenarios/index.ts
  libs/kosaml/store/feature/src/lib/taskScenarios/key.ts
  libs/kosaml/store/feature/src/lib/taskScenarios/model.ts
  libs/kosaml/store/feature/src/lib/taskScenarios/reducers.ts
  libs/kosaml/store/feature/src/lib/taskScenarios/selectors.ts
  libs/kosaml/task-scenario/feature/src/lib/containers/edit-task-scenario-page.component.ts
  tsconfig.base.json
  workspace.json
Due: eslint --fix, prettier --write

feat: fix loading of task scenario from store
  libs/kosaml/scenario/feature/src/lib/components/scenario/scenario.component.ts
  libs/kosaml/shell/feature/src/lib/kosaml-shell-routing.module.ts
  libs/kosaml/store/feature/src/lib/taskScenarios/actions.ts
  libs/kosaml/store/feature/src/lib/taskScenarios/index.ts
  libs/kosaml/store/feature/src/lib/taskScenarios/reducers.ts
  libs/kosaml/task-scenario/feature/src/lib/containers/edit-task-scenario-page.component.ts
Due: eslint --fix, prettier --write

feat: fix routing to use scenarios
  libs/kosaml/model/feature/src/index.ts
  libs/kosaml/model/feature/src/lib/use-scenario.model.ts
  libs/kosaml/site/feature/src/lib/components/sidebar/sidebar.component.ts
  libs/kosaml/store/feature/src/index.ts
  libs/kosaml/store/feature/src/lib/kosaml-store-feature.module.ts
  libs/kosaml/store/feature/src/lib/site/dummies.ts
  libs/kosaml/store/feature/src/lib/useScenarios/actions.ts
  libs/kosaml/store/feature/src/lib/useScenarios/index.ts
  libs/kosaml/store/feature/src/lib/useScenarios/key.ts
  libs/kosaml/store/feature/src/lib/useScenarios/model.ts
  libs/kosaml/store/feature/src/lib/useScenarios/reducers.ts
  libs/kosaml/store/feature/src/lib/useScenarios/selectors.ts
  libs/kosaml/use-scenario/feature/src/lib/containers/use-scenario-page.component.ts
Due: eslint --fix, prettier --write

fix: usage of idb on iphone is troublesome
  libs/prices/firestore/feature/src/lib/firestore-feature.module.ts
Due: eslint --fix, prettier --write

fix: switch to pop up
  libs/prices/firestore/feature/src/lib/auth.service.ts
Due: eslint --fix, prettier --write

feat: add icons to service worker
  apps/prices/ngsw-config.json
Due: prettier --write

feat: add network status to store
  libs/common/networkstatus/feature/.eslintrc.json
  libs/common/networkstatus/feature/README.md
  libs/common/networkstatus/feature/jest.config.ts
  libs/common/networkstatus/feature/project.json
  libs/common/networkstatus/feature/src/index.ts
  libs/common/networkstatus/feature/src/lib/common-networkstatus-feature.module.ts
  libs/common/networkstatus/feature/src/lib/network-status.service.ts
  libs/common/networkstatus/feature/src/test-setup.ts
  libs/common/networkstatus/feature/tsconfig.json
  libs/common/networkstatus/feature/tsconfig.lib.json
  libs/common/networkstatus/feature/tsconfig.spec.json
  libs/prices/store/feature/src/lib/networkStatus/actions.ts
  libs/prices/store/feature/src/lib/networkStatus/effects.ts
  libs/prices/store/feature/src/lib/networkStatus/index.ts
  libs/prices/store/feature/src/lib/networkStatus/key.ts
  libs/prices/store/feature/src/lib/networkStatus/reducer.ts
  libs/prices/store/feature/src/lib/prices-store.module.ts
  package-lock.json
  package.json
  tsconfig.base.json
  workspace.json
Due: eslint --fix, prettier --write

chore: configure sw resources (#142)
  apps/prices/ngsw-config.json
  libs/common/networkstatus/feature/.eslintrc.json
  libs/common/networkstatus/feature/README.md
  libs/common/networkstatus/feature/jest.config.ts
  libs/common/networkstatus/feature/project.json
  libs/common/networkstatus/feature/src/index.ts
  libs/common/networkstatus/feature/src/lib/common-networkstatus-feature.module.ts
  libs/common/networkstatus/feature/src/lib/network-status.service.ts
  libs/common/networkstatus/feature/src/test-setup.ts
  libs/common/networkstatus/feature/tsconfig.json
  libs/common/networkstatus/feature/tsconfig.lib.json
  libs/common/networkstatus/feature/tsconfig.spec.json
  libs/prices/store/feature/src/lib/networkStatus/actions.ts
  libs/prices/store/feature/src/lib/networkStatus/effects.ts
  libs/prices/store/feature/src/lib/networkStatus/index.ts
  libs/prices/store/feature/src/lib/networkStatus/key.ts
  libs/prices/store/feature/src/lib/networkStatus/reducer.ts
  libs/prices/store/feature/src/lib/prices-store.module.ts
  package-lock.json
  package.json
  tsconfig.base.json
  workspace.json
Due: eslint --fix, prettier --write

chore: add selector for isOnline
  libs/prices/store/feature/src/lib/networkStatus/index.ts
  libs/prices/store/feature/src/lib/networkStatus/selectors.ts
Due: eslint --fix, prettier --write

feat: add lib for essential use cases
  libs/kosaml/essential-use-case/feature/.eslintrc.json
  libs/kosaml/essential-use-case/feature/README.md
  libs/kosaml/essential-use-case/feature/jest.config.ts
  libs/kosaml/essential-use-case/feature/project.json
  libs/kosaml/essential-use-case/feature/src/index.ts
  libs/kosaml/essential-use-case/feature/src/lib/kosaml-essential-use-case-feature.module.ts
  libs/kosaml/essential-use-case/feature/src/test-setup.ts
  libs/kosaml/essential-use-case/feature/tsconfig.json
  libs/kosaml/essential-use-case/feature/tsconfig.lib.json
  libs/kosaml/essential-use-case/feature/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Due: eslint --fix, prettier --write

feat: create initial essential use case page component
  libs/kosaml/essential-use-case/feature/src/index.ts
  libs/kosaml/essential-use-case/feature/src/lib/containers/essential-use-case-page.component.ts
  libs/kosaml/essential-use-case/feature/src/lib/essential-use-case-routing.module.ts
  libs/kosaml/essential-use-case/feature/src/lib/essential-use-case.module.ts
  libs/kosaml/essential-use-case/feature/src/lib/kosaml-essential-use-case-feature.module.ts
  libs/kosaml/shell/feature/src/lib/kosaml-shell-routing.module.ts
  libs/kosaml/store/feature/src/lib/site/dummies.ts
Due: eslint --fix, prettier --write

test: fix tests
  libs/kosaml/page/feature/src/lib/components/loading-spinner/__test__/__snapshots__/loading-spinner.component.spec.ts.snap
  libs/kosaml/page/feature/src/lib/components/page/page.component.html
  libs/kosaml/page/feature/src/lib/components/page/page.component.spec.ts
Due: eslint --fix, prettier --write

feat: implement initial essential use case feature
  apps/kosaml/src/app/app.component.ts
  libs/kosaml/card/feature/src/lib/card.component.scss
  libs/kosaml/essential-use-case/feature/.eslintrc.json
  libs/kosaml/essential-use-case/feature/src/lib/components/essential-use-case.component.html
  libs/kosaml/essential-use-case/feature/src/lib/components/essential-use-case.component.scss
  libs/kosaml/essential-use-case/feature/src/lib/components/essential-use-case.component.ts
  libs/kosaml/essential-use-case/feature/src/lib/containers/essential-use-case-page.component.ts
  libs/kosaml/essential-use-case/feature/src/lib/essential-use-case.module.ts
  libs/kosaml/model/feature/src/index.ts
  libs/kosaml/model/feature/src/lib/essential-use-case.model.ts
  libs/kosaml/page/feature/src/lib/components/page/page.component.html
  libs/kosaml/page/feature/src/lib/components/page/page.component.scss
  libs/kosaml/page/feature/src/lib/components/page/page.component.ts
  libs/kosaml/page/feature/src/lib/components/page/pageSize.enum.ts
  libs/kosaml/site/feature/src/lib/components/body/body.component.html
  libs/kosaml/site/feature/src/lib/components/body/body.component.scss
  libs/kosaml/site/feature/src/lib/components/body/body.component.ts
  libs/kosaml/site/feature/src/lib/components/content/content.component.scss
  libs/kosaml/site/feature/src/lib/components/sidebar/sidebar.component.html
  libs/kosaml/site/feature/src/lib/components/sidebar/sidebar.component.scss
  libs/kosaml/site/feature/src/lib/components/sidebar/sidebar.component.ts
  libs/kosaml/store/feature/src/index.ts
  libs/kosaml/store/feature/src/lib/essentialUseCases/actions.ts
  libs/kosaml/store/feature/src/lib/essentialUseCases/index.ts
  libs/kosaml/store/feature/src/lib/essentialUseCases/key.ts
  libs/kosaml/store/feature/src/lib/essentialUseCases/model.ts
  libs/kosaml/store/feature/src/lib/essentialUseCases/reducers.ts
  libs/kosaml/store/feature/src/lib/essentialUseCases/selectors.ts
  libs/kosaml/store/feature/src/lib/kosaml-store-feature.module.ts
  libs/kosaml/store/feature/src/lib/site/index.ts
  libs/kosaml/store/feature/src/lib/site/selectors.ts
  libs/kosaml/task-scenario/feature/src/lib/containers/edit-task-scenario-page.component.ts
  libs/kosaml/task-scenario/feature/src/lib/containers/new-task-scenario-page.component.ts
  libs/kosaml/use-scenario/feature/src/lib/containers/use-scenario-page.component.ts
Due: eslint --fix, prettier --write

feat: generate lib for base use case in conceptual design
  libs/kosaml/conceptual-design/use-case/feature/.eslintrc.json
  libs/kosaml/conceptual-design/use-case/feature/README.md
  libs/kosaml/conceptual-design/use-case/feature/jest.config.ts
  libs/kosaml/conceptual-design/use-case/feature/project.json
  libs/kosaml/conceptual-design/use-case/feature/src/index.ts
  libs/kosaml/conceptual-design/use-case/feature/src/lib/kosaml-conceptual-design-use-case-feature.module.ts
  libs/kosaml/conceptual-design/use-case/feature/src/test-setup.ts
  libs/kosaml/conceptual-design/use-case/feature/tsconfig.json
  libs/kosaml/conceptual-design/use-case/feature/tsconfig.lib.json
  libs/kosaml/conceptual-design/use-case/feature/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Due: eslint --fix, prettier --write

chore: file structure
  libs/kosaml/conceptual-design/essential-use-case/feature/.eslintrc.json
  libs/kosaml/conceptual-design/essential-use-case/feature/README.md
  libs/kosaml/conceptual-design/essential-use-case/feature/jest.config.ts
  libs/kosaml/conceptual-design/essential-use-case/feature/project.json
  libs/kosaml/conceptual-design/essential-use-case/feature/src/index.ts
  libs/kosaml/conceptual-design/essential-use-case/feature/src/lib/components/essential-use-case.component.html
  libs/kosaml/conceptual-design/essential-use-case/feature/src/lib/components/essential-use-case.component.scss
  libs/kosaml/conceptual-design/essential-use-case/feature/src/lib/components/essential-use-case.component.ts
  libs/kosaml/conceptual-design/essential-use-case/feature/src/lib/containers/essential-use-case-page.component.ts
  libs/kosaml/conceptual-design/essential-use-case/feature/src/lib/essential-use-case-routing.module.ts
  libs/kosaml/conceptual-design/essential-use-case/feature/src/lib/essential-use-case.module.ts
  libs/kosaml/conceptual-design/essential-use-case/feature/src/test-setup.ts
  libs/kosaml/conceptual-design/essential-use-case/feature/tsconfig.json
  libs/kosaml/conceptual-design/essential-use-case/feature/tsconfig.lib.json
  libs/kosaml/conceptual-design/essential-use-case/feature/tsconfig.spec.json
  libs/kosaml/essential-use-case/feature/README.md
  libs/kosaml/essential-use-case/feature/project.json
  libs/kosaml/shell/feature/src/lib/kosaml-shell-routing.module.ts
  tsconfig.base.json
  workspace.json
Due: eslint --fix, prettier --write

chore: file structure
  libs/kosaml/conceptual-design/base/scenario/feature/.eslintrc.json
  libs/kosaml/conceptual-design/base/scenario/feature/README.md
  libs/kosaml/conceptual-design/base/scenario/feature/jest.config.ts
  libs/kosaml/conceptual-design/base/scenario/feature/project.json
  libs/kosaml/conceptual-design/base/scenario/feature/src/index.ts
  libs/kosaml/conceptual-design/base/scenario/feature/src/lib/components/scenario/KosamlErrorMatcher.ts
  libs/kosaml/conceptual-design/base/scenario/feature/src/lib/components/scenario/scenario.component.html
  libs/kosaml/conceptual-design/base/scenario/feature/src/lib/components/scenario/scenario.component.scss
  libs/kosaml/conceptual-design/base/scenario/feature/src/lib/components/scenario/scenario.component.ts
  libs/kosaml/conceptual-design/base/scenario/feature/src/lib/components/scenario/stories/scenario.stories.ts
  libs/kosaml/conceptual-design/base/scenario/feature/src/lib/kosaml-conceptual-design-base-scenario-feature.module.ts
  libs/kosaml/conceptual-design/base/scenario/feature/src/test-setup.ts
  libs/kosaml/conceptual-design/base/scenario/feature/tsconfig.json
  libs/kosaml/conceptual-design/base/scenario/feature/tsconfig.lib.json
  libs/kosaml/conceptual-design/base/scenario/feature/tsconfig.spec.json
  libs/kosaml/conceptual-design/base/use-case/feature/.eslintrc.json
  libs/kosaml/conceptual-design/base/use-case/feature/README.md
  libs/kosaml/conceptual-design/base/use-case/feature/jest.config.ts
  libs/kosaml/conceptual-design/base/use-case/feature/project.json
  libs/kosaml/conceptual-design/base/use-case/feature/src/index.ts
  libs/kosaml/conceptual-design/base/use-case/feature/src/lib/kosaml-conceptual-design-base-use-case-feature.module.ts
  libs/kosaml/conceptual-design/base/use-case/feature/src/test-setup.ts
  libs/kosaml/conceptual-design/base/use-case/feature/tsconfig.json
  libs/kosaml/conceptual-design/base/use-case/feature/tsconfig.lib.json
  libs/kosaml/conceptual-design/base/use-case/feature/tsconfig.spec.json
  libs/kosaml/conceptual-design/scenario/feature/README.md
  libs/kosaml/conceptual-design/scenario/feature/project.json
  libs/kosaml/conceptual-design/scenario/feature/src/index.ts
  libs/kosaml/conceptual-design/task-scenario/feature/src/lib/task-scenario.module.ts
  libs/kosaml/conceptual-design/use-case/feature/README.md
  libs/kosaml/conceptual-design/use-case/feature/project.json
  libs/kosaml/conceptual-design/use-case/feature/src/index.ts
  libs/kosaml/conceptual-design/use-scenario/feature/src/lib/use-scenario.module.ts
  tsconfig.base.json
  workspace.json
Due: eslint --fix, prettier --write

chore: adjust kosaml stories for recent storybook structure
  apps/kosaml/.storybook/main.js
  apps/kosaml/.storybook/preview.js
  apps/kosaml/.storybook/tsconfig.json
  apps/kosaml/project.json
  apps/kosaml/tsconfig.app.json
  apps/kosaml/tsconfig.json
  libs/kosaml/card/feature/src/lib/__specs__/kosaml-card.stories.ts
  libs/kosaml/conceptual-design/base/scenario/feature/src/lib/components/scenario/__specs__/scenario.stories.ts
  libs/kosaml/page/feature/src/lib/components/loading-spinner/__specs__/__snapshots__/loading-spinner.component.spec.ts.snap
  libs/kosaml/page/feature/src/lib/components/loading-spinner/__specs__/loading-spinner.component.spec.ts
  libs/kosaml/page/feature/src/lib/components/loading-spinner/__specs__/loading-spinner.stories.ts
  libs/kosaml/page/feature/src/lib/components/loading-spinner/stories/loading-spinner.stories.ts
  libs/kosaml/page/feature/src/lib/components/page/__specs__/page.component.spec.ts
  libs/kosaml/site/feature/src/lib/components/header/__specs__/__snapshots__/header.component.spec.ts.snap
  libs/kosaml/site/feature/src/lib/components/header/__specs__/header.component.spec.ts
  libs/kosaml/site/feature/src/lib/components/header/__specs__/header.stories.ts
  libs/kosaml/site/feature/src/lib/components/menu-bar/__specs__/menu-bar.stories.ts
  libs/kosaml/site/feature/src/lib/components/menu-bar/stories/menu-bar.stories.ts
  libs/kosaml/site/feature/src/lib/components/sidebar/__specs__/sidebar.stories.ts
  libs/kosaml/site/feature/src/lib/site.module.ts
Due: eslint --fix, prettier --write

feat: introduce story for conceptual design base use case
  libs/kosaml/conceptual-design/base/scenario/feature/src/lib/components/scenario/__specs__/scenario.stories.ts
  libs/kosaml/conceptual-design/base/use-case/feature/.eslintrc.json
  libs/kosaml/conceptual-design/base/use-case/feature/src/index.ts
  libs/kosaml/conceptual-design/base/use-case/feature/src/lib/components/use-case/__specs__/use-case.stories.ts
  libs/kosaml/conceptual-design/base/use-case/feature/src/lib/components/use-case/api/types.ts
  libs/kosaml/conceptual-design/base/use-case/feature/src/lib/components/use-case/cp-base-use-case.component.html
  libs/kosaml/conceptual-design/base/use-case/feature/src/lib/components/use-case/cp-base-use-case.component.scss
  libs/kosaml/conceptual-design/base/use-case/feature/src/lib/components/use-case/cp-base-use-case.component.ts
  libs/kosaml/conceptual-design/base/use-case/feature/src/lib/kosaml-conceptual-design-base-use-case-feature.module.ts
  libs/kosaml/conceptual-design/essential-use-case/feature/src/lib/components/essential-use-case.component.html
  libs/kosaml/conceptual-design/essential-use-case/feature/src/lib/components/essential-use-case.component.ts
  libs/kosaml/conceptual-design/essential-use-case/feature/src/lib/containers/essential-use-case-page.component.ts
  libs/kosaml/conceptual-design/essential-use-case/feature/src/lib/essential-use-case.module.ts
Due: eslint --fix, prettier --write

feat: initialize feature module for concrete use cases
  libs/kosaml/conceptual-design/base/scenario/feature/project.json
  libs/kosaml/conceptual-design/base/use-case/feature/project.json
  libs/kosaml/conceptual-design/concrete-use-case/feature/.eslintrc.json
  libs/kosaml/conceptual-design/concrete-use-case/feature/README.md
  libs/kosaml/conceptual-design/concrete-use-case/feature/jest.config.ts
  libs/kosaml/conceptual-design/concrete-use-case/feature/project.json
  libs/kosaml/conceptual-design/concrete-use-case/feature/src/index.ts
  libs/kosaml/conceptual-design/concrete-use-case/feature/src/lib/concrete-use-case-feature.module.ts
  libs/kosaml/conceptual-design/concrete-use-case/feature/src/test-setup.ts
  libs/kosaml/conceptual-design/concrete-use-case/feature/tsconfig.json
  libs/kosaml/conceptual-design/concrete-use-case/feature/tsconfig.lib.json
  libs/kosaml/conceptual-design/concrete-use-case/feature/tsconfig.spec.json
  libs/kosaml/conceptual-design/task-scenario/feature/project.json
  libs/kosaml/shell/feature/src/lib/kosaml-shell-routing.module.ts
  tsconfig.base.json
  workspace.json
Due: eslint --fix, prettier --write

feat: setup store and story for concrete use cases
  libs/kosaml/conceptual-design/base/use-case/feature/src/lib/components/use-case/__specs__/use-case.stories.ts
  libs/kosaml/conceptual-design/concrete-use-case/feature/src/index.ts
  libs/kosaml/conceptual-design/concrete-use-case/feature/src/lib/concrete-use-case-feature.module.ts
  libs/kosaml/conceptual-design/concrete-use-case/feature/src/lib/concrete-use-case-routing.module.ts
  libs/kosaml/conceptual-design/concrete-use-case/feature/src/lib/concrete-use-case.module.ts
  libs/kosaml/conceptual-design/concrete-use-case/feature/src/lib/containers/concrete-use-case-page.component.ts
  libs/kosaml/model/feature/src/index.ts
  libs/kosaml/model/feature/src/lib/concrete-use-case.model.ts
  libs/kosaml/store/feature/src/index.ts
  libs/kosaml/store/feature/src/lib/concreteUseCases/actions.ts
  libs/kosaml/store/feature/src/lib/concreteUseCases/index.ts
  libs/kosaml/store/feature/src/lib/concreteUseCases/key.ts
  libs/kosaml/store/feature/src/lib/concreteUseCases/model.ts
  libs/kosaml/store/feature/src/lib/concreteUseCases/reducers.ts
  libs/kosaml/store/feature/src/lib/concreteUseCases/selectors.ts
  libs/kosaml/store/feature/src/lib/essentialUseCases/actions.ts
  libs/kosaml/store/feature/src/lib/essentialUseCases/index.ts
  libs/kosaml/store/feature/src/lib/essentialUseCases/reducers.ts
  libs/kosaml/store/feature/src/lib/kosaml-store-feature.module.ts
  libs/kosaml/store/feature/src/lib/site/dummies.ts
Due: eslint --fix, prettier --write

test: fix header component test
  libs/kosaml/site/feature/src/lib/components/header/__specs__/header.component.spec.ts
Due: eslint --fix, prettier --write

test(kosaml): fix tests
  apps/kosaml/src/app/__specs__/app.component.spec.ts
  libs/kosaml/conceptual-design/essential-use-case/feature/jest.config.ts
  libs/kosaml/page/feature/src/lib/components/page/__specs__/page.component.spec.ts
  libs/kosaml/site/feature/src/lib/components/header/__specs__/__snapshots__/header.component.spec.ts.snap
Due: eslint --fix, prettier --write

ci(kosaml): remove exclusion of kosaml app test
  .github/workflows/pipeline.yml
Due: none

chore: cleanup
  libs/kosaml/site/feature/src/lib/components/body/body.component.html
  libs/kosaml/site/feature/src/lib/components/body/body.component.ts
  libs/kosaml/site/feature/src/lib/components/header/header.component.html
  libs/kosaml/site/feature/src/lib/components/header/header.component.ts
  libs/kosaml/site/feature/src/lib/components/menu-bar/menu-bar.component.html
  libs/kosaml/site/feature/src/lib/components/menu-bar/menu-bar.component.ts
Due: eslint --fix, prettier --write

feat: view setup of task objects
  libs/kosaml/conceptual-design/base/use-case/feature/src/lib/components/use-case/cp-base-use-case.component.ts
  libs/kosaml/conceptual-design/task-object/feature/.eslintrc.json
  libs/kosaml/conceptual-design/task-object/feature/README.md
  libs/kosaml/conceptual-design/task-object/feature/jest.config.ts
  libs/kosaml/conceptual-design/task-object/feature/project.json
  libs/kosaml/conceptual-design/task-object/feature/src/index.ts
  libs/kosaml/conceptual-design/task-object/feature/src/lib/components/task-object/task-object.component.html
  libs/kosaml/conceptual-design/task-object/feature/src/lib/components/task-object/task-object.component.scss
  libs/kosaml/conceptual-design/task-object/feature/src/lib/components/task-object/task-object.component.ts
  libs/kosaml/conceptual-design/task-object/feature/src/lib/containers/task-object-page.component.ts
  libs/kosaml/conceptual-design/task-object/feature/src/lib/task-object-routing.module.ts
  libs/kosaml/conceptual-design/task-object/feature/src/lib/task-object.module.ts
  libs/kosaml/conceptual-design/task-object/feature/src/test-setup.ts
  libs/kosaml/conceptual-design/task-object/feature/tsconfig.json
  libs/kosaml/conceptual-design/task-object/feature/tsconfig.lib.json
  libs/kosaml/conceptual-design/task-object/feature/tsconfig.spec.json
  libs/kosaml/shell/feature/src/lib/kosaml-shell-routing.module.ts
  libs/kosaml/store/feature/src/lib/site/dummies.ts
  tsconfig.base.json
  workspace.json
Due: eslint --fix, prettier --write

feat(kosaml): setup store for task object
  libs/kosaml/conceptual-design/task-object/feature/src/lib/components/task-object/__specs__/task-object.stories.ts
  libs/kosaml/conceptual-design/task-object/feature/src/lib/components/task-object/task-object.component.scss
  libs/kosaml/conceptual-design/task-object/feature/src/lib/components/task-object/task-object.component.ts
  libs/kosaml/conceptual-design/task-object/feature/src/lib/containers/task-object-page.component.ts
  libs/kosaml/conceptual-design/task-object/feature/src/lib/task-object.module.ts
  libs/kosaml/model/feature/src/index.ts
  libs/kosaml/model/feature/src/lib/task-object.model.ts
  libs/kosaml/store/feature/src/index.ts
  libs/kosaml/store/feature/src/lib/kosaml-store-feature.module.ts
  libs/kosaml/store/feature/src/lib/taskObjects/actions.ts
  libs/kosaml/store/feature/src/lib/taskObjects/index.ts
  libs/kosaml/store/feature/src/lib/taskObjects/key.ts
  libs/kosaml/store/feature/src/lib/taskObjects/model.ts
  libs/kosaml/store/feature/src/lib/taskObjects/reducers.ts
  libs/kosaml/store/feature/src/lib/taskObjects/selectors.ts
Due: eslint --fix, prettier --write

chore: upgrade to nx 15.1.0
  package.json
Due: prettier --write

chore: upgrade to nx 15.1.0
  package-lock.json
Due: prettier --write

feat: initialize loki for kosaml
  apps/kosaml/.loki/.gitignore
  apps/kosaml/.loki/reference/chrome_laptop_Conceptual_Design_Base_Scenario_Empty_Scenario.png
  apps/kosaml/.loki/reference/chrome_laptop_Conceptual_Design_Base_Scenario_Filled_Scenario.png
  apps/kosaml/.loki/reference/chrome_laptop_Conceptual_Design_Base_Scenario_Scenario_With_Delete_Button.png
  apps/kosaml/.loki/reference/chrome_laptop_Conceptual_Design_Base_Use_Case_Concrete_Use_Case.png
  apps/kosaml/.loki/reference/chrome_laptop_Conceptual_Design_Base_Use_Case_Essential_Use_Case.png
  apps/kosaml/.loki/reference/chrome_laptop_Conceptual_Design_Task_Object_Task_Object.png
  apps/kosaml/.loki/reference/chrome_laptop_Kosaml_Base_Card_Empty_Card.png
  apps/kosaml/.loki/reference/chrome_laptop_Kosaml_Base_Loading_Spinner_Loading_Spinner.png
  apps/kosaml/.loki/reference/chrome_laptop_Kosaml_Layout_Header_Authorized_Header.png
  apps/kosaml/.loki/reference/chrome_laptop_Kosaml_Layout_Header_Unauthorized_Header.png
  apps/kosaml/.loki/reference/chrome_laptop_Kosaml_Layout_Menu_Bar_Menubar.png
  apps/kosaml/.loki/reference/chrome_laptop_Kosaml_Layout_Sidebar_Empty_Sidebar.png
  apps/kosaml/loki.config.js
  apps/kosaml/project.json
  package.json
Due: prettier --write

ci: initial setup for kosaml pipeline
  .github/workflows/pipeline.yml
Due: none

ci: further setup for proper ci pipeline
  .github/workflows/pipeline.yml
Due: none

ci: rename install dependencies
  .github/workflows/pipeline.yml
Due: none

ci: intial extraction of tests
  .github/workflows/pipeline.yml
Due: none

Path conditions:
  eslint --fix: any of: *.{ts,html}
  prettier --write: any of: *.{ts,js,html,scss,json,md}
