Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

ci(kosaml): upload current instead of difference
  .github/workflows/pipeline.yml
Due: none

ci(kosaml): rename uploaded file
  .github/workflows/pipeline.yml
  libs/kosaml/conceptual-design/base/scenario/feature/src/lib/components/scenario/scenario.component.ts
  libs/kosaml/model/feature/src/index.ts
Due: eslint --fix, prettier --write

chore(kosaml): fix linter warning
  libs/kosaml/conceptual-design/base/scenario/feature/src/lib/components/scenario/scenario.component.ts
  libs/kosaml/conceptual-design/task-scenario/feature/src/lib/containers/edit-task-scenario-page.component.ts
  libs/kosaml/model/feature/src/index.ts
  libs/kosaml/page/feature/src/lib/components/loading-spinner/__specs__/loading-spinner.component.spec.ts
Due: eslint --fix, prettier --write

chore(prices): cleanup
  libs/prices/add-item/feature/src/lib/__specs__/add-item.service.spec.ts
Due: eslint --fix, prettier --write

feat(kosaml): dev wants to migrate to angular material 15 (#159) (#165)
  .github/workflows/pipeline.yml
  apps/kosaml/.loki/reference/chrome_laptop_Conceptual_Design_Base_Scenario_Empty_Scenario.png
  apps/kosaml/.loki/reference/chrome_laptop_Conceptual_Design_Base_Scenario_Filled_Scenario.png
  apps/kosaml/.loki/reference/chrome_laptop_Conceptual_Design_Base_Scenario_Scenario_With_Delete_Button.png
  apps/kosaml/.loki/reference/chrome_laptop_Conceptual_Design_Base_Use_Case_Concrete_Use_Case.png
  apps/kosaml/.loki/reference/chrome_laptop_Conceptual_Design_Base_Use_Case_Essential_Use_Case.png
  apps/kosaml/.loki/reference/chrome_laptop_Conceptual_Design_Task_Object_Task_Object.png
  apps/kosaml/.loki/reference/chrome_laptop_Kosaml_Base_Card_Card_With_Content.png
  apps/kosaml/.loki/reference/chrome_laptop_Kosaml_Base_Card_Empty_Card.png
  apps/kosaml/.loki/reference/chrome_laptop_Kosaml_Base_Loading_Spinner_Loading_Spinner.png
  apps/kosaml/.loki/reference/chrome_laptop_Kosaml_Layout_Header_Authorized_Header.png
  apps/kosaml/.loki/reference/chrome_laptop_Kosaml_Layout_Header_Unauthorized_Header.png
  apps/kosaml/.loki/reference/chrome_laptop_Kosaml_Layout_Menu_Bar_Menubar.png
  apps/kosaml/.loki/reference/chrome_laptop_Kosaml_Layout_Sidebar_Empty_Sidebar.png
  apps/kosaml/.storybook/preview-head.html
  apps/kosaml/.storybook/tsconfig.json
  apps/prices/.storybook/tsconfig.json
  libs/kosaml/card/feature/src/lib/card.component.scss
  libs/kosaml/conceptual-design/base/scenario/feature/src/lib/components/scenario/scenario.component.html
  libs/kosaml/conceptual-design/base/scenario/feature/src/lib/components/scenario/scenario.component.ts
  libs/kosaml/conceptual-design/base/use-case/feature/src/lib/components/use-case/cp-base-use-case.component.scss
  libs/kosaml/conceptual-design/base/use-case/feature/src/lib/components/use-case/cp-base-use-case.component.ts
  libs/kosaml/conceptual-design/concrete-use-case/feature/src/lib/concrete-use-case-page.component.ts
  libs/kosaml/conceptual-design/essential-use-case/feature/src/lib/essential-use-case-page.component.ts
  libs/kosaml/conceptual-design/task-object/feature/src/lib/components/task-object/task-object.component.scss
  libs/kosaml/conceptual-design/task-object/feature/src/lib/components/task-object/task-object.component.ts
  libs/kosaml/conceptual-design/task-object/feature/src/lib/task-object-page.component.ts
  libs/kosaml/conceptual-design/task-scenario/feature/src/lib/containers/edit-task-scenario-page.component.ts
  libs/kosaml/conceptual-design/task-scenario/feature/src/lib/containers/new-task-scenario-page.component.ts
  libs/kosaml/conceptual-design/use-scenario/feature/src/lib/containers/new-use-scenario-page.component.ts
  libs/kosaml/conceptual-design/use-scenario/feature/src/lib/containers/use-scenario-page.component.ts
  libs/kosaml/model/feature/src/index.ts
  libs/kosaml/page/feature/src/lib/components/loading-spinner/__specs__/loading-spinner.component.spec.ts
  libs/kosaml/site/feature/src/lib/components/header/header.component.html
  libs/kosaml/site/feature/src/lib/components/header/header.component.ts
  libs/kosaml/site/feature/src/lib/components/menu-bar/menu-bar.component.ts
  libs/kosaml/site/feature/src/lib/components/sidebar/project/project.component.ts
  libs/prices/add-item/feature/src/lib/__specs__/add-item.service.spec.ts
Due: eslint --fix, prettier --write

chore: upgrade nx version
  package-lock.json
  package.json
Due: prettier --write

chore(kosaml): update ngx-skeleton-loader dependency
  package-lock.json
  package.json
Due: prettier --write

test(kosaml): fix snapshot test
  libs/kosaml/page/feature/src/lib/components/loading-spinner/__specs__/__snapshots__/loading-spinner.component.spec.ts.snap
Due: none

chore: upgrade nx version to 15.6.3 (#166)
  libs/kosaml/page/feature/src/lib/components/loading-spinner/__specs__/__snapshots__/loading-spinner.component.spec.ts.snap
  package-lock.json
  package.json
Due: prettier --write

feat(all): setup storybook linter to workspace
  .eslintrc.json
  package-lock.json
  package.json
Due: prettier --write

feat(apps): add js files in .storybook folder to enable eslint-storybook-plugin lint them
  .eslintrc.json
  apps/kosaml/project.json
  apps/prices/project.json
Due: prettier --write

fix(kosaml): fix wrong path for lintFilePatterns
  apps/kosaml/project.json
Due: prettier --write

feat(all): setup storybook linter to workspace (#167) (#170)
  .eslintrc.json
  apps/kosaml/project.json
  apps/prices/project.json
  package-lock.json
  package.json
Due: prettier --write

feat(kosaml): use @angular-devkit/build-angular:browser-esbuild
  apps/kosaml/project.json
Due: prettier --write

fix(kosaml): fix issue not loading scenarios
  libs/kosaml/conceptual-design/base/scenario/feature/src/lib/components/scenario/scenario.component.html
  libs/kosaml/conceptual-design/base/scenario/feature/src/lib/components/scenario/scenario.component.ts
  libs/kosaml/conceptual-design/task-scenario/feature/src/lib/containers/edit-task-scenario-page.component.ts
  libs/kosaml/conceptual-design/task-scenario/feature/src/lib/containers/new-task-scenario-page.component.ts
  libs/kosaml/conceptual-design/use-scenario/feature/src/lib/containers/new-use-scenario-page.component.ts
  libs/kosaml/conceptual-design/use-scenario/feature/src/lib/containers/use-scenario-page.component.ts
Due: eslint --fix, prettier --write

fix(kosaml): fix issue not navigating to task or use scenario
  libs/kosaml/conceptual-design/base/scenario/feature/src/lib/components/scenario/scenario.component.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

fix(kosaml): fix not navigating to task scenario or use scenario (#160) (#173)
  libs/kosaml/conceptual-design/base/scenario/feature/src/lib/components/scenario/scenario.component.html
  libs/kosaml/conceptual-design/base/scenario/feature/src/lib/components/scenario/scenario.component.ts
  libs/kosaml/conceptual-design/task-scenario/feature/src/lib/containers/edit-task-scenario-page.component.ts
  libs/kosaml/conceptual-design/task-scenario/feature/src/lib/containers/new-task-scenario-page.component.ts
  libs/kosaml/conceptual-design/use-scenario/feature/src/lib/containers/new-use-scenario-page.component.ts
  libs/kosaml/conceptual-design/use-scenario/feature/src/lib/containers/use-scenario-page.component.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

docs: create blog list to be read weekly
  README.md
  docs/weekly_reads.md
Due: prettier --write

docs: create blog list to be read weekly (#174)
  README.md
  docs/weekly_reads.md
Due: prettier --write

docs(kosaml): add mdx2 doc-only with example mdx file
  .storybook/main.js
  apps/prices/.storybook/main.js
  libs/prices/docs/__specs__/Benutzerhandbuch.stories.mdx
  package-lock.json
  package.json
Due: prettier --write

docs(kosaml): add mdx2 doc-only with example mdx file (#176)
  .storybook/main.js
  apps/prices/.storybook/main.js
  libs/prices/docs/__specs__/Benutzerhandbuch.stories.mdx
  package-lock.json
  package.json
Due: prettier --write

chore: dedupe
  migrations.json
  package-lock.json
Due: prettier --write

chore: cleanup
  migrations.json
  package.json
Due: prettier --write

chore: arrange husky and commit
  .husky/commit-msg
  .husky/prepare-commit-msg
Due: none

chore: update loki references for kosaml
  apps/kosaml/.loki/reference/chrome_laptop_Conceptual_Design_Base_Scenario_Empty_Scenario.png
  apps/kosaml/.loki/reference/chrome_laptop_Conceptual_Design_Base_Scenario_Filled_Scenario.png
  apps/kosaml/.loki/reference/chrome_laptop_Conceptual_Design_Base_Scenario_Scenario_With_Delete_Button.png
  apps/kosaml/.loki/reference/chrome_laptop_Conceptual_Design_Base_Use_Case_Concrete_Use_Case.png
  apps/kosaml/.loki/reference/chrome_laptop_Conceptual_Design_Base_Use_Case_Essential_Use_Case.png
  apps/kosaml/.loki/reference/chrome_laptop_Conceptual_Design_Task_Object_Task_Object.png
  apps/kosaml/.loki/reference/chrome_laptop_Kosaml_Base_Loading_Spinner_Loading_Spinner.png
  apps/kosaml/.loki/reference/chrome_laptop_Kosaml_Layout_Menu_Bar_Menubar.png
  apps/kosaml/.loki/reference/chrome_laptop_Kosaml_Layout_Sidebar_Empty_Sidebar.png
Due: none

chore: fix linting warning
  libs/kosaml/card/feature/src/lib/__specs__/kosaml-card.stories.ts
  libs/kosaml/page/feature/src/lib/components/loading-spinner/__specs__/loading-spinner.stories.ts
  libs/kosaml/site/feature/src/lib/components/header/__specs__/header.stories.ts
  libs/kosaml/site/feature/src/lib/components/menu-bar/__specs__/menu-bar.stories.ts
  libs/kosaml/site/feature/src/lib/components/sidebar/__specs__/sidebar.stories.ts
Due: eslint --fix, prettier --write

chore: fix storybook lint warnings
  libs/kosaml/conceptual-design/base/scenario/feature/src/lib/components/scenario/__specs__/scenario.stories.ts
Due: eslint --fix, prettier --write

ci(workflow): add commitlint
  .github/workflows/pipeline.yml
  .husky/commit-msg
  commitlint.config.js
  package-lock.json
  package.json
Due: prettier --write

ci: add commitlint
  commitlint.config.js
Due: prettier --write

ci: update loki version
  package-lock.json
  package.json
Due: prettier --write

chore: update loki version
  package.json
Due: prettier --write

ci: update pipeline to node 18
  .github/workflows/pipeline.yml
  libs/kosaml/conceptual-design/base/scenario/feature/src/lib/components/scenario/__specs__/scenario.stories.ts
Due: eslint --fix, prettier --write

ci: ignore failure of loki job
  .github/workflows/pipeline.yml
Due: none

ci: align zone.js version
  package-lock.json
  package.json
Due: prettier --write

chore: make apps run again
  apps/kosaml/.storybook/main.js
  apps/prices/.storybook/main.js
  libs/kosaml/page/feature/src/lib/components/loading-spinner/__specs__/loading-spinner.stories.ts
Due: eslint --fix, prettier --write

chore: make apps run again
  apps/kosaml/.storybook/main.js
  libs/kosaml/page/feature/src/lib/components/loading-spinner/__specs__/loading-spinner.stories.ts
Due: eslint --fix, prettier --write

chore: fix broken test
  libs/kosaml/page/feature/src/lib/components/loading-spinner/__specs__/__snapshots__/loading-spinner.component.spec.ts.snap
  package-lock.json
  package.json
Due: prettier --write

test: update loki references
  apps/kosaml/.loki/reference/chrome_laptop_Kosaml_Base_Loading_Spinner_Loading_Spinner.png
  apps/prices/.loki/reference/chrome_iphone7_Components_Page_Primary.png
  apps/prices/.loki/reference/chrome_iphone7_Components_Password_Validator_Primary.png
  apps/prices/.loki/reference/chrome_iphone7_Pages_Add_Item_Primary.png
  apps/prices/.loki/reference/chrome_iphone7_Pages_Auth_Primary.png
  apps/prices/.loki/reference/chrome_iphone7_Pages_Home_Primary.png
  apps/prices/.loki/reference/chrome_iphone7_Pages_Registration_Primary.png
Due: none

Path conditions:
  eslint --fix: any of: *.{ts,html}
  prettier --write: any of: *.{ts,js,html,scss,json,md}
