Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

chore: nx repair
  README.md
Due: prettier --write

chore: add test run to pre-push hook
  .husky/pre-push
Due: none

chore: add jest coverage threshold to 80
  jest.preset.js
Due: prettier --write

chore: adjust other metrics on code coverage
  apps/finances/src/app/app.component.spec.ts
  jest.preset.js
Due: eslint --fix, prettier --write

test: fix test
  apps/finances/jest.config.ts
  apps/finances/src/app/app.component.spec.ts
Due: eslint --fix, prettier --write

chore: increase coverage threshold to 90
  jest.preset.js
Due: prettier --write

chore: update to nx 19.8.14
  README.md
  migrations.json
  package-lock.json
  package.json
Due: prettier --write

chore: remove react and react-dom due to storybook migration
  .storybook/main.js
  apps/kosaml/.storybook/preview.js
  apps/prices/.storybook/main.js
  apps/prices/.storybook/preview.js
  migration-storybook.log
  package-lock.json
  package.json
  storybook-migration-summary.md
Due: prettier --write

test: increate test coverage to match coverage threshold
  .husky/pre-push
  apps/kosaml/src/app/__specs__/app.component.spec.ts
  libs/kosaml/site/feature/src/lib/components/header/__specs__/header.component.spec.ts
  libs/kosaml/site/feature/src/lib/components/header/header.component.ts
Due: eslint --fix, prettier --write

test: extend test suite
  libs/common/ui/page/src/lib/__specs__/page.component.spec.ts
  libs/common/ui/page/src/lib/page.component.html
  libs/common/ui/page/src/lib/page.component.ts
  libs/prices/password-validator/feature/src/lib/__specs__/password-validator.component.spec.ts
  package.json
Due: eslint --fix, prettier --write

test: extend test suite
  .eslintrc.json
  libs/prices/password-validator/feature/src/lib/utils/__specs__/calculate-color.spec.ts
  libs/prices/password-validator/feature/src/lib/utils/__specs__/calculate-icon.spec.ts
  libs/prices/password-validator/feature/src/lib/utils/__specs__/has-length.spec.ts
  libs/prices/password-validator/feature/src/lib/utils/has-length.ts
Due: eslint --fix, prettier --write

test: extend test suite
  libs/prices/password-validator/feature/src/lib/__specs__/password-validator.component.spec.ts
Due: eslint --fix, prettier --write

test: extend test suite
  libs/common/ui/page/src/lib/__specs__/page.component.spec.ts
Due: eslint --fix, prettier --write

test: extend test suite
  jest.preset.js
  libs/prices/home/feature/src/lib/__specs__/home.component.spec.ts
  libs/prices/home/feature/src/lib/components/home.component.ts
  libs/prices/home/feature/src/lib/pipes/__specs__/filter-icon.pipe.spec.ts
  libs/prices/home/feature/src/lib/utils/__specs__/add-location-filter.spec.ts
  libs/prices/home/feature/src/lib/utils/__specs__/get-filtered-prices.spec.ts
Due: eslint --fix, prettier --write

test: extend test suite
  libs/prices/auth/feature/src/lib/__specs__/auth-container.component.spec.ts
  libs/prices/auth/feature/src/lib/__specs__/auth.service.spec.ts
Due: eslint --fix, prettier --write

test: extend test suite
  libs/prices/add-item/feature/src/lib/__specs__/add-item.component.spec.ts
  libs/prices/add-item/feature/src/lib/__specs__/add-item.service.spec.ts
  libs/prices/add-item/feature/src/lib/__specs__/image-url.validator.spec.ts
Due: eslint --fix, prettier --write

test: extend test suite
  tools/executors/loki/src/__specs__/impl.spec.ts
  tools/executors/loki/src/impl.ts
Due: eslint --fix, prettier --write

feat: initialize cv
  apps/cv/.eslintrc.json
  apps/cv/jest.config.ts
  apps/cv/project.json
  apps/cv/public/favicon.ico
  apps/cv/src/app/app.component.html
  apps/cv/src/app/app.component.scss
  apps/cv/src/app/app.component.spec.ts
  apps/cv/src/app/app.component.ts
  apps/cv/src/app/app.config.ts
  apps/cv/src/app/app.routes.ts
  apps/cv/src/app/nx-welcome.component.ts
  apps/cv/src/index.html
  apps/cv/src/main.ts
  apps/cv/src/styles.scss
  apps/cv/src/test-setup.ts
  apps/cv/tsconfig.app.json
  apps/cv/tsconfig.editor.json
  apps/cv/tsconfig.json
  apps/cv/tsconfig.spec.json
Due: eslint --fix, prettier --write, stylelint --fix

chore: cleanup
  apps/cv/project.json
  apps/cv/src/app/app.component.html
  apps/cv/src/app/app.component.spec.ts
  apps/cv/src/app/app.component.ts
  apps/cv/src/app/app.config.ts
  apps/cv/src/app/nx-welcome.component.ts
Due: eslint --fix, prettier --write

feat: integrate cv in workspace
  apps/cv/public/assets/profile.jpeg
  apps/cv/src/app/app.component.html
  apps/cv/src/app/app.component.scss
  apps/cv/src/app/app.component.ts
  apps/cv/src/index.html
  apps/cv/src/styles.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: cv home
  apps/cv/public/assets/burger-menu.svg
  apps/cv/src/app/app.component.html
  apps/cv/src/app/app.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

chore: spacing and lining
  apps/cv/src/app/app.component.scss
Due: prettier --write, stylelint --fix

refactor: introduce scss vars
  apps/cv/src/app/app.component.scss
Due: prettier --write, stylelint --fix

style: make the profile image round
  apps/cv/src/app/app.component.scss
Due: prettier --write, stylelint --fix

feat: start projects table
  apps/cv/src/app/app.component.html
  apps/cv/src/app/app.component.scss
  apps/cv/src/app/app.component.ts
  apps/cv/src/app/duration.pipe.ts
  apps/cv/src/app/project.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: set coverage threshold to 0 for cv
  apps/cv/jest.config.ts
Due: eslint --fix, prettier --write

feat: add job descriptions
  apps/cv/src/app/app.component.html
  apps/cv/src/app/app.component.scss
  apps/cv/src/app/app.component.ts
  apps/cv/src/app/dates.ts
  apps/cv/src/app/project.ts
  apps/cv/src/app/projects.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: finish job descriptions
  apps/cv/src/app/app.component.html
  apps/cv/src/app/app.component.scss
  apps/cv/src/app/app.component.ts
  apps/cv/src/app/projects.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: cut min fraction digits for month and years
  apps/cv/src/app/duration.pipe.ts
Due: eslint --fix, prettier --write

feat: education
  apps/cv/src/app/app.component.html
  apps/cv/src/app/app.component.scss
  apps/cv/src/app/app.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: basic styling for md+ resolution
  apps/cv/src/app/app.component.scss
  apps/cv/src/styles.scss
Due: prettier --write, stylelint --fix

fix: fix id of project items
  apps/cv/src/app/projects.ts
Due: eslint --fix, prettier --write

feat: calculate total experience
  apps/cv/src/app/app.component.html
  apps/cv/src/app/app.component.scss
  apps/cv/src/app/duration.pipe.ts
  apps/cv/src/app/project.ts
  apps/cv/src/app/projects.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: styling
  apps/cv/src/app/app.component.html
  apps/cv/src/app/app.component.scss
  apps/cv/src/app/projects.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: add pwa to cv
  apps/cv/ngsw-config.json
  apps/cv/project.json
  apps/cv/public/icons/icon-128x128.png
  apps/cv/public/icons/icon-144x144.png
  apps/cv/public/icons/icon-152x152.png
  apps/cv/public/icons/icon-192x192.png
  apps/cv/public/icons/icon-384x384.png
  apps/cv/public/icons/icon-512x512.png
  apps/cv/public/icons/icon-72x72.png
  apps/cv/public/icons/icon-96x96.png
  apps/cv/public/manifest.webmanifest
  apps/cv/src/app/app.config.ts
  apps/cv/src/index.html
  docs/NX.md
Due: eslint --fix, prettier --write

feat: increase css budget
  apps/cv/project.json
Due: prettier --write

ci: introduce reusable setup job
  .github/workflows/pipeline.yml
Due: none

ci: fix typo in pipeline
  .github/workflows/pipeline.yml
Due: none

ci: introduce linting in pipeline with reusable step
  .github/workflows/pipeline.yml
Due: none

Path conditions:
  eslint --fix: any of: *.{ts,html}
  prettier --write: any of: *.{ts,js,html,scss,json,md}
  stylelint --fix: any of: *.scss
