Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,html}": "eslint --fix",
  "*.{ts,js,html,scss,json,md}": "prettier --write",
  "*.scss": "stylelint --fix"
}

chore: execute storybook automigrations
  apps/kosaml/.storybook/main.ts
  apps/kosaml/.storybook/preview.ts
  apps/prices/.storybook/main.ts
  apps/prices/.storybook/preview.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

chore: cleanup
  migration-storybook.log
Due: none

chore: add missing import for polyfills
  apps/kosaml/.storybook/tsconfig.json
  apps/prices/.storybook/tsconfig.json
Due: prettier --write

chore: remove unknown option in main.ts
  apps/prices/.storybook/main.ts
Due: eslint --fix, prettier --write

chore: fix storybook for prices
  apps/prices/.storybook/tsconfig.json
Due: prettier --write

chore: add storybook plugin to nx.json
  nx.json
Due: prettier --write

chore: remove overrides in package.json
  nx.json
  package-lock.json
  package.json
Due: prettier --write

chore: update nx
  package-lock.json
  package.json
Due: prettier --write

chore: resolve dependency conflicts
  package-lock.json
  package.json
Due: prettier --write

chore: move to nx-loki
  apps/kosaml/package.json
  apps/kosaml/project.json
  apps/prices/.loki/reference/chrome_iphone7_Components_Card_Empty.png
  apps/prices/.loki/reference/chrome_iphone7_Components_Card_Primary.png
  apps/prices/.loki/reference/chrome_iphone7_Components_Page_Primary.png
  apps/prices/package.json
  apps/prices/project.json
  package-lock.json
  package.json
  tools/executors/loki/README.md
  tools/executors/loki/builder.json
  tools/executors/loki/impl.js
  tools/executors/loki/jest.config.ts
  tools/executors/loki/package.json
  tools/executors/loki/project.json
  tools/executors/loki/schema.json
  tools/executors/loki/src/__specs__/impl.spec.ts
  tools/executors/loki/src/impl.ts
  tools/executors/loki/src/test-setup.ts
  tools/executors/loki/tsconfig.editor.json
  tools/executors/loki/tsconfig.executor.json
  tools/executors/loki/tsconfig.json
  tools/executors/loki/tsconfig.spec.json
  tools/tsconfig.tools.json
Due: eslint --fix, prettier --write

chore: npm i
  package-lock.json
Due: prettier --write

chore: disable daemon in pipeline
  .github/workflows/pipeline.yml
Due: none

ci: verbose logging and nx daemon reset
  .github/workflows/pipeline.yml
Due: none

209 use nx loki (#210)
  .github/workflows/pipeline.yml
  .storybook/main.js
  .storybook/tsconfig.json
  .vscode/launch.json
  apps/kosaml/.storybook/main.js
  apps/kosaml/.storybook/main.ts
  apps/kosaml/.storybook/preview.ts
  apps/kosaml/.storybook/tsconfig.json
  apps/kosaml/package.json
  apps/kosaml/project.json
  apps/prices/.loki/reference/chrome_iphone7_Components_Card_Empty.png
  apps/prices/.loki/reference/chrome_iphone7_Components_Card_Primary.png
  apps/prices/.loki/reference/chrome_iphone7_Components_Page_Primary.png
  apps/prices/.storybook/main.js
  apps/prices/.storybook/main.ts
  apps/prices/.storybook/preview.ts
  apps/prices/.storybook/tsconfig.json
  apps/prices/package.json
  apps/prices/project.json
  nx.json
  package-lock.json
  package.json
  tools/executors/loki/README.md
  tools/executors/loki/builder.json
  tools/executors/loki/impl.js
  tools/executors/loki/jest.config.ts
  tools/executors/loki/package.json
  tools/executors/loki/project.json
  tools/executors/loki/schema.json
  tools/executors/loki/src/__specs__/impl.spec.ts
  tools/executors/loki/src/impl.ts
  tools/executors/loki/src/test-setup.ts
  tools/executors/loki/tsconfig.editor.json
  tools/executors/loki/tsconfig.executor.json
  tools/executors/loki/tsconfig.json
  tools/executors/loki/tsconfig.spec.json
  tools/tsconfig.tools.json
Due: eslint --fix, prettier --write

ci: fix naming of param
  .github/workflows/pipeline.yml
Due: none

ci: fix naming of param (#211)
  .github/workflows/pipeline.yml
Due: none

chore: align nx deps versions
  package-lock.json
  package.json
Due: prettier --write

ci: remove options in main.ts > framework
  apps/kosaml/.storybook/main.ts
  apps/prices/.storybook/main.ts
Due: eslint --fix, prettier --write

chore: dedupe
  package-lock.json
Due: prettier --write

ci: switch github action job to nx-loki
  .github/workflows/pipeline.yml
Due: none

chore: fix buildpipeline and use loki in pipeline job (#212)
  .github/workflows/pipeline.yml
  apps/kosaml/.storybook/main.ts
  apps/prices/.storybook/main.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

ci: update nx-loki
  apps/kosaml/.loki/reference/chrome_laptop_Conceptual_Design_Base_Scenario_Empty_Scenario.png
  apps/kosaml/.loki/reference/chrome_laptop_Conceptual_Design_Base_Scenario_Filled_Scenario.png
  apps/kosaml/.loki/reference/chrome_laptop_Conceptual_Design_Base_Scenario_Scenario_With_Delete_Button.png
  apps/kosaml/.loki/reference/chrome_laptop_Conceptual_Design_Base_Use_Case_Concrete_Use_Case.png
  apps/kosaml/.loki/reference/chrome_laptop_Conceptual_Design_Base_Use_Case_Essential_Use_Case.png
  apps/kosaml/.loki/reference/chrome_laptop_Conceptual_Design_Task_Object_Task_Object.png
  apps/kosaml/.loki/reference/chrome_laptop_Kosaml_Base_Card_Card_With_Content.png
  apps/kosaml/.loki/reference/chrome_laptop_Kosaml_Base_Loading_Spinner_Loading_Spinner.png
  apps/kosaml/.loki/reference/chrome_laptop_Kosaml_Layout_Header_Authorized_Header.png
  apps/kosaml/.loki/reference/chrome_laptop_Kosaml_Layout_Header_Unauthorized_Header.png
  apps/kosaml/.loki/reference/chrome_laptop_Kosaml_Layout_Menu_Bar_Menubar.png
  apps/kosaml/.loki/reference/chrome_laptop_Kosaml_Layout_Sidebar_Empty_Sidebar.png
  nx.json
  package-lock.json
  package.json
Due: prettier --write

ci: update nx-loki (#213)
  apps/kosaml/.loki/reference/chrome_laptop_Conceptual_Design_Base_Scenario_Empty_Scenario.png
  apps/kosaml/.loki/reference/chrome_laptop_Conceptual_Design_Base_Scenario_Filled_Scenario.png
  apps/kosaml/.loki/reference/chrome_laptop_Conceptual_Design_Base_Scenario_Scenario_With_Delete_Button.png
  apps/kosaml/.loki/reference/chrome_laptop_Conceptual_Design_Base_Use_Case_Concrete_Use_Case.png
  apps/kosaml/.loki/reference/chrome_laptop_Conceptual_Design_Base_Use_Case_Essential_Use_Case.png
  apps/kosaml/.loki/reference/chrome_laptop_Conceptual_Design_Task_Object_Task_Object.png
  apps/kosaml/.loki/reference/chrome_laptop_Kosaml_Base_Card_Card_With_Content.png
  apps/kosaml/.loki/reference/chrome_laptop_Kosaml_Base_Loading_Spinner_Loading_Spinner.png
  apps/kosaml/.loki/reference/chrome_laptop_Kosaml_Layout_Header_Authorized_Header.png
  apps/kosaml/.loki/reference/chrome_laptop_Kosaml_Layout_Header_Unauthorized_Header.png
  apps/kosaml/.loki/reference/chrome_laptop_Kosaml_Layout_Menu_Bar_Menubar.png
  apps/kosaml/.loki/reference/chrome_laptop_Kosaml_Layout_Sidebar_Empty_Sidebar.png
  nx.json
  package-lock.json
  package.json
Due: prettier --write

feat(nx-cloud): setup nx cloud workspace
  nx.json
Due: prettier --write

ci: setup nx cloud token
  .github/workflows/pipeline.yml
Due: none

feat(nx-cloud): set up nx workspace (#214)
  .github/workflows/pipeline.yml
  nx.json
Due: prettier --write

chore: move cap out of prices
  apps/prices-ios/.gitignore
  apps/prices-ios/capacitor.config.ts
  apps/prices-ios/ios/.gitignore
  apps/prices-ios/ios/App/App.xcodeproj/project.pbxproj
  apps/prices-ios/ios/App/App.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  apps/prices-ios/ios/App/App.xcworkspace/contents.xcworkspacedata
  apps/prices-ios/ios/App/App.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  apps/prices-ios/ios/App/App/AppDelegate.swift
  apps/prices-ios/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-512@2x.png
  apps/prices-ios/ios/App/App/Assets.xcassets/AppIcon.appiconset/Contents.json
  apps/prices-ios/ios/App/App/Assets.xcassets/Contents.json
  apps/prices-ios/ios/App/App/Assets.xcassets/Splash.imageset/Contents.json
  apps/prices-ios/ios/App/App/Assets.xcassets/Splash.imageset/splash-2732x2732-1.png
  apps/prices-ios/ios/App/App/Assets.xcassets/Splash.imageset/splash-2732x2732-2.png
  apps/prices-ios/ios/App/App/Assets.xcassets/Splash.imageset/splash-2732x2732.png
  apps/prices-ios/ios/App/App/Base.lproj/LaunchScreen.storyboard
  apps/prices-ios/ios/App/App/Base.lproj/Main.storyboard
  apps/prices-ios/ios/App/App/Info.plist
  apps/prices-ios/ios/App/Podfile
  apps/prices-ios/ios/App/Podfile.lock
  apps/prices-ios/package-lock.json
  apps/prices-ios/package.json
  apps/prices-ios/project.json
  package-lock.json
  package.json
  storybook-migration-summary.md
Due: eslint --fix, prettier --write

ci: fix ci
  package-lock.json
  package.json
Due: prettier --write

ci: adjust cap sync run script
  package.json
Due: prettier --write

ci: introduce job-setup reusable action
  .github/actions/job-setup/action.yml
  .github/workflows/loki-references-update.yml
Due: none

ci: introduce reusable setup action
  .github/actions/job-setup/action.yml
  .github/actions/setup/action.yml
  .github/workflows/loki-references-update.yml
  .github/workflows/pipeline.yml
Due: none

ci: introduce restore-cache action
  .github/actions/restore-cache/action.yml
  .github/actions/setup/action.yml
  .github/workflows/pipeline.yml
Due: none

ci: use introduced cache restore in pipeline
  .github/workflows/pipeline.yml
Due: none

ci: add step to generate loki references
  .github/workflows/loki-references-update.yml
Due: none

ci: initiale version of loki references update
  .github/actions/create-branch/action.yml
  .github/actions/create-pull-request/action.yml
  .github/actions/push-branch/action.yml
  .github/workflows/loki-references-update.yml
Due: none

chore: move cap out of prices and initiale impl of loki reference update pipeline
  .github/actions/create-branch/action.yml
  .github/actions/create-pull-request/action.yml
  .github/actions/push-branch/action.yml
  .github/actions/restore-cache/action.yml
  .github/actions/setup/action.yml
  .github/workflows/loki-references-update.yml
  .github/workflows/pipeline.yml
  apps/prices-ios/.gitignore
  apps/prices-ios/capacitor.config.ts
  apps/prices-ios/ios/.gitignore
  apps/prices-ios/ios/App/App.xcodeproj/project.pbxproj
  apps/prices-ios/ios/App/App.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  apps/prices-ios/ios/App/App.xcworkspace/contents.xcworkspacedata
  apps/prices-ios/ios/App/App.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  apps/prices-ios/ios/App/App/AppDelegate.swift
  apps/prices-ios/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-512@2x.png
  apps/prices-ios/ios/App/App/Assets.xcassets/AppIcon.appiconset/Contents.json
  apps/prices-ios/ios/App/App/Assets.xcassets/Contents.json
  apps/prices-ios/ios/App/App/Assets.xcassets/Splash.imageset/Contents.json
  apps/prices-ios/ios/App/App/Assets.xcassets/Splash.imageset/splash-2732x2732-1.png
  apps/prices-ios/ios/App/App/Assets.xcassets/Splash.imageset/splash-2732x2732-2.png
  apps/prices-ios/ios/App/App/Assets.xcassets/Splash.imageset/splash-2732x2732.png
  apps/prices-ios/ios/App/App/Base.lproj/LaunchScreen.storyboard
  apps/prices-ios/ios/App/App/Base.lproj/Main.storyboard
  apps/prices-ios/ios/App/App/Info.plist
  apps/prices-ios/ios/App/Podfile
  apps/prices-ios/ios/App/Podfile.lock
  apps/prices-ios/package-lock.json
  apps/prices-ios/package.json
  apps/prices-ios/project.json
  package-lock.json
  package.json
  storybook-migration-summary.md
Due: eslint --fix, prettier --write

ci: fix setup step
  .github/actions/create-branch/action.yml
Due: none

ci: fix setup step (#216)
  .github/actions/create-branch/action.yml
Due: none

ci: introduce variable for branch name and pass it in in steps
  .github/actions/create-branch/action.yml
  .github/actions/create-pull-request/action.yml
  .github/actions/push-branch/action.yml
  .github/workflows/loki-references-update.yml
Due: none

ci: pass github token to sub action
  .github/actions/create-pull-request/action.yml
  .github/actions/push-branch/action.yml
  .github/workflows/loki-references-update.yml
Due: none
