Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,html}": "eslint --fix",
  "*.{ts,js,html,scss,json,md}": "prettier --write",
  "*.scss": "stylelint --fix"
}

refactor: feedback from pr
  apps/bite-tribe/src/app/app.component.ts
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/common/networkstatus/feature/src/lib/network-status.service.ts
Due: eslint --fix, prettier --write

ci: make ci pipeline include deployment
  .github/workflows/deploy-bite-tribe.yml
  .github/workflows/pipeline.yml
Due: none

ci: remove deployment to preview channel
  .github/workflows/pipeline.yml
Due: none

chore: increase build number
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: none

feat: show offline mode and disable image (#723)
  .github/workflows/deploy-bite-tribe.yml
  .github/workflows/pipeline.yml
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  apps/bite-tribe/src/app/app.component.ts
  libs/bite-tribe/bite/data-access/src/lib/bite-data-access.service.ts
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/bite/page/src/lib/components/page/utils/image-validator.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite.service.ts
  libs/bite-tribe/bite/page/src/lib/integration/create-bite.container.ts
  libs/bite-tribe/home/data-access/src/lib/home-data-access.service.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/home/page/src/lib/integration/home.container.ts
  libs/bite-tribe/home/page/src/lib/integration/home.service.ts
  libs/common/networkstatus/feature/src/lib/network-status.service.ts
  libs/common/ui/image-upload/src/lib/components/placeholder.ts
  libs/common/ui/image-upload/src/lib/image-upload.component.html
  libs/common/ui/image-upload/src/lib/image-upload.component.scss
  libs/common/ui/image-upload/src/lib/image-upload.component.ts
  libs/common/utils/src/lib/add-necessary-icons.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, stylelint --fix

chore: add cap plugin to natives
  apps/bite-tribe-android/android/app/capacitor.build.gradle
  apps/bite-tribe-android/android/capacitor.settings.gradle
  apps/bite-tribe-android/package-lock.json
  apps/bite-tribe-android/package.json
  apps/bite-tribe-ios/ios/App/Podfile
  apps/bite-tribe-ios/ios/App/Podfile.lock
  apps/bite-tribe-ios/package-lock.json
  apps/bite-tribe-ios/package.json
Due: prettier --write

chore: add cap plugin to native (#724)
  apps/bite-tribe-android/android/app/capacitor.build.gradle
  apps/bite-tribe-android/android/capacitor.settings.gradle
  apps/bite-tribe-android/package-lock.json
  apps/bite-tribe-android/package.json
  apps/bite-tribe-ios/ios/App/Podfile
  apps/bite-tribe-ios/ios/App/Podfile.lock
  apps/bite-tribe-ios/package-lock.json
  apps/bite-tribe-ios/package.json
Due: prettier --write

chore: un jsloco install angular/localize
  libs/bite-tribe-business/shell/src/index.ts
  libs/bite-tribe/bucketlist/page/src/lib/components/bucketlists-page/__specs__/bucketlists.page.spec.ts
  libs/bite-tribe/bucketlist/page/src/lib/components/edit-bucketlist-page/__specs__/edit-bucketlist.page.spec.ts
  libs/bite-tribe/bucketlist/page/src/lib/integration/__specs__/bucketlists.container.spec.ts
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/home.component.spec.ts
  libs/bite-tribe/shell/src/index.ts
  libs/common/localization/README.md
  libs/common/localization/eslint.config.mjs
  libs/common/localization/jest.config.ts
  libs/common/localization/project.json
  libs/common/localization/src/__mocks__/index.ts
  libs/common/localization/src/__mocks__/translate.pipe.ts
  libs/common/localization/src/index.ts
  libs/common/localization/src/lib/localization/provide-localization.ts
  libs/common/localization/src/lib/localization/translate.pipe.ts
  libs/common/localization/src/lib/localization/translate.service.ts
  libs/common/localization/src/lib/localization/transloco-http-loader.service.ts
  libs/common/localization/src/test-setup.ts
  libs/common/localization/tsconfig.json
  libs/common/localization/tsconfig.lib.json
  libs/common/localization/tsconfig.spec.json
  libs/common/ui/page/src/lib/__specs__/page.component.spec.ts
  libs/common/ui/page/src/lib/menu/__specs__/menu.component.spec.ts
  libs/common/ui/page/src/lib/menu/menu.component.ts
  libs/common/ui/page/src/lib/page.component.ts
  libs/common/utils/src/index.ts
  libs/common/utils/src/lib/supported-lang.ts
  package-lock.json
  package.json
  tsconfig.base.json
Due: eslint --fix, prettier --write

refactor: move supported langs to utils
  apps/bite-tribe/project.json
  libs/common/ui/page/src/lib/menu/menu.component.ts
Due: eslint --fix, prettier --write

test: adjust tests
  apps/bite-tribe-business/src/app/app.component.spec.ts
  libs/bite-tribe-business/create-bite-trail/page/src/lib/components/page/__specs__/create-bite-trail.component.spec.ts
  libs/bite-tribe-business/migrations/page/src/lib/component/page/__specs__/migrations.spec.ts
  libs/bite-tribe-business/organisation-dashboard/page/src/lib/components/page/__specs__/organisation-dashboard.spec.ts
  libs/bite-tribe/bite-trail/page/src/lib/components/bite-trail-bites-page/__specs__/bite-trail-bites.page.spec.ts
  libs/bite-tribe/delete-account/src/lib/delete-account/__specs__/delete-account.spec.ts
  libs/bite-tribe/market-place/page/src/lib/integration/__specs__/market-place-container.component.spec.ts
Due: eslint --fix, prettier --write

chore: adjust tests
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
  libs/bite-tribe/bite/page/src/lib/integration/__specs__/bite.service.spec.ts
  libs/bite-tribe/bite/page/src/lib/integration/__specs__/create-bite.container.spec.ts
  libs/common/ui/auth/src/lib/integration/login/__specs__/login.service.spec.ts
Due: eslint --fix, prettier --write

chore: remove localization lib mocks from tests
  apps/bite-tribe/src/app/app.component.spec.ts
  libs/bite-tribe/about/page/src/lib/integration/__specs__/about-container.component.spec.ts
  libs/bite-tribe/bite-trail/page/src/lib/integration/__specs__/bite-trail-container.spec.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.spec.ts
  libs/bite-tribe/details/page/src/lib/integration/__specs__/details.container.spec.ts
  libs/bite-tribe/followers/page/src/lib/components/followers-list/__specs__/followers-list.component.spec.ts
  libs/bite-tribe/map/page/src/lib/components/map-page/__specs__/map-page.component.spec.ts
  libs/bite-tribe/map/page/src/lib/integration/__specs__/bucket-list-map.container.component.spec.ts
  libs/bite-tribe/map/page/src/lib/integration/__specs__/home-map-container.component.spec.ts
  libs/bite-tribe/map/page/src/lib/integration/__specs__/my-bites-map.container.component.spec.ts
  libs/bite-tribe/privacy-policy/src/lib/privacy-policy/__specs__/privacy-policy.spec.ts
  libs/bite-tribe/profile/page/src/lib/components/edit-profile-page/__specs__/edit-profile.page.spec.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/__specs__/profile.component.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/components/menu-item/__specs__/menu-item.component.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/__specs__/restaurant.component.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/components/restaurant-image/__specs__/restaurant-image.component.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/__specs__/edit-restaurant-container.component.spec.ts
  libs/bite-tribe/settings/page/src/lib/components/page/__specs__/settings.component.spec.ts
  libs/common/ui/auth/src/lib/components/login/__specs__/login.component.spec.ts
  libs/common/ui/auth/src/lib/integration/login/__specs__/login-container.component.spec.ts
Due: eslint --fix, prettier --write

chore: setup localisation for build target
  apps/bite-tribe/project.json
Due: prettier --write

chore: adjust extract-i18n target for bite-tribe
  apps/bite-tribe/project.json
  apps/bite-tribe/src/locale/messages.xlf
Due: prettier --write

feat: introduce setup for localisation
  README.md
  apps/bite-tribe/project.json
  apps/bite-tribe/src/locale/messages.tr.xlf
  apps/bite-tribe/src/locale/messages.xlf
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
Due: eslint --fix, prettier --write

feat: setup to use angular localize
  apps/bite-tribe/project.json
  apps/bite-tribe/src/locale/messages.tr.xlf
  apps/bite-tribe/src/locale/messages.xlf
  apps/bite-tribe/tsconfig.app.json
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/common/ui/page/src/lib/page.component.ts
Due: eslint --fix, prettier --write

test: add localize to tests
  libs/bite-tribe/restaurant/page/src/test-setup.ts
  libs/common/ui/auth/src/test-setup.ts
  libs/common/ui/page/src/test-setup.ts
Due: eslint --fix, prettier --write

ci: sync package and package lock
  package-lock.json
Due: prettier --write

test: fix remaining tests
  libs/bite-tribe-business/create-bite-trail/page/src/test-setup.ts
  libs/bite-tribe-business/migrations/page/src/test-setup.ts
  libs/bite-tribe-business/organisation-dashboard/page/src/test-setup.ts
  libs/bite-tribe/details/page/src/test-setup.ts
Due: eslint --fix, prettier --write

fix: fix compile error in business
  apps/bite-tribe-business/project.json
  apps/bite-tribe-business/tsconfig.app.json
Due: prettier --write

ci: run deployment only on development branch
  .github/workflows/pipeline.yml
Due: none

feat: home in turkish
  apps/bite-tribe/src/locale/messages.tr.xlf
  apps/bite-tribe/src/locale/messages.xlf
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/common/ui/page/src/lib/menu/menu.component.html
Due: eslint --fix, prettier --write

feat: translations tr for profile page
  apps/bite-tribe/src/locale/messages.tr.xlf
  apps/bite-tribe/src/locale/messages.xlf
  libs/bite-tribe/profile/page/src/lib/components/profile-page/components/profile-header.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.ts
  libs/bite-tribe/profile/page/tsconfig.lib.json
Due: eslint --fix, prettier --write

feat: translate profile page
  apps/bite-tribe/src/locale/messages.tr.xlf
  apps/bite-tribe/src/locale/messages.xlf
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.ts
Due: eslint --fix, prettier --write

feat: translate tr followers-list
  apps/bite-tribe/src/locale/messages.tr.xlf
  apps/bite-tribe/src/locale/messages.xlf
  libs/bite-tribe/followers/page/src/lib/components/followers-list/followers-list.component.html
  libs/bite-tribe/followers/page/src/lib/components/followers-list/followers-list.component.ts
  libs/bite-tribe/followers/page/tsconfig.lib.json
Due: eslint --fix, prettier --write

feat: edit profile - tr
  apps/bite-tribe/src/locale/messages.tr.xlf
  apps/bite-tribe/src/locale/messages.xlf
  libs/bite-tribe/profile/page/src/lib/components/edit-profile-page/edit-profile.page.html
  libs/bite-tribe/profile/page/src/lib/components/edit-profile-page/edit-profile.page.ts
Due: eslint --fix, prettier --write

feat: my bites and bucket lists - tr
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/locale/messages.tr.xlf
  apps/bite-tribe/src/locale/messages.xlf
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe-common/bite/src/lib/bite.component.ts
  libs/bite-tribe-common/bite/src/test-setup.ts
  libs/bite-tribe-common/bite/tsconfig.lib.json
  libs/bite-tribe/bucketlist/page/src/lib/components/bucketlists-page/bucketlists.page.html
  libs/bite-tribe/bucketlist/page/src/lib/components/bucketlists-page/bucketlists.page.ts
  libs/bite-tribe/bucketlist/page/tsconfig.lib.json
  libs/bite-tribe/home/page/src/lib/integration/my-bites.container.ts
Due: eslint --fix, prettier --write

feat: bucket list, market place, bite trail and bite trail bites pages - tr
  apps/bite-tribe/src/locale/messages.tr.xlf
  apps/bite-tribe/src/locale/messages.xlf
  libs/bite-tribe-common/bite-trail/src/lib/bite-trail/bite-trail.html
  libs/bite-tribe/bite-trail/page/src/lib/components/bite-trail-bites-page/bite-trail-bites.page.html
  libs/bite-tribe/bite-trail/page/src/lib/components/bite-trail-bites-page/bite-trail-bites.page.ts
  libs/bite-tribe/bite-trail/page/tsconfig.lib.json
  libs/bite-tribe/bucketlist/page/src/lib/components/bucketlists-page/bucketlists.page.ts
  libs/bite-tribe/market-place/page/src/lib/components/market-place-page/market-place.page.html
  libs/bite-tribe/store/src/lib/bucketlists/effects.ts
  libs/bite-tribe/store/src/test-setup.ts
  libs/bite-tribe/store/tsconfig.lib.json
Due: eslint --fix, prettier --write

feat: settings page - tr
  apps/bite-tribe/src/locale/messages.tr.xlf
  apps/bite-tribe/src/locale/messages.xlf
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.html
  libs/common/ui/currency-selector/src/lib/currency-selector.component.html
Due: eslint --fix, prettier --write

feat: login - tr
  apps/bite-tribe/src/locale/messages.tr.xlf
  apps/bite-tribe/src/locale/messages.xlf
  libs/bite-tribe/about/page/src/lib/components/about-page/about.page.html
  libs/bite-tribe/start/src/lib/start.component.html
  libs/common/ui/auth/src/lib/components/login/login.component.html
Due: eslint --fix, prettier --write

feat: registration - tr
  apps/bite-tribe/src/locale/messages.tr.xlf
  apps/bite-tribe/src/locale/messages.xlf
  libs/common/ui/auth/src/lib/components/registration/registration.component.html
  libs/common/ui/password-validator/src/lib/component/password-validator.component.html
Due: eslint --fix, prettier --write

test: fix tests
  libs/bite-tribe-common/bite-trail/src/test-setup.ts
  libs/bite-tribe-common/bite-trail/tsconfig.lib.json
  libs/bite-tribe/start/src/test-setup.ts
  libs/bite-tribe/start/tsconfig.lib.json
  libs/common/ui/currency-selector/src/test-setup.ts
  libs/common/ui/currency-selector/tsconfig.lib.json
  libs/common/ui/password-validator/src/test-setup.ts
  libs/common/ui/password-validator/tsconfig.lib.json
Due: eslint --fix, prettier --write

build: define ar de es fr and it for translation
  apps/bite-tribe/project.json
  apps/bite-tribe/src/locale/messages.ar.xlf
  apps/bite-tribe/src/locale/messages.de.xlf
  apps/bite-tribe/src/locale/messages.es.xlf
  apps/bite-tribe/src/locale/messages.fr.xlf
  apps/bite-tribe/src/locale/messages.it.xlf
Due: prettier --write

refactor: switch to i18n- tag
  apps/bite-tribe/project.json
  apps/bite-tribe/src/locale/messages.tr.xlf
  apps/bite-tribe/src/locale/messages.xlf
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/followers/page/src/lib/components/followers-list/followers-list.component.html
  libs/bite-tribe/followers/page/src/lib/components/followers-list/followers-list.component.ts
Due: eslint --fix, prettier --write

refactor: switch to i18n- tags
  libs/bite-tribe/followers/page/src/lib/components/followers-list/__specs__/followers-list.component.spec.ts
  libs/bite-tribe/followers/page/src/lib/components/followers-list/followers-list.component.ts
Due: eslint --fix, prettier --write

refactor: fix compile error
  apps/bite-tribe/src/locale/messages.tr.xlf
  apps/bite-tribe/src/locale/messages.xlf
  libs/bite-tribe/followers/page/src/lib/components/followers-list/__specs__/followers-list.component.spec.ts
  libs/bite-tribe/profile/page/eslint.config.mjs
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.ts
Due: eslint --fix, prettier --write

docs: update docs
  README.md
  libs/common/ui/page/tsconfig.lib.json
Due: prettier --write

chore: readd turning off of some linting rules
  libs/bite-tribe/profile/page/eslint.config.mjs
Due: none

chore: adjustments to de
  apps/bite-tribe/src/locale/messages.de.xlf
Due: none

chore: adjust es
  apps/bite-tribe/src/locale/messages.es.xlf
  libs/bite-tribe/home/page/src/lib/components/page/home.component.scss
Due: prettier --write, stylelint --fix
