Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

fix(bite-tribe): Create use case initial menu from evidence.
  ssot/README.md
  ssot/overview/use-case-format.md
  ssot/use-cases/README.md
  ssot/use-cases/uc-generate-initial-menu-from-bite-evidence.md
  ssot/use-cases/uc-verify-restaurant-candidate.md
Due: prettier --write

fix(bite-tribe): Rename Use Case Assign Bites to restaurant.
  ssot/decisions/recorded-decisions.md
  ssot/overview/use-case-format.md
  ssot/use-cases/uc-verify-restaurant-candidate.md
Due: prettier --write

fix(bite-tribe): Create use case manage bite assignment.
  ssot/README.md
  ssot/overview/use-case-format.md
  ssot/use-cases/README.md
  ssot/use-cases/uc-manage-a-bites-restaurant-assignment.md
Due: prettier --write

fix(bite-tribe): Update traceability-map.md.
  ssot/overview/traceability-map.md
Due: prettier --write

fix(bite-tribe): Fix links to asset files.
  ssot/implementation/brand-characters.md
  ssot/implementation/social-media-channels.md
  ssot/implementation/store-listing-assets.md
  ssot/implementation/web-search-and-social-metadata.md
  ssot/records/issue-1482.md
Due: prettier --write

feat(haptics): add a shared haptics service wrapping @capacitor/haptics (#1634)
  libs/common/haptics/README.md
  libs/common/haptics/jest.config.ts
  libs/common/haptics/project.json
  libs/common/haptics/src/index.ts
  libs/common/haptics/src/lib/__specs__/haptics.service.spec.ts
  libs/common/haptics/src/lib/haptics.service.ts
  libs/common/haptics/src/test-setup.ts
  libs/common/haptics/tsconfig.json
  libs/common/haptics/tsconfig.lib.json
  libs/common/haptics/tsconfig.spec.json
  ssot/architecture/capacitor.md
  ssot/implementation/code-map.md
  tsconfig.base.json
Due: eslint --fix, prettier --write

docs: require native sub-issue links for epic children
  ssot/overview/feature-delivery-workflow.md
  ssot/overview/github-issue-format.md
  ssot/overview/github-project-board-and-issue-handling.md
Due: prettier --write

docs: require native sub-issue links for epic children (#1639)
  ssot/overview/feature-delivery-workflow.md
  ssot/overview/github-issue-format.md
  ssot/overview/github-project-board-and-issue-handling.md
Due: prettier --write

feat(haptics): add a shared haptics service wrapping @capacitor/haptics (#1634) (#1638)
  libs/common/haptics/README.md
  libs/common/haptics/jest.config.ts
  libs/common/haptics/project.json
  libs/common/haptics/src/index.ts
  libs/common/haptics/src/lib/__specs__/haptics.service.spec.ts
  libs/common/haptics/src/lib/haptics.service.ts
  libs/common/haptics/src/test-setup.ts
  libs/common/haptics/tsconfig.json
  libs/common/haptics/tsconfig.lib.json
  libs/common/haptics/tsconfig.spec.json
  ssot/architecture/capacitor.md
  ssot/implementation/code-map.md
  tsconfig.base.json
Due: eslint --fix, prettier --write

feat(toast): trigger haptic feedback from ToastService outcomes (#1635)
  libs/common/toast/README.md
  libs/common/toast/src/lib/__specs__/toast.service.spec.ts
  libs/common/toast/src/lib/toast.service.ts
  ssot/architecture/capacitor.md
  ssot/implementation/ionic-patterns.md
Due: eslint --fix, prettier --write

1564 create missing use cases depending on restaurant detection and verification (#1632)
  ssot/README.md
  ssot/current-state/open-questions.md
  ssot/decisions/recorded-decisions.md
  ssot/implementation/brand-characters.md
  ssot/implementation/social-media-channels.md
  ssot/implementation/store-listing-assets.md
  ssot/implementation/web-search-and-social-metadata.md
  ssot/overview/traceability-map.md
  ssot/overview/use-case-format.md
  ssot/product/user-roles.md
  ssot/records/issue-1482.md
  ssot/use-cases/README.md
  ssot/use-cases/uc-configure-restaurant-floor-plans-and-tables.md
  ssot/use-cases/uc-contact-a-restaurant-and-plan-a-visit.md
  ssot/use-cases/uc-create-a-bitetrail.md
  ssot/use-cases/uc-create-and-operate-bitetrails-in-the-business-app.md
  ssot/use-cases/uc-detect-restaurant-candidate.md
  ssot/use-cases/uc-dismiss-restaurant-candidate.md
  ssot/use-cases/uc-earn-from-a-paid-bitetrail.md
  ssot/use-cases/uc-generate-initial-menu-from-bite-evidence.md
  ssot/use-cases/uc-improve-localization-quality.md
  ssot/use-cases/uc-maintain-restaurants-in-the-business-app.md
  ssot/use-cases/uc-manage-a-bites-restaurant-assignment.md
  ssot/use-cases/uc-manage-tables-during-service.md
  ssot/use-cases/uc-order-at-the-table-through-a-qr-code.md
  ssot/use-cases/uc-own-and-claim-restaurants.md
  ssot/use-cases/uc-price-a-bitetrail-for-sale.md
  ssot/use-cases/uc-resolve-candidate-against-an-existing-restaurant.md
  ssot/use-cases/uc-verify-restaurant-candidate.md
  ssot/use-cases/uc-view-restaurant-menus.md
Due: prettier --write

ci: deploy the security rules and Firestore indexes from develop (#1567)
  .github/workflows/pipeline.yml
  apps/bite-tribe-firebase/functions/package.json
  package.json
  ssot/architecture/firebase.md
  ssot/implementation/ci-pipeline.md
  ssot/implementation/firebase-functions.md
  tools/README.md
  tools/assert-firestore-indexes-deployed.mjs
  tools/assert-firestore-indexes-ready.mjs
  tools/set-functions-deploy-service-account.sh
Due: prettier --write

ci: deploy the security rules and Firestore indexes from develop (#1567) (#1641)
  .github/workflows/pipeline.yml
  apps/bite-tribe-firebase/functions/package.json
  package.json
  ssot/architecture/firebase.md
  ssot/implementation/ci-pipeline.md
  ssot/implementation/firebase-functions.md
  tools/README.md
  tools/assert-firestore-indexes-deployed.mjs
  tools/assert-firestore-indexes-ready.mjs
  tools/set-functions-deploy-service-account.sh
Due: prettier --write

feat(toast): trigger haptic feedback from ToastService outcomes (#1635) (#1640)
  libs/common/toast/README.md
  libs/common/toast/src/lib/__specs__/toast.service.spec.ts
  libs/common/toast/src/lib/toast.service.ts
  ssot/architecture/capacitor.md
  ssot/implementation/ionic-patterns.md
Due: eslint --fix, prettier --write

feat(bite-tribe): trigger haptic feedback on destructive confirmation alerts (#1636)
  libs/bite-tribe-common/bite/src/lib/__specs__/bite.component.spec.ts
  libs/bite-tribe-common/bite/src/lib/bite.component.ts
  libs/bite-tribe/followers/page/src/lib/components/followers-list/__specs__/followers-list.component.spec.ts
  libs/bite-tribe/followers/page/src/lib/components/followers-list/followers-list.component.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/__specs__/profile-unfollow-dialog.spec.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.ts
  ssot/architecture/capacitor.md
  ssot/implementation/ionic-patterns.md
Due: eslint --fix, prettier --write

fix(bite-tribe): Just Change Level indication.
  ssot/use-cases/uc-browse-restaurants-and-places.md
  ssot/use-cases/uc-discover-bitetrails-in-the-marketplace.md
  ssot/use-cases/uc-save-and-rate-bitetrails-through-bucket-lists.md
  ssot/use-cases/uc-search-in-bitetribe.md
  ssot/use-cases/uc-view-restaurant-menus.md
Due: prettier --write

feat(bite-tribe): trigger haptic feedback on destructive confirmation alerts (#1636) (#1642)
  libs/bite-tribe-common/bite/src/lib/__specs__/bite.component.spec.ts
  libs/bite-tribe-common/bite/src/lib/bite.component.ts
  libs/bite-tribe/followers/page/src/lib/components/followers-list/__specs__/followers-list.component.spec.ts
  libs/bite-tribe/followers/page/src/lib/components/followers-list/followers-list.component.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/__specs__/profile-unfollow-dialog.spec.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.ts
  ssot/architecture/capacitor.md
  ssot/implementation/ionic-patterns.md
Due: eslint --fix, prettier --write

feat(bite-tribe): trigger haptic feedback on reacting to a Bite (#1637)
  libs/bite-tribe-common/bite/src/lib/likes/__specs__/likes.component.spec.ts
  libs/bite-tribe-common/bite/src/lib/likes/likes.component.ts
  ssot/architecture/capacitor.md
  ssot/implementation/ionic-patterns.md
Due: eslint --fix, prettier --write

feat(bite-tribe): trigger haptic feedback on reacting to a Bite (#1637) (#1643)
  libs/bite-tribe-common/bite/src/lib/likes/__specs__/likes.component.spec.ts
  libs/bite-tribe-common/bite/src/lib/likes/likes.component.ts
  ssot/architecture/capacitor.md
  ssot/implementation/ionic-patterns.md
Due: eslint --fix, prettier --write

fix(bite-tribe): render stray template literals through Transloco (#1612)
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/bite-trail/page/src/lib/components/bite-trail-bites-page/bite-trail-bites.page.html
  libs/bite-tribe/home/page/src/lib/components/page/home-feed-controls/home-feed-controls.component.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/components/profile-header.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.html
  libs/common/ui/tags/src/lib/tags-input/tags-input.component.html
  ssot/implementation/localization.md
Due: eslint --fix, prettier --write

fix(bite-tribe): Le migration with some additional information.
  ssot/use-cases/uc-configure-personal-settings.md
  ssot/use-cases/uc-discover-bites.md
  ssot/use-cases/uc-guide-new-users-after-registration.md
  ssot/use-cases/uc-harden-platform-and-backend-trust.md
  ssot/use-cases/uc-manage-profile-and-social-graph.md
  ssot/use-cases/uc-use-local-gallery-support.md
Due: prettier --write

fix(bite-tribe): L1 migration with some additional information.
  ssot/use-cases/uc-generate-initial-menu-from-bite-evidence.md
  ssot/use-cases/uc-harden-platform-and-backend-trust.md
  ssot/use-cases/uc-manage-a-bites-restaurant-assignment.md
  ssot/use-cases/uc-strengthen-location-currency-and-data-quality-guidance.md
Due: prettier --write

fix(bite-tribe): render stray template literals through Transloco (#1612) (#1644)
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/bite-trail/page/src/lib/components/bite-trail-bites-page/bite-trail-bites.page.html
  libs/bite-tribe/home/page/src/lib/components/page/home-feed-controls/home-feed-controls.component.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/components/profile-header.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.html
  libs/common/ui/tags/src/lib/tags-input/tags-input.component.html
  ssot/implementation/localization.md
Due: eslint --fix, prettier --write

fix(bite-tribe): Small correction for consistency
  ssot/use-cases/uc-manage-a-bites-restaurant-assignment.md
Due: prettier --write

fix(bite-tribe): M sized migration of uc create and maintain to L1 done.
  ssot/use-cases/uc-create-and-maintain-personal-bites.md
Due: prettier --write

fix(bite-tribe): M sized migration of uc inspect bite details to L1 done.
  ssot/use-cases/uc-inspect-bite-details.md
Due: prettier --write

fix(bite-tribe): M sized migration of uc reveive app notification to L1 done.
  ssot/use-cases/uc-receive-app-notifications-and-engagement-updates.md
Due: prettier --write

fix(bite-tribe): M sized migration of use account and legal flows to L1 done.
  ssot/use-cases/uc-use-account-and-legal-flows.md
Due: prettier --write

fix(bite-tribe): M sized migration of operate bitetribe to L1 done.
  ssot/use-cases/uc-operate-bitetribe-in-the-admin-app.md
Due: prettier --write

fix(bite-tribe): Migration to L1
  ssot/use-cases/uc-add-bitetrail-gamification.md
  ssot/use-cases/uc-buy-a-paid-bitetrail.md
  ssot/use-cases/uc-create-a-bitetrail.md
  ssot/use-cases/uc-earn-from-a-paid-bitetrail.md
  ssot/use-cases/uc-maintain-restaurants-in-the-business-app.md
  ssot/use-cases/uc-manage-tables-during-service.md
  ssot/use-cases/uc-own-and-claim-restaurants.md
  ssot/use-cases/uc-price-a-bitetrail-for-sale.md
  ssot/use-cases/uc-run-operational-migrations.md
  ssot/use-cases/uc-see-ads-as-a-free-user.md
  ssot/use-cases/uc-subscribe-to-bitetribe-pro.md
  ssot/use-cases/uc-use-gamification-signals.md
Due: prettier --write

fix(opening-hours): widen the time boxes for a 12-hour locale (#1549)
  .loki/reference/chrome_laptop_Business_Edit_Restaurant_Default.png
  libs/bite-tribe-common/opening-hours/src/lib/opening-hours.component.scss
  ssot/implementation/ionic-patterns.md
  ssot/implementation/testing.md
Due: prettier --write, stylelint --fix

feat(functions): add a bitetribe.app/download link that opens the right store (#1628)
  apps/bite-tribe-firebase/functions/src/__specs__/callable-authorization.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/web/__specs__/handle-download-link.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/web/handle-download-link.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  firebase.json
  ssot/architecture/auth.md
  ssot/architecture/firebase.md
  ssot/implementation/firebase-functions.md
  ssot/implementation/social-media-channels.md
  ssot/implementation/web-search-and-social-metadata.md
Due: eslint --fix, prettier --write

feat(functions): add a bitetribe.app/download link that opens the right store (#1628) (#1648)
  apps/bite-tribe-firebase/functions/src/__specs__/callable-authorization.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/web/__specs__/handle-download-link.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/web/handle-download-link.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  firebase.json
  ssot/architecture/auth.md
  ssot/architecture/firebase.md
  ssot/implementation/firebase-functions.md
  ssot/implementation/social-media-channels.md
  ssot/implementation/web-search-and-social-metadata.md
Due: eslint --fix, prettier --write

fix(opening-hours): widen the time boxes for a 12-hour locale (#1549) (#1646)
  .loki/reference/chrome_laptop_Business_Edit_Restaurant_Default.png
  libs/bite-tribe-common/opening-hours/src/lib/opening-hours.component.scss
  ssot/implementation/ionic-patterns.md
  ssot/implementation/testing.md
Due: prettier --write, stylelint --fix

1559 determine use cases to migrate to l1 and do migration (#1645)
  ssot/use-cases/uc-add-bitetrail-gamification.md
  ssot/use-cases/uc-browse-restaurants-and-places.md
  ssot/use-cases/uc-buy-a-paid-bitetrail.md
  ssot/use-cases/uc-configure-personal-settings.md
  ssot/use-cases/uc-create-a-bitetrail.md
  ssot/use-cases/uc-create-and-maintain-personal-bites.md
  ssot/use-cases/uc-discover-bites.md
  ssot/use-cases/uc-discover-bitetrails-in-the-marketplace.md
  ssot/use-cases/uc-earn-from-a-paid-bitetrail.md
  ssot/use-cases/uc-generate-initial-menu-from-bite-evidence.md
  ssot/use-cases/uc-guide-new-users-after-registration.md
  ssot/use-cases/uc-harden-platform-and-backend-trust.md
  ssot/use-cases/uc-inspect-bite-details.md
  ssot/use-cases/uc-maintain-restaurants-in-the-business-app.md
  ssot/use-cases/uc-manage-a-bites-restaurant-assignment.md
  ssot/use-cases/uc-manage-profile-and-social-graph.md
  ssot/use-cases/uc-manage-tables-during-service.md
  ssot/use-cases/uc-operate-bitetribe-in-the-admin-app.md
  ssot/use-cases/uc-own-and-claim-restaurants.md
  ssot/use-cases/uc-price-a-bitetrail-for-sale.md
  ssot/use-cases/uc-receive-app-notifications-and-engagement-updates.md
  ssot/use-cases/uc-run-operational-migrations.md
  ssot/use-cases/uc-save-and-rate-bitetrails-through-bucket-lists.md
  ssot/use-cases/uc-search-in-bitetribe.md
  ssot/use-cases/uc-see-ads-as-a-free-user.md
  ssot/use-cases/uc-strengthen-location-currency-and-data-quality-guidance.md
  ssot/use-cases/uc-subscribe-to-bitetribe-pro.md
  ssot/use-cases/uc-use-account-and-legal-flows.md
  ssot/use-cases/uc-use-gamification-signals.md
  ssot/use-cases/uc-use-local-gallery-support.md
  ssot/use-cases/uc-view-restaurant-menus.md
Due: prettier --write

fix(bite-tribe): open a scanned table QR code in the app (#345)
  apps/bite-tribe-android/android/app/src/main/AndroidManifest.xml
  apps/bite-tribe-e2e/src/tests/bite-details.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/bites/handle-shared-link-to-bite.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/__specs__/render-html.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/bite-tribe-origin.ts
  apps/bite-tribe-firebase/functions/src/functions/web/handle-download-link.ts
  apps/bite-tribe-ios/ios/App/App/App.entitlements
  apps/bite-tribe/src/apple-app-site-association
  libs/bite-tribe/details/data-access/src/lib/__specs__/details-data-access.service.spec.ts
  libs/bite-tribe/details/data-access/src/lib/details-data-access.service.ts
  ssot/current-state/release-state.md
  ssot/implementation/web-search-and-social-metadata.md
  ssot/use-cases/uc-order-at-the-table-through-a-qr-code.md
Due: eslint --fix, prettier --write

docs: plan the bites-around-you Instagram post (#913)
  ssot/assets/social/bites-around-you-post.png
  ssot/implementation/social-media-channels.md
Due: prettier --write

fix(bite-tribe): open a scanned table QR code in the app (#345) (#1650)
  apps/bite-tribe-android/android/app/src/main/AndroidManifest.xml
  apps/bite-tribe-e2e/src/tests/bite-details.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/bites/handle-shared-link-to-bite.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/__specs__/render-html.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/bite-tribe-origin.ts
  apps/bite-tribe-firebase/functions/src/functions/web/handle-download-link.ts
  apps/bite-tribe-ios/ios/App/App/App.entitlements
  apps/bite-tribe/src/apple-app-site-association
  libs/bite-tribe/details/data-access/src/lib/__specs__/details-data-access.service.spec.ts
  libs/bite-tribe/details/data-access/src/lib/details-data-access.service.ts
  ssot/assets/social/bites-around-you-post.png
  ssot/current-state/release-state.md
  ssot/implementation/social-media-channels.md
  ssot/implementation/web-search-and-social-metadata.md
  ssot/use-cases/uc-order-at-the-table-through-a-qr-code.md
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,html}
  prettier --write: any of: *.{ts,js,html,scss,json,md}
  stylelint --fix: any of: *.scss
