Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,html}": "eslint --fix",
  "*.{ts,js,html,scss,json,md}": "prettier --write",
  "*.scss": "stylelint --fix"
}

feat: add clear all filters button
  libs/bite-tribe/home/data-access/src/lib/home-data-access.service.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/home/page/src/lib/components/type-ahead/type-ahead.component.html
  libs/bite-tribe/home/page/src/lib/components/type-ahead/type-ahead.component.scss
  libs/bite-tribe/home/page/src/lib/components/type-ahead/type-ahead.component.ts
  libs/bite-tribe/home/page/src/lib/integration/home-container.component.ts
  libs/bite-tribe/home/page/src/lib/integration/home.service.ts
  libs/bite-tribe/store/src/lib/app/reducer.ts
Due: eslint --fix, prettier --write, stylelint --fix

test: adjust and add tests
  libs/bite-tribe/home/page/src/lib/integration/__specs__/home.service.spec.ts
  libs/bite-tribe/store/src/lib/app/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/app/__specs__/reducer.spec.ts
  libs/bite-tribe/store/src/lib/app/__specs__/selectors.spec.ts
  libs/bite-tribe/store/src/lib/app/selectors.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/selectors.spec.ts
  libs/bite-tribe/store/src/lib/bites/selectors.ts
  libs/bite-tribe/store/src/lib/bites/utils/__specs__/get-bite-price-in-preferred-currency.spec.ts
  libs/bite-tribe/store/src/lib/bites/utils/__specs__/handle-max-price-filter.spec.ts
  libs/bite-tribe/store/src/lib/bites/utils/__specs__/handle-nearby-filter.spec.ts
  libs/bite-tribe/store/src/lib/bites/utils/__specs__/handle-tag-filters.spec.ts
  libs/bite-tribe/store/src/lib/bites/utils/__specs__/sort-bites-by-created-at.spec.ts
  libs/bite-tribe/store/src/lib/bites/utils/__specs__/sort-bites-by-price.spec.ts
  libs/bite-tribe/store/src/lib/bucketlists/__specs__/selectors.spec.ts
Due: eslint --fix, prettier --write

chore: spelling and naming
  libs/bite-tribe/api/src/lib/exchange-rates-api.service.ts
  libs/bite-tribe/store/src/lib/bites/selectors.ts
  libs/bite-tribe/store/src/lib/bites/utils/__specs__/sort-bites-by-created-at.spec.ts
  libs/bite-tribe/store/src/lib/bites/utils/get-bite-price-in-preferred-currency.ts
  libs/bite-tribe/store/src/lib/bites/utils/handle-max-price-filter.ts
Due: eslint --fix, prettier --write

chore: increase build number
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: none

398 show tags as chips in edit mode
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/bite/page/src/lib/components/tags-input/__specs__/tags-input.component.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/tags-input/model/delimiters.ts
  libs/bite-tribe/bite/page/src/lib/components/tags-input/tags-input.component.html
  libs/bite-tribe/bite/page/src/lib/components/tags-input/tags-input.component.ts
  libs/bite-tribe/bite/page/src/lib/components/tags-input/utils/__specs__/remove-delimiter-from-end-of-string.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/tags-input/utils/__specs__/string-includes-delimiter.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/tags-input/utils/remove-delimiter-from-end-of-string.ts
  libs/bite-tribe/bite/page/src/lib/components/tags-input/utils/string-includes-delimiter.ts
  libs/common/utils/src/lib/add-necessary-icons.ts
Due: eslint --fix, prettier --write

398 set tags to form
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
Due: eslint --fix, prettier --write

398 avoid splitting tags on edit submit
  libs/bite-tribe/bite/data-access/src/lib/bite-data-access.service.ts
Due: eslint --fix, prettier --write

398 make tags readonly for general public
  libs/bite-tribe/bite/data-access/src/lib/bite-data-access.service.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite.service.ts
  libs/bite-tribe/details/data-access/src/lib/details-data-access.service.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.spec.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.ts
  libs/bite-tribe/details/page/src/lib/integration/__specs__/details.service.spec.ts
  libs/bite-tribe/details/page/src/lib/integration/details.service.ts
  libs/common/ui/tags/.eslintrc.json
  libs/common/ui/tags/README.md
  libs/common/ui/tags/jest.config.ts
  libs/common/ui/tags/project.json
  libs/common/ui/tags/src/index.ts
  libs/common/ui/tags/src/lib/tags-input/__specs__/tags-input.component.spec.ts
  libs/common/ui/tags/src/lib/tags-input/model/delimiters.ts
  libs/common/ui/tags/src/lib/tags-input/tags-input.component.html
  libs/common/ui/tags/src/lib/tags-input/tags-input.component.ts
  libs/common/ui/tags/src/lib/tags-input/utils/__specs__/remove-delimiter-from-end-of-string.spec.ts
  libs/common/ui/tags/src/lib/tags-input/utils/__specs__/string-includes-delimiter.spec.ts
  libs/common/ui/tags/src/lib/tags-input/utils/remove-delimiter-from-end-of-string.ts
  libs/common/ui/tags/src/lib/tags-input/utils/string-includes-delimiter.ts
  libs/common/ui/tags/src/test-setup.ts
  libs/common/ui/tags/tsconfig.json
  libs/common/ui/tags/tsconfig.lib.json
  libs/common/ui/tags/tsconfig.spec.json
  libs/common/utils/src/index.ts
  libs/common/utils/src/lib/split-tags.ts
  tsconfig.base.json
Due: eslint --fix, prettier --write

398 improve css for tags-input
  libs/common/ui/tags/src/lib/tags-input/tags-input.component.html
  libs/common/ui/tags/src/lib/tags-input/tags-input.component.scss
  libs/common/ui/tags/src/lib/tags-input/tags-input.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

398 improve css for tags-input
  libs/common/ui/tags/src/lib/tags-input/tags-input.component.scss
Due: prettier --write, stylelint --fix

398 do not add existing tag
  libs/common/ui/tags/src/lib/tags-input/__specs__/tags-input.component.spec.ts
  libs/common/ui/tags/src/lib/tags-input/tags-input.component.ts
Due: eslint --fix, prettier --write

398 copilot corrections
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.ts
Due: eslint --fix, prettier --write

398 copilot corrections
  libs/common/ui/tags/project.json
Due: prettier --write

chore: update nx to 20.8.2
  package-lock.json
  package.json
Due: prettier --write

chore: migrate to nx 21.0.4
  migrations.json
  package-lock.json
  package.json
Due: prettier --write

chore: [nx migration] set-continuous-option
  apps/bite-tribe-business/project.json
  apps/bite-tribe/project.json
  apps/cv/project.json
  apps/finances/project.json
  apps/kosaml/project.json
  apps/prices/project.json
  package-lock.json
Due: prettier --write

chore: [nx migration] remove-legacy-cache
  nx.json
Due: prettier --write

chore: remove migrations.json
  migrations.json
Due: prettier --write

chore: sync package-lock.json
  package-lock.json
Due: prettier --write

chore: [nx migration] control-flow-migration
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.ts
  migrations.json
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

chore: [nx migration] 21-1-0-add-ignore-entries-for-nx-rule-files
  .gitignore
Due: none

chore: [nx migration] update-angular-cli-version-20-0-0
  package-lock.json
  package.json
Due: prettier --write

chore: [nx migration] update-module-resolution
  apps/bite-tribe-business/tsconfig.app.json
  apps/bite-tribe/tsconfig.app.json
  apps/cv/tsconfig.app.json
  apps/finances/tsconfig.app.json
  apps/kosaml/tsconfig.app.json
  apps/prices/tsconfig.app.json
Due: prettier --write

chore: [nx migration] set-generator-defaults-for-previous-style-guide
  nx.json
Due: prettier --write

chore: install exact version of angular cli
  package-lock.json
  package.json
Due: prettier --write

chore: migrate @angular/fire
  package-lock.json
  package.json
Due: prettier --write

chore: migrate ngrx
  migrations.json
  package-lock.json
  package.json
Due: prettier --write

chore: migrate ionic deps
  migrations.json
  package-lock.json
  package.json
Due: prettier --write

chore: migrate rest of ionic/capacitor deps
  package-lock.json
  package.json
Due: prettier --write

chore: remove overrides
  package.json
Due: prettier --write

chore: migrate pwa-asset-generator and lint-staged
  package-lock.json
  package.json
Due: prettier --write

chore: migrate flag-icons
  package-lock.json
  package.json
Due: prettier --write

chore: migrate firebase
  package-lock.json
  package.json
Due: prettier --write

chore: migrate bootstrap icons
  package-lock.json
  package.json
Due: prettier --write

chore: add overrides
  package.json
Due: prettier --write

chore: [nx migration] update-21-2-0-remove-addon-dependencies
  migrations.json
  package-lock.json
  package.json
Due: prettier --write

chore: [nx migration] rename-test-path-pattern
  libs/common/ui/chart/project.json
Due: prettier --write
