Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,html}": "eslint --fix",
  "*.{ts,js,html,scss,json,md}": "prettier --write",
  "*.scss": "stylelint --fix"
}

test: extend test suite
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/home.component.spec.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
Due: eslint --fix, prettier --write

chore: cleanup
  apps/bite-tribe-business/jest.config.ts
  apps/bite-tribe/jest.config.ts
  apps/finances/jest.config.ts
  apps/prices/jest.config.ts
  libs/bite-tribe-common/bite/jest.config.ts
  libs/bite-tribe-common/confirm-dialog/jest.config.ts
  libs/bite-tribe/bite/page/jest.config.ts
  libs/bite-tribe/details/page/jest.config.ts
  libs/bite-tribe/home/page/jest.config.ts
  libs/bite-tribe/start/jest.config.ts
  libs/bite-tribe/store/jest.config.ts
  libs/common/ui/auth/jest.config.ts
  libs/common/ui/card/jest.config.ts
  libs/common/ui/page/jest.config.ts
  libs/common/ui/password-validator/jest.config.ts
  libs/finances/bank/add-bank/jest.config.ts
  libs/finances/payment/payment/jest.config.ts
  libs/prices/add-item/feature/jest.config.ts
  libs/prices/home/feature/jest.config.ts
Due: eslint --fix, prettier --write

fix: filtering according to nearby
  libs/bite-tribe/home/page/src/lib/components/page/home.component.scss
  libs/bite-tribe/store/src/lib/app/reducer.ts
  libs/bite-tribe/store/src/lib/bites/selectors.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: add gbp to currencies
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.html
Due: eslint --fix, prettier --write

refactor: extract helper functions from selectors file
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.html
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.scss
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.ts
  libs/bite-tribe/store/src/lib/bites/selectors.ts
  libs/bite-tribe/store/src/lib/bites/utils/__specs__/handle-nearby-filter.spec.ts
  libs/bite-tribe/store/src/lib/bites/utils/__specs__/handle-tag-filters.spec.ts
  libs/bite-tribe/store/src/lib/bites/utils/handle-nearby-filter.ts
  libs/bite-tribe/store/src/lib/bites/utils/handle-tag-filters.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: increase build number for ios
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: none

feat(#379): implement nearby filter (#392)
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/home/data-access/src/lib/home-data-access.service.ts
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/home.component.spec.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.scss
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/home/page/src/lib/integration/home-container.component.ts
  libs/bite-tribe/home/page/src/lib/integration/home.service.ts
  libs/bite-tribe/model/src/lib/settings.ts
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.html
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.scss
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.ts
  libs/bite-tribe/store/src/lib/app/reducer.ts
  libs/bite-tribe/store/src/lib/bites/selectors.ts
  libs/bite-tribe/store/src/lib/bites/utils/__specs__/handle-nearby-filter.spec.ts
  libs/bite-tribe/store/src/lib/bites/utils/__specs__/handle-tag-filters.spec.ts
  libs/bite-tribe/store/src/lib/bites/utils/handle-nearby-filter.ts
  libs/bite-tribe/store/src/lib/bites/utils/handle-tag-filters.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: 315 yet another try to crop image
  libs/bite-tribe/bite/data-access/src/lib/bite-data-access.service.ts
  libs/bite-tribe/bite/page/src/index.ts
  libs/bite-tribe/bite/page/src/lib/components/image-crop/image-crop.component.html
  libs/bite-tribe/bite/page/src/lib/components/image-crop/image-crop.component.ts
  libs/bite-tribe/bite/page/src/lib/components/image-upload/__specs__/image-upload.component.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/image-upload/image-upload.component.html
  libs/bite-tribe/bite/page/src/lib/components/image-upload/image-upload.component.ts
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/bite/page/src/lib/integration/__specs__/bite.service.spec.ts
  libs/bite-tribe/bite/page/src/lib/integration/__specs__/image-crop-container.component.spec.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite-container.component.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite.service.ts
  libs/bite-tribe/bite/page/src/lib/integration/image-crop-container.component.ts
  libs/bite-tribe/bite/page/src/test-setup.ts
  libs/bite-tribe/menu/page/src/lib/integration/menu.service.ts
  libs/bite-tribe/shell/src/lib/routes.ts
  libs/bite-tribe/store/src/lib/__specs__/bite-tribe-store.service.spec.ts
  libs/bite-tribe/store/src/lib/app/selectors.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/actions.spec.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/reducer.spec.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/selectors.spec.ts
  libs/bite-tribe/store/src/lib/bites/actions.ts
  libs/bite-tribe/store/src/lib/bites/index.ts
  libs/bite-tribe/store/src/lib/bites/reducer.ts
  libs/bite-tribe/store/src/lib/bites/selectors.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

feat: 315 avoid instant crop, improve aspect ratio
  libs/bite-tribe/bite/page/src/lib/components/image-crop/image-crop.component.html
Due: eslint --fix, prettier --write

refactor: 315 refactor from component to page
  libs/bite-tribe/bite/page/src/lib/components/image-crop-page/image-crop-page.component.html
  libs/bite-tribe/bite/page/src/lib/components/image-crop-page/image-crop-page.component.ts
  libs/bite-tribe/bite/page/src/lib/integration/image-crop-container.component.ts
Due: eslint --fix, prettier --write

feat: 315 background color for image cropper
  libs/bite-tribe/bite/page/src/lib/components/image-crop-page/image-crop-page.component.html
  libs/bite-tribe/bite/page/src/lib/components/image-crop-page/image-crop-page.component.scss
  libs/bite-tribe/bite/page/src/lib/components/image-crop-page/image-crop-page.component.ts
  libs/bite-tribe/bite/page/src/lib/integration/image-crop-container.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: 315 emit cropped image
  libs/bite-tribe/bite/page/src/lib/components/image-crop-page/image-crop-page.component.html
  libs/bite-tribe/bite/page/src/lib/components/image-crop-page/image-crop-page.component.ts
  libs/bite-tribe/bite/page/src/lib/integration/image-crop-container.component.ts
Due: eslint --fix, prettier --write

feat: 315 schleuder everything through all the components
  libs/bite-tribe/bite/page/src/lib/components/image-crop-page/image-crop-page.component.html
  libs/bite-tribe/bite/page/src/lib/components/image-upload/image-upload.component.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite-container.component.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite.service.ts
  libs/bite-tribe/bite/page/src/lib/integration/edit-bite-container.component.ts
  libs/bite-tribe/bite/page/src/lib/integration/image-crop-container.component.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
Due: eslint --fix, prettier --write

refactor: 315 remove store persistence of edited bite
  libs/bite-tribe/bite/data-access/src/lib/bite-data-access.service.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite.service.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/actions.spec.ts
  libs/bite-tribe/store/src/lib/bites/actions.ts
  libs/bite-tribe/store/src/lib/bites/index.ts
  libs/bite-tribe/store/src/lib/bites/reducer.ts
  libs/bite-tribe/store/src/lib/bites/selectors.ts
Due: eslint --fix, prettier --write

fix: 315 fix console error
  libs/bite-tribe/details/page/src/lib/pipes/is-in-any.pipe.ts
Due: eslint --fix, prettier --write

feat: hint and validation for price input
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.scss
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/bite/page/src/lib/validators/__specs__/float-number-dot-notation.validator.spec.ts
  libs/bite-tribe/bite/page/src/lib/validators/float-number-dot-notation.validator.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: hint and validation for price input (#395)
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.scss
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/bite/page/src/lib/validators/__specs__/float-number-dot-notation.validator.spec.ts
  libs/bite-tribe/bite/page/src/lib/validators/float-number-dot-notation.validator.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: use exact version and increase allowed bundle size
  apps/bite-tribe/project.json
  package-lock.json
Due: prettier --write

test: extend test suite
  libs/bite-tribe/bite/page/src/lib/components/image-crop-page/__specs__/image-crop-page.component.spec.ts
Due: eslint --fix, prettier --write

test: cleanup
  libs/bite-tribe/bite/page/src/lib/components/image-upload/__specs__/image-upload.component.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/store/src/lib/__specs__/bite-tribe-store.service.spec.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/reducer.spec.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/selectors.spec.ts
Due: eslint --fix, prettier --write

chore: cleanup
  libs/bite-tribe/bite/page/src/lib/integration/bite-container.component.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite.service.ts
Due: eslint --fix, prettier --write

test: extend test suite
  libs/bite-tribe/bite/page/src/lib/integration/__specs__/bite.service.spec.ts
Due: eslint --fix, prettier --write

chore: align project.json for android and ios
  apps/bite-tribe-android/package.json
  apps/bite-tribe-android/project.json
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  apps/bite-tribe-ios/project.json
  libs/bite-tribe/bite/page/src/lib/components/image-upload/image-upload.component.ts
Due: eslint --fix, prettier --write

feature(315): crop image (#413)
  apps/bite-tribe-android/package.json
  apps/bite-tribe-android/project.json
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  apps/bite-tribe-ios/project.json
  apps/bite-tribe/project.json
  libs/bite-tribe/bite/page/src/index.ts
  libs/bite-tribe/bite/page/src/lib/components/image-crop-page/__specs__/image-crop-page.component.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/image-crop-page/image-crop-page.component.html
  libs/bite-tribe/bite/page/src/lib/components/image-crop-page/image-crop-page.component.scss
  libs/bite-tribe/bite/page/src/lib/components/image-crop-page/image-crop-page.component.ts
  libs/bite-tribe/bite/page/src/lib/components/image-upload/__specs__/image-upload.component.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/image-upload/image-upload.component.html
  libs/bite-tribe/bite/page/src/lib/components/image-upload/image-upload.component.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/bite/page/src/lib/integration/__specs__/bite.service.spec.ts
  libs/bite-tribe/bite/page/src/lib/integration/__specs__/image-crop-container.component.spec.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite-container.component.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite.service.ts
  libs/bite-tribe/bite/page/src/lib/integration/edit-bite-container.component.ts
  libs/bite-tribe/bite/page/src/lib/integration/image-crop-container.component.ts
  libs/bite-tribe/bite/page/src/test-setup.ts
  libs/bite-tribe/details/page/src/lib/pipes/is-in-any.pipe.ts
  libs/bite-tribe/menu/page/src/lib/integration/menu.service.ts
  libs/bite-tribe/shell/src/lib/routes.ts
  libs/bite-tribe/store/src/lib/app/selectors.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/actions.spec.ts
  libs/bite-tribe/store/src/lib/bites/selectors.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, stylelint --fix

add unit tests
  libs/bite-tribe/store/src/lib/bucketlists/__specs__/actions.spec.ts
Due: eslint --fix, prettier --write

add unit tests
  libs/bite-tribe/store/src/lib/bucketlists/__specs__/effects.spec.ts
Due: eslint --fix, prettier --write

add unit tests
  libs/bite-tribe/store/src/lib/bucketlists/__specs__/reducer.spec.ts
Due: eslint --fix, prettier --write

add unit tests
  libs/bite-tribe/store/src/lib/bucketlists/__specs__/reducer.spec.ts
  libs/bite-tribe/store/src/lib/bucketlists/__specs__/selectors.spec.ts
Due: eslint --fix, prettier --write

add unit tests
  libs/bite-tribe/store/src/lib/bites/__specs__/effects.spec.ts
Due: eslint --fix, prettier --write

refactor: split api calls to own services depending on document collection
  libs/bite-tribe/api/src/lib/bite-api.service.ts
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/api/src/lib/bucketlist-api.service.ts
  libs/bite-tribe/api/src/lib/like-api.service.ts
  libs/bite-tribe/api/src/lib/menu-api.service.ts
  libs/bite-tribe/api/src/lib/profile-api.service.ts
  libs/bite-tribe/api/src/lib/restaurant-api.service.ts
  libs/bite-tribe/api/src/lib/review-api.service.ts
  libs/bite-tribe/api/src/lib/settings-api.service.ts
Due: eslint --fix, prettier --write

refactor: handle user saving as described in issue
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/api/src/lib/profile-api.service.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/model/src/lib/public-user.ts
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.html
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.ts
  libs/bite-tribe/store/src/lib/app/effects.ts
  libs/bite-tribe/store/src/lib/app/reducer.ts
  libs/bite-tribe/store/src/lib/app/selectors.ts
  libs/common/utils/src/lib/add-necessary-icons.ts
Due: eslint --fix, prettier --write

style: styling fixs
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.scss
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.scss
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor(396): user is persisted on registration (#415)
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe/api/src/lib/bite-api.service.ts
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/api/src/lib/bucketlist-api.service.ts
  libs/bite-tribe/api/src/lib/like-api.service.ts
  libs/bite-tribe/api/src/lib/menu-api.service.ts
  libs/bite-tribe/api/src/lib/profile-api.service.ts
  libs/bite-tribe/api/src/lib/restaurant-api.service.ts
  libs/bite-tribe/api/src/lib/review-api.service.ts
  libs/bite-tribe/api/src/lib/settings-api.service.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.scss
  libs/bite-tribe/model/src/lib/public-user.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.scss
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.ts
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.html
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.ts
  libs/bite-tribe/store/src/lib/app/effects.ts
  libs/bite-tribe/store/src/lib/app/reducer.ts
  libs/bite-tribe/store/src/lib/app/selectors.ts
  libs/common/utils/src/lib/add-necessary-icons.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: add currencies
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.html
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.ts
  libs/common/utils/src/index.ts
  libs/common/utils/src/lib/currencies.ts
Due: eslint --fix, prettier --write

chore: increase build number
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: none

fix: fix currency issues
  libs/common/utils/src/lib/currencies.ts
Due: eslint --fix, prettier --write

416 it is not possible to enter a in the price field just on ios (#417)
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.html
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.ts
  libs/common/utils/src/index.ts
  libs/common/utils/src/lib/currencies.ts
Due: eslint --fix, prettier --write

feat: hint and prevent drag and drop
  libs/bite-tribe/bite/page/src/lib/components/image-upload/__specs__/image-upload.component.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/image-upload/image-upload.component.html
  libs/bite-tribe/bite/page/src/lib/components/image-upload/image-upload.component.scss
  libs/bite-tribe/bite/page/src/lib/components/image-upload/image-upload.component.ts
  libs/common/utils/src/lib/add-necessary-icons.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: ignore upper lower case on tags
  libs/bite-tribe/store/src/lib/app/selectors.ts
  libs/bite-tribe/store/src/lib/bites/selectors.ts
  libs/bite-tribe/store/src/lib/bites/utils/handle-tag-filters.ts
Due: eslint --fix, prettier --write
