Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,html}": "eslint --fix",
  "*.{ts,js,html,scss,json,md}": "prettier --write",
  "*.scss": "stylelint --fix"
}

docs(1034): record Firebase client and backend tooling upgrade in the migration roadmap
  ssot/pages/Current State - Nx And Dependency Migration Roadmap.md
Due: prettier --write

chore: upgrade Stylelint tooling group to Stylelint 17
  package-lock.json
  package.json
Due: prettier --write

chore: upgrade commitlint, formatting, and lint-support tooling
  apps/bite-tribe-firebase/functions/src/functions/shared/model/restaurant-candidate.ts
  apps/bite-tribe-firebase/functions/src/functions/users/email-verification-utils.ts
  libs/bite-tribe-common/model/src/lib/restaurant-candidate.ts
  libs/bite-tribe/onboarding/page/src/lib/components/identity-step/identity-step.component.ts
  libs/bite-tribe/onboarding/page/src/lib/components/location-step/location-step.component.ts
  libs/bite-tribe/onboarding/page/src/lib/components/notification-step/notification-step.component.ts
  libs/common/ta-firestore/src/lib/initialize-firebase-app-check.ts
  libs/common/ui/image-upload/src/lib/__specs__/image-upload.component.spec.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

docs(ssot): record issue #1039 independent tooling upgrades
  ssot/pages/Current State - Nx And Dependency Migration Roadmap.md
Due: prettier --write

fix: fix anchor for coach mark outside of viewport
  libs/bite-tribe/coach-mark/src/lib/__specs__/coach-mark.component.spec.ts
  libs/bite-tribe/coach-mark/src/lib/coach-mark.component.ts
  libs/common/ui/coach-mark/src/lib/__specs__/coach-mark-overlay.component.spec.ts
  libs/common/ui/coach-mark/src/lib/__specs__/coach-mark-overlay.component.stories.ts
  libs/common/ui/coach-mark/src/lib/coach-mark-overlay.component.html
  libs/common/ui/coach-mark/src/lib/coach-mark-overlay.component.scss
  libs/common/ui/coach-mark/src/lib/coach-mark-overlay.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: loading state inbetween onboarding steps
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/onboarding/page/src/lib/integration/__specs__/onboarding.service.spec.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/onboarding.service.ts
Due: eslint --fix, prettier --write

fix: not updating gps position when backend guard kicks in (60s or 100m)
  libs/bite-tribe/store/src/lib/app/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/app/__specs__/reducer.spec.ts
  libs/bite-tribe/store/src/lib/app/actions.ts
  libs/bite-tribe/store/src/lib/app/reducer.ts
  libs/bite-tribe/store/src/lib/app/utils/dispatch-gps-position.ts
Due: eslint --fix, prettier --write

fix: same look and feel like on edit profile page
  libs/bite-tribe/onboarding/page/src/lib/components/identity-step/__specs__/identity-step.component.spec.ts
  libs/bite-tribe/onboarding/page/src/lib/components/identity-step/__specs__/identity-step.stories.ts
  libs/bite-tribe/onboarding/page/src/lib/components/identity-step/identity-step.component.html
  libs/bite-tribe/onboarding/page/src/lib/components/identity-step/identity-step.component.scss
  libs/bite-tribe/onboarding/page/src/lib/components/identity-step/identity-step.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: consistent wording for bucket list
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
Due: prettier --write

feat: improve error handling
  libs/bite-tribe/onboarding/page/src/lib/integration/__specs__/onboarding.service.spec.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/onboarding.service.ts
Due: eslint --fix, prettier --write

docs: update loki references and e2e
  .loki/reference/chrome_iphone7_Components_Coach_Mark_Overlay_Spotlight_Above.png
  .loki/reference/chrome_iphone7_Pages_Onboarding_First_Step.png
  .loki/reference/chrome_iphone7_Pages_Onboarding_First_Step_Name_Taken.png
  .loki/reference/chrome_iphone7_Pages_Onboarding_Identity_Step_Available.png
  .loki/reference/chrome_iphone7_Pages_Onboarding_Identity_Step_Checking.png
  .loki/reference/chrome_iphone7_Pages_Onboarding_Identity_Step_Empty.png
  .loki/reference/chrome_iphone7_Pages_Onboarding_Identity_Step_Taken.png
  .loki/reference/chrome_laptop_Components_Coach_Mark_Overlay_Spotlight_Above.png
  .loki/reference/chrome_laptop_Pages_Home_My_Bites.png
  .loki/reference/chrome_laptop_Pages_Menu_With_Menu.png
  .loki/reference/chrome_laptop_Pages_Onboarding_First_Step.png
  .loki/reference/chrome_laptop_Pages_Onboarding_First_Step_Name_Taken.png
  .loki/reference/chrome_laptop_Pages_Onboarding_Identity_Step_Available.png
  .loki/reference/chrome_laptop_Pages_Onboarding_Identity_Step_Checking.png
  .loki/reference/chrome_laptop_Pages_Onboarding_Identity_Step_Empty.png
  .loki/reference/chrome_laptop_Pages_Onboarding_Identity_Step_Taken.png
  .loki/reference/chrome_laptop_Pages_Profile_With_Many_Flags.png
  apps/bite-tribe-e2e/src/pages/onboarding.page.ts
Due: eslint --fix, prettier --write

docs: update loki references
  .loki/reference/chrome_iphone7_Components_Coach_Mark_Overlay_Anchor_Off_Screen.png
  .loki/reference/chrome_iphone7_Pages_Onboarding_Identity_Step_With_Photo.png
  .loki/reference/chrome_laptop_Components_Coach_Mark_Overlay_Anchor_Off_Screen.png
  .loki/reference/chrome_laptop_Components_Feed_Controls_Home_Feed.png
  .loki/reference/chrome_laptop_Pages_Home_My_Bites.png
  .loki/reference/chrome_laptop_Pages_Menu_With_Menu.png
  .loki/reference/chrome_laptop_Pages_Onboarding_Identity_Step_With_Photo.png
  .loki/reference/chrome_laptop_Pages_Profile_Default.png
  .loki/reference/chrome_laptop_Pages_Profile_No_Followers_Or_Following.png
  .loki/reference/chrome_laptop_Pages_Profile_With_Many_Flags.png
Due: none

fix: failing cap sync
  apps/bite-tribe-ios/ios/App/Podfile.lock
  apps/bite-tribe-ios/package-lock.json
Due: prettier --write

chore: sync android
  apps/bite-tribe-android/package-lock.json
Due: prettier --write

fix: recover location permission after deinstall
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/home/data-access/src/lib/home-data-access.service.ts
  libs/bite-tribe/home/page/src/lib/components/page/gps-error-card/__specs__/gps-error-card.component.spec.ts
  libs/bite-tribe/home/page/src/lib/components/page/gps-error-card/gps-error-card.component.html
  libs/bite-tribe/home/page/src/lib/components/page/gps-error-card/gps-error-card.component.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/home/page/src/lib/components/type-ahead/type-ahead.component.html
  libs/bite-tribe/home/page/src/lib/components/type-ahead/type-ahead.component.ts
  libs/bite-tribe/home/page/src/lib/integration/__specs__/home.service.spec.ts
  libs/bite-tribe/home/page/src/lib/integration/bucket-list.container.ts
  libs/bite-tribe/home/page/src/lib/integration/home.container.ts
  libs/bite-tribe/home/page/src/lib/integration/home.service.ts
  libs/bite-tribe/home/page/src/lib/integration/my-bites.container.ts
  libs/bite-tribe/home/page/src/lib/integration/restaurant-bites.container.ts
  libs/bite-tribe/onboarding/data-access/src/lib/onboarding-data-access.service.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/__specs__/onboarding.service.spec.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/onboarding.service.ts
  libs/common/geolocation/src/lib/geolocation.spec.ts
  libs/common/geolocation/src/lib/geolocation.ts
Due: eslint --fix, prettier --write

fix: recover push notification after reinstall
  libs/bite-tribe/onboarding/data-access/src/lib/onboarding-data-access.service.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/__specs__/onboarding.service.spec.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/onboarding.service.ts
  libs/common/push-notifications/jest.config.cts
  libs/common/push-notifications/src/lib/init-push.spec.ts
  libs/common/push-notifications/src/lib/init-push.ts
Due: eslint --fix, prettier --write

test: increase test coverage
  libs/common/push-notifications/src/lib/init-push.spec.ts
Due: eslint --fix, prettier --write

docs: update loki references
  .loki/reference/chrome_iphone7_Components_GPS_Error_Card_Default.png
  .loki/reference/chrome_laptop_Components_GPS_Error_Card_Default.png
  .loki/reference/chrome_laptop_Pages_Profile_With_Many_Flags.png
Due: none

test: increase test coverage
  libs/bite-tribe/home/data-access/src/lib/__specs__/home-data-access-service.spec.ts
Due: eslint --fix, prettier --write

test: fix e2e to loading behavior
  libs/bite-tribe/onboarding/page/src/lib/integration/__specs__/onboarding.service.spec.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/onboarding.service.ts
Due: eslint --fix, prettier --write

chore: prepare build 1.0.1-86 release
  CHANGELOG.md
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: prettier --write

test: data quality while bite creation
  apps/bite-tribe-e2e/playwright.config.ts
  apps/bite-tribe-e2e/src/pages/create-bite.page.ts
  apps/bite-tribe-e2e/src/tests/bite-data-quality.spec.ts
Due: eslint --fix, prettier --write

test: core create and maintain personal bites tests
  apps/bite-tribe-e2e/src/pages/bite-details.page.ts
  apps/bite-tribe-e2e/src/pages/create-bite.page.ts
  apps/bite-tribe-e2e/src/pages/home.page.ts
  apps/bite-tribe-e2e/src/support/firestore.ts
  apps/bite-tribe-e2e/src/tests/create-and-edit-bite.spec.ts
Due: eslint --fix, prettier --write

test: details page e2e tests
  apps/bite-tribe-e2e/src/pages/bite-details.page.ts
  apps/bite-tribe-e2e/src/support/firestore.ts
  apps/bite-tribe-e2e/src/tests/bite-details.spec.ts
Due: eslint --fix, prettier --write

feat: change zoom policy and add e2e tests
  apps/bite-tribe-e2e/src/support/firestore.ts
  apps/bite-tribe-e2e/src/tests/bite-details.spec.ts
  apps/bite-tribe-e2e/src/tests/create-and-edit-bite.spec.ts
  apps/bite-tribe-e2e/src/tests/discover-bites.spec.ts
  libs/bite-tribe-common/map/src/lib/map/__specs__/map.component.spec.ts
  libs/bite-tribe-common/map/src/lib/map/map.component.ts
  libs/bite-tribe-common/map/src/lib/position/__specs__/position.component.spec.ts
  libs/bite-tribe-common/map/src/lib/position/position.component.ts
  libs/bite-tribe/map/data-access/src/lib/__specs__/map-data-access.service.spec.ts
  libs/bite-tribe/map/data-access/src/lib/map-data-access.service.ts
  libs/bite-tribe/map/page/src/lib/integration/__specs__/map.service.spec.ts
  libs/bite-tribe/map/page/src/lib/integration/bite-trail-map.container.component.ts
  libs/bite-tribe/map/page/src/lib/integration/bucket-list-map.container.component.ts
  libs/bite-tribe/map/page/src/lib/integration/home-map-container.component.ts
  libs/bite-tribe/map/page/src/lib/integration/map.service.ts
  libs/bite-tribe/map/page/src/lib/integration/my-bites-map.container.component.ts
  libs/bite-tribe/store/src/lib/app/__specs__/selectors.spec.ts
  libs/bite-tribe/store/src/lib/app/selectors.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  ssot/pages/UC - Create And Maintain Personal Bites.md
  ssot/pages/UC - Discover Bites.md
Due: eslint --fix, prettier --write

test: profile e2e tests
  apps/bite-tribe-e2e/src/pages/profile.page.ts
  apps/bite-tribe-e2e/src/tests/profile-social-graph.spec.ts
  ssot/pages/UC - Manage Profile And Social Graph.md
Due: eslint --fix, prettier --write

test: extend e2e tests
  apps/bite-tribe-e2e/src/pages/home.page.ts
  apps/bite-tribe-e2e/src/pages/profile.page.ts
  apps/bite-tribe-e2e/src/pages/restaurant.page.ts
  apps/bite-tribe-e2e/src/pages/search.page.ts
  apps/bite-tribe-e2e/src/tests/browse-restaurants-and-places.spec.ts
  ssot/pages/UC - Browse Restaurants And Places.md
Due: eslint --fix, prettier --write

docs: track e2e coverage over use cases
  ssot/pages/Current State - E2E Coverage.md
  ssot/pages/Implementation - Testing.md
  ssot/pages/SSOT.md
  ssot/pages/Traceability Map.md
  ssot/pages/contents.md
Due: prettier --write

test: add e2e tests for use cases (#1058)
  apps/bite-tribe-e2e/playwright.config.ts
  apps/bite-tribe-e2e/src/pages/bite-details.page.ts
  apps/bite-tribe-e2e/src/pages/create-bite.page.ts
  apps/bite-tribe-e2e/src/pages/home.page.ts
  apps/bite-tribe-e2e/src/pages/profile.page.ts
  apps/bite-tribe-e2e/src/pages/restaurant.page.ts
  apps/bite-tribe-e2e/src/pages/search.page.ts
  apps/bite-tribe-e2e/src/support/firestore.ts
  apps/bite-tribe-e2e/src/tests/bite-data-quality.spec.ts
  apps/bite-tribe-e2e/src/tests/bite-details.spec.ts
  apps/bite-tribe-e2e/src/tests/browse-restaurants-and-places.spec.ts
  apps/bite-tribe-e2e/src/tests/create-and-edit-bite.spec.ts
  apps/bite-tribe-e2e/src/tests/discover-bites.spec.ts
  apps/bite-tribe-e2e/src/tests/profile-social-graph.spec.ts
  libs/bite-tribe-common/map/src/lib/map/__specs__/map.component.spec.ts
  libs/bite-tribe-common/map/src/lib/map/map.component.ts
  libs/bite-tribe-common/map/src/lib/position/__specs__/position.component.spec.ts
  libs/bite-tribe-common/map/src/lib/position/position.component.ts
  libs/bite-tribe/map/data-access/src/lib/__specs__/map-data-access.service.spec.ts
  libs/bite-tribe/map/data-access/src/lib/map-data-access.service.ts
  libs/bite-tribe/map/page/src/lib/integration/__specs__/map.service.spec.ts
  libs/bite-tribe/map/page/src/lib/integration/bite-trail-map.container.component.ts
  libs/bite-tribe/map/page/src/lib/integration/bucket-list-map.container.component.ts
  libs/bite-tribe/map/page/src/lib/integration/home-map-container.component.ts
  libs/bite-tribe/map/page/src/lib/integration/map.service.ts
  libs/bite-tribe/map/page/src/lib/integration/my-bites-map.container.component.ts
  libs/bite-tribe/store/src/lib/app/__specs__/selectors.spec.ts
  libs/bite-tribe/store/src/lib/app/selectors.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  ssot/pages/Current State - E2E Coverage.md
  ssot/pages/Implementation - Testing.md
  ssot/pages/SSOT.md
  ssot/pages/Traceability Map.md
  ssot/pages/UC - Browse Restaurants And Places.md
  ssot/pages/UC - Create And Maintain Personal Bites.md
  ssot/pages/UC - Discover Bites.md
  ssot/pages/UC - Manage Profile And Social Graph.md
  ssot/pages/contents.md
Due: eslint --fix, prettier --write

fix: fix clipped reaction popover content
  libs/bite-tribe-common/bite/src/lib/like-options-popover-menu/like-options-popover-menu.component.html
  libs/bite-tribe-common/bite/src/lib/like-options-popover-menu/like-options-popover-menu.component.scss
  libs/bite-tribe-common/bite/src/lib/like-options-popover-menu/like-options-popover-menu.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: fix clipped reaction popover content (#1060)
  libs/bite-tribe-common/bite/src/lib/like-options-popover-menu/like-options-popover-menu.component.html
  libs/bite-tribe-common/bite/src/lib/like-options-popover-menu/like-options-popover-menu.component.scss
  libs/bite-tribe-common/bite/src/lib/like-options-popover-menu/like-options-popover-menu.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: adjust implementation to google workspace usage
  apps/bite-tribe-firebase/functions/src/functions/users/__specs__/resend-email-verification.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/users/__specs__/send-email-verification-reminders.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/users/google-workspace-email.ts
  apps/bite-tribe-firebase/functions/src/functions/users/resend-email-verification.ts
  apps/bite-tribe-firebase/functions/src/functions/users/send-email-verification-reminders.ts
  apps/bite-tribe-firebase/set-workspace-secrets.sh
Due: eslint --fix, prettier --write

feat: show my position on bitemap
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe-common/map/src/lib/map/__specs__/map.component.spec.ts
  libs/bite-tribe-common/map/src/lib/map/map.component.ts
  libs/bite-tribe/map/data-access/src/lib/__specs__/map-data-access.service.spec.ts
  libs/bite-tribe/map/data-access/src/lib/map-data-access.service.ts
  libs/bite-tribe/map/page/src/lib/components/map-page/__specs__/map-page.component.spec.ts
  libs/bite-tribe/map/page/src/lib/components/map-page/__specs__/map-page.stories.ts
  libs/bite-tribe/map/page/src/lib/components/map-page/map-page.component.html
  libs/bite-tribe/map/page/src/lib/components/map-page/map-page.component.scss
  libs/bite-tribe/map/page/src/lib/components/map-page/map-page.component.ts
  libs/bite-tribe/map/page/src/lib/integration/__specs__/map.service.spec.ts
  libs/bite-tribe/map/page/src/lib/integration/home-map-container.component.ts
  libs/bite-tribe/map/page/src/lib/integration/map.service.ts
  libs/common/utils/src/lib/add-necessary-icons.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: better error logs in firebase function
  apps/bite-tribe-firebase/functions/src/functions/users/google-workspace-email.ts
  apps/bite-tribe-firebase/functions/src/functions/users/resend-email-verification.ts
Due: eslint --fix, prettier --write
