Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

docs: Adaptions for glossary.
  ssot/pages/Actogram Format.md
  ssot/pages/Current State - Open Questions.md
  ssot/pages/Glossary.md
  ssot/pages/Personas.md
  ssot/pages/Recorded Decisions.md
  ssot/pages/UC - Browse Restaurants And Places.md
  ssot/pages/UC - Verify Restaurant Candidate.md
  ssot/pages/Use Case Format.md
  ssot/pages/User Roles.md
Due: prettier --write

ci: deploy firebase functions from the pipeline (#1464)
  .github/workflows/pipeline.yml
  package.json
  ssot/pages/Architecture - Firebase.md
  ssot/pages/Implementation - CI Pipeline.md
  ssot/pages/Implementation - Firebase Functions.md
  tools/assert-firestore-indexes-deployed.mjs
  tools/set-functions-deploy-service-account.sh
Due: prettier --write

docs: name the gcloud install in the deploy account script
  tools/set-functions-deploy-service-account.sh
Due: none

fix: exit trap in the deploy account script fails on success
  tools/set-functions-deploy-service-account.sh
Due: none

ci: deploy Firebase Functions from the pipeline (#1464) (#1542)
  .github/workflows/pipeline.yml
  package.json
  ssot/pages/Architecture - Firebase.md
  ssot/pages/Implementation - CI Pipeline.md
  ssot/pages/Implementation - Firebase Functions.md
  tools/assert-firestore-indexes-deployed.mjs
  tools/set-functions-deploy-service-account.sh
Due: prettier --write

ci: bump GitHub Actions to their Node 24 major versions (#1437)
  .github/actions/nx-cache/action.yml
  .github/actions/restore-cache/action.yml
  .github/actions/setup/action.yml
  .github/dependabot.yml
  .github/workflows/analytics-digest.yml
  .github/workflows/deploy-cv.yml
  .github/workflows/native-release.yml
  .github/workflows/pipeline.yml
  .github/workflows/release.yml
  ssot/pages/Implementation - CI Pipeline.md
Due: prettier --write

docs: specify restaurant candidate detection and verification (#1513)
  .gitignore
  ssot/pages/Actogram Format.md
  ssot/pages/Agent Operating Contract.md
  ssot/pages/Architecture - Auth.md
  ssot/pages/Current State - Open Questions.md
  ssot/pages/Feature Delivery Workflow.md
  ssot/pages/GitHub Issue Format.md
  ssot/pages/Glossary.md
  ssot/pages/Implementation - Firebase Functions.md
  ssot/pages/Implementation - Localization.md
  ssot/pages/Personas.md
  ssot/pages/Recorded Decisions.md
  ssot/pages/Restaurant.md
  ssot/pages/SSOT.md
  ssot/pages/Spec To Code Workflow.md
  ssot/pages/Traceability Map.md
  ssot/pages/UC - Browse Restaurants And Places.md
  ssot/pages/UC - Detect Restaurant Candidate.md
  ssot/pages/UC - Maintain Restaurants In The Business App.md
  ssot/pages/UC - Operate BiteTribe In The Admin App.md
  ssot/pages/UC - Own And Claim Restaurants.md
  ssot/pages/UC - Run Operational Migrations.md
  ssot/pages/UC - Verify Restaurant Candidate.md
  ssot/pages/Use Case Format.md
  ssot/pages/User Roles.md
  ssot/pages/contents.md
Due: prettier --write

ci: bump GitHub Actions to their Node 24 major versions (#1437) (#1543)
  .github/actions/nx-cache/action.yml
  .github/actions/restore-cache/action.yml
  .github/actions/setup/action.yml
  .github/dependabot.yml
  .github/workflows/analytics-digest.yml
  .github/workflows/deploy-cv.yml
  .github/workflows/native-release.yml
  .github/workflows/pipeline.yml
  .github/workflows/release.yml
  ssot/pages/Implementation - CI Pipeline.md
Due: prettier --write

feat: replace open Firestore rules with ownership-scoped rules (#1078) (#1164)
  .github/workflows/pipeline.yml
  apps/bite-tribe-business-e2e/src/tests/maintain-restaurant.spec.ts
  apps/bite-tribe-firebase/firestore.rules
  apps/bite-tribe-firebase/functions/package-lock.json
  apps/bite-tribe-firebase/functions/package.json
  apps/bite-tribe-firebase/functions/src/firestore-rules/__specs__/firestore-rules.emulator-spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/verify-restaurant-candidate.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/roles.ts
  apps/bite-tribe-firebase/project.json
  libs/bite-tribe-business/edit-menu/page/src/lib/integration/__specs__/edit-menu.service.spec.ts
  libs/bite-tribe-business/edit-menu/page/src/lib/integration/edit-menu.service.ts
  libs/bite-tribe-common/model/src/lib/menu.ts
  libs/bite-tribe/api/src/lib/__specs__/bite-tribe-api.service.spec.ts
  libs/bite-tribe/api/src/lib/bite-api/utils/__specs__/update-profile-with-image-path-from-firestorage.spec.ts
  libs/bite-tribe/api/src/lib/bite-api/utils/update-profile-with-image-path-from-firestorage.ts
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/api/src/lib/menu-api/__specs__/menu-api.service.spec.ts
  libs/bite-tribe/api/src/lib/menu-api/menu-api.service.ts
  libs/bite-tribe/api/src/lib/profile-api.service.ts
  libs/bite-tribe/api/src/lib/restaurant-api/__specs__/restaurant-api.service.spec.ts
  libs/bite-tribe/api/src/lib/restaurant-api/restaurant-api.service.ts
  libs/bite-tribe/menu/data-access/src/lib/__specs__/menu-data-access.service.spec.ts
  libs/bite-tribe/menu/data-access/src/lib/menu-data-access.service.ts
  libs/bite-tribe/menu/page/src/lib/integration/menu.service.ts
  libs/common/utils/src/lib/user-role.ts
  ssot/pages/Architecture - Auth.md
  ssot/pages/Architecture - Firebase.md
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Glossary.md
  ssot/pages/Implementation - CI Pipeline.md
  ssot/pages/Implementation - Testing.md
  ssot/pages/Monetization.md
  ssot/pages/Restaurant.md
  ssot/pages/Traceability Map.md
  ssot/pages/UC - Detect Restaurant Candidate.md
  ssot/pages/UC - Operate BiteTribe In The Admin App.md
  ssot/pages/UC - Own And Claim Restaurants.md
  ssot/pages/UC - Verify Restaurant Candidate.md
  ssot/pages/User Roles.md
  ssot/pages/epic-1122.md
Due: eslint --fix, prettier --write

feat: replace open Firestore rules with ownership-scoped rules (#1078) (#1164) (#1545)
  .github/workflows/pipeline.yml
  apps/bite-tribe-business-e2e/src/tests/maintain-restaurant.spec.ts
  apps/bite-tribe-firebase/firestore.rules
  apps/bite-tribe-firebase/functions/package-lock.json
  apps/bite-tribe-firebase/functions/package.json
  apps/bite-tribe-firebase/functions/src/firestore-rules/__specs__/firestore-rules.emulator-spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/verify-restaurant-candidate.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/roles.ts
  apps/bite-tribe-firebase/project.json
  libs/bite-tribe-business/edit-menu/page/src/lib/integration/__specs__/edit-menu.service.spec.ts
  libs/bite-tribe-business/edit-menu/page/src/lib/integration/edit-menu.service.ts
  libs/bite-tribe-common/model/src/lib/menu.ts
  libs/bite-tribe/api/src/lib/__specs__/bite-tribe-api.service.spec.ts
  libs/bite-tribe/api/src/lib/bite-api/utils/__specs__/update-profile-with-image-path-from-firestorage.spec.ts
  libs/bite-tribe/api/src/lib/bite-api/utils/update-profile-with-image-path-from-firestorage.ts
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/api/src/lib/menu-api/__specs__/menu-api.service.spec.ts
  libs/bite-tribe/api/src/lib/menu-api/menu-api.service.ts
  libs/bite-tribe/api/src/lib/profile-api.service.ts
  libs/bite-tribe/api/src/lib/restaurant-api/__specs__/restaurant-api.service.spec.ts
  libs/bite-tribe/api/src/lib/restaurant-api/restaurant-api.service.ts
  libs/bite-tribe/menu/data-access/src/lib/__specs__/menu-data-access.service.spec.ts
  libs/bite-tribe/menu/data-access/src/lib/menu-data-access.service.ts
  libs/bite-tribe/menu/page/src/lib/integration/menu.service.ts
  libs/common/utils/src/lib/user-role.ts
  ssot/pages/Architecture - Auth.md
  ssot/pages/Architecture - Firebase.md
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Glossary.md
  ssot/pages/Implementation - CI Pipeline.md
  ssot/pages/Implementation - Testing.md
  ssot/pages/Monetization.md
  ssot/pages/Restaurant.md
  ssot/pages/Traceability Map.md
  ssot/pages/UC - Detect Restaurant Candidate.md
  ssot/pages/UC - Operate BiteTribe In The Admin App.md
  ssot/pages/UC - Own And Claim Restaurants.md
  ssot/pages/UC - Verify Restaurant Candidate.md
  ssot/pages/User Roles.md
  ssot/pages/epic-1122.md
Due: eslint --fix, prettier --write

feat(bite-tribe-business): scope the app to owned restaurants (#1079)
  apps/bite-tribe-business-e2e/src/pages/dashboard.page.ts
  apps/bite-tribe-business-e2e/src/tests/maintain-restaurant.spec.ts
  apps/bite-tribe-business/src/assets/i18n/en.json
  libs/bite-tribe-business/dashboard/data-access/src/lib/__specs__/dashboard-data-access.service.spec.ts
  libs/bite-tribe-business/dashboard/data-access/src/lib/dashboard-data-access.service.ts
  libs/bite-tribe-business/dashboard/page/src/lib/component/restaurants/restaurants.ts
  libs/bite-tribe-business/dashboard/page/src/lib/component/section-page.scss
  libs/bite-tribe-business/shell/src/lib/__specs__/routes.spec.ts
  libs/bite-tribe-business/shell/src/lib/routes.ts
  libs/common/ta-firestore/src/index.ts
  libs/common/ta-firestore/src/lib/__specs__/document-owner.guard.spec.ts
  libs/common/ta-firestore/src/lib/document-owner.guard.ts
  libs/common/toast/src/lib/toast.service.ts
  ssot/pages/Architecture - Auth.md
  ssot/pages/Architecture - Firebase.md
  ssot/pages/Current State - E2E Coverage.md
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Glossary.md
  ssot/pages/Recorded Decisions.md
  ssot/pages/UC - Detect Restaurant Candidate.md
  ssot/pages/UC - Maintain Restaurants In The Business App.md
  ssot/pages/UC - Own And Claim Restaurants.md
  ssot/pages/UC - Verify Restaurant Candidate.md
  ssot/pages/User Roles.md
  ssot/pages/epic-1069.md
Due: eslint --fix, prettier --write, stylelint --fix

feat(bite-tribe-business): scope the app to owned restaurants (#1079) (#1550)
  apps/bite-tribe-business-e2e/src/pages/dashboard.page.ts
  apps/bite-tribe-business-e2e/src/tests/maintain-restaurant.spec.ts
  apps/bite-tribe-business/src/assets/i18n/en.json
  libs/bite-tribe-business/dashboard/data-access/src/lib/__specs__/dashboard-data-access.service.spec.ts
  libs/bite-tribe-business/dashboard/data-access/src/lib/dashboard-data-access.service.ts
  libs/bite-tribe-business/dashboard/page/src/lib/component/restaurants/restaurants.ts
  libs/bite-tribe-business/dashboard/page/src/lib/component/section-page.scss
  libs/bite-tribe-business/shell/src/lib/__specs__/routes.spec.ts
  libs/bite-tribe-business/shell/src/lib/routes.ts
  libs/common/ta-firestore/src/index.ts
  libs/common/ta-firestore/src/lib/__specs__/document-owner.guard.spec.ts
  libs/common/ta-firestore/src/lib/document-owner.guard.ts
  libs/common/toast/src/lib/toast.service.ts
  ssot/pages/Architecture - Auth.md
  ssot/pages/Architecture - Firebase.md
  ssot/pages/Current State - E2E Coverage.md
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Glossary.md
  ssot/pages/Recorded Decisions.md
  ssot/pages/UC - Detect Restaurant Candidate.md
  ssot/pages/UC - Maintain Restaurants In The Business App.md
  ssot/pages/UC - Own And Claim Restaurants.md
  ssot/pages/UC - Verify Restaurant Candidate.md
  ssot/pages/User Roles.md
  ssot/pages/epic-1069.md
Due: eslint --fix, prettier --write, stylelint --fix

fix(bite-tribe-firebase): clear the staff association when an account is deleted (#1537)
  apps/bite-tribe-firebase/functions/src/functions/restaurants/restaurant-staff.ts
  apps/bite-tribe-firebase/functions/src/functions/users/__specs__/delete-own-account.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/users/delete-own-account.ts
  ssot/pages/Architecture - Auth.md
  ssot/pages/UC - Use Account And Legal Flows.md
Due: eslint --fix, prettier --write

feat(model): add the floor plan data model and coordinate system (#1080)
  libs/bite-tribe-common/model/jest.config.ts
  libs/bite-tribe-common/model/src/index.ts
  libs/bite-tribe-common/model/src/lib/__specs__/floor-plan.spec.ts
  libs/bite-tribe-common/model/src/lib/floor-plan.ts
  libs/bite-tribe-common/model/src/lib/restaurant-table.ts
  libs/bite-tribe-common/model/tsconfig.json
  libs/bite-tribe-common/model/tsconfig.spec.json
  ssot/pages/Floor Plan.md
  ssot/pages/Implementation - Testing.md
  ssot/pages/Table.md
  ssot/pages/Traceability Map.md
Due: eslint --fix, prettier --write

feat(model): add the floor plan data model and coordinate system (#1080) (#1552)
  libs/bite-tribe-common/model/jest.config.ts
  libs/bite-tribe-common/model/src/index.ts
  libs/bite-tribe-common/model/src/lib/__specs__/floor-plan.spec.ts
  libs/bite-tribe-common/model/src/lib/floor-plan.ts
  libs/bite-tribe-common/model/src/lib/restaurant-table.ts
  libs/bite-tribe-common/model/tsconfig.json
  libs/bite-tribe-common/model/tsconfig.spec.json
  ssot/pages/Floor Plan.md
  ssot/pages/Implementation - Testing.md
  ssot/pages/Table.md
  ssot/pages/Traceability Map.md
Due: eslint --fix, prettier --write

feat: floor plan persistence, rules and concurrency (#1081)
  apps/bite-tribe-firebase/firestore.rules
  apps/bite-tribe-firebase/functions/src/firestore-rules/__specs__/firestore-rules.emulator-spec.ts
  libs/bite-tribe-business/floor-plan/data-access/eslint.config.mjs
  libs/bite-tribe-business/floor-plan/data-access/jest.config.ts
  libs/bite-tribe-business/floor-plan/data-access/project.json
  libs/bite-tribe-business/floor-plan/data-access/src/index.ts
  libs/bite-tribe-business/floor-plan/data-access/src/lib/__specs__/floor-plan-data-access.service.spec.ts
  libs/bite-tribe-business/floor-plan/data-access/src/lib/floor-plan-data-access.service.ts
  libs/bite-tribe-business/floor-plan/data-access/src/lib/floor-plan-errors.ts
  libs/bite-tribe-business/floor-plan/data-access/src/test-setup.ts
  libs/bite-tribe-business/floor-plan/data-access/tsconfig.json
  libs/bite-tribe-business/floor-plan/data-access/tsconfig.lib.json
  libs/bite-tribe-business/floor-plan/data-access/tsconfig.spec.json
  ssot/pages/Floor Plan.md
  ssot/pages/Implementation - Code Map.md
  ssot/pages/Table.md
  ssot/pages/Traceability Map.md
  tsconfig.base.json
Due: eslint --fix, prettier --write

feat: floor plan persistence, rules and concurrency (#1081) (#1553)
  apps/bite-tribe-firebase/firestore.rules
  apps/bite-tribe-firebase/functions/src/firestore-rules/__specs__/firestore-rules.emulator-spec.ts
  libs/bite-tribe-business/floor-plan/data-access/eslint.config.mjs
  libs/bite-tribe-business/floor-plan/data-access/jest.config.ts
  libs/bite-tribe-business/floor-plan/data-access/project.json
  libs/bite-tribe-business/floor-plan/data-access/src/index.ts
  libs/bite-tribe-business/floor-plan/data-access/src/lib/__specs__/floor-plan-data-access.service.spec.ts
  libs/bite-tribe-business/floor-plan/data-access/src/lib/floor-plan-data-access.service.ts
  libs/bite-tribe-business/floor-plan/data-access/src/lib/floor-plan-errors.ts
  libs/bite-tribe-business/floor-plan/data-access/src/test-setup.ts
  libs/bite-tribe-business/floor-plan/data-access/tsconfig.json
  libs/bite-tribe-business/floor-plan/data-access/tsconfig.lib.json
  libs/bite-tribe-business/floor-plan/data-access/tsconfig.spec.json
  ssot/pages/Floor Plan.md
  ssot/pages/Implementation - Code Map.md
  ssot/pages/Table.md
  ssot/pages/Traceability Map.md
  tsconfig.base.json
Due: eslint --fix, prettier --write

fix(ai): ai agnostic settings.
  .claude/skills
  .codex/skills
  .gitignore
  AGENTS.md
  README.md
  skills/pull-github-epics-to-ssot/SKILL.md
  skills/pull-github-epics-to-ssot/agents/openai.yaml
  skills/pull-github-epics-to-ssot/scripts/render_epics_page.mjs
  skills/travellers-apps/SKILL.md
  skills/travellers-apps/agents/openai.yaml
  skills/travellers-apps/references/analytics.md
  skills/travellers-apps/references/architecture.md
  skills/travellers-apps/references/capacitor.md
  skills/travellers-apps/references/firebase-functions.md
  skills/travellers-apps/references/storybook.md
  skills/travellers-apps/references/validation.md
Due: prettier --write

fix(ai): Smaller changes for copilot.
  .gemini/settings.json
  .github/copilot-instructions.md
  skills/travellers-apps/references/architecture.md
  ssot/pages/Architecture - Testing.md
Due: prettier --write

fix(ai): Add new simlink for openai and gemini
  .agents/skills
Due: none

fix(ai): remove simlink and adapt readme
  .codex/skills
  README.md
Due: prettier --write

fix(ai): revert change for copilot.
  .github/copilot-instructions.md
Due: prettier --write

feat(bite-tribe-business): lay the floor plan editor out in three columns (#1083)
  .loki/reference/chrome_laptop_Business_Floor_Plan_Canvas_Default.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Canvas_Dragging.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Canvas_Empty.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Canvas_Furnished.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Canvas_Large_Room.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Canvas_Metre_Grid.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Canvas_Multiple_Selected.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Canvas_Resizing.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Canvas_Rotated.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Canvas_Selected.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Canvas_Small_Room.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Canvas_Without_Grid.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Default.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Empty.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Load_Failed.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Loading.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Object_Selected.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Saving.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Selection_Of_Several.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Unsaved_Changes.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_With_Objects.png
  apps/bite-tribe-business/src/assets/i18n/en.json
  libs/bite-tribe-business/floor-plan/page/src/lib/component/__specs__/floor-plan.component.spec.ts
  libs/bite-tribe-business/floor-plan/page/src/lib/component/floor-plan.component.html
  libs/bite-tribe-business/floor-plan/page/src/lib/component/floor-plan.component.scss
  libs/bite-tribe-business/floor-plan/page/src/lib/component/floor-plan.component.ts
  libs/bite-tribe-business/floor-plan/ui/src/lib/__specs__/floor-plan-canvas.component.spec.ts
  libs/bite-tribe-business/floor-plan/ui/src/lib/floor-plan-canvas.component.html
  libs/bite-tribe-business/floor-plan/ui/src/lib/floor-plan-canvas.component.scss
  libs/bite-tribe-business/floor-plan/ui/src/lib/floor-plan-canvas.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(ucDefinition): Create level L0
  ssot/pages/Actogram Format.md
  ssot/pages/GitHub Issue Format.md
  ssot/pages/Use Case Format.md
Due: prettier --write

fix(ucDefinition): L0 example
  ssot/pages/UC - Add BiteTrail Gamification.md
Due: prettier --write

1557 create l0 for use cases (#1558)
  ssot/pages/Actogram Format.md
  ssot/pages/GitHub Issue Format.md
  ssot/pages/UC - Add BiteTrail Gamification.md
  ssot/pages/Use Case Format.md
Due: prettier --write

1520 make skills readable for claude (#1555)
  .agents/skills
  .claude/skills
  .gemini/settings.json
  .github/copilot-instructions.md
  .gitignore
  AGENTS.md
  README.md
  skills/pull-github-epics-to-ssot/SKILL.md
  skills/pull-github-epics-to-ssot/agents/openai.yaml
  skills/pull-github-epics-to-ssot/scripts/render_epics_page.mjs
  skills/travellers-apps/SKILL.md
  skills/travellers-apps/agents/openai.yaml
  skills/travellers-apps/references/analytics.md
  skills/travellers-apps/references/architecture.md
  skills/travellers-apps/references/capacitor.md
  skills/travellers-apps/references/firebase-functions.md
  skills/travellers-apps/references/storybook.md
  skills/travellers-apps/references/validation.md
  ssot/pages/Architecture - Testing.md
Due: prettier --write

feat(bite-tribe-business): table properties, numbering and capacity (#1084)
  .loki/reference/chrome_laptop_Business_Floor_Plan_Canvas_Disabled_Tables.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Canvas_Dragging.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Canvas_Furnished.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Canvas_Multiple_Selected.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Canvas_Resizing.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Canvas_Rotated.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Canvas_Selected.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Object_Selected.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Selection_Of_Several.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Table_Disabled.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Table_Label_Conflict.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Unsaved_Changes.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_With_Objects.png
  apps/bite-tribe-business/src/assets/i18n/en.json
  libs/bite-tribe-business/floor-plan/data-access/src/lib/__specs__/floor-plan-data-access.service.spec.ts
  libs/bite-tribe-business/floor-plan/data-access/src/lib/floor-plan-data-access.service.ts
  libs/bite-tribe-business/floor-plan/page/src/lib/component/__specs__/floor-plan.component.spec.ts
  libs/bite-tribe-business/floor-plan/page/src/lib/component/__specs__/floor-plan.component.stories.ts
  libs/bite-tribe-business/floor-plan/page/src/lib/component/floor-plan.component.html
  libs/bite-tribe-business/floor-plan/page/src/lib/component/floor-plan.component.scss
  libs/bite-tribe-business/floor-plan/page/src/lib/component/floor-plan.component.ts
  libs/bite-tribe-business/floor-plan/page/src/lib/integration/__specs__/floor-plan-layout.spec.ts
  libs/bite-tribe-business/floor-plan/page/src/lib/integration/__specs__/floor-plan-tables.spec.ts
  libs/bite-tribe-business/floor-plan/page/src/lib/integration/__specs__/floor-plan.service.spec.ts
  libs/bite-tribe-business/floor-plan/page/src/lib/integration/floor-plan-container.ts
  libs/bite-tribe-business/floor-plan/page/src/lib/integration/floor-plan-layout.ts
  libs/bite-tribe-business/floor-plan/page/src/lib/integration/floor-plan-tables.ts
  libs/bite-tribe-business/floor-plan/page/src/lib/integration/floor-plan.service.ts
  libs/bite-tribe-business/floor-plan/ui/src/lib/__specs__/floor-plan-canvas.component.spec.ts
  libs/bite-tribe-business/floor-plan/ui/src/lib/__specs__/floor-plan-canvas.component.stories.ts
  libs/bite-tribe-business/floor-plan/ui/src/lib/__specs__/floor-plan-item.spec.ts
  libs/bite-tribe-business/floor-plan/ui/src/lib/floor-plan-canvas.component.html
  libs/bite-tribe-business/floor-plan/ui/src/lib/floor-plan-canvas.component.scss
  libs/bite-tribe-business/floor-plan/ui/src/lib/floor-plan-canvas.component.ts
  libs/bite-tribe-business/floor-plan/ui/src/lib/floor-plan-item.ts
  ssot/pages/Floor Plan.md
  ssot/pages/Table.md
  ssot/pages/Traceability Map.md
  ssot/pages/UC - Configure Restaurant Floor Plans And Tables.md
Due: eslint --fix, prettier --write, stylelint --fix

feat(bite-tribe-business): table properties, numbering and capacity (#1084) (#1560)
  .loki/reference/chrome_laptop_Business_Floor_Plan_Canvas_Disabled_Tables.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Canvas_Dragging.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Canvas_Furnished.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Canvas_Multiple_Selected.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Canvas_Resizing.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Canvas_Rotated.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Canvas_Selected.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Object_Selected.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Selection_Of_Several.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Table_Disabled.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Table_Label_Conflict.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Unsaved_Changes.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_With_Objects.png
  apps/bite-tribe-business/src/assets/i18n/en.json
  libs/bite-tribe-business/floor-plan/data-access/src/lib/__specs__/floor-plan-data-access.service.spec.ts
  libs/bite-tribe-business/floor-plan/data-access/src/lib/floor-plan-data-access.service.ts
  libs/bite-tribe-business/floor-plan/page/src/lib/component/__specs__/floor-plan.component.spec.ts
  libs/bite-tribe-business/floor-plan/page/src/lib/component/__specs__/floor-plan.component.stories.ts
  libs/bite-tribe-business/floor-plan/page/src/lib/component/floor-plan.component.html
  libs/bite-tribe-business/floor-plan/page/src/lib/component/floor-plan.component.scss
  libs/bite-tribe-business/floor-plan/page/src/lib/component/floor-plan.component.ts
  libs/bite-tribe-business/floor-plan/page/src/lib/integration/__specs__/floor-plan-layout.spec.ts
  libs/bite-tribe-business/floor-plan/page/src/lib/integration/__specs__/floor-plan-tables.spec.ts
  libs/bite-tribe-business/floor-plan/page/src/lib/integration/__specs__/floor-plan.service.spec.ts
  libs/bite-tribe-business/floor-plan/page/src/lib/integration/floor-plan-container.ts
  libs/bite-tribe-business/floor-plan/page/src/lib/integration/floor-plan-layout.ts
  libs/bite-tribe-business/floor-plan/page/src/lib/integration/floor-plan-tables.ts
  libs/bite-tribe-business/floor-plan/page/src/lib/integration/floor-plan.service.ts
  libs/bite-tribe-business/floor-plan/ui/src/lib/__specs__/floor-plan-canvas.component.spec.ts
  libs/bite-tribe-business/floor-plan/ui/src/lib/__specs__/floor-plan-canvas.component.stories.ts
  libs/bite-tribe-business/floor-plan/ui/src/lib/__specs__/floor-plan-item.spec.ts
  libs/bite-tribe-business/floor-plan/ui/src/lib/floor-plan-canvas.component.html
  libs/bite-tribe-business/floor-plan/ui/src/lib/floor-plan-canvas.component.scss
  libs/bite-tribe-business/floor-plan/ui/src/lib/floor-plan-canvas.component.ts
  libs/bite-tribe-business/floor-plan/ui/src/lib/floor-plan-item.ts
  ssot/pages/Floor Plan.md
  ssot/pages/Table.md
  ssot/pages/Traceability Map.md
  ssot/pages/UC - Configure Restaurant Floor Plans And Tables.md
Due: eslint --fix, prettier --write, stylelint --fix

feat(bite-tribe-business): multiple rooms, floors and cross-room table moves (#1085)
  .loki/reference/chrome_laptop_Business_Floor_Plan_Default.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Object_Selected.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Saving.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Selection_Of_Several.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Several_Floors.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Table_Disabled.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Table_Label_Conflict.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Unsaved_Changes.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_With_Objects.png
  apps/bite-tribe-business/src/assets/i18n/en.json
  libs/bite-tribe-business/floor-plan/data-access/src/lib/__specs__/floor-plan-data-access.service.spec.ts
  libs/bite-tribe-business/floor-plan/data-access/src/lib/floor-plan-data-access.service.ts
  libs/bite-tribe-business/floor-plan/page/src/lib/component/__specs__/floor-plan.component.spec.ts
  libs/bite-tribe-business/floor-plan/page/src/lib/component/__specs__/floor-plan.component.stories.ts
  libs/bite-tribe-business/floor-plan/page/src/lib/component/floor-plan.component.html
  libs/bite-tribe-business/floor-plan/page/src/lib/component/floor-plan.component.scss
  libs/bite-tribe-business/floor-plan/page/src/lib/component/floor-plan.component.ts
  libs/bite-tribe-business/floor-plan/page/src/lib/integration/__specs__/floor-plan-rooms.spec.ts
  libs/bite-tribe-business/floor-plan/page/src/lib/integration/__specs__/floor-plan.service.spec.ts
  libs/bite-tribe-business/floor-plan/page/src/lib/integration/floor-plan-container.ts
  libs/bite-tribe-business/floor-plan/page/src/lib/integration/floor-plan-rooms.ts
  libs/bite-tribe-business/floor-plan/page/src/lib/integration/floor-plan-tables.ts
  libs/bite-tribe-business/floor-plan/page/src/lib/integration/floor-plan.service.ts
  libs/bite-tribe-business/floor-plan/page/src/lib/integration/room-draft.ts
  libs/bite-tribe-common/model/src/lib/__specs__/floor-plan.spec.ts
  libs/bite-tribe-common/model/src/lib/floor-plan.ts
  ssot/pages/Floor Plan.md
  ssot/pages/Implementation - Testing.md
  ssot/pages/Table.md
  ssot/pages/UC - Configure Restaurant Floor Plans And Tables.md
  ssot/pages/UC - Manage Tables During Service.md
Due: eslint --fix, prettier --write, stylelint --fix

feat(bite-tribe-business): multiple rooms, floors and cross-room table moves (#1085) (#1561)
  .loki/reference/chrome_laptop_Business_Floor_Plan_Default.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Object_Selected.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Saving.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Selection_Of_Several.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Several_Floors.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Table_Disabled.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Table_Label_Conflict.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_Unsaved_Changes.png
  .loki/reference/chrome_laptop_Business_Floor_Plan_With_Objects.png
  apps/bite-tribe-business/src/assets/i18n/en.json
  libs/bite-tribe-business/floor-plan/data-access/src/lib/__specs__/floor-plan-data-access.service.spec.ts
  libs/bite-tribe-business/floor-plan/data-access/src/lib/floor-plan-data-access.service.ts
  libs/bite-tribe-business/floor-plan/page/src/lib/component/__specs__/floor-plan.component.spec.ts
  libs/bite-tribe-business/floor-plan/page/src/lib/component/__specs__/floor-plan.component.stories.ts
  libs/bite-tribe-business/floor-plan/page/src/lib/component/floor-plan.component.html
  libs/bite-tribe-business/floor-plan/page/src/lib/component/floor-plan.component.scss
  libs/bite-tribe-business/floor-plan/page/src/lib/component/floor-plan.component.ts
  libs/bite-tribe-business/floor-plan/page/src/lib/integration/__specs__/floor-plan-rooms.spec.ts
  libs/bite-tribe-business/floor-plan/page/src/lib/integration/__specs__/floor-plan.service.spec.ts
  libs/bite-tribe-business/floor-plan/page/src/lib/integration/floor-plan-container.ts
  libs/bite-tribe-business/floor-plan/page/src/lib/integration/floor-plan-rooms.ts
  libs/bite-tribe-business/floor-plan/page/src/lib/integration/floor-plan-tables.ts
  libs/bite-tribe-business/floor-plan/page/src/lib/integration/floor-plan.service.ts
  libs/bite-tribe-business/floor-plan/page/src/lib/integration/room-draft.ts
  libs/bite-tribe-common/model/src/lib/__specs__/floor-plan.spec.ts
  libs/bite-tribe-common/model/src/lib/floor-plan.ts
  ssot/pages/Floor Plan.md
  ssot/pages/Implementation - Testing.md
  ssot/pages/Table.md
  ssot/pages/UC - Configure Restaurant Floor Plans And Tables.md
  ssot/pages/UC - Manage Tables During Service.md
Due: eslint --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --fix: any of: *.{ts,html}
  prettier --write: any of: *.{ts,js,html,scss,json,md}
  stylelint --fix: any of: *.scss
