Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,html}": "eslint --fix",
  "*.{ts,js,html,scss,json,md}": "prettier --write",
  "*.scss": "stylelint --fix"
}

docs: adjust skills
  .codex/skills/travellers-apps/SKILL.md
  .codex/skills/travellers-apps/references/firebase-functions.md
  .codex/skills/travellers-apps/references/validation.md
Due: prettier --write

style: align bite count badges
  libs/bite-tribe/leaderboard/page/src/lib/components/leaderboard-list/leaderboard-list.component.html
  libs/bite-tribe/leaderboard/page/src/lib/components/leaderboard-list/leaderboard-list.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

refactor: feedback from pr
  apps/bite-tribe-firebase/functions/src/functions/load-leaderboard.ts
  libs/bite-tribe/leaderboard/data-access/src/lib/leaderboard-data-access.service.ts
Due: eslint --fix, prettier --write

docs: setup logseq and generate release notes separated by build number
  package.json
  ssot/logseq/bak/pages/Changelog/2026-06-27T10_23_11.828Z.Desktop.md
  ssot/logseq/bak/pages/Changelog/2026-06-27T10_25_49.769Z.Desktop.md
  ssot/logseq/config.edn
  ssot/logseq/custom.css
  ssot/pages/Changelog.md
  ssot/pages/Vision.md
  ssot/pages/contents.md
  ssot/pages/releases/build-31.md
  ssot/pages/releases/build-33.md
  ssot/pages/releases/build-34.md
  ssot/pages/releases/build-35.md
  ssot/pages/releases/build-37.md
  tools/generate-full-changelog.mjs
Due: prettier --write

docs: split release notes to build specific
  ssot/logseq/bak/pages/Changelog/2026-06-27T10_30_58.408Z.Desktop.md
  ssot/logseq/bak/pages/Vision/2026-06-27T10_28_25.086Z.Desktop.md
  ssot/logseq/bak/pages/releases/build-31/2026-06-27T10_28_25.087Z.Desktop.md
  ssot/logseq/bak/pages/releases/build-31/2026-06-27T10_31_25.864Z.Desktop.md
  ssot/logseq/bak/pages/releases/build-33/2026-06-27T10_28_25.086Z.Desktop.md
  ssot/logseq/bak/pages/releases/build-33/2026-06-27T10_31_25.863Z.Desktop.md
  ssot/pages/Changelog.md
  tools/generate-full-changelog.mjs
Due: prettier --write

docs: fix release pages content
  ssot/logseq/bak/pages/releases/build-31/2026-06-27T11_42_02.301Z.Desktop.md
  ssot/logseq/bak/pages/releases/build-33/2026-06-27T11_42_02.302Z.Desktop.md
  ssot/logseq/bak/pages/releases/build-34/2026-06-27T11_42_02.302Z.Desktop.md
  ssot/logseq/bak/pages/releases/build-35/2026-06-27T11_42_02.304Z.Desktop.md
  ssot/logseq/bak/pages/releases/build-37/2026-06-27T11_42_02.303Z.Desktop.md
  ssot/pages/releases___build-31.md
  ssot/pages/releases___build-33.md
  ssot/pages/releases___build-34.md
  ssot/pages/releases___build-35.md
  ssot/pages/releases___build-37.md
  tools/generate-full-changelog.mjs
Due: prettier --write

docs: cleanup
  ssot/logseq/bak/pages/Changelog/2026-06-27T10_23_11.828Z.Desktop.md
  ssot/logseq/bak/pages/Changelog/2026-06-27T10_25_49.769Z.Desktop.md
  ssot/logseq/bak/pages/Changelog/2026-06-27T10_30_58.408Z.Desktop.md
  ssot/logseq/bak/pages/Vision/2026-06-27T10_28_25.086Z.Desktop.md
  ssot/logseq/bak/pages/releases/build-31/2026-06-27T10_28_25.087Z.Desktop.md
  ssot/logseq/bak/pages/releases/build-31/2026-06-27T10_31_25.864Z.Desktop.md
  ssot/logseq/bak/pages/releases/build-31/2026-06-27T11_42_02.301Z.Desktop.md
  ssot/logseq/bak/pages/releases/build-33/2026-06-27T10_28_25.086Z.Desktop.md
  ssot/logseq/bak/pages/releases/build-33/2026-06-27T10_31_25.863Z.Desktop.md
  ssot/logseq/bak/pages/releases/build-33/2026-06-27T11_42_02.302Z.Desktop.md
  ssot/logseq/bak/pages/releases/build-34/2026-06-27T11_42_02.302Z.Desktop.md
  ssot/logseq/bak/pages/releases/build-35/2026-06-27T11_42_02.304Z.Desktop.md
  ssot/logseq/bak/pages/releases/build-37/2026-06-27T11_42_02.303Z.Desktop.md
  ssot/pages/releases___build-31.md
  ssot/pages/releases___build-33.md
  ssot/pages/releases___build-34.md
  ssot/pages/releases___build-35.md
  ssot/pages/releases___build-37.md
  tools/generate-full-changelog.mjs
Due: prettier --write

chore: cleanup
  ssot/pages/Changelog.md
  ssot/pages/build-31.md
  ssot/pages/build-33.md
  ssot/pages/build-34.md
  ssot/pages/build-35.md
  ssot/pages/build-37.md
  tools/generate-full-changelog.mjs
Due: prettier --write

docs: pull epics from github to ssot
  ssot/pages/Epics.md
  ssot/pages/contents.md
Due: prettier --write

feat: sync epics from gh to ssot
  .codex/skills/pull-github-epics-to-ssot/SKILL.md
  .codex/skills/pull-github-epics-to-ssot/agents/openai.yaml
  .codex/skills/pull-github-epics-to-ssot/scripts/render_epics_page.mjs
Due: prettier --write

docs: pull issues for stories
  .codex/skills/pull-github-epics-to-ssot/SKILL.md
  .codex/skills/pull-github-epics-to-ssot/scripts/render_epics_page.mjs
  ssot/pages/Epics.md
  ssot/pages/epic-266.md
  ssot/pages/epic-734.md
  ssot/pages/epic-735.md
  ssot/pages/epic-738.md
  ssot/pages/epic-770.md
  ssot/pages/epic-790.md
  ssot/pages/epic-841.md
  ssot/pages/epic-843.md
  ssot/pages/epic-850.md
Due: prettier --write

docs: kickstart glossar
  ssot/pages/Glossar.md
  ssot/pages/SSOT.md
Due: prettier --write

docs: mission principles use cases
  ssot/pages/Glossary.md
  ssot/pages/Mission.md
  ssot/pages/Principles.md
  ssot/pages/SSOT.md
  ssot/pages/Use Cases.md
  ssot/pages/contents.md
Due: prettier --write

docs: personas
  ssot/pages/Personas.md
  ssot/pages/SSOT.md
Due: prettier --write

docs: domains
  ssot/pages/Bite Trail.md
  ssot/pages/Bite.md
  ssot/pages/Bucket List.md
  ssot/pages/Market Place.md
  ssot/pages/Restaurant.md
  ssot/pages/SSOT.md
  ssot/pages/User.md
Due: prettier --write

docs: introduce page per use case
  ssot/pages/Bite Trail.md
  ssot/pages/Bite.md
  ssot/pages/Bucket List.md
  ssot/pages/Market Place.md
  ssot/pages/Mission.md
  ssot/pages/Personas.md
  ssot/pages/Principles.md
  ssot/pages/Restaurant.md
  ssot/pages/SSOT.md
  ssot/pages/UC - Add BiteTrail Gamification.md
  ssot/pages/UC - Browse Restaurants And Places.md
  ssot/pages/UC - Complete Universal Search.md
  ssot/pages/UC - Configure Personal Settings.md
  ssot/pages/UC - Create And Maintain Personal Bites.md
  ssot/pages/UC - Create And Operate BiteTrails In The Business App.md
  ssot/pages/UC - Discover BiteTrails In The Marketplace.md
  ssot/pages/UC - Discover Bites.md
  ssot/pages/UC - Expand Restaurant Menus Into Actionable Menu Journeys.md
  ssot/pages/UC - Finish Restaurant Profile And Menu Completeness.md
  ssot/pages/UC - Guide New Users After Registration.md
  ssot/pages/UC - Harden Platform And Backend Trust.md
  ssot/pages/UC - Improve Localization Quality.md
  ssot/pages/UC - Inspect Bite Details.md
  ssot/pages/UC - Maintain Restaurants In The Business App.md
  ssot/pages/UC - Manage Profile And Social Graph.md
  ssot/pages/UC - Mature BiteTrail Marketplace Packages.md
  ssot/pages/UC - Receive App Notifications And Engagement Updates.md
  ssot/pages/UC - Run Operational Migrations.md
  ssot/pages/UC - Save And Rate BiteTrails Through Bucket Lists.md
  ssot/pages/UC - Search In BiteTribe.md
  ssot/pages/UC - Strengthen Location Currency And Data Quality Guidance.md
  ssot/pages/UC - Use Account And Legal Flows.md
  ssot/pages/UC - Use Gamification Signals.md
  ssot/pages/UC - Use Local Gallery Support.md
  ssot/pages/UC - View Restaurant Menus.md
  ssot/pages/Use Cases.md
  ssot/pages/User.md
  ssot/pages/contents.md
Due: prettier --write

docs: flatten epics chapter
  .codex/skills/pull-github-epics-to-ssot/SKILL.md
  .codex/skills/pull-github-epics-to-ssot/scripts/render_epics_page.mjs
  ssot/pages/Epics.md
  ssot/pages/Mission.md
  ssot/pages/Personas.md
  ssot/pages/Principles.md
  ssot/pages/SSOT.md
  ssot/pages/contents.md
Due: prettier --write

docs: architecture
  ssot/logseq/config.edn
  ssot/pages/Architecture - Analytics.md
  ssot/pages/Architecture - Auth.md
  ssot/pages/Architecture - Capacitor.md
  ssot/pages/Architecture - Data Access.md
  ssot/pages/Architecture - Firebase.md
  ssot/pages/Architecture - Internationalization.md
  ssot/pages/Architecture - Nx Workspace.md
  ssot/pages/Architecture - Overview.md
  ssot/pages/Architecture - State Management.md
  ssot/pages/Architecture - Storage.md
  ssot/pages/Architecture - Testing.md
  ssot/pages/SSOT.md
  ssot/pages/contents.md
Due: prettier --write

docs: architecture and implementation
  ssot/pages/Implementation - Code Map.md
  ssot/pages/Implementation - Feature Patterns.md
  ssot/pages/Implementation - Firebase Functions.md
  ssot/pages/Implementation - Libraries.md
  ssot/pages/Implementation - Localization.md
  ssot/pages/Implementation - Naming Conventions.md
  ssot/pages/Implementation - Overview.md
  ssot/pages/Implementation - Release And Build Workflow.md
  ssot/pages/Implementation - Storybook.md
  ssot/pages/Implementation - Testing.md
  ssot/pages/SSOT.md
  ssot/pages/contents.md
Due: prettier --write

docs: architecture and implementation
  ssot/logseq/bak/pages/Implementation - Libraries/2026-06-28T12_32_45.628Z.Desktop.md
  ssot/logseq/bak/pages/SSOT/2026-06-28T12_32_45.825Z.Desktop.md
Due: prettier --write

docs: decisions
  ssot/logseq/bak/pages/Implementation - Libraries/2026-06-28T12_32_45.628Z.Desktop.md
  ssot/logseq/bak/pages/SSOT/2026-06-28T12_32_45.825Z.Desktop.md
  ssot/pages/ADR-0001 Dish First Product.md
  ssot/pages/ADR-0002 Firebase Backend.md
  ssot/pages/ADR-0003 Nx Monorepo.md
  ssot/pages/SSOT.md
  ssot/pages/contents.md
Due: prettier --write

docs: current state
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Open Questions.md
  ssot/pages/Current State - Release State.md
  ssot/pages/Current State - Roadmap.md
  ssot/pages/SSOT.md
  ssot/pages/contents.md
Due: prettier --write

docs: traceability
  AGENTS.md
  ssot/pages/SSOT.md
  ssot/pages/Spec To Code Workflow.md
  ssot/pages/Traceability Map.md
  ssot/pages/contents.md
Due: prettier --write

docs: update ssot current state
  ssot/pages/Current State - Roadmap.md
  ssot/pages/contents.md
Due: prettier --write

chore: add bak to gitignore
  .gitignore
Due: none

docs: add launch readiness roadmap epic
  .codex/skills/pull-github-epics-to-ssot/scripts/render_epics_page.mjs
  ssot/pages/SSOT.md
  ssot/pages/Traceability Map.md
  ssot/pages/contents.md
  ssot/pages/epic-734.md
  ssot/pages/epic-738.md
  ssot/pages/epic-770.md
  ssot/pages/epic-790.md
  ssot/pages/epic-841.md
  ssot/pages/epic-843.md
  ssot/pages/epic-850.md
  ssot/pages/epic-907.md
  ssot/pages/issue-739.md
  ssot/pages/issue-742.md
  ssot/pages/issue-744.md
  ssot/pages/issue-746.md
  ssot/pages/issue-769.md
  ssot/pages/issue-771.md
  ssot/pages/issue-784.md
  ssot/pages/issue-848.md
  ssot/pages/issue-884.md
  ssot/pages/issue-908.md
  ssot/pages/issue-909.md
  ssot/pages/issue-910.md
  ssot/pages/issue-911.md
  ssot/pages/issue-912.md
  ssot/pages/issue-913.md
  ssot/pages/issue-914.md
Due: prettier --write

docs: workflows
  AGENTS.md
  ssot/pages/Feature Delivery Workflow.md
  ssot/pages/Implementation - Release And Build Workflow.md
  ssot/pages/Release Workflow.md
  ssot/pages/SSOT.md
  ssot/pages/Spec To Code Workflow.md
  ssot/pages/contents.md
Due: prettier --write

docs: todos for next two weeks
  ssot/journals/2026_06_28.md
  ssot/journals/2026_06_29.md
  ssot/journals/2026_06_30.md
  ssot/journals/2026_07_01.md
  ssot/journals/2026_07_02.md
  ssot/journals/2026_07_03.md
  ssot/journals/2026_07_06.md
  ssot/journals/2026_07_07.md
  ssot/journals/2026_07_08.md
  ssot/journals/2026_07_09.md
  ssot/journals/2026_07_10.md
  ssot/journals/2026_07_12.md
Due: prettier --write

refactor: introduce like aggregates
  apps/bite-tribe-firebase/functions/src/functions/model/bite.ts
  apps/bite-tribe-firebase/functions/src/functions/update-bite-like-count-on-like-write.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  libs/bite-tribe-common/bite/src/lib/like-options-popover-menu/__specs__/like-options-popover-menu.component.spec.ts
  libs/bite-tribe-common/bite/src/lib/like-options-popover-menu/like-options-popover-menu.component.ts
  libs/bite-tribe-common/bite/src/lib/likes/__specs__/likes.component.spec.ts
  libs/bite-tribe-common/bite/src/lib/likes/likes.component.html
  libs/bite-tribe-common/bite/src/lib/likes/likes.component.ts
  libs/bite-tribe-common/bite/src/lib/pipes/count-likes.pipe.ts
  libs/bite-tribe-common/bite/src/lib/utils/like-counts.ts
  libs/bite-tribe-common/model/src/lib/bite.ts
  libs/bite-tribe/store/src/lib/bites/utils/__specs__/sort-bites-by-likes.spec.ts
  libs/bite-tribe/store/src/lib/bites/utils/sort-bites-by-likes.ts
  ssot/pages/Architecture - Firebase.md
  ssot/pages/Bite.md
  ssot/pages/Implementation - Firebase Functions.md
Due: eslint --fix, prettier --write

refactor: use aggregate from bite
  libs/bite-tribe-common/bite/src/lib/like-options-popover-menu/__specs__/like-options-popover-menu.component.spec.ts
  libs/bite-tribe-common/bite/src/lib/likes/__specs__/likes.component.spec.ts
  libs/bite-tribe-common/bite/src/lib/pipes/__specs__/count-likes.pipe.spec.ts
  libs/bite-tribe-common/bite/src/lib/utils/like-counts.ts
Due: eslint --fix, prettier --write

refactor: dont load bites on gps refresh
  libs/bite-tribe/store/src/lib/likes/effects.ts
Due: eslint --fix, prettier --write

Revert "refactor: dont load bites on gps refresh"
  libs/bite-tribe/store/src/lib/likes/effects.ts
Due: eslint --fix, prettier --write

refactor(916): introduce aggregate for like type count (#919)
  apps/bite-tribe-firebase/functions/src/functions/model/bite.ts
  apps/bite-tribe-firebase/functions/src/functions/update-bite-like-count-on-like-write.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  libs/bite-tribe-common/bite/src/lib/like-options-popover-menu/__specs__/like-options-popover-menu.component.spec.ts
  libs/bite-tribe-common/bite/src/lib/like-options-popover-menu/like-options-popover-menu.component.ts
  libs/bite-tribe-common/bite/src/lib/likes/__specs__/likes.component.spec.ts
  libs/bite-tribe-common/bite/src/lib/likes/likes.component.html
  libs/bite-tribe-common/bite/src/lib/likes/likes.component.ts
  libs/bite-tribe-common/bite/src/lib/pipes/__specs__/count-likes.pipe.spec.ts
  libs/bite-tribe-common/bite/src/lib/pipes/count-likes.pipe.ts
  libs/bite-tribe-common/bite/src/lib/utils/like-counts.ts
  libs/bite-tribe-common/model/src/lib/bite.ts
  libs/bite-tribe/store/src/lib/bites/utils/__specs__/sort-bites-by-likes.spec.ts
  libs/bite-tribe/store/src/lib/bites/utils/sort-bites-by-likes.ts
  ssot/pages/Architecture - Firebase.md
  ssot/pages/Bite.md
  ssot/pages/Implementation - Firebase Functions.md
Due: eslint --fix, prettier --write

chore: increment build number
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: none

chore: increment build number (#920)
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: none

feat: track build and version per user
  apps/bite-tribe-firebase/functions/src/functions/update-user-metadata.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  libs/bite-tribe-common/model/src/lib/public-user.ts
  libs/bite-tribe/api/src/lib/__specs__/profile-api.service.spec.ts
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/api/src/lib/profile-api.service.ts
  libs/bite-tribe/shell/src/lib/__specs__/app-foreground.service.spec.ts
  libs/bite-tribe/shell/src/lib/app-foreground.service.ts
  libs/bite-tribe/store/src/lib/app/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/app/actions.ts
  libs/bite-tribe/store/src/lib/app/effects.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  ssot/pages/Architecture - Auth.md
  ssot/pages/Architecture - Firebase.md
  ssot/pages/Implementation - Firebase Functions.md
  ssot/pages/User.md
Due: eslint --fix, prettier --write
