Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,html}": "eslint --fix",
  "*.{ts,js,html,scss,json,md}": "prettier --write",
  "*.scss": "stylelint --fix"
}

test: add test and increase build version
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  libs/bite-tribe/details/data-access/src/lib/__specs__/details-data-access.service.spec.ts
Due: eslint --fix, prettier --write

fix(607): convert currency to preferred and distance calculation (#608)
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  libs/bite-tribe/details/data-access/jest.config.ts
  libs/bite-tribe/details/data-access/src/lib/__specs__/details-data-access.service.spec.ts
  libs/bite-tribe/details/data-access/src/lib/details-data-access.service.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/pipes/__specs__/calc-distance.pipe.spec.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/pipes/__specs__/convert-to-preferred-currency.pipe.spec.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/pipes/__specs__/time-ago.pipe.spec.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/pipes/calc-distance.pipe.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/pipes/convert-to-preferred-currency.pipe.ts
  libs/bite-tribe/details/page/src/lib/integration/__specs__/details.container.spec.ts
  libs/bite-tribe/details/page/src/lib/integration/details.container.ts
  libs/bite-tribe/details/page/src/lib/integration/details.service.ts
  libs/bite-tribe/store/src/lib/bites/utils/enrich-by-price-in-preferred-currency.ts
  libs/bite-tribe/store/src/lib/bites/utils/handle-max-price-filter.ts
  libs/common/geolocation/src/lib/geolocation.spec.ts
  libs/common/geolocation/src/lib/geolocation.ts
  libs/common/utils/src/index.ts
  libs/common/utils/src/lib/__specs__/get-bite-price-in-preferred-currency.spec.ts
  libs/common/utils/src/lib/get-bite-price-in-preferred-currency.ts
Due: eslint --fix, prettier --write

chore: align build version
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: none

chore: align build version (#609)
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: none

fix: fix
  libs/bite-tribe/details/data-access/src/lib/__specs__/details-data-access.service.spec.ts
  libs/bite-tribe/details/data-access/src/lib/details-data-access.service.ts
Due: eslint --fix, prettier --write

chore: increase build version
  apps/bite-tribe-android/android/app/build.gradle
Due: none

test: add test
  libs/bite-tribe/details/data-access/src/lib/__specs__/details-data-access.service.spec.ts
Due: eslint --fix, prettier --write

fix(610): fix exception on android (#611)
  apps/bite-tribe-android/android/app/build.gradle
  libs/bite-tribe/details/data-access/src/lib/__specs__/details-data-access.service.spec.ts
  libs/bite-tribe/details/data-access/src/lib/details-data-access.service.ts
Due: eslint --fix, prettier --write

feat: write image to file system
  libs/bite-tribe/api/src/lib/utils/write-blob-to-file-system.ts
Due: eslint --fix, prettier --write

feat: handle image upload for offline image
  libs/bite-tribe-common/model/src/index.ts
  libs/bite-tribe-common/model/src/lib/create-and-upload-bite-callback-params.ts
  libs/bite-tribe/api/src/lib/bite-api/bite-api.service.ts
  libs/bite-tribe/api/src/lib/bite-api/utils/replace-image-in-firestorestorage.ts
  libs/bite-tribe/api/src/lib/bite-api/utils/save-edited-bite.ts
  libs/bite-tribe/api/src/lib/bite-api/utils/upload-image-and-update-bite.ts
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/api/src/lib/profile-api.service.ts
  libs/bite-tribe/api/src/lib/utils/check-user-profile-image-and-mirror-to-firebase.ts
  libs/bite-tribe/api/src/lib/utils/upload-base64-to-firebase-storage.ts
  libs/bite-tribe/api/src/lib/utils/upload-blob-to-firebasestorage.ts
  libs/bite-tribe/store/src/lib/app/reducer.ts
  libs/bite-tribe/store/src/lib/bites/actions.ts
  libs/bite-tribe/store/src/lib/bites/effects.ts
Due: eslint --fix, prettier --write

refactor: remove distinction between native and web for writing to the filesystem
  libs/bite-tribe/api/src/lib/utils/check-user-profile-image-and-mirror-to-firebase.ts
  libs/bite-tribe/api/src/lib/utils/upload-base64-to-firebase-storage.ts
  libs/bite-tribe/api/src/lib/utils/upload-blob-to-firebasestorage.ts
Due: eslint --fix, prettier --write

style: add milky blur on uploading images
  libs/bite-tribe-common/bite/src/lib/__specs__/bite.stories.ts
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe-common/bite/src/lib/bite.component.scss
  libs/bite-tribe-common/bite/src/lib/bite.component.ts
  libs/bite-tribe/home/data-access/src/lib/home-data-access.service.ts
  libs/bite-tribe/home/page/src/index.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/home/page/src/lib/integration/bucket-list.container.ts
  libs/bite-tribe/home/page/src/lib/integration/home.container.ts
  libs/bite-tribe/home/page/src/lib/integration/home.service.ts
  libs/bite-tribe/home/page/src/lib/integration/my-bites.container.ts
  libs/bite-tribe/shell/src/lib/routes.ts
  libs/bite-tribe/store/src/lib/app/app-slice.model.ts
  libs/bite-tribe/store/src/lib/app/reducer.ts
  libs/bite-tribe/store/src/lib/app/selectors.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: remove upload state on successful upload
  libs/bite-tribe/store/src/lib/app/reducer.ts
Due: eslint --fix, prettier --write

feat: show offline image if upload is not finished yet
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe-common/bite/src/lib/bite.component.ts
  libs/bite-tribe-common/bite/src/lib/pipes/get-image.pipe.ts
  libs/bite-tribe-common/model/src/lib/create-and-upload-bite-callback-params.ts
  libs/bite-tribe/api/src/lib/bite-api/bite-api.service.ts
  libs/bite-tribe/api/src/lib/bite-api/utils/replace-image-in-firestorestorage.ts
  libs/bite-tribe/api/src/lib/bite-api/utils/save-edited-bite.ts
  libs/bite-tribe/api/src/lib/bite-api/utils/upload-image-and-update-bite.ts
  libs/bite-tribe/api/src/lib/profile-api.service.ts
  libs/bite-tribe/api/src/lib/utils/upload-base64-to-firebase-storage.ts
  libs/bite-tribe/api/src/lib/utils/upload-blob-to-firebasestorage.ts
  libs/bite-tribe/store/src/lib/app/reducer.ts
  libs/bite-tribe/store/src/lib/bites/actions.ts
  libs/bite-tribe/store/src/lib/bites/effects.ts
Due: eslint --fix, prettier --write

fix: fix error state of resources causing that details are not shown after clicks
  libs/bite-tribe-common/bite/src/index.ts
  libs/bite-tribe-common/bite/src/lib/pipes/get-image.pipe.ts
  libs/bite-tribe/details/data-access/src/lib/details-data-access.service.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.ts
  libs/bite-tribe/details/page/src/lib/integration/details.container.ts
  libs/bite-tribe/details/page/src/lib/integration/details.service.ts
Due: eslint --fix, prettier --write

fix: adjust reading gps position
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  libs/bite-tribe-common/bite/src/lib/__specs__/bite.stories.ts
  libs/bite-tribe/details/data-access/src/lib/details-data-access.service.ts
  libs/bite-tribe/store/src/lib/app/effects.ts
  libs/bite-tribe/store/src/lib/app/utils/dispatch-gps-position.ts
  libs/common/geolocation/src/lib/geolocation.ts
Due: eslint --fix, prettier --write

test: adjust and fix tests
  __mocks__/@capacitor/geolocation/index.ts
  libs/bite-tribe/api/src/lib/__specs__/profile-api.service.spec.ts
  libs/bite-tribe/api/src/lib/bite-api/__specs__/bite-api.service.spec.ts
  libs/bite-tribe/api/src/lib/bite-api/utils/__specs__/save-edited-bite.spec.ts
  libs/bite-tribe/api/src/lib/bite-api/utils/__specs__/upload-image-and-update-bite.spec.ts
  libs/bite-tribe/api/src/lib/utils/__specs__/check-user-profile-image-and-mirror-to-firebase.spec.ts
  libs/bite-tribe/api/src/lib/utils/__specs__/upload-bae64-to-firebasestorage.spec.ts
  libs/bite-tribe/api/src/lib/utils/__specs__/upload-base64-to-firebasestorage.spec.ts
  libs/common/geolocation/src/lib/geolocation.spec.ts
Due: eslint --fix, prettier --write

test: adjust tests
  libs/bite-tribe/details/data-access/src/lib/__specs__/details-data-access.service.spec.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.spec.ts
  libs/bite-tribe/home/data-access/src/lib/__specs__/home-data-access-service.spec.ts
  libs/bite-tribe/store/src/lib/app/__specs__/reducer.spec.ts
Due: eslint --fix, prettier --write

test: adjust tests
  libs/bite-tribe/details/page/src/lib/integration/__specs__/details.container.spec.ts
Due: eslint --fix, prettier --write

test: adjust tests
  libs/bite-tribe/details/data-access/src/lib/__specs__/details-data-access.service.spec.ts
Due: eslint --fix, prettier --write

test: add tests
  libs/bite-tribe/api/src/lib/utils/__specs__/upload-blob-to-firebasestorage.spec.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/bites/effects.ts
Due: eslint --fix, prettier --write

test: add tests
  libs/bite-tribe/api/src/lib/__specs__/bite-tribe-api.service.spec.ts
  libs/bite-tribe/api/src/lib/utils/__specs__/upload-blob-to-firebasestorage.spec.ts
  libs/bite-tribe/profile/data-access/src/lib/profile-data-access.service.ts
  libs/bite-tribe/store/src/lib/app/__specs__/selectors.spec.ts
  libs/bite-tribe/store/src/lib/app/selectors.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
Due: eslint --fix, prettier --write

test: adjust tests
  libs/bite-tribe/api/src/lib/utils/__specs__/upload-blob-to-firebasestorage.spec.ts
  libs/bite-tribe/profile/data-access/src/lib/__specs__/profile-data-access.service.spec.ts
Due: eslint --fix, prettier --write

test: add tests
  __mocks__/@capacitor/filesystem/index.ts
  libs/bite-tribe-common/bite/src/lib/pipes/__specs__/get-image.pipe.spec.ts
  libs/bite-tribe/store/src/lib/app/__specs__/reducer.spec.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/effects.spec.ts
Due: eslint --fix, prettier --write

test: add tests
  libs/bite-tribe/api/src/lib/bite-api/__specs__/bite-api.service.spec.ts
  libs/bite-tribe/api/src/lib/bite-api/bite-api.service.ts
Due: eslint --fix, prettier --write

fix: fix registration with email password and not showing error messages
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/common/ta-firestore/src/index.ts
  libs/common/ta-firestore/src/lib/auth.service.ts
  libs/common/ta-firestore/src/lib/ngrx-store/actions.ts
  libs/common/ta-firestore/src/lib/ngrx-store/effects.ts
  libs/common/ta-firestore/src/lib/ngrx-store/reducer.ts
  libs/common/ui/auth/src/lib/components/registration/registration.component.html
  libs/common/ui/auth/src/lib/components/registration/registration.component.ts
  libs/common/ui/auth/src/lib/integration/registration/registration-container.component.ts
  libs/common/ui/auth/src/lib/integration/registration/registration.service.ts
  libs/common/utils/src/lib/store.service.ts
Due: eslint --fix, prettier --write

chore: align version
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: none

test: adjust tests
  __mocks__/@capacitor-firebase/authentication/index.ts
  libs/common/ta-firestore/src/lib/__specs__/auth.service.spec.ts
  libs/common/ta-firestore/src/lib/ngrx-store/__specs__/effects.spec.ts
Due: eslint --fix, prettier --write

test: add tests
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/common/ui/auth/src/lib/components/registration/registration.component.ts
  libs/common/ui/auth/src/lib/integration/registration/__specs__/registration.service.spec.ts
  libs/common/ui/auth/src/lib/integration/registration/registration-container.component.ts
  libs/common/ui/auth/src/lib/integration/registration/registration.service.ts
  libs/common/utils/src/lib/store.service.ts
Due: eslint --fix, prettier --write

test: add and adjust tests
  libs/bite-tribe/store/src/lib/__specs__/bite-tribe-store.service.spec.ts
Due: eslint --fix, prettier --write

fix(617): fix registration with email password and not showing error messages (#620)
  __mocks__/@capacitor-firebase/authentication/index.ts
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  libs/bite-tribe/store/src/lib/__specs__/bite-tribe-store.service.spec.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/common/ta-firestore/src/index.ts
  libs/common/ta-firestore/src/lib/__specs__/auth.service.spec.ts
  libs/common/ta-firestore/src/lib/auth.service.ts
  libs/common/ta-firestore/src/lib/ngrx-store/__specs__/effects.spec.ts
  libs/common/ta-firestore/src/lib/ngrx-store/actions.ts
  libs/common/ta-firestore/src/lib/ngrx-store/effects.ts
  libs/common/ta-firestore/src/lib/ngrx-store/reducer.ts
  libs/common/ui/auth/src/lib/components/registration/registration.component.html
  libs/common/ui/auth/src/lib/components/registration/registration.component.ts
  libs/common/ui/auth/src/lib/integration/registration/__specs__/registration.service.spec.ts
  libs/common/ui/auth/src/lib/integration/registration/registration-container.component.ts
  libs/common/ui/auth/src/lib/integration/registration/registration.service.ts
  libs/common/utils/src/lib/store.service.ts
Due: eslint --fix, prettier --write

fix: fix not enabling save button after changing preferred currency
  libs/bite-tribe/settings/page/eslint.config.mjs
  libs/bite-tribe/settings/page/src/lib/components/page/__specs__/settings.component.spec.ts
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.html
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.ts
Due: eslint --fix, prettier --write

chore: increase build no to 65
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: none

fix(613): save button does not enable when preferred currency is changed (#621)
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  libs/bite-tribe/settings/page/eslint.config.mjs
  libs/bite-tribe/settings/page/src/lib/components/page/__specs__/settings.component.spec.ts
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.html
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.ts
Due: eslint --fix, prettier --write

feat: endpoint to handle wa.me link
  apps/bite-tribe-firebase/functions/src/functions/handle-shared-link-to-bite.ts
  apps/bite-tribe-firebase/functions/src/functions/model/bite.ts
  apps/bite-tribe-firebase/functions/src/functions/utils/render-html.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  firebase.json
Due: eslint --fix, prettier --write

feat: endpoint to handle wa.me link (#624)
  apps/bite-tribe-firebase/functions/src/functions/handle-shared-link-to-bite.ts
  apps/bite-tribe-firebase/functions/src/functions/model/bite.ts
  apps/bite-tribe-firebase/functions/src/functions/utils/render-html.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  firebase.json
Due: eslint --fix, prettier --write

fix: exclude shared link from sw domain
  .gitignore
  apps/bite-tribe/ngsw-config.json
Due: prettier --write

fix(625): exclude shared link from sw domain (#627)
  .gitignore
  apps/bite-tribe/ngsw-config.json
Due: prettier --write

feat: add share button to details page
  apps/bite-tribe-android/android/app/capacitor.build.gradle
  apps/bite-tribe-android/android/capacitor.settings.gradle
  apps/bite-tribe-android/package-lock.json
  apps/bite-tribe-android/package.json
  apps/bite-tribe-ios/ios/App/Podfile
  apps/bite-tribe-ios/ios/App/Podfile.lock
  apps/bite-tribe-ios/package-lock.json
  apps/bite-tribe-ios/package.json
  libs/bite-tribe/details/data-access/src/lib/details-data-access.service.ts
  libs/bite-tribe/details/page/eslint.config.mjs
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.spec.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.scss
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.ts
  libs/bite-tribe/details/page/src/lib/integration/details.container.ts
  libs/bite-tribe/details/page/src/lib/integration/details.service.ts
  libs/common/utils/src/lib/add-necessary-icons.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, stylelint --fix
