Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,html}": "eslint --fix",
  "*.{ts,js,html,scss,json,md}": "prettier --write",
  "*.scss": "stylelint --fix"
}

fix(functions): never write pending onto a non-pending restaurant candidate (#1497)
  apps/bite-tribe-firebase/functions/src/functions/restaurants/__specs__/cluster-restaurant-candidate-for-bite.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/__specs__/create-restaurant-candidate-on-bite-create.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/__specs__/restaurant-candidate-workflow.emulator-spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/cluster-restaurant-candidate-for-bite.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/create-restaurant-candidate-on-bite-create.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/restaurant-candidate-store.ts
  libs/bite-tribe-admin/migrations/data-access/src/lib/migrations-data-access.service.ts
  ssot/use-cases/uc-detect-restaurant-candidate.md
  ssot/use-cases/uc-dismiss-restaurant-candidate.md
  ssot/use-cases/uc-verify-restaurant-candidate.md
Due: eslint --fix, prettier --write

fix(bite-tribe-ios): declare only the purpose strings the app requests (#1607)
  apps/bite-tribe-ios/ios/App/App/Info.plist
  apps/bite-tribe-ios/ios/App/App/am.lproj/InfoPlist.strings
  apps/bite-tribe-ios/ios/App/App/ar.lproj/InfoPlist.strings
  apps/bite-tribe-ios/ios/App/App/de.lproj/InfoPlist.strings
  apps/bite-tribe-ios/ios/App/App/en.lproj/InfoPlist.strings
  apps/bite-tribe-ios/ios/App/App/es.lproj/InfoPlist.strings
  apps/bite-tribe-ios/ios/App/App/fr.lproj/InfoPlist.strings
  apps/bite-tribe-ios/ios/App/App/id.lproj/InfoPlist.strings
  apps/bite-tribe-ios/ios/App/App/it.lproj/InfoPlist.strings
  apps/bite-tribe-ios/ios/App/App/pt.lproj/InfoPlist.strings
  apps/bite-tribe-ios/ios/App/App/th.lproj/InfoPlist.strings
  apps/bite-tribe-ios/ios/App/App/tr.lproj/InfoPlist.strings
  ssot/use-cases/uc-guide-new-users-after-registration.md
Due: prettier --write

fix(bite-tribe/restaurant): show the menu label in light mode and link the Bites from the rating count (#1696) (#1697)
  .loki/reference/chrome_iphone7_Pages_Restaurant_Unverified_Restaurant_With_Rated_Bites.png
  .loki/reference/chrome_iphone7_Pages_Restaurant_Unverified_Restaurant_Without_Rated_Bites.png
  .loki/reference/chrome_iphone7_Pages_Restaurant_Verified_Restaurant_Full_Maintained.png
  .loki/reference/chrome_iphone7_Pages_Restaurant_Verified_Restaurant_Loading.png
  .loki/reference/chrome_iphone7_Pages_Restaurant_Verified_Restaurant_Registered.png
  .loki/reference/chrome_iphone7_Pages_Restaurant_Verified_Restaurant_Registered_With_Social_Media_Links.png
  .loki/reference/chrome_iphone7_Pages_Restaurant_Verified_Restaurant_Registered_Without_Menu.png
  .loki/reference/chrome_laptop_Pages_Restaurant_Unverified_Restaurant_With_Rated_Bites.png
  .loki/reference/chrome_laptop_Pages_Restaurant_Unverified_Restaurant_Without_Rated_Bites.png
  .loki/reference/chrome_laptop_Pages_Restaurant_Verified_Restaurant_Full_Maintained.png
  .loki/reference/chrome_laptop_Pages_Restaurant_Verified_Restaurant_Loading.png
  .loki/reference/chrome_laptop_Pages_Restaurant_Verified_Restaurant_Registered.png
  .loki/reference/chrome_laptop_Pages_Restaurant_Verified_Restaurant_Registered_With_Social_Media_Links.png
  .loki/reference/chrome_laptop_Pages_Restaurant_Verified_Restaurant_Registered_Without_Menu.png
  apps/bite-tribe-e2e/src/pages/restaurant.page.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/bite-place/__specs__/bite-place.component.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/bite-place/bite-place.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/page/bite-place/bite-place.component.scss
  libs/bite-tribe/restaurant/page/src/lib/components/page/bite-place/bite-place.component.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant/__specs__/restaurant.component.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant/restaurant.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant/restaurant.component.scss
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant/restaurant.component.ts
  ssot/implementation/ionic-patterns.md
  ssot/use-cases/uc-browse-restaurants-and-places.md
Due: eslint --fix, prettier --write, stylelint --fix

fix(functions): never write pending onto a non-pending restaurant candidate (#1497) (#1698)
  apps/bite-tribe-firebase/functions/src/functions/restaurants/__specs__/cluster-restaurant-candidate-for-bite.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/__specs__/create-restaurant-candidate-on-bite-create.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/__specs__/restaurant-candidate-workflow.emulator-spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/cluster-restaurant-candidate-for-bite.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/create-restaurant-candidate-on-bite-create.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/restaurant-candidate-store.ts
  libs/bite-tribe-admin/migrations/data-access/src/lib/migrations-data-access.service.ts
  ssot/use-cases/uc-detect-restaurant-candidate.md
  ssot/use-cases/uc-dismiss-restaurant-candidate.md
  ssot/use-cases/uc-verify-restaurant-candidate.md
Due: eslint --fix, prettier --write

docs: publish the street food comic Instagram post (#913)
  ssot/assets/social/street-food-comic-post.png
  ssot/implementation/social-media-channels.md
Due: prettier --write

docs: publish the street food comic Instagram post (#913) (#1700)
  ssot/assets/social/street-food-comic-post.png
  ssot/implementation/social-media-channels.md
Due: prettier --write

fix(bite-tribe-ios): declare only the purpose strings the app requests (#1607) (#1699)
  apps/bite-tribe-ios/ios/App/App/Info.plist
  apps/bite-tribe-ios/ios/App/App/am.lproj/InfoPlist.strings
  apps/bite-tribe-ios/ios/App/App/ar.lproj/InfoPlist.strings
  apps/bite-tribe-ios/ios/App/App/de.lproj/InfoPlist.strings
  apps/bite-tribe-ios/ios/App/App/en.lproj/InfoPlist.strings
  apps/bite-tribe-ios/ios/App/App/es.lproj/InfoPlist.strings
  apps/bite-tribe-ios/ios/App/App/fr.lproj/InfoPlist.strings
  apps/bite-tribe-ios/ios/App/App/id.lproj/InfoPlist.strings
  apps/bite-tribe-ios/ios/App/App/it.lproj/InfoPlist.strings
  apps/bite-tribe-ios/ios/App/App/pt.lproj/InfoPlist.strings
  apps/bite-tribe-ios/ios/App/App/th.lproj/InfoPlist.strings
  apps/bite-tribe-ios/ios/App/App/tr.lproj/InfoPlist.strings
  ssot/use-cases/uc-guide-new-users-after-registration.md
Due: prettier --write

fix(functions): verification keeps a Bite's chosen restaurant (#1498)
  apps/bite-tribe-firebase/functions/src/functions/restaurants/__specs__/restaurant-candidate-workflow.emulator-spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/__specs__/verify-restaurant-candidate.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/verify-restaurant-candidate.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/model/restaurant-candidate.ts
  libs/bite-tribe-common/model/src/lib/restaurant-candidate.ts
  ssot/domain/restaurant.md
  ssot/use-cases/uc-verify-restaurant-candidate.md
Due: eslint --fix, prettier --write

fix(functions): verification keeps a Bite's chosen restaurant (#1498) (#1701)
  apps/bite-tribe-firebase/functions/src/functions/restaurants/__specs__/restaurant-candidate-workflow.emulator-spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/__specs__/verify-restaurant-candidate.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/verify-restaurant-candidate.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/model/restaurant-candidate.ts
  libs/bite-tribe-common/model/src/lib/restaurant-candidate.ts
  ssot/domain/restaurant.md
  ssot/use-cases/uc-verify-restaurant-candidate.md
Due: eslint --fix, prettier --write

fix(support): Adadpted build pipeline to fail if ssot check fails (#1693)
  .github/workflows/pipeline.yml
  tools/README.md
Due: prettier --write

fix(bite-tribe): read a scanned menu without finishing onboarding first (#1654)
  libs/bite-tribe/onboarding/guards/README.md
  libs/bite-tribe/onboarding/guards/src/index.ts
  libs/bite-tribe/onboarding/guards/src/lib/__specs__/public-menu.guard.spec.ts
  libs/bite-tribe/onboarding/guards/src/lib/onboarding-release.ts
  libs/bite-tribe/onboarding/guards/src/lib/onboarding.guard.ts
  libs/bite-tribe/onboarding/guards/src/lib/public-menu.guard.ts
  libs/bite-tribe/shell/src/lib/routes.ts
  libs/bite-tribe/store/src/lib/utils/restaurant-menu.guard.ts
  ssot/use-cases/uc-view-restaurant-menus.md
Due: eslint --fix, prettier --write

docs: extract Leela from the street food comic as BiteTribe's main character
  ssot/assets/characters/leela/leela-arrives.png
  ssot/assets/characters/leela/leela-cant-choose.png
  ssot/assets/characters/leela/leela-gets-the-dish.png
  ssot/assets/characters/leela/leela-reference-sheet.png
  ssot/current-state/open-questions.md
  ssot/implementation/brand-characters.md
  ssot/implementation/social-media-channels.md
Due: prettier --write

fix(bite-tribe): read a scanned menu without finishing onboarding first (#1654) (#1702)
  libs/bite-tribe/onboarding/guards/README.md
  libs/bite-tribe/onboarding/guards/src/index.ts
  libs/bite-tribe/onboarding/guards/src/lib/__specs__/public-menu.guard.spec.ts
  libs/bite-tribe/onboarding/guards/src/lib/onboarding-release.ts
  libs/bite-tribe/onboarding/guards/src/lib/onboarding.guard.ts
  libs/bite-tribe/onboarding/guards/src/lib/public-menu.guard.ts
  libs/bite-tribe/shell/src/lib/routes.ts
  libs/bite-tribe/store/src/lib/utils/restaurant-menu.guard.ts
  ssot/use-cases/uc-view-restaurant-menus.md
Due: eslint --fix, prettier --write

docs: extract Leela from the street food comic as BiteTribe's main character (#1703)
  ssot/assets/characters/leela/leela-arrives.png
  ssot/assets/characters/leela/leela-cant-choose.png
  ssot/assets/characters/leela/leela-gets-the-dish.png
  ssot/assets/characters/leela/leela-reference-sheet.png
  ssot/current-state/open-questions.md
  ssot/implementation/brand-characters.md
  ssot/implementation/social-media-channels.md
Due: prettier --write

fix(bite-tribe): show a restaurant when the device reports no GPS position (#1653)
  libs/bite-tribe-business/floor-plan/page/src/lib/integration/floor-plan.service.ts
  libs/bite-tribe-business/floor-plan/page/src/lib/integration/table-qr-sheets.service.ts
  libs/bite-tribe-business/staff/data-access/src/lib/restaurant-staff-data-access.service.ts
  libs/bite-tribe-business/table-management/page/src/lib/integration/table-plan.service.ts
  libs/bite-tribe/menu/data-access/src/lib/__specs__/menu-data-access.service.spec.ts
  libs/bite-tribe/menu/data-access/src/lib/menu-data-access.service.ts
  libs/bite-tribe/store/src/lib/restaurants/__specs__/selectors.spec.ts
  libs/bite-tribe/store/src/lib/restaurants/selectors.ts
  ssot/current-state/known-issues.md
  ssot/use-cases/uc-maintain-restaurants-in-the-business-app.md
  ssot/use-cases/uc-view-restaurant-menus.md
Due: eslint --fix, prettier --write

fix(bite-tribe): show a restaurant when the device reports no GPS position (#1653) (#1704)
  libs/bite-tribe-business/floor-plan/page/src/lib/integration/floor-plan.service.ts
  libs/bite-tribe-business/floor-plan/page/src/lib/integration/table-qr-sheets.service.ts
  libs/bite-tribe-business/staff/data-access/src/lib/restaurant-staff-data-access.service.ts
  libs/bite-tribe-business/table-management/page/src/lib/integration/table-plan.service.ts
  libs/bite-tribe/menu/data-access/src/lib/__specs__/menu-data-access.service.spec.ts
  libs/bite-tribe/menu/data-access/src/lib/menu-data-access.service.ts
  libs/bite-tribe/store/src/lib/restaurants/__specs__/selectors.spec.ts
  libs/bite-tribe/store/src/lib/restaurants/selectors.ts
  ssot/current-state/known-issues.md
  ssot/use-cases/uc-maintain-restaurants-in-the-business-app.md
  ssot/use-cases/uc-view-restaurant-menus.md
Due: eslint --fix, prettier --write

feat(bite-tribe-admin): link nearby Bites when an Operator creates a Restaurant from a bare place (#1631)
  libs/bite-tribe-admin/restaurants/data-access/src/lib/__specs__/restaurants-data-access.service.spec.ts
  libs/bite-tribe-admin/restaurants/data-access/src/lib/restaurants-data-access.service.ts
  libs/bite-tribe-admin/restaurants/page/src/lib/component/bite-places/bite-places.ts
  libs/bite-tribe-admin/restaurants/page/src/lib/integration/__specs__/restaurants.service.spec.ts
  libs/bite-tribe-admin/restaurants/page/src/lib/integration/restaurants.service.ts
  libs/bite-tribe/api/src/lib/restaurant-api/__specs__/restaurant-api.service.spec.ts
  libs/bite-tribe/api/src/lib/restaurant-api/restaurant-api.service.ts
  ssot/use-cases/uc-detect-restaurant-candidate.md
  ssot/use-cases/uc-manage-a-bites-restaurant-assignment.md
  ssot/use-cases/uc-verify-restaurant-candidate.md
Due: eslint --fix, prettier --write

feat(bite-tribe-admin): link nearby Bites when an Operator creates a Restaurant from a bare place (#1631) (#1705)
  libs/bite-tribe-admin/restaurants/data-access/src/lib/__specs__/restaurants-data-access.service.spec.ts
  libs/bite-tribe-admin/restaurants/data-access/src/lib/restaurants-data-access.service.ts
  libs/bite-tribe-admin/restaurants/page/src/lib/component/bite-places/bite-places.ts
  libs/bite-tribe-admin/restaurants/page/src/lib/integration/__specs__/restaurants.service.spec.ts
  libs/bite-tribe-admin/restaurants/page/src/lib/integration/restaurants.service.ts
  libs/bite-tribe/api/src/lib/restaurant-api/__specs__/restaurant-api.service.spec.ts
  libs/bite-tribe/api/src/lib/restaurant-api/restaurant-api.service.ts
  ssot/use-cases/uc-detect-restaurant-candidate.md
  ssot/use-cases/uc-manage-a-bites-restaurant-assignment.md
  ssot/use-cases/uc-verify-restaurant-candidate.md
Due: eslint --fix, prettier --write

fix: leave Meta link-preview crawlers out of the web funnel and App Check tile (#1709)
  libs/common/ta-firestore/src/lib/analytics/__specs__/analytics-events.spec.ts
  ssot/implementation/analytics-events.md
  ssot/operations/analytics-operations.md
  tools/analytics/README.md
  tools/analytics/cohorts.mjs
  tools/analytics/crawlers.config.mjs
  tools/analytics/dashboard.config.mjs
  tools/analytics/digest.mjs
  tools/analytics/ga4.mjs
  tools/analytics/queries/activation-funnel.sql
  tools/analytics/queries/retention-cohorts.sql
Due: eslint --fix, prettier --write

fix: leave Meta link-preview crawlers out of the web funnel and App Check tile (#1709) (#1710)
  libs/common/ta-firestore/src/lib/analytics/__specs__/analytics-events.spec.ts
  ssot/implementation/analytics-events.md
  ssot/operations/analytics-operations.md
  tools/analytics/README.md
  tools/analytics/cohorts.mjs
  tools/analytics/crawlers.config.mjs
  tools/analytics/dashboard.config.mjs
  tools/analytics/digest.mjs
  tools/analytics/ga4.mjs
  tools/analytics/queries/activation-funnel.sql
  tools/analytics/queries/retention-cohorts.sql
Due: eslint --fix, prettier --write

feat(bite-tribe-start): pitch the app and lead with sign-up on the web start page (#1706)
  .loki/reference/chrome_iphone7_Pages_Start_Native.png
  .loki/reference/chrome_iphone7_Pages_Start_Primary.png
  .loki/reference/chrome_laptop_Pages_Start_Native.png
  .loki/reference/chrome_laptop_Pages_Start_Primary.png
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  apps/bite-tribe/src/assets/start/bites-around-you.jpg
  libs/bite-tribe/start/src/lib/__specs__/start.component.spec.ts
  libs/bite-tribe/start/src/lib/__specs__/start.stories.ts
  libs/bite-tribe/start/src/lib/start.component.html
  libs/bite-tribe/start/src/lib/start.component.scss
  libs/bite-tribe/start/src/lib/start.component.ts
  ssot/implementation/store-listing-assets.md
Due: eslint --fix, prettier --write, stylelint --fix

feat(bite-tribe-start): pitch the app and lead with sign-up on the web start page (#1706) (#1711)
  .loki/reference/chrome_iphone7_Pages_Start_Native.png
  .loki/reference/chrome_iphone7_Pages_Start_Primary.png
  .loki/reference/chrome_laptop_Pages_Start_Native.png
  .loki/reference/chrome_laptop_Pages_Start_Primary.png
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  apps/bite-tribe/src/assets/start/bites-around-you.jpg
  libs/bite-tribe/start/src/lib/__specs__/start.component.spec.ts
  libs/bite-tribe/start/src/lib/__specs__/start.stories.ts
  libs/bite-tribe/start/src/lib/start.component.html
  libs/bite-tribe/start/src/lib/start.component.scss
  libs/bite-tribe/start/src/lib/start.component.ts
  ssot/implementation/store-listing-assets.md
Due: eslint --fix, prettier --write, stylelint --fix

docs: add the Istanbul comic post, where Leela passes her Bites to a friend
  ssot/assets/social/istanbul-comic-post.png
  ssot/implementation/social-media-channels.md
Due: prettier --write

feat(functions): send new users a follow-up email with hand-picked Bites and people the day after sign-up (#1707)
  apps/bite-tribe-firebase/firestore.rules
  apps/bite-tribe-firebase/functions/src/__specs__/callable-authorization.spec.ts
  apps/bite-tribe-firebase/functions/src/firestore-rules/__specs__/firestore-rules.emulator-spec.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/am.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/ar.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/de.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/en.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/es.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/fr.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/id.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/it.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/pt.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/th.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/tr.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/notification-messages.ts
  apps/bite-tribe-firebase/functions/src/functions/users/__specs__/delete-own-account.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/users/__specs__/fake-firestore.ts
  apps/bite-tribe-firebase/functions/src/functions/users/__specs__/handle-email-unsubscribe.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/users/__specs__/new-user-follow-up-email.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/users/__specs__/send-new-user-follow-ups.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/users/delete-own-account.ts
  apps/bite-tribe-firebase/functions/src/functions/users/email-opt-out.ts
  apps/bite-tribe-firebase/functions/src/functions/users/google-workspace-email.ts
  apps/bite-tribe-firebase/functions/src/functions/users/handle-email-unsubscribe.ts
  apps/bite-tribe-firebase/functions/src/functions/users/new-user-follow-up-email.ts
  apps/bite-tribe-firebase/functions/src/functions/users/new-user-follow-up-picks.ts
  apps/bite-tribe-firebase/functions/src/functions/users/send-new-user-follow-ups.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  firebase.json
  ssot/architecture/firebase.md
  ssot/domain/user.md
  ssot/implementation/firebase-functions.md
  ssot/use-cases/uc-guide-new-users-after-registration.md
  ssot/use-cases/uc-use-account-and-legal-flows.md
Due: eslint --fix, prettier --write

feat(functions): send a monitor copy of the new-user follow-up after every run (#1707)
  apps/bite-tribe-firebase/functions/src/functions/users/__specs__/send-new-user-follow-ups.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/users/new-user-follow-up-picks.ts
  apps/bite-tribe-firebase/functions/src/functions/users/send-new-user-follow-ups.ts
  ssot/use-cases/uc-guide-new-users-after-registration.md
Due: eslint --fix, prettier --write

feat(bite-tribe-start): continue with Google or Apple from the start page (#1714)
  .loki/reference/chrome_iphone7_Pages_Start_Native.png
  .loki/reference/chrome_iphone7_Pages_Start_Native_Android.png
  .loki/reference/chrome_iphone7_Pages_Start_Primary.png
  .loki/reference/chrome_laptop_Pages_Start_Native.png
  .loki/reference/chrome_laptop_Pages_Start_Native_Android.png
  .loki/reference/chrome_laptop_Pages_Start_Primary.png
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/start/src/lib/__specs__/start.component.spec.ts
  libs/bite-tribe/start/src/lib/__specs__/start.stories.ts
  libs/bite-tribe/start/src/lib/start.component.html
  libs/bite-tribe/start/src/lib/start.component.scss
  libs/bite-tribe/start/src/lib/start.component.ts
  ssot/architecture/auth.md
Due: eslint --fix, prettier --write, stylelint --fix

feat(functions): send new users a follow-up email with hand-picked Bites and people the day after sign-up (#1707) (#1713)
  apps/bite-tribe-firebase/firestore.rules
  apps/bite-tribe-firebase/functions/src/__specs__/callable-authorization.spec.ts
  apps/bite-tribe-firebase/functions/src/firestore-rules/__specs__/firestore-rules.emulator-spec.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/am.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/ar.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/de.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/en.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/es.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/fr.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/id.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/it.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/pt.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/th.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/messages/tr.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/i18n/notification-messages.ts
  apps/bite-tribe-firebase/functions/src/functions/users/__specs__/delete-own-account.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/users/__specs__/fake-firestore.ts
  apps/bite-tribe-firebase/functions/src/functions/users/__specs__/handle-email-unsubscribe.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/users/__specs__/new-user-follow-up-email.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/users/__specs__/send-new-user-follow-ups.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/users/delete-own-account.ts
  apps/bite-tribe-firebase/functions/src/functions/users/email-opt-out.ts
  apps/bite-tribe-firebase/functions/src/functions/users/google-workspace-email.ts
  apps/bite-tribe-firebase/functions/src/functions/users/handle-email-unsubscribe.ts
  apps/bite-tribe-firebase/functions/src/functions/users/new-user-follow-up-email.ts
  apps/bite-tribe-firebase/functions/src/functions/users/new-user-follow-up-picks.ts
  apps/bite-tribe-firebase/functions/src/functions/users/send-new-user-follow-ups.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  firebase.json
  ssot/architecture/firebase.md
  ssot/domain/user.md
  ssot/implementation/firebase-functions.md
  ssot/use-cases/uc-guide-new-users-after-registration.md
  ssot/use-cases/uc-use-account-and-legal-flows.md
Due: eslint --fix, prettier --write

feat(bite-tribe-start): continue with Google or Apple from the start page (#1714) (#1715)
  .loki/reference/chrome_iphone7_Pages_Start_Native.png
  .loki/reference/chrome_iphone7_Pages_Start_Native_Android.png
  .loki/reference/chrome_iphone7_Pages_Start_Primary.png
  .loki/reference/chrome_laptop_Pages_Start_Native.png
  .loki/reference/chrome_laptop_Pages_Start_Native_Android.png
  .loki/reference/chrome_laptop_Pages_Start_Primary.png
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/start/src/lib/__specs__/start.component.spec.ts
  libs/bite-tribe/start/src/lib/__specs__/start.stories.ts
  libs/bite-tribe/start/src/lib/start.component.html
  libs/bite-tribe/start/src/lib/start.component.scss
  libs/bite-tribe/start/src/lib/start.component.ts
  ssot/architecture/auth.md
Due: eslint --fix, prettier --write, stylelint --fix

fix(bite-tribe/bite): clear a moved Bite's old address when saving an edit
  libs/bite-tribe/bite/page/src/lib/integration/__specs__/bite.service.spec.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite-address.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite.service.ts
Due: eslint --fix, prettier --write

fix(functions): re-derive a Bite's address and geohash when an edit moves it
  apps/bite-tribe-firebase/functions/src/functions/bites/__specs__/enrich-bite-address-on-create.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/bites/__specs__/enrich-bite-address-on-write.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/bites/enrich-bite-address-on-create.ts
  apps/bite-tribe-firebase/functions/src/functions/bites/enrich-bite-address-on-write.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/model/bite.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  ssot/domain/bite.md
  ssot/implementation/firebase-functions.md
  ssot/use-cases/uc-receive-app-notifications-and-engagement-updates.md
Due: eslint --fix, prettier --write

fix(functions): re-derive a Bite's address and geohash when an edit moves it (#1716)
  apps/bite-tribe-firebase/functions/src/functions/bites/__specs__/enrich-bite-address-on-create.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/bites/__specs__/enrich-bite-address-on-write.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/bites/enrich-bite-address-on-create.ts
  apps/bite-tribe-firebase/functions/src/functions/bites/enrich-bite-address-on-write.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/model/bite.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  libs/bite-tribe/bite/page/src/lib/integration/__specs__/bite.service.spec.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite-address.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite.service.ts
  ssot/domain/bite.md
  ssot/implementation/firebase-functions.md
  ssot/use-cases/uc-receive-app-notifications-and-engagement-updates.md
Due: eslint --fix, prettier --write

doc(support): Adapt firebase document according to google mail
  ssot/architecture/firebase.md
Due: prettier --write

fix(bite-tribe): hide non-listable bites from the latest-bites listener (#1717)
  libs/bite-tribe/api/src/lib/bite-api/__specs__/bite-api.service.spec.ts
  libs/bite-tribe/api/src/lib/bite-api/bite-api.service.ts
Due: eslint --fix, prettier --write

test(bite-tribe-e2e): seed the verified-restaurant Bite as uploaded (#1717)
  apps/bite-tribe-e2e/src/tests/create-and-edit-bite.spec.ts
  ssot/domain/bite.md
Due: eslint --fix, prettier --write

fix(functions): verification returns the restaurant a candidate already names (#1521)
  apps/bite-tribe-firebase/functions/src/functions/restaurants/__specs__/restaurant-candidate-workflow.emulator-spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/__specs__/verify-restaurant-candidate.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/verify-restaurant-candidate.ts
  ssot/implementation/firebase-functions.md
  ssot/use-cases/uc-verify-restaurant-candidate.md
Due: eslint --fix, prettier --write

fix(functions): verification returns the restaurant a candidate already names (#1521) (#1721)
  apps/bite-tribe-firebase/functions/src/functions/restaurants/__specs__/restaurant-candidate-workflow.emulator-spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/__specs__/verify-restaurant-candidate.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/verify-restaurant-candidate.ts
  ssot/implementation/firebase-functions.md
  ssot/use-cases/uc-verify-restaurant-candidate.md
Due: eslint --fix, prettier --write

fix(functions): stop caching email addresses in the leaderboard snapshots (#1611)
  apps/bite-tribe-firebase/functions/src/firestore-rules/__specs__/leaderboard-email.emulator-spec.ts
  apps/bite-tribe-firebase/functions/src/functions/leaderboard/load-leaderboard.ts
  apps/bite-tribe-firebase/functions/src/functions/leaderboard/send-daily-leaderboard-notification.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/__specs__/leaderboard.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/shared/utils/leaderboard.ts
  apps/bite-tribe-firebase/functions/src/functions/users/__specs__/delete-own-account.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/users/delete-own-account.ts
  libs/bite-tribe/leaderboard/data-access/src/lib/__specs__/leaderboard-data-access.service.spec.ts
  libs/bite-tribe/leaderboard/data-access/src/lib/leaderboard-data-access.service.ts
  libs/bite-tribe/leaderboard/page/src/lib/components/leaderboard-list/__specs__/leaderboard-list.component.spec.ts
  libs/bite-tribe/leaderboard/page/src/lib/integration/__specs__/leaderboard.service.spec.ts
  ssot/current-state/open-questions.md
  ssot/decisions/recorded-decisions.md
  ssot/implementation/firebase-functions.md
  ssot/use-cases/uc-use-account-and-legal-flows.md
  ssot/use-cases/uc-use-gamification-signals.md
Due: eslint --fix, prettier --write

test(bite-tribe-e2e): seed the leaderboard snapshot without email (#1611)
  apps/bite-tribe-e2e/src/tests/leaderboard.spec.ts
Due: eslint --fix, prettier --write
