Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,html}": "eslint --fix",
  "*.{ts,js,html,scss,json,md}": "prettier --write",
  "*.scss": "stylelint --fix"
}

test: fix test
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
Due: eslint --fix, prettier --write

feat: define latitude and longitude fields in restaurant form
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/restaurant-page.component.html
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/restaurant-page.component.ts
Due: eslint --fix, prettier --write

feat: implement create restaurant
  apps/bite-tribe-business/project.json
  apps/bite-tribe-business/src/global.scss
  libs/bite-tribe-business/dashboard/page/src/lib/component/page/dashboard.component.html
  libs/bite-tribe-business/restaurant/data-access/src/lib/restaurant-data-access.service.ts
  libs/bite-tribe-business/restaurant/page/src/lib/components/page/restaurant-page.component.ts
  libs/bite-tribe-business/restaurant/page/src/lib/integration/restaurant-container.component.ts
  libs/bite-tribe-business/restaurant/page/src/lib/integration/restaurant.service.ts
  libs/bite-tribe-common/styles/_globals.scss
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/restaurants/actions.ts
  libs/bite-tribe/store/src/lib/restaurants/effects.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: fix tests
  libs/bite-tribe-common/bite/jest.config.ts
  libs/common/image-compression/jest.config.ts
Due: eslint --fix, prettier --write

chore: fix tests
  libs/bite-tribe-common/bite/src/lib/__specs__/bite.component.spec.ts
Due: eslint --fix, prettier --write

test: extend test suite
  libs/common/image-compression/src/lib/__specs__/compress-file.spec.ts
Due: eslint --fix, prettier --write

refactor: split functions
  libs/common/image-compression/src/index.ts
  libs/common/image-compression/src/lib/__specs__/compress-file.spec.ts
  libs/common/image-compression/src/lib/__specs__/compress-with-canvas.spec.ts
  libs/common/image-compression/src/lib/__specs__/resize-retaining-aspect-ratio.spec.ts
  libs/common/image-compression/src/lib/compress-file.ts
  libs/common/image-compression/src/lib/compress-with-canvas.ts
  libs/common/image-compression/src/lib/resize-retaining-aspect-ratio.ts
Due: eslint --fix, prettier --write

ci: continue on prices e2e fail
  .github/workflows/pipeline.yml
Due: none

refactor: introduce link-title class
  apps/bite-tribe/project.json
  apps/bite-tribe/src/global.scss
  libs/bite-tribe-business/dashboard/page/src/lib/component/restaurant/restaurant.component.html
  libs/bite-tribe-business/dashboard/page/src/lib/component/restaurant/restaurant.component.scss
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe-common/bite/src/lib/bite.component.scss
  libs/bite-tribe-common/styles/_globals.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: start edit menu page
  libs/bite-tribe-business/dashboard/page/src/lib/component/restaurant/restaurant.component.html
  libs/bite-tribe-business/dashboard/page/src/lib/integration/dashboard-container.component.ts
  libs/bite-tribe-business/dashboard/page/src/lib/integration/dashboard.service.ts
  libs/bite-tribe-business/shell/src/lib/routes.ts
  libs/bite-tribe/home/page/src/lib/integration/home.service.ts
  libs/bite-tribe/menu/page/src/index.ts
  libs/bite-tribe/menu/page/src/lib/components/add-category/add-category.component.html
  libs/bite-tribe/menu/page/src/lib/components/add-category/add-category.component.scss
  libs/bite-tribe/menu/page/src/lib/components/add-category/add-category.component.ts
  libs/bite-tribe/menu/page/src/lib/components/menu/menu.component.html
  libs/bite-tribe/menu/page/src/lib/components/menu/menu.component.ts
  libs/bite-tribe/menu/page/src/lib/components/page/menu-page.component.html
  libs/bite-tribe/menu/page/src/lib/components/page/menu-page.component.ts
  libs/bite-tribe/menu/page/src/lib/integration/menu-edit-container.component.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/restaurant.service.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: create category and menu items (business)
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/menu/data-access/src/lib/menu-data-access.service.ts
  libs/bite-tribe/menu/page/src/lib/components/add-category/add-category.component.html
  libs/bite-tribe/menu/page/src/lib/components/add-item/add-item.component.html
  libs/bite-tribe/menu/page/src/lib/components/add-item/add-item.component.scss
  libs/bite-tribe/menu/page/src/lib/components/add-item/add-item.component.ts
  libs/bite-tribe/menu/page/src/lib/components/category/category.component.html
  libs/bite-tribe/menu/page/src/lib/components/category/category.component.scss
  libs/bite-tribe/menu/page/src/lib/components/category/category.component.ts
  libs/bite-tribe/menu/page/src/lib/components/menu/menu.component.html
  libs/bite-tribe/menu/page/src/lib/components/menu/menu.component.scss
  libs/bite-tribe/menu/page/src/lib/components/menu/menu.component.ts
  libs/bite-tribe/menu/page/src/lib/components/page/menu-page.component.html
  libs/bite-tribe/menu/page/src/lib/components/page/menu-page.component.ts
  libs/bite-tribe/menu/page/src/lib/integration/menu-edit-container.component.ts
  libs/bite-tribe/menu/page/src/lib/integration/menu.service.ts
  libs/bite-tribe/model/src/lib/menu.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/menus/actions.ts
  libs/bite-tribe/store/src/lib/menus/effects.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: clean up, styling and cancel buttons
  libs/bite-tribe-common/styles/_globals.scss
  libs/bite-tribe/menu/page/src/lib/components/add-category/add-category.component.html
  libs/bite-tribe/menu/page/src/lib/components/add-category/add-category.component.ts
  libs/bite-tribe/menu/page/src/lib/components/add-item/add-item.component.html
  libs/bite-tribe/menu/page/src/lib/components/add-item/add-item.component.ts
  libs/bite-tribe/menu/page/src/lib/components/category/category.component.html
  libs/bite-tribe/menu/page/src/lib/components/category/category.component.scss
  libs/bite-tribe/menu/page/src/lib/components/category/category.component.ts
  libs/bite-tribe/menu/page/src/lib/components/menu-item/menu-item.component.html
  libs/bite-tribe/menu/page/src/lib/components/menu-item/menu-item.component.scss
  libs/bite-tribe/menu/page/src/lib/components/menu-item/menu-item.component.ts
  libs/bite-tribe/menu/page/src/lib/components/menu/menu.component.html
  libs/bite-tribe/menu/page/src/lib/components/menu/menu.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

313 maintain menu feature (#317)
  apps/bite-tribe/project.json
  apps/bite-tribe/src/global.scss
  libs/bite-tribe-business/dashboard/page/src/lib/component/restaurant/restaurant.component.html
  libs/bite-tribe-business/dashboard/page/src/lib/component/restaurant/restaurant.component.scss
  libs/bite-tribe-business/dashboard/page/src/lib/integration/dashboard-container.component.ts
  libs/bite-tribe-business/dashboard/page/src/lib/integration/dashboard.service.ts
  libs/bite-tribe-business/shell/src/lib/routes.ts
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe-common/bite/src/lib/bite.component.scss
  libs/bite-tribe-common/styles/_globals.scss
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/home/page/src/lib/integration/home.service.ts
  libs/bite-tribe/menu/data-access/src/lib/menu-data-access.service.ts
  libs/bite-tribe/menu/page/src/index.ts
  libs/bite-tribe/menu/page/src/lib/components/add-category/add-category.component.html
  libs/bite-tribe/menu/page/src/lib/components/add-category/add-category.component.scss
  libs/bite-tribe/menu/page/src/lib/components/add-category/add-category.component.ts
  libs/bite-tribe/menu/page/src/lib/components/add-item/add-item.component.html
  libs/bite-tribe/menu/page/src/lib/components/add-item/add-item.component.scss
  libs/bite-tribe/menu/page/src/lib/components/add-item/add-item.component.ts
  libs/bite-tribe/menu/page/src/lib/components/category/category.component.html
  libs/bite-tribe/menu/page/src/lib/components/category/category.component.scss
  libs/bite-tribe/menu/page/src/lib/components/category/category.component.ts
  libs/bite-tribe/menu/page/src/lib/components/menu-item/menu-item.component.html
  libs/bite-tribe/menu/page/src/lib/components/menu-item/menu-item.component.scss
  libs/bite-tribe/menu/page/src/lib/components/menu-item/menu-item.component.ts
  libs/bite-tribe/menu/page/src/lib/components/menu/menu.component.html
  libs/bite-tribe/menu/page/src/lib/components/menu/menu.component.scss
  libs/bite-tribe/menu/page/src/lib/components/menu/menu.component.ts
  libs/bite-tribe/menu/page/src/lib/components/page/menu-page.component.html
  libs/bite-tribe/menu/page/src/lib/components/page/menu-page.component.ts
  libs/bite-tribe/menu/page/src/lib/integration/menu-edit-container.component.ts
  libs/bite-tribe/menu/page/src/lib/integration/menu.service.ts
  libs/bite-tribe/model/src/lib/menu.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/restaurant.service.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/menus/actions.ts
  libs/bite-tribe/store/src/lib/menus/effects.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor: avoid gps read on pages where unnecessary
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/store/src/lib/app/effects.ts
  libs/bite-tribe/store/src/lib/likes/effects.ts
Due: eslint --fix, prettier --write

chore: setup pwa
  apps/bite-tribe/ngsw-config.json
  apps/bite-tribe/project.json
  libs/bite-tribe/shell/src/lib/app.config.ts
Due: eslint --fix, prettier --write

style: fix overflowing bite name
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe-common/bite/src/lib/bite.component.scss
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/common/ta-firestore/src/lib/auth.service.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: introduce my bites, add position to bites form
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/bite/data-access/src/lib/bite-data-access.service.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite-container.component.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite.service.ts
  libs/bite-tribe/home/page/src/index.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/home/page/src/lib/integration/home.service.ts
  libs/bite-tribe/home/page/src/lib/integration/my-bites-container.component.ts
  libs/bite-tribe/model/src/lib/bite.ts
  libs/bite-tribe/shell/src/lib/routes.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/common/ui/page/src/lib/page.component.ts
  libs/common/ui/page/src/lib/popover-menu.component.ts
  libs/common/utils/src/lib/add-necessary-icons.ts
Due: eslint --fix, prettier --write

feat: introduce leafmap openstreetmap component
  apps/bite-tribe/project.json
  apps/bite-tribe/src/global.scss
  libs/bite-tribe-common/map/.eslintrc.json
  libs/bite-tribe-common/map/README.md
  libs/bite-tribe-common/map/jest.config.ts
  libs/bite-tribe-common/map/project.json
  libs/bite-tribe-common/map/src/index.ts
  libs/bite-tribe-common/map/src/lib/map.component.html
  libs/bite-tribe-common/map/src/lib/map.component.scss
  libs/bite-tribe-common/map/src/lib/map.component.ts
  libs/bite-tribe-common/map/src/test-setup.ts
  libs/bite-tribe-common/map/tsconfig.json
  libs/bite-tribe-common/map/tsconfig.lib.json
  libs/bite-tribe-common/map/tsconfig.spec.json
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  package-lock.json
  package.json
  tsconfig.base.json
Due: eslint --fix, prettier --write, stylelint --fix

feat: set pin to position
  libs/bite-tribe-common/map/src/lib/map.component.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
Due: eslint --fix, prettier --write

feat: fix rendering issues
  libs/bite-tribe-common/map/src/lib/map.component.html
  libs/bite-tribe-common/map/src/lib/map.component.ts
Due: eslint --fix, prettier --write

feat: introduce map in detail page
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.ts
Due: eslint --fix, prettier --write

test: fix tests
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
Due: eslint --fix, prettier --write

test: extend test suite
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
Due: eslint --fix, prettier --write

fix: fix ios bug
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/home/page/src/lib/integration/my-bites-container.component.ts
  libs/bite-tribe/store/src/lib/app/selectors.ts
Due: eslint --fix, prettier --write

fix: fix ios bug (#323)
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/home/page/src/lib/integration/my-bites-container.component.ts
  libs/bite-tribe/store/src/lib/app/selectors.ts
Due: eslint --fix, prettier --write

feat: add variants to dishes
  libs/bite-tribe/menu/page/src/lib/components/add-item/add-item.component.html
  libs/bite-tribe/menu/page/src/lib/components/add-item/add-item.component.ts
  libs/bite-tribe/menu/page/src/lib/components/category/category.component.html
  libs/bite-tribe/menu/page/src/lib/components/category/category.component.ts
  libs/bite-tribe/menu/page/src/lib/components/menu-item/menu-item.component.html
  libs/bite-tribe/menu/page/src/lib/components/menu-item/menu-item.component.ts
  libs/bite-tribe/menu/page/src/lib/components/menu/menu.component.ts
  libs/bite-tribe/model/src/lib/menu.ts
Due: eslint --fix, prettier --write

refactor: extract likes component
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe-common/bite/src/lib/bite.component.scss
  libs/bite-tribe-common/bite/src/lib/bite.component.ts
  libs/bite-tribe-common/bite/src/lib/likes/likes.component.html
  libs/bite-tribe-common/bite/src/lib/likes/likes.component.scss
  libs/bite-tribe-common/bite/src/lib/likes/likes.component.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/home/page/src/lib/integration/my-bites-container.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: add variants to dishes (#337)
  libs/bite-tribe/menu/page/src/lib/components/add-item/add-item.component.html
  libs/bite-tribe/menu/page/src/lib/components/add-item/add-item.component.ts
  libs/bite-tribe/menu/page/src/lib/components/category/category.component.html
  libs/bite-tribe/menu/page/src/lib/components/category/category.component.ts
  libs/bite-tribe/menu/page/src/lib/components/menu-item/menu-item.component.html
  libs/bite-tribe/menu/page/src/lib/components/menu-item/menu-item.component.ts
  libs/bite-tribe/menu/page/src/lib/components/menu/menu.component.ts
  libs/bite-tribe/model/src/lib/menu.ts
Due: eslint --fix, prettier --write

chore: move tests
  libs/bite-tribe-common/bite/src/lib/__specs__/bite.component.spec.ts
  libs/bite-tribe-common/bite/src/lib/likes/__specs__/likes.component.spec.ts
Due: eslint --fix, prettier --write

feat: add edit button to my bites
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe-common/bite/src/lib/bite.component.ts
Due: eslint --fix, prettier --write

feat: fix options take photo or take from galery
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
Due: eslint --fix, prettier --write

feat: take gps position from image
  libs/bite-tribe/bite/data-access/src/lib/bite-data-access.service.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/bite/page/tsconfig.lib.json
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

feat: take gps position from image
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
Due: eslint --fix, prettier --write

chore: cleanup
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
Due: eslint --fix, prettier --write

test: extend test suite
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/bite/page/src/lib/components/page/utils/__specs__/get-exif-data.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/utils/get-exif-data.ts
Due: eslint --fix, prettier --write

chore: increase build number for ios app
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: none
