Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,html}": "eslint --fix",
  "*.{ts,js,html,scss,json,md}": "prettier --write",
  "*.scss": "stylelint --fix"
}

feat: deduplicate across hashtag prefix and case
  libs/bite-tribe/restaurant/page/src/lib/components/page/bite-place/__specs__/bite-place.component.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/bite-place/bite-place.component.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant/__specs__/restaurant.component.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant/__specs__/restaurant.stories.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant/restaurant.component.ts
  libs/bite-tribe/restaurant/page/src/lib/utils/__specs__/unique-tags-from-bites.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/utils/unique-tags-from-bites.ts
  ssot/pages/Restaurant.md
  ssot/pages/issue-1389.md
Due: eslint --fix, prettier --write

feat: deduplicate across hashtag prefix and case (#1404)
  libs/bite-tribe/restaurant/page/src/lib/components/page/bite-place/__specs__/bite-place.component.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/bite-place/bite-place.component.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant/__specs__/restaurant.component.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant/__specs__/restaurant.stories.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant/restaurant.component.ts
  libs/bite-tribe/restaurant/page/src/lib/utils/__specs__/unique-tags-from-bites.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/utils/unique-tags-from-bites.ts
  ssot/pages/Restaurant.md
  ssot/pages/issue-1389.md
Due: eslint --fix, prettier --write

fix: commit tags also on blur, enter and submit
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/common/ui/tags/src/lib/tags-input/__specs__/tags-input.component.spec.ts
  libs/common/ui/tags/src/lib/tags-input/tags-input.component.html
  libs/common/ui/tags/src/lib/tags-input/tags-input.component.ts
  ssot/pages/Bite.md
  ssot/pages/issue-1391.md
Due: eslint --fix, prettier --write

fix: commit tags also on blur, enter and submit (#1405)
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/common/ui/tags/src/lib/tags-input/__specs__/tags-input.component.spec.ts
  libs/common/ui/tags/src/lib/tags-input/tags-input.component.html
  libs/common/ui/tags/src/lib/tags-input/tags-input.component.ts
  ssot/pages/Bite.md
  ssot/pages/issue-1391.md
Due: eslint --fix, prettier --write

fix: retry never times out and retry is offered while offline
  .loki/reference/chrome_iphone7_Components_Bite_Failed_Upload_For_Owner_Offline.png
  .loki/reference/chrome_laptop_Components_Bite_Failed_Upload_For_Owner_Offline.png
  apps/bite-tribe-business/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe-common/bite/src/lib/__specs__/bite.stories.ts
  libs/bite-tribe-common/bite/src/lib/bite-image-status/__specs__/bite-image-status.component.spec.ts
  libs/bite-tribe-common/bite/src/lib/bite-image-status/bite-image-status.component.html
  libs/bite-tribe-common/bite/src/lib/bite-image-status/bite-image-status.component.ts
  libs/bite-tribe/bite/data-access/src/lib/__specs__/bite-data-access.service.spec.ts
  libs/bite-tribe/bite/data-access/src/lib/bite-data-access.service.ts
  ssot/pages/Architecture - Data Access.md
  ssot/pages/Bite.md
  ssot/pages/issue-1390.md
Due: eslint --fix, prettier --write

fix: retry never times out and retry is offered while offline (#1406)
  .loki/reference/chrome_iphone7_Components_Bite_Failed_Upload_For_Owner_Offline.png
  .loki/reference/chrome_laptop_Components_Bite_Failed_Upload_For_Owner_Offline.png
  apps/bite-tribe-business/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe-common/bite/src/lib/__specs__/bite.stories.ts
  libs/bite-tribe-common/bite/src/lib/bite-image-status/__specs__/bite-image-status.component.spec.ts
  libs/bite-tribe-common/bite/src/lib/bite-image-status/bite-image-status.component.html
  libs/bite-tribe-common/bite/src/lib/bite-image-status/bite-image-status.component.ts
  libs/bite-tribe/bite/data-access/src/lib/__specs__/bite-data-access.service.spec.ts
  libs/bite-tribe/bite/data-access/src/lib/bite-data-access.service.ts
  ssot/pages/Architecture - Data Access.md
  ssot/pages/Bite.md
  ssot/pages/issue-1390.md
Due: eslint --fix, prettier --write

fix: safe-space under drawer content
  libs/bite-tribe/map/page/src/lib/components/snap-drawer/__specs__/snap-drawer.component.spec.ts
  libs/bite-tribe/map/page/src/lib/components/snap-drawer/snap-drawer.component.html
  libs/bite-tribe/map/page/src/lib/components/snap-drawer/snap-drawer.component.scss
  ssot/pages/Implementation - Ionic Patterns.md
  ssot/pages/issue-1392.md
Due: eslint --fix, prettier --write, stylelint --fix

fix: safe-space under drawer content (#1407)
  libs/bite-tribe/map/page/src/lib/components/snap-drawer/__specs__/snap-drawer.component.spec.ts
  libs/bite-tribe/map/page/src/lib/components/snap-drawer/snap-drawer.component.html
  libs/bite-tribe/map/page/src/lib/components/snap-drawer/snap-drawer.component.scss
  ssot/pages/Implementation - Ionic Patterns.md
  ssot/pages/issue-1392.md
Due: eslint --fix, prettier --write, stylelint --fix

fix: rearrange cancel button for photo source
  libs/common/ui/image-upload/src/lib/__specs__/image-upload.component.spec.ts
  libs/common/ui/image-upload/src/lib/image-upload.component.ts
  ssot/pages/Implementation - Ionic Patterns.md
  ssot/pages/issue-1393.md
Due: eslint --fix, prettier --write

fix: rearrange cancel button for photo source (#1408)
  libs/common/ui/image-upload/src/lib/__specs__/image-upload.component.spec.ts
  libs/common/ui/image-upload/src/lib/image-upload.component.ts
  ssot/pages/Implementation - Ionic Patterns.md
  ssot/pages/issue-1393.md
Due: eslint --fix, prettier --write

fix: switch to single file selection
  libs/common/ui/image-upload/src/lib/__specs__/image-upload.component.spec.ts
  libs/common/ui/image-upload/src/lib/image-upload.component.ts
  ssot/pages/Architecture - Capacitor.md
  ssot/pages/UC - Create And Maintain Personal Bites.md
  ssot/pages/issue-1394.md
Due: eslint --fix, prettier --write

docs: test run 10 android
  ssot/pages/Current State - Release Candidate Test Charter.md
Due: prettier --write

docs: test run 10 android (#1419)
  ssot/pages/Current State - Release Candidate Test Charter.md
Due: prettier --write

style: spacing on gate page
  .loki/reference/chrome_iphone7_Components_App_Check_Gate_With_System_Bar_Insets.png
  .loki/reference/chrome_laptop_Components_App_Check_Gate_With_System_Bar_Insets.png
  libs/common/ta-firestore/src/lib/app-check-gate/__specs__/app-check-gate.component.stories.ts
  libs/common/ta-firestore/src/lib/app-check-gate/app-check-gate.component.ts
  ssot/pages/Current State - Release Candidate Test Charter.md
  ssot/pages/Implementation - Ionic Patterns.md
  ssot/pages/Implementation - Storybook.md
Due: eslint --fix, prettier --write

style: spacing on gate page (#1420)
  .loki/reference/chrome_iphone7_Components_App_Check_Gate_With_System_Bar_Insets.png
  .loki/reference/chrome_laptop_Components_App_Check_Gate_With_System_Bar_Insets.png
  libs/common/ta-firestore/src/lib/app-check-gate/__specs__/app-check-gate.component.stories.ts
  libs/common/ta-firestore/src/lib/app-check-gate/app-check-gate.component.ts
  ssot/pages/Current State - Release Candidate Test Charter.md
  ssot/pages/Implementation - Ionic Patterns.md
  ssot/pages/Implementation - Storybook.md
Due: eslint --fix, prettier --write

fix: live location permission state
  libs/bite-tribe/onboarding/data-access/src/lib/__specs__/onboarding-data-access.service.spec.ts
  libs/bite-tribe/onboarding/data-access/src/lib/onboarding-data-access.service.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/__specs__/onboarding.service.spec.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/onboarding.service.ts
  libs/common/geolocation/src/lib/geolocation.spec.ts
  libs/common/geolocation/src/lib/geolocation.ts
  ssot/pages/Architecture - Capacitor.md
  ssot/pages/Traceability Map.md
  ssot/pages/UC - Guide New Users After Registration.md
  ssot/pages/issue-1412.md
Due: eslint --fix, prettier --write

fix: live location permission state (#1421)
  libs/bite-tribe/onboarding/data-access/src/lib/__specs__/onboarding-data-access.service.spec.ts
  libs/bite-tribe/onboarding/data-access/src/lib/onboarding-data-access.service.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/__specs__/onboarding.service.spec.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/onboarding.service.ts
  libs/common/geolocation/src/lib/geolocation.spec.ts
  libs/common/geolocation/src/lib/geolocation.ts
  ssot/pages/Architecture - Capacitor.md
  ssot/pages/Traceability Map.md
  ssot/pages/UC - Guide New Users After Registration.md
  ssot/pages/issue-1412.md
Due: eslint --fix, prettier --write

docs: document and skip any adjustments
  libs/common/utils/src/lib/local-image-directory.ts
  ssot/pages/Current State - Known Issues.md
Due: eslint --fix, prettier --write

docs: document and skip any adjustments (#1422)
  libs/common/utils/src/lib/local-image-directory.ts
  ssot/pages/Current State - Known Issues.md
Due: eslint --fix, prettier --write

fix: pin capacitor-file-picker to 8.0.2 to enable exif from photo again
  apps/bite-tribe-android/package-lock.json
  libs/common/ui/image-upload/src/lib/__specs__/image-upload.component.spec.ts
  libs/common/ui/image-upload/src/lib/image-upload.component.ts
  package-lock.json
  package.json
  ssot/pages/Architecture - Capacitor.md
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Release Candidate Test Charter.md
Due: eslint --fix, prettier --write

docs: adjustments
  ssot/pages/Architecture - Capacitor.md
  ssot/pages/Current State - Known Issues.md
Due: prettier --write

fix: reading gps from gallery (#1423)
  apps/bite-tribe-android/package-lock.json
  libs/common/ui/image-upload/src/lib/__specs__/image-upload.component.spec.ts
  libs/common/ui/image-upload/src/lib/image-upload.component.ts
  package-lock.json
  package.json
  ssot/pages/Architecture - Capacitor.md
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Release Candidate Test Charter.md
Due: eslint --fix, prettier --write

fix: use endonyms for languages
  apps/bite-tribe/src/app/__specs__/language-names.spec.ts
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  ssot/pages/Implementation - Localization.md
Due: eslint --fix, prettier --write

fix: use endonyms for languages (#1424)
  apps/bite-tribe/src/app/__specs__/language-names.spec.ts
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  ssot/pages/Implementation - Localization.md
Due: eslint --fix, prettier --write

fix: 1416 & 1417
  .loki/reference/chrome_iphone7_Components_Bite_List_Empty_Own_List.png
  .loki/reference/chrome_laptop_Components_Bite_List_Empty_Own_List.png
  apps/bite-tribe/src/app/__specs__/locale-copy.spec.ts
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/home.component.spec.ts
  libs/bite-tribe/home/page/src/lib/components/page/bite-list/__specs__/bite-list.component.spec.ts
  libs/bite-tribe/home/page/src/lib/components/page/bite-list/__specs__/bite-list.stories.ts
  libs/bite-tribe/home/page/src/lib/components/page/bite-list/bite-list.component.html
  libs/bite-tribe/home/page/src/lib/components/page/bite-list/bite-list.component.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/home/page/src/lib/integration/my-bites.container.ts
  ssot/pages/Implementation - Localization.md
Due: eslint --fix, prettier --write

fix: 1416 & 1417 (#1425)
  .loki/reference/chrome_iphone7_Components_Bite_List_Empty_Own_List.png
  .loki/reference/chrome_laptop_Components_Bite_List_Empty_Own_List.png
  apps/bite-tribe/src/app/__specs__/locale-copy.spec.ts
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/home.component.spec.ts
  libs/bite-tribe/home/page/src/lib/components/page/bite-list/__specs__/bite-list.component.spec.ts
  libs/bite-tribe/home/page/src/lib/components/page/bite-list/__specs__/bite-list.stories.ts
  libs/bite-tribe/home/page/src/lib/components/page/bite-list/bite-list.component.html
  libs/bite-tribe/home/page/src/lib/components/page/bite-list/bite-list.component.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/home/page/src/lib/integration/my-bites.container.ts
  ssot/pages/Implementation - Localization.md
Due: eslint --fix, prettier --write

docs: test run 10 android
  libs/bite-tribe/delete-account/src/lib/delete-account/delete-account.html
  libs/bite-tribe/privacy-policy/src/lib/privacy-policy/privacy-policy.html
  ssot/pages/Current State - Release Candidate Test Charter.md
Due: eslint --fix, prettier --write

docs: test run 10 android (#1430)
  libs/bite-tribe/delete-account/src/lib/delete-account/delete-account.html
  libs/bite-tribe/privacy-policy/src/lib/privacy-policy/privacy-policy.html
  ssot/pages/Current State - Release Candidate Test Charter.md
Due: eslint --fix, prettier --write

docs: record runs 10 and 11 and close out the platform test pass
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Release Candidate Test Charter.md
  ssot/pages/Current State - Release State.md
Due: prettier --write

docs: correct the store-asset state and keep it in the SSOT
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Release State.md
Due: prettier --write

docs: record runs 10 and 11 and close out the platform test pass (#1431)
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Release Candidate Test Charter.md
  ssot/pages/Current State - Release State.md
Due: prettier --write

feat: add a public support page and confirm the support mailbox
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/shell/src/lib/routes.ts
  libs/bite-tribe/support/README.md
  libs/bite-tribe/support/eslint.config.mjs
  libs/bite-tribe/support/jest.config.cts
  libs/bite-tribe/support/project.json
  libs/bite-tribe/support/src/index.ts
  libs/bite-tribe/support/src/lib/support/__specs__/support.spec.ts
  libs/bite-tribe/support/src/lib/support/support.html
  libs/bite-tribe/support/src/lib/support/support.scss
  libs/bite-tribe/support/src/lib/support/support.ts
  libs/bite-tribe/support/src/test-setup.ts
  libs/bite-tribe/support/tsconfig.json
  libs/bite-tribe/support/tsconfig.lib.json
  libs/bite-tribe/support/tsconfig.spec.json
  libs/common/utils/src/lib/paths.ts
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Implementation - Store Listing Assets.md
  tsconfig.base.json
Due: eslint --fix, prettier --write, stylelint --fix

feat: add a public support page and confirm the support mailbox (#1432)
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/shell/src/lib/routes.ts
  libs/bite-tribe/support/README.md
  libs/bite-tribe/support/eslint.config.mjs
  libs/bite-tribe/support/jest.config.cts
  libs/bite-tribe/support/project.json
  libs/bite-tribe/support/src/index.ts
  libs/bite-tribe/support/src/lib/support/__specs__/support.spec.ts
  libs/bite-tribe/support/src/lib/support/support.html
  libs/bite-tribe/support/src/lib/support/support.scss
  libs/bite-tribe/support/src/lib/support/support.ts
  libs/bite-tribe/support/src/test-setup.ts
  libs/bite-tribe/support/tsconfig.json
  libs/bite-tribe/support/tsconfig.lib.json
  libs/bite-tribe/support/tsconfig.spec.json
  libs/common/utils/src/lib/paths.ts
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Implementation - Store Listing Assets.md
  tsconfig.base.json
Due: eslint --fix, prettier --write, stylelint --fix

docs: record the age-rating correction and close two account blockers
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Release State.md
  ssot/pages/Implementation - Store Listing Assets.md
Due: prettier --write

docs: record the Support URL as set and the App Check review risk
  ssot/pages/Implementation - Store Listing Assets.md
Due: prettier --write

docs: set the App Store copyright to 2025 and record why
  ssot/pages/Implementation - Store Listing Assets.md
Due: prettier --write

docs: declare DSA non-trader and correct two claims about it
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Release State.md
  ssot/pages/Implementation - Store Listing Assets.md
Due: prettier --write

docs: correct the Play publishing model, there was no draft to send
  ssot/pages/Implementation - Store Listing Assets.md
Due: prettier --write
