Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,html}": "eslint --fix",
  "*.{ts,js,html,scss,json,md}": "prettier --write",
  "*.scss": "stylelint --fix"
}

fix: fix counter for rated bites and toggling bites item
  libs/bite-tribe/restaurant/page/src/lib/components/page/bite-place.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/page/bite-place.component.ts
Due: eslint --fix, prettier --write

fix: decouple rating features and bites features in resto and place components
  libs/bite-tribe/restaurant/page/src/lib/components/page/bite-place.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/page/bite-place.component.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.ts
Due: eslint --fix, prettier --write

test: add tests
  libs/bite-tribe/restaurant/page/src/lib/components/page/__specs__/bite-place.component.spec.ts
Due: eslint --fix, prettier --write

docs: adjust stories for restaurant and places
  libs/bite-tribe/restaurant/page/src/lib/components/page/__specs__/bite-place.stories.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/__specs__/restaurant.stories.ts
Due: eslint --fix, prettier --write

refactor: split nav method to navigate to resto and place bites page
  libs/bite-tribe/restaurant/page/src/lib/components/page/bite-place.component.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/__specs__/restaurant.service.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/restaurant-container.component.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/restaurant.service.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/unverified-restaurant-container.component.ts
Due: eslint --fix, prettier --write

refactor: feedback from pr
  libs/bite-tribe/restaurant/page/src/lib/components/page/bite-place.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.ts
Due: eslint --fix, prettier --write

feat(813): user wants to see difference between verified and unverified restaurant (#826)
  libs/bite-tribe/restaurant/page/src/lib/components/page/__specs__/bite-place.component.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/__specs__/bite-place.stories.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/__specs__/restaurant.stories.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/bite-place.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/page/bite-place.component.scss
  libs/bite-tribe/restaurant/page/src/lib/components/page/bite-place.component.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.ts
  libs/bite-tribe/restaurant/page/src/lib/components/restaurant-image/restaurant-image.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/restaurant-image/restaurant-image.component.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/__specs__/restaurant.service.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/restaurant-container.component.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/restaurant.service.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/unverified-restaurant-container.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat(bite-tribe): 830-create script development and adapted README.md
  README.md
  package.json
Due: prettier --write

feat: show aggregated bite tags on restaurant and place pages (#828)
  libs/bite-tribe/restaurant/page/src/lib/components/page/__specs__/bite-place.component.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/__specs__/restaurant.component.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/__specs__/restaurant.stories.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/bite-place.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/page/bite-place.component.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant.component.ts
Due: eslint --fix, prettier --write

chore: introduce portuguese #805
  apps/bite-tribe-business/src/assets/i18n/en.json
  apps/bite-tribe-business/src/assets/i18n/pt.json
  apps/bite-tribe-business/src/environments/environment.ts
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/environments/environment.ts
  apps/storybook-host/.storybook/preview.ts
  libs/bite-tribe-business/shell/src/lib/app.config.ts
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.html
  libs/bite-tribe/shell/src/lib/app.config.ts
  libs/common/utils/src/lib/supported-lang.ts
Due: eslint --fix, prettier --write

chore: 732 change port for business project
  apps/bite-tribe-business/project.json
Due: prettier --write

fix: 732 fix optional
  libs/bite-tribe-business/migrations/page/src/lib/component/page/migrations.html
Due: eslint --fix, prettier --write

feat: 732 make title and subtitle editable
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-category/__specs__/business-category.component.spec.ts
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-category/business-category.component.html
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-category/business-category.component.scss
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-category/business-category.component.ts
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu/__specs__/business-menu.component.spec.ts
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu/business-menu.component.html
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu/business-menu.component.scss
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu/business-menu.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: 732 make title and subtitle editable
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu/business-menu.component.ts
Due: eslint --fix, prettier --write

feat: 732 style reorder handle
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-category/business-category.component.html
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-category/business-category.component.scss
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu/business-menu.component.html
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu/business-menu.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: 732 style category and menu
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-category/business-category.component.html
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-category/business-category.component.scss
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu/business-menu.component.html
  libs/bite-tribe-business/edit-menu/page/src/lib/components/page/edit-menu-page.component.html
Due: eslint --fix, prettier --write, stylelint --fix

feat: 732 style category and menu
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-category/business-category.component.scss
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu/business-menu.component.scss
Due: prettier --write, stylelint --fix

feat: 732 style category and menu
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item/business-menu-item.component.html
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item/business-menu-item.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: 732 style menu-item
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-category/business-category.component.html
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-category/business-category.component.scss
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item/__specs__/business-menu-item.component.spec.ts
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item/business-menu-item.component.html
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item/business-menu-item.component.scss
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item/business-menu-item.component.ts
  libs/common/utils/src/lib/add-necessary-icons.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: 732 add more details to firebase store entry
  apps/bite-tribe-firebase/.firebase-export/auth_export/accounts.json
  apps/bite-tribe-firebase/.firebase-export/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
  apps/bite-tribe-firebase/.firebase-export/firestore_export/all_namespaces/all_kinds/output-0
  apps/bite-tribe-firebase/.firebase-export/firestore_export/firestore_export.overall_export_metadata
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/49b6dc69-22f8-4e2f-b10a-1f57a394d9a1
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/4ae1d34f-aec4-4310-8a70-6174ff2afc66
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/695fa154-885c-4b86-b210-007b5ed5c299
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/8293c758-f79c-4f1f-841c-1dc5edf7ba25
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/954d43e5-fe30-4ea3-9ce8-772281b783a7
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/49b6dc69-22f8-4e2f-b10a-1f57a394d9a1.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/4ae1d34f-aec4-4310-8a70-6174ff2afc66.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/695fa154-885c-4b86-b210-007b5ed5c299.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/8293c758-f79c-4f1f-841c-1dc5edf7ba25.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/954d43e5-fe30-4ea3-9ce8-772281b783a7.json
Due: prettier --write

chore: 732 add more details to firebase store entry
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/0a675cfe-5fe7-4bbe-b7e4-805bd6f90125
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/52b9e6f3-be4a-4d25-a52d-a52eb012c16d
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/8265c3c8-f373-4e05-bf1c-992635d90a35
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/85eb59c7-8477-4007-ba04-9a14a7a6cf17
  apps/bite-tribe-firebase/.firebase-export/storage_export/blobs/df0f8a8e-4380-42d6-a5b6-d949274d19d4
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/0a675cfe-5fe7-4bbe-b7e4-805bd6f90125.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/52b9e6f3-be4a-4d25-a52d-a52eb012c16d.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/8265c3c8-f373-4e05-bf1c-992635d90a35.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/85eb59c7-8477-4007-ba04-9a14a7a6cf17.json
  apps/bite-tribe-firebase/.firebase-export/storage_export/metadata/df0f8a8e-4380-42d6-a5b6-d949274d19d4.json
Due: prettier --write

chore: 732 fix style for variants
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item/__specs__/business-menu-item.component.spec.ts
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item/business-menu-item.component.html
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item/business-menu-item.component.scss
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item/business-menu-item.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat(bite-tribe): 830-create adapted README.md
  README.md
Due: prettier --write

feat: 732 use common component for edit and add variant
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-add-item/__specs__/business-add-item.component.spec.ts
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-add-item/business-add-item.component.html
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-add-item/business-add-item.component.scss
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-add-item/business-add-item.component.ts
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-category/business-category.component.html
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-category/business-category.component.ts
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item/business-menu-item.component.html
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item/business-menu-item.component.scss
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item/business-menu-item.component.ts
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-variant/__specs__/business-menu-variant.component.spec.ts
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-variant/business-menu-variant.component.html
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-variant/business-menu-variant.component.scss
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-variant/business-menu-variant.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: 732 fix cancel add variant
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item/__specs__/business-menu-item.component.spec.ts
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item/business-menu-item.component.html
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item/business-menu-item.component.ts
Due: eslint --fix, prettier --write

fix: 732 move name to item instead of variant
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-category/business-category.component.ts
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item-editor/__specs__/business-menu-variant.component.spec.ts
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item-editor/business-menu-item-editor.component.html
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item-editor/business-menu-item-editor.component.scss
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item-editor/business-menu-variant.component.ts
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item/__specs__/business-menu-item.component.spec.ts
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item/business-menu-item.component.html
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item/business-menu-item.component.scss
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item/business-menu-item.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

style: 732 fix spacing
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-category/business-category.component.scss
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item/business-menu-item.component.scss
Due: prettier --write, stylelint --fix

style: 732 fix spacing
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item/business-menu-item.component.scss
Due: prettier --write, stylelint --fix

feat: 732 hide add variant button when new variant for is visible
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item/__specs__/business-menu-item.component.spec.ts
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item/business-menu-item.component.html
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item/business-menu-item.component.ts
Due: eslint --fix, prettier --write

feat: 732 propagate variant changes on save
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-category/__specs__/business-category.component.spec.ts
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-category/business-category.component.html
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-category/business-category.component.ts
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item-editor/__specs__/business-menu-variant.component.spec.ts
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item-editor/business-menu-item-editor.component.html
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item-editor/business-menu-variant.component.ts
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item/__specs__/business-menu-item.component.spec.ts
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item/business-menu-item.component.html
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item/business-menu-item.component.ts
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu/__specs__/business-menu.component.spec.ts
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu/business-menu.component.html
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu/business-menu.component.ts
  libs/bite-tribe-business/edit-menu/page/src/lib/components/page/edit-menu-page.component.html
  libs/bite-tribe-business/edit-menu/page/src/lib/components/page/edit-menu-page.component.ts
Due: eslint --fix, prettier --write

feat: 732 allow save added item
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item-editor/__specs__/business-menu-variant.component.spec.ts
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item-editor/business-menu-item-editor.component.html
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item-editor/business-menu-variant.component.ts
Due: eslint --fix, prettier --write

fix: remove portuguese from business app per PR review
  apps/bite-tribe-business/src/assets/i18n/en.json
  apps/bite-tribe-business/src/assets/i18n/pt.json
  apps/bite-tribe-business/src/environments/environment.ts
  libs/bite-tribe-business/shell/src/lib/app.config.ts
Due: eslint --fix, prettier --write

chore: introduce portuguese #805 (#833)
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/environments/environment.ts
  apps/storybook-host/.storybook/preview.ts
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.html
  libs/bite-tribe/shell/src/lib/app.config.ts
  libs/common/utils/src/lib/supported-lang.ts
Due: eslint --fix, prettier --write

feat: 732 make addVariant work
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-category/__specs__/business-category.component.spec.ts
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-category/business-category.component.html
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-category/business-category.component.ts
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item-editor/__specs__/business-menu-variant.component.spec.ts
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item-editor/business-menu-item-editor.component.html
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item-editor/business-menu-variant.component.ts
Due: eslint --fix, prettier --write

fix: 732 fix margin
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item/business-menu-item.component.html
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item/business-menu-item.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: 732 fix margin
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu/business-menu.component.scss
Due: prettier --write, stylelint --fix

test: 732 add unit tests
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-category/__specs__/business-category.component.spec.ts
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu-item/__specs__/business-menu-item.component.spec.ts
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu/business-menu.component.ts
Due: eslint --fix, prettier --write

test: 732 add unit tests
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu/__specs__/business-menu.component.spec.ts
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-menu/business-menu.component.ts
Due: eslint --fix, prettier --write

test: 732 add unit tests
  libs/bite-tribe-business/edit-menu/page/src/lib/components/business-category/__specs__/business-category.component.spec.ts
Due: eslint --fix, prettier --write
