Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

fix: separate accounts galleries
  libs/bite-tribe-common/bite/src/lib/local-image-picker/local-image-picker.service.ts
  libs/bite-tribe/api/src/lib/utils/__specs__/local-image-file.spec.ts
  libs/bite-tribe/api/src/lib/utils/__specs__/write-blob-to-file-system.spec.ts
  libs/bite-tribe/api/src/lib/utils/local-image-file.ts
  libs/bite-tribe/api/src/lib/utils/write-blob-to-file-system.ts
  libs/bite-tribe/gallery/page/src/lib/integration/__specs__/gallery.service.spec.ts
  libs/bite-tribe/gallery/page/src/lib/integration/gallery.service.ts
  libs/common/utils/src/index.ts
  libs/common/utils/src/lib/__specs__/local-image-directory.spec.ts
  libs/common/utils/src/lib/__specs__/local-image-src.spec.ts
  libs/common/utils/src/lib/local-image-directory.ts
  libs/common/utils/src/lib/local-image-src.ts
  ssot/pages/Architecture - Storage.md
  ssot/pages/Current State - Release Candidate Test Charter.md
  ssot/pages/UC - Use Local Gallery Support.md
Due: eslint --fix, prettier --write

fix: separate accounts galleries (#1339)
  libs/bite-tribe-common/bite/src/lib/local-image-picker/local-image-picker.service.ts
  libs/bite-tribe/api/src/lib/utils/__specs__/local-image-file.spec.ts
  libs/bite-tribe/api/src/lib/utils/__specs__/write-blob-to-file-system.spec.ts
  libs/bite-tribe/api/src/lib/utils/local-image-file.ts
  libs/bite-tribe/api/src/lib/utils/write-blob-to-file-system.ts
  libs/bite-tribe/gallery/page/src/lib/integration/__specs__/gallery.service.spec.ts
  libs/bite-tribe/gallery/page/src/lib/integration/gallery.service.ts
  libs/common/utils/src/index.ts
  libs/common/utils/src/lib/__specs__/local-image-directory.spec.ts
  libs/common/utils/src/lib/__specs__/local-image-src.spec.ts
  libs/common/utils/src/lib/local-image-directory.ts
  libs/common/utils/src/lib/local-image-src.ts
  ssot/pages/Architecture - Storage.md
  ssot/pages/Current State - Release Candidate Test Charter.md
  ssot/pages/UC - Use Local Gallery Support.md
Due: eslint --fix, prettier --write

style: max-width search field on my bites
  libs/bite-tribe/home/page/src/lib/components/page/home.component.scss
Due: prettier --write, stylelint --fix

style: max-width search field on my bites (#1341)
  libs/bite-tribe/home/page/src/lib/components/page/home.component.scss
Due: prettier --write, stylelint --fix

docs: test run #8 web-only
  ssot/pages/Current State - Release Candidate Test Charter.md
Due: prettier --write

docs: test run #8 web-only (#1345)
  ssot/pages/Current State - Release Candidate Test Charter.md
Due: prettier --write

fix: localize hard coded text and conditional rendering of alert
  libs/bite-tribe/profile/page/src/lib/components/edit-profile-page/__specs__/edit-profile.page.spec.ts
  libs/bite-tribe/profile/page/src/lib/components/edit-profile-page/edit-profile.page.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/__specs__/profile-unfollow-dialog.spec.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.html
Due: eslint --fix, prettier --write

fix: localize hard coded text and conditional rendering of alert (#1346)
  libs/bite-tribe/profile/page/src/lib/components/edit-profile-page/__specs__/edit-profile.page.spec.ts
  libs/bite-tribe/profile/page/src/lib/components/edit-profile-page/edit-profile.page.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/__specs__/profile-unfollow-dialog.spec.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.html
Due: eslint --fix, prettier --write

style: position search bar in my bites on desktop to center
  .loki/reference/chrome_iphone7_Pages_Home_My_Bites_Search.png
  .loki/reference/chrome_laptop_Pages_Home_My_Bites_Search.png
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/my-bites.stories.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

style: position search bar in my bites on desktop to center (#1347)
  .loki/reference/chrome_iphone7_Pages_Home_My_Bites_Search.png
  .loki/reference/chrome_laptop_Pages_Home_My_Bites_Search.png
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/my-bites.stories.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

docs: record the Send mail as configuration behind the verification mail sender
  ssot/pages/Current State - Release Candidate Test Charter.md
  ssot/pages/Implementation - Firebase Functions.md
  ssot/pages/issue-1265.md
Due: prettier --write

docs: record the console template subject reconciliation as done
  ssot/pages/issue-1265.md
Due: prettier --write

docs: record the Send mail as configuration behind the verification mail sender (#1348)
  ssot/pages/Current State - Release Candidate Test Charter.md
  ssot/pages/Implementation - Firebase Functions.md
  ssot/pages/issue-1265.md
Due: prettier --write

test: e2e coverage for manual position pick and pos from photo
  apps/bite-tribe-e2e/eslint.config.mjs
  apps/bite-tribe-e2e/src/fixtures/bite-geotagged.jpg
  apps/bite-tribe-e2e/src/pages/create-bite.page.ts
  apps/bite-tribe-e2e/src/tests/create-and-edit-bite.spec.ts
  ssot/pages/Current State - E2E Coverage.md
  ssot/pages/UC - Create And Maintain Personal Bites.md
  tools/generate-geotagged-fixture.mjs
Due: eslint --fix, prettier --write

test: e2e coverage for manual position pick and pos from photo (#1349)
  apps/bite-tribe-e2e/eslint.config.mjs
  apps/bite-tribe-e2e/src/fixtures/bite-geotagged.jpg
  apps/bite-tribe-e2e/src/pages/create-bite.page.ts
  apps/bite-tribe-e2e/src/tests/create-and-edit-bite.spec.ts
  ssot/pages/Current State - E2E Coverage.md
  ssot/pages/UC - Create And Maintain Personal Bites.md
  tools/generate-geotagged-fixture.mjs
Due: eslint --fix, prettier --write

chore: decide and record the remaining release-candidate blockers
  .github/workflows/pipeline.yml
  apps/bite-tribe-e2e/src/tests/create-and-edit-bite.spec.ts
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Release Candidate Test Charter.md
  ssot/pages/Current State - Release State.md
  ssot/pages/Current State - Roadmap.md
Due: eslint --fix, prettier --write

chore: decide and record the remaining release-candidate blockers (#1351)
  .github/workflows/pipeline.yml
  apps/bite-tribe-e2e/src/tests/create-and-edit-bite.spec.ts
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Release Candidate Test Charter.md
  ssot/pages/Current State - Release State.md
  ssot/pages/Current State - Roadmap.md
Due: eslint --fix, prettier --write

docs: prepare app store and google play assets
  .loki/reference/chrome_iphone7_Components_App_Check_Gate_Idle.png
  .loki/reference/chrome_iphone7_Components_App_Check_Gate_Retrying.png
  .loki/reference/chrome_iphone7_Pages_Profile_Organisation_With_Bite_Trails.png
  .loki/reference/chrome_laptop_Components_App_Check_Gate_Idle.png
  .loki/reference/chrome_laptop_Components_App_Check_Gate_Retrying.png
  .loki/reference/chrome_laptop_Pages_Profile_Organisation_With_Bite_Trails.png
  libs/bite-tribe-business/shell/src/lib/provide-bite-tribe-business-shell.ts
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.stories.ts
  libs/bite-tribe/bucketlist/page/src/lib/components/bucketlists-page/__specs__/my-bucketlists.stories.ts
  libs/bite-tribe/delete-account/src/lib/components/delete-my-account/__specs__/delete-my-account.stories.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.stories.ts
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/home.stories.ts
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/my-bites.stories.ts
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/weekly-bites.stories.ts
  libs/bite-tribe/map/page/src/lib/components/map-page/__specs__/map-page.stories.ts
  libs/bite-tribe/menu/page/src/lib/components/page/__specs__/menu.stories.ts
  libs/bite-tribe/onboarding/page/src/lib/components/onboarding-page/__specs__/onboarding-page.stories.ts
  libs/bite-tribe/profile/page/src/lib/components/edit-profile-page/__specs__/edit-profile.stories.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/__specs__/profile.stories.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/bite-place/__specs__/bite-place.stories.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant/__specs__/restaurant.stories.ts
  libs/bite-tribe/restaurant/page/src/lib/components/restaurant-image/__specs__/restaurant-image.stories.ts
  libs/bite-tribe/search/page/src/lib/components/search-page/__specs__/search.stories.ts
  libs/bite-tribe/settings/page/src/lib/components/page/__specs__/settings.stories.ts
  libs/bite-tribe/shell/src/lib/provide-bite-tribe-shell.ts
  libs/bite-tribe/start/src/lib/__specs__/start.stories.ts
  libs/common/ui/auth/src/lib/components/login/__specs__/auth.component.stories.ts
  libs/common/ui/auth/src/lib/components/registration/__specs__/registration.component.spec.ts
  libs/common/ui/auth/src/lib/components/registration/__specs__/registration.component.stories.ts
  libs/common/ui/page/src/lib/__specs__/page.component.stories.ts
  ssot/pages/Current State - Release State.md
  ssot/pages/Implementation - Store Listing Assets.md
Due: eslint --fix, prettier --write

docs: store photo assets
  apps/bite-tribe-ios/ios/App/App/AppDelegate.swift
  package.json
  ssot/assets/store-listing/phone-6.9/01-home-feed.png
  ssot/assets/store-listing/phone-6.9/02-bitemap.png
  ssot/assets/store-listing/phone-6.9/03-bite-detail.png
  ssot/assets/store-listing/phone-6.9/04-bucket-list.png
  ssot/assets/store-listing/phone-6.9/05-profile.png
  ssot/pages/Implementation - Store Listing Assets.md
  ssot/pages/Implementation - Store Release Steps.md
Due: prettier --write

docs: feature graphic
  ssot/assets/store-listing/feature-graphic/feature-graphic-original.svg
  ssot/assets/store-listing/feature-graphic/feature-graphic.png
  ssot/assets/store-listing/feature-graphic/feature-graphic.svg
  ssot/assets/store-listing/feature-graphic/photo-ojja.png
  ssot/pages/Implementation - Store Listing Assets.md
Due: prettier --write

perf: stop a likes reload from rebuilding the whole bite feed
  libs/bite-tribe/store/src/lib/bites/bites-by-bucketlist.selector.ts
  libs/bite-tribe/store/src/lib/bites/bites-by-id.selector.ts
  libs/bite-tribe/store/src/lib/bites/home-bites.selector.ts
  libs/bite-tribe/store/src/lib/bites/utils/__specs__/get-likes-for-bite.spec.ts
  libs/bite-tribe/store/src/lib/bites/utils/__specs__/group-likes-by-bite-id.spec.ts
  libs/bite-tribe/store/src/lib/bites/utils/get-likes-for-bite.ts
  libs/bite-tribe/store/src/lib/bites/utils/group-likes-by-bite-id.ts
  libs/bite-tribe/store/src/lib/likes/__specs__/reducer.spec.ts
  libs/bite-tribe/store/src/lib/likes/reducer.ts
Due: eslint --fix, prettier --write

build: let debug builds obtain an app check token
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-android/android/app/src/debug/java/com/bitetribe/app/AppCheckProviderInstaller.java
  apps/bite-tribe-android/android/app/src/main/java/com/bitetribe/app/MainActivity.java
  apps/bite-tribe-android/android/app/src/release/java/com/bitetribe/app/AppCheckProviderInstaller.java
Due: none

perf: read the user's likes in one query instead of one read per bite
  __mocks__/@capacitor-firebase/firestore/index.ts
  libs/bite-tribe/api/src/lib/like-api/utils/__specs__/load-likes-by-bites.spec.ts
  libs/bite-tribe/api/src/lib/like-api/utils/load-likes-by-bites.ts
Due: eslint --fix, prettier --write

Revert "perf: read the user's likes in one query instead of one read per bite"
  __mocks__/@capacitor-firebase/firestore/index.ts
  libs/bite-tribe/api/src/lib/like-api/utils/__specs__/load-likes-by-bites.spec.ts
  libs/bite-tribe/api/src/lib/like-api/utils/load-likes-by-bites.ts
Due: eslint --fix, prettier --write

perf: deliver the caller's likes with the position feed
  apps/bite-tribe-firebase/functions/src/functions/bites/__specs__/load-bites-by-location.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/bites/load-bites-by-location.ts
  libs/bite-tribe/store/src/lib/likes/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/likes/effects.ts
Due: eslint --fix, prettier --write

perf: issue the like batches together rather than one after another
  apps/bite-tribe-firebase/functions/src/functions/bites/load-bites-by-location.ts
Due: eslint --fix, prettier --write

perf: narrow the nearby search from 15km to 10km
  apps/bite-tribe-firebase/functions/src/functions/bites/load-bites-by-location.ts
Due: eslint --fix, prettier --write

docs: record the state identity contract and the shift to server-side read models
  ssot/pages/Architecture - State Management.md
  ssot/pages/Current State - Known Issues.md
Due: prettier --write

perf: stop a like from blocking the main thread for a second and a half
  libs/bite-tribe/store/src/lib/bites/bites-by-bucketlist.selector.ts
  libs/bite-tribe/store/src/lib/bites/bites-by-id.selector.ts
  libs/bite-tribe/store/src/lib/bites/home-bites.selector.ts
  libs/bite-tribe/store/src/lib/bites/utils/__specs__/get-unique-restaurant-names.spec.ts
  libs/bite-tribe/store/src/lib/bites/utils/__specs__/join-bite-metadata.spec.ts
  libs/bite-tribe/store/src/lib/bites/utils/get-unique-restaurant-names.ts
  libs/bite-tribe/store/src/lib/bites/utils/is-similar.ts
  libs/bite-tribe/store/src/lib/bites/utils/join-bite-metadata.ts
Due: eslint --fix, prettier --write

docs: write the performance guidelines the profiling produced
  ssot/pages/Architecture - State Management.md
  ssot/pages/Implementation - Feature Patterns.md
  ssot/pages/Implementation - Performance Guidelines.md
  ssot/pages/contents.md
Due: prettier --write

docs: record the two gates a locally signed build has to pass
  ssot/pages/Implementation - Performance Guidelines.md
Due: prettier --write

perf: slow reactions and scrolling on android (#1358)
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-android/android/app/src/debug/java/com/bitetribe/app/AppCheckProviderInstaller.java
  apps/bite-tribe-android/android/app/src/main/java/com/bitetribe/app/MainActivity.java
  apps/bite-tribe-android/android/app/src/release/java/com/bitetribe/app/AppCheckProviderInstaller.java
  apps/bite-tribe-firebase/functions/src/functions/bites/__specs__/load-bites-by-location.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/bites/load-bites-by-location.ts
  libs/bite-tribe/store/src/lib/bites/bites-by-bucketlist.selector.ts
  libs/bite-tribe/store/src/lib/bites/bites-by-id.selector.ts
  libs/bite-tribe/store/src/lib/bites/home-bites.selector.ts
  libs/bite-tribe/store/src/lib/bites/utils/__specs__/get-likes-for-bite.spec.ts
  libs/bite-tribe/store/src/lib/bites/utils/__specs__/get-unique-restaurant-names.spec.ts
  libs/bite-tribe/store/src/lib/bites/utils/__specs__/group-likes-by-bite-id.spec.ts
  libs/bite-tribe/store/src/lib/bites/utils/__specs__/join-bite-metadata.spec.ts
  libs/bite-tribe/store/src/lib/bites/utils/get-likes-for-bite.ts
  libs/bite-tribe/store/src/lib/bites/utils/get-unique-restaurant-names.ts
  libs/bite-tribe/store/src/lib/bites/utils/group-likes-by-bite-id.ts
  libs/bite-tribe/store/src/lib/bites/utils/is-similar.ts
  libs/bite-tribe/store/src/lib/bites/utils/join-bite-metadata.ts
  libs/bite-tribe/store/src/lib/likes/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/likes/__specs__/reducer.spec.ts
  libs/bite-tribe/store/src/lib/likes/effects.ts
  libs/bite-tribe/store/src/lib/likes/reducer.ts
  ssot/pages/Architecture - State Management.md
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Implementation - Feature Patterns.md
  ssot/pages/Implementation - Performance Guidelines.md
  ssot/pages/contents.md
Due: eslint --fix, prettier --write

docs: point the release path at cap:sync:ios and the enforced build flag
  ssot/pages/Architecture - Capacitor.md
  ssot/pages/Implementation - Release And Build Workflow.md
  ssot/pages/Implementation - Store Release Steps.md
  ssot/pages/Release Workflow.md
Due: prettier --write

chore: prepare build 1.0.1-95 release
  CHANGELOG.md
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: prettier --write

docs: record the build 95 release in the release state
  ssot/pages/Current State - Release State.md
Due: prettier --write

chore: prepare build 1.0.1-95 release (#1364)
  CHANGELOG.md
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  ssot/pages/Architecture - Capacitor.md
  ssot/pages/Current State - Release State.md
  ssot/pages/Implementation - Release And Build Workflow.md
  ssot/pages/Implementation - Store Release Steps.md
  ssot/pages/Release Workflow.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,html}
  prettier --write: any of: *.{ts,js,html,scss,json,md}
  stylelint --fix: any of: *.scss
