Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,html}": "eslint --fix",
  "*.{ts,js,html,scss,json,md}": "prettier --write",
  "*.scss": "stylelint --fix"
}

fix(bite-tribe): serve the association file where Apple looks for it (#1671)
  apps/bite-tribe/project.json
  apps/bite-tribe/src/.well-known/apple-app-site-association
  firebase.json
  ssot/implementation/web-search-and-social-metadata.md
Due: prettier --write

fix(bite-tribe): stop dev native builds writing to production, and make App Check attestation observable (#1221)
  libs/common/ta-firestore/src/lib/__specs__/initialize-firebase-app-check.spec.ts
  libs/common/ta-firestore/src/lib/__specs__/provide-firestore-simulator.spec.ts
  libs/common/ta-firestore/src/lib/__specs__/resolve-emulator-host.live-reload.spec.ts
  libs/common/ta-firestore/src/lib/__specs__/resolve-emulator-host.spec.ts
  libs/common/ta-firestore/src/lib/connect-functions-emulator.ts
  libs/common/ta-firestore/src/lib/initialize-firebase-app-check.ts
  libs/common/ta-firestore/src/lib/provide-firestore-simulator.ts
  libs/common/ta-firestore/src/lib/resolve-emulator-host.ts
  ssot/architecture/firebase.md
  ssot/current-state/known-issues.md
  ssot/implementation/analytics-events.md
  ssot/implementation/ios-simulator-testing.md
  ssot/use-cases/uc-harden-platform-and-backend-trust.md
Due: eslint --fix, prettier --write

fix(bite-tribe-firebase): declare the table-session sweep index as a field override
  apps/bite-tribe-firebase/firestore.indexes.json
Due: prettier --write

fix(bite-tribe-firebase): declare the table-session sweep index as a field override (#1673)
  apps/bite-tribe-firebase/firestore.indexes.json
Due: prettier --write

chore: move the marketing version to 1.0.2
  package.json
  ssot/implementation/release-and-build-workflow.md
Due: prettier --write

chore: move the marketing version to 1.0.2 (#1675)
  package.json
  ssot/implementation/release-and-build-workflow.md
Due: prettier --write

chore: sync the 1.0.2 marketing version into the native projects
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: none

fix: refuse a release whose tagged tree carries the old marketing version
  ssot/implementation/release-and-build-workflow.md
  tools/increment-build-number-and-generate-changelog.mjs
Due: prettier --write

chore: sync the 1.0.2 marketing version into the native projects (#1677)
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  ssot/implementation/release-and-build-workflow.md
  tools/increment-build-number-and-generate-changelog.mjs
Due: prettier --write

docs: publish the Instagram profile post (#913) (#1665)
  ssot/assets/social/profile-post.png
  ssot/implementation/social-media-channels.md
Due: prettier --write

fix(bite-tribe): stop dev native builds writing to production, and make App Check attestation observable (#1221) (#1672)
  libs/common/ta-firestore/src/lib/__specs__/initialize-firebase-app-check.spec.ts
  libs/common/ta-firestore/src/lib/__specs__/provide-firestore-simulator.spec.ts
  libs/common/ta-firestore/src/lib/__specs__/resolve-emulator-host.live-reload.spec.ts
  libs/common/ta-firestore/src/lib/__specs__/resolve-emulator-host.spec.ts
  libs/common/ta-firestore/src/lib/connect-functions-emulator.ts
  libs/common/ta-firestore/src/lib/initialize-firebase-app-check.ts
  libs/common/ta-firestore/src/lib/provide-firestore-simulator.ts
  libs/common/ta-firestore/src/lib/resolve-emulator-host.ts
  ssot/architecture/firebase.md
  ssot/current-state/known-issues.md
  ssot/implementation/analytics-events.md
  ssot/implementation/ios-simulator-testing.md
  ssot/use-cases/uc-harden-platform-and-backend-trust.md
Due: eslint --fix, prettier --write

docs: publish the newest-first Instagram post (#913)
  ssot/assets/social/newest-first-post.png
  ssot/implementation/social-media-channels.md
Due: prettier --write

docs: record the newest-first post as published (#913)
  ssot/implementation/social-media-channels.md
Due: prettier --write

docs: publish the newest-first Instagram post (#913) (#1679)
  ssot/assets/social/newest-first-post.png
  ssot/implementation/social-media-channels.md
Due: prettier --write

docs: record the table settlement decision as ADR-0004 (#1109)
  ssot/README.md
  ssot/current-state/open-questions.md
  ssot/decisions/README.md
  ssot/decisions/adr-0004-table-payment-model.md
  ssot/decisions/recorded-decisions.md
  ssot/domain/table-visit.md
  ssot/overview/traceability-map.md
  ssot/product/monetization.md
  ssot/use-cases/uc-order-at-the-table-through-a-qr-code.md
Due: prettier --write

docs: record the table settlement decision as ADR-0004 (#1109) (#1680)
  ssot/README.md
  ssot/current-state/open-questions.md
  ssot/decisions/README.md
  ssot/decisions/adr-0004-table-payment-model.md
  ssot/decisions/recorded-decisions.md
  ssot/domain/table-visit.md
  ssot/overview/traceability-map.md
  ssot/product/monetization.md
  ssot/use-cases/uc-order-at-the-table-through-a-qr-code.md
Due: prettier --write

ci: run the Firebase Functions emulator suite on every pull request (#1681)
  .github/workflows/pipeline.yml
  apps/bite-tribe-firebase/functions/src/functions/restaurants/__specs__/table-orders.emulator-spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/__specs__/table-sessions.emulator-spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/move-table-visit.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/transition-table-state.ts
  apps/bite-tribe-firebase/project.json
  ssot/implementation/ci-pipeline.md
Due: eslint --fix, prettier --write

fix(bite-tribe): give each Table Order story its own table, so one story's cart stays out of the next one's picture (#1681)
  libs/bite-tribe/menu/page/src/lib/order/__specs__/table-order.stories.ts
Due: eslint --fix, prettier --write

ci: run the Firebase Functions emulator suite on every pull request (#1681) (#1683)
  .github/workflows/pipeline.yml
  apps/bite-tribe-firebase/functions/src/functions/restaurants/__specs__/table-orders.emulator-spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/__specs__/table-sessions.emulator-spec.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/move-table-visit.ts
  apps/bite-tribe-firebase/functions/src/functions/restaurants/transition-table-state.ts
  apps/bite-tribe-firebase/project.json
  libs/bite-tribe/menu/page/src/lib/order/__specs__/table-order.stories.ts
  ssot/implementation/ci-pipeline.md
Due: eslint --fix, prettier --write

feat(bite-tribe): measure whether a table order becomes a Bite (#1114)
  libs/bite-tribe/bite/page/src/lib/integration/__specs__/bite.service.spec.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite-provenance.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite.service.ts
  libs/bite-tribe/menu/page/src/lib/order/table-order.component.ts
  libs/bite-tribe/table-order/data-access/src/lib/__specs__/table-order.service.spec.ts
  libs/bite-tribe/table-order/data-access/src/lib/__specs__/visit-summary.service.spec.ts
  libs/bite-tribe/table-order/data-access/src/lib/table-order.service.ts
  libs/bite-tribe/table-order/data-access/src/lib/visit-summary.service.ts
  libs/bite-tribe/table-session/data-access/src/lib/__specs__/table-session.service.spec.ts
  libs/bite-tribe/table-session/data-access/src/lib/table-session.service.ts
  libs/bite-tribe/visits/page/src/lib/integration/__specs__/visit-detail.container.spec.ts
  libs/bite-tribe/visits/page/src/lib/integration/visit-detail.container.ts
  libs/common/ta-firestore/src/lib/analytics/__specs__/analytics-events.spec.ts
  libs/common/ta-firestore/src/lib/analytics/analytics-events.ts
  ssot/decisions/recorded-decisions.md
  ssot/domain/bite.md
  ssot/implementation/analytics-events.md
  ssot/use-cases/uc-order-at-the-table-through-a-qr-code.md
  tools/analytics/README.md
  tools/analytics/funnel.config.mjs
  tools/analytics/provision-ga4.mjs
  tools/analytics/queries/order-to-bite-funnel.sql
Due: eslint --fix, prettier --write

feat(bite-tribe): measure whether a table order becomes a Bite (#1114) (#1688)
  libs/bite-tribe/bite/page/src/lib/integration/__specs__/bite.service.spec.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite-provenance.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite.service.ts
  libs/bite-tribe/menu/page/src/lib/order/table-order.component.ts
  libs/bite-tribe/table-order/data-access/src/lib/__specs__/table-order.service.spec.ts
  libs/bite-tribe/table-order/data-access/src/lib/__specs__/visit-summary.service.spec.ts
  libs/bite-tribe/table-order/data-access/src/lib/table-order.service.ts
  libs/bite-tribe/table-order/data-access/src/lib/visit-summary.service.ts
  libs/bite-tribe/table-session/data-access/src/lib/__specs__/table-session.service.spec.ts
  libs/bite-tribe/table-session/data-access/src/lib/table-session.service.ts
  libs/bite-tribe/visits/page/src/lib/integration/__specs__/visit-detail.container.spec.ts
  libs/bite-tribe/visits/page/src/lib/integration/visit-detail.container.ts
  libs/common/ta-firestore/src/lib/analytics/__specs__/analytics-events.spec.ts
  libs/common/ta-firestore/src/lib/analytics/analytics-events.ts
  ssot/decisions/recorded-decisions.md
  ssot/domain/bite.md
  ssot/implementation/analytics-events.md
  ssot/use-cases/uc-order-at-the-table-through-a-qr-code.md
  tools/analytics/README.md
  tools/analytics/funnel.config.mjs
  tools/analytics/provision-ga4.mjs
  tools/analytics/queries/order-to-bite-funnel.sql
Due: eslint --fix, prettier --write

feat: measure activation and retention from the BigQuery export (#987)
  libs/common/ta-firestore/src/lib/analytics/__specs__/analytics-events.spec.ts
  ssot/current-state/known-issues.md
  ssot/current-state/open-questions.md
  ssot/current-state/release-candidate-test-charter.md
  ssot/current-state/release-state.md
  ssot/implementation/analytics-events.md
  ssot/operations/analytics-operations.md
  tools/analytics/README.md
  tools/analytics/bigquery.mjs
  tools/analytics/cohorts.config.mjs
  tools/analytics/cohorts.mjs
  tools/analytics/dashboard.config.mjs
  tools/analytics/digest.mjs
  tools/analytics/queries/activation-funnel.sql
  tools/analytics/queries/retention-cohorts.sql
  tools/analytics/query.mjs
Due: eslint --fix, prettier --write

feat: measure activation and retention from the BigQuery export (#987) (#1689)
  libs/common/ta-firestore/src/lib/analytics/__specs__/analytics-events.spec.ts
  ssot/current-state/known-issues.md
  ssot/current-state/open-questions.md
  ssot/current-state/release-candidate-test-charter.md
  ssot/current-state/release-state.md
  ssot/implementation/analytics-events.md
  ssot/operations/analytics-operations.md
  tools/analytics/README.md
  tools/analytics/bigquery.mjs
  tools/analytics/cohorts.config.mjs
  tools/analytics/cohorts.mjs
  tools/analytics/dashboard.config.mjs
  tools/analytics/digest.mjs
  tools/analytics/queries/activation-funnel.sql
  tools/analytics/queries/retention-cohorts.sql
  tools/analytics/query.mjs
Due: eslint --fix, prettier --write

fix(ta-firestore): recover App Check readiness after startup (#1621)
  libs/common/ta-firestore/src/lib/__specs__/app-check-readiness.service.spec.ts
  libs/common/ta-firestore/src/lib/__specs__/initialize-firebase-app-check.spec.ts
  libs/common/ta-firestore/src/lib/__specs__/provide-firestore-utils.spec.ts
  libs/common/ta-firestore/src/lib/app-check-gate/app-check-gate.component.ts
  libs/common/ta-firestore/src/lib/app-check-readiness.service.ts
  libs/common/ta-firestore/src/lib/initialize-firebase-app-check.ts
  libs/common/ta-firestore/src/lib/ngrx-store/__specs__/effects.spec.ts
  libs/common/ta-firestore/src/lib/ngrx-store/__specs__/reducer.spec.ts
  libs/common/ta-firestore/src/lib/ngrx-store/actions.ts
  libs/common/ta-firestore/src/lib/ngrx-store/effects.ts
  libs/common/ta-firestore/src/lib/ngrx-store/reducer.ts
  libs/common/ta-firestore/src/lib/provide-firestore-utils.ts
  ssot/architecture/firebase.md
  ssot/implementation/analytics-events.md
  ssot/use-cases/uc-harden-platform-and-backend-trust.md
  tools/analytics/dashboard.config.mjs
Due: eslint --fix, prettier --write

fix(support): Adadpted build pipeline to fail if ssot check fails
  .github/workflows/pipeline.yml
  tools/README.md
Due: prettier --write

fix(ta-firestore): recover App Check readiness after startup (#1621) (#1690)
  libs/common/ta-firestore/src/lib/__specs__/app-check-readiness.service.spec.ts
  libs/common/ta-firestore/src/lib/__specs__/initialize-firebase-app-check.spec.ts
  libs/common/ta-firestore/src/lib/__specs__/provide-firestore-utils.spec.ts
  libs/common/ta-firestore/src/lib/app-check-gate/app-check-gate.component.ts
  libs/common/ta-firestore/src/lib/app-check-readiness.service.ts
  libs/common/ta-firestore/src/lib/initialize-firebase-app-check.ts
  libs/common/ta-firestore/src/lib/ngrx-store/__specs__/effects.spec.ts
  libs/common/ta-firestore/src/lib/ngrx-store/__specs__/reducer.spec.ts
  libs/common/ta-firestore/src/lib/ngrx-store/actions.ts
  libs/common/ta-firestore/src/lib/ngrx-store/effects.ts
  libs/common/ta-firestore/src/lib/ngrx-store/reducer.ts
  libs/common/ta-firestore/src/lib/provide-firestore-utils.ts
  ssot/architecture/firebase.md
  ssot/implementation/analytics-events.md
  ssot/use-cases/uc-harden-platform-and-backend-trust.md
  tools/analytics/dashboard.config.mjs
Due: eslint --fix, prettier --write

docs: prepare the bucket list Instagram post (#913)
  ssot/assets/social/bucket-list-post.png
  ssot/implementation/social-media-channels.md
Due: prettier --write

docs: prepare the bucket list Instagram post (#913) (#1694)
  ssot/assets/social/bucket-list-post.png
  ssot/implementation/social-media-channels.md
Due: prettier --write

fix(ta-firestore): say when a provider sign-in fails (#1622)
  libs/common/ta-firestore/src/lib/ngrx-store/__specs__/effects.spec.ts
  libs/common/ta-firestore/src/lib/ngrx-store/__specs__/reducer.spec.ts
  libs/common/ta-firestore/src/lib/ngrx-store/__specs__/sign-in-cancellation.spec.ts
  libs/common/ta-firestore/src/lib/ngrx-store/actions.ts
  libs/common/ta-firestore/src/lib/ngrx-store/effects.ts
  libs/common/ta-firestore/src/lib/ngrx-store/reducer.ts
  libs/common/ta-firestore/src/lib/ngrx-store/sign-in-cancellation.ts
  ssot/architecture/auth.md
Due: eslint --fix, prettier --write

fix(ta-firestore): say when a provider sign-in fails (#1622) (#1695)
  libs/common/ta-firestore/src/lib/ngrx-store/__specs__/effects.spec.ts
  libs/common/ta-firestore/src/lib/ngrx-store/__specs__/reducer.spec.ts
  libs/common/ta-firestore/src/lib/ngrx-store/__specs__/sign-in-cancellation.spec.ts
  libs/common/ta-firestore/src/lib/ngrx-store/actions.ts
  libs/common/ta-firestore/src/lib/ngrx-store/effects.ts
  libs/common/ta-firestore/src/lib/ngrx-store/reducer.ts
  libs/common/ta-firestore/src/lib/ngrx-store/sign-in-cancellation.ts
  ssot/architecture/auth.md
Due: eslint --fix, prettier --write

fix(bite-tribe/restaurant): show the menu label in light mode and link the Bites from the rating count (#1696)
  .loki/reference/chrome_iphone7_Pages_Restaurant_Unverified_Restaurant_With_Rated_Bites.png
  .loki/reference/chrome_iphone7_Pages_Restaurant_Unverified_Restaurant_Without_Rated_Bites.png
  .loki/reference/chrome_iphone7_Pages_Restaurant_Verified_Restaurant_Full_Maintained.png
  .loki/reference/chrome_iphone7_Pages_Restaurant_Verified_Restaurant_Loading.png
  .loki/reference/chrome_iphone7_Pages_Restaurant_Verified_Restaurant_Registered.png
  .loki/reference/chrome_iphone7_Pages_Restaurant_Verified_Restaurant_Registered_With_Social_Media_Links.png
  .loki/reference/chrome_iphone7_Pages_Restaurant_Verified_Restaurant_Registered_Without_Menu.png
  .loki/reference/chrome_laptop_Pages_Restaurant_Unverified_Restaurant_With_Rated_Bites.png
  .loki/reference/chrome_laptop_Pages_Restaurant_Unverified_Restaurant_Without_Rated_Bites.png
  .loki/reference/chrome_laptop_Pages_Restaurant_Verified_Restaurant_Full_Maintained.png
  .loki/reference/chrome_laptop_Pages_Restaurant_Verified_Restaurant_Loading.png
  .loki/reference/chrome_laptop_Pages_Restaurant_Verified_Restaurant_Registered.png
  .loki/reference/chrome_laptop_Pages_Restaurant_Verified_Restaurant_Registered_With_Social_Media_Links.png
  .loki/reference/chrome_laptop_Pages_Restaurant_Verified_Restaurant_Registered_Without_Menu.png
  apps/bite-tribe-e2e/src/pages/restaurant.page.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/bite-place/__specs__/bite-place.component.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/bite-place/bite-place.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/page/bite-place/bite-place.component.scss
  libs/bite-tribe/restaurant/page/src/lib/components/page/bite-place/bite-place.component.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant/__specs__/restaurant.component.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant/restaurant.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant/restaurant.component.scss
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant/restaurant.component.ts
  ssot/implementation/ionic-patterns.md
  ssot/use-cases/uc-browse-restaurants-and-places.md
Due: eslint --fix, prettier --write, stylelint --fix
