Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,html}": "eslint --fix",
  "*.{ts,js,html,scss,json,md}": "prettier --write",
  "*.scss": "stylelint --fix"
}

feat: revert old task depending on new setup
  .github/workflows/pipeline.yml
Due: none

revert: revert changes in pipeline
  .github/workflows/pipeline.yml
Due: none

ci: rename install-dependencies to setup
  .github/workflows/pipeline.yml
Due: none

ci: introduce cv build
  .github/workflows/pipeline.yml
Due: none

ci: cleanup possibly unnecessary step
  .github/workflows/pipeline.yml
Due: none

ci: remove unnecessary steps
  .github/workflows/pipeline.yml
Due: none

ci: introduce nx-cache restore
  .github/workflows/pipeline.yml
Due: none

ci: test if checkout is necessary on lint step
  .github/workflows/pipeline.yml
Due: none

revert: revert previous commit
  .github/workflows/pipeline.yml
Due: none

ci: setup deployment to firebase
  .github/workflows/pipeline.yml
Due: none

ci: move firebase.json to app folder
  .github/workflows/pipeline.yml
  apps/cv/firebase.json
  apps/prices/firebase.json
Due: prettier --write

ci: specify entry point for deployment
  .github/workflows/pipeline.yml
Due: none

ci: init firebase hosting
  apps/cv/firebase.json
Due: prettier --write

ci: restructure monorepo for multi firebase deployments
  apps/cv/.firebaserc
  apps/cv/firebase.json
  apps/prices/.firebaserc
Due: prettier --write

ci: adjust dist folder config for firebase
  apps/cv/firebase.json
Due: prettier --write

ci: setup firebase to operate from workspace root
  .firebaserc
  apps/cv/firebase.json
  firebase.json
Due: prettier --write

ci: missing files
  .firebaserc
  .github/workflows/pipeline.yml
  firebase.json
Due: prettier --write

ci: fix target in pipeline script
  .github/workflows/pipeline.yml
Due: none

ci: deploy from local
  .firebaserc
Due: none

fix: fix usage of input signal
  libs/kosaml/site/feature/src/lib/components/header/header.component.html
Due: eslint --fix, prettier --write

chore: migrate to newest nx
  migrations.json
  package-lock.json
  package.json
Due: prettier --write

chore: minor compile errors fixed
  tools/executors/loki/src/__specs__/impl.spec.ts
  tools/executors/loki/src/impl.ts
Due: eslint --fix, prettier --write

chore: migrate @angular/fire
  package-lock.json
  package.json
Due: prettier --write

test: switch to setupZoneTestEnv
  __mocks__/fetch.js
  apps/prices/src/app/app.config.ts
  jest.preset.js
  libs/common/ui/card/src/test-setup.ts
  libs/prices/add-item/feature/src/lib/components/add-item.component.ts
  libs/prices/auth/feature/src/test-setup.ts
  libs/prices/firestore/feature/src/index.ts
  libs/prices/firestore/feature/src/lib/provide-prices-firestore.ts
  libs/prices/home/feature/src/lib/components/home.component.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

test: fix mock for fetch
  __mocks__/fetch.js
  libs/common/ui/page/src/test-setup.ts
Due: eslint --fix, prettier --write

chore: migrate deps
  package-lock.json
  package.json
Due: prettier --write

chore: migrate deps
  .husky/commit-msg
Due: none

fix: typo
  apps/cv/src/app/app.component.html
  apps/cv/src/app/app.component.ts
Due: eslint --fix, prettier --write

fix: typo (#207)
  apps/cv/src/app/app.component.html
  apps/cv/src/app/app.component.ts
Due: eslint --fix, prettier --write

ci: fix job step name
  .github/workflows/pipeline.yml
  apps/cv/src/index.html
Due: eslint --fix, prettier --write

ci: fix job step name (#208)
  .github/workflows/pipeline.yml
  apps/cv/src/index.html
Due: eslint --fix, prettier --write

chore: delete nx-cache
  .github/workflows/pipeline.yml
Due: none

chore: add nx-loki plugin
  nx.json
  package-lock.json
  package.json
Due: prettier --write

chore: setup debugging in vscode
  .vscode/launch.json
Due: prettier --write

chore: remove nx-loki
  package-lock.json
  package.json
Due: prettier --write

chore: remove nx-loki plugin from nx.json
  nx.json
Due: prettier --write

chore: update storybook configuration
  .storybook/main.js
  .storybook/tsconfig.json
  apps/kosaml/.storybook/main.js
  apps/kosaml/.storybook/main.ts
  apps/kosaml/.storybook/preview.js
  apps/kosaml/.storybook/preview.ts
  apps/kosaml/.storybook/tsconfig.json
  apps/prices/.storybook/main.js
  apps/prices/.storybook/main.ts
  apps/prices/.storybook/preview.ts
  apps/prices/.storybook/tsconfig.json
  migration-storybook.log
  package-lock.json
  package.json
Due: eslint --fix, prettier --write
