Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

docs: add story for onboarding page
  libs/bite-tribe/onboarding/page/src/lib/components/onboarding-page/__specs__/onboarding-page.stories.ts
Due: eslint --fix, prettier --write

test: adjust e2e tests
  apps/bite-tribe-e2e/src/pages/onboarding.page.ts
  apps/bite-tribe-e2e/src/support/auth.ts
  apps/bite-tribe-e2e/src/tests/login.spec.ts
  apps/bite-tribe-e2e/src/tests/registration.spec.ts
  libs/bite-tribe/onboarding/page/src/lib/components/onboarding-page/onboarding.page.html
Due: eslint --fix, prettier --write

feat: enforce case-insenstive unique displayName
  apps/bite-tribe-firebase/functions/src/functions/users/__specs__/display-name-claims.emulator-spec.ts
  apps/bite-tribe-firebase/functions/src/functions/users/__specs__/display-name-utils.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/users/backfill-display-name-claims.ts
  apps/bite-tribe-firebase/functions/src/functions/users/check-display-name-availability.ts
  apps/bite-tribe-firebase/functions/src/functions/users/claim-display-name.ts
  apps/bite-tribe-firebase/functions/src/functions/users/display-name-utils.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe-common/model/src/lib/public-user.ts
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/api/src/lib/profile-api.service.ts
  libs/bite-tribe/profile/data-access/src/lib/profile-data-access.service.ts
  libs/bite-tribe/profile/page/src/lib/integration/__specs__/profile.service.spec.ts
  libs/bite-tribe/profile/page/src/lib/integration/profile.service.ts
  libs/common/utils/src/index.ts
  libs/common/utils/src/lib/display-name-error-reason.ts
  ssot/pages/Implementation - Firebase Functions.md
  ssot/pages/User.md
Due: eslint --fix, prettier --write

test: adjust tests
  libs/bite-tribe/profile/data-access/src/lib/__specs__/profile-data-access.service.spec.ts
Due: eslint --fix, prettier --write

feat(1012): enforce case insensitive unique display name (#1020)
  apps/bite-tribe-firebase/functions/src/functions/users/__specs__/display-name-claims.emulator-spec.ts
  apps/bite-tribe-firebase/functions/src/functions/users/__specs__/display-name-utils.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/users/backfill-display-name-claims.ts
  apps/bite-tribe-firebase/functions/src/functions/users/check-display-name-availability.ts
  apps/bite-tribe-firebase/functions/src/functions/users/claim-display-name.ts
  apps/bite-tribe-firebase/functions/src/functions/users/display-name-utils.ts
  apps/bite-tribe-firebase/functions/src/index.ts
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe-common/model/src/lib/public-user.ts
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/api/src/lib/profile-api.service.ts
  libs/bite-tribe/profile/data-access/src/lib/__specs__/profile-data-access.service.spec.ts
  libs/bite-tribe/profile/data-access/src/lib/profile-data-access.service.ts
  libs/bite-tribe/profile/page/src/lib/integration/__specs__/profile.service.spec.ts
  libs/bite-tribe/profile/page/src/lib/integration/profile.service.ts
  libs/common/utils/src/index.ts
  libs/common/utils/src/lib/display-name-error-reason.ts
  ssot/pages/Implementation - Firebase Functions.md
  ssot/pages/User.md
Due: eslint --fix, prettier --write

feat: onboarding assistant shell and step navigation
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/onboarding/data-access/src/index.ts
  libs/bite-tribe/onboarding/data-access/src/lib/__specs__/onboarding-progress.service.spec.ts
  libs/bite-tribe/onboarding/data-access/src/lib/onboarding-progress.service.ts
  libs/bite-tribe/onboarding/data-access/src/lib/onboarding-step-id.ts
  libs/bite-tribe/onboarding/page/src/index.ts
  libs/bite-tribe/onboarding/page/src/lib/components/onboarding-page/__specs__/onboarding-page.stories.ts
  libs/bite-tribe/onboarding/page/src/lib/components/onboarding-page/onboarding.page.html
  libs/bite-tribe/onboarding/page/src/lib/components/onboarding-page/onboarding.page.scss
  libs/bite-tribe/onboarding/page/src/lib/components/onboarding-page/onboarding.page.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/__specs__/onboarding-container.component.spec.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/__specs__/onboarding.service.spec.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/onboarding-container.component.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/onboarding.service.ts
  libs/bite-tribe/onboarding/page/src/lib/steps/onboarding-steps.ts
Due: eslint --fix, prettier --write, stylelint --fix

style: adjust styling
  libs/bite-tribe/onboarding/page/src/lib/components/onboarding-page/onboarding.page.html
  libs/bite-tribe/onboarding/page/src/lib/components/onboarding-page/onboarding.page.scss
  libs/bite-tribe/onboarding/page/src/lib/integration/onboarding-container.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

ci: fix build
  libs/bite-tribe/onboarding/page/src/lib/components/onboarding-page/onboarding.page.ts
Due: eslint --fix, prettier --write

test: fix e2e tests
  apps/bite-tribe-e2e/src/pages/onboarding.page.ts
  apps/bite-tribe-e2e/src/support/auth.ts
  apps/bite-tribe-e2e/src/tests/login.spec.ts
  apps/bite-tribe-e2e/src/tests/registration.spec.ts
Due: eslint --fix, prettier --write

feat(1013): onboarding assistant shell and step navigation (#1021)
  apps/bite-tribe-e2e/src/pages/onboarding.page.ts
  apps/bite-tribe-e2e/src/support/auth.ts
  apps/bite-tribe-e2e/src/tests/login.spec.ts
  apps/bite-tribe-e2e/src/tests/registration.spec.ts
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/onboarding/data-access/src/index.ts
  libs/bite-tribe/onboarding/data-access/src/lib/__specs__/onboarding-progress.service.spec.ts
  libs/bite-tribe/onboarding/data-access/src/lib/onboarding-progress.service.ts
  libs/bite-tribe/onboarding/data-access/src/lib/onboarding-step-id.ts
  libs/bite-tribe/onboarding/page/src/index.ts
  libs/bite-tribe/onboarding/page/src/lib/components/onboarding-page/__specs__/onboarding-page.stories.ts
  libs/bite-tribe/onboarding/page/src/lib/components/onboarding-page/onboarding.page.html
  libs/bite-tribe/onboarding/page/src/lib/components/onboarding-page/onboarding.page.scss
  libs/bite-tribe/onboarding/page/src/lib/components/onboarding-page/onboarding.page.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/__specs__/onboarding-container.component.spec.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/__specs__/onboarding.service.spec.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/onboarding-container.component.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/onboarding.service.ts
  libs/bite-tribe/onboarding/page/src/lib/steps/onboarding-steps.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: identity and visibility steps
  apps/bite-tribe-e2e/src/pages/onboarding.page.ts
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/api/src/lib/__specs__/bite-tribe-api.service.spec.ts
  libs/bite-tribe/api/src/lib/__specs__/profile-api.service.spec.ts
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/api/src/lib/profile-api.service.ts
  libs/bite-tribe/onboarding/data-access/src/index.ts
  libs/bite-tribe/onboarding/data-access/src/lib/__specs__/onboarding-data-access.service.spec.ts
  libs/bite-tribe/onboarding/data-access/src/lib/onboarding-data-access.service.ts
  libs/bite-tribe/onboarding/page/src/lib/components/identity-step/__specs__/identity-step.component.spec.ts
  libs/bite-tribe/onboarding/page/src/lib/components/identity-step/__specs__/identity-step.stories.ts
  libs/bite-tribe/onboarding/page/src/lib/components/identity-step/identity-step.component.html
  libs/bite-tribe/onboarding/page/src/lib/components/identity-step/identity-step.component.scss
  libs/bite-tribe/onboarding/page/src/lib/components/identity-step/identity-step.component.ts
  libs/bite-tribe/onboarding/page/src/lib/components/onboarding-page/__specs__/onboarding-page.stories.ts
  libs/bite-tribe/onboarding/page/src/lib/components/onboarding-page/onboarding.page.html
  libs/bite-tribe/onboarding/page/src/lib/components/onboarding-page/onboarding.page.scss
  libs/bite-tribe/onboarding/page/src/lib/components/onboarding-page/onboarding.page.ts
  libs/bite-tribe/onboarding/page/src/lib/components/visibility-step/__specs__/visibility-step.component.spec.ts
  libs/bite-tribe/onboarding/page/src/lib/components/visibility-step/__specs__/visibility-step.stories.ts
  libs/bite-tribe/onboarding/page/src/lib/components/visibility-step/visibility-step.component.html
  libs/bite-tribe/onboarding/page/src/lib/components/visibility-step/visibility-step.component.scss
  libs/bite-tribe/onboarding/page/src/lib/components/visibility-step/visibility-step.component.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/__specs__/onboarding-container.component.spec.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/__specs__/onboarding.service.spec.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/onboarding-container.component.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/onboarding.service.ts
  libs/bite-tribe/onboarding/page/src/test-setup.ts
Due: eslint --fix, prettier --write, stylelint --fix

style: adjustments to identity step
  libs/bite-tribe/onboarding/page/src/lib/components/identity-step/__specs__/identity-step.component.spec.ts
  libs/bite-tribe/onboarding/page/src/lib/components/identity-step/identity-step.component.ts
Due: eslint --fix, prettier --write

test: adjust test
  apps/bite-tribe/src/test-setup.ts
Due: eslint --fix, prettier --write

test: extend test coverage
  libs/bite-tribe/onboarding/data-access/src/lib/__specs__/onboarding-data-access.service.spec.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/__specs__/onboarding.service.spec.ts
Due: eslint --fix, prettier --write

style: switch selection for visibility visually
  libs/bite-tribe/onboarding/page/src/lib/components/visibility-step/visibility-step.component.html
  libs/bite-tribe/onboarding/page/src/lib/components/visibility-step/visibility-step.component.ts
Due: eslint --fix, prettier --write

fix: broken image load breaks photo upload component
  libs/bite-tribe/onboarding/page/src/lib/components/identity-step/__specs__/identity-step.component.spec.ts
  libs/bite-tribe/onboarding/page/src/lib/components/identity-step/identity-step.component.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/__specs__/onboarding.service.spec.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/onboarding.service.ts
  libs/bite-tribe/profile/page/src/lib/components/edit-profile-page/__specs__/edit-profile.page.spec.ts
  libs/bite-tribe/profile/page/src/lib/components/edit-profile-page/edit-profile.page.html
  libs/bite-tribe/profile/page/src/lib/components/edit-profile-page/edit-profile.page.ts
  libs/common/ui/image-upload/src/lib/__specs__/image-upload.component.spec.ts
  libs/common/ui/image-upload/src/lib/image-upload.component.html
  libs/common/ui/image-upload/src/lib/image-upload.component.ts
Due: eslint --fix, prettier --write

fix: resetting form on edit
  libs/bite-tribe/onboarding/page/src/lib/components/identity-step/__specs__/identity-step.component.spec.ts
  libs/bite-tribe/onboarding/page/src/lib/components/identity-step/identity-step.component.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/__specs__/onboarding.service.spec.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/onboarding.service.ts
Due: eslint --fix, prettier --write

fix: not checking display names from old users
  apps/bite-tribe-firebase/functions/src/functions/users/__specs__/display-name-claims.emulator-spec.ts
  apps/bite-tribe-firebase/functions/src/functions/users/check-display-name-availability.ts
  apps/bite-tribe-firebase/functions/src/functions/users/claim-display-name.ts
Due: eslint --fix, prettier --write

test: add test cases for displayName uniqueness
  apps/bite-tribe-firebase/functions/src/functions/users/__specs__/check-display-name-availability.spec.ts
Due: eslint --fix, prettier --write

refactor: feedback from pr
  libs/bite-tribe/onboarding/guards/README.md
  libs/bite-tribe/onboarding/guards/eslint.config.mjs
  libs/bite-tribe/onboarding/guards/jest.config.cts
  libs/bite-tribe/onboarding/guards/project.json
  libs/bite-tribe/onboarding/guards/src/index.ts
  libs/bite-tribe/onboarding/guards/src/lib/__specs__/gate-authenticated-routes.spec.ts
  libs/bite-tribe/onboarding/guards/src/lib/__specs__/onboarding-completed.guard.spec.ts
  libs/bite-tribe/onboarding/guards/src/lib/__specs__/onboarding.guard.spec.ts
  libs/bite-tribe/onboarding/guards/src/lib/gate-authenticated-routes.ts
  libs/bite-tribe/onboarding/guards/src/lib/onboarding-completed.guard.ts
  libs/bite-tribe/onboarding/guards/src/lib/onboarding.guard.ts
  libs/bite-tribe/onboarding/guards/src/test-setup.ts
  libs/bite-tribe/onboarding/guards/tsconfig.json
  libs/bite-tribe/onboarding/guards/tsconfig.lib.json
  libs/bite-tribe/onboarding/guards/tsconfig.spec.json
  libs/bite-tribe/onboarding/page/src/index.ts
  libs/bite-tribe/shell/src/lib/routes.ts
  tsconfig.base.json
Due: eslint --fix, prettier --write

fix: fix prefill clobber + stale guard
  apps/bite-tribe-e2e/playwright.config.ts
  libs/bite-tribe/onboarding/page/src/lib/components/identity-step/__specs__/identity-step.component.spec.ts
  libs/bite-tribe/onboarding/page/src/lib/components/identity-step/identity-step.component.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/__specs__/onboarding.service.spec.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/onboarding.service.ts
  libs/bite-tribe/shell/src/lib/routes.ts
Due: eslint --fix, prettier --write

refactor: lazy load heic2any
  libs/common/image-compression/src/lib/convert-heic-to-jpeg.ts
Due: eslint --fix, prettier --write

docs: extend ssot
  ssot/pages/Architecture - Nx Workspace.md
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Implementation - Feature Patterns.md
  ssot/pages/Implementation - Ionic Patterns.md
  ssot/pages/Implementation - Testing.md
  ssot/pages/SSOT.md
Due: prettier --write

style: fix height of language selection
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  libs/bite-tribe/onboarding/page/src/lib/components/currency-step/currency-step.component.html
  libs/bite-tribe/onboarding/page/src/lib/components/currency-step/currency-step.component.scss
  libs/bite-tribe/onboarding/page/src/lib/components/language-step/language-step.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

style: fix height of language selection
  libs/bite-tribe/onboarding/page/src/lib/components/currency-step/currency-step.component.scss
Due: prettier --write, stylelint --fix

test: adjust e2e tests
  apps/bite-tribe-e2e/src/pages/onboarding.page.ts
Due: eslint --fix, prettier --write

feat: initial implementation
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe-common/model/src/lib/settings.ts
  libs/bite-tribe/onboarding/data-access/src/lib/__specs__/onboarding-data-access.service.spec.ts
  libs/bite-tribe/onboarding/data-access/src/lib/onboarding-data-access.service.ts
  libs/bite-tribe/onboarding/data-access/src/lib/onboarding-step-id.ts
  libs/bite-tribe/onboarding/page/src/lib/components/location-step/__specs__/location-step.component.spec.ts
  libs/bite-tribe/onboarding/page/src/lib/components/location-step/__specs__/location-step.stories.ts
  libs/bite-tribe/onboarding/page/src/lib/components/location-step/location-step.component.html
  libs/bite-tribe/onboarding/page/src/lib/components/location-step/location-step.component.scss
  libs/bite-tribe/onboarding/page/src/lib/components/location-step/location-step.component.ts
  libs/bite-tribe/onboarding/page/src/lib/components/onboarding-page/onboarding.page.html
  libs/bite-tribe/onboarding/page/src/lib/components/onboarding-page/onboarding.page.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/__specs__/onboarding-container.component.spec.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/__specs__/onboarding.service.spec.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/onboarding-container.component.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/onboarding.service.ts
  libs/bite-tribe/onboarding/page/src/lib/steps/onboarding-steps.ts
  libs/bite-tribe/settings/page/src/lib/components/page/__specs__/settings.component.spec.ts
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.ts
  libs/bite-tribe/store/src/lib/app/__specs__/reducer.spec.ts
  libs/bite-tribe/store/src/lib/app/reducer.ts
  libs/common/geolocation/src/lib/geolocation.spec.ts
  libs/common/geolocation/src/lib/geolocation.ts
  ssot/pages/Architecture - Capacitor.md
  ssot/pages/epic-850.md
Due: eslint --fix, prettier --write, stylelint --fix

test: adjustments for e2e tests
  libs/bite-tribe/details/data-access/src/lib/__specs__/details-data-access.service.spec.ts
  libs/bite-tribe/details/data-access/src/lib/details-data-access.service.ts
  libs/common/geolocation/src/lib/geolocation.ts
  ssot/pages/Architecture - Capacitor.md
Due: eslint --fix, prettier --write

fix: image upload behavior in onboarding for profile image upload
  apps/bite-tribe-e2e/src/pages/onboarding.page.ts
  libs/bite-tribe/api/src/lib/__specs__/profile-api.service.spec.ts
  libs/bite-tribe/api/src/lib/profile-api.service.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/__specs__/onboarding.service.spec.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/onboarding.service.ts
Due: eslint --fix, prettier --write

fix: fix refresh user
  libs/bite-tribe/onboarding/data-access/src/lib/__specs__/onboarding-data-access.service.spec.ts
  libs/bite-tribe/onboarding/data-access/src/lib/onboarding-data-access.service.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
Due: eslint --fix, prettier --write

feat: last step of onboarding
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/api/src/lib/profile-api.service.ts
  libs/bite-tribe/onboarding/data-access/src/index.ts
  libs/bite-tribe/onboarding/data-access/src/lib/__specs__/onboarding-data-access.service.spec.ts
  libs/bite-tribe/onboarding/data-access/src/lib/onboarding-data-access.service.ts
  libs/bite-tribe/onboarding/page/src/lib/components/finish-step/__specs__/finish-step.component.spec.ts
  libs/bite-tribe/onboarding/page/src/lib/components/finish-step/__specs__/finish-step.stories.ts
  libs/bite-tribe/onboarding/page/src/lib/components/finish-step/finish-step.component.html
  libs/bite-tribe/onboarding/page/src/lib/components/finish-step/finish-step.component.scss
  libs/bite-tribe/onboarding/page/src/lib/components/finish-step/finish-step.component.ts
  libs/bite-tribe/onboarding/page/src/lib/components/onboarding-page/onboarding.page.html
  libs/bite-tribe/onboarding/page/src/lib/components/onboarding-page/onboarding.page.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/__specs__/onboarding-container.component.spec.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/__specs__/onboarding.service.spec.ts
  libs/bite-tribe/onboarding/page/src/lib/integration/onboarding.service.ts
Due: eslint --fix, prettier --write, stylelint --fix

test: adjust final step
  apps/bite-tribe-e2e/src/pages/onboarding.page.ts
Due: eslint --fix, prettier --write

test: add tests
  libs/common/ui/coach-mark/src/lib/__specs__/coach-mark-overlay.component.spec.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,html}
  prettier --write: any of: *.{ts,js,html,scss,json,md}
  stylelint --fix: any of: *.scss
