Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

test: adjust test
  libs/finances/payment/payment/src/lib/components/payment/payment.component.spec.ts
Due: eslint --fix, prettier --write

feat: fix splush screen (#231)
  apps/finances-ios/assets/logo.svg
  apps/finances-ios/ios/App/App/Assets.xcassets/Splash.imageset/Default@1x~universal~anyany-dark.png
  apps/finances-ios/ios/App/App/Assets.xcassets/Splash.imageset/Default@1x~universal~anyany.png
  apps/finances-ios/ios/App/App/Assets.xcassets/Splash.imageset/Default@2x~universal~anyany-dark.png
  apps/finances-ios/ios/App/App/Assets.xcassets/Splash.imageset/Default@2x~universal~anyany.png
  apps/finances-ios/ios/App/App/Assets.xcassets/Splash.imageset/Default@3x~universal~anyany-dark.png
  apps/finances-ios/ios/App/App/Assets.xcassets/Splash.imageset/Default@3x~universal~anyany.png
  libs/finances/api/src/lib/firestore/finances-api.service.ts
  libs/finances/payment/payment/src/lib/components/payment/payment.component.spec.ts
  libs/finances/payment/payment/src/lib/components/payment/utils/__specs__/to-date-string.spec.ts
  libs/finances/payment/payment/src/lib/components/payment/utils/__specs__/to-date.spec.ts
  libs/finances/payment/payment/src/lib/components/payment/utils/to-date.ts
  package.json
Due: eslint --fix, prettier --write

fix: fix not loading data after login
  libs/finances/api/src/lib/firestore/finances-api.service.ts
  libs/finances/store/src/lib/accounts/effects.ts
  libs/finances/store/src/lib/banks/effects.ts
  libs/finances/store/src/lib/payments/effects.ts
  libs/finances/store/src/lib/utils/indexed-db/IndexedDbService.ts
Due: eslint --fix, prettier --write

fix: fix not loading data after login (#232)
  libs/finances/api/src/lib/firestore/finances-api.service.ts
  libs/finances/store/src/lib/accounts/effects.ts
  libs/finances/store/src/lib/banks/effects.ts
  libs/finances/store/src/lib/payments/effects.ts
  libs/finances/store/src/lib/utils/indexed-db/IndexedDbService.ts
Due: eslint --fix, prettier --write

refactor: naming of lib and api service
  libs/prices/api/.eslintrc.json
  libs/prices/api/README.md
  libs/prices/api/jest.config.ts
  libs/prices/api/project.json
  libs/prices/api/src/index.ts
  libs/prices/api/src/lib/api/most-searched-item.model.ts
  libs/prices/api/src/lib/api/price.model.ts
  libs/prices/api/src/lib/prices-api.service.ts
  libs/prices/api/src/test-setup.ts
  libs/prices/api/tsconfig.json
  libs/prices/api/tsconfig.lib.json
  libs/prices/api/tsconfig.spec.json
  libs/prices/firestore/feature/src/index.ts
  libs/prices/store/feature/src/lib/mostSearched/effects.ts
  tsconfig.base.json
Due: eslint --fix, prettier --write

ci: setup firebase deployment
  .firebaserc
  .github/workflows/deploy-finances.yml
  apps/finances/.firebaserc
  apps/finances/firebase.json
  firebase.json
Due: prettier --write

ci: fix naming
  .github/workflows/deploy-finances.yml
Due: none

ci: fix naming (#234)
  .github/workflows/deploy-finances.yml
Due: none

chore: fix firebase options
  libs/finances/store/src/lib/provide-finances-store.ts
Due: eslint --fix, prettier --write

chore: fix firebase options (#235)
  libs/finances/store/src/lib/provide-finances-store.ts
Due: eslint --fix, prettier --write

ci: fix integrating env vars into deploy build
  .github/workflows/deploy-finances.yml
Due: none

ci: fix integrating env vars into deploy build (#236)
  .github/workflows/deploy-finances.yml
Due: none

chore: relase test version on ios
  apps/finances-ios/ios/App/App.xcodeproj/project.pbxproj
  apps/finances-ios/project.json
Due: prettier --write

chore: relase test version on ios (#237)
  apps/finances-ios/ios/App/App.xcodeproj/project.pbxproj
  apps/finances-ios/project.json
Due: prettier --write

chore: cleanup
  apps/budget-planner-e2e/.eslintrc.json
  apps/budget-planner-e2e/cypress.config.ts
  apps/budget-planner-e2e/project.json
  apps/budget-planner-e2e/src/e2e/app.cy.ts
  apps/budget-planner-e2e/src/fixtures/example.json
  apps/budget-planner-e2e/src/support/app.po.ts
  apps/budget-planner-e2e/src/support/commands.ts
  apps/budget-planner-e2e/src/support/e2e.ts
  apps/budget-planner-e2e/tsconfig.json
  apps/budget-planner/.eslintrc.json
  apps/budget-planner/Mockups.png
  apps/budget-planner/env-var-plugin.js
  apps/budget-planner/jest.config.ts
  apps/budget-planner/project.json
  apps/budget-planner/public/favicon.ico
  apps/budget-planner/src/app/__specs__/app.component.spec.ts
  apps/budget-planner/src/app/app.component.ts
  apps/budget-planner/src/app/app.config.ts
  apps/budget-planner/src/app/app.routes.ts
  apps/budget-planner/src/environments/environment.prod.ts
  apps/budget-planner/src/environments/environment.ts
  apps/budget-planner/src/index.html
  apps/budget-planner/src/main.ts
  apps/budget-planner/src/styles.scss
  apps/budget-planner/src/test-setup.ts
  apps/budget-planner/tsconfig.app.json
  apps/budget-planner/tsconfig.editor.json
  apps/budget-planner/tsconfig.json
  apps/budget-planner/tsconfig.spec.json
  tsconfig.base.json
Due: eslint --fix, prettier --write, stylelint --fix

chore: cleanup (#238)
  apps/budget-planner-e2e/.eslintrc.json
  apps/budget-planner-e2e/cypress.config.ts
  apps/budget-planner-e2e/project.json
  apps/budget-planner-e2e/src/e2e/app.cy.ts
  apps/budget-planner-e2e/src/fixtures/example.json
  apps/budget-planner-e2e/src/support/app.po.ts
  apps/budget-planner-e2e/src/support/commands.ts
  apps/budget-planner-e2e/src/support/e2e.ts
  apps/budget-planner-e2e/tsconfig.json
  apps/budget-planner/.eslintrc.json
  apps/budget-planner/Mockups.png
  apps/budget-planner/env-var-plugin.js
  apps/budget-planner/jest.config.ts
  apps/budget-planner/project.json
  apps/budget-planner/public/favicon.ico
  apps/budget-planner/src/app/__specs__/app.component.spec.ts
  apps/budget-planner/src/app/app.component.ts
  apps/budget-planner/src/app/app.config.ts
  apps/budget-planner/src/app/app.routes.ts
  apps/budget-planner/src/environments/environment.prod.ts
  apps/budget-planner/src/environments/environment.ts
  apps/budget-planner/src/index.html
  apps/budget-planner/src/main.ts
  apps/budget-planner/src/styles.scss
  apps/budget-planner/src/test-setup.ts
  apps/budget-planner/tsconfig.app.json
  apps/budget-planner/tsconfig.editor.json
  apps/budget-planner/tsconfig.json
  apps/budget-planner/tsconfig.spec.json
  tsconfig.base.json
Due: eslint --fix, prettier --write, stylelint --fix

feat: add start page
  libs/bite-tribe/start/.eslintrc.json
  libs/bite-tribe/start/README.md
  libs/bite-tribe/start/jest.config.ts
  libs/bite-tribe/start/project.json
  libs/bite-tribe/start/src/index.ts
  libs/bite-tribe/start/src/lib/bite-tribe-start/bite-tribe-start.component.css
  libs/bite-tribe/start/src/lib/bite-tribe-start/bite-tribe-start.component.html
  libs/bite-tribe/start/src/lib/bite-tribe-start/bite-tribe-start.component.spec.ts
  libs/bite-tribe/start/src/lib/bite-tribe-start/bite-tribe-start.component.ts
  libs/bite-tribe/start/src/test-setup.ts
  libs/bite-tribe/start/tsconfig.json
  libs/bite-tribe/start/tsconfig.lib.json
  libs/bite-tribe/start/tsconfig.spec.json
  tsconfig.base.json
Due: eslint --fix, prettier --write

feat: setup app shell and start
  apps/bite-tribe/.eslintrc.json
  apps/bite-tribe/env-var-plugin.js
  apps/bite-tribe/jest.config.ts
  apps/bite-tribe/project.json
  apps/bite-tribe/public/favicon.ico
  apps/bite-tribe/src/app/app.component.html
  apps/bite-tribe/src/app/app.component.scss
  apps/bite-tribe/src/app/app.component.spec.ts
  apps/bite-tribe/src/app/app.component.ts
  apps/bite-tribe/src/app/app.config.ts
  apps/bite-tribe/src/app/app.routes.ts
  apps/bite-tribe/src/app/nx-welcome.component.ts
  apps/bite-tribe/src/environments/environment.prod.ts
  apps/bite-tribe/src/environments/environment.ts
  apps/bite-tribe/src/global.scss
  apps/bite-tribe/src/index.html
  apps/bite-tribe/src/main.ts
  apps/bite-tribe/src/styles.scss
  apps/bite-tribe/src/test-setup.ts
  apps/bite-tribe/src/theme/variables.scss
  libs/bite-tribe/shell/src/index.ts
  libs/bite-tribe/shell/src/lib/app.config.ts
  libs/bite-tribe/shell/src/lib/bite-tribe-shell/bite-tribe-shell.component.css
  libs/bite-tribe/shell/src/lib/bite-tribe-shell/bite-tribe-shell.component.html
  libs/bite-tribe/shell/src/lib/bite-tribe-shell/bite-tribe-shell.component.spec.ts
  libs/bite-tribe/shell/src/lib/bite-tribe-shell/bite-tribe-shell.component.ts
  libs/bite-tribe/shell/src/lib/provide-bite-tribe-shell.ts
  libs/bite-tribe/shell/src/lib/routes.ts
  libs/bite-tribe/shell/src/test-setup.ts
  libs/finances/pages/.eslintrc.json
  libs/finances/pages/README.md
  libs/finances/pages/project.json
  libs/finances/pages/src/index.ts
  libs/finances/pages/src/lib/pages.ts
  libs/finances/pages/tsconfig.json
  libs/finances/pages/tsconfig.lib.json
  tsconfig.base.json
Due: eslint --fix, prettier --write, stylelint --fix

docs: add mock for start page
  libs/bite-tribe/start/start.png
Due: none

chore: styling
  apps/bite-tribe/public/assets/bite-tribe-logo.png
  libs/bite-tribe/start/src/lib/bite-tribe-start/bite-tribe-start.component.css
  libs/bite-tribe/start/src/lib/bite-tribe-start/bite-tribe-start.component.html
  libs/bite-tribe/start/src/lib/bite-tribe-start/bite-tribe-start.component.scss
  libs/bite-tribe/start/src/lib/bite-tribe-start/bite-tribe-start.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: styling
  libs/bite-tribe/start/src/lib/bite-tribe-start/bite-tribe-start.component.html
  libs/bite-tribe/start/src/lib/bite-tribe-start/bite-tribe-start.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

chore: build global variables for styling
  apps/bite-tribe/src/global.scss
  apps/bite-tribe/src/theme/variables.scss
  libs/bite-tribe/start/src/lib/bite-tribe-start/bite-tribe-start.component.scss
Due: prettier --write, stylelint --fix

chore: setup store service
  apps/bite-tribe/src/app/app.component.ts
  apps/bite-tribe/src/theme/variables.scss
  libs/bite-tribe/shell/src/lib/provide-bite-tribe-shell.ts
  libs/bite-tribe/start/src/lib/bite-tribe-start/bite-tribe-start.component.html
  libs/bite-tribe/start/src/lib/bite-tribe-start/bite-tribe-start.component.ts
  libs/bite-tribe/store/.eslintrc.json
  libs/bite-tribe/store/README.md
  libs/bite-tribe/store/jest.config.ts
  libs/bite-tribe/store/project.json
  libs/bite-tribe/store/src/index.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/test-setup.ts
  libs/bite-tribe/store/tsconfig.json
  libs/bite-tribe/store/tsconfig.lib.json
  libs/bite-tribe/store/tsconfig.spec.json
  libs/common/ui/auth/src/lib/components/login/login.component.html
  libs/common/ui/auth/src/lib/components/login/login.component.scss
  libs/common/ui/auth/src/lib/integration/login/login-container.component.ts
  libs/common/ui/auth/src/lib/integration/login/login.service.ts
  libs/common/ui/page/src/lib/page.component.html
  libs/common/ui/page/src/lib/page.component.ts
  libs/common/utils/src/index.ts
  libs/common/utils/src/lib/login.ts
  libs/common/utils/src/lib/store.service.ts
  libs/finances/store/src/lib/finances-store.service.ts
  tsconfig.base.json
Due: eslint --fix, prettier --write, stylelint --fix

chore: set up login and registration
  apps/bite-tribe/tsconfig.app.json
  libs/bite-tribe/shell/src/lib/provide-bite-tribe-shell.ts
  libs/bite-tribe/store/src/index.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/provide-bite-tribe-store.ts
  libs/bite-tribe/store/tsconfig.lib.json
Due: eslint --fix, prettier --write

feat: start home page
  libs/bite-tribe/home/.eslintrc.json
  libs/bite-tribe/home/README.md
  libs/bite-tribe/home/jest.config.ts
  libs/bite-tribe/home/project.json
  libs/bite-tribe/home/src/index.ts
  libs/bite-tribe/home/src/lib/bite-tribe/home/bite-tribe/home.component.css
  libs/bite-tribe/home/src/lib/bite-tribe/home/bite-tribe/home.component.html
  libs/bite-tribe/home/src/lib/bite-tribe/home/bite-tribe/home.component.spec.ts
  libs/bite-tribe/home/src/lib/bite-tribe/home/bite-tribe/home.component.ts
  libs/bite-tribe/home/src/test-setup.ts
  libs/bite-tribe/home/tsconfig.json
  libs/bite-tribe/home/tsconfig.lib.json
  libs/bite-tribe/home/tsconfig.spec.json
  libs/bite-tribe/shell/src/lib/routes.ts
  libs/bite-tribe/store/src/lib/provide-bite-tribe-store.ts
  libs/bite-tribe/store/src/lib/router/effects.ts
  tsconfig.base.json
Due: eslint --fix, prettier --write

feat: bite component
  libs/bite-tribe/home/.eslintrc.json
  libs/bite-tribe/home/home.png
  libs/bite-tribe/home/src/index.ts
  libs/bite-tribe/home/src/lib/bite-tribe/home/bite-tribe/home.component.css
  libs/bite-tribe/home/src/lib/bite-tribe/home/bite-tribe/home.component.html
  libs/bite-tribe/home/src/lib/bite-tribe/home/bite-tribe/home.component.ts
  libs/bite-tribe/home/src/lib/components/bite/bite.component.html
  libs/bite-tribe/home/src/lib/components/bite/bite.component.scss
  libs/bite-tribe/home/src/lib/components/bite/bite.component.ts
  libs/bite-tribe/home/src/lib/home.component.html
  libs/bite-tribe/home/src/lib/home.component.scss
  libs/bite-tribe/home/src/lib/home.component.spec.ts
  libs/bite-tribe/home/src/lib/home.component.ts
  libs/bite-tribe/start/src/index.ts
  libs/bite-tribe/start/src/lib/bite-tribe-start.component.html
  libs/bite-tribe/start/src/lib/bite-tribe-start.component.scss
  libs/bite-tribe/start/src/lib/bite-tribe-start.component.spec.ts
  libs/bite-tribe/start/src/lib/bite-tribe-start.component.ts
  libs/common/ui/page/src/lib/page.component.html
  libs/common/ui/page/src/lib/page.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: navigate to bite page
  libs/bite-tribe/bite/.eslintrc.json
  libs/bite-tribe/bite/README.md
  libs/bite-tribe/bite/jest.config.ts
  libs/bite-tribe/bite/project.json
  libs/bite-tribe/bite/src/index.ts
  libs/bite-tribe/bite/src/lib/bite.component.css
  libs/bite-tribe/bite/src/lib/bite.component.html
  libs/bite-tribe/bite/src/lib/bite.component.spec.ts
  libs/bite-tribe/bite/src/lib/bite.component.ts
  libs/bite-tribe/bite/src/test-setup.ts
  libs/bite-tribe/bite/tsconfig.json
  libs/bite-tribe/bite/tsconfig.lib.json
  libs/bite-tribe/bite/tsconfig.spec.json
  libs/bite-tribe/home/src/lib/home.component.html
  libs/bite-tribe/home/src/lib/home.component.ts
  libs/bite-tribe/shell/src/lib/routes.ts
  libs/common/ui/page/src/lib/page.component.html
  libs/common/ui/page/src/lib/page.component.ts
  tsconfig.base.json
Due: eslint --fix, prettier --write

feat: new bite page
  apps/bite-tribe/project.json
  libs/bite-tribe/bite/.eslintrc.json
  libs/bite-tribe/bite/bite.png
  libs/bite-tribe/bite/src/lib/bite.component.css
  libs/bite-tribe/bite/src/lib/bite.component.html
  libs/bite-tribe/bite/src/lib/bite.component.scss
  libs/bite-tribe/bite/src/lib/bite.component.ts
  libs/common/utils/src/lib/add-necessary-icons.ts
  libs/common/utils/src/lib/get-ionic-config.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: img upload
  libs/bite-tribe/bite/src/lib/bite.component.html
  libs/bite-tribe/bite/src/lib/bite.component.scss
  libs/bite-tribe/bite/src/lib/bite.component.ts
  libs/bite-tribe/bite/src/lib/bite.service.ts
  libs/bite-tribe/home/src/lib/components/bite/bite.component.ts
  libs/bite-tribe/home/src/lib/home.component.ts
  libs/common/utils/src/lib/add-necessary-icons.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, stylelint --fix

test: adjust jest configs
  libs/bite-tribe/bite/jest.config.ts
  libs/bite-tribe/bite/src/lib/bite.component.spec.ts
  libs/bite-tribe/bite/src/lib/bite.component.ts
  libs/bite-tribe/home/jest.config.ts
  libs/bite-tribe/home/src/lib/home.component.spec.ts
  libs/bite-tribe/start/jest.config.ts
  libs/bite-tribe/start/src/lib/bite-tribe-start.component.spec.ts
  libs/common/ui/auth/src/lib/integration/login/__specs__/login-container.component.spec.ts
  libs/common/ui/page/jest.config.ts
Due: eslint --fix, prettier --write

feat: impl form
  libs/bite-tribe/bite/src/lib/bite.component.html
  libs/bite-tribe/bite/src/lib/bite.component.ts
  libs/bite-tribe/bite/src/lib/bite.service.ts
Due: eslint --fix, prettier --write

feat: save bites
  libs/bite-tribe/api/.eslintrc.json
  libs/bite-tribe/api/README.md
  libs/bite-tribe/api/jest.config.ts
  libs/bite-tribe/api/project.json
  libs/bite-tribe/api/src/index.ts
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/api/src/test-setup.ts
  libs/bite-tribe/api/tsconfig.json
  libs/bite-tribe/api/tsconfig.lib.json
  libs/bite-tribe/api/tsconfig.spec.json
  libs/bite-tribe/bite/src/lib/bite.component.ts
  libs/bite-tribe/bite/src/lib/bite.service.ts
  libs/bite-tribe/shell/src/lib/provide-bite-tribe-shell.ts
  libs/bite-tribe/store/src/index.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/bite/actions.ts
  libs/bite-tribe/store/src/lib/bite/effects.ts
  libs/bite-tribe/store/src/lib/provide-bite-tribe-store.ts
  libs/common/utils/src/lib/store.service.ts
  libs/finances/store/src/lib/payments/effects.ts
  package-lock.json
  package.json
  tsconfig.base.json
Due: eslint --fix, prettier --write

feat: save bite incl. geopoint
  libs/bite-tribe/bite/data-access/.eslintrc.json
  libs/bite-tribe/bite/data-access/README.md
  libs/bite-tribe/bite/data-access/jest.config.ts
  libs/bite-tribe/bite/data-access/project.json
  libs/bite-tribe/bite/data-access/src/index.ts
  libs/bite-tribe/bite/data-access/src/lib/bite-data-access.service.ts
  libs/bite-tribe/bite/data-access/src/test-setup.ts
  libs/bite-tribe/bite/data-access/tsconfig.json
  libs/bite-tribe/bite/data-access/tsconfig.lib.json
  libs/bite-tribe/bite/data-access/tsconfig.spec.json
  libs/bite-tribe/bite/page/.eslintrc.json
  libs/bite-tribe/bite/page/README.md
  libs/bite-tribe/bite/page/bite.png
  libs/bite-tribe/bite/page/jest.config.ts
  libs/bite-tribe/bite/page/project.json
  libs/bite-tribe/bite/page/src/index.ts
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.component.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.component.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.component.scss
  libs/bite-tribe/bite/page/src/lib/components/page/bite.component.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite-container.component.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite.service.ts
  libs/bite-tribe/bite/page/src/test-setup.ts
  libs/bite-tribe/bite/page/tsconfig.json
  libs/bite-tribe/bite/page/tsconfig.lib.json
  libs/bite-tribe/bite/page/tsconfig.spec.json
  libs/bite-tribe/bite/src/index.ts
  libs/bite-tribe/bite/src/lib/bite.service.ts
  libs/bite-tribe/home/page/src/lib/components/bite/bite.component.html
  libs/bite-tribe/home/page/src/lib/components/bite/bite.component.ts
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.ts
  libs/bite-tribe/shell/src/lib/routes.ts
  tsconfig.base.json
Due: eslint --fix, prettier --write, stylelint --fix

feat: use GeoPoint from firebase/firestore
  libs/bite-tribe/bite/data-access/src/lib/bite-data-access.service.ts
Due: eslint --fix, prettier --write

feat: adjust header icon
  libs/bite-tribe/shell/src/lib/provide-bite-tribe-shell.ts
  libs/common/ui/page/src/lib/page.component.html
  libs/common/ui/page/src/lib/page.component.ts
  libs/common/utils/src/index.ts
  libs/common/utils/src/lib/app-tokens.ts
Due: eslint --fix, prettier --write

test: fix and extend test suite
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.component.spec.ts
  libs/bite-tribe/home/page/src/lib/components/bite/__specs__/bite.component.spec.ts
  libs/bite-tribe/home/page/src/lib/components/bite/bite.component.html
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/home.component.spec.ts
  libs/common/ui/auth/src/lib/integration/login/__specs__/login-container.component.spec.ts
  libs/common/ui/auth/src/lib/integration/login/__specs__/login.service.spec.ts
  libs/common/ui/auth/src/lib/integration/login/login-container.component.ts
  libs/common/ui/auth/src/lib/integration/login/login.service.ts
  libs/common/ui/page/src/lib/__specs__/page.component.spec.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,html}
  prettier --write: any of: *.{ts,js,html,scss,json,md}
  stylelint --fix: any of: *.scss
