Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,html}": "eslint --fix",
  "*.{ts,js,html,scss,json,md}": "prettier --write",
  "*.scss": "stylelint --fix"
}

feat: patch position from own resto selection
  libs/bite-tribe-common/model/src/index.ts
  libs/bite-tribe-common/model/src/lib/nearby-restaurant.ts
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/selectors.spec.ts
  libs/bite-tribe/store/src/lib/bites/selectors.ts
  libs/bite-tribe/store/src/lib/bites/utils/__specs__/get-nearby-restaurant-names-by-position.spec.ts
  libs/bite-tribe/store/src/lib/bites/utils/__specs__/get-nearby-restaurants-by-position.spec.ts
  libs/bite-tribe/store/src/lib/bites/utils/get-nearby-restaurant-names-by-position.ts
  libs/bite-tribe/store/src/lib/bites/utils/get-nearby-restaurants-by-position.ts
Due: eslint --fix, prettier --write

feat: patch restaurantId if verified restaurant selected
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
Due: eslint --fix, prettier --write

feat: show distance for own resto suggestions
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/common/ui/restaurant-selector/src/index.ts
  libs/common/ui/restaurant-selector/src/lib/__specs__/restaurant-selector.component.spec.ts
  libs/common/ui/restaurant-selector/src/lib/__specs__/restaurant-selector.component.stories.ts
  libs/common/ui/restaurant-selector/src/lib/restaurant-selector.component.html
  libs/common/ui/restaurant-selector/src/lib/restaurant-selector.component.ts
Due: eslint --fix, prettier --write

fix: not visible repeat button
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.scss
  libs/common/utils/src/lib/add-necessary-icons.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: show distance for Google Places too
  libs/bite-tribe-common/model/src/lib/google-place.ts
  libs/bite-tribe/bite/data-access/src/lib/bite-data-access.service.ts
  libs/bite-tribe/bite/data-access/src/lib/utils/__specs__/with-google-place-distance.spec.ts
  libs/bite-tribe/bite/data-access/src/lib/utils/with-google-place-distance.ts
  libs/common/ui/restaurant-selector/src/lib/__specs__/restaurant-selector.component.spec.ts
  libs/common/ui/restaurant-selector/src/lib/__specs__/restaurant-selector.component.stories.ts
  libs/common/ui/restaurant-selector/src/lib/restaurant-selector.component.html
  libs/common/ui/restaurant-selector/src/lib/restaurant-selector.component.ts
Due: eslint --fix, prettier --write

feat: localize restaurant selector
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/common/ui/restaurant-selector/src/lib/__specs__/restaurant-selector.component.spec.ts
  libs/common/ui/restaurant-selector/src/lib/restaurant-selector.component.html
  libs/common/ui/restaurant-selector/src/lib/restaurant-selector.component.ts
Due: eslint --fix, prettier --write

fix: fix jumping camera on new bite coming in
  libs/bite-tribe-common/map/src/lib/map/__specs__/map.component.spec.ts
  libs/bite-tribe-common/map/src/lib/map/map.component.ts
Due: eslint --fix, prettier --write

fix: jumping camera in map on new bite coming in (#982)
  libs/bite-tribe-common/map/src/lib/map/__specs__/map.component.spec.ts
  libs/bite-tribe-common/map/src/lib/map/map.component.ts
Due: eslint --fix, prettier --write

test: switch to playwright and wramp up login e2e test
  .github/workflows/pipeline.yml
  apps/bite-tribe-e2e/.eslintrc.json
  apps/bite-tribe-e2e/cypress.config.ts
  apps/bite-tribe-e2e/eslint.config.mjs
  apps/bite-tribe-e2e/playwright.config.ts
  apps/bite-tribe-e2e/project.json
  apps/bite-tribe-e2e/src/e2e/app.cy.ts
  apps/bite-tribe-e2e/src/fixtures/example.json
  apps/bite-tribe-e2e/src/pages/login.page.ts
  apps/bite-tribe-e2e/src/support/app.po.ts
  apps/bite-tribe-e2e/src/support/commands.ts
  apps/bite-tribe-e2e/src/support/e2e.ts
  apps/bite-tribe-e2e/src/support/test-users.ts
  apps/bite-tribe-e2e/src/tests/login.spec.ts
  apps/bite-tribe-e2e/tsconfig.json
  libs/bite-tribe-common/bite/src/lib/bite-skeleton-list/__specs__/bite-skeleton-list.component.spec.ts
  libs/bite-tribe-common/bite/src/lib/bite-skeleton/__specs__/bite-skeleton.component.spec.ts
  libs/bite-tribe-common/bite/src/lib/bite-skeleton/bite-skeleton.component.html
  libs/bite-tribe/home/page/src/lib/components/page/__specs__/home.component.spec.ts
  libs/bite-tribe/home/page/src/lib/components/page/home-feed-controls/__specs__/home-feed-controls.component.spec.ts
  libs/bite-tribe/home/page/src/lib/components/page/home-feed-controls/home-feed-controls.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant/__specs__/restaurant.component.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/components/page/restaurant/restaurant.component.html
  libs/bite-tribe/search/page/src/lib/components/search-list/__specs__/search-list.component.spec.ts
  libs/bite-tribe/search/page/src/lib/components/search-list/search-list.component.html
  libs/bite-tribe/search/page/src/lib/components/search-page/search.page.html
  libs/bite-tribe/search/page/src/lib/integration/__specs__/search.container.spec.ts
  libs/common/ui/auth/src/lib/components/login/login.component.html
  libs/common/ui/auth/src/lib/components/registration/registration.component.html
  libs/common/ui/page/src/lib/menu/__specs__/__snapshots__/app-menu.component.spec.ts.snap
  libs/common/ui/page/src/lib/menu/__specs__/app-menu.component.spec.ts
  libs/common/ui/page/src/lib/menu/app-menu.component.html
  libs/common/ui/page/src/lib/page.component.html
Due: eslint --fix, prettier --write

test: add create bite e2e test
  apps/bite-tribe-e2e/playwright.config.ts
  apps/bite-tribe-e2e/src/fixtures/bite.jpg
  apps/bite-tribe-e2e/src/pages/create-bite.page.ts
  apps/bite-tribe-e2e/src/support/auth.ts
  apps/bite-tribe-e2e/src/tests/create-bite.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/price-input/price-input.component.html
  libs/common/ui/image-upload/src/lib/image-upload.component.html
  libs/common/ui/page/src/lib/page.component.html
  libs/common/ui/restaurant-selector/src/lib/restaurant-selector.component.html
Due: eslint --fix, prettier --write

test: add npm script to setup e2e environment
  package.json
Due: prettier --write

ci: fix ci e2e job
  .github/workflows/pipeline.yml
  apps/bite-tribe-e2e/project.json
Due: prettier --write

test: add resgistration test suite
  apps/bite-tribe-e2e/src/pages/registration.page.ts
  apps/bite-tribe-e2e/src/tests/registration.spec.ts
  libs/common/ui/auth/src/lib/components/registration/registration.component.html
Due: eslint --fix, prettier --write

ci: use demo values for e2e test in pipeline
  .github/workflows/pipeline.yml
Due: none

docs: make agent agnostic
  AGENTS.md
  CLAUDE.md
  ssot/pages/Agent Operating Contract.md
  ssot/pages/Feature Delivery Workflow.md
  ssot/pages/SSOT.md
  ssot/pages/Spec To Code Workflow.md
  ssot/pages/Traceability Map.md
Due: prettier --write

docs: update ssot
  ssot/pages/Architecture - Testing.md
  ssot/pages/Bite.md
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Release State.md
  ssot/pages/Current State - Roadmap.md
  ssot/pages/Implementation - Code Map.md
  ssot/pages/Implementation - Testing.md
  ssot/pages/UC - Browse Restaurants And Places.md
  ssot/pages/UC - Create And Maintain Personal Bites.md
  ssot/pages/UC - Discover Bites.md
  ssot/pages/issue-778.md
  ssot/pages/issue-943.md
  ssot/pages/issue-982.md
  ssot/pages/issue-983.md
Due: prettier --write

docs: review from claude
  .codex/skills/travellers-apps/SKILL.md
Due: prettier --write

docs: model agnostic ssot (#984)
  .codex/skills/travellers-apps/SKILL.md
  AGENTS.md
  CLAUDE.md
  ssot/pages/Agent Operating Contract.md
  ssot/pages/Architecture - Testing.md
  ssot/pages/Bite.md
  ssot/pages/Current State - Known Issues.md
  ssot/pages/Current State - Release State.md
  ssot/pages/Current State - Roadmap.md
  ssot/pages/Feature Delivery Workflow.md
  ssot/pages/Implementation - Code Map.md
  ssot/pages/Implementation - Testing.md
  ssot/pages/SSOT.md
  ssot/pages/Spec To Code Workflow.md
  ssot/pages/Traceability Map.md
  ssot/pages/UC - Browse Restaurants And Places.md
  ssot/pages/UC - Create And Maintain Personal Bites.md
  ssot/pages/UC - Discover Bites.md
  ssot/pages/issue-778.md
  ssot/pages/issue-943.md
  ssot/pages/issue-982.md
  ssot/pages/issue-983.md
Due: prettier --write

docs: update todos
  ssot/journals/2026_06_28.md
  ssot/journals/2026_06_29.md
  ssot/journals/2026_06_30.md
  ssot/journals/2026_07_01.md
  ssot/journals/2026_07_02.md
  ssot/journals/2026_07_03.md
  ssot/journals/2026_07_06.md
  ssot/journals/2026_07_07.md
  ssot/journals/2026_07_08.md
  ssot/journals/2026_07_09.md
  ssot/journals/2026_07_10.md
  ssot/journals/2026_07_12.md
Due: prettier --write

docs: update todos (#985)
  ssot/journals/2026_06_28.md
  ssot/journals/2026_06_29.md
  ssot/journals/2026_06_30.md
  ssot/journals/2026_07_01.md
  ssot/journals/2026_07_02.md
  ssot/journals/2026_07_03.md
  ssot/journals/2026_07_06.md
  ssot/journals/2026_07_07.md
  ssot/journals/2026_07_08.md
  ssot/journals/2026_07_09.md
  ssot/journals/2026_07_10.md
  ssot/journals/2026_07_12.md
Due: prettier --write

feat: define analytics events and dashboard
  libs/bite-tribe/bite/page/src/lib/integration/__specs__/bite.service.spec.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite.service.ts
  libs/bite-tribe/bucketlist/page/src/lib/integration/__specs__/bucketlists-service.spec.ts
  libs/bite-tribe/bucketlist/page/src/lib/integration/__specs__/rate-bucketlist.service.spec.ts
  libs/bite-tribe/bucketlist/page/src/lib/integration/bucketlists.service.ts
  libs/bite-tribe/bucketlist/page/src/lib/integration/rate-bucketlist.service.ts
  libs/bite-tribe/details/page/src/lib/integration/__specs__/details.container.spec.ts
  libs/bite-tribe/details/page/src/lib/integration/details.container.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/__specs__/restaurant-container.component.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/restaurant-container.component.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/unverified-restaurant-container.component.ts
  libs/bite-tribe/search/page/src/lib/integration/__specs__/search.service.spec.ts
  libs/bite-tribe/search/page/src/lib/integration/search.service.ts
  libs/common/ta-firestore/src/index.ts
  libs/common/ta-firestore/src/lib/analytics/__specs__/analytics.service.spec.ts
  libs/common/ta-firestore/src/lib/analytics/analytics-events.ts
  libs/common/ta-firestore/src/lib/analytics/analytics.service.ts
  libs/common/ui/auth/src/lib/integration/registration/__specs__/registration.service.spec.ts
  libs/common/ui/auth/src/lib/integration/registration/registration.service.ts
  ssot/pages/Architecture - Analytics.md
  ssot/pages/Current State - Roadmap.md
  ssot/pages/Implementation - Analytics Events.md
  ssot/pages/SSOT.md
  ssot/pages/Traceability Map.md
Due: eslint --fix, prettier --write

feat: analytics and ops daily digest
  .codex/skills/travellers-apps/SKILL.md
  .codex/skills/travellers-apps/references/analytics.md
  .github/workflows/analytics-digest.yml
  .gitignore
  package-lock.json
  package.json
  ssot/pages/Analytics Operations.md
  ssot/pages/Implementation - Analytics Events.md
  ssot/pages/SSOT.md
  ssot/pages/Traceability Map.md
  ssot/pages/epic-907.md
  tools/analytics/.env.example
  tools/analytics/README.md
  tools/analytics/dashboard.config.mjs
  tools/analytics/digest.mjs
  tools/analytics/ga4.mjs
  tools/analytics/provision-ga4.mjs
  tools/analytics/report.mjs
Due: prettier --write

feat(910): analytics events and dashboard (#990)
  .codex/skills/travellers-apps/SKILL.md
  .codex/skills/travellers-apps/references/analytics.md
  .github/workflows/analytics-digest.yml
  .gitignore
  libs/bite-tribe/bite/page/src/lib/integration/__specs__/bite.service.spec.ts
  libs/bite-tribe/bite/page/src/lib/integration/bite.service.ts
  libs/bite-tribe/bucketlist/page/src/lib/integration/__specs__/bucketlists-service.spec.ts
  libs/bite-tribe/bucketlist/page/src/lib/integration/__specs__/rate-bucketlist.service.spec.ts
  libs/bite-tribe/bucketlist/page/src/lib/integration/bucketlists.service.ts
  libs/bite-tribe/bucketlist/page/src/lib/integration/rate-bucketlist.service.ts
  libs/bite-tribe/details/page/src/lib/integration/__specs__/details.container.spec.ts
  libs/bite-tribe/details/page/src/lib/integration/details.container.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/__specs__/restaurant-container.component.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/restaurant-container.component.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/unverified-restaurant-container.component.ts
  libs/bite-tribe/search/page/src/lib/integration/__specs__/search.service.spec.ts
  libs/bite-tribe/search/page/src/lib/integration/search.service.ts
  libs/common/ta-firestore/src/index.ts
  libs/common/ta-firestore/src/lib/analytics/__specs__/analytics.service.spec.ts
  libs/common/ta-firestore/src/lib/analytics/analytics-events.ts
  libs/common/ta-firestore/src/lib/analytics/analytics.service.ts
  libs/common/ui/auth/src/lib/integration/registration/__specs__/registration.service.spec.ts
  libs/common/ui/auth/src/lib/integration/registration/registration.service.ts
  package-lock.json
  package.json
  ssot/pages/Analytics Operations.md
  ssot/pages/Architecture - Analytics.md
  ssot/pages/Current State - Roadmap.md
  ssot/pages/Implementation - Analytics Events.md
  ssot/pages/SSOT.md
  ssot/pages/Traceability Map.md
  ssot/pages/epic-907.md
  tools/analytics/.env.example
  tools/analytics/README.md
  tools/analytics/dashboard.config.mjs
  tools/analytics/digest.mjs
  tools/analytics/ga4.mjs
  tools/analytics/provision-ga4.mjs
  tools/analytics/report.mjs
Due: eslint --fix, prettier --write

fix: GA4 custom dimension display name cannot contain hyphen
  tools/analytics/provision-ga4.mjs
Due: none

chore: merge develop into branch
  ssot/pages/Architecture - Analytics.md
  ssot/pages/Current State - Roadmap.md
  ssot/pages/SSOT.md
  ssot/pages/Traceability Map.md
Due: prettier --write

fix: GA4 custom dimension display name cannot contain hyphen (#993)
  tools/analytics/provision-ga4.mjs
Due: none

feat: progress bar for bucket list
  libs/bite-tribe/bucketlist/page/src/lib/components/bucketlists-page/__specs__/my-bucketlists.stories.ts
  libs/bite-tribe/bucketlist/page/src/lib/components/bucketlists-page/bucketlists.page.html
  libs/bite-tribe/bucketlist/page/src/lib/components/bucketlists-page/bucketlists.page.scss
  libs/bite-tribe/bucketlist/page/src/lib/components/bucketlists-page/bucketlists.page.ts
  libs/bite-tribe/bucketlist/page/src/lib/pipes/__specs__/progress.pipe.spec.ts
  libs/bite-tribe/bucketlist/page/src/lib/pipes/progress.pipe.ts
  ssot/pages/Bucket List.md
Due: eslint --fix, prettier --write, stylelint --fix

feat: progress bar for bucket list (#994)
  libs/bite-tribe/bucketlist/page/src/lib/components/bucketlists-page/__specs__/my-bucketlists.stories.ts
  libs/bite-tribe/bucketlist/page/src/lib/components/bucketlists-page/bucketlists.page.html
  libs/bite-tribe/bucketlist/page/src/lib/components/bucketlists-page/bucketlists.page.scss
  libs/bite-tribe/bucketlist/page/src/lib/components/bucketlists-page/bucketlists.page.ts
  libs/bite-tribe/bucketlist/page/src/lib/pipes/__specs__/progress.pipe.spec.ts
  libs/bite-tribe/bucketlist/page/src/lib/pipes/progress.pipe.ts
  ssot/pages/Bucket List.md
Due: eslint --fix, prettier --write, stylelint --fix

feat: list/map view on search
  apps/bite-tribe-firebase/functions/src/functions/search-restaurants.ts
  apps/bite-tribe-firebase/functions/src/functions/utils/search-bite.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/utils/search-bite.ts
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe-common/model/src/lib/search-result.ts
  libs/bite-tribe/search/data-access/src/lib/__specs__/search-data-access.service.spec.ts
  libs/bite-tribe/search/page/src/lib/components/search-list/search-list.component.scss
  libs/bite-tribe/search/page/src/lib/components/search-page/__specs__/search.page.spec.ts
  libs/bite-tribe/search/page/src/lib/components/search-page/__specs__/search.stories.ts
  libs/bite-tribe/search/page/src/lib/components/search-page/search.page.html
  libs/bite-tribe/search/page/src/lib/components/search-page/search.page.scss
  libs/bite-tribe/search/page/src/lib/components/search-page/search.page.ts
  ssot/pages/UC - Search In BiteTribe.md
Due: eslint --fix, prettier --write, stylelint --fix

feat: list/map view on search (#995)
  apps/bite-tribe-firebase/functions/src/functions/search-restaurants.ts
  apps/bite-tribe-firebase/functions/src/functions/utils/search-bite.spec.ts
  apps/bite-tribe-firebase/functions/src/functions/utils/search-bite.ts
  apps/bite-tribe/src/assets/i18n/am.json
  apps/bite-tribe/src/assets/i18n/ar.json
  apps/bite-tribe/src/assets/i18n/de.json
  apps/bite-tribe/src/assets/i18n/en.json
  apps/bite-tribe/src/assets/i18n/es.json
  apps/bite-tribe/src/assets/i18n/fr.json
  apps/bite-tribe/src/assets/i18n/id.json
  apps/bite-tribe/src/assets/i18n/it.json
  apps/bite-tribe/src/assets/i18n/pt.json
  apps/bite-tribe/src/assets/i18n/th.json
  apps/bite-tribe/src/assets/i18n/tr.json
  libs/bite-tribe-common/model/src/lib/search-result.ts
  libs/bite-tribe/search/data-access/src/lib/__specs__/search-data-access.service.spec.ts
  libs/bite-tribe/search/page/src/lib/components/search-list/search-list.component.scss
  libs/bite-tribe/search/page/src/lib/components/search-page/__specs__/search.page.spec.ts
  libs/bite-tribe/search/page/src/lib/components/search-page/__specs__/search.stories.ts
  libs/bite-tribe/search/page/src/lib/components/search-page/search.page.html
  libs/bite-tribe/search/page/src/lib/components/search-page/search.page.scss
  libs/bite-tribe/search/page/src/lib/components/search-page/search.page.ts
  ssot/pages/UC - Search In BiteTribe.md
Due: eslint --fix, prettier --write, stylelint --fix

chore: bump version
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: none

chore: bump version (#996)
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: none

chore: prepare build 1.0.1-84 release
  CHANGELOG.md
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: prettier --write

chore: bump version (#997)
  CHANGELOG.md
  apps/bite-tribe-android/android/app/build.gradle
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: prettier --write

fix: fix navigate to place bite page
  libs/bite-tribe/restaurant/page/src/lib/integration/__specs__/restaurant.service.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/restaurant.service.ts
Due: eslint --fix, prettier --write

fix: fix place data on place page (broken bite)
  libs/bite-tribe/restaurant/page/src/lib/integration/__specs__/restaurant.service.spec.ts
  libs/bite-tribe/restaurant/page/src/lib/integration/restaurant.service.ts
Due: eslint --fix, prettier --write

fix: distance on place page not shown
  libs/bite-tribe/home/data-access/src/lib/__specs__/home-data-access-service.spec.ts
  libs/bite-tribe/home/data-access/src/lib/home-data-access.service.ts
Due: eslint --fix, prettier --write
