Repository muhammedgaygisiz/travellers-apps: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

feat: 460 increase initial height for map snap drawer
  libs/bite-tribe/map/page/src/lib/components/snap-drawer/__specs__/snap-drawer.component.spec.ts
  libs/bite-tribe/map/page/src/lib/components/snap-drawer/snap-drawer.component.ts
Due: eslint --fix, prettier --write

chore: install @capacitor-firebase/crashlytics
  package-lock.json
  package.json
Due: prettier --write

feat: log errors to crashlytics
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  apps/bite-tribe-ios/ios/App/Podfile
  apps/bite-tribe-ios/ios/App/Podfile.lock
  apps/bite-tribe-ios/package-lock.json
  apps/bite-tribe-ios/package.json
  libs/common/ta-firestore/src/lib/analytics/firebase-error-handler.service.ts
  libs/common/ta-firestore/src/lib/auth.service.ts
Due: eslint --fix, prettier --write

feat: 460 increase initial height for map snap drawer (#471)
  libs/bite-tribe/map/page/src/lib/components/snap-drawer/__specs__/snap-drawer.component.spec.ts
  libs/bite-tribe/map/page/src/lib/components/snap-drawer/snap-drawer.component.ts
Due: eslint --fix, prettier --write

fix: prevent navigation bar on subpages
  apps/bite-tribe/src/index.html
  apps/bite-tribe/src/manifest.webmanifest
Due: eslint --fix, prettier --write

test: extend test suite
  libs/common/ta-firestore/src/lib/analytics/__specs__/firebase-error-handler.service.spec.ts
Due: eslint --fix, prettier --write

test: extend test suite
  libs/common/ta-firestore/src/lib/analytics/__specs__/__snapshots__/provide-firestore-analytics.spec.ts.snap
  libs/common/ta-firestore/src/lib/analytics/__specs__/firebase-error-handler.service.spec.ts
  libs/common/ta-firestore/src/lib/analytics/__specs__/provide-firestore-analytics.spec.ts
  libs/common/ta-firestore/src/lib/analytics/firebase-error-handler.service.ts
Due: eslint --fix, prettier --write

feat(#472): developer wants to integrate crashlytics (#473)
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  apps/bite-tribe-ios/ios/App/Podfile
  apps/bite-tribe-ios/ios/App/Podfile.lock
  apps/bite-tribe-ios/package-lock.json
  apps/bite-tribe-ios/package.json
  apps/bite-tribe/src/index.html
  apps/bite-tribe/src/manifest.webmanifest
  libs/common/ta-firestore/src/lib/analytics/__specs__/__snapshots__/provide-firestore-analytics.spec.ts.snap
  libs/common/ta-firestore/src/lib/analytics/__specs__/firebase-error-handler.service.spec.ts
  libs/common/ta-firestore/src/lib/analytics/__specs__/provide-firestore-analytics.spec.ts
  libs/common/ta-firestore/src/lib/analytics/firebase-error-handler.service.ts
  libs/common/ta-firestore/src/lib/auth.service.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

fix: fix wrong gps on image from file system and missing support for heic
  libs/bite-tribe/bite/page/src/lib/components/image-upload/image-upload.component.ts
  libs/bite-tribe/bite/page/src/lib/components/page/utils/calc-gps-position.ts
  libs/bite-tribe/bite/page/src/lib/components/page/utils/get-exif-data-from-file.ts
  libs/bite-tribe/bite/page/src/lib/components/page/utils/get-exif-data-from-photo.ts
  libs/bite-tribe/store/src/lib/app/effects.ts
  libs/common/image-compression/src/lib/compress-file.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

test: adjust tests
  libs/bite-tribe-common/bite/src/lib/__specs__/bite.component.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/image-crop-page/__specs__/image-crop-page.component.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/image-upload/__specs__/image-upload.component.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/utils/__specs__/get-exif-data-from-file.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/utils/__specs__/get-exif-data-from-photo.spec.ts
  libs/bite-tribe/bite/page/src/lib/integration/__specs__/image-crop-container.component.spec.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.spec.ts
  libs/bite-tribe/details/page/src/lib/integration/__specs__/details.container.spec.ts
  libs/common/image-compression/src/lib/__specs__/compress-file.spec.ts
  libs/common/image-compression/src/lib/__specs__/convert-heic-to-jpeg.spec.ts
  libs/common/image-compression/src/lib/compress-file.ts
  libs/common/image-compression/src/lib/convert-heic-to-jpeg.ts
Due: eslint --fix, prettier --write

chore: increase build numbeer
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: none

fix(476): bug gps position from image loaded from file system is not right (#477)
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  libs/bite-tribe-common/bite/src/lib/__specs__/bite.component.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/image-crop-page/__specs__/image-crop-page.component.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/image-upload/__specs__/image-upload.component.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/image-upload/image-upload.component.ts
  libs/bite-tribe/bite/page/src/lib/components/page/utils/__specs__/get-exif-data-from-file.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/utils/__specs__/get-exif-data-from-photo.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/utils/calc-gps-position.ts
  libs/bite-tribe/bite/page/src/lib/components/page/utils/get-exif-data-from-file.ts
  libs/bite-tribe/bite/page/src/lib/components/page/utils/get-exif-data-from-photo.ts
  libs/bite-tribe/bite/page/src/lib/integration/__specs__/image-crop-container.component.spec.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.spec.ts
  libs/bite-tribe/details/page/src/lib/integration/__specs__/details.container.spec.ts
  libs/bite-tribe/store/src/lib/app/effects.ts
  libs/common/image-compression/src/lib/__specs__/compress-file.spec.ts
  libs/common/image-compression/src/lib/__specs__/convert-heic-to-jpeg.spec.ts
  libs/common/image-compression/src/lib/compress-file.ts
  libs/common/image-compression/src/lib/convert-heic-to-jpeg.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

feat: show edit button on bite page when own bite
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.scss
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.ts
  libs/bite-tribe/details/page/src/lib/integration/details.container.ts
  libs/bite-tribe/details/page/src/lib/integration/details.service.ts
  libs/common/ui/tags/eslint.config.mjs
  libs/common/ui/tags/src/lib/tags-input/tags-input.component.html
  libs/common/ui/tags/src/lib/tags-input/tags-input.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

test: extend test suite
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.spec.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.ts
  libs/bite-tribe/details/page/src/lib/integration/__specs__/details.service.spec.ts
Due: eslint --fix, prettier --write

chore: feedback from pr
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
Due: eslint --fix, prettier --write

test: extend test suite
  libs/bite-tribe/bite/page/src/lib/components/page/utils/get-exif-data-from-file.ts
  libs/common/image-compression/src/lib/__specs__/compress-file.spec.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

style: redefine currency select in create-bite and settings pages
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.scss
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.html
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.ts
  libs/common/ui/currency-selector/src/lib/currency-selector.component.html
  libs/common/utils/src/lib/add-necessary-icons.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor: adjustments
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.html
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.ts
  libs/common/ui/currency-selector/README.md
  libs/common/ui/currency-selector/jest.config.ts
  libs/common/ui/currency-selector/project.json
  libs/common/ui/currency-selector/src/lib/currency-selector.component.ts
  tsconfig.base.json
Due: eslint --fix, prettier --write

feat(#468): user wants to have edit option in detail view of own bites (#480)
  libs/bite-tribe/bite/page/src/lib/components/page/utils/get-exif-data-from-file.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/__specs__/details.page.spec.ts
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.html
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.scss
  libs/bite-tribe/details/page/src/lib/components/details-page/details.page.ts
  libs/bite-tribe/details/page/src/lib/integration/__specs__/details.service.spec.ts
  libs/bite-tribe/details/page/src/lib/integration/details.container.ts
  libs/bite-tribe/details/page/src/lib/integration/details.service.ts
  libs/common/image-compression/src/lib/__specs__/compress-file.spec.ts
  libs/common/ui/tags/eslint.config.mjs
  libs/common/ui/tags/src/lib/tags-input/tags-input.component.html
  libs/common/ui/tags/src/lib/tags-input/tags-input.component.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, stylelint --fix

test: extend test suite
  libs/common/ui/currency-selector/src/lib/__specs__/currency-selector.component.spec.ts
Due: eslint --fix, prettier --write

✨ Add comprehensive GitHub Copilot instructions for repository (#482)
  .github/copilot-instructions.md
Due: prettier --write

test: extend test suite
  libs/bite-tribe-common/map/src/lib/map/utils/create-openstreetmap-layer.ts
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
Due: eslint --fix, prettier --write

feat(#479): Add type ahead functionality in currency modal
  libs/bite-tribe-common/map/src/lib/map/utils/create-openstreetmap-layer.ts
  libs/bite-tribe/bite/page/src/lib/components/page/__specs__/bite.page.spec.ts
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.html
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.scss
  libs/bite-tribe/bite/page/src/lib/components/page/bite.page.ts
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.html
  libs/bite-tribe/settings/page/src/lib/components/page/settings.component.ts
  libs/common/ui/currency-selector/README.md
  libs/common/ui/currency-selector/eslint.config.mjs
  libs/common/ui/currency-selector/jest.config.ts
  libs/common/ui/currency-selector/project.json
  libs/common/ui/currency-selector/src/index.ts
  libs/common/ui/currency-selector/src/lib/__specs__/currency-selector.component.spec.ts
  libs/common/ui/currency-selector/src/lib/__specs__/currency-selector.component.stories.ts
  libs/common/ui/currency-selector/src/lib/currency-selector.component.html
  libs/common/ui/currency-selector/src/lib/currency-selector.component.scss
  libs/common/ui/currency-selector/src/lib/currency-selector.component.ts
  libs/common/ui/currency-selector/src/test-setup.ts
  libs/common/ui/currency-selector/tsconfig.json
  libs/common/ui/currency-selector/tsconfig.lib.json
  libs/common/ui/currency-selector/tsconfig.spec.json
  libs/common/utils/src/lib/add-necessary-icons.ts
  tsconfig.base.json
Due: eslint --fix, prettier --write, stylelint --fix

refactor: cleanup
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/common/ta-firestore/src/lib/auth.service.ts
  libs/common/ta-firestore/src/lib/ngrx-store/actions.ts
  libs/common/ta-firestore/src/lib/ngrx-store/effects.ts
  libs/common/ta-firestore/src/lib/ngrx-store/index.ts
  libs/common/ui/auth/src/lib/components/login/login.component.html
  libs/common/ui/auth/src/lib/components/login/login.component.ts
  libs/common/ui/auth/src/lib/integration/login/login-container.component.ts
  libs/common/ui/auth/src/lib/integration/login/login.service.ts
  libs/common/utils/src/lib/store.service.ts
Due: eslint --fix, prettier --write

refactor: cleanup
  libs/bite-tribe/api/src/lib/bite-api.service.ts
  libs/bite-tribe/api/src/lib/bite-tribe-api.service.ts
  libs/bite-tribe/api/src/lib/bucketlist-api.service.ts
  libs/bite-tribe/api/src/lib/like-api.service.ts
  libs/bite-tribe/api/src/lib/menu-api.service.ts
  libs/bite-tribe/api/src/lib/restaurant-api.service.ts
  libs/bite-tribe/store/src/lib/bites/effects.ts
  libs/bite-tribe/store/src/lib/bucketlists/effects.ts
  libs/bite-tribe/store/src/lib/likes/effects.ts
  libs/bite-tribe/store/src/lib/menus/effects.ts
  libs/bite-tribe/store/src/lib/restaurants/effects.ts
  libs/common/ta-firestore/src/lib/auth.service.ts
  libs/common/ta-firestore/src/lib/ngrx-store/actions.ts
  libs/common/ta-firestore/src/lib/ngrx-store/effects.ts
  libs/common/ta-firestore/src/lib/ngrx-store/reducer.ts
Due: eslint --fix, prettier --write

feat: enable deep link for bites
  libs/bite-tribe/shell/src/lib/routes.ts
  libs/bite-tribe/store/src/index.ts
  libs/bite-tribe/store/src/lib/provide-bite-tribe-store.ts
  libs/bite-tribe/store/src/lib/router/effects.ts
  libs/bite-tribe/store/src/lib/utils/bite-title-resolver.ts
  libs/common/ta-firestore/src/index.ts
  libs/common/ta-firestore/src/lib/auth.guard.ts
  libs/common/ta-firestore/src/lib/auth.service.ts
  libs/common/ta-firestore/src/lib/ngrx-store/effects.ts
  libs/common/ta-firestore/src/lib/start.guard.ts
  libs/common/ui/auth/src/lib/routes.ts
Due: eslint --fix, prettier --write

test: adjust tests
  libs/bite-tribe/store/src/lib/__specs__/bite-tribe-store.service.spec.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/bucketlists/__specs__/effects.spec.ts
  libs/common/ui/auth/src/lib/components/login/__specs__/login.component.spec.ts
  libs/common/ui/auth/src/lib/integration/login/__specs__/login-container.component.spec.ts
  libs/common/ui/auth/src/lib/integration/login/__specs__/login.service.spec.ts
Due: eslint --fix, prettier --write

test: extend test suite
  libs/bite-tribe/store/src/lib/utils/bite-title-resolver.ts
  libs/common/ta-firestore/src/lib/auth.guard.ts
  libs/common/ta-firestore/src/lib/ngrx-store/effects.ts
  libs/common/utils/src/index.ts
  libs/common/utils/src/lib/__specs__/is-bite-details-page.spec.ts
  libs/common/utils/src/lib/is-bite-details-page.ts
Due: eslint --fix, prettier --write

feat: impl badge stage colors
  libs/bite-tribe/profile/page/jest.config.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/__specs__/profile.component.spec.ts
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.html
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.scss
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: increase build number
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
Due: none

refactor: feedback from pr
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.scss
  libs/bite-tribe/profile/page/src/lib/components/profile-page/profile.component.ts
  libs/common/ta-firestore/src/lib/auth.guard.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor: switch to action group for bites
  libs/bite-tribe/store/src/lib/app/effects.ts
  libs/bite-tribe/store/src/lib/app/reducer.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/bites/actions.ts
  libs/bite-tribe/store/src/lib/bites/effects.ts
  libs/bite-tribe/store/src/lib/bites/index.ts
  libs/bite-tribe/store/src/lib/bites/reducer.ts
  libs/bite-tribe/store/src/lib/bucketlists/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/provide-bite-tribe-store.ts
  libs/bite-tribe/store/src/lib/utils/__specs__/bite-title-resolver.spec.ts
  libs/bite-tribe/store/src/lib/utils/bite-title-resolver.ts
Due: eslint --fix, prettier --write

refactor: swith auth to action group
  libs/bite-tribe/store/src/lib/app/effects.ts
  libs/bite-tribe/store/src/lib/app/reducer.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/bites/effects.ts
  libs/bite-tribe/store/src/lib/bites/reducer.ts
  libs/bite-tribe/store/src/lib/bucketlists/effects.ts
  libs/bite-tribe/store/src/lib/bucketlists/reducer.ts
  libs/bite-tribe/store/src/lib/likes/effects.ts
  libs/bite-tribe/store/src/lib/likes/reducer.ts
  libs/bite-tribe/store/src/lib/menus/actions.ts
  libs/bite-tribe/store/src/lib/menus/effects.ts
  libs/bite-tribe/store/src/lib/menus/reducer.ts
  libs/bite-tribe/store/src/lib/restaurants/effects.ts
  libs/bite-tribe/store/src/lib/restaurants/reducer.ts
  libs/bite-tribe/store/src/lib/reviews/reducer.ts
  libs/common/ta-firestore/src/lib/ngrx-store/actions.ts
  libs/common/ta-firestore/src/lib/ngrx-store/effects.ts
  libs/common/ta-firestore/src/lib/ngrx-store/index.ts
  libs/common/ta-firestore/src/lib/ngrx-store/reducer.ts
Due: eslint --fix, prettier --write

refactor: further switch to action group
  libs/bite-tribe/store/src/lib/app/actions.ts
  libs/bite-tribe/store/src/lib/app/effects.ts
  libs/bite-tribe/store/src/lib/app/index.ts
  libs/bite-tribe/store/src/lib/app/reducer.ts
  libs/bite-tribe/store/src/lib/bite-tribe-store.service.ts
  libs/bite-tribe/store/src/lib/menus/actions.ts
  libs/bite-tribe/store/src/lib/menus/effects.ts
  libs/bite-tribe/store/src/lib/menus/reducer.ts
Due: eslint --fix, prettier --write

test: adjust tests
  libs/bite-tribe/store/src/lib/__specs__/bite-tribe-store.service.spec.ts
  libs/bite-tribe/store/src/lib/app/__specs__/actions.spec.ts
  libs/bite-tribe/store/src/lib/app/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/app/__specs__/reducer.spec.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/actions.spec.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/bites/__specs__/reducer.spec.ts
  libs/bite-tribe/store/src/lib/bucketlists/__specs__/actions.spec.ts
  libs/bite-tribe/store/src/lib/bucketlists/__specs__/effects.spec.ts
  libs/bite-tribe/store/src/lib/bucketlists/__specs__/reducer.spec.ts
Due: eslint --fix, prettier --write

fix: fix initial loading of gps and settings
  libs/common/ta-firestore/src/lib/ngrx-store/effects.ts
Due: eslint --fix, prettier --write

style: spacing for bite-actions on my bites page
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.scss
  libs/bite-tribe/restaurant/page/src/lib/components/restaurant-image/restaurant-image.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/restaurant-image/restaurant-image.component.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix(#484): bugfix gps and profile are not loaded initially, spinner not visible and bite actions margin to the top (#485)
  apps/bite-tribe-ios/ios/App/App.xcodeproj/project.pbxproj
  libs/bite-tribe-common/bite/src/lib/bite.component.html
  libs/bite-tribe/home/page/src/lib/components/page/home.component.scss
  libs/bite-tribe/restaurant/page/src/lib/components/restaurant-image/restaurant-image.component.html
  libs/bite-tribe/restaurant/page/src/lib/components/restaurant-image/restaurant-image.component.scss
  libs/common/ta-firestore/src/lib/ngrx-store/effects.ts
Due: eslint --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --fix: any of: *.{ts,html}
  prettier --write: any of: *.{ts,js,html,scss,json,md}
  stylelint --fix: any of: *.scss
